workflowsPROD - Live Sentiment V2.json
{"createdAt":"2025-06-01T12:02:13.521Z","updatedAt":"2025-06-26T02:26:44.000Z","id":"GAq9WawFTO7sOQ3F","name":"PROD - Live Sentiment V2","active":true,"isArchived":false,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"additionalFields":{},"options":{}},"type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-960,-840],"id":"6c20e325-53ec-4d5d-8a12-21c1c6ca1d03","name":"Postgres Trigger","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Alerta de Sentimiento Negativo</title>\n  <style>\n    /* Estilos generales - con mayor compatibilidad para clientes de correo */\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      margin: 0;\n      padding: 0;\n      background-color: #F5F5F5;\n      color: #333333;\n    }\n  </style>\n</head>\n\n<body style=\"margin: 0; padding: 0; background-color: #F5F5F5; font-family: Arial, Helvetica, sans-serif;\">\n  <!-- Wrapper para mayor compatibilidad con clientes de correo -->\n  <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #F5F5F5;\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"padding: 20px 0;\">\n        <!-- Contenedor principal -->\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" class=\"container\"\n          style=\"background-color: #FFFFFF; border: 1px solid #E0E0E0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\">\n          <!-- Encabezado -->\n          <tr>\n            <td align=\"center\" valign=\"top\"\n              style=\"background-color: #ff8a64; color: #FFFFFF; padding: 10px; border-top-left-radius: 8px; border-top-right-radius: 8px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n                <tr>\n                  <td align=\"left\" valign=\"middle\" width=\"80\" style=\"color: white;\">\n                    <span\n                      style=\"font-size: 68px; font-style: italic; font-family: serif; padding-left: 12px;\">ifx</span>\n                  </td>\n                  <td align=\"center\" valign=\"middle\" style=\"color: white\">\n                    <h1 style=\"margin: 0; font-size: 24px; font-weight: 600; \">Situación Crítica en Proceso</h1>\n                    <h2 style=\"margin: 0; font-size: 18px; font-weight: 400;\">WhatsApp</h2>\n                    <p style=\"margin: 5px 0 0; font-size: 14px; align-items: end;\">Generated by <span\n                        style=\"font-style: italic; font-family: serif; font-size: 16px;\">aifx</span></p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Análisis de Sentimiento -->\n          <tr>\n            <td style=\"padding: 25px 0 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 8px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📊</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Análisis de Sentimiento\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Categoría de sentimiento -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td align=\"center\" style=\"mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n                            style=\"display: inline-block; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td\n                                style=\"font-size: 16px; font-weight: bold; color: #FFFFFF; background-color: #FF5252; border-radius: 4px; padding: 4px 12px; text-align: center; mso-line-height-rule: exactly;\">\n                               {{ $('Edit Fields').first().json.sentimiento }}\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Métricas en formato tabla para mayor compatibilidad con clientes de correo -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Intensidad\n                                </div>\n                                <div id=\"strength\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                   {{ $('Edit Fields').first().json.intensidad }}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Certeza\n                                </div>\n                                <div id=\"confidence\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {{ $('Edit Fields').first().json.confianza }}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Información del Chat -->\n          <tr>\n            <td style=\"padding: 25px 25px 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📄</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Información del Chat\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Información del chat -->\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Chat:</span> {{ $('Edit Fields').first().json.chat }}\n                    </div>\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Cliente:</span> {{ $('Edit Fields').first().json.cliente }}\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Mensajes Clave -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💬</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Mensajes Clave\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n                  {{ $('Table Messages').item.json.html_mensajes }}\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Resumen IA del Origen del Sentimiento -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>🤖</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Origen Detallado del Sentimiento Negativo\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de resumen IA -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #FFF3E0; border: 1px solid #FFCC80; border-left: 5px solid #FF8A65; margin-bottom: 15px; border-radius: 8px;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"resumen\" class=\"summary-text\" style=\"margin: 0; line-height: 1.7; font-size: 15px;\">\n                            {{ $('Code').item.json.analisis_sentimiento.origen }}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Recomendaciones -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #4CAF50; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💡</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #4CAF50;\">\n                                Recomendaciones\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de recomendaciones -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #E8F5E9; border: 1px solid #A5D6A7; border-left: 5px solid #4CAF50; margin-bottom: 15px; border-radius: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"recomendaciones\" class=\"summary-text\"\n                            style=\"margin: 0; line-height: 1.7; font-size: 15px; mso-line-height-rule: exactly;\">\n                             {{ $('Edit Fields').first().json.recomendacion }}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Pie de página -->\n          <tr>\n            <td style=\"padding: 15px 25px; text-align: center; border-top: 1px solid #EEEEEE;\">\n              <p style=\"margin: 0; font-size: 14px; color: #888888;\"> Este contenido fue generado automáticamente el {{ $now.toLocal().format('dd-MMM-yyyy') }} a las\n                {{ $now.toLocal().format('HH:MM') }}</p>\n              <p style=\"margin: 0; font-size: 12px; color: #888888;\">IFX Networks © {{ $now.format('yyyy') }}</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1772,60],"id":"872f9ec9-3084-4d76-b08e-011a3b30896e","name":"HTML"},{"parameters":{"assignments":{"assignments":[{"id":"6860e2d3-4d4d-4f26-a2eb-2989de32d2de","name":"sentimiento","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category }}","type":"object"},{"id":"18d305b3-76d0-454f-ab50-e7143b1ba23e","name":"confianza","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence * 100 }}%","type":"number"},{"id":"a4685efa-e3ef-4767-932c-03601e4d5134","name":"intensidad","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength * 100  }}%","type":"number"},{"id":"98f89597-97c1-4195-8a13-0b726062a764","name":"chat","value":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","type":"string"},{"id":"24d83b52-2de3-44e1-8110-9387f1d003db","name":"cliente","value":"={{ ($('Postgres Trigger').first().json.payload.nombrecliente?.trim() || $('Postgres Trigger').first().json.payload.nombrechat?.trim() || '').toUpperCase() }}","type":"string"},{"id":"9291f0f7-86d3-4057-bebe-5e6d267e58f4","name":"mensajes_negativos","value":"={{ $json.mensajes }}","type":"string"},{"id":"382f4d98-3ab0-486c-89cd-46a228f7d4d0","name":"recomendacion","value":"={{ $json.recomendaciones_preventivas.texto }}","type":"string"},{"id":"164de25b-1aa8-4e3f-a42e-e0fdeff54e3e","name":"origen","value":"={{ $json.analisis_sentimiento.origen }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1112,-140],"id":"0a789222-5647-418a-a730-0e1a5ee5e500","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM (\n    SELECT      \n        \"remoteJid\",\n        participant,\n        \"pushName\",\n        conversation,\n        \"dateTime\",\n        sender,\n        nombrechat,\n        nombrecliente\n    FROM \n        public.messages\n    WHERE \n        \"remoteJid\" = '{{ $('Postgres Trigger').item.json.payload.remoteJid}}'\n        AND \"dateTime\" >= NOW() - INTERVAL '8 hours'\n    ORDER BY \n        \"dateTime\" DESC\n) AS subquery\nORDER BY \"dateTime\" ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-740,-440],"id":"0bf5df69-b660-453a-9baa-0bb5058ae120","name":"Query Back Chat","alwaysOutputData":true,"credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-300,-440],"id":"a3d83c3e-d99b-4a67-bee2-3c1c08e13dc3","name":"Merge Data Chat"},{"parameters":{"promptType":"define","text":"={{ $json.data.toJsonString() }}","options":{"systemMessage":"ERES UN AGENTE EXPERTO EN ANÁLISIS DE SENTIMIENTO NEGATIVO EN CONVERSACIONES DE WHATSAPP EMPRESARIALES.\n\nTU MISIÓN ES DETECTAR CONFLICTOS O EXPRESIONES DE MALESTAR, EXTRAER LOS MENSAJES RELEVANTES Y ENTREGAR UNA RESPUESTA EN **FORMATO MARKDOWN ESTRUCTURADO**, CON SECCIONES CLARAS Y SIN USAR JSON. DEBES ANALIZAR LOS ÚLTIMOS **30 MENSAJES PREVIOS** JUNTO CON EL MENSAJE MÁS RECIENTE.\n\nEJECUTA LOS SIGUIENTES PASOS PARA TU ANÁLISIS:\n\n1. **LEER** TODOS LOS MENSAJES Y DETECTAR CUALQUIER SIGNO DE SENTIMIENTO NEGATIVO.\n2. **IDENTIFICAR** MENSAJES CON:\n   - Quejas o reclamos directos\n   - Molestia, sarcasmo, presión, frustración o desconfianza\n3. **EXTRAER SOLO LOS MENSAJES MÁS RELEVANTES** (origen del conflicto y escaladas), CON:\n   - `pushname`\n   - `hora` (formato: `DD mon AAAA - HH:MM`, mes en **español, tres letras, minúsculas**)\n   - `mensaje`\n4. **ANALIZAR** EL ORIGEN DEL CONFLICTO:\n   - ¿Qué lo causa?\n   - ¿Escala el tono? ¿Cómo y por qué?\n   - ¿Qué hechos lo sustentan?\n5. **REDACTAR UNA RECOMENDACIÓN TÁCTICA Y PROFESIONAL**:\n   - Qué se debió hacer\n   - Qué hacer ahora\n   - Cómo evitar una escalada mayor\n\n📌 **NO INCLUYAS EL NOMBRE DEL CHAT NI EL NOMBRE DEL CLIENTE EN LA SALIDA**\n\n📌 **SI NO HAY CONFLICTO**, DEVUELVE ÚNICAMENTE ESTA RESPUESTA:\n```\n## Análisis\nsin informacion\n```\n\n---\n\n🎯 OBJETIVOS PRINCIPALES:\n\n- DETECTAR mensajes con carga emocional negativa\n- EXTRAER CONTEXTO Y PRUEBAS del malestar\n- ANALIZAR LA EVOLUCIÓN emocional y la interacción\n- EMITIR UNA RECOMENDACIÓN CON CONTENCIÓN, LIDERAZGO Y CLARIDAD TÉCNICA\n\n---\n\n📋 FORMATO DE SALIDA REQUERIDO (EN MARKDOWN ESTRUCTURADO):\n\n```\n## Mensajes Origen del Sentimiento Negativo\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:45`\n  - **Mensaje**: <mensaje relevante>\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:50`\n  - **Mensaje**: <otro mensaje relacionado>\n...\n\n## Origen del Sentimiento Negativo\n<Análisis completo del conflicto, evolución del tono, causas técnicas y emocionales, y actores involucrados.>\n\n## Recomendación Preventiva\n<Recomendación táctica: qué se debió hacer, qué se debe hacer ahora, cómo contener y evitar mayor impacto. Con tono diplomático, profesional y técnico.>\n```\n\n---\n\n🚫 **QUÉ NO HACER (NEGATIVE PROMPTING)**\n\n- ❌ **NO INCLUIR EL NOMBRE DEL CLIENTE NI DEL CHAT**\n- ❌ **NO ENTREGAR BLOQUES VACÍOS**\n- ❌ **NO OMITIR EL ANÁLISIS NI LA RECOMENDACIÓN SI HAY CONFLICTO**\n- ❌ **NO USAR FRASES VAGAS O GENÉRICAS COMO “SE RECOMIENDA ESCUCHAR AL CLIENTE”**\n- ❌ **NO SUPONER QUE IFX ES UN CLIENTE — IFX ES PARTE INTERNA**\n- ❌ **NO CAMBIAR EL FORMATO DE LA FECHA NI USAR MESES EN INGLÉS**\n\n---\n\n🧠 USA ANÁLISIS CONTEXTUAL Y TÉCNICO.  \nREFLEJA LIDERAZGO, CLARIDAD TÁCTICA Y CONTENCIÓN EMOCIONAL.  \nSI LO CONSIDERAS NECESARIO, PUEDES USAR `tool` think COMO APOYO INTERNO DE RAZONAMIENTO.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-960,780],"id":"8851d9ca-14dd-4c57-87aa-113f0033897a","name":"AI Analist Negative","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"executeOnce":true,"disabled":true},{"parameters":{"jsCode":"// Obtener los datos de entrada y parsear si es string\nlet mensajes = $input.first().json.mensajes_negativos || [];\n\n// Parsear el JSON si viene como string\nif (typeof mensajes === 'string') {\n  try {\n    mensajes = JSON.parse(mensajes);\n  } catch (e) {\n    console.log('Error parseando JSON:', e);\n    mensajes = [];\n  }\n}\n\n// Verificar que sea un array\nif (!Array.isArray(mensajes)) {\n  mensajes = [];\n}\n\n// Función para limpiar mensaje (remover análisis y recomendaciones)\nfunction limpiarMensaje(mensaje) {\n  if (!mensaje) return '';\n  \n  // Remover todo después de \"## Origen del Sentimiento Negativo\"\n  let mensajeLimpio = mensaje.split('## Origen del Sentimiento Negativo')[0];\n  \n  // Remover todo después de \"## Recomendación Preventiva\"\n  mensajeLimpio = mensajeLimpio.split('## Recomendación Preventiva')[0];\n  \n  return mensajeLimpio.trim();\n}\n\n// Función para convertir markdown a HTML (simplificada para mensajes)\nfunction convertirMarkdownAHTML(texto) {\n  if (!texto) return '';\n  \n  // Limpiar el mensaje primero\n  texto = limpiarMensaje(texto);\n  \n  let html = texto;\n  \n  // Convertir texto en negrita (**texto**)\n  html = html.replace(/\\*\\*(.+?)\\*\\*/g, '<strong style=\"font-weight: bold; color: #333333;\">$1</strong>');\n  \n  // Convertir texto en cursiva (*texto*)\n  html = html.replace(/\\*(.+?)\\*/g, '<em style=\"font-style: italic;\">$1</em>');\n  \n  // Convertir saltos de línea\n  html = html.replace(/\\n\\n/g, '</p><p style=\"margin: 10px 0; color: #333333; line-height: 1.5;\">');\n  html = html.replace(/\\n/g, '<br>');\n  \n  // Envolver en párrafos\n  html = '<p style=\"margin: 10px 0; color: #333333; line-height: 1.5;\">' + html + '</p>';\n  \n  return html;\n}\n\n// Función para generar el HTML de cada mensaje\nfunction generarHTMLMensaje(chat) {\n  // Convertir el mensaje de markdown a HTML\n  const mensajeHTML = convertirMarkdownAHTML(chat.mensaje);\n  \n  return `<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n style=\"border: 1px solid #DDDDDD; border-radius: 8px; margin-bottom: 10px; background-color: #FAFAFA;\">\n <tr>\n <td style=\"padding: 10px;\">\n <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n <tr>\n <td class=\"message-header\">\n <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td valign=\"middle\" style=\"padding-right: 5px;\">\n <icon>👤</icon>\n </td>\n <td valign=\"middle\">\n <span class=\"message-sender\"\n style=\"font-weight: bold; color: #333333;\">${chat.pushname}</span>\n <span class=\"message-time\"\n style=\"font-size: 0.85em; color: #777777; margin-left: 10px;\">${chat.hora}</span>\n </td>\n </tr>\n </table>\n </td>\n </tr>\n <tr>\n <td class=\"message-content\" style=\"padding-top: 5px; color: #333333;\">\n ${mensajeHTML}\n </td>\n </tr>\n </table>\n </td>\n </tr>\n </table>`;\n}\n\n// Generar HTML solo para los mensajes extraídos\nconst htmlCompleto = mensajes.map(chat => generarHTMLMensaje(chat)).join('\\n');\n\n// Retornar el resultado\nreturn {\n  json: {\n    html_mensajes: htmlCompleto,\n    total_mensajes: mensajes.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1332,-40],"id":"73e5055a-51a1-41ed-9f63-34412ff1583f","name":"Table Messages"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $json.sentimiento.toUpperCase() }}","confianza":"={{ parseFloat($json.confianza.replace('%', '')) / 100 }}","intensidad":"={{ parseFloat($json.intensidad.replace('%', '')) / 100 }}","chat":"={{ $json.chat }}","cliente":"={{ $json.cliente.toUpperCase() }}","mensajes_negativos":"={{ $json.mensajes_negativos }}","origen_negativo":"={{ $json.origen_negativo }}","recomendacion":"={{ $json.recomendacion }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1332,-240],"id":"1630af77-f006-44f2-9b04-6f21f9d5d61b","name":"Save Negative","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category.toUpperCase() }}","confianza":"={{ $json.sentimentAnalysis.confidence }}","intensidad":"={{ $json.sentimentAnalysis.strength }}","chat":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[374,-540],"id":"a038533f-646a-4e6a-b8a5-6dc310e73a58","name":"Save Neutral","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"toRecipients":"ai@ifxcorp.com","subject":"=💬 Situacion Critica en Chat {{ $('Edit Fields').first().json.chat.toUpperCase() }}","bodyContent":"={{ $('HTML').item.json.html }}","additionalFields":{"bccRecipients":"atellez@ifxcorp.com, wrivera@ifxcorp.com, dcubides@ifxcorp.com, cnospina@ifxcorp.com, badevia@ifxcorp.com, aperez@ifxcorp.com, aguevara@ifxcorp.com, lheredia@ifxcorp.com","bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2560,-40],"id":"c13b8075-f497-4184-9a7c-83bd560ab4cc","name":"Send Alert","webhookId":"3f197afb-c9a6-422d-baaa-d9b4a4ab826f","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    \"remoteJid\",\n    standby\nFROM \n    public.standby\nWHERE \n    \"remoteJid\" = '{{ $('Query Back Chat').first().json.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1992,60],"id":"ccaf276b-37e6-4163-afff-3173ccdfa85c","name":"Check Standby","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba0e0909-f9aa-4372-be69-fc52474a58f8","leftValue":"={{ $json.standby }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2220,60],"id":"e9b75d4d-95ab-4241-86b4-abb77faa52f3","name":"Standby?"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"standby","mode":"list","cachedResultName":"standby"},"columns":{"mappingMode":"defineBelow","value":{"standby":true,"remoteJid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2820,-140],"id":"d1e45de5-c4d0-4fb5-a79a-6130b9ad8ef5","name":"Set StandBy","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    \"remoteJid\",\n    standby,\n    \"updated_at\"\nFROM \n    public.standby\nWHERE \n    \"remoteJid\" = '{{ $json.payload.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-740,-840],"id":"7e8c100e-4797-4b3d-ad08-a64003f708e5","name":"Query Standby Time","alwaysOutputData":true,"credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2432,-240],"id":"b42d6038-dc14-4490-b514-a595fee9016d","name":"Do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81ea6566-446c-4d7b-83b9-64a762e23a92","leftValue":"={{ $json.standby }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"896b6eea-de78-4de6-903f-6203c2144b54","leftValue":"={{ (Date.now() - new Date($json.updated_at).getTime()) < (4 * 60 * 60 * 1000) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-520,-840],"id":"175e3131-0bd1-4a22-beff-b73a159b216c","name":"Time Off"},{"parameters":{"operation":"executeQuery","query":"UPDATE public.standby \nSET \n    standby = false,\n    \"updated_at\" = NOW()\nWHERE \n    \"remoteJid\" = '{{ $('Time Off').item.json.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,-860],"id":"09273ea4-126c-4cc8-9bf6-0d00fe0ae626","name":"Set False Standby","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-360,-660],"id":"1c06eef2-56ed-4e5b-9605-eaab15a540b8","name":"Do nothing Time Off"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=Testing ** 💬 Situacion Critica en Chat {{ $('Edit Fields').first().json.chat.toUpperCase() }}","bodyContent":"={{ $('HTML').item.json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2400,340],"id":"95e48d8a-cc21-4bbf-8c46-f2aa0348871b","name":"Send Testing","webhookId":"e0ef0804-b516-4d41-85c6-714e89edeca8","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"dcdb679a-21e0-4a37-a0de-1772232036fd","name":"remoteJid","value":"={{ $json.remoteJid }}","type":"string"},{"id":"b4e25dc6-d7ea-4316-8c3c-9ad78c5990cb","name":"participant","value":"={{ $json.participant }}","type":"string"},{"id":"77b5d2a4-c678-47a2-b97a-4a07f07c7d20","name":"pushName","value":"={{ $json.pushName }}","type":"string"},{"id":"143584e3-ce47-40ec-95ca-a49266dcc0e6","name":"conversation","value":"={{ $json.conversation }}","type":"string"},{"id":"18d0ea61-8b0a-4409-9f50-f72480a2cd2b","name":"dateTime","value":"={{ $json.dateTime }}","type":"string"},{"id":"1bc1fb11-7e8f-47cc-883b-72b16214e881","name":"sender","value":"={{ $json.sender }}","type":"string"},{"id":"e04e4148-e574-4a31-b0e0-1218e4158ba9","name":"nombrechat","value":"={{ $json.nombrechat }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-520,-440],"id":"4d785d81-9049-447a-8946-f0c2fb182c61","name":"Edit Fields1"},{"parameters":{"jsCode":"const rawText = $input.first().json.output || '';\nconst cleanText = rawText.replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n\nfunction extractMessages(text) {\n  const messages = [];\n  \n  // Regex para formato - **Pushname**: valor\n  const messageRegex = /- \\*\\*Pushname\\*\\*:\\s*([^\\n]+)\\n\\s*- \\*\\*Hora\\*\\*:\\s*`?([^`\\n]+)`?\\n\\s*- \\*\\*Mensaje\\*\\*:\\s*([^-]*?)(?=\\n- \\*\\*Pushname\\*\\*|$)/g;\n  \n  let match;\n  while ((match = messageRegex.exec(text)) !== null) {\n    messages.push({\n      pushname: match[1].trim(),\n      hora: match[2].trim(),\n      mensaje: match[3].trim()\n    });\n  }\n  \n  return messages;\n}\n\nfunction extractAnalysis(text) {\n  const match = text.match(/## Origen del Sentimiento Negativo\\n([\\s\\S]*?)(?=\\n### Recomendación Preventiva|\\n## Recomendación Preventiva|$)/);\n  let analysis = match ? match[1].trim() : '';\n  \n  // Limpiar markdown del análisis\n  analysis = analysis.replace(/\\\\n/g, '\\n'); // Convertir \\\\n a \\n\n  analysis = analysis.replace(/\\*\\*/g, ''); // Remover **\n  analysis = analysis.replace(/^#+\\s*/gm, ''); // Remover # al inicio de líneas\n  \n  return analysis;\n}\n\nfunction extractRecommendations(text) {\n  const match = text.match(/(?:###|##)\\s*Recomendación Preventiva\\n([\\s\\S]*?)$/);\n  let recommendations = match ? match[1].trim() : '';\n  \n  // Limpiar markdown de las recomendaciones\n  recommendations = recommendations.replace(/\\\\n/g, '\\n'); // Convertir \\\\n a \\n\n  recommendations = recommendations.replace(/\\*\\*/g, ''); // Remover **\n  recommendations = recommendations.replace(/^#+\\s*/gm, ''); // Remover # al inicio de líneas\n  \n  return recommendations;\n}\n\nconst messages = extractMessages(cleanText);\nconst analysis = extractAnalysis(cleanText);\nconst recommendations = extractRecommendations(cleanText);\n\n// Verificar falso positivo\nconst isFalsePositive = (\n  analysis.toLowerCase().includes('no se detecta') && \n  (analysis.toLowerCase().includes('sentimiento negativo') || analysis.toLowerCase().includes('conflicto'))\n) || recommendations.toLowerCase().includes('no se requiere recomendación');\n\nif (isFalsePositive) {\n  return [{\n    json: {\n      resultado: 'falso_positivo',\n      mensaje: 'No se detectó sentimiento negativo real en el contenido',\n      metadata: {\n        procesado_en: new Date().toISOString(),\n        version_parser: '1.7_js_fixed'\n      }\n    }\n  }];\n}\n\nconst output = {\n  resumen: {\n    total_mensajes: messages.length,\n    usuarios_involucrados: [...new Set(messages.map(m => m.pushname))],\n    rango_temporal: {\n      primer_mensaje: messages.length > 0 ? messages[0].hora : null,\n      ultimo_mensaje: messages.length > 0 ? messages[messages.length - 1].hora : null\n    }\n  },\n  mensajes: messages,\n  analisis_sentimiento: {\n    origen: analysis,\n    texto_completo: analysis\n  },\n  recomendaciones_preventivas: {\n    texto: recommendations\n  },\n  metadata: {\n    procesado_en: new Date().toISOString(),\n    version_parser: '1.7_js_fixed'\n  }\n};\n\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[892,-140],"id":"a4082e90-08d1-4b82-9986-12c4c7144419","name":"Code"},{"parameters":{"inputText":"={{ JSON.stringify($json.data) }}","options":{"categories":"POSITIVE, NEUTRAL, NEGATIVE","systemPromptTemplate":"You are a highly intelligent and context-aware sentiment analyzer, specialized in customer interactions for telecommunications services.\n\nYour task is to analyze the full conversation and classify its overall emotional tone. You must:\n\n- DETECT how the sentiment EVOLVES throughout the conversation, including both negative and positive emotional shifts\n- IDENTIFY SIGNS of SATISFACTION, GRATITUDE, or RESOLUTION as well as frustration or escalation\n- PRIORITIZE the FINAL MESSAGE as a potential emotional turning point (positive or negative)\n- EVALUATE the conversation HOLISTICALLY to determine the prevailing sentiment trend, not just isolated instances\n- RETURN a single classification from the following list: {{categories}}\n\n###OUTPUT FORMAT###\n\nYou MUST return ONLY a valid JSON object with a single field \"sentiment\", using EXACTLY ONE of the following values: {{categories}}.\n\nThe JSON MUST BE IN A SINGLE LINE, WITHOUT LINE BREAKS, COMMENTS, OR FORMATTING.\n\nExample output:\n{{\"sentiment\":\"sentiment\"}}\n\nDO NOT include any explanation, formatting, or line breaks.","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-80,-440],"id":"690605e7-25cf-43b2-82f4-9acf4d262c7f","name":"Sentiment Analysis","retryOnFail":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category.toUpperCase() }}","confianza":"={{ $json.sentimentAnalysis.confidence }}","intensidad":"={{ $json.sentimentAnalysis.strength }}","chat":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[374,-740],"id":"fd4787b4-fb00-4004-8597-4f8f2404520e","name":"Save Positive","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-872,1000],"id":"f54bbf21-d8f1-427f-ac9e-0305d56eb263","name":"Llama Negativo","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}},"disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.data.toJsonString() }}","options":{"systemMessage":"ERES UN AGENTE EXPERTO EN DETECCIÓN DE SENTIMIENTO NEGATIVO Y CONFLICTOS EN CONVERSACIONES DE WHATSAPP EMPRESARIALES. TU TAREA ES IDENTIFICAR QUEJAS, TONO IRÓNICO, MOLESTIA O ESCALADAS, Y RESPONDER CON ANÁLISIS Y RECOMENDACIÓN EN FORMATO MARKDOWN ESTRICTO Y FIJO.\n\n---\n\n###  INSTRUCCIONES\n\n1. ANALIZA LOS ÚLTIMOS 30 MENSAJES + EL MÁS RECIENTE\n2. DETECTA INDICIOS DE:\n\n   * QUEJA, SARCASMO, FRUSTRACIÓN, DESCONFIANZA, PRESIÓN\n3. SI ENCUENTRAS CONFLICTO, DEVUELVE EL SIGUIENTE FORMATO **SIN MODIFICACIONES**\n4. SI NO HAY CONFLICTO, DEVUELVE ÚNICAMENTE EL BLOQUE EXACTO DE `## Análisis` — **NO AÑADAS NINGUNA EXPLICACIÓN**\n\n---\n\n###  FORMATO DE SALIDA (MÁXIMA PRECISIÓN OBLIGATORIA)\n\n **USA ESTE FORMATO EXACTO. NO LO ALTERES. NO CAMBIES NIVELES DE ENCABEZADO. COPIA LA ESTRUCTURA TAL COMO ESTÁ.**\n\n\n## Mensajes Origen del Sentimiento Negativo\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:45`\n  - **Mensaje**: <mensaje relevante>\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:50`\n  - **Mensaje**: <otro mensaje relacionado>\n\n## Origen del Sentimiento Negativo\n<Análisis completo del conflicto, evolución del tono, causas técnicas y emocionales, y actores involucrados.>\n\n## Recomendación Preventiva\n<Recomendación táctica: qué se debió hacer, qué hacer ahora, cómo evitar una escalada mayor. Con tono profesional, claro y diplomático.>\n\n\n---\n\n###  SI NO DETECTAS CONFLICTO O SENTIMIENTO NEGATIVO\n\n **DEVUELVE ÚNICAMENTE EL BLOQUE EXACTO QUE SIGUE — NUNCA AGREGUES JUSTIFICACIONES, ANÁLISIS NI COMENTARIOS EXPLICATIVOS. NO USES OTROS ENCABEZADOS, NO CAMBIES EL FORMATO.**\n\n\n## Análisis\nsin informacion\n\n\nESTA ES LA ÚNICA RESPUESTA PERMITIDA EN CASOS SIN CONFLICTO.\n\n---\n\n###  QUÉ NO HACER\n\n* **NO CAMBIAR LOS ENCABEZADOS NI USAR OTROS NIVELES DE MARKDOWN**\n* **NO USAR `#Pushname` NI `###` NI OTROS FORMATOS**\n* **NO OMITIR EL BLOQUE DE `## Recomendación Preventiva` SI HAY CONFLICTO**\n* **NO ENTREGAR RESPUESTAS FUERA DEL FORMATO MOSTRADO**\n* **NO USAR MESES EN INGLÉS NI FORMATO DE FECHA ANGLOSAJÓN**\n* **NO MENCIONAR EL NOMBRE DEL CLIENTE NI EL NOMBRE DEL CHAT**\n* **NO GENERAR BLOQUES VACÍOS SI DETECTASTE CONFLICTO**\n* **NO GENERES ANÁLISIS EXPLICATIVOS SI NO HAY CONFLICTO**\n* **NO ESCRIBAS FRASES COMO “El mensaje es informativo”, “No se detecta conflicto” u otras justificaciones**\n* **NO INCLUYAS “Recomendación Preventiva” NI CUALQUIER SECCIÓN ADICIONAL SI NO HAY CONFLICTO**\n* **NO DEVUELVAS OTRO ENCABEZADO QUE NO SEA `## Análisis`**\n* **NO CAMBIES “sin informacion” — DEBE IR TAL CUAL EN MINÚSCULA**\n\n---\n\n TU OBJETIVO ES PRODUCIR UN BLOQUE MARKDOWN FIJO, SIN VARIACIONES, CON CONTENIDO CLARO, TÁCTICO Y PROFESIONAL.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[300,-240],"id":"43bbd972-6feb-40f7-b6f5-1a64eb169fc7","name":"AI Analist Negative1","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"executeOnce":false},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[220,-40],"id":"5093a49d-5eaa-4a39-8877-8728ddf20666","name":"Llama 3.1 8B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"jsCode":"// N8N Function Node - Convierte markdown de sentimientos negativos a JSON\n// Obtener el texto de entrada\nconst inputText = $input.first().json.output || '';\n\n// Función para extraer mensajes\nfunction extractMessages(text) {\n  const messages = [];\n  \n  // Primero extraer solo la sección de mensajes\n  const mensajesSection = extractSection(text, 'Mensajes Origen del Sentimiento Negativo');\n  \n  if (!mensajesSection) return messages;\n  \n  // Regex mejorada para capturar los mensajes correctamente\n  const messageRegex = /- \\*\\*Pushname\\*\\*:\\s*(.+?)\\n\\s*- \\*\\*Hora\\*\\*:\\s*(.+?)\\n\\s*- \\*\\*Mensaje\\*\\*:\\s*(.+?)(?=\\n- \\*\\*Pushname\\*\\*|$)/gs;\n  \n  let match;\n  while ((match = messageRegex.exec(mensajesSection)) !== null) {\n    messages.push({\n      pushname: match[1].trim(),\n      hora: match[2].trim(),\n      mensaje: match[3].trim()\n    });\n  }\n  \n  return messages;\n}\n\n// Función para extraer sección por título\nfunction extractSection(text, title) {\n  const regex = new RegExp(`## ${title}\\\\n([\\\\s\\\\S]*?)(?=\\\\n## |$)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\n// Extraer todas las secciones\nconst messages = extractMessages(inputText);\nconst origenSentimiento = extractSection(inputText, 'Origen del Sentimiento Negativo');\nconst recomendacionPreventiva = extractSection(inputText, 'Recomendación Preventiva');\n\n// Procesar recomendaciones (convertir lista markdown a array)\nfunction processRecommendations(text) {\n  const recommendations = [];\n  const lines = text.split('\\n');\n  \n  for (const line of lines) {\n    const trimmedLine = line.trim();\n    if (trimmedLine.startsWith('- ')) {\n      recommendations.push(trimmedLine.substring(2).trim());\n    }\n  }\n  \n  return recommendations;\n}\n\nconst recomendaciones = processRecommendations(recomendacionPreventiva);\n\n// Crear objeto de salida estructurado\nconst output = {\n  resumen: {\n    total_mensajes: messages.length,\n    usuarios_involucrados: [...new Set(messages.map(m => m.pushname))],\n    rango_temporal: {\n      primer_mensaje: messages.length > 0 ? messages[0].hora : null,\n      ultimo_mensaje: messages.length > 0 ? messages[messages.length - 1].hora : null\n    }\n  },\n  mensajes: messages,\n  analisis_sentimiento: {\n    origen: origenSentimiento,\n    texto_completo: origenSentimiento\n  },\n  recomendaciones_preventivas: {\n    lista: recomendaciones,\n    total: recomendaciones.length,\n    texto_completo: recomendacionPreventiva\n  },\n  metadata: {\n    procesado_en: new Date().toISOString(),\n    tipo_contenido: \"analisis_sentimiento_negativo\",\n    version_parser: \"1.0\"\n  }\n};\n\n// Crear salidas múltiples para n8n\nreturn [\n  // Salida 1: Datos completos\n  {\n    json: output\n  },\n  // Salida 2: Solo mensajes\n  {\n    json: {\n      mensajes: messages,\n      total_mensajes: messages.length\n    }\n  },\n  // Salida 3: Solo análisis de sentimiento\n  {\n    json: {\n      origen_sentimiento: origenSentimiento,\n      usuarios_involucrados: [...new Set(messages.map(m => m.pushname))]\n    }\n  },\n  // Salida 4: Solo recomendaciones\n  {\n    json: {\n      recomendaciones: recomendaciones,\n      total_recomendaciones: recomendaciones.length\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1080,960],"id":"aae59c12-602b-46bf-9b17-4e8515f989f5","name":"Code Llama 3.3","disabled":true},{"parameters":{"content":"## Reserve\nModelo Llama 3.3 70B en caso que 3.1 empiece a fallar","height":480,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1142,660],"id":"02f13277-0b26-4733-987e-fef909567b05","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5ff0d28e-7fca-4fdc-a072-0a89779ff15b","leftValue":"={{ $json.output }}","rightValue":"={{ $json.output.includes(\"No hay información suficiente para analizar el conflicto\") || $json.output.includes(\"No hay mensajes relevantes para detectar sentimientos negativos\") || $json.output.includes(\"sin informacion\") }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,-240],"id":"1e0f0480-5bfb-4913-898f-c598c17cb51d","name":"If1","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0738c036-19e8-4e92-9360-4ed76697a929","leftValue":"={{ $json.html_mensajes }}","rightValue":1,"operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,-40],"id":"a4710ac0-c930-41e8-aeef-b1f986ffaa28","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1772,-140],"id":"11697d48-20ed-420b-b834-bd95cacbd597","name":"No Operation, do nothing"},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,-220],"id":"2a714a15-eea5-4de1-aa1f-e3b52458d803","name":"Lllama 3.1 - 8B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"operation":"sendAndWait","toRecipients":"jaimep@ifxcorp.com, aguevara@ifxcorp.com","subject":"=💬 Situacion Critica en Chat {{ $('Edit Fields').first().json.chat.toUpperCase() }}","message":"={{ $('HTML').item.json.html }}","approvalOptions":{"values":{"approvalType":"double","approveLabel":"👍🏻 Aprobar","buttonApprovalStyle":"secondary","disapproveLabel":"👎🏻 Rechazar","buttonDisapprovalStyle":"primary"}},"options":{"limitWaitTime":{"values":{"resumeAmount":60,"resumeUnit":"minutes"}},"appendAttribution":false}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2560,160],"id":"6629b3ea-6cdc-4d5c-8826-dcd09a2d3a14","name":"Check Negative","webhookId":"c8c14354-442d-4bda-afca-54bd644229ca","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58cdf06d-3079-4703-b461-0764d1769804","leftValue":"={{ $('Check Negative').item.json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2760,160],"id":"4b19f502-2463-4c3c-906a-424762ae5754","name":"Aproved"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"FAKE NEGATIVE","confianza":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","intensidad":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","chat":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,-340],"id":"6f18ca8c-532a-4130-ada4-221e026cc888","name":"Fake Negative","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2980,20],"id":"3f798c27-fd7e-4b0a-ac15-f31ccd5a198f","name":"Aprobado"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"FAKE NEGATIVE","confianza":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","intensidad":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","chat":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2960,240],"id":"43eddee4-643b-4788-9bb2-0f3413b9a5fa","name":"Manual Fake Negative","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"inputText":"={{ $json.data }}","options":{}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-60,-740],"id":"33356d44-253a-451c-8562-ac03f917289c","name":"Testing Sentiment","onError":"continueRegularOutput"}],"connections":{"Postgres Trigger":{"main":[[{"node":"Query Back Chat","type":"main","index":0},{"node":"Query Standby Time","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Check Standby","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Table Messages","type":"main","index":0},{"node":"Save Negative","type":"main","index":0}]]},"Query Back Chat":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Merge Data Chat":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0},{"node":"Testing Sentiment","type":"main","index":0}]]},"AI Analist Negative":{"main":[[],[]]},"Table Messages":{"main":[[{"node":"If2","type":"main","index":0}]]},"Save Negative":{"main":[[]]},"Send Alert":{"main":[[{"node":"Set StandBy","type":"main","index":0}]]},"Check Standby":{"main":[[{"node":"Standby?","type":"main","index":0}]]},"Standby?":{"main":[[{"node":"Do nothing","type":"main","index":0}],[{"node":"Send Testing","type":"main","index":0},{"node":"Send Alert","type":"main","index":0},{"node":"Check Negative","type":"main","index":0}]]},"Query Standby Time":{"main":[[{"node":"Time Off","type":"main","index":0}]]},"Time Off":{"main":[[{"node":"Set False Standby","type":"main","index":0}],[{"node":"Do nothing Time Off","type":"main","index":0}]]},"Send Testing":{"main":[[]]},"Edit Fields1":{"main":[[{"node":"Merge Data Chat","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Save Positive","type":"main","index":0}],[{"node":"Save Neutral","type":"main","index":0}],[{"node":"AI Analist Negative1","type":"main","index":0}]]},"Llama Negativo":{"ai_languageModel":[[{"node":"AI Analist Negative","type":"ai_languageModel","index":0}]]},"Llama 3.1 8B":{"ai_languageModel":[[{"node":"AI Analist Negative1","type":"ai_languageModel","index":0}]]},"AI Analist Negative1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Fake Negative","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"If2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"HTML","type":"main","index":0}]]},"Lllama 3.1 - 8B":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0},{"node":"Testing Sentiment","type":"ai_languageModel","index":0}]]},"Check Negative":{"main":[[{"node":"Aproved","type":"main","index":0}]]},"Aproved":{"main":[[{"node":"Aprobado","type":"main","index":0}],[{"node":"Manual Fake Negative","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveDataSuccessExecution":"all","saveManualExecutions":true,"executionTimeout":300,"errorWorkflow":"Txht1wrdLAI370JY"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"28cf357a-2691-4ccb-891c-e058d268313c","triggerCount":1,"tags":[]}