workflowsSql Generate to Postgress.json
{"createdAt":"2025-05-27T19:39:43.432Z","updatedAt":"2025-06-17T22:45:51.000Z","id":"dVcphqpPX159DyE1","name":"Sql Generate to Postgress","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"88670e20-274b-4380-8808-ba23bba3281d","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[1600,240],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"764176d6-3c89-404d-9c71-301e8a406a68","name":"table","type":"string","value":"={{ $json.schema_db }}"}]},"includeOtherFields":true,"options":{}},"id":"69e5b36b-b895-43be-a5e4-b1d92f5052f0","name":"Add table name to output","type":"n8n-nodes-base.set","position":[360,-300],"typeVersion":3.4},{"parameters":{"operation":"toJson","options":{}},"id":"a58cb103-24f9-4e4b-94fb-dd61cdd473c5","name":"Convert data to binary","type":"n8n-nodes-base.convertToFile","position":[700,-300],"typeVersion":1.1},{"parameters":{"operation":"write","fileName":"./summary_sentimientos_schema.json","options":{}},"id":"6a7846e3-af28-4a9d-8d24-b355c41e9e30","name":"Save file locally","type":"n8n-nodes-base.readWriteFile","position":[1020,-300],"typeVersion":1},{"parameters":{"operation":"fromJson","options":{}},"id":"0db3b19b-bd13-4982-899b-4b106e160b0a","name":"Extract data from file","type":"n8n-nodes-base.extractFromFile","position":[60,20],"typeVersion":1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=\nEres un experto en bases de datos PostgreSQL.\n\nTu tarea es generar una consulta SQL en PostgreSQL para responder la pregunta del usuario, basada en el siguiente esquema de base de datos:\n\nResumen de base de datos: {{ $json.output }}\n\nBase de datos:  {{ $('Combine schema data and chat input').item.json.schema }}\n\n\nInstrucciones:\n- No expliques nada. No agregues comentarios.\n- Si no se puede responder con el esquema dado, responde: `-- No se puede responder con el esquema actual.`\n- Respeta los tipos de datos y nombra los campos tal como aparecen en el esquema.\n- Usa funciones SQL si es necesario (ej. AVG, COUNT, etc.)\n- Utiliza la columna \"sentimiento\" para buscar el tipo de sentimiento\n- Utiliza la columna \"chat\" para buscar mensajes escritos por el usuario\n- Utiliza alias si ayudan a la claridad (ej. `AS total`, `AS promedio_confianza`, etc.)\n- Usa cláusulas como `WHERE`, `GROUP BY`, `ORDER BY`, `LIMIT`, etc. cuando la pregunta lo requiera.\n- SIEMPRE Utiliza la cláusulas `LIKE '%valor%'` SI SE REALIZA LA BUSQUEDA SOBRE CAMPOS TIPO TEXTO\n- Para sentimiento negativo o malo el valor buscado es: NEGATIVE\n- Para sentimiento neutro, normal el valor buscado es: NEUTRAL\n- Para sentimiento positivo, bueno,excelente el valor buscado es: POSITIVE\n\n\nPregunta: {{ $('When chat message received').item.json.chatInput }} {{ $('Combine schema data and chat input').item.json.chatinput }}\n\n\nSi te hacen preguntas diferentes a sentimientos, clientes, conteos, responde: No estoy autorizado.\n\nNo responder consultas sobre gestion de la base de datos.\nNo responder consultas sobre tablas administrativas.\nNo responder consultas sobre accesos o permisos de acceso.","options":{"systemMessage":"=No mostrar en los resultados los Id o Llaves principales de las tablas.\n"}},"id":"b0bbcef1-f374-4917-aad7-e43c80af2ee0","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[840,20],"typeVersion":1.6},{"parameters":{"assignments":{"assignments":[{"id":"42abd24e-419a-47d6-bc8b-7146dd0b8314","name":"sessionId","type":"string","value":"={{ $execution.id }}"},{"id":"f78c57d9-df13-43c7-89a7-5387e528107e","name":"chatinput","type":"string","value":"={{ $('When chat message received').item.json.chatInput }}"},{"id":"e42b39eb-dfbd-48d9-94ed-d658bdd41454","name":"schema","type":"string","value":"={{ $json.data }}"}]},"options":{}},"id":"006c172e-257b-4b15-b904-aa0bab291ec4","name":"Combine schema data and chat input","type":"n8n-nodes-base.set","position":[280,20],"executeOnce":true,"typeVersion":3.4,"alwaysOutputData":true},{"parameters":{"fileSelector":"./summary_sentimientos_schema.json","options":{}},"id":"dc944f54-97b3-4d56-af13-514c925f3063","name":"Load the schema from the local file","type":"n8n-nodes-base.readWriteFile","position":[-160,20],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"ebbe194a-4b8b-44c9-ac19-03cf69d353bf","name":"query","type":"string","value":"={{ $json.output }}"}]},"includeOtherFields":true,"options":{}},"id":"346b95fc-2bb8-4195-abda-1b280c1c5c46","name":"Extract SQL query","type":"n8n-nodes-base.set","position":[1260,20],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"2963d04d-9d79-49f9-b52a-dc8732aca781","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.query }}","rightValue":""},{"id":"b8434632-8c8c-4141-928a-635c6b99d44f","leftValue":"={{ $json.output }}","rightValue":"No estoy autorizado.","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"eb01487f-3ee7-4136-8adf-7502f7d2875c","name":"Check if query exists","type":"n8n-nodes-base.if","position":[1420,20],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"sqloutput","type":"string","value":"={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"}]},"options":{}},"id":"547b046c-1f42-4269-a908-9bcdf0c2a1e1","name":"Format query results","type":"n8n-nodes-base.set","position":[2000,-240],"executeOnce":true,"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"aa55e186-1535-4923-aee4-e088ca69575b","name":"output","type":"string","value":"=\n{{ $json.sqloutput }}\n"}]},"options":{}},"id":"889f9b04-f273-41c5-9b0b-c5349ebee065","name":"Prepare final output","type":"n8n-nodes-base.set","position":[2460,-20],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"62ae2f07-1558-4d03-9826-ebd5e58766ff","name":"Combine query result and chat answer","type":"n8n-nodes-base.merge","position":[1900,-20],"typeVersion":3},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[800,220],"id":"a96d7ed5-d07b-4723-87e0-dcd274690019","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"operation":"executeQuery","query":"SELECT table_name, column_name, data_type, is_nullable, column_default\nFROM information_schema.columns\nWHERE table_name = 'summary_sentimientos' \nORDER BY table_name, ordinal_position;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-280,-300],"id":"ad377978-c30d-49b3-be7d-340ca195da87","name":"Postgres","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"jsCode":"\n\nreturn { schema_db:$input.all()} ;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,-300],"id":"1bb883d2-0dd8-4b30-984f-73b3d03ebcbf","name":"Code"},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1600,-240],"id":"1246600f-de92-4ab5-827a-e61ef47fa2f0","name":"Postgres1","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"httpMethod":"POST","path":"chatbi","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,-180],"id":"a3c8f972-c8b4-4fad-8c0f-ef9bab63fa0b","name":"Webhook","webhookId":"14503a4e-a075-47e4-9faf-9d4ac2ce6da9","credentials":{"httpHeaderAuth":{"id":"8nGGCDfdtPtQoogH","name":"Header Auth account"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Explica el esquema de base  de datos con el fin de construir consultas sql postgress {{ $json.schema }}\n\nExplicalo de forma resumida y precisa.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[480,20],"id":"729d139c-dc66-46c6-bd9f-fef25ea9ff71","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[380,280],"id":"127a33cf-a80d-4523-8961-37d8c4888f54","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"description":"Evalua que las senticas sql postgress tengan una sintaxis correcta"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1080,220],"id":"af13681f-ed73-44ab-a624-d17c867d7f25","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[580,300],"id":"5b1f5adf-9199-49bf-b554-046329fad2ff","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[780,560],"id":"4e2c1d78-d528-4b8b-8cf6-2b403cd480e5","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolName":"summary_sentimientos","toolDescription":"={{ $('AI Agent1').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.2,"position":[920,400],"id":"0c67246c-8224-4853-a0c6-acad1e2b45e7","name":"summary_sentimientos","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-500,240],"id":"e7f1d94f-3048-42bb-a8c9-8cadd0b042b7","name":"When chat message received","webhookId":"8581bbf6-9bd5-4c00-acab-83fb92728f79"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6f4aa1eb-ef79-4f5a-8590-a168380fd566","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1800,-380],"id":"c285d93a-9be0-40ba-8bb4-089f1c90bb00","name":"If"}],"connections":{"Add table name to output":{"main":[[{"node":"Convert data to binary","type":"main","index":0}]]},"Convert data to binary":{"main":[[{"node":"Save file locally","type":"main","index":0}]]},"Extract data from file":{"main":[[{"node":"Combine schema data and chat input","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Extract SQL query","type":"main","index":0}]]},"Combine schema data and chat input":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Load the schema from the local file":{"main":[[{"node":"Extract data from file","type":"main","index":0}]]},"Extract SQL query":{"main":[[{"node":"Check if query exists","type":"main","index":0}]]},"Check if query exists":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":1},{"node":"Postgres1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Format query results":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":0}]]},"Combine query result and chat answer":{"main":[[{"node":"Prepare final output","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Add table name to output","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Load the schema from the local file","type":"main","index":0}]]},"Save file locally":{"main":[[]]},"AI Agent1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"summary_sentimientos","type":"ai_embedding","index":0}]]},"summary_sentimientos":{"ai_tool":[[]]},"When chat message received":{"main":[[{"node":"Load the schema from the local file","type":"main","index":0},{"node":"Postgres","type":"main","index":0}]]},"If":{"main":[[{"node":"Format query results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"13.91.231.159","x-forwarded-for":"13.91.231.159","x-forwarded-proto":"https","connection":"upgrade","content-length":"86","accept-language":"es-ES","user-agent":"azure-logic-apps/1.0 (workflow 5223a73cbcc949aea67c20363a457e66; version 08584525369557938097) microsoft-flow/1.0","x-ms-workflow-id":"5223a73cbcc949aea67c20363a457e66","x-ms-workflow-version":"08584525369557938097","x-ms-workflow-name":"4a7e3ae0-11b9-4491-bca2-54e451b31e00","x-ms-workflow-system-id":"/locations/westus/scaleunits/prod-86/workflows/5223a73cbcc949aea67c20363a457e66","x-ms-workflow-run-id":"08584525369321819165663569042CU55","x-ms-workflow-run-tracking-id":"093deb49-4162-4def-877d-e0438dbd87f6","x-ms-workflow-operation-name":"HTTP","x-ms-execution-location":"westus","x-ms-workflow-subscription-id":"d7ad4625-ea54-4797-b1f8-29e4c5fd4183","x-ms-workflow-resourcegroup-name":"E7CEBEC7B9E54CB988FE208929CDBF16-DEFAULTE7CEBEC7B9E54CB988FE208929CDBF16-ENV","x-ms-tracking-id":"7c7880a8-dd2e-49b2-87c0-44a39de9e81d","x-ms-correlation-id":"7c7880a8-dd2e-49b2-87c0-44a39de9e81d","x-ms-client-request-id":"7c7880a8-dd2e-49b2-87c0-44a39de9e81d","x-ms-client-tracking-id":"08584525369321819165663569042CU55","x-ms-action-tracking-id":"21e9ae91-f899-4797-9000-ffd175e9b089","x-ms-client-keywords":"testFlow","x-ms-activity-vector":"IN.0I","accept-encoding":"gzip, deflate","content-type":"application/json; charset=utf-8"},"params":{},"query":{},"body":{"contents":[{"parts":[{"text":"Cuantos clientes tenemos con sentimientos negativos"}]}]},"webhookUrl":"https://n8n.aifx.com.co/webhook/chatbi","executionMode":"production"}}]},"versionId":"7cf2c1d3-3a81-46b2-8b8d-6d729b108aa5","triggerCount":1,"tags":[]}