workflowsStop Workflow Burst Errors.json
{"createdAt":"2025-05-31T01:24:06.610Z","updatedAt":"2025-05-31T02:16:53.000Z","id":"TIJNjxifSpdKZM3B","name":"Stop Workflow Burst Errors","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[220,-40],"id":"b96969a7-7b96-42e9-8bd0-7144e9c2b976","name":"Error Trigger"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const workflowId = $json.workflowId;\nconst workflowName = $json.workflowName;\n\n// En producción esto debe contar errores reales del webhook\n// Por ahora retorna 1 error por cada ejecución del webhook\nconst errorCount = 1;\n\nif (errorCount >= 10) {\n  return {\n    action: 'disable_now',\n    workflowId,\n    workflowName,\n    errorCount,\n    whatsapp_message: `🚨 WORKFLOW DETENIDO\\n• ${workflowName}\\n• ${errorCount} errores en 1min\\n⏰ ${new Date().toLocaleString('es-CO')}`,\n    email_subject: `🚨 URGENTE: Workflow \"${workflowName}\" Auto-Desactivado`,\n    email_body: `<h2>🚨 Workflow Desactivado</h2><p>Workflow: ${workflowName}</p><p>Errores: ${errorCount} en 1 minuto</p><p>Hora: ${new Date().toLocaleString('es-CO')}</p>`\n  };\n}\n\nreturn {};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,-40],"id":"2ded34f3-2de5-411a-a381-c614d92f66f1","name":"Code","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0012103c-7c14-4b34-aaba-cdc8b4d4ff6e","leftValue":"={{ $json.action }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,-40],"id":"da077c30-0732-4d67-95ed-f8ddfb94e809","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,40],"id":"7fdf46b8-3964-4ede-a599-97f01c0f7993","name":"No Operation, do nothing"},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"={{ $json.whatsapp_message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[900,-300],"id":"e4239de2-7b59-4f17-8f24-cb973cd4630f","name":"Send Wapp","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"={{ $json.email_subject }}","bodyContent":"={{ $json.email_body }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[900,-140],"id":"a0ebbbcc-5aad-488e-abb7-3a78afc319b1","name":"Send Mail","webhookId":"685ed55a-5fdd-4457-92c8-06b388ae7115","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send Wapp","type":"main","index":0},{"node":"Send Mail","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Send Wapp":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":900,"errorWorkflow":"Txht1wrdLAI370JY","timeSavedPerExecution":60},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0b79720-8547-4783-a008-b57af5d41490","triggerCount":0,"tags":[]}