workflowsClean Connection Postgres.json
{"createdAt":"2025-05-28T05:47:41.184Z","updatedAt":"2025-05-30T22:00:24.000Z","id":"xM9DdsXSvx1xNiY3","name":"Clean Connection Postgres","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-160,0],"id":"47b1dc60-d694-45e2-a6bb-51280cde3799","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as idle_count\nFROM pg_stat_activity \nWHERE (application_name = '' OR application_name IS NULL)\nAND state = 'idle' \nAND state_change < NOW() - INTERVAL '120 minutes';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[60,0],"id":"3ff85c6d-df3e-4181-996b-0fbdebb2801f","name":"Count Sessions Null","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d0df4557-ee43-4fc7-acfe-1dce1a7e4e82","leftValue":"={{ $json.idle_count > 80 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,0],"id":"ec0e5eaf-436b-4b4e-9032-6166939bd92d","name":"If"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    pg_terminate_backend(pid),\n    datname\nFROM pg_stat_activity \nWHERE (application_name = '' OR application_name IS NULL)\nAND state = 'idle' \nAND state_change < NOW() - INTERVAL '15 minutes'\nAND datname IS NOT NULL;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,0],"id":"48695e48-5725-47cb-b0b2-e41f14d59783","name":"Clean Sessions Null","alwaysOutputData":true,"credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB n8n"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Count Sessions Null","type":"main","index":0}]]},"Count Sessions Null":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Clean Sessions Null","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Txht1wrdLAI370JY","timeSavedPerExecution":5},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe866695-b7f5-41a7-94b9-7e21554ec08c","triggerCount":1,"tags":[]}