workflowsWhisper Wapp.json
{"createdAt":"2025-05-09T15:42:27.252Z","updatedAt":"2025-05-31T00:42:23.000Z","id":"cqjETHNcwRZ4BX6c","name":"Whisper Wapp","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whisper_aifx","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-300,120],"id":"47fcfc8f-9bd8-440b-b493-efeba0ec4865","name":"Webhook","webhookId":"af7d5856-aa77-4fa7-bb2c-fd25b5f7b909"},{"parameters":{"mode":"insert"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[260,120],"id":"1b4f3f21-3b1c-48a5-9763-3de08b078600","name":"Chat Memory Manager","alwaysOutputData":true,"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"7af2e709-1c9a-4e1f-813f-608529052060"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5d6d05-28de-446d-b86b-9c588a7bedd7","leftValue":"={{ $('Webhook').item.json.body.data.message.imageMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b5492b7-3dc9-4b9f-8f9e-44e57eeaa22f","leftValue":"={{ $('Webhook').item.json.body.data.message.videoMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58b2de1c-a353-48b3-9391-72d8211c788c","leftValue":"={{ $json.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[760,100],"id":"42acc0b8-197e-4e77-8630-6f4d738546b8","name":"Switch"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"whisper_aifx","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1020,-140],"id":"d9902bba-72b2-40a7-a212-f607e1efb870","name":"Get Audio WApp","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"whisper_aifx","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1020,40],"id":"e811dcc2-d779-412b-94ac-a3a533a91f17","name":"Get Image WApp","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"assignments":{"assignments":[{"id":"92096346-a6ee-4a28-b6cb-0efdac946206","name":"conversation","value":"={{ $('Webhook').item.json.body.data.message.videoMessage.caption }}\n**Este mensaje viene acompañado de un video que no puede ser interpretado, por favor visite el chat para tener contexto**\nMensaje enviado por: {{ $('Webhook').item.json.body.data.pushName }} - \nFecha y Hora del Video: {{ $('Webhook').item.json.body.date_time.toDateTime().format('dd/MM/yyyy HH:MM') }}\n{{ $('Webhook').item.json.body.data.message.reactionMessage.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,220],"id":"6a4e261f-0142-478a-b1d7-d67b8ddbdb65","name":"Set Fields Video"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"mimeType":"={{ $json.data.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1200,-140],"id":"44fde192-72a8-4d3b-b97a-690d8c5dcf99","name":"Convert Audio"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"mimeType":"={{ $json.data.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1200,40],"id":"3ddc7619-a71f-4c9f-9347-76d9ccc02a9b","name":"Convert Image"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1360,-140],"id":"deec664e-cf98-4b70-8236-ce89ba68e458","name":"Transcibre Audio","credentials":{"openAiApi":{"id":"w75RuNSCJjKqeuAT","name":"OpenAi JPG"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Describe detalladamente la imagen, extrae el texto que alli se pueda encontrar","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1360,40],"id":"b90ed50c-77a5-4fc7-8a2e-ec7154bc3cb4","name":"Transcribe Image","credentials":{"openAiApi":{"id":"w75RuNSCJjKqeuAT","name":"OpenAi JPG"}}},{"parameters":{"assignments":{"assignments":[{"id":"9aed5369-214a-44ff-a2da-a584ac66b6ca","name":"text","value":"=<audio>\n{{ $json.text }}\n</audio>","type":"string"},{"id":"2fea67b6-eb69-47fd-bb52-94bf6bf0a4f3","name":"body.data.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,-140],"id":"39d540a8-e497-4ee1-8541-0406462484f1","name":"Set Fields Audio"},{"parameters":{"assignments":{"assignments":[{"id":"9aed5369-214a-44ff-a2da-a584ac66b6ca","name":"text","value":"={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}\n{{ $('Webhook').item.json.body.data.message.reactionMessage.text }}\n<image>\n{{ $json.content }}\n</image>","type":"string"},{"id":"2fea67b6-eb69-47fd-bb52-94bf6bf0a4f3","name":"body.data.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,40],"id":"61bd588e-fa4d-41c3-9451-2b2b0b8282d1","name":"Set Fields Image"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.body.data.key.id }}","url_video":"={{ $('Webhook').item.json.body.data.message.videoMessage.url }}","participant":"={{ $('Webhook').item.json.body.data.key.participant }}","pushName":"={{ $('Webhook').item.json.body.data.pushName }}","conversation":"={{ $('Webhook').item.json.body.data.message.conversation }}\n{{ $('Webhook').item.json.body.data.message.imageMessage.caption }}\n{{ $('Webhook').item.json.body.data.message.reactionMessage.text }}","instanceId":"={{ $('Webhook').item.json.body.data.instanceId }}","dateTime":"={{ $('Webhook').item.json.body.date_time.toDateTime().toISO() }}","sender":"={{ $('Webhook').item.json.body.sender }}","url_image":"={{ $('Webhook').item.json.body.data.message.imageMessage.url }}","url_audio":"={{ $('Webhook').item.json.body.data.message.audioMessage.url }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","nombrechat":"={{ $('Get Group Name').item.json.data.subject }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instanceId","displayName":"instanceId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dateTime","displayName":"dateTime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[600,120],"id":"4e806140-4acc-41eb-8ad9-ade76015941a","name":"Add Row Text","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.body.data.key.id }}","conversation":"={{ $json.text }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instanceId","displayName":"instanceId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dateTime","displayName":"dateTime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1720,-60],"id":"619661eb-8631-475f-9bd7-ab8544214758","name":"Update Row Audio Image","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.body.data.key.id }}","conversation":"={{ $json.text }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instanceId","displayName":"instanceId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dateTime","displayName":"dateTime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,220],"id":"f64c9592-2123-4b06-a3d7-f0d42b5d9991","name":"Update Row Video","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1020,380],"id":"3acabb04-1c37-411f-90a8-e0905ea5e339","name":"No Operation, do nothing"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"whisper_aifx","searchMethod":"groupJid","groupJid":"={{ $json.body.data.key.remoteJid }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[80,120],"id":"5596f18c-0d90-45dd-af3e-0a2bbae81907","name":"Get Group Name","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[220,320],"id":"92642a2a-d535-416f-a5c6-f73f2fd68e46","name":"Simple Memory","disabled":true},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"📢 ¡Notificación de Grupo Nuevo!","bodyContent":"=🎉 Has sido agregado a un nuevo grupo de WhatsApp:\n\n👥 Grupo: {{ $('IF New Group').item.json.body.data[0].subject }}\n🔗 Generado por: AIFX\n\n---","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[80,-40],"id":"e370efa9-d490-48a1-9030-966ebef2200a","name":"Mail New Group","webhookId":"45c174e6-4044-4f1d-ae76-331de3f22f3a","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0f6c15b-ac47-4d89-8eb6-65c7b509bb07","leftValue":"={{ $json.body.event }}","rightValue":"groups.upsert","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-100,120],"id":"ae8f2c85-24ee-4e50-8fa2-e4f5ee9fed20","name":"IF New Group"},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"=📢 ¡Notificación de Grupo Nuevo!\n\n🎉 Has sido agregado a un nuevo grupo de WhatsApp:\n👥 Grupo: {{ $('IF New Group').item.json.body.data[0].subject }}\n🔗 Generado por: AIFX","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[80,-200],"id":"5d83a15d-5aa0-407f-8739-62a26d2ea999","name":"WAP New Group","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}}],"connections":{"Webhook":{"main":[[{"node":"IF New Group","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Add Row Text","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Audio WApp","type":"main","index":0}],[{"node":"Get Image WApp","type":"main","index":0}],[{"node":"Set Fields Video","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get Audio WApp":{"main":[[{"node":"Convert Audio","type":"main","index":0}]]},"Get Image WApp":{"main":[[{"node":"Convert Image","type":"main","index":0}]]},"Set Fields Video":{"main":[[{"node":"Update Row Video","type":"main","index":0}]]},"Convert Audio":{"main":[[{"node":"Transcibre Audio","type":"main","index":0}]]},"Convert Image":{"main":[[{"node":"Transcribe Image","type":"main","index":0}]]},"Transcibre Audio":{"main":[[{"node":"Set Fields Audio","type":"main","index":0}]]},"Transcribe Image":{"main":[[{"node":"Set Fields Image","type":"main","index":0}]]},"Set Fields Audio":{"main":[[{"node":"Update Row Audio Image","type":"main","index":0}]]},"Set Fields Image":{"main":[[{"node":"Update Row Audio Image","type":"main","index":0}]]},"Add Row Text":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get Group Name":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"IF New Group":{"main":[[{"node":"Mail New Group","type":"main","index":0},{"node":"WAP New Group","type":"main","index":0}],[{"node":"Get Group Name","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Txht1wrdLAI370JY","timeSavedPerExecution":5,"executionTimeout":600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b8edae10-beb3-4372-b6ca-7ec94b7cb3d8","triggerCount":1,"tags":[]}