workflowsLicitainfo Colombia Vector Docs.json
{"createdAt":"2025-05-15T14:51:42.171Z","updatedAt":"2025-06-25T19:16:12.000Z","id":"sHVWbzZi9dmbm3qU","name":"Licitainfo Colombia Vector Docs","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"output":"raw","filters":{"foldersToInclude":["AAMkAGUyOTgzNDViLTIwY2ItNDFmNi04ODUwLTNmZTJmZjI5ZTY5MgAuAAAAAAD2otzNIFhhTLQNl5GG7b3VAQA59ESx-VUJQ61HIyY6Bm7SAAgOOqoXAAA="]},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[1360,320],"id":"be708116-dc7c-47be-a73f-0d559212a322","name":"Microsoft Outlook Trigger","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"text":"={{ $json.subject }}\n{{ $json.body }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"asunto\": \"[Urg]ALCAL. DE TINJACA minima cuantia MT-MC-012-2025 [93206]\",\n  \"entidad\": \"ALCAL. DE TINJACA\",\n  \"concepto\": \"Contratación mínima cuantía MT-MC-012-2025\",\n  \"objeto\": \"ADQUISICION DEL SERVICIO DE ACCESO A INTERNET POR FIBRA OPTICA PARA LAS DEPENDENCIAS DE LA ALCALDIA MUNICIPAL Y LA BIBLIOTECA PUBLICA DEL MUNICIPIO DE TINJACA\",\n  \"valor\": \"$10.000.000\",\n  \"localizacion\": \"Boyacá Tinjacá\",\n  \"departamento\": \"Boyacá\",\n  \"ciudad\": \"Tinjacá\",\n  \"portal_origen\": \"SECOP 2\",\n  \"fecha_publicacion\": \"2025-05-14 08:36:00 am\",\n  \"funcionalidades_de_la_herramienta\": \"https://col.licitaciones.info/detalle-contrato?random=67f70bd9505d31.74719324\",\n  \"documentos_encontrados\": [\n    {\n      \"nombre\": \"ANALISIS DEL SECTOR INTERNET.pdf\",\n      \"enlace\": \"https://community.secop.gov.co/Public/Archive/RetrieveFile/Index?DocumentId=611919317\"\n    },\n    {\n      \"nombre\": \"CDP INTERNET.pdf\",\n      \"enlace\": \"https://community.secop.gov.co/Public/Archive/RetrieveFile/Index?DocumentId=611919318\"\n    },\n    {\n      \"nombre\": \"CERTIFICACION PAA.pdf\",\n      \"enlace\": null\n    }\n  ]\n}\n","options":{"systemPromptTemplate":"ERES UN AGENTE EXTRACTOR DE DATOS DE ALTO RENDIMIENTO ENTRENADO PARA IDENTIFICAR Y ESTRUCTURAR INFORMACIÓN CLAVE DESDE TEXTOS DE LICITACIONES COLOMBIANAS. TU OBJETIVO ES DEVOLVER UN OBJETO JSON CON LOS SIGUIENTES CAMPOS ESTANDARIZADOS:\n\n- \"asunto\"  \n- \"entidad\"  \n- \"concepto\"  \n- \"objeto\"  \n- \"valor\"  \n- \"localizacion\"  \n- **\"departamento\" ← NUEVO CAMPO EXTRAÍDO DESDE \"localizacion\"**  \n- **\"ciudad\" ← NUEVO CAMPO EXTRAÍDO DESDE \"localizacion\"**  \n- \"portal_origen\"  \n- \"fecha_publicacion\"  \n- **\"funcionalidades_de_la_herramienta\" ← ESTE CAMPO ES CRÍTICO**  \n- \"documentos\": una lista de objetos con campos \"nombre\" y \"enlace\"  \n\n### INSTRUCCIONES:\n\n1. EXTRAE ÚNICAMENTE INFORMACIÓN RELEVANTE Y PRESENTE EN EL TEXTO.\n2. OMITE CUALQUIER CAMPO CUYO VALOR NO PUEDA DETERMINARSE CLARAMENTE.\n3. ASEGÚRATE DE FORMAR UN JSON VÁLIDO, BIEN ESTRUCTURADO Y FORMATEADO.\n4. DETECTA Y ASOCIA DOCUMENTOS CON SUS ENLACES Y NOMBRES LIMPIOS.\n5. EN CAMPOS COMO “ENTIDAD”, “OBJETO” Y “VALOR”, USA EL TEXTO EXACTO EXTRAÍDO.\n6. ELIMINA DOBLES PUNTOS, CORCHETES O CARACTERES EXTRAÑOS QUE NO FORMEN PARTE DEL CONTENIDO PROPIAMENTE DICHO.\n7. **ES OBLIGATORIO DETECTAR Y EXTRAER EL ENLACE UBICADO DESPUÉS DE “Enlace directo a licitaciones.info” Y GUARDARLO COMO \"funcionalidades_de_la_herramienta\"**.\n8. **SI EL CAMPO \"localizacion\" TIENE FORMATO \"Departamento : Ciudad\" O SIMILAR, SEPARA EL DEPARTAMENTO Y LA CIUDAD EN CAMPOS INDEPENDIENTES**:  \n   - `\"departamento\"` ← VALOR ANTES DE LOS DOS PUNTOS  \n   - `\"ciudad\"` ← VALOR DESPUÉS DE LOS DOS PUNTOS  \n   - MANTIENE TAMBIÉN EL CAMPO \"localizacion\" CON SU VALOR ORIGINAL\n\n### CHAIN OF THOUGHTS:\n\n1. **ENTENDER**: LEE TODO EL TEXTO COMO UN CUERPO UNIFICADO Y DETECTA EL BLOQUE CENTRAL DE INFORMACIÓN LICITATORIA.\n2. **BÁSICOS**: IDENTIFICA LOS ATRIBUTOS SOLICITADOS COMO CLAVES DEL JSON.\n3. **DESCOMPONER**: UBICA CADA DATO POR SECCIONES (asunto, entidad, objeto, etc.).\n4. **ANALIZAR**:\n   - RELACIONA LOS DATOS CONTEXTUALMENTE (ej. el objeto de contratación suele estar tras la palabra \"Objeto:\").\n   - SI DETECTAS EL FORMATO \"Departamento : Ciudad\", DIVÍDELO CORRECTAMENTE.\n5. **ENSAMBLAR**: ORGANIZA LOS DATOS EN UN JSON CON CLAVES Y VALORES CLAROS, INCLUYENDO \"departamento\" Y \"ciudad\".\n6. **CASOS EXTREMOS**: SI ALGÚN VALOR NO SE ENCUENTRA EXPLÍCITAMENTE, NO LO INCLUYAS.\n7. **FUNCIÓN CRÍTICA**: BUSCA ENLACES WEB QUE CONTENGAN \"licitaciones.info\" Y EXTRAER EL PRIMERO COMO \"funcionalidades_de_la_herramienta\". ES UNA OBLIGACIÓN.\n8. **RESPUESTA FINAL**: DEVUELVE SOLO EL OBJETO JSON, SIN COMENTARIOS NI TEXTO ADICIONAL.\n\n### WHAT NOT TO DO:\n\n- **NUNCA OMITAS EL CAMPO \"funcionalidades_de_la_herramienta\" SI EL ENLACE ESTÁ PRESENTE EN EL TEXTO**.\n- **NO INVENTES** VALORES DE CAMPOS QUE NO SE ENCUENTRAN EXPLÍCITAMENTE EN EL TEXTO.\n- **NO REPITAS** CAMPOS NI GENERES JSON MAL FORMADO.\n- **NO OMITAS** LOS CAMPOS \"departamento\" Y \"ciudad\" SI PUEDEN SER DERIVADOS DESDE \"localizacion\".\n- **NO INCLUYAS ENLACES O CAMPOS INEXACTOS**, MAL FORMATEADOS O PARCIALES.\n- **NO CONTAMINES** LA SALIDA CON TEXTOS PROMOCIONALES O AJENOS A LA LICITACIÓN.\n\n### FEW-SHOT EXAMPLE\n\nTEXTO DE LICITACIÓN (fragmento):\nEntidad: Alcaldía de Santa Marta\nObjeto: Adquisición de equipos médicos\nValor: $450.000.000\nLocalización: Magdalena : Santa Marta\nEnlace directo a licitaciones.info: https://www.licitaciones.info/santamarta-medica\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[2040,320],"id":"98670574-b53b-4f22-a012-bc99f39e8ad4","name":"Information Extractor"},{"parameters":{"fieldToSplitOut":"output.documentos_encontrados","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2856,160],"id":"77e8a2c7-f634-4144-8aa9-4271fe03a158","name":"Split Out","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3076,160],"id":"5b89e59a-0ed1-4f9d-8517-7aaa3617195f","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4396,-46.5],"id":"f9c670c2-76b0-42ad-9299-1f43de830b87","name":"Status Job  PDF - DOC"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4616,174.5],"id":"5074710f-d711-4826-aa6f-2505ad4274d4","name":"Wait Job PDF - DOC","webhookId":"f87508bf-6d05-4bd8-8d79-ebc5d503d0fd"},{"parameters":{"errorMessage":"Error Job Parser PDF - DOC"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4616,-40],"id":"b4a36259-807d-4540-a3b8-5a8749c6d1a9","name":"Error PDF - DOC"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4836,60],"id":"c2f66be1-2f54-417e-80c9-7584d3eafab5","name":"Aggregate"},{"parameters":{"operation":"get","messageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"output":"fields","fields":["body","hasAttachments","subject"],"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1600,320],"id":"a5f0be48-8859-49cc-9c00-d54e20e26753","name":"Microsoft Outlook","webhookId":"0dd90bcc-d4ef-4dd6-8c83-1e3896dc546a","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"41744e35-8c64-47f5-8568-f21fb377c439","leftValue":"={{ $json.fileName }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.fileName }}","rightValue":"docx","operator":{"type":"string","operation":"contains"},"id":"e2d1e9ed-0fc3-4124-905d-818ba76db060"}],"combinator":"and"},"renameOutput":true,"outputKey":"DOCX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5e987b8d-fe61-46fc-a27d-34eb056b2572","leftValue":"={{ $json.fileName }}","rightValue":"xlsx","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"18ee520f-8912-44c3-963a-4b6fd7df1d77","leftValue":"={{ $json.fileName }}","rightValue":"xls","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLS"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3736,53.5],"id":"25147605-6cbd-4768-b1d7-da592df1a090","name":"Switch","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"premium_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3956,199.5],"id":"ff81a93f-47fc-4862-bfe1-eb6e158e14b0","name":"Parser Excel","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"jsCode":"// Función para extraer el código aleatorio de la URL\nfunction extractRandomCode(inputText) {\n  try {\n    // Verificar si la entrada es undefined o null\n    if (!inputText) {\n      return { \n        random_code: null,\n        error: \"La entrada es undefined o null\" \n      };\n    }\n    \n    // Intentar encontrar cualquier URL que contenga \"random=\"\n    const urlRegex = /https?:\\/\\/[^\\s]+random=([^\\s&]+)/;\n    const match = inputText.match(urlRegex);\n    \n    if (!match || !match[1]) {\n      return { \n        random_code: null,\n        error: \"No se encontró una URL con parámetro 'random'\" \n      };\n    }\n    \n    // Extraer el código completo después de \"random=\"\n    const fullRandomCode = match[1];\n    \n    // Extraer la parte antes del primer punto\n    const dotIndex = fullRandomCode.indexOf('.');\n    if (dotIndex === -1) {\n      // Si no hay punto, devolver el código completo\n      return { \n        random_code: fullRandomCode,\n        error: null \n      };\n    }\n    \n    // Extraer la parte antes del punto\n    const codeBeforeDot = fullRandomCode.substring(0, dotIndex);\n    \n    return {\n      random_code: codeBeforeDot,\n      full_random_code: fullRandomCode,\n      error: null\n    };\n  } catch (error) {\n    return {\n      random_code: null,\n      error: `Error al procesar: ${error.message}`\n    };\n  }\n}\n\n// Obtener la entrada de la variable especificada\nconst inputText = $('Information Extractor').first()?.json?.output?.funcionalidades_de_la_herramienta;\n\n// Procesar la entrada\nconst result = extractRandomCode(inputText);\n\n// Devolver el resultado\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3956,585],"id":"85041504-28d0-49f4-b04f-b3b1c5afe995","name":"Extraer Random Code","alwaysOutputData":true},{"parameters":{"url":"=http://192.168.3.13:6333/collections/licita_{{ $json.random_code }}/exists","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4176,585],"id":"abfd0866-0d93-4d60-b8b2-338ddb560015","name":"Check Exist Qdrant","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"method":"PUT","url":"=http://192.168.3.13:6333/collections/licita_{{ $('Extraer Random Code').first().json.random_code }}","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4836,585],"id":"1fccffc3-eb4d-43e6-bf94-1bb219df0a9e","name":"Create Qdrant","alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"url":"={{ $json.enlace }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{"maxRedirects":10}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3296,74.5],"id":"1f9c0fe2-cea2-44e8-bdcf-6376d55b6df8","name":"GET Files","alwaysOutputData":false},{"parameters":{"method":"DELETE","url":"=http://192.168.3.13:6333/collections/licita_{{ $('Extraer Random Code').first().json.random_code }}","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4616,510],"id":"6cb1f144-8e96-456e-b6ba-f9d22aeb253d","name":"Delete Qdrant","alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data","includeEmpty":true,"separateBy":"\n"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[5280,220],"id":"a414694a-76c9-4afc-9a2d-17ce7911ce4f","name":"Summarize"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c342300-48f5-4932-b653-8adc06fa206f","leftValue":"={{ $json.result.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4396,585],"id":"8e237cba-29ee-410b-b72c-c08eea3d21e6","name":"Exists Vectors"},{"parameters":{"operation":"write","fileName":"=/home/node/files/{{ $('Split Out').first().json.nombre }}","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[3516,74.5],"id":"a46956b9-c230-4cf3-987f-f62bd44c6678","name":"Save Document"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4176,74.5],"id":"cd2d8c53-8d82-4e9d-ba17-4b6a65c5fb92","name":"GET Parser DOCS","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3956,-25.5],"id":"030299b6-8c86-43fe-b765-cbfdc367ad3d","name":"Parser DOCS","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $('GET Parser DOCS').item.json.id }}/result/markdown","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4616,-240],"id":"4bfdb555-ea1c-4e1b-b015-3c063b96305e","name":"Success DOC","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=licita_{{ $('Extraer Random Code').item.json.random_code }}","mode":"id"},"embeddingBatchSize":1024,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[5512,210],"id":"fb365a07-0f29-490d-b24f-4e08c4fabb96","name":"Qdrant Vector Store","alwaysOutputData":false,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[5580,400],"id":"98a7e532-a008-4330-a328-c1075c0ac66a","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[5520,560],"id":"c4803261-7e23-4a07-8fed-d62447a1ab63","name":"Recursive Character Text Splitter"},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1980,540],"id":"5c6a64d3-2fd4-4f83-b5db-45e15836e8b3","name":"OpenAI Mini","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1378f400-3254-436d-a966-4a0b92bf7d78","leftValue":"={{ $json.output.documentos.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2580,140],"id":"5f0e4ec6-80c8-493e-b2bf-1db79905ad66","name":"If"},{"parameters":{"promptType":"define","text":"=Analiza la documentacion de la base vectorial licitaciones del Solicitante {{ $('Information Extractor').item.json.output.toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"ERES UN ANALISTA EXPERTO EN CONTRATACIÓN DE SERVICIOS DE TELECOMUNICACIONES. RECIBES VARIOS FRAGMENTOS DE TEXTO QUE JUNTOS FORMAN UN DOCUMENTO RFP (REQUEST FOR PROPOSAL). TU TRABAJO ES LEER Y ENTENDER TODOS LOS FRAGMENTOS.\n\n### INSTRUCCIONES PRINCIPALES ###\n- SIEMPRE BUSCA EL NOMBRE DEL SOLICITANTE O CLIENTE. SI NO LO ENCUENTRAS, DEVUELVE \"N/D\".\n- LEE TODOS LOS FRAGMENTOS COMO UN SOLO DOCUMENTO.\n- GENERA UN RESUMEN DETALLADO EN FORMATO **JSON** USANDO EL SIGUIENTE ESQUEMA. SI ALGÚN DATO FALTA, USA \"N/D\".\n\n### CADENA DE PENSAMIENTO ###\n1. LEE Y ENTIENDE TODOS LOS FRAGMENTOS COMO UN CONJUNTO.\n2. BUSCA DATOS CLAVE: solicitante, permisos, plazos, equipos, servicios, requisitos técnicos, riesgos.\n3. EXTRAE Y ORGANIZA LA INFORMACIÓN SEGÚN EL ESQUEMA.\n4. SI HAY AMBIGÜEDAD O FALTAN DATOS, ESCRIBE \"N/D\".\n5. REVISA QUE EL JSON TENGA TODAS LAS CLAVES DEL ESQUEMA.\n\n### ESQUEMA DE RESPUESTA (JSON) ###\n{\n  \"solicitud\": \"CENTRAL ADMINISTRATIVA Y CONTABLE TELEMATICA\",\n  \"objeto\": \"ESTUDIO DE MERCADO - PROCESO No.060 ADQUISICIÓN DE ANTENAS Y SERVICIO SATELITAL STARLINK, A EJECUTAR EN LA VIGENCIA 2025\",\n  \"departamento\": \"Cundinamarca\",\n  \"ciudad\": \"Facatativa\",\n  \"informacion_legal_contractual\": {\n    \"resolucion_capacidad_satelital\": \"Resolución No. 376 de 2022, vigente en Colombia.\",\n    \"permisos_espectro\": \"El oferente debe anexar permisos para acceso al espectro de capacidad satelital y estar en el Registro de Proveedor de Capacidad Satelital.\",\n    \"carta_fabricante_distribuidor\": \"Carta del fabricante o distribuidor autorizado (no mayor a 30 días), certificando la distribución/comercialización de antenas.\",\n    \"permisos_MINTIC\": \"Permisos expedidos por el MINTIC para prestar servicios de comunicaciones móviles satelitales en todo el territorio nacional.\",\n    \"habilitacion_general_TIC\": \"Obligatorio presentar la habilitación general TIC para proveer redes y servicios de telecomunicaciones (Ley 1341 de 2009, Decreto 4948 de 2009).\"\n  },\n  \"aspectos_administrativos_economicos\": {\n    \"dirigido_a\": \"CENAC TELEMATICA, sin nombres personales.\",\n    \"respuesta_invitacion\": \"La cotización debe enviarse como respuesta a la invitación formal.\",\n    \"plazos_condiciones_pago\": \"No especificados en los fragmentos.\",\n    \"adquisicion\": \"Compra de antenas y servicios relacionados (soporte técnico y monitoreo API).\"\n  },\n  \"requisitos_documentales\": {\n    \"documentos\": [\n      \"Carta del fabricante/distribuidor autorizado (no mayor a 30 días).\",\n      \"Permisos del MINTIC y registro TIC habilitación general.\",\n      \"Resolución de capacidad satelital vigente y permisos de acceso al espectro.\",\n      \"Documentación técnica adicional y especificaciones de equipos.\",\n      \"Firma del representante legal y certificaciones de cumplimiento técnico (en algunos casos).\"\n    ]\n  },\n  \"requerimiento_tecnico\": {\n    \"capacidad_satelital\": \"Presentar resolución y permisos para acceso al espectro satelital.\",\n    \"antenas_starlink\": {\n      \"kit\": \"Dish, router, cables Ethernet de 15m, cable de poder (norma americana).\",\n      \"router\": \"WiFi 6, tri-banda, IP56, compatible con redes mesh.\",\n      \"antena\": \"Matriz electrónica, orientación asistida por software/manual, IP67, temperatura -30°C a 50°C.\",\n      \"velocidad\": \"Descarga hasta 1 Mbps, carga 0.5 Mbps, prioridad de red.\"\n    },\n    \"red_malla_wifi\": \"Cobertura de 80 metros, mínimo 15 usuarios, conectividad nacional.\",\n    \"internet_satelital\": \"Prioridad local de 500 GB, estable en movimiento y fija, velocidad mínima garantizada.\",\n    \"configuraciones_adicionales\": [\n      \"Orientación automática\",\n      \"Opción de portabilidad\",\n      \"Soporte técnico\",\n      \"Instalaciones y mantenimiento\",\n      \"Integración con monitoreo vía API\"\n    ]\n  },\n  \"indice_tablas\": [\n    {\n      \"nombre\": \"Equipos y Servicios\",\n      \"contenido\": [\n        [\"No.\", \"NOMBRE\", \"DESCRIPCIÓN\"],\n        [\"1\", \"KIT ANTENA STANDARD\", \"Dish, router, cables Ethernet y cable de poder.\"],\n        [\"1.1\", \"Dish y/o Plato\", \"Matriz electrónica, IP67, temperatura -30°C a 50°C, velocidad viento 96 kph+.\"],\n        [\"1.2\", \"Router\", \"WiFi 6, tri-banda, WPA2, IP56, compatible con redes mesh.\"],\n        [\"1.3\", \"Configuraciones adicionales\", \"Orientación automática, portabilidad.\"],\n        [\"2\", \"Internet Satelital\", \"Cobertura nacional, 80 metros, mínimo 15 usuarios, velocidad mínima 1 Mbps descarga y 0.5 Mbps carga, prioridad local 500 GB.\"]\n      ]\n    }\n  ],\n  \"puntos_clave\": {\n    \"proveedor_propuesto\": \"N/D\",\n    \"servicios_clave\": [\n      \"Capacidad satelital\",\n      \"Antenas Starlink\",\n      \"Internet satelital\",\n      \"Redes WiFi mesh\",\n      \"Soporte técnico\"\n    ],\n    \"alcance_geo\": \"Colombia\",\n    \"sla_critico\": \"Velocidades de descarga hasta 1 Mbps y carga 0.5 Mbps, cobertura nacional\",\n    \"costo_referencia\": \"N/D\",\n    \"plazo_ejecucion\": \"N/D (vigencia 2025 para algunos servicios)\"\n  },\n  \"metricas_estructuradas\": [],\n  \"observaciones_recomendaciones\": [\n    \"Verificar la validez y vigencia de los permisos y certificaciones del proveedor.\",\n    \"Clarificar los plazos de entrega y condiciones de soporte técnico.\",\n    \"Confirmar la compatibilidad técnica de los equipos con las redes existentes.\",\n    \"Asegurar que las especificaciones de velocidad y cobertura cumplen los requisitos operativos del Ejército.\"\n  ],\n  \"riesgos_identificados\": [\n    \"Ambigüedad en los plazos de ejecución y vigencia del contrato.\",\n    \"Necesidad de verificar la validez de permisos y certificaciones del proveedor.\",\n    \"Riesgo técnico si las antenas y servicios no cumplen con las especificaciones de velocidad y cobertura.\",\n    \"Potencial falta de claridad en los criterios de evaluación y penalidades contractuales.\"\n  ]\n}\n\n### QUÉ NO HACER ###\n- NO GENERES TEXTO FUERA DEL JSON.\n- NO INVENTES DATOS. SI ALGO FALTA, USA \"N/D\".\n- NO OMITAS CAMPOS DEL JSON.\n- NO EXPLIQUES TU PROCESO NI DES COMENTARIOS FUERA DEL JSON.\n\n### EJEMPLO DE RESPUESTA ###\n{\n  \"solicitud\": \"CENTRAL ADMINISTRATIVA Y CONTABLE TELEMATICA\",\n  \"objeto\": \"ESTUDIO DE MERCADO - PROCESO No.060 ADQUISICIÓN DE ANTENAS Y SERVICIO SATELITAL STARLINK, A EJECUTAR EN LA VIGENCIA 2025\",\n  \"departamento\": \"Cundinamarca\",\n  \"ciudad\": \"Facatativa\",\n  \"informacion_legal_contractual\": {\n    \"resolucion_capacidad_satelital\": \"Resolución No. 376 de 2022, vigente en Colombia.\",\n    \"permisos_espectro\": \"El oferente debe anexar permisos para acceso al espectro de capacidad satelital y estar en el Registro de Proveedor de Capacidad Satelital.\",\n    \"carta_fabricante_distribuidor\": \"Carta del fabricante o distribuidor autorizado (no mayor a 30 días), certificando la distribución/comercialización de antenas.\",\n    \"permisos_MINTIC\": \"Permisos expedidos por el MINTIC para prestar servicios de comunicaciones móviles satelitales en todo el territorio nacional.\",\n    \"habilitacion_general_TIC\": \"Obligatorio presentar la habilitación general TIC para proveer redes y servicios de telecomunicaciones (Ley 1341 de 2009, Decreto 4948 de 2009).\"\n  },\n  \"aspectos_administrativos_economicos\": {\n    \"dirigido_a\": \"CENAC TELEMATICA, sin nombres personales.\",\n    \"respuesta_invitacion\": \"La cotización debe enviarse como respuesta a la invitación formal.\",\n    \"plazos_condiciones_pago\": \"No especificados en los fragmentos.\",\n    \"adquisicion\": \"Compra de antenas y servicios relacionados (soporte técnico y monitoreo API).\"\n  },\n  \"requisitos_documentales\": {\n    \"documentos\": [\n      \"Carta del fabricante/distribuidor autorizado (no mayor a 30 días).\",\n      \"Permisos del MINTIC y registro TIC habilitación general.\",\n      \"Resolución de capacidad satelital vigente y permisos de acceso al espectro.\",\n      \"Documentación técnica adicional y especificaciones de equipos.\",\n      \"Firma del representante legal y certificaciones de cumplimiento técnico (en algunos casos).\"\n    ]\n  },\n  \"requerimiento_tecnico\": {\n    \"capacidad_satelital\": \"Presentar resolución y permisos para acceso al espectro satelital.\",\n    \"antenas_starlink\": {\n      \"kit\": \"Dish, router, cables Ethernet de 15m, cable de poder (norma americana).\",\n      \"router\": \"WiFi 6, tri-banda, IP56, compatible con redes mesh.\",\n      \"antena\": \"Matriz electrónica, orientación asistida por software/manual, IP67, temperatura -30°C a 50°C.\",\n      \"velocidad\": \"Descarga hasta 1 Mbps, carga 0.5 Mbps, prioridad de red.\"\n    },\n    \"red_malla_wifi\": \"Cobertura de 80 metros, mínimo 15 usuarios, conectividad nacional.\",\n    \"internet_satelital\": \"Prioridad local de 500 GB, estable en movimiento y fija, velocidad mínima garantizada.\",\n    \"configuraciones_adicionales\": [\n      \"Orientación automática\",\n      \"Opción de portabilidad\",\n      \"Soporte técnico\",\n      \"Instalaciones y mantenimiento\",\n      \"Integración con monitoreo vía API\"\n    ]\n  },\n  \"indice_tablas\": [\n    {\n      \"nombre\": \"Equipos y Servicios\",\n      \"contenido\": [\n        [\"No.\", \"NOMBRE\", \"DESCRIPCIÓN\"],\n        [\"1\", \"KIT ANTENA STANDARD\", \"Dish, router, cables Ethernet y cable de poder.\"],\n        [\"1.1\", \"Dish y/o Plato\", \"Matriz electrónica, IP67, temperatura -30°C a 50°C, velocidad viento 96 kph+.\"],\n        [\"1.2\", \"Router\", \"WiFi 6, tri-banda, WPA2, IP56, compatible con redes mesh.\"],\n        [\"1.3\", \"Configuraciones adicionales\", \"Orientación automática, portabilidad.\"],\n        [\"2\", \"Internet Satelital\", \"Cobertura nacional, 80 metros, mínimo 15 usuarios, velocidad mínima 1 Mbps descarga y 0.5 Mbps carga, prioridad local 500 GB.\"]\n      ]\n    }\n  ],\n  \"puntos_clave\": {\n    \"proveedor_propuesto\": \"N/D\",\n    \"servicios_clave\": [\n      \"Capacidad satelital\",\n      \"Antenas Starlink\",\n      \"Internet satelital\",\n      \"Redes WiFi mesh\",\n      \"Soporte técnico\"\n    ],\n    \"alcance_geo\": \"Colombia\",\n    \"sla_critico\": \"Velocidades de descarga hasta 1 Mbps y carga 0.5 Mbps, cobertura nacional\",\n    \"costo_referencia\": \"N/D\",\n    \"plazo_ejecucion\": \"N/D (vigencia 2025 para algunos servicios)\"\n  },\n  \"metricas_estructuradas\": [],\n  \"observaciones_recomendaciones\": [\n    \"Verificar la validez y vigencia de los permisos y certificaciones del proveedor.\",\n    \"Clarificar los plazos de entrega y condiciones de soporte técnico.\",\n    \"Confirmar la compatibilidad técnica de los equipos con las redes existentes.\",\n    \"Asegurar que las especificaciones de velocidad y cobertura cumplen los requisitos operativos del Ejército.\"\n  ],\n  \"riesgos_identificados\": [\n    \"Ambigüedad en los plazos de ejecución y vigencia del contrato.\",\n    \"Necesidad de verificar la validez de permisos y certificaciones del proveedor.\",\n    \"Riesgo técnico si las antenas y servicios no cumplen con las especificaciones de velocidad y cobertura.\",\n    \"Potencial falta de claridad en los criterios de evaluación y penalidades contractuales.\"\n  ]\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[6260,200],"id":"373d9525-03b0-42dc-9b32-844cf494ffc1","name":"AI Agent"},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[5420,400],"id":"80305daf-c776-4340-aa5e-ae1c6c28b77c","name":"Embedding BGE","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5056,210],"id":"49c17f42-c40a-4a6f-b90f-d3683ded576a","name":"Merge"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6120,520],"id":"4801e831-95c8-4794-9cbe-23922aa4c1e9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"licitaciones","toolDescription":"Base Vectorial para analizar documentos de Licitaciones","qdrantCollection":{"__rl":true,"value":"=licita_{{ $('Extraer Random Code').item.json.random_code }}","mode":"id"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.2,"position":[6280,520],"id":"0cb00538-d2f4-4018-bef4-46c65981b019","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[6240,680],"id":"81e65926-b3aa-4bdb-99e8-3f0348c172af","name":"Embedding BGE Agent","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{"html":"={{ $json.body.content }}","destinationKey":"body","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1820,320],"id":"b0f7dc25-1bf6-4dff-9e03-71ae6ce03598","name":"Markdown"},{"parameters":{"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[5920,200],"id":"95615c36-1aef-4b2f-8b9f-dd32715897fb","name":"Limit"},{"parameters":{"text":"={{ $json.output }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"informacion_legal_contractual\": {\n    \"duracion_contrato\": \"\",\n    \"condiciones_renovacion_terminacion\": \"\",\n    \"clausulas_legales\": {\n      \"garantias\": \"\",\n      \"confidencialidad\": \"\",\n      \"penalidades\": \"\",\n      \"NDA\": \"\",\n      \"otras\": \"\"\n    },\n    \"riesgos_ambiguos\": \"\"\n  },\n  \"aspectos_administrativos_economicos\": {\n    \"fechas_importantes\": {\n      \"entrega\": \"\",\n      \"vigencia\": \"\"\n    },\n    \"condiciones_pago\": {\n      \"moneda\": \"\",\n      \"forma\": \"\",\n      \"plazos\": \"\"\n    },\n    \"anticipos_intereses_restricciones\": \"\",\n    \"costos_referenciales_estructura\": \"\"\n  },\n  \"requisitos_documentales\": {\n    \"listado_documentos\": [],\n    \"detalle_documentos\": {\n      \"cantidad\": \"\",\n      \"antiguedad\": \"\",\n      \"formato\": \"\",\n      \"firmas\": \"\",\n      \"certificaciones\": \"\",\n      \"anexos\": \"\",\n      \"CVs\": \"\",\n      \"organigramas\": \"\"\n    }\n  },\n  \"requerimiento_tecnico\": {\n    \"plataformas_tecnologias\": [],\n    \"infraestructura_minima_expandible\": \"\",\n    \"sla_disponibilidad_seguridad\": \"\",\n    \"equipos_protocolos_enlaces_redundancia\": \"\"\n  },\n  \"indice_tablas\": {\n    \"tablas_markdown\": [\n      {\n        \"nombre\": \"\",\n        \"contenido\": [\n          [\"Columna A\", \"Columna B\", \"Columna C\"],\n          [\"Valor 1\", \"Valor 2\", \"Valor 3\"]\n        ]\n      }\n    ]\n  },\n  \"puntos_clave\": {\n    \"proveedor_propuesto\": \"\",\n    \"servicios_clave\": [],\n    \"alcance_geo\": \"\",\n    \"sla_critico\": \"\",\n    \"costo_referencia\": \"\",\n    \"plazo_ejecucion\": \"\"\n  },\n  \"metricas_estructuradas\": [\n    {\n      \"clave\": \"\",\n      \"valor\": \"\",\n      \"unidad\": \"\",\n      \"hoja_origen\": \"\",\n      \"celda_o_rango\": \"\"\n    }\n  ],\n  \"observaciones_recomendaciones\": {\n    \"criterios_tecnicos_verificar\": \"\",\n    \"experiencia_deseable_proveedor\": \"\",\n    \"areas_requieren_aclaracion\": \"\"\n  },\n  \"riesgos_identificados\": {\n    \"ambigüedades_contractuales\": \"\",\n    \"riesgos_tecnicos_financieros\": \"\",\n    \"falta_claridad_penalidades_sla\": \"\"\n  }\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[6680,220],"id":"da54c28e-b0c3-4fa8-a606-e09ad4a3d9ec","name":"Information Extractor1"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6740,420],"id":"9be9d077-e8db-4069-8129-03ffdc4f2962","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"jsonSchemaExample":"{\n  \"solicitud\": \"CENTRAL ADMINISTRATIVA Y CONTABLE TELEMATICA\",\n  \"objeto\": \"ESTUDIO DE MERCADO - PROCESO No.060 ADQUISICIÓN DE ANTENAS Y SERVICIO SATELITAL STARLINK, A EJECUTAR EN LA VIGENCIA 2025\",\n  \"departamento\": \"Cundinamarca\",\n  \"ciudad\": \"Facatativa\",\n  \"informacion_legal_contractual\": {\n    \"resolucion_capacidad_satelital\": \"Resolución No. 376 de 2022, vigente en Colombia.\",\n    \"permisos_espectro\": \"El oferente debe anexar permisos para acceso al espectro de capacidad satelital y estar en el Registro de Proveedor de Capacidad Satelital.\",\n    \"carta_fabricante_distribuidor\": \"Carta del fabricante o distribuidor autorizado (no mayor a 30 días), certificando la distribución/comercialización de antenas.\",\n    \"permisos_MINTIC\": \"Permisos expedidos por el MINTIC para prestar servicios de comunicaciones móviles satelitales en todo el territorio nacional.\",\n    \"habilitacion_general_TIC\": \"Obligatorio presentar la habilitación general TIC para proveer redes y servicios de telecomunicaciones (Ley 1341 de 2009, Decreto 4948 de 2009).\"\n  },\n  \"aspectos_administrativos_economicos\": {\n    \"dirigido_a\": \"CENAC TELEMATICA, sin nombres personales.\",\n    \"respuesta_invitacion\": \"La cotización debe enviarse como respuesta a la invitación formal.\",\n    \"plazos_condiciones_pago\": \"No especificados en los fragmentos.\",\n    \"adquisicion\": \"Compra de antenas y servicios relacionados (soporte técnico y monitoreo API).\"\n  },\n  \"requisitos_documentales\": {\n    \"documentos\": [\n      \"Carta del fabricante/distribuidor autorizado (no mayor a 30 días).\",\n      \"Permisos del MINTIC y registro TIC habilitación general.\",\n      \"Resolución de capacidad satelital vigente y permisos de acceso al espectro.\",\n      \"Documentación técnica adicional y especificaciones de equipos.\",\n      \"Firma del representante legal y certificaciones de cumplimiento técnico (en algunos casos).\"\n    ]\n  },\n  \"requerimiento_tecnico\": {\n    \"capacidad_satelital\": \"Presentar resolución y permisos para acceso al espectro satelital.\",\n    \"antenas_starlink\": {\n      \"kit\": \"Dish, router, cables Ethernet de 15m, cable de poder (norma americana).\",\n      \"router\": \"WiFi 6, tri-banda, IP56, compatible con redes mesh.\",\n      \"antena\": \"Matriz electrónica, orientación asistida por software/manual, IP67, temperatura -30°C a 50°C.\",\n      \"velocidad\": \"Descarga hasta 1 Mbps, carga 0.5 Mbps, prioridad de red.\"\n    },\n    \"red_malla_wifi\": \"Cobertura de 80 metros, mínimo 15 usuarios, conectividad nacional.\",\n    \"internet_satelital\": \"Prioridad local de 500 GB, estable en movimiento y fija, velocidad mínima garantizada.\",\n    \"configuraciones_adicionales\": [\n      \"Orientación automática\",\n      \"Opción de portabilidad\",\n      \"Soporte técnico\",\n      \"Instalaciones y mantenimiento\",\n      \"Integración con monitoreo vía API\"\n    ]\n  },\n  \"indice_tablas\": [\n    {\n      \"nombre\": \"Equipos y Servicios\",\n      \"contenido\": [\n        [\"No.\", \"NOMBRE\", \"DESCRIPCIÓN\"],\n        [\"1\", \"KIT ANTENA STANDARD\", \"Dish, router, cables Ethernet y cable de poder.\"],\n        [\"1.1\", \"Dish y/o Plato\", \"Matriz electrónica, IP67, temperatura -30°C a 50°C, velocidad viento 96 kph+.\"],\n        [\"1.2\", \"Router\", \"WiFi 6, tri-banda, WPA2, IP56, compatible con redes mesh.\"],\n        [\"1.3\", \"Configuraciones adicionales\", \"Orientación automática, portabilidad.\"],\n        [\"2\", \"Internet Satelital\", \"Cobertura nacional, 80 metros, mínimo 15 usuarios, velocidad mínima 1 Mbps descarga y 0.5 Mbps carga, prioridad local 500 GB.\"]\n      ]\n    }\n  ],\n  \"puntos_clave\": {\n    \"proveedor_propuesto\": \"N/D\",\n    \"servicios_clave\": [\n      \"Capacidad satelital\",\n      \"Antenas Starlink\",\n      \"Internet satelital\",\n      \"Redes WiFi mesh\",\n      \"Soporte técnico\"\n    ],\n    \"alcance_geo\": \"Colombia\",\n    \"sla_critico\": \"Velocidades de descarga hasta 1 Mbps y carga 0.5 Mbps, cobertura nacional\",\n    \"costo_referencia\": \"N/D\",\n    \"plazo_ejecucion\": \"N/D (vigencia 2025 para algunos servicios)\"\n  },\n  \"metricas_estructuradas\": [],\n  \"observaciones_recomendaciones\": [\n    \"Verificar la validez y vigencia de los permisos y certificaciones del proveedor.\",\n    \"Clarificar los plazos de entrega y condiciones de soporte técnico.\",\n    \"Confirmar la compatibilidad técnica de los equipos con las redes existentes.\",\n    \"Asegurar que las especificaciones de velocidad y cobertura cumplen los requisitos operativos del Ejército.\"\n  ],\n  \"riesgos_identificados\": [\n    \"Ambigüedad en los plazos de ejecución y vigencia del contrato.\",\n    \"Necesidad de verificar la validez de permisos y certificaciones del proveedor.\",\n    \"Riesgo técnico si las antenas y servicios no cumplen con las especificaciones de velocidad y cobertura.\",\n    \"Potencial falta de claridad en los criterios de evaluación y penalidades contractuales.\"\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[6540,620],"id":"8f8d004e-510a-4004-a533-d77b59003ec3","name":"Structured Output Parser"}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Extraer Random Code","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GET Files","type":"main","index":0}]]},"Status Job  PDF - DOC":{"main":[[{"node":"Success DOC","type":"main","index":0}],[{"node":"Error PDF - DOC","type":"main","index":0}],[{"node":"Error PDF - DOC","type":"main","index":0}],[{"node":"Wait Job PDF - DOC","type":"main","index":0}]]},"Wait Job PDF - DOC":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Microsoft Outlook":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Parser DOCS","type":"main","index":0}],[{"node":"Parser DOCS","type":"main","index":0}],[{"node":"Parser Excel","type":"main","index":0}],[{"node":"Parser Excel","type":"main","index":0}]]},"Parser Excel":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Extraer Random Code":{"main":[[{"node":"Check Exist Qdrant","type":"main","index":0}]]},"Check Exist Qdrant":{"main":[[{"node":"Exists Vectors","type":"main","index":0}]]},"Create Qdrant":{"main":[[{"node":"Merge","type":"main","index":1}]]},"GET Files":{"main":[[{"node":"Save Document","type":"main","index":0}]]},"Delete Qdrant":{"main":[[{"node":"Create Qdrant","type":"main","index":0}]]},"Exists Vectors":{"main":[[{"node":"Delete Qdrant","type":"main","index":0}],[{"node":"Create Qdrant","type":"main","index":0}]]},"Save Document":{"main":[[{"node":"Switch","type":"main","index":0}]]},"GET Parser DOCS":{"main":[[{"node":"Status Job  PDF - DOC","type":"main","index":0}]]},"Parser DOCS":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Success DOC":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[]],"main":[[{"node":"Limit","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"OpenAI Mini":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"If":{"main":[[],[{"node":"Split Out","type":"main","index":0}]]},"Embedding BGE":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Merge":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embedding BGE Agent":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"Information Extractor1","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Limit":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9dde58a-e88a-4191-a716-493c26d1f9c4","triggerCount":0,"tags":[]}