workflowsAg_Manual_Portal.json
{"createdAt":"2025-04-28T13:56:34.616Z","updatedAt":"2025-06-11T20:11:43.000Z","id":"5YW81CiyqESSznyr","name":"Ag_Manual_Portal","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"asistant-portal","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1400,-480],"id":"f02b3bf2-ba9e-4cf7-a683-d5587b6fef93","name":"Webhook","webhookId":"bcecb452-c7f1-4f94-92ea-2e967f3bf8a6"},{"parameters":{"jsCode":"/**\n * JSON Structure Validator for n8n\n * \n * Takes input from previous node using $input.first().json.body\n * and validates that it follows the expected structure\n */\n\n// Get the JSON data from the previous node\nconst inputData = $input.first().json.body\nlet jsonToValidate;\n\n// Parse the JSON if it's a string, or use it directly if it's already an object\ntry {\n  jsonToValidate = typeof inputData === 'string' ? JSON.parse(inputData) : inputData;\n} catch (error) {\n  return {\n    success: false,\n    message: \"Invalid JSON input: \" + error.message,\n    data: null\n  };\n}\n\n/**\n * Validates the structure of the JSON\n * @param {Object} json - The JSON object to validate\n * @returns {Object} - Validation result with success status and message\n */\nfunction validateJsonStructure(json) {\n  try {\n    // Define the expected structure\n    const requiredFields = {\n      \"message\": \"string\"\n    };\n\n    // Check all required fields\n    for (const field in requiredFields) {\n      if (!json.hasOwnProperty(field)) {\n        return {\n          success: false,\n          message: `Missing required field: ${field}`,\n          data: null\n        };\n      }\n\n      // Check the expected type of the field\n      const expectedType = requiredFields[field];\n      const actualValue = json[field];\n\n      if (expectedType === 'string' && typeof actualValue !== 'string') {\n        return {\n          success: false,\n          message: `Field ${field} should be a string`,\n          data: null\n        };\n      }\n    }\n\n    return {\n      success: true,\n      message: \"JSON structure is valid\",\n      data: json\n    };\n  } catch (error) {\n    return {\n      success: false,\n      message: `Validation error: ${error.message}`,\n      data: null\n    };\n  }\n}\n\n// Run the validation and return the result\nconst validationResult = validateJsonStructure(jsonToValidate);\nreturn validationResult;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1180,-480],"id":"487e521d-d926-40d8-a85a-14ecd419a3f7","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d1275915-8783-4942-bfe6-80386d9132e6","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-960,-480],"id":"acc781d1-1b5f-41ba-bd14-8c7618584528","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"8a46e121-43ba-4b85-b327-cd8eac7e57c7","name":"success","value":"={{ $json.success }}","type":"boolean"},{"id":"87cf7eef-8c74-4336-ad8a-d47c571a9963","name":"message","value":"={{ $json.message }}","type":"string"},{"id":"b0780d81-60b5-4cca-a665-51dded9dc8f8","name":"output","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,-240],"id":"c0037448-4743-4237-8071-579c7e9d743b","name":"Salida JSON ERROR"},{"parameters":{"promptType":"define","text":"=Eres un agente para responder consulta sobre servicios del cliente. \n\nLa pregunta el usuario es: {{ $('Code').item.json.data.message }}\n\nPuedes saludar al usuario e indicarle que responderas temas relacionados al portal de clientes.\n\nTu fuente de informacion es: {{ $json.data.context.toJsonString(); }}.\n\nResponde con la informacion estructurada.\n\nTus respuestas deben ser precisas, no complementes.\n\nResponde de forma muy corta y precisa.\n\nResponde formatenado el texto, coloca negrita, haz enfasis en lo importante, agrega viñetas.\n\nResponde en el mismos idioma que hace la pregunta el usuario.\n\n#Restricciones\n\nNo debes mencionar la fuente de informacion.\nNo tienes que extenderte, responde solo lo que consultan.\nNo respondas iformacion que no este en manual_usuarios.\nNo inventes respuestas.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-500,-500],"id":"44acda49-9795-451c-a6dc-bf958f65fa44","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-580,-180],"id":"f6740b15-7604-4d70-92fe-0ed86686949f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1700,340],"id":"0884dec1-821b-498e-8637-d4984cc30524","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1Qipf5tRYXg7cQRhWB3th-vMUNdzNSJ8h","mode":"list","cachedResultName":"MANUAL DE USUARIO.pdf","cachedResultUrl":"https://drive.google.com/file/d/1Qipf5tRYXg7cQRhWB3th-vMUNdzNSJ8h/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1460,340],"id":"9602a148-e282-4dec-9817-4886e1a7681e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"8VwOrCt7CF8AvvZT","name":"Google Drive Antonio"}},"disabled":true},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1220,340],"id":"c09b6da2-9319-420c-9f37-54c0f0f5d8b6","name":"Extract from File","disabled":true},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"manual_clientes_portal","mode":"list","cachedResultName":"manual_clientes_portal"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-1020,340],"id":"064f501a-8967-4eb6-b91e-b5ed4e4c1b3e","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"xUpAbgSTXO5nq2Tp","name":"QdrantApi"}},"disabled":true},{"parameters":{"model":"embedding-model","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1140,580],"id":"9de47f8e-dcb4-427c-8b61-3dda2eebd8a7","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-880,560],"id":"bc4783fc-8d7c-4bf7-8960-f21c9a1589e6","name":"Default Data Loader","disabled":true},{"parameters":{"chunkSize":200,"chunkOverlap":40},"type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","typeVersion":1,"position":[-800,780],"id":"7dc29590-954c-4b8f-ab75-54f45fccda33","name":"Token Splitter","disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolName":"manual_usuario","toolDescription":"Responde preguntas relaciondas al uso del portal en base a lo que dice el manula_usuario","qdrantCollection":{"__rl":true,"value":"manual_clientes_portal","mode":"list","cachedResultName":"manual_clientes_portal"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-180,-240],"id":"5a2d9805-bc5e-4e08-897e-67f2bbcd22cb","name":"manual_usuario","credentials":{"qdrantApi":{"id":"xUpAbgSTXO5nq2Tp","name":"QdrantApi"}},"disabled":true},{"parameters":{"model":"embedding-model","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-360,-60],"id":"df9d83c6-a481-4d3b-90b6-64840b9dd0b8","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.headers['x-real-ip'] }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-420,-280],"id":"d4ae735d-35bb-44a7-af8b-30770678bfc4","name":"Simple Memory"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Salida JSON ERROR","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Qdrant Vector Store":{"main":[[]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Token Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"manual_usuario":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"manual_usuario","type":"ai_embedding","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f802ac81-a222-41b6-b8eb-14417e019488","triggerCount":1,"tags":[]}