workflowsAnalisis_Diagnostico_Cloud.json
{"createdAt":"2025-05-19T19:42:46.475Z","updatedAt":"2025-05-26T14:32:05.000Z","id":"QwN9WCPT65ftjCa0","name":"Analisis_Diagnostico_Cloud","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"diagcloud","responseMode":"lastNode","options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,0],"id":"a170f795-9c35-4256-b648-3de4802a0358","name":"Webhook","webhookId":"d1efb483-ee15-4a16-b18c-9dfaa1da75e8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d01a605b-11f0-466a-a2a3-3748f7aa4583","leftValue":"={{ $json.body.tipo }}","rightValue":"Cpu","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cpu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"{{ $json.body.tipo }}","rightValue":"Ram","operator":{"type":"string","operation":"equals"},"id":"c3426cce-3c02-4b3e-a3df-9181a958e4c2"}],"combinator":"and"},"renameOutput":true,"outputKey":"ram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a4c099e-5e10-47f0-991e-80aba641f13a","leftValue":"{{ $json.body.tipo }}","rightValue":"Disco","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"disco"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[60,0],"id":"be4c6d20-1359-4859-967a-97c5a841809f","name":"Switch"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"llama-4-Scout","mode":"id"},"text":"=Analiza los gráficos.\n\nEntrega un analisis de CPU\n\n\nEvalua si tiene saturacion.\nEvalua si tiene picos altos indica en que monento.\nIdentifica cuello de botella si existe.\n\nSi no está disponible alguno de los graficos, reporta que hace falta.\n\nNo inventes respuestas si los datos no están en los gráficos.\nMantén un tono profesional.\n\nResponde en formato organizado , utiliza listas ordenadas, saltos de linea y negrita para hacer enfasis.\n\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,-180],"id":"cb585a42-f1d3-4dd1-a974-19029bf88a29","name":"Analisis CPU","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"llama-4-Scout","mode":"id"},"text":"=Analiza los gráficos.\n\nEntrega un analisis de DISCO\n\nEvalua si tiene saturacion.\nEvalua si tiene picos altos indica en que monento.\nIdentifica cuello de botella si existe.\n\nSi no está disponible alguno de los graficos, reporta que hace falta.\n\nNo inventes respuestas si los datos no están en los gráficos.\nMantén un tono profesional.\n\nResponde en formato organizado , utiliza listas ordenadas, saltos de linea y negrita para hacer enfasis.\n\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,180],"id":"8ab92b4f-c3c6-40b8-ab26-cdd47300a998","name":"Analisis DISCO","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"llama-4-Scout","mode":"id"},"text":"=Analiza los gráficos.\n\nEntrega un analisis de RAM\n\nEvalua si tiene saturacion.\nEvalua si tiene picos altos indica en que monento.\nIdentifica cuello de botella si existe.\n\nSi no está disponible alguno de los graficos, reporta que hace falta.\n\nNo inventes respuestas si los datos no están en los gráficos.\nMantén un tono profesional.\n\nResponde en formato organizado , utiliza listas ordenadas, saltos de linea y negrita para hacer enfasis.\n\n","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,0],"id":"957b5f05-e3ab-4338-8844-a87544534077","name":"Analisis RAM","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Analisis CPU","type":"main","index":0}],[{"node":"Analisis RAM","type":"main","index":0}],[{"node":"Analisis DISCO","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3bf9208f-e788-4bf2-b3e9-191b7f5bd35a","triggerCount":0,"tags":[]}