workflowsAnalisis de Sentimineto Tickets.json
{"createdAt":"2025-04-15T20:50:21.160Z","updatedAt":"2025-06-13T14:30:11.000Z","id":"6OPoBMQaHUd7Qhlm","name":"Analisis de Sentimineto Tickets","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"analytics_sent","responseMode":"lastNode","options":{"allowedOrigins":"*","rawBody":"={{ true }}","responseContentType":"application/json"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,220],"id":"5ac3fa16-8d14-47da-a49c-0ff6929fec08","name":"Webhook","webhookId":"b9086e5a-7118-4682-9d60-8a116a55592b"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json; // El JSON validado y completo\n\nconst info = data.info || {};\nconst cierre = data.cierre || {};\nconst messages = data.messages || [];\n\n// Crear encabezado del ticket\nlet markdown = `# Ticket: ${info.casenumber || 'N/A'}\\n\\n`;\nmarkdown += `**Cliente:** ${info.customerName || 'N/A'}  \\n`;\nmarkdown += `**ID Cliente:** ${info.customerID || 'N/A'}  \\n`;\nmarkdown += `**Estado:** ${info.status?.value || 'N/A'}  \\n`;\nmarkdown += `**Prioridad:** ${info.customerType || 'N/A'}  \\n\\n`;\n\n// Sección de interacciones\nmarkdown += `## Historial de Interacciones\\n\\n`;\n\nif (messages.length > 0) {\n  messages\n    .filter(msg => msg.message && !msg.message.includes('[IMAGE]'))\n    .forEach(msg => {\n      const fecha = msg.date || 'Fecha desconocida';\n      const mensaje = msg.message\n        .replace(/\\n/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n      \n      markdown += `### ${msg.author?.value || 'Anónimo'} - ${fecha}\\n`;\n      markdown += `${mensaje}\\n\\n`;\n    });\n} else {\n  markdown += \"* No hay interacciones registradas\\n\\n\";\n}\n\n// Sección de cierre\nif (cierre && Object.keys(cierre).length > 0) {\n  markdown += `## Detalles de Cierre\\n\\n`;\n  markdown += `**Motivo:** ${cierre.Reason_for_Closing || 'N/A'}  \\n`;\n  markdown += `**Responsable:** ${cierre.Responsable || 'N/A'}  \\n`;\n  markdown += `**Descripción:** ${cierre.Incident_Description || 'N/A'}  \\n\\n`;\n}\n\n// Devolver como objeto que n8n espera\nreturn {\n  json: {\n    markdownContent: markdown,\n    ticketId: info.casenumber,\n    customerId: info.customerID,\n    status: info.status?.value\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-60],"id":"59da43a7-2d31-407a-a4c0-1eaf5d54ecd9","name":"Code","alwaysOutputData":true},{"parameters":{"inputText":"={{ $('Code').item.json.markdownContent }}","options":{"categories":"Positive, Neutral, Negative","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1,"position":[1140,-160],"id":"de8de0cd-5734-4f47-a025-17123145fe28","name":"Sentiment Analysis","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1060,120],"id":"4d971b29-cb01-40e6-852d-83551d7b58e4","name":"OpenAI Chat Model","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utilizando Llama70B"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nLimita tu respuesta a maximo 200 Palabras\n\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en formato Json \n\n  resumen:string\n  fragmento\":string\n  recomendaciones:array\n","hasOutputParser":true,"options":{"systemMessage":"Responde siempre en formato Json \n\n  resumen:string\n  fragmento\":string\n  recomendaciones:array"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[980,360],"id":"c17b485c-c5e6-4bc5-a816-2919441f26be","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"body['datos del ticket'].Incidente.Cliente","value":"={{ $('Webhook').item.json.body['datos del ticket'].Incidente.Cliente }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('Code').item.json.customerId }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"body['datos del ticket'].Incidente.TipoCliente","value":"={{ $('Webhook').item.json.body['datos del ticket'].Incidente.TipoCliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,360],"id":"d9e51775-7ab8-4712-9133-c75bb3ca6063","name":"Formateo de Campos"},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Formateo de Campos1').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"={{ $('Formateo de Campos1').item.json.body['datos del ticket'].Incidente.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"body['datos del ticket'].Incidente.TipoCliente","value":"={{ $('Formateo de Campos1').item.json.body['datos del ticket'].Incidente.TipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Formateo de Campos1').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Formateo de Campos1').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,800],"id":"7872348f-6cc3-485b-a3d3-09278ffa7dab","name":"Formato de Salida Endpoint"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nExtrae el fragmento de la informacion compartida que define el sentimiento del analisis\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\nResponde siempre en formato Json \n\n  resumen:string\n  fragmento\":string\n  recomendaciones:array","hasOutputParser":true,"options":{"systemMessage":"Responde siempre en formato Json \n  resumen:string\n  fragmento\":string\n  recomendaciones:array"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[980,800],"id":"6ea04343-fc33-4e15-ae51-489af4f63afd","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"responseFormat":"json_object","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,1000],"id":"8b88ac20-8ec6-498a-a7b7-1cd5ced71831","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"=","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('Code').item.json.customerId }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"TipoCliente","value":"={{ $('Webhook').item.json.body['datos del ticket'].Incidente.TipoCliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,800],"id":"21cc17d9-ac53-4842-aa0d-1bde066cfaf1","name":"Formateo de Campos1"},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Formateo de Campos').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"={{ $('Formateo de Campos').item.json.body['datos del ticket'].Incidente.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"body['datos del ticket'].Incidente.TipoCliente","value":"={{ $('Formateo de Campos').item.json.body['datos del ticket'].Incidente.TipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Formateo de Campos').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"d6b6375b-a54b-4b90-9d48-12eaaeec2179","name":"sentimentAnalysis.strength","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"755c9bd0-09b5-482b-9e3e-c9face2e5d46","name":"sentimentAnalysis.confidence","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,360],"id":"49cf1e48-e743-4da5-b0ac-b0f44d46f66c","name":"Formato de Salida Endpoint_2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1700,200],"id":"01b55b63-01e7-4690-82aa-3cd463953077","name":"Merge"},{"parameters":{"jsCode":"// Acceder correctamente a los datos en n8n\nconst items = $input.all();\nconst result = [];\n\nfor (let i = 0; i < items.length; i++) {\n  // Crear una copia del objeto json\n  const newJson = {...items[i].json};\n  \n  // Convertir customerId a número\n  newJson.customerId = Number(newJson.customerId);\n  \n  // Crear un nuevo objeto item con el json modificado\n  const newItem = {\n    json: newJson\n  };\n  \n  // Añadir al array de resultados\n  result.push(newItem);\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,200],"id":"faad6b84-c839-4bb2-9b58-a6b6abe1aa47","name":"ConverToIntegerCID"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"where":{"values":[{"column":"caseid","value":"={{ $json.ticketId }}"}]},"options":{"delayClosingIdleConnection":5}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[760,-260],"id":"ba4991b1-3251-4b5a-8485-6c0e08ed55f0","name":"busca_tt","alwaysOutputData":true,"credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b62bee51-2b11-49c3-821a-2bcf233837f2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,-500],"id":"280764ed-51bf-41b8-81d2-84e5b5621321","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"6f66879d-96f1-48eb-9fd9-6156226cc3d8","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $json.caseid }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"={{ $json.json_data }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $json.cid }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $json.sentiment }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.analisis }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $json.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $json.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,-520],"id":"9c3b82ed-39be-42ea-9e8a-fd485cb82ef7","name":"Formato de Salida Bd"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"columns":{"mappingMode":"defineBelow","value":{"strength":"={{ $json.sentimentAnalysis.strength }}","confidence":"={{ $json.sentimentAnalysis.confidence }}","caseid":"={{ $json.ticketId }}","customer":"={{ $json.body['datos del ticket'].Incidente.Cliente }}","cid":"={{ $json.customerId }}","sentiment":"={{ $json.sentimentAnalysis.category }}","analisis":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caseid","displayName":"caseid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"strength","displayName":"strength","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"json_data","displayName":"json_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"analisis","displayName":"analisis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2080,200],"id":"52cef3e0-250e-4589-af8a-a4146270b59d","name":"Postgres","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}},"disabled":true},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Validar existencia general\nif (!input.info || !input.messages || !input.cierre) {\n  throw new Error('Faltan secciones del JSON: se esperaba \"info\", \"messages\" y \"cierre\" en el mismo objeto.');\n}\n\n// Función utilitaria para validar campos\nfunction validateField(obj, key, type = 'string', required = true) {\n  if (!obj.hasOwnProperty(key)) {\n    if (required) throw new Error(`Falta la clave: ${key}`);\n    return;\n  }\n  if (type === 'object') {\n    if (typeof obj[key] !== 'object' || obj[key] === null || Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un objeto`);\n    }\n  } else if (type === 'array') {\n    if (!Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un array`);\n    }\n  } else {\n    if (typeof obj[key] !== type) {\n      throw new Error(`La clave \"${key}\" debe ser de tipo ${type}`);\n    }\n  }\n}\n\n// Validar \"info\"\nconst info = input.info;\n\n['id', 'title', 'casenumber', 'customerID', 'customerName', 'customerType', 'startdate', 'enddate', 'phonealt']\n  .forEach(key => validateField(info, key));\n\n['assigned', 'type', 'type_event', 'creator', 'category', 'services', 'status']\n  .forEach(key => {\n    validateField(info, key, 'object');\n    validateField(info[key], 'id');\n    validateField(info[key], 'value');\n  });\n\n// Validar \"messages\"\nvalidateField(input, 'messages', 'array');\ninput.messages.forEach((msg, i) => {\n  try {\n    validateField(msg, 'id');\n    validateField(msg, 'author', 'object');\n    validateField(msg.author, 'id');\n    validateField(msg.author, 'value');\n    validateField(msg, 'authoremail');\n    validateField(msg, 'date');\n    validateField(msg, 'datesecs', 'number');\n    validateField(msg, 'message');\n    // \"attachment\" es opcional\n  } catch (e) {\n    throw new Error(`Error en messages[${i}]: ${e.message}`);\n  }\n});\n\n// Validar \"cierre\"\nconst cierre = input.cierre;\n\n[\n  'CaseId', 'Company', 'Imputabilidad', 'Responsable',\n  'Unavailable_Minutes', 'unavailable_to_report_minutes',\n  'Type_of_Unavailable', 'date_upgrade_services_affecte',\n  'General_description_cause', 'Servicio', 'Area',\n  'person_confirms_closure', 'overview_fall', 'Reason_for_Closing',\n  'SubReason_for_Closing', 'Equipment', 'Node', 'Displacement',\n  'Reason_Displacement', 'Include_Report', 'Cause_Internal_Error',\n  'email_confirm_close', 'Development_Process_Realized',\n  'Incident_Description', 'Action_Plan'\n].forEach(key => validateField(cierre, key, 'string', false));\n\n// ✅ Si todo es válido, retornar el JSON original\nreturn [{ \n    json: input \n  }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,-40],"id":"f1c8d964-cc15-4db2-9058-c00d72cc8eab","name":"ValidoJson","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb42c2f-9353-4efe-86a6-4cbd44dd8af5","leftValue":"={{ $json.info }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[180,-40],"id":"0505b532-7798-4552-bf49-4e2bcfb8b0cf","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !  {{ $json.message }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-300],"id":"cd6ba465-a9b2-4069-aa27-eba497f2b4c9","name":"ErrorJsonOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"responseFormat":"json_object","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,560],"id":"80d65ad8-b4e4-45f2-bfc1-fa2cef844969","name":"OpenAI Chat Model3","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utiliza llama 8B"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8261ecd4-5d63-40d3-a197-84ec088319e4","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Positive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Positive"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Neutral","operator":{"type":"string","operation":"equals"},"id":"9711ac4e-3710-4f8f-8ff5-c55e9e8aa705"}],"combinator":"and"},"renameOutput":true,"outputKey":"Neutral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8ac4b5e-0426-4b4b-a19c-1d75ce44e5e9","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Negative","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negative"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d113d642-dafe-4ddd-8df3-486711a77ebe","leftValue":"Error","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2360,-460],"id":"5545d67a-f780-4f23-b628-d345318ff242","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"={{ $('Switch').item.json.success }}","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Switch').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"={{ $('Switch').item.json.cierre }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Switch').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Switch').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('Switch').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('Switch').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('Switch').item.json.output }}","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3760,-680],"id":"53bbf65f-165a-4c20-9661-53beda042a6d","name":"Formato de Salida Bd2"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('ConverToIntegerCID').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('ConverToIntegerCID').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('ConverToIntegerCID').item.json.output }}","type":"object"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,-160],"id":"9948c035-a343-471d-bdd6-bb34f2bfc706","name":"Formato de Salida Bd1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1980,-460],"id":"fe74077d-fdac-45e0-af76-7a478aee28f9","name":"Merge_salida"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"=false","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"error","value":"No se envío el email","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3760,-220],"id":"63b420ab-ceea-4706-840c-d70d637b7a6e","name":"Salida Error"},{"parameters":{"method":"POST","url":"http://192.168.2.12:5678/webhook/send-mail-aifx","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"adiazs@ifxcorp.com,jfernandez@ifxcorp.com,begonzalez@ifxcorp.com"},{"name":"bcc","value":" jaimep@ifxcorp.com"},{"name":"subject","value":"=Analisis de sentimiento:   {{ $json.ticketId }} - {{ $json.sentimentAnalysis.category }}"},{"name":"message_html","value":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #fbeaea;\n      border-left: 6px solid #e53935;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #e53935;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/e53935/sad.png\">\n          <span class=\"sentiment-type\">Sentimiento Negativo</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3380,-220],"id":"2bcd5a2b-f2ae-4128-a837-b5ada27037bc","name":"Email Negativo","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"http://192.168.2.12:5678/webhook/send-mail-aifx","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"adiazs@ifxcorp.com,jfernandez@ifxcorp.com,begonzalez@ifxcorp.com"},{"name":"bcc","value":" jaimep@ifxcorp.com"},{"name":"subject","value":"Analisis de sentimiento:   {{ $json.ticketId }} - {{ $json.sentimentAnalysis.category }}"},{"name":"message_html","value":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #eaf6f0;\n      border-left: 6px solid #2196f3;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #1a237e;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/2196f3/happy.png\">\n          <span class=\"sentiment-type\">Sentimiento Positivo</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3380,-680],"id":"37fe04a5-5371-4370-a369-93644449e8d2","name":"Email Positivo","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"http://192.168.2.12:5678/webhook/send-mail-aifx","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"adiazs@ifxcorp.com,jfernandez@ifxcorp.com,begonzalez@ifxcorp.com"},{"name":"bcc","value":" jaimep@ifxcorp.com"},{"name":"subject","value":"=Analisis de sentimiento:    {{ $('Switch').item.json.ticketId }} - {{ $('Switch').item.json.sentimentAnalysis.category }}"},{"name":"message_html","value":"={{ $json.html }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,-460],"id":"e13eba75-e25d-416f-9758-41dd2fade56a","name":"Email Neutro","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,-300],"id":"e83c5b16-b2f1-4c71-8918-5f020a8f537c","name":"ErrorJsonNoValido1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3120,60],"id":"c5c73046-96c5-4ba3-96e1-82d33f9f1ee3","name":"ErrorJsonNoValido"},{"parameters":{"jsonSchemaExample":"{\n  \"resumen\":\"\",\n  \"fragmento\":\"\",\n  \"recomendaciones\":[\"\",\"\",\"\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1240,1040],"id":"800df4f2-ce26-4ac6-ae56-325a7724b663","name":"Structured Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"resumen\":\"\",\n  \"fragmento\":\"\",\n  \"recomendaciones\":[\"\",\"\",\"\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1240,580],"id":"40558252-eb71-4b9c-9cf5-038f8a157607","name":"Structured Output Parser1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #fbeaea;\n      border-left: 6px solid #e53935;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #e53935;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/e53935/sad.png\">\n          <span class=\"sentiment-type\">Sentimiento Negativo</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3100,-220],"id":"8f16e417-6ff3-4618-a6f0-3c16a75358a8","name":"HTML","disabled":true},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    /* Estilos condicionales para cada tipo de sentimiento */\n    .info-table-Negative {\n      background: #ffebee !important;\n      border-left: 6px solid #f44336 !important;\n    }\n    .info-table-Positive {\n      background: #e8f5e8 !important;\n      border-left: 6px solid #4caf50 !important;\n    }\n    .info-table-Neutral {\n      background: #f4f7fb !important;\n      border-left: 6px solid #90a4ae !important;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #f5f7fa;\n      border-left: 6px solid #90a4ae;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #607d8b;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table info-table-{{ $('Merge_salida').item.json.sentimentAnalysis.category }} \">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\"></span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\"><b>{{ $json.sentimentAnalysis.category }}</b></span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      \n      <!-- Resumen -->\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          \n          <span class=\"sentiment-type\">Resumen del Análisis</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output.resumen }}</div>\n      </div>\n\n      <!-- Fragmento -->\n      <div class=\"sentiment-block info-table-{{ $('Merge_salida').item.json.sentimentAnalysis.category }}\">\n        <div class=\"sentiment-header\">\n          \n          <span class=\"sentiment-type\">Fragmento</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output.fragmento }}</div>\n      </div>\n\n            <!-- Recomendaciones -->\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n         \n          <span class=\"sentiment-type\">Recomendaciones</span>\n        </div>\n        <div class=\"sentiment-text\">\n          <div style=\"margin: 0; padding-left: 20px;\">\n            • {{ $json.output.recomendaciones[0] }}<br><br>\n            • {{ $json.output.recomendaciones[1] }}<br><br>\n            • {{ $json.output.recomendaciones[2] }}\n          </div>\n        </div>\n      </div>\n      \n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3100,-460],"id":"ed478c57-ee69-453b-8cb5-0d7663617a4d","name":"HTML1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #eaf6f0;\n      border-left: 6px solid #2196f3;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #1a237e;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/2196f3/happy.png\">\n          <span class=\"sentiment-type\">Sentimiento Positivo</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3100,-680],"id":"5465d8dc-434b-4d9e-b76c-2f2a33a0dc0a","name":"HTML2","disabled":true},{"parameters":{"description":"Valida La respuesta siempre debe ser un json, la estructura del json es: \n  resumen:string\n  fragmento\":string\n  recomendaciones:array"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1100,580],"id":"8dfacbdd-aa33-4a93-b34c-f356a0d1b6da","name":"Think","alwaysOutputData":true},{"parameters":{"description":"Valida La respuesta siempre debe ser un json, la estructura del json es: \n  resumen:string\n  fragmento\":string\n  recomendaciones:array"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1100,1120],"id":"f4a551ac-cdff-4ec4-b133-fadaf4d247fa","name":"Think1","alwaysOutputData":true}],"connections":{"Webhook":{"main":[[{"node":"ValidoJson","type":"main","index":0},{"node":"Merge_salida","type":"main","index":2}]]},"Code":{"main":[[{"node":"busca_tt","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Formateo de Campos","type":"main","index":0}],[{"node":"Formateo de Campos","type":"main","index":0}],[{"node":"Formateo de Campos1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Formato de Salida Endpoint_2","type":"main","index":0}]]},"Formateo de Campos":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Formato de Salida Endpoint":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Formateo de Campos1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Formato de Salida Endpoint","type":"main","index":0}]]},"Formato de Salida Endpoint_2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ConverToIntegerCID","type":"main","index":0}]]},"ConverToIntegerCID":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"busca_tt":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Formato de Salida Bd","type":"main","index":0}],[{"node":"Sentiment Analysis","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Formato de Salida Bd1","type":"main","index":0}]]},"Formato de Salida Bd":{"main":[[{"node":"Merge_salida","type":"main","index":0}]]},"ValidoJson":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"ErrorJsonNoValido1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"ErrorJsonOutput","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"HTML1","type":"main","index":0}],[{"node":"HTML1","type":"main","index":0}],[{"node":"HTML1","type":"main","index":0}],[{"node":"ErrorJsonNoValido","type":"main","index":0}]]},"Formato de Salida Bd1":{"main":[[{"node":"Merge_salida","type":"main","index":1}]]},"Merge_salida":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Email Negativo":{"main":[[],[]]},"Email Positivo":{"main":[[],[]]},"Email Neutro":{"main":[[{"node":"Formato de Salida Bd2","type":"main","index":0}],[{"node":"Salida Error","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"HTML":{"main":[[{"node":"Email Negativo","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Email Neutro","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"Email Positivo","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"200.62.6.89","x-forwarded-for":"200.62.6.89","x-forwarded-proto":"https","connection":"upgrade","content-length":"53222","x-correlation-id":"6db61e70-4854-11f0-a506-0affccd37bb9","user-agent":"AHC/1.0","accept":"*/*","content-type":"application/json; charset=UTF-8"},"params":{},"query":{},"body":{"info":{"id":"32040288","title":"Urgentee. - intermitencias red?,- Argentina Virtual Networks s.r.l - cliente #13174","casenumber":"TT923712","customerID":"9492","customerName":"ARGENTINA VIRTUAL NETWORKS SRL","customerType":"Gold","assigned":{"id":"2889923","value":"Conectividad_Gold"},"startdate":"11/05/2024 6:55 AM","enddate":"11/07/2024 5:23 PM","phonealt":"","type":{"id":"1","value":"Incidencia"},"type_event":{"id":"","value":""},"creator":{"id":"41181","value":"Juan Pablo Windels"},"category":{"id":"263","value":"Intermitencias"},"services":{"id":"10586","value":"117561-Premium IP"},"status":{"id":"7","value":"Cerrado"}},"messages":[{"id":"142567059","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/13/2024 3:55 AM","datesecs":1731498900000,"message":" ARGENTINA VIRTUAL NETWORKS SRL Incidente Mayor N&ordm;: TT924163 Caso Ticket N&ordm;: TT923712 Incidente Fecha Hora Inicio Incidente 06/11/2024 3:26:00 Fin Incidente 06/11/2024 7:13:00 Indisponibilidad Total 941 minutos CID SID NOMBRE 13174 117561 117561-Premium IP El día 06/11/2024 sobre las 15:26 GMT-5, sobre nuestra plataforma de monitoreo se evidencian alarmas sobre servicios de algunos clientes aprovisionados en Argentina Una vez detectadas las alarmas, se inició con el proceso de validación para determinar la causa de la interrupción del servicio. El diagnóstico realizado por nuestros ingenieros de soporte, tanto en el enlace como en varios puntos de nuestra red, indicó que la novedad se debió a un mal funcionamiento en el equipo de borde del nodo Cabase. Se organizó una mesa de trabajo con nuestros especialistas y el personal del fabricante, lo que permitió evidenciar lo siguiente: se llevó a cabo un análisis exhaustivo del equipo, donde se detectó una anomalía sobre el equipo SW BUE-SWT-04 después de aplicar parches de seguridad. Se efectuó un rollback del parche para restaurar la configuración original y reinicio del equipo, continuando con la novedad. Se decidió instalar un nuevo switch para realizar un bypass del BUE-SWT-04, conectando uno de los Router del servidor y el equipo troncal BUE-SWT-08. Con esta actividad, se observó el comportamiento esperado de los peers, estableciéndose sin flaps. Posteriormente se detectó un comportamiento anómalo en el equipo Nexus BUE-SWT-08, el cual impedía la salida de datos por uno de los puertos que integran el LAG compartido con el BUE-SWT-04, sin generar errores ni caídas en el puerto. Se procede a deshabilitar el puerto que presenta el comportamiento anómalo. Con las labores realizadas anteriormente se solvento la afectación, se normalizan los servicios y se confirma con clientes. Se realiza monitoreo sin evidenciar más eventos. se migra tráfico por otro equipo del mismo performance, y se deshabilita el puerto que genera la novedad. ","attachment":{}},{"id":"142069400","author":{"id":"41181","value":"Juan Pablo Windels"},"authoremail":"sistemas@argentinavirtual.net","date":"11/05/2024 6:55 AM","datesecs":1730818500000,"message":" Estimados amigos de IFX, Hoy estamos notando problemas en la conectividad por momentos, están teniendo algún problema?, desde el 15/10 que tuvieron el inconveniente no puedo ver el consumo que tenemos en: https://vipcacti.ifxnetworks.com/ el gráfico figura en blanco al parecer desde ese mismo día, me lo podrían arreglar ya que es muy importante para nosotros?, muchas gracias! Saludos. Juan Pablo Windels +5491159083923 Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- El 15/10/2024 a las 16:40, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, Hoy estamos con el mismo problema: Corte al final, el día Lunes 30 septiembre paso lo mismo, nos informaron del data que venía de ahí pero no nos indicaron el motivo, luego paso el 04/10 y ahora de nuevo, podrían verificar por favor. La útima vez nos indicaron que estaba todo bien pero fue revisado una horas cuando volvió a la normalidad. En este momento estamos con el inconveniente. En algun que otro proveedor se puede pinguear, no todos: Muchas gracias! Juan Pablo Windels +5491159083923 El 04/10/2024 a las 16:38, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, En el día de la fecha estamos presentando cortes e intermitencias hace 30m aprox, el gráfico muestra corte: El día Lunes 30 paso lo mismo casi 4hs, por momentos inaccesible, desde las 20:30hs notamos junto con nuestros clientes. Les paso el gráfico https://vipcacti.ifxnetworks.com/ de ese día: ------ El Lunes nos habían confirmado que venía de IFX (soporte NOC), pero nunca nos llegó que fue, hoy esta pasando lo mismo. Por favor es urgente. Sin mas, los saluda atte., Muchas gracias! Juan Pablo Windels +5491159083923 -- Saludos. Juan Pablo Windels Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ","attachment":{}},{"id":"142082203","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 9:47 AM","datesecs":1730828820000,"message":" Apreciado cliente ARGENTINA VIRTUAL NETWORKS SRLEl caso TT923712 cambió a estado Pendiente confirmar cierre.Si autoriza el cierre de manera inmediata por favor dar Clic AquíSi presenta alguna novedad para el equipo Care y desea que retomen la gestión del caso dar Mantener Caso​Si desea mantener el caso abierto para su revisión y recibir este recordatorio en 24 horas dar Clic AquíNota: En caso de no elegir ninguna de las opciones, el sistema lo cerrará de manera automática en la próximas 12hrs ","attachment":{}},{"id":"142078756","author":{"id":"3080777","value":"BRAYAN EDUARDO ROMERO SUAREZ"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 9:14 AM","datesecs":1730826840000,"message":"Se intenta contactar al cliente.Sin respuesta ","attachment":{}},{"id":"142077492","author":{"id":"3080777","value":"BRAYAN EDUARDO ROMERO SUAREZ"},"authoremail":"beromero@ifxcorp.com","date":"11/05/2024 8:56 AM","datesecs":1730825760000,"message":" Novedades Caso TT923712 : Buen día estimado cliente.Solicito su amable colaboración compartiéndome una traza a la pagina vipcacti.ifxnetworks.comQuedo atento.Cordialmente BRAYAN EDUARDO ROMERO SUAREZ beromero@ifxcorp.com Estimados amigos de IFX, Hoy estamos notando problemas en la conectividad por momentos, están teniendo algún problema?, desde el 15/10 que tuvieron el inconveniente no puedo ver el consumo que tenemos en: https://vipcacti.ifxnetworks.com/ el gráfico figura en blanco al parecer desde ese mismo día, me lo podrían arreglar ya que es muy importante para nosotros?, muchas gracias! Saludos. Juan Pablo Windels +5491159083923 Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- El 15/10/2024 a las 16:40, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, Hoy estamos con el mismo problema: Corte al final, el día Lunes 30 septiembre paso lo mismo, nos informaron del data que venía de ahí pero no nos indicaron el motivo, luego paso el 04/10 y ahora de nuevo, podrían verificar por favor. La útima vez nos indicaron que estaba todo bien pero fue revisado una horas cuando volvió a la normalidad. En este momento estamos con el inconveniente. En algun que otro proveedor se puede pinguear, no todos: Muchas gracias! Juan Pablo Windels +5491159083923 El 04/10/2024 a las 16:38, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, En el día de la fecha estamos presentando cortes e intermitencias hace 30m aprox, el gráfico muestra corte: El día Lunes 30 paso lo mismo casi 4hs, por momentos inaccesible, desde las 20:30hs notamos junto con nuestros clientes. Les paso el gráfico https://vipcacti.ifxnetworks.com/ de ese día: ------ El Lunes nos habían confirmado que venía de IFX (soporte NOC), pero nunca nos llegó que fue, hoy esta pasando lo mismo. Por favor es urgente. Sin mas, los saluda atte., Muchas gracias! Juan Pablo Windels +5491159083923 -- Saludos. Juan Pablo Windels Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ","attachment":{}},{"id":"142081775","author":{"id":"3080777","value":"BRAYAN EDUARDO ROMERO SUAREZ"},"authoremail":"beromero@ifxcorp.com","date":"11/05/2024 9:44 AM","datesecs":1730828640000,"message":" Novedades Caso TT923712 : Cordial Saludo,  Estimados,De acuerdo con su solicitud se requiere el envió de la traza.Se intenta contactar al numero en el correo pero no se tiene respuesta.Desde este momento inician 12 horas para recibir su retroalimentación y/o aprobación, en caso de no recibir respuesta una vez finalice este tiempo, se entenderá como aprobado y se procederá con el cierre; cualquier novedad se trabajará con un nuevo caso. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus solicitudes garantizando un excelente servicio.Quedamos atentos a cualquier comentario,Cordialmente,   BRAYAN EDUARDO ROMERO SUAREZ beromero@ifxcorp.com Novedades Caso TT923712 : Buen día estimado cliente.Solicito su amable colaboración compartiéndome una traza a la pagina vipcacti.ifxnetworks.comQuedo atento.Cordialmente BRAYAN EDUARDO ROMERO SUAREZ beromero@ifxcorp.com Estimados amigos de IFX, Hoy estamos notando problemas en la conectividad por momentos, están teniendo algún problema?, desde el 15/10 que tuvieron el inconveniente no puedo ver el consumo que tenemos en: https://vipcacti.ifxnetworks.com/ el gráfico figura en blanco al parecer desde ese mismo día, me lo podrían arreglar ya que es muy importante para nosotros?, muchas gracias! Saludos. Juan Pablo Windels +5491159083923 Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- El 15/10/2024 a las 16:40, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, Hoy estamos con el mismo problema: Corte al final, el día Lunes 30 septiembre paso lo mismo, nos informaron del data que venía de ahí pero no nos indicaron el motivo, luego paso el 04/10 y ahora de nuevo, podrían verificar por favor. La útima vez nos indicaron que estaba todo bien pero fue revisado una horas cuando volvió a la normalidad. En este momento estamos con el inconveniente. En algun que otro proveedor se puede pinguear, no todos: Muchas gracias! Juan Pablo Windels +5491159083923 El 04/10/2024 a las 16:38, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, En el día de la fecha estamos presentando cortes e intermitencias hace 30m aprox, el gráfico muestra corte: El día Lunes 30 paso lo mismo casi 4hs, por momentos inaccesible, desde las 20:30hs notamos junto con nuestros clientes. Les paso el gráfico https://vipcacti.ifxnetworks.com/ de ese día: ------ El Lunes nos habían confirmado que venía de IFX (soporte NOC), pero nunca nos llegó que fue, hoy esta pasando lo mismo. Por favor es urgente. Sin mas, los saluda atte., Muchas gracias! Juan Pablo Windels +5491159083923 -- Saludos. Juan Pablo Windels Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ","attachment":{}},{"id":"142126116","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 8:29 PM","datesecs":1730867340000,"message":" Estimado Cliente, ARGENTINA VIRTUAL NETWORKS SRL Comunicado No 305/11/2024 8:30 PM GMT-5Estimado ClienteLe informamos que estamos realizando configuración de equipo backup como medida de contingencia , seguimos realizando pruebas para garantizar la estabilidad de red , pedimos amablemente disculpas por los inconvenientes presentados ,hasta el momento no contamos con un tiempo estimado de resolución (ETR).   Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"142142402","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/06/2024 7:21 AM","datesecs":1730906460000,"message":" Estimado Cliente, ARGENTINA VIRTUAL NETWORKS SRL Comunicado No 706/11/2024 7:16 AM GMT-5Estimado ClienteLe informamos que el evento de conectividad que estábamos presentando, ya fue solucionada, en estos momentos los servicios se encuentran operativos, agradecemos su amable colaboración verificando y confirmando el estado del mismo, en caso de presentar inconvenientes comunicarse a la línea de atención del CARE, el RFO será compartido en los próximos días.   Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"142114064","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 4:43 PM","datesecs":1730853780000,"message":" Estimado Cliente, ARGENTINA VIRTUAL NETWORKS SRL Comunicado No 105/11/2024 4:45 PM GMT-5Estimado ClienteLe informamos que estamos presentando afectación sobre nuestros servicios de conectividad. Nuestro equipo de ingenieros se encuentra trabajando para diagnosticar la causa de la falla; por lo anterior, en este momento no contamos con tiempo estimado de solución. Lamentamos los inconvenientes presentados.   Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"142121025","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 6:58 PM","datesecs":1730861880000,"message":" Estimado Cliente, ARGENTINA VIRTUAL NETWORKS SRL Comunicado No 205/11/2024 7:00 PM GMT-5Estimado ClienteLe informamos que tras realizar una validación en conjunto con nuestro proveedor local encontramos fallas con el equipo IXP-BU por ruteos , estamos realizando un rollback para corregir conexiones en la red , pedimos amablemente disculpas por los inconvenientes presentados.   Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"142130395","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 11:28 PM","datesecs":1730878080000,"message":" Estimado Cliente, ARGENTINA VIRTUAL NETWORKS SRL Comunicado No 505/11/2024 11:27 PM GMT-5Estimado ClienteLe informamos que el personal actualmente esta en el datacenter realizando pruebas y configuraciones para  normalizar los servicios de manera definitiva, de momento no se cuenta con un ETR, pedimos amablemente disculpas por los inconvenientes presentados y estaremos informando una vez se tengan nuevos avances.   Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"142112354","author":{"id":"3080777","value":"BRAYAN EDUARDO ROMERO SUAREZ"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 4:09 PM","datesecs":1730851740000,"message":"Se asocia a masivo ya que se volvio a caer","attachment":{}},{"id":"142105060","author":{"id":"3080777","value":"BRAYAN EDUARDO ROMERO SUAREZ"},"authoremail":"beromero@ifxcorp.com","date":"11/05/2024 2:47 PM","datesecs":1730846820000,"message":" Novedades Caso TT923712 : Cordial Saludo,  Estimados,De acuerdo con su solicitud se le informa que se tiene otra plataforma en la pagina \"0vipmonitoreo.ifxnetworks.com\",  agradezco validar la vista de la plataforma de monitoreo Agradezco su colaboración validando y confirmando si requiere de alguna gestión adicional o procedemos con el cierre del caso Desde este momento inician 12 horas para recibir su retroalimentación y/o aprobación, en caso de no recibir respuesta una vez finalice este tiempo, se entenderá como aprobado y se procederá con el cierre; cualquier novedad se trabajará con un nuevo caso. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus solicitudes garantizando un excelente servicio.Quedamos atentos a cualquier comentario,Cordialmente,  BRAYAN EDUARDO ROMERO SUAREZ beromero@ifxcorp.com No vamos a tener más acceso a ningún tipo de gráfico para poder ver el consumo? Muchas gracias por tu respuesta. Juan Pablo Windels +5491159083923 Saludos Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- El 05/11/2024 a las 13:07, BRAYAN EDUARDO ROMERO SUAREZ escribió:   Novedades   Caso TT923712 : Buen día estimado. La plataforma  ya no se encuentra en uso y esta en proceso de ser descontinuada por temas de seguridad, por eso no muestra los gráficos de trafico en blanco. Actualmente nosotros contamos con otra graficadora, pero a esta es para uso de los empleados. Quedo atentos a comentarios. Cordialmente       BRAYAN EDUARDO ROMERO SUAREZ    beromero@ifxcorp.com     Buenas! Recién desde el canal de WhatsApp me indicaron: \"Nos reportaron afectación masiva a nivel de BGP y problemas de navegación\" Pero que ya estaría. Al link mencionado puedo ingresar sin problema, el tema es que el gráfico no demuestra información del consumo de banda ancha desde el problema que tuvieron el 15/10. Podrían verlo, adjunto campura. Gracias Jp   Novedades   Caso TT923712 : Buen día estimado cliente. Solicito su amable colaboración compartiéndome una traza a la pagina vipcacti.ifxnetworks.com Quedo atento. Cordialmente       BRAYAN EDUARDO ROMERO SUAREZ    beromero@ifxcorp.com     -------- Mensaje original -------- De: BRAYAN EDUARDO ROMERO SUAREZ &lt;beromero@ifxcorp.com&gt; Fecha: 5/11/2024 10:56 (GMT-03:00) A: sistemas@argentinavirtual.net, pjimenez@ifxcorp.com, emmartinez@ifxcorp.com, care@ifxcorp.com, dcbsas@ifxcorp.com, pjimenez@ifxcorp.com, emmartinez@ifxcorp.com Asunto: RE: TT923712 Urgentee. - intermitencias red?,- Argentina Virtual Networks s.r.l - cliente #13174 Estimados amigos de IFX, Hoy estamos notando problemas en la conectividad por momentos, están teniendo algún problema?, desde el 15/10 que tuvieron el inconveniente no puedo ver el consumo que tenemos en: https://vipcacti.ifxnetworks.com/  el gráfico figura en blanco al parecer desde ese mismo día, me lo podrían arreglar ya que es muy importante para nosotros?, muchas gracias! Saludos. Juan Pablo Windels +5491159083923 Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- El 15/10/2024 a las 16:40, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, Hoy estamos con el mismo problema: Corte al final,  el día Lunes 30 septiembre paso lo mismo, nos informaron del data que venía de ahí pero no nos indicaron el motivo, luego paso el 04/10 y ahora de nuevo, podrían verificar por favor. La útima vez nos indicaron que estaba todo bien pero fue revisado una horas cuando volvió a la normalidad. En este momento estamos con el inconveniente. En algun que otro proveedor se puede pinguear, no todos: Muchas gracias! Juan Pablo Windels +5491159083923 El 04/10/2024 a las 16:38, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, En el día de la fecha estamos presentando cortes e intermitencias hace 30m aprox, el gráfico muestra corte: El día Lunes 30  paso lo mismo casi 4hs, por momentos inaccesible, desde las 20:30hs  notamos junto con nuestros clientes. Les paso el gráfico https://vipcacti.ifxnetworks.com/ de ese día:   ------ El  Lunes nos habían confirmado que venía de IFX (soporte NOC), pero nunca nos llegó que fue, hoy esta pasando lo mismo. Por favor es urgente. Sin mas, los saluda atte., Muchas gracias! Juan Pablo Windels +5491159083923 -- Saludos. Juan Pablo Windels Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ","attachment":{}},{"id":"142088461","author":{"id":"3080777","value":"BRAYAN EDUARDO ROMERO SUAREZ"},"authoremail":"beromero@ifxcorp.com","date":"11/05/2024 11:07 AM","datesecs":1730833620000,"message":" Novedades Caso TT923712 : Buen día estimado.La plataforma  ya no se encuentra en uso y esta en proceso de ser descontinuada por temas de seguridad, por eso no muestra los gráficos de trafico en blanco.Actualmente nosotros contamos con otra graficadora, pero a esta es para uso de los empleados.Quedo atentos a comentarios.Cordialmente BRAYAN EDUARDO ROMERO SUAREZ beromero@ifxcorp.com Buenas!Recién desde el canal de WhatsApp me indicaron:\"Nos reportaron afectación masiva a nivel de BGP y problemas de navegación\"Pero que ya estaría.Al link mencionado puedo ingresar sin problema, el tema es que el gráfico no demuestra información del consumo de banda ancha desde el problema que tuvieron el 15/10.Podrían verlo, adjunto campura.GraciasJp Novedades Caso TT923712 : Buen día estimado cliente.Solicito su amable colaboración compartiéndome una traza a la pagina vipcacti.ifxnetworks.comQuedo atento.Cordialmente BRAYAN EDUARDO ROMERO SUAREZ beromero@ifxcorp.com -------- Mensaje original --------De: BRAYAN EDUARDO ROMERO SUAREZ &lt;beromero@ifxcorp.com&gt; Fecha: 5/11/2024 10:56 (GMT-03:00) A: sistemas@argentinavirtual.net, pjimenez@ifxcorp.com, emmartinez@ifxcorp.com, care@ifxcorp.com, dcbsas@ifxcorp.com, pjimenez@ifxcorp.com, emmartinez@ifxcorp.com Asunto: RE: TT923712 Urgentee. - intermitencias red?,- Argentina Virtual Networks s.r.l - cliente #13174 Estimados amigos de IFX, Hoy estamos notando problemas en la conectividad por momentos, están teniendo algún problema?, desde el 15/10 que tuvieron el inconveniente no puedo ver el consumo que tenemos en: https://vipcacti.ifxnetworks.com/ el gráfico figura en blanco al parecer desde ese mismo día, me lo podrían arreglar ya que es muy importante para nosotros?, muchas gracias! Saludos. Juan Pablo Windels +5491159083923 Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- El 15/10/2024 a las 16:40, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, Hoy estamos con el mismo problema: Corte al final, el día Lunes 30 septiembre paso lo mismo, nos informaron del data que venía de ahí pero no nos indicaron el motivo, luego paso el 04/10 y ahora de nuevo, podrían verificar por favor. La útima vez nos indicaron que estaba todo bien pero fue revisado una horas cuando volvió a la normalidad. En este momento estamos con el inconveniente. En algun que otro proveedor se puede pinguear, no todos: Muchas gracias! Juan Pablo Windels +5491159083923 El 04/10/2024 a las 16:38, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, En el día de la fecha estamos presentando cortes e intermitencias hace 30m aprox, el gráfico muestra corte: El día Lunes 30 paso lo mismo casi 4hs, por momentos inaccesible, desde las 20:30hs notamos junto con nuestros clientes. Les paso el gráfico https://vipcacti.ifxnetworks.com/ de ese día: ------ El Lunes nos habían confirmado que venía de IFX (soporte NOC), pero nunca nos llegó que fue, hoy esta pasando lo mismo. Por favor es urgente. Sin mas, los saluda atte., Muchas gracias! Juan Pablo Windels +5491159083923 -- Saludos. Juan Pablo Windels Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ","attachment":{}},{"id":"142105267","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 2:48 PM","datesecs":1730846880000,"message":" Apreciado cliente ARGENTINA VIRTUAL NETWORKS SRLEl caso TT923712 cambió a estado Pendiente confirmar cierre.Si autoriza el cierre de manera inmediata por favor dar Clic AquíSi presenta alguna novedad para el equipo Care y desea que retomen la gestión del caso dar Mantener Caso​Si desea mantener el caso abierto para su revisión y recibir este recordatorio en 24 horas dar Clic AquíNota: En caso de no elegir ninguna de las opciones, el sistema lo cerrará de manera automática en la próximas 12hrs ","attachment":{}},{"id":"142100913","author":{"id":"-4","value":"sistemas@argentinavirtual.net"},"authoremail":"sistemas@argentinavirtual.net","date":"11/05/2024 1:51 PM","datesecs":1730843460000,"message":" No vamos a tener más acceso a ningún tipo de gráfico para poder ver el consumo? Muchas gracias por tu respuesta. Juan Pablo Windels +5491159083923 Saludos Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- El 05/11/2024 a las 13:07, BRAYAN EDUARDO ROMERO SUAREZ escribió:   Novedades   Caso TT923712 : Buen día estimado. La plataforma  ya no se encuentra en uso y esta en proceso de ser descontinuada por temas de seguridad, por eso no muestra los gráficos de trafico en blanco. Actualmente nosotros contamos con otra graficadora, pero a esta es para uso de los empleados. Quedo atentos a comentarios. Cordialmente       BRAYAN EDUARDO ROMERO SUAREZ    beromero@ifxcorp.com     Buenas! Recién desde el canal de WhatsApp me indicaron: \"Nos reportaron afectación masiva a nivel de BGP y problemas de navegación\" Pero que ya estaría. Al link mencionado puedo ingresar sin problema, el tema es que el gráfico no demuestra información del consumo de banda ancha desde el problema que tuvieron el 15/10. Podrían verlo, adjunto campura. Gracias Jp   Novedades   Caso TT923712 : Buen día estimado cliente. Solicito su amable colaboración compartiéndome una traza a la pagina vipcacti.ifxnetworks.com Quedo atento. Cordialmente       BRAYAN EDUARDO ROMERO SUAREZ    beromero@ifxcorp.com     -------- Mensaje original -------- De: BRAYAN EDUARDO ROMERO SUAREZ &lt;beromero@ifxcorp.com&gt; Fecha: 5/11/2024 10:56 (GMT-03:00) A: sistemas@argentinavirtual.net, pjimenez@ifxcorp.com, emmartinez@ifxcorp.com, care@ifxcorp.com, dcbsas@ifxcorp.com, pjimenez@ifxcorp.com, emmartinez@ifxcorp.com Asunto: RE: TT923712 Urgentee. - intermitencias red?,- Argentina Virtual Networks s.r.l - cliente #13174 Estimados amigos de IFX, Hoy estamos notando problemas en la conectividad por momentos, están teniendo algún problema?, desde el 15/10 que tuvieron el inconveniente no puedo ver el consumo que tenemos en: https://vipcacti.ifxnetworks.com/  el gráfico figura en blanco al parecer desde ese mismo día, me lo podrían arreglar ya que es muy importante para nosotros?, muchas gracias! Saludos. Juan Pablo Windels +5491159083923 Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- El 15/10/2024 a las 16:40, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, Hoy estamos con el mismo problema: Corte al final,  el día Lunes 30 septiembre paso lo mismo, nos informaron del data que venía de ahí pero no nos indicaron el motivo, luego paso el 04/10 y ahora de nuevo, podrían verificar por favor. La útima vez nos indicaron que estaba todo bien pero fue revisado una horas cuando volvió a la normalidad. En este momento estamos con el inconveniente. En algun que otro proveedor se puede pinguear, no todos: Muchas gracias! Juan Pablo Windels +5491159083923 El 04/10/2024 a las 16:38, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, En el día de la fecha estamos presentando cortes e intermitencias hace 30m aprox, el gráfico muestra corte: El día Lunes 30  paso lo mismo casi 4hs, por momentos inaccesible, desde las 20:30hs  notamos junto con nuestros clientes. Les paso el gráfico https://vipcacti.ifxnetworks.com/ de ese día:   ------ El  Lunes nos habían confirmado que venía de IFX (soporte NOC), pero nunca nos llegó que fue, hoy esta pasando lo mismo. Por favor es urgente. Sin mas, los saluda atte., Muchas gracias! Juan Pablo Windels +5491159083923 -- Saludos. Juan Pablo Windels Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ","attachment":{}},{"id":"142098316","author":{"id":"2186097","value":"LILIANA ROCIO HEREDIA QUIROGA"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 1:13 PM","datesecs":1730841180000,"message":"Buen día Se corrige monitoreo","attachment":{}},{"id":"142085241","author":{"id":"-4","value":"sistemas@argentinavirtual.net"},"authoremail":"sistemas@argentinavirtual.net","date":"11/05/2024 10:50 AM","datesecs":1730832600000,"message":"Buenas!Recién desde el canal de WhatsApp me indicaron:\"Nos reportaron afectación masiva a nivel de BGP y problemas de navegación\"Pero que ya estaría.Al link mencionado puedo ingresar sin problema, el tema es que el gráfico no demuestra información del consumo de banda ancha desde el problema que tuvieron el 15/10.Podrían verlo, adjunto campura.GraciasJp Novedades Caso TT923712 : Buen día estimado cliente.Solicito su amable colaboración compartiéndome una traza a la pagina vipcacti.ifxnetworks.comQuedo atento.Cordialmente BRAYAN EDUARDO ROMERO SUAREZ beromero@ifxcorp.com -------- Mensaje original --------De: BRAYAN EDUARDO ROMERO SUAREZ &lt;beromero@ifxcorp.com&gt; Fecha: 5/11/2024 10:56 (GMT-03:00) A: sistemas@argentinavirtual.net, pjimenez@ifxcorp.com, emmartinez@ifxcorp.com, care@ifxcorp.com, dcbsas@ifxcorp.com, pjimenez@ifxcorp.com, emmartinez@ifxcorp.com Asunto: RE: TT923712 Urgentee. - intermitencias red?,- Argentina Virtual Networks s.r.l - cliente #13174 Estimados amigos de IFX, Hoy estamos notando problemas en la conectividad por momentos, están teniendo algún problema?, desde el 15/10 que tuvieron el inconveniente no puedo ver el consumo que tenemos en: https://vipcacti.ifxnetworks.com/ el gráfico figura en blanco al parecer desde ese mismo día, me lo podrían arreglar ya que es muy importante para nosotros?, muchas gracias! Saludos. Juan Pablo Windels +5491159083923 Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- El 15/10/2024 a las 16:40, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, Hoy estamos con el mismo problema: Corte al final, el día Lunes 30 septiembre paso lo mismo, nos informaron del data que venía de ahí pero no nos indicaron el motivo, luego paso el 04/10 y ahora de nuevo, podrían verificar por favor. La útima vez nos indicaron que estaba todo bien pero fue revisado una horas cuando volvió a la normalidad. En este momento estamos con el inconveniente. En algun que otro proveedor se puede pinguear, no todos: Muchas gracias! Juan Pablo Windels +5491159083923 El 04/10/2024 a las 16:38, Sistemas - Argentina Virtual Networks s.r.l escribió: Estimados amigos de IFX, En el día de la fecha estamos presentando cortes e intermitencias hace 30m aprox, el gráfico muestra corte: El día Lunes 30 paso lo mismo casi 4hs, por momentos inaccesible, desde las 20:30hs notamos junto con nuestros clientes. Les paso el gráfico https://vipcacti.ifxnetworks.com/ de ese día: ------ El Lunes nos habían confirmado que venía de IFX (soporte NOC), pero nunca nos llegó que fue, hoy esta pasando lo mismo. Por favor es urgente. Sin mas, los saluda atte., Muchas gracias! Juan Pablo Windels +5491159083923 -- Saludos. Juan Pablo Windels Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ","attachment":{}},{"id":"142135076","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/06/2024 2:28 AM","datesecs":1730888880000,"message":" Estimado Cliente, ARGENTINA VIRTUAL NETWORKS SRL Comunicado No 606/11/2024 2:30 AM GMT-5Estimado ClienteInformamos que luego de realizar las pruebas y el cambio de equipo los resultados no fueron satisfactorios, por el momento se retiro el personal del datacenter y se  continuara las labores a primera hora,  pedimos amablemente disculpas por los inconvenientes presentados y estaremos informando una vez se tengan nuevos avances.   Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"142128018","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 9:20 PM","datesecs":1730870400000,"message":" Estimado Cliente, ARGENTINA VIRTUAL NETWORKS SRL Comunicado No 405/11/2024 9:20 PM GMT-5Estimado ClienteLe informamos que estamos terminando de realizar configuraciones sobre equipo backup como medida de contingencia , seguimos realizando pruebas para garantizar la estabilidad de red , pedimos amablemente disculpas por los inconvenientes presentados .   Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"142134974","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"11/06/2024 2:26 AM","datesecs":1730888760000,"message":" Estimado Cliente, ARGENTINA VIRTUAL NETWORKS SRL Comunicado No 605/11/2024 2:30 PM GMT-5Estimado ClienteInformamos que luego de realizar las pruebas y el cambio de equipo los resultados no fueron satisfactorios, por el momento se retiro el personal del datacenter y se  continuara las labores a primera hora,  pedimos amablemente disculpas por los inconvenientes presentados y estaremos informando una vez se tengan nuevos avances.   Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"142145759","author":{"id":"16021","value":"ADRIANA  TELLEZ VARGAS"},"authoremail":"atellez@ifxcorp.com","date":"11/06/2024 8:02 AM","datesecs":1730908920000,"message":" INFORME DE CASO --> Número de Caso TT923712 customer {customer.id} caseid {id} --> Fecha y Hora de Apertura del Caso 05/11/2024 6:55:00 am 06/11/2024 9:55:00 am Fecha y Hora de Operabilidad de los Servicios 06/11/2024 9:13:00 am Servicios Asociados 117561-Premium IP Descripción del Caso Se presenta evento focalizado Acciones realizadas Le informamos que el evento de conectividad que estábamos presentando, ya fue solucionada, en estos momentos los servicios se encuentran operativos, agradecemos su amable colaboración verificando y confirmando el estado del mismo, en caso de presentar inconvenientes comunicarse a la línea de atención del CARE, el RFO será compartido en los próximos días. Imputabilidad IFX Persona que Autoriza la Operabilidad y Cierre del Caso Evento Focalizado ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT923712 ? Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio --> --> ","attachment":{}},{"id":"142088690","author":{"id":"3080777","value":"BRAYAN EDUARDO ROMERO SUAREZ"},"authoremail":"care@ifxcorp.com","date":"11/05/2024 11:09 AM","datesecs":1730833740000,"message":"Buen día. Solicito por favor validar el servicio SID_117561_ARGENTINA VIRTUAL NETWORKS SRL ya que aparece abajo desde hace mas de 50 Días y este se encuentra operativo, este monitorea una ip publica la cual responde a ping. Alert Name Message Triggering Object Active Time Related node Equipos Down - All Clients (Casos Netsuite) ARGENTINA VIRTUAL NETWORKS SRL ║ SID: 117561 ║ SWITCH_ACCESO: ║ Nota: SID_117561_ARGENTINA VIRTUAL NETWORKS SRL 58d 9h 13m SID_117561_ARGENTINA VIRTUAL NETWORKS SRL","attachment":{}},{"id":"153588751","author":{"id":"-4","value":"sistemas@argentinavirtual.net"},"authoremail":"sistemas@argentinavirtual.net","date":"06/13/2025 8:46 AM","datesecs":1749829560000,"message":" Hola!, Buenos días. Te escribo para comentarte que el inconveniente reportado ayer (ticket TT1069279) sigue vigente hoy. Resumen del caso: Desde ayer Martes 12/06 a las 6:45 AM del  varios clientes de distintas zonas con proveedor Telecentro no pueden acceder a nuestros servicios alojados en IFX. Se abrió el ticket TT1069279 con soporte CARE y se confirmó que afecta a múltiples rangos IP nuestros: 181.119.146.0/24 45.169.29.0/24, entre otros. Se compartieron IPs de origen de clientes (como 181.44.116.101, 186.19.226.24, 152.168.61.165) para análisis. El problema no ocurre con otros proveedores al momento, si bien nos indicaron algunos casos que también Fibertel pudimos corroborar solo telecentro en todos los casos Agradecemos que se haya escalado a ingeniería de red, pero hoy continúa igual y ya son más de 12hs de afectación. Impacto: Miles de usuarios afectados, sin acceso a nuestros servicios. Esto ya ha ocurrido anteriormente con otro ISP (Fibertel) y se resolvió desde su lado. Les pedimos, por favor, avanzar con la revisión desde su infraestructura y, si es posible, contactar directamente a Telecentro, ya que como proveedor mayorista tendrán más llegada que nosotros como clientes finales. Por favor, ya no sabemos que hacer y no tenemos respuestas. Gracias Saludos Argentina Virtual Networks SRL Ciudad de La Paz 1042 (C1426AGT), Bs As, AR Tel: (-+54-11) 5276-1199 www.argentinavirtual.net sistemas@argentinavirtual.net ----------------------------------------- Desde 1998 con vos. Buscanos en Facebook | Google+ | Linkedin ----------------------------------------- ","attachment":{}}],"cierre":{"CaseId":"32040288","Company":"ARGENTINA VIRTUAL NETWORKS SRL","Imputabilidad":"IFX","Responsable":"ALBA LUCIA GUEVARA ESCOBAR","Unavailable_Minutes":"941","unavailable_to_report_minutes":"941","Type_of_Unavailable":"Caida Total","date_upgrade_services_affecte":"11/06/2024 9:13:00 AM","General_description_cause":"Eventualidad","Servicio":"117561-Premium IP","Area":"","person_confirms_closure":"Evento Focalizado","overview_fall":"Se presenta evento focalizado","Reason_for_Closing":"Evento Focalizado","SubReason_for_Closing":"Falla Proveedor","Equipment":"","Node":"","Displacement":"F","Reason_Displacement":"","Include_Report":"T","Cause_Internal_Error":"","email_confirm_close":"Evento Focalizado","Development_Process_Realized":"","Incident_Description":"Le informamos que el evento de conectividad que estábamos presentando, ya fue solucionada, en estos momentos los servicios se encuentran operativos, agradecemos su amable colaboración verificando y confirmando el estado del mismo, en caso de presentar inconvenientes comunicarse a la línea de atención del CARE, el RFO será compartido en los próximos días.","Action_Plan":"N/A"}},"webhookUrl":"https://n8n.aifx.com.co/webhook/analytics_sent","executionMode":"production"}}]},"versionId":"28416497-64fa-48e8-a289-740c329085ed","triggerCount":1,"tags":[]}