workflowserror workflow.json
{"createdAt":"2025-04-29T12:59:49.721Z","updatedAt":"2025-04-30T16:23:42.000Z","id":"VDWTPl3xTKW7fDqy","name":"error workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-160,0],"id":"8cce3826-cf79-42b8-b953-13887531e308","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b8d04c88-88ef-4160-be6b-3a523b86b5f9","name":"workflow_id","value":"={{$json[\"workflow\"][\"id\"]}}","type":"string"},{"id":"485bdf92-8f2f-4a0c-9469-44acd222b77b","name":"workflow_name","value":"={{$json[\"workflow\"][\"name\"]}}","type":"string"},{"id":"52cadf99-aec0-4c49-b3dc-7a61768a6a57","name":"execution_id","value":"={{$json[\"execution\"][\"id\"]}}","type":"string"},{"id":"5c7841b4-bcc3-46b1-9f20-0541c6465168","name":"execution_url","value":"={{$json[\"execution\"][\"url\"]}}","type":"string"},{"id":"176ed5d5-1ddc-4a3a-b6fa-cd9c8bede0d7","name":"error_message","value":"={{$json[\"error\"][\"message\"]}}","type":"string"},{"id":"902585a1-c55c-45ab-8e84-e9e12ca172bd","name":"error_stack","value":"={{$json[\"error\"][\"stack\"]}}","type":"string"},{"id":"3a859e2f-2e25-4c51-b992-7ebfab561fe4","name":"timestamp","value":"={{$json[\"timestamp\"]}}","type":"string"},{"id":"6f27c85e-8ec8-4680-a7cd-1b498dcfa233","name":"input_data","value":"={{JSON.stringify($json[\"input\"])}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,0],"id":"746206b1-bb79-44fd-a823-b803713bd377","name":"Edit Fields"},{"parameters":{"operation":"insert","collection":"errorlogs","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[340,-140],"id":"73e387a4-b06a-4ecc-bda8-6ac96321f836","name":"MongoDB","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB account"}}},{"parameters":{"authentication":"oAuth2","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[340,140],"id":"ec0b65de-1e91-49a7-851f-eae8fdc28632","name":"Slack","webhookId":"d8f02830-1070-40ba-a5f3-c89371cf0390"}],"connections":{"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"MongoDB","type":"main","index":0},{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e247bd6e-f9fd-4e67-8821-c3ecf1ca10b3","triggerCount":0,"tags":[]}