workflowsAnalisis de Sentimineto Tickets.json
{"createdAt":"2025-04-15T20:50:21.160Z","updatedAt":"2025-06-13T13:56:51.000Z","id":"6OPoBMQaHUd7Qhlm","name":"Analisis de Sentimineto Tickets","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"analytics_sent","responseMode":"lastNode","options":{"allowedOrigins":"*","rawBody":"={{ true }}","responseContentType":"application/json"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,220],"id":"5ac3fa16-8d14-47da-a49c-0ff6929fec08","name":"Webhook","webhookId":"b9086e5a-7118-4682-9d60-8a116a55592b"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json; // El JSON validado y completo\n\nconst info = data.info || {};\nconst cierre = data.cierre || {};\nconst messages = data.messages || [];\n\n// Crear encabezado del ticket\nlet markdown = `# Ticket: ${info.casenumber || 'N/A'}\\n\\n`;\nmarkdown += `**Cliente:** ${info.customerName || 'N/A'}  \\n`;\nmarkdown += `**ID Cliente:** ${info.customerID || 'N/A'}  \\n`;\nmarkdown += `**Estado:** ${info.status?.value || 'N/A'}  \\n`;\nmarkdown += `**Prioridad:** ${info.customerType || 'N/A'}  \\n\\n`;\n\n// Sección de interacciones\nmarkdown += `## Historial de Interacciones\\n\\n`;\n\nif (messages.length > 0) {\n  messages\n    .filter(msg => msg.message && !msg.message.includes('[IMAGE]'))\n    .forEach(msg => {\n      const fecha = msg.date || 'Fecha desconocida';\n      const mensaje = msg.message\n        .replace(/\\n/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n      \n      markdown += `### ${msg.author?.value || 'Anónimo'} - ${fecha}\\n`;\n      markdown += `${mensaje}\\n\\n`;\n    });\n} else {\n  markdown += \"* No hay interacciones registradas\\n\\n\";\n}\n\n// Sección de cierre\nif (cierre && Object.keys(cierre).length > 0) {\n  markdown += `## Detalles de Cierre\\n\\n`;\n  markdown += `**Motivo:** ${cierre.Reason_for_Closing || 'N/A'}  \\n`;\n  markdown += `**Responsable:** ${cierre.Responsable || 'N/A'}  \\n`;\n  markdown += `**Descripción:** ${cierre.Incident_Description || 'N/A'}  \\n\\n`;\n}\n\n// Devolver como objeto que n8n espera\nreturn {\n  json: {\n    markdownContent: markdown,\n    ticketId: info.casenumber,\n    customerId: info.customerID,\n    status: info.status?.value\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-60],"id":"59da43a7-2d31-407a-a4c0-1eaf5d54ecd9","name":"Code","alwaysOutputData":true},{"parameters":{"inputText":"={{ $('Code').item.json.markdownContent }}","options":{"categories":"Positive, Neutral, Negative","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1,"position":[1140,-160],"id":"de8de0cd-5734-4f47-a025-17123145fe28","name":"Sentiment Analysis","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1060,120],"id":"4d971b29-cb01-40e6-852d-83551d7b58e4","name":"OpenAI Chat Model","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utilizando Llama70B"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nLimita tu respuesta a maximo 200 Palabras\n\nEntrega la respuesta en formato html, se preciso y corto en la respuesta, estructura la respuesta como: \n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, toma como base {{ $('Code').item.json.markdownContent }}, muestra solo un fragmento\n\nResponde en formato Json \n\n  resumen:string\n  fragmento\":string\n  recomendaciones:array\n\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[980,360],"id":"c17b485c-c5e6-4bc5-a816-2919441f26be","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"body['datos del ticket'].Incidente.Cliente","value":"={{ $('Webhook').item.json.body['datos del ticket'].Incidente.Cliente }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('Code').item.json.customerId }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"body['datos del ticket'].Incidente.TipoCliente","value":"={{ $('Webhook').item.json.body['datos del ticket'].Incidente.TipoCliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,360],"id":"d9e51775-7ab8-4712-9133-c75bb3ca6063","name":"Formateo de Campos"},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Formateo de Campos1').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"={{ $('Formateo de Campos1').item.json.body['datos del ticket'].Incidente.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"body['datos del ticket'].Incidente.TipoCliente","value":"={{ $('Formateo de Campos1').item.json.body['datos del ticket'].Incidente.TipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Formateo de Campos1').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Formateo de Campos1').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,800],"id":"7872348f-6cc3-485b-a3d3-09278ffa7dab","name":"Formato de Salida Endpoint"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nExtrae el fragmento de la informacion compartida que define el sentimiento del analisis\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nEntrega la respuesta en formato html, se preciso y corto en la respuesta, estructura la respuesta como: \n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, toma como base {{ $('Code').item.json.markdownContent }}, muestra solo un fragmento\n\n\nID Cliente:{{ $json.body['datos del ticket'].Incidente.Cliente }}\nTicket: {{ $json.ticketId }}\nSentimiento:{{ $json.sentimentAnalysis.category }}\nRecomendaciones:\n\n1.\n2.\n3.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[980,800],"id":"6ea04343-fc33-4e15-ae51-489af4f63afd","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"responseFormat":"json_object","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,1000],"id":"8b88ac20-8ec6-498a-a7b7-1cd5ced71831","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"=","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('Code').item.json.customerId }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"TipoCliente","value":"={{ $('Webhook').item.json.body['datos del ticket'].Incidente.TipoCliente }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,800],"id":"21cc17d9-ac53-4842-aa0d-1bde066cfaf1","name":"Formateo de Campos1"},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Formateo de Campos').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"={{ $('Formateo de Campos').item.json.body['datos del ticket'].Incidente.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"body['datos del ticket'].Incidente.TipoCliente","value":"={{ $('Formateo de Campos').item.json.body['datos del ticket'].Incidente.TipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Formateo de Campos').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"d6b6375b-a54b-4b90-9d48-12eaaeec2179","name":"sentimentAnalysis.strength","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"755c9bd0-09b5-482b-9e3e-c9face2e5d46","name":"sentimentAnalysis.confidence","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,360],"id":"49cf1e48-e743-4da5-b0ac-b0f44d46f66c","name":"Formato de Salida Endpoint_2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1700,200],"id":"01b55b63-01e7-4690-82aa-3cd463953077","name":"Merge"},{"parameters":{"jsCode":"// Acceder correctamente a los datos en n8n\nconst items = $input.all();\nconst result = [];\n\nfor (let i = 0; i < items.length; i++) {\n  // Crear una copia del objeto json\n  const newJson = {...items[i].json};\n  \n  // Convertir customerId a número\n  newJson.customerId = Number(newJson.customerId);\n  \n  // Crear un nuevo objeto item con el json modificado\n  const newItem = {\n    json: newJson\n  };\n  \n  // Añadir al array de resultados\n  result.push(newItem);\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,200],"id":"faad6b84-c839-4bb2-9b58-a6b6abe1aa47","name":"ConverToIntegerCID"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"where":{"values":[{"column":"caseid","value":"={{ $json.ticketId }}"}]},"options":{"delayClosingIdleConnection":5}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[760,-260],"id":"ba4991b1-3251-4b5a-8485-6c0e08ed55f0","name":"busca_tt","alwaysOutputData":true,"credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b62bee51-2b11-49c3-821a-2bcf233837f2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1160,-500],"id":"280764ed-51bf-41b8-81d2-84e5b5621321","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"6f66879d-96f1-48eb-9fd9-6156226cc3d8","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $json.caseid }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"={{ $json.json_data }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $json.cid }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $json.sentiment }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.analisis }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $json.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $json.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,-520],"id":"9c3b82ed-39be-42ea-9e8a-fd485cb82ef7","name":"Formato de Salida Bd"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"columns":{"mappingMode":"defineBelow","value":{"strength":"={{ $json.sentimentAnalysis.strength }}","confidence":"={{ $json.sentimentAnalysis.confidence }}","caseid":"={{ $json.ticketId }}","customer":"={{ $json.body['datos del ticket'].Incidente.Cliente }}","cid":"={{ $json.customerId }}","sentiment":"={{ $json.sentimentAnalysis.category }}","analisis":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caseid","displayName":"caseid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"strength","displayName":"strength","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"json_data","displayName":"json_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"analisis","displayName":"analisis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2080,200],"id":"52cef3e0-250e-4589-af8a-a4146270b59d","name":"Postgres","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}},"disabled":true},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Validar existencia general\nif (!input.info || !input.messages || !input.cierre) {\n  throw new Error('Faltan secciones del JSON: se esperaba \"info\", \"messages\" y \"cierre\" en el mismo objeto.');\n}\n\n// Función utilitaria para validar campos\nfunction validateField(obj, key, type = 'string', required = true) {\n  if (!obj.hasOwnProperty(key)) {\n    if (required) throw new Error(`Falta la clave: ${key}`);\n    return;\n  }\n  if (type === 'object') {\n    if (typeof obj[key] !== 'object' || obj[key] === null || Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un objeto`);\n    }\n  } else if (type === 'array') {\n    if (!Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un array`);\n    }\n  } else {\n    if (typeof obj[key] !== type) {\n      throw new Error(`La clave \"${key}\" debe ser de tipo ${type}`);\n    }\n  }\n}\n\n// Validar \"info\"\nconst info = input.info;\n\n['id', 'title', 'casenumber', 'customerID', 'customerName', 'customerType', 'startdate', 'enddate', 'phonealt']\n  .forEach(key => validateField(info, key));\n\n['assigned', 'type', 'type_event', 'creator', 'category', 'services', 'status']\n  .forEach(key => {\n    validateField(info, key, 'object');\n    validateField(info[key], 'id');\n    validateField(info[key], 'value');\n  });\n\n// Validar \"messages\"\nvalidateField(input, 'messages', 'array');\ninput.messages.forEach((msg, i) => {\n  try {\n    validateField(msg, 'id');\n    validateField(msg, 'author', 'object');\n    validateField(msg.author, 'id');\n    validateField(msg.author, 'value');\n    validateField(msg, 'authoremail');\n    validateField(msg, 'date');\n    validateField(msg, 'datesecs', 'number');\n    validateField(msg, 'message');\n    // \"attachment\" es opcional\n  } catch (e) {\n    throw new Error(`Error en messages[${i}]: ${e.message}`);\n  }\n});\n\n// Validar \"cierre\"\nconst cierre = input.cierre;\n\n[\n  'CaseId', 'Company', 'Imputabilidad', 'Responsable',\n  'Unavailable_Minutes', 'unavailable_to_report_minutes',\n  'Type_of_Unavailable', 'date_upgrade_services_affecte',\n  'General_description_cause', 'Servicio', 'Area',\n  'person_confirms_closure', 'overview_fall', 'Reason_for_Closing',\n  'SubReason_for_Closing', 'Equipment', 'Node', 'Displacement',\n  'Reason_Displacement', 'Include_Report', 'Cause_Internal_Error',\n  'email_confirm_close', 'Development_Process_Realized',\n  'Incident_Description', 'Action_Plan'\n].forEach(key => validateField(cierre, key, 'string', false));\n\n// ✅ Si todo es válido, retornar el JSON original\nreturn [{ \n    json: input \n  }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,-40],"id":"f1c8d964-cc15-4db2-9058-c00d72cc8eab","name":"ValidoJson","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb42c2f-9353-4efe-86a6-4cbd44dd8af5","leftValue":"={{ $json.info }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[180,-40],"id":"0505b532-7798-4552-bf49-4e2bcfb8b0cf","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !  {{ $json.message }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-300],"id":"cd6ba465-a9b2-4069-aa27-eba497f2b4c9","name":"ErrorJsonOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"responseFormat":"json_object","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[920,560],"id":"80d65ad8-b4e4-45f2-bfc1-fa2cef844969","name":"OpenAI Chat Model3","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utiliza llama 8B"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8261ecd4-5d63-40d3-a197-84ec088319e4","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Positive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Positive"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Neutral","operator":{"type":"string","operation":"equals"},"id":"9711ac4e-3710-4f8f-8ff5-c55e9e8aa705"}],"combinator":"and"},"renameOutput":true,"outputKey":"Neutral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8ac4b5e-0426-4b4b-a19c-1d75ce44e5e9","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Negative","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negative"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d113d642-dafe-4ddd-8df3-486711a77ebe","leftValue":"Error","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2360,-460],"id":"5545d67a-f780-4f23-b628-d345318ff242","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"={{ $('Switch').item.json.success }}","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Switch').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"={{ $('Switch').item.json.cierre }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Switch').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Switch').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('Switch').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('Switch').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('Switch').item.json.output }}","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3760,-680],"id":"53bbf65f-165a-4c20-9661-53beda042a6d","name":"Formato de Salida Bd2"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('ConverToIntegerCID').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('ConverToIntegerCID').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('ConverToIntegerCID').item.json.output }}","type":"object"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,-160],"id":"9948c035-a343-471d-bdd6-bb34f2bfc706","name":"Formato de Salida Bd1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1980,-460],"id":"fe74077d-fdac-45e0-af76-7a478aee28f9","name":"Merge_salida"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"=false","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"error","value":"No se envío el email","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3760,-220],"id":"63b420ab-ceea-4706-840c-d70d637b7a6e","name":"Salida Error"},{"parameters":{"method":"POST","url":"http://192.168.2.12:5678/webhook/send-mail-aifx","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"adiazs@ifxcorp.com,jfernandez@ifxcorp.com,begonzalez@ifxcorp.com"},{"name":"bcc","value":" jaimep@ifxcorp.com"},{"name":"subject","value":"=Analisis de sentimiento:   {{ $json.ticketId }} - {{ $json.sentimentAnalysis.category }}"},{"name":"message_html","value":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #fbeaea;\n      border-left: 6px solid #e53935;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #e53935;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/e53935/sad.png\">\n          <span class=\"sentiment-type\">Sentimiento Negativo</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3380,-220],"id":"2bcd5a2b-f2ae-4128-a837-b5ada27037bc","name":"Email Negativo","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"http://192.168.2.12:5678/webhook/send-mail-aifx","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"adiazs@ifxcorp.com,jfernandez@ifxcorp.com,begonzalez@ifxcorp.com"},{"name":"bcc","value":" jaimep@ifxcorp.com"},{"name":"subject","value":"Analisis de sentimiento:   {{ $json.ticketId }} - {{ $json.sentimentAnalysis.category }}"},{"name":"message_html","value":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #eaf6f0;\n      border-left: 6px solid #2196f3;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #1a237e;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/2196f3/happy.png\">\n          <span class=\"sentiment-type\">Sentimiento Positivo</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3380,-680],"id":"37fe04a5-5371-4370-a369-93644449e8d2","name":"Email Positivo","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"http://192.168.2.12:5678/webhook/send-mail-aifx","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"adiazs@ifxcorp.com,jfernandez@ifxcorp.com,begonzalez@ifxcorp.com"},{"name":"bcc","value":" jaimep@ifxcorp.com"},{"name":"subject","value":"Analisis de sentimiento:   {{ $json.ticketId }} - {{ $json.sentimentAnalysis.category }}"},{"name":"message_html","value":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #f5f7fa;\n      border-left: 6px solid #90a4ae;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #607d8b;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/90a4ae/neutral-emoticon.png\">\n          <span class=\"sentiment-type\">Sentimiento Neutral</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $('Merge_salida').item.json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,-460],"id":"e13eba75-e25d-416f-9758-41dd2fade56a","name":"Email Neutro","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,-300],"id":"e83c5b16-b2f1-4c71-8918-5f020a8f537c","name":"ErrorJsonNoValido1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3120,60],"id":"c5c73046-96c5-4ba3-96e1-82d33f9f1ee3","name":"ErrorJsonNoValido"},{"parameters":{"jsonSchemaExample":"{\n  \"resumen\":\"\",\n  \"fragmento\":\"\",\n  \"recomendaciones\":[\"\",\"\",\"\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1160,1020],"id":"800df4f2-ce26-4ac6-ae56-325a7724b663","name":"Structured Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"resumen\":\"\",\n  \"fragmento\":\"\",\n  \"recomendaciones\":[\"\",\"\",\"\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1200,560],"id":"40558252-eb71-4b9c-9cf5-038f8a157607","name":"Structured Output Parser1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #fbeaea;\n      border-left: 6px solid #e53935;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #e53935;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/e53935/sad.png\">\n          <span class=\"sentiment-type\">Sentimiento Negativo</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3100,-220],"id":"8f16e417-6ff3-4618-a6f0-3c16a75358a8","name":"HTML"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #f5f7fa;\n      border-left: 6px solid #90a4ae;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #607d8b;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/90a4ae/neutral-emoticon.png\">\n          <span class=\"sentiment-type\">Sentimiento Neutral</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $('Merge_salida').item.json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3100,-460],"id":"ed478c57-ee69-453b-8cb5-0d7663617a4d","name":"HTML1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #eaf6f0;\n      border-left: 6px solid #2196f3;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #1a237e;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table\">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/planner.png\">Fecha:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.startdate }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.body.info.category.value }}</span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          <img src=\"https://img.icons8.com/ios-filled/50/2196f3/happy.png\">\n          <span class=\"sentiment-type\">Sentimiento Positivo</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output }}</div>\n      </div>\n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n    </div>\n  </div>\n</body>\n</html> "},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3100,-680],"id":"5465d8dc-434b-4d9e-b76c-2f2a33a0dc0a","name":"HTML2"}],"connections":{"Webhook":{"main":[[{"node":"ValidoJson","type":"main","index":0},{"node":"Merge_salida","type":"main","index":2}]]},"Code":{"main":[[{"node":"busca_tt","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Formateo de Campos","type":"main","index":0}],[{"node":"Formateo de Campos","type":"main","index":0}],[{"node":"Formateo de Campos1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Formato de Salida Endpoint_2","type":"main","index":0}]]},"Formateo de Campos":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Formato de Salida Endpoint":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Formateo de Campos1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Formato de Salida Endpoint","type":"main","index":0}]]},"Formato de Salida Endpoint_2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ConverToIntegerCID","type":"main","index":0}]]},"ConverToIntegerCID":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"busca_tt":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Formato de Salida Bd","type":"main","index":0}],[{"node":"Sentiment Analysis","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Formato de Salida Bd1","type":"main","index":0}]]},"Formato de Salida Bd":{"main":[[{"node":"Merge_salida","type":"main","index":0}]]},"ValidoJson":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"ErrorJsonNoValido1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"ErrorJsonOutput","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"HTML2","type":"main","index":0}],[{"node":"HTML1","type":"main","index":0}],[{"node":"HTML","type":"main","index":0}],[{"node":"ErrorJsonNoValido","type":"main","index":0}]]},"Formato de Salida Bd1":{"main":[[{"node":"Merge_salida","type":"main","index":1}]]},"Merge_salida":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Email Negativo":{"main":[[{"node":"Formato de Salida Bd2","type":"main","index":0}],[{"node":"Salida Error","type":"main","index":0}]]},"Email Positivo":{"main":[[{"node":"Formato de Salida Bd2","type":"main","index":0}],[{"node":"Salida Error","type":"main","index":0}]]},"Email Neutro":{"main":[[{"node":"Formato de Salida Bd2","type":"main","index":0}],[{"node":"Salida Error","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"HTML":{"main":[[{"node":"Email Negativo","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Email Neutro","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"Email Positivo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"200.62.6.89","x-forwarded-for":"200.62.6.89","x-forwarded-proto":"https","connection":"upgrade","content-length":"48814","x-correlation-id":"1f50c620-4856-11f0-a506-0affccd37bb9","user-agent":"AHC/1.0","accept":"*/*","content-type":"application/json; charset=UTF-8"},"params":{},"query":{},"body":{"info":{"id":"37927058","title":"Caída de Canales","casenumber":"TT1069606","customerID":"24725","customerName":"MINISTERIO DE HACIENDA Y CREDITO PUBLICO","customerType":"Silver","assigned":{"id":"2889924","value":"Conectividad_Silver_Bronze"},"startdate":"06/12/2025 3:03 PM","enddate":"06/13/2025 12:14 AM","phonealt":"(310) 000-0000","type":{"id":"1","value":"Incidencia"},"type_event":{"id":"","value":""},"creator":{"id":"3060589","value":"WILSON VLADIMIR SARMIENTO ROMERO"},"category":{"id":"359","value":"Caída total del enlace"},"services":{"id":"2228399,2228400","value":"2332194-Internet Premium,2332195-Internet Premium"},"status":{"id":"7","value":"Cerrado"}},"messages":[{"id":"153571499","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 10:00 PM","datesecs":1749790800000,"message":" Estimado Cliente, MINISTERIO DE HACIENDA Y CREDITO PUBLICO Comunicado No 912/06/2025 9:00  PM GMT-5Estimado cliente,Le informamos que nuestro personal continua en el punto de afectación realizando trabajos de reparación sobre la fibra óptica para restablecer la conectividad.Agradecemos profundamente su comprensión y paciencia durante esta contingencia. Nuestro equipo continuará trabajando hasta lograr la completa normalización del servicio, en el momento no se cuenta con un tiempo estimado de solución,  le mantendremos informado ante cualquier avance adicional.  Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"153574101","author":{"id":"3474710","value":"ANDREA YAZMIN CORREA GRANADOS"},"authoremail":"aycorrea@ifxcorp.com","date":"06/12/2025 10:37 PM","datesecs":1749793020000,"message":" Novedades Caso TT1069606 : Cordial saludo      Estimado cliente,En seguimiento a su caso, le solicito por favor nos confirme el estado actual de su servicio; ya que luego de las validaciones realizadas a su enlace, observamos su servicio estable, sin perdidas de paquetes ni degradaciones.En caso de persistir, agradecemos nos comparta pruebas realizadas para continuar con los descartes. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus solicitudes garantizando un excelente servicio.Quedamos atentos a cualquier comentario,Cordialmente,   ANDREA YAZMIN CORREA GRANADOS aycorrea@ifxcorp.com P {margin-top:0;margin-bottom:0;} Cordial saludo, En atención a la solicitud envío: Nombre de contacto en sitio: Samuel Soto Jiménez Número de contacto: 3058132113 Correo: samuel.soto@minhacienda.gov.co Dirección: Carrera 7 No. 6B- 80. Bogotá, Colombia. Fecha: 13/06/2025 Horarios: entre 9:00 y 11:00 o entre 14:00 y 16:00 Adjunto 6 fotos solicitadas Atentamente, Profesional Especializado Samuel Soto Jiménez Samuel.Soto@minhacienda.gov.co Conmutador (57) 601 3811700 Extensión: 3811700 Carrera 8 No. 6 C 38 - Código Postal 111711 Bogotá D.C. Colombia www.minhacienda.gov.co De: WILSON VLADIMIR SARMIENTO ROMERO &lt;wsarmiento@ifxcorp.com&gt; Enviado: jueves, 12 de junio de 2025 14:09 Para: Juan Pablo Rojas Mesa &lt;Juan.Rojas@minhacienda.gov.co&gt;; Samuel Soto Jimenez &lt;Samuel.Soto@minhacienda.gov.co&gt; Asunto: TT1069606 Caída de Canales Novedades Caso TT1069606 : Cordial saludo Estimado cliente, los Servicios 2332195-Internet Premium y 2332194-Internet Premium están en monitoreo, le pido amablemente su colaboración enviando por este medio medio fotos de los equipos de fibra (apartado LED) y de igual manera nos confirme los siguientes datos: * Nombre de contacto en sitio: * Número de contacto: * Correo: * Dirección: * Fecha: * Horarios: Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio. Agradecemos su colaboración y quedamos a la espera de sus comentarios. WILSON VLADIMIR SARMIENTO ROMERO wsarmiento@ifxcorp.com Profesional Especializado Samuel Soto Jimenez Samuel.Soto@minhacienda.gov.co Conmutador (57) 601 3811700 Extensión: 4509 Carrera 8 No. 6 C 38 - Código Postal 111711 Bogotá D.C. Colombia www.minhacienda.gov.co ","attachment":{}},{"id":"153569231","author":{"id":"3526906","value":"MARIA CAMILA CASTILLO ALDANA"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 8:18 PM","datesecs":1749784680000,"message":"Número de ticket:TIK-631352-B7K3 Fecha y hora de creación (GMT-6):12/06/2025 15:29 Nombre del cliente:IFX NETWORKS COLOMBIA SAS Número de Ticket Interno:TT1069606 Tipo de Incidencia:Caída total Identificador de Servicio:COCOIFX10108424C   Servicio Afectado:Capacidad Ethernet 260Mbps // 1830341 MINISTERIO DE HACIENDA Y CREDITO PUBLICO BOGOTA CRA8 PRINCIPAL - HAB HILO   Fecha y hora de seguimiento (GMT-6):        12/06/2025 06:07 PM Estimados; Como hemos enviado en las validaciones anteriores, observando así en optimo estado, sin falencia alguna en ultima milla, no observamos alarmas de energía. Su amable colaboración brindando detalle de la incidencia, para realizar un diagnostico mas profundo del lado de UFINET. Quedamos atentos a sus comentarios. Saludos.12/06/2025 04:07 PM Estimado equipo. Podrían validar el estado del servicio. Actualmente se evidencia up con mac bidireccional y trafico. Quedamos atentos. Saludos COCDBOGIFXSCPMINHACIENDA01#show ver Product Version: RAX701-GC-WP-02 P200R002C53 Software Version: 5.5.27_20190111 RITP Version: 5.4 Bootstrap Version: BOOTROM_1.0.6 FPGA Version: fpga:1.7 Hardware Version: A.20 System MacAddress: A86D.5F39.ADBB Serial number: 123002025420S22326S0653G RAX701-GC with 128 M bytes DRAM 32 M bytes Flash Memory 3.517 M bytes Free Flash Memory System uptime is 768 days, 6 hours, 38 minutes COCDBOGIFXSCPMINHACIENDA01#show interface uni 1 Port Admin Operate Speed Duplex Active MAU type State Forced Port-Type MTU ---------------------------------------------------------------------------------------------------------------------------- uni1 enable up(1000M/full) 1000 full 1000BASE-T Forward --- 9600 COCDBOGIFXSCPMINHACIENDA01#show mac-address-table l2-address vlan 1100 Aging time: 300 seconds MAC-Move Restrain Status: disable MAC-Move Trap Status: disable Mac Address Port Vlan Flags ------------------------------------------------------------ 40A6.77BE.A6C5 nni1 1100 dynamic 84B2.61F8.3530 uni1 1100 dynamic COCDBOGIFXSCPMINHACIENDA01#show interface uni 1 statistics dynamic Dynamic statistics period: 3 seconds Interface: uni1 ------------------------------------------------ Input Normal Statistics: InOctets: 276,070,857,038,390 InUcastPkts: 1,817,198,326 InMulticastPkts: 62,563 InBroadcastPkts: 14 Output Normal Statistics: OutOctets: 38,067,902,861,030 OutUcastPkts: 3,424,167,765 OutMulticastPkts: 1,253,900 OutBroadcastPkts: 9,440,225 Bit Statistics: Ingress Bits: 2,208,566,856,307,120 Egress Bits: 304,543,222,888,240 Speed Statistics: Ingress Speed(bps): -- Egress Speed(bps): -- Ingress Speed(pps): -- Egress Speed(pps): -- Please press to stop. Dynamic statistics period: 3 seconds Interface: uni1 ------------------------------------------------ Input Normal Statistics: InOctets: 276,070,873,239,783 InUcastPkts: 1,817,218,577 InMulticastPkts: 62,563 InBroadcastPkts: 14 Output Normal Statistics: OutOctets: 38,067,909,882,740 OutUcastPkts: 3,424,185,375 OutMulticastPkts: 1,253,900 OutBroadcastPkts: 9,440,226 Bit Statistics: Ingress Bits: 2,208,566,985,918,264 Egress Bits: 304,543,279,061,920 Speed Statistics: Ingress Speed(bps): 42,730,782 Egress Speed(bps): 18,519,590 Ingress Speed(pps): 6,713 Egress Speed(pps): 5,838 Please press to stop. Dynamic statistics period: 3 seconds Interface: uni1 ------------------------------------------------ Input Normal Statistics: InOctets: 276,070,892,072,635 InUcastPkts: 1,817,241,304 InMulticastPkts: 62,563 InBroadcastPkts: 14 Output Normal Statistics: OutOctets: 38,067,918,295,980 OutUcastPkts: 3,424,204,239 OutMulticastPkts: 1,253,900 OutBroadcastPkts: 9,440,226 Bit Statistics: Ingress Bits: 2,208,567,136,581,080 Egress Bits: 304,543,346,367,840 Speed Statistics: Ingress Speed(bps): 49,944,552 Egress Speed(bps): 22,311,836 Ingress Speed(pps): 7,533 Egress Speed(pps): 6,253 Please press to stop. COCDBOGIFXSCPMINHACIENDA01#12/06/2025 03:30 PM After proceeding our automatic diagnosis, we have detected a possible issue at network level, which demands an deeper and more detaiked analisis by our specialized engineers.12/06/2025 03:30 PM We inform you that the ticket number TIK-631352-B7K3, has been created.   ","attachment":{}},{"id":"153564765","author":{"id":"3474710","value":"ANDREA YAZMIN CORREA GRANADOS"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 6:23 PM","datesecs":1749777780000,"message":"Se valida servicios nuevamente no reportan macLast login: Thu Jun 12 22:20:44 2025 from 200.62.6.89--- JUNOS 19.4R3-S3.3 Kernel 32-bit  JNPR-11.0-20210308.e5f5942_buil{master}sop-interno@COBOGTCEACJUMX480X02&gt; show interfaces descriptions | match 2332194et-0/3/2.5486   up    up   2332194 #- IFX Internet Premium #- 256MB_VID:254-2786 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGWB1DIJUEX512X01 ae17 Carrera 8 No. 6- C 38 #- UFINET ## FIBRA_COCOIFX10108425C{master}sop-interno@COBOGTCEACJUMX480X02&gt; show configuration interfaces et-0/3/2.5486description \"2332194 #- IFX Internet Premium #- 256MB_VID:254-2786 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGWB1DIJUEX512X01 ae17 Carrera 8 No. 6- C 38 #- UFINET ## FIBRA_COCOIFX10108425C\";vlan-tags outer 254 inner 2786;family inet {   mtu 1500;   policer {       input 256Mbps;       output 256Mbps;   }   address 172.17.64.209/30;}{master}sop-interno@COBOGTCEACJUMX480X02&gt; show arp no-resolve | match et-0/3/2.5486{master}sop-interno@COBOGTCEACJUMX480X02&gt; show interfaces descriptions | match 2332195et-0/3/2.8703   up    up   2332195 #- Enlaces Dedicados a Internet #- 1Gb_VID:888-703 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGCOVACCIC4948X01 Gi1/45 Direccion PRINCIPAL Carrera 8 No. 6 C 38 (BOGOTA) PRINCIPAL #- IFX ## Fibra{master}sop-interno@COBOGTCEACJUMX480X02&gt; show configuration interfaces et-0/3/2.8703description \"2332195 #- Enlaces Dedicados a Internet #- 1Gb_VID:888-703 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGCOVACCIC4948X01 Gi1/45 Direccion PRINCIPAL Carrera 8 No. 6 C 38 (BOGOTA) PRINCIPAL #- IFX ## Fibra\";vlan-tags outer 888 inner 703;family inet {   mtu 9000;   policer {       input 1Gbps;       output 1Gbps;   }   address 172.17.89.189/30 {       primary;   }}family inet6 {   address 2802:0:0:d4::1/64;}{master}sop-interno@COBOGTCEACJUMX480X02&gt; show arp no-resolve | match et-0/3/2.8703{master}sop-interno@COBOGTCEACJUMX480X02&gt; ","attachment":{}},{"id":"153575055","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 11:12 PM","datesecs":1749795120000,"message":" Estimado Cliente, MINISTERIO DE HACIENDA Y CREDITO PUBLICO Comunicado No 1012/06/2025 10:11  PM GMT-5Confirmación de OperatividadEstimado cliente,Le informamos que el evento de conectividad que estábamos presentando, ya fue solucionado, en estos momentos los servicios se encuentran operativos, agradecemos su amable colaboración verificando y confirmando el estado de este, en caso de presentar inconvenientes comunicarse a la línea de atención del CARE, el RFO será compartido en los próximos días.  Este correo es informativo por lo que le invitamos a manifestar sus dudas a trav&eacute;s de las l&iacute;neas de Soporte T&eacute;cnico Regional, nuestros asesores le atender&aacute;n. De igual manera puede contactarse al correo care@ifxcorp.com Recuerde que nuestra operaci&oacute;n es 7 x 24 y esta cuenta estar&aacute; en total disponibilidad para usted. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio, cualquier eventualidad le solicitamos informarla de inmediato. ","attachment":{}},{"id":"153576512","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"06/13/2025 12:14 AM","datesecs":1749798840000,"message":" .subContainer { width: 100%; border-radius: 0px; margin: 0 auto; text-align: center; } ¿MINISTERIO DE HACIENDA Y CREDITO PUBLICO, CUÁL FUE TU EXPERIENCIA CON EL CASO TT1069606?¡QUEREMOS SEGUIR ACERCANDONOS!En IFX Networks nos esforzamos por brindarte un servicio de alta calidad, innovador y con una experiencia inigualable.Para nosotros es importante tu opinión, te invitamos a responder esta breve encuesta. Si tiene problemas técnicos con la encuesta, por favor póngase en contacto con procesosreg@ifxcorp.com Por favor no responda este e-mail. Tenga en cuenta que esta encuesta no es un canal de reclamos formal.Departamento de Calidad de IFX Networks . in English ¿{case.company}, WHAT WAS YOUR EXPERIENCE WITH THE CASE {case.casenumber}?¡WE WANT TO KEP CLOSER!At IFX-Networks, we aim to provide you with a high-quality service, incorporating innovation and an unparalleled experience.For us your opinion is very valuable, we kindly invite you to answer this brief survey. If you have any technical problems with the survey, please contact procesosreg@ifxcorp.com Please do not reply this email. This survey is not a formal complaint channel. IFX Networks Quality Department. ","attachment":{}},{"id":"153568819","author":{"id":"3474710","value":"ANDREA YAZMIN CORREA GRANADOS"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 8:15 PM","datesecs":1749784500000,"message":"Se evidencia servicio principal UP en plataforma de monitoreo  2332195-Internet Premium, servicio con respuesta a pingLast login: Fri Jun 13 00:10:42 2025 from 200.62.6.89--- JUNOS 19.4R3-S3.3 Kernel 32-bit  JNPR-11.0-20210308.e5f5942_buil{master}sop-interno@COBOGTCEACJUMX480X02&gt; show interfaces descriptions | match 2332195et-0/3/2.8703   up    up   2332195 #- Enlaces Dedicados a Internet #- 1Gb_VID:888-703 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGCOVACCIC4948X01 Gi1/45 Direccion PRINCIPAL Carrera 8 No. 6 C 38 (BOGOTA) PRINCIPAL #- IFX ## Fibra{master}sop-interno@COBOGTCEACJUMX480X02&gt; show configuration interfaces et-0/3/2.8703description \"2332195 #- Enlaces Dedicados a Internet #- 1Gb_VID:888-703 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGCOVACCIC4948X01 Gi1/45 Direccion PRINCIPAL Carrera 8 No. 6 C 38 (BOGOTA) PRINCIPAL #- IFX ## Fibra\";vlan-tags outer 888 inner 703;family inet {   mtu 9000;   policer {       input 1Gbps;       output 1Gbps;   }   address 172.17.89.189/30 {       primary;   }}family inet6 {   address 2802:0:0:d4::1/64;}{master}sop-interno@COBOGTCEACJUMX480X02&gt; show arp no-resolve | match et-0/3/2.870378:0c:f0:54:dd:3f 172.17.89.190   et-0/3/2.8703            none{master}sop-interno@COBOGTCEACJUMX480X02&gt; ping 172.17.89.190 interface et-0/3/2.8703PING 172.17.89.190 (172.17.89.190): 56 data bytes64 bytes from 172.17.89.190: icmp_seq=0 ttl=254 time=2.537 ms64 bytes from 172.17.89.190: icmp_seq=1 ttl=254 time=2.117 ms64 bytes from 172.17.89.190: icmp_seq=2 ttl=254 time=3.113 ms64 bytes from 172.17.89.190: icmp_seq=3 ttl=254 time=2.330 ms64 bytes from 172.17.89.190: icmp_seq=4 ttl=254 time=2.584 ms64 bytes from 172.17.89.190: icmp_seq=5 ttl=254 time=2.135 ms64 bytes from 172.17.89.190: icmp_seq=6 ttl=254 time=5.681 ms64 bytes from 172.17.89.190: icmp_seq=7 ttl=254 time=2.252 ms64 bytes from 172.17.89.190: icmp_seq=8 ttl=254 time=2.319 ms64 bytes from 172.17.89.190: icmp_seq=9 ttl=254 time=2.845 ms^C--- 172.17.89.190 ping statistics ---10 packets transmitted, 10 packets received, 0% packet lossround-trip min/avg/max/stddev = 2.117/2.791/5.681/1.009 ms{master}sop-interno@COBOGTCEACJUMX480X02&gt; ping 172.17.89.190 interface et-0/3/2.8703 rapid count 900PING 172.17.89.190 (172.17.89.190): 56 data bytes!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!--- 172.17.89.190 ping statistics ---900 packets transmitted, 900 packets received, 0% packet lossround-trip min/avg/max/stddev = 1.789/3.479/27.657/2.851 ms{master}sop-interno@COBOGTCEACJUMX480X02&gt; ","attachment":{}},{"id":"153566739","author":{"id":"3474710","value":"ANDREA YAZMIN CORREA GRANADOS"},"authoremail":"aycorrea@ifxcorp.com","date":"06/12/2025 7:14 PM","datesecs":1749780840000,"message":" Novedades Caso TT1069606 : Cordial saludo estimados,Agradezco su apoyo programando la siguiente visita. DESCRIPCIÓNMANTENIMIENTOSE ADJUNTA ACTA DE UM  SI/NOCLIENTE:PAIS:CIUDAD:FECHA:HORA:SID:TICKET:DIRECCIÓN CLIENTE:NOMBRE CONTACTO CLIENTE:TELEFONO CLIENTE:RQ:EQUIPOS QUE SE DEBEN LLEVAR A CLIENTE:DONDE RECOGER EL EQUIPO? (RECOGER EN CALLE 80 O CALLE 26)GUIA DE ENVIO EQUIPOS:INGENIERO DE APROVISIONAMIENTO/GRUPO CARE RESPONSABLE:GERENTE DE PROYECTO:OBSERVACIONES: APROVISIONAMIENTO                  se envia visita para validar equipos en sedeNANAMINISTERIO DE HACIENDA Y CREDITO PUBLICO ColombiaBogotá, D.c.13/06/2025entre 9:00 y 11:00 2332194-Internet Premium TT1069606Carrera 8 No. 6- C 38Samuel Soto Jiménez3058132113NALlevar llevar pc y cable de consola.NANA Conectividad_Silver_BronzeNALlevar llevar pc y cable de consola. ANDREA YAZMIN CORREA GRANADOS aycorrea@ifxcorp.com ","attachment":{}},{"id":"153574099","author":{"id":"3474710","value":"ANDREA YAZMIN CORREA GRANADOS"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 10:36 PM","datesecs":1749792960000,"message":"Last login: Fri Jun 13 01:55:45 2025 from 200.62.6.89--- JUNOS 19.4R3-S3.3 Kernel 32-bit  JNPR-11.0-20210308.e5f5942_buil{master}sop-interno@COBOGTCEACJUMX480X02&gt; show interfaces descriptions | match 2332194et-0/3/2.5486   up    up   2332194 #- IFX Internet Premium #- 256MB_VID:254-2786 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGWB1DIJUEX512X01 ae17 Carrera 8 No. 6- C 38 #- UFINET ## FIBRA_COCOIFX10108425C{master}sop-interno@COBOGTCEACJUMX480X02&gt; show arp mo                                          ^syntax error, expecting &lt;command&gt;.sop-interno@COBOGTCEACJUMX480X02&gt; show arp no-resolve | match et-0/3/2.5486cc:46:d6:19:9e:b0 172.17.64.210   et-0/3/2.5486            none{master}sop-interno@COBOGTCEACJUMX480X02&gt; ping 172.17.64.210 interface et-0/3/2.5486 rapid count 700PING 172.17.64.210 (172.17.64.210): 56 data bytes!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!--- 172.17.64.210 ping statistics ---700 packets transmitted, 700 packets received, 0% packet lossround-trip min/avg/max/stddev = 1.253/2.642/27.170/2.536 ms{master}sop-interno@COBOGTCEACJUMX480X02&gt; show interfaces descriptions | match 2332195et-0/3/2.8703   up    up   2332195 #- Enlaces Dedicados a Internet #- 1Gb_VID:888-703 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGCOVACCIC4948X01 Gi1/45 Direccion PRINCIPAL Carrera 8 No. 6 C 38 (BOGOTA) PRINCIPAL #- IFX ## Fibra{master}sop-interno@COBOGTCEACJUMX480X02&gt; show arp no-resolve | match et-0/3/2.870378:0c:f0:54:dd:3f 172.17.89.190   et-0/3/2.8703            none{master}sop-interno@COBOGTCEACJUMX480X02&gt; ping 172.17.89.190 interface et-0/3/2.8703 rapid count 700PING 172.17.89.190 (172.17.89.190): 56 data bytes!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!--- 172.17.89.190 ping statistics ---700 packets transmitted, 700 packets received, 0% packet lossround-trip min/avg/max/stddev = 1.810/3.884/27.115/2.983 ms{master}sop-interno@COBOGTCEACJUMX480X02&gt;Se evudencuab servicios operativos ","attachment":{}},{"id":"153569028","author":{"id":"3474710","value":"ANDREA YAZMIN CORREA GRANADOS"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 8:18 PM","datesecs":1749784680000,"message":"Servicio Back UP continua caído.sop-interno@COBOGTCEACJUMX480X02&gt; show interfaces descriptions | match 2332194et-0/3/2.5486   up    up   2332194 #- IFX Internet Premium #- 256MB_VID:254-2786 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGWB1DIJUEX512X01 ae17 Carrera 8 No. 6- C 38 #- UFINET ## FIBRA_COCOIFX10108425C{master}sop-interno@COBOGTCEACJUMX480X02&gt; show configuration interfaces et-0/3/2.5486description \"2332194 #- IFX Internet Premium #- 256MB_VID:254-2786 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGWB1DIJUEX512X01 ae17 Carrera 8 No. 6- C 38 #- UFINET ## FIBRA_COCOIFX10108425C\";vlan-tags outer 254 inner 2786;family inet {   mtu 1500;   policer {       input 256Mbps;       output 256Mbps;   }   address 172.17.64.209/30;}{master}sop-interno@COBOGTCEACJUMX480X02&gt; show arp no-resolve | match et-0/3/2.5486{master}sop-interno@COBOGTCEACJUMX480X02&gt; ","attachment":{}},{"id":"153588543","author":{"id":"-4","value":"Samuel.Soto@minhacienda.gov.co"},"authoremail":"Samuel.Soto@minhacienda.gov.co","date":"06/13/2025 8:58 AM","datesecs":1749830280000,"message":" P {margin-top:0;margin-bottom:0;} Cordial saludo, Se reporta normalidad en el servicio Atentamente, Profesional Especializado Samuel Soto Jiménez Samuel.Soto@minhacienda.gov.co Conmutador (57) 601 3811700 Extensión: 3811700 Carrera 8 No. 6 C 38 - Código Postal 111711 Bogotá D.C. Colombia www.minhacienda.gov.co De: ANDREA YAZMIN CORREA GRANADOS &lt;aycorrea@ifxcorp.com&gt; Enviado: jueves, 12 de junio de 2025 21:37 Para: Samuel Soto Jimenez &lt;Samuel.Soto@minhacienda.gov.co&gt;; Juan Pablo Rojas Mesa &lt;Juan.Rojas@minhacienda.gov.co&gt; Asunto: RE: RE: TT1069606 Caída de Canales Novedades Caso TT1069606 : Cordial saludo Estimado cliente, En seguimiento a su caso, le solicito por favor nos confirme el estado actual de su servicio; ya que luego de las validaciones realizadas a su enlace, observamos su servicio estable, sin perdidas de paquetes ni degradaciones. En caso de persistir, agradecemos nos comparta pruebas realizadas para continuar con los descartes. Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus solicitudes garantizando un excelente servicio. Quedamos atentos a cualquier comentario, Cordialmente, ANDREA YAZMIN CORREA GRANADOS aycorrea@ifxcorp.com Cordial saludo, En atención a la solicitud envío: Nombre de contacto en sitio: Samuel Soto Jiménez Número de contacto: 3058132113 Correo: samuel.soto@minhacienda.gov.co Dirección: Carrera 7 No. 6B- 80. Bogotá, Colombia. Fecha: 13/06/2025 Horarios: entre 9:00 y 11:00 o entre 14:00 y 16:00 Adjunto 6 fotos solicitadas Atentamente, Profesional Especializado Samuel Soto Jiménez Samuel.Soto@minhacienda.gov.co Conmutador (57) 601 3811700 Extensión: 3811700 Carrera 8 No. 6 C 38 - Código Postal 111711 Bogotá D.C. Colombia www.minhacienda.gov.co De: WILSON VLADIMIR SARMIENTO ROMERO &lt;wsarmiento@ifxcorp.com&gt; Enviado: jueves, 12 de junio de 2025 14:09 Para: Juan Pablo Rojas Mesa &lt;Juan.Rojas@minhacienda.gov.co&gt;; Samuel Soto Jimenez &lt;Samuel.Soto@minhacienda.gov.co&gt; Asunto: TT1069606 Caída de Canales Novedades Caso TT1069606 : Cordial saludo Estimado cliente, los Servicios 2332195-Internet Premium y 2332194-Internet Premium están en monitoreo, le pido amablemente su colaboración enviando por este medio medio fotos de los equipos de fibra (apartado LED) y de igual manera nos confirme los siguientes datos: * Nombre de contacto en sitio: * Número de contacto: * Correo: * Dirección: * Fecha: * Horarios: Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio. Agradecemos su colaboración y quedamos a la espera de sus comentarios. WILSON VLADIMIR SARMIENTO ROMERO wsarmiento@ifxcorp.com Profesional Especializado Samuel Soto Jimenez Samuel.Soto@minhacienda.gov.co Conmutador (57) 601 3811700 Extensión: 4509 Carrera 8 No. 6 C 38 - Código Postal 111711 Bogotá D.C. Colombia www.minhacienda.gov.co Profesional Especializado Samuel Soto Jimenez Samuel.Soto@minhacienda.gov.co Conmutador (57) 601 3811700 Extensión: 4509 Carrera 8 No. 6 C 38 - Código Postal 111711 Bogotá D.C. Colombia www.minhacienda.gov.co ","attachment":{}},{"id":"153581891","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"06/13/2025 4:43 AM","datesecs":1749814980000,"message":" MINISTERIO DE HACIENDA Y CREDITO PUBLICO Incidente Mayor N&ordm;: TT1069192 Caso Ticket N&ordm;: TT1069606 Incidente Fecha Hora Inicio Incidente 12/06/2025 8:39:00 Fin Incidente 12/06/2025 10:00:00 Indisponibilidad Total 0 minutos CID SID NOMBRE 28514 23321942332195 2332194-Internet Premium2332195-Internet Premium El día 12 de junio de 2025 a las 8:39 AM GMT-5, se observan múltiples alarmas en servicios de conectividad en Bogotá. Nuestros ingenieros al identificar las alarmas proceden de inmediato a realizar pruebas lógicas sobre la infraestructura sin encontrar el origen del evento; por lo cual se desplaza personal técnico con el fin de verificar el estado físico de la fibra y los equipos.Una vez el personal técnico llega al nodo procede a tomar las medidas reflectometrías e identifica un evento sobre la fibra óptica, debido a corte de fibra.Luego de encontrar el origen del evento se procede a:Desplazar personal a lugar de la afectación y una vez allí se evidencia que el corte de fibra es una obra del IDU.Se tramita permisos de ingreso a la obra, posteriormente, nuestro personal técnico inicia labores de reparación.Recuperación de reservas de FO.Implementación (de dos nuevas) cajas de empalme.Normalización de la FO.Con las labores realizadas anteriormente se solvento la afectación, se normalizan los servicios y se confirma operatividad con clientes.Se realiza monitoreo sin evidenciar más eventos. No aplica por ser un evento de fuerza mayor. ","attachment":{}},{"id":"153581890","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"06/13/2025 4:43 AM","datesecs":1749814980000,"message":" MINISTERIO DE HACIENDA Y CREDITO PUBLICO Incidente Mayor N&ordm;: TT1069192 Caso Ticket N&ordm;: TT1069606 Incidente Fecha Hora Inicio Incidente 12/06/2025 8:39:00 Fin Incidente 12/06/2025 10:00:00 Indisponibilidad Total 0 minutos CID SID NOMBRE 28514 23321942332195 2332194-Internet Premium2332195-Internet Premium El día 12 de junio de 2025 a las 8:39 AM GMT-5, se observan múltiples alarmas en servicios de conectividad en Bogotá. Nuestros ingenieros al identificar las alarmas proceden de inmediato a realizar pruebas lógicas sobre la infraestructura sin encontrar el origen del evento; por lo cual se desplaza personal técnico con el fin de verificar el estado físico de la fibra y los equipos.Una vez el personal técnico llega al nodo procede a tomar las medidas reflectometrías e identifica un evento sobre la fibra óptica, debido a corte de fibra.Luego de encontrar el origen del evento se procede a:Desplazar personal a lugar de la afectación y una vez allí se evidencia que el corte de fibra es una obra del IDU.Se tramita permisos de ingreso a la obra, posteriormente, nuestro personal técnico inicia labores de reparación.Recuperación de reservas de FO.Implementación (de dos nuevas) cajas de empalme.Normalización de la FO.Con las labores realizadas anteriormente se solvento la afectación, se normalizan los servicios y se confirma operatividad con clientes.Se realiza monitoreo sin evidenciar más eventos. No aplica por ser un evento de fuerza mayor. ","attachment":{}},{"id":"153568269","author":{"id":"3474710","value":"ANDREA YAZMIN CORREA GRANADOS"},"authoremail":"aycorrea@ifxcorp.com","date":"06/12/2025 7:50 PM","datesecs":1749783000000,"message":" Novedades Caso TT1069606 : Cordial saludo,De antemano disculpas, por favor cancelar agendamiento. ANDREA YAZMIN CORREA GRANADOS aycorrea@ifxcorp.com Novedades Caso TT1069606 : Cordial saludo estimados,Agradezco su apoyo programando la siguiente visita. DESCRIPCIÓNMANTENIMIENTOSE ADJUNTA ACTA DE UM  SI/NOCLIENTE:PAIS:CIUDAD:FECHA:HORA:SID:TICKET:DIRECCIÓN CLIENTE:NOMBRE CONTACTO CLIENTE:TELEFONO CLIENTE:RQ:EQUIPOS QUE SE DEBEN LLEVAR A CLIENTE:DONDE RECOGER EL EQUIPO? (RECOGER EN CALLE 80 O CALLE 26)GUIA DE ENVIO EQUIPOS:INGENIERO DE APROVISIONAMIENTO/GRUPO CARE RESPONSABLE:GERENTE DE PROYECTO:OBSERVACIONES: APROVISIONAMIENTO                  se envia visita para validar equipos en sedeNANAMINISTERIO DE HACIENDA Y CREDITO PUBLICO ColombiaBogotá, D.c.13/06/2025entre 9:00 y 11:00 2332194-Internet Premium TT1069606Carrera 8 No. 6- C 38Samuel Soto Jiménez3058132113NALlevar llevar pc y cable de consola.NANA Conectividad_Silver_BronzeNALlevar llevar pc y cable de consola. ANDREA YAZMIN CORREA GRANADOS aycorrea@ifxcorp.com ","attachment":{}},{"id":"153552576","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 3:06 PM","datesecs":1749765960000,"message":" INFORME DE TICKET Asunto Nuevo Caso TT1069606 - MINISTERIO DE HACIENDA Y CREDITO PUBLICO Asunto del Ticket Caída de Canales N&uacute;mero de Ticket TT1069606 Fecha y Hora de Creaci&oacute;n del Ticket 12/06/2025 2:03 PM Tipo del Caso Incidencia Estado Asignado Categoría Caída total del enlace Nombre Del Servicio 2332194-Internet Premium Direccion de Instalacion Carrera 8 No. 6- C 38 Nombre Del Servicio 2332195-Internet Premium Direccion de Instalacion Carrera 8 No. 6- C 38 ","attachment":{}},{"id":"153552572","author":{"id":"3060589","value":"WILSON VLADIMIR SARMIENTO ROMERO"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 3:06 PM","datesecs":1749765960000,"message":"Cliente indica, caída de servicio, se realiza validacion de servicios no operativossop-interno@COBOGTCEACJUMX480X02&gt; show interfaces descriptions | match 2332194 et-0/3/2.5486   up    up   2332194 #- IFX Internet Premium #- 256MB_VID:254-2786 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGWB1DIJUEX512X01 ae17 Carrera 8 No. 6- C 38 #- UFINET ## FIBRA_COCOIFX10108425C{master}sop-interno@COBOGTCEACJUMX480X02&gt; show configuration interfaces et-0/3/2.5486 description \"2332194 #- IFX Internet Premium #- 256MB_VID:254-2786 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGWB1DIJUEX512X01 ae17 Carrera 8 No. 6- C 38 #- UFINET ## FIBRA_COCOIFX10108425C\";vlan-tags outer 254 inner 2786;family inet {   mtu 1500;   policer {       input 256Mbps;       output 256Mbps;   }   address 172.17.64.209/30;}{master}sop-interno@COBOGTCEACJUMX480X02&gt; show arp no-resolve | match et-0/3/2.5486{master}sop-interno@COBOGTCEACJUMX480X02&gt;{master}sop-interno@COBOGTCEACJUMX480X02&gt;{master}sop-interno@COBOGTCEACJUMX480X02&gt; show interfaces descriptions | match 2332195    et-0/3/2.8703   up    up   2332195 #- Enlaces Dedicados a Internet #- 1Gb_VID:888-703 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGCOVACCIC4948X01 Gi1/45 Direccion PRINCIPAL Carrera 8 No. 6 C 38 (BOGOTA) PRINCIPAL #- IFX ## Fibra{master}sop-interno@COBOGTCEACJUMX480X02&gt; show configuration interfaces et-0/3/2.8703 description \"2332195 #- Enlaces Dedicados a Internet #- 1Gb_VID:888-703 #- 28514_MINISTERIO DE HACIENDA Y CREDITO PUBLICO #- COBOGCOVACCIC4948X01 Gi1/45 Direccion PRINCIPAL Carrera 8 No. 6 C 38 (BOGOTA) PRINCIPAL #- IFX ## Fibra\";vlan-tags outer 888 inner 703;family inet {   mtu 9000;   policer {       input 1Gbps;       output 1Gbps;   }   address 172.17.89.189/30 {       primary;   }}family inet6 {   address 2802:0:0:d4::1/64;}{master}sop-interno@COBOGTCEACJUMX480X02&gt; show arp no-resolve | match et-0/3/2.8703{master}sop-interno@COBOGTCEACJUMX480X02&gt;  ","attachment":{}},{"id":"153557270","author":{"id":"-4","value":"Samuel.Soto@minhacienda.gov.co"},"authoremail":"Samuel.Soto@minhacienda.gov.co","date":"06/12/2025 4:45 PM","datesecs":1749771900000,"message":" P {margin-top:0;margin-bottom:0;} Cordial saludo, En atención a la solicitud envío: Nombre de contacto en sitio: Samuel Soto Jiménez Número de contacto: 3058132113 Correo: samuel.soto@minhacienda.gov.co Dirección: Carrera 7 No. 6B- 80. Bogotá, Colombia. Fecha: 13/06/2025 Horarios: entre 9:00 y 11:00 o entre 14:00 y 16:00 Adjunto 6 fotos solicitadas Atentamente, Profesional Especializado Samuel Soto Jiménez Samuel.Soto@minhacienda.gov.co Conmutador (57) 601 3811700 Extensión: 3811700 Carrera 8 No. 6 C 38 - Código Postal 111711 Bogotá D.C. Colombia www.minhacienda.gov.co De: WILSON VLADIMIR SARMIENTO ROMERO &lt;wsarmiento@ifxcorp.com&gt; Enviado: jueves, 12 de junio de 2025 14:09 Para: Juan Pablo Rojas Mesa &lt;Juan.Rojas@minhacienda.gov.co&gt;; Samuel Soto Jimenez &lt;Samuel.Soto@minhacienda.gov.co&gt; Asunto: TT1069606 Caída de Canales Novedades Caso TT1069606 : Cordial saludo Estimado cliente, los Servicios 2332195-Internet Premium y 2332194-Internet Premium están en monitoreo, le pido amablemente su colaboración enviando por este medio medio fotos de los equipos de fibra (apartado LED) y de igual manera nos confirme los siguientes datos: * Nombre de contacto en sitio: * Número de contacto: * Correo: * Dirección: * Fecha: * Horarios: Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio. Agradecemos su colaboración y quedamos a la espera de sus comentarios. WILSON VLADIMIR SARMIENTO ROMERO wsarmiento@ifxcorp.com Profesional Especializado Samuel Soto Jimenez Samuel.Soto@minhacienda.gov.co Conmutador (57) 601 3811700 Extensión: 4509 Carrera 8 No. 6 C 38 - Código Postal 111711 Bogotá D.C. Colombia www.minhacienda.gov.co ","attachment":{}},{"id":"153552684","author":{"id":"3060589","value":"WILSON VLADIMIR SARMIENTO ROMERO"},"authoremail":"wsarmiento@ifxcorp.com","date":"06/12/2025 3:09 PM","datesecs":1749766140000,"message":" Novedades Caso TT1069606 : Cordial saludo      Estimado cliente,  los Servicios 2332195-Internet Premium y 2332194-Internet Premium están en monitoreo, le pido amablemente su colaboración enviando por este medio medio fotos de los equipos de fibra (apartado LED) y de igual manera nos confirme los siguientes datos:* Nombre de contacto en sitio:* Número de contacto: * Correo: * Dirección: * Fecha: * Horarios:Gracias por estar en contacto con IFX Networks, para nosotros es fundamental atender sus requerimientos garantizando un excelente servicio.Agradecemos su colaboración y quedamos a la espera de sus comentarios.  WILSON VLADIMIR SARMIENTO ROMERO wsarmiento@ifxcorp.com ","attachment":{}},{"id":"153564212","author":{"id":"3526906","value":"MARIA CAMILA CASTILLO ALDANA"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 6:15 PM","datesecs":1749777300000,"message":"Número de ticket:TIK-631352-B7K3 Fecha y hora de creación (GMT-6):12/06/2025 17:29 Nombre del cliente:IFX NETWORKS COLOMBIA SAS Número de Ticket Interno:TT1069606 Tipo de Incidencia:Caída total Identificador de Servicio:COCOIFX10108424C   Servicio Afectado:Capacidad Ethernet 260Mbps // 1830341 MINISTERIO DE HACIENDA Y CREDITO PUBLICO BOGOTA CRA8 PRINCIPAL - HAB HILO   Fecha y hora de seguimiento (GMT-6):        12/06/2025 04:07 PMEstimado equipo. Podrían validar el estado del servicio. Actualmente se evidencia up con mac bidireccional y trafico. Quedamos atentos. Saludos COCDBOGIFXSCPMINHACIENDA01#show verProduct Version: RAX701-GC-WP-02 P200R002C53Software Version: 5.5.27_20190111RITP Version: 5.4Bootstrap Version: BOOTROM_1.0.6FPGA Version: fpga:1.7    Hardware Version: A.20System MacAddress: A86D.5F39.ADBBSerial number: 123002025420S22326S0653GRAX701-GC with128       M bytes  DRAM32        M bytes  Flash Memory3.517     M bytes  Free Flash MemorySystem uptime is 768 days, 6 hours, 38 minutes COCDBOGIFXSCPMINHACIENDA01#show interface  uni 1 Port        Admin     Operate                Speed   Duplex  Active MAU type   State       Forced Port-Type        MTU----------------------------------------------------------------------------------------------------------------------------uni1        enable    up(1000M/full)         1000    full    1000BASE-T        Forward     ---                    9600       COCDBOGIFXSCPMINHACIENDA01#show mac-address-table l2-address  vlan  1100Aging time: 300 secondsMAC-Move Restrain Status: disable MAC-Move Trap Status: disable Mac Address        Port                    Vlan    Flags    ------------------------------------------------------------40A6.77BE.A6C5     nni1                    1100    dynamic 84B2.61F8.3530     uni1                    1100    dynamic COCDBOGIFXSCPMINHACIENDA01#show interface  uni  1 statistics dynamic  Dynamic statistics period: 3 secondsInterface:    uni1------------------------------------------------Input Normal Statistics:  InOctets:                         276,070,857,038,390             InUcastPkts:                      1,817,198,326         InMulticastPkts:                  62,563                InBroadcastPkts:                  14                  Output Normal Statistics:  OutOctets:                        38,067,902,861,030              OutUcastPkts:                     3,424,167,765                   OutMulticastPkts:                 1,253,900                       OutBroadcastPkts:                 9,440,225                     Bit Statistics:   Ingress Bits:                     2,208,566,856,307,120           Egress Bits:                      304,543,222,888,240           Speed Statistics:   Ingress Speed(bps):               --   Egress Speed(bps):                --   Ingress Speed(pps):               --   Egress Speed(pps):                -- Please press &lt;Ctrl+C&gt; to stop. Dynamic statistics period: 3 secondsInterface:    uni1------------------------------------------------Input Normal Statistics:  InOctets:                         276,070,873,239,783             InUcastPkts:                      1,817,218,577         InMulticastPkts:                  62,563                InBroadcastPkts:                  14                  Output Normal Statistics:  OutOctets:                        38,067,909,882,740              OutUcastPkts:                     3,424,185,375                   OutMulticastPkts:                 1,253,900                       OutBroadcastPkts:                 9,440,226                     Bit Statistics:   Ingress Bits:                     2,208,566,985,918,264           Egress Bits:                      304,543,279,061,920           Speed Statistics:   Ingress Speed(bps):               42,730,782             Egress Speed(bps):                18,519,590             Ingress Speed(pps):               6,713                  Egress Speed(pps):                5,838                Please press &lt;Ctrl+C&gt; to stop. Dynamic statistics period: 3 secondsInterface:    uni1------------------------------------------------Input Normal Statistics:  InOctets:                         276,070,892,072,635             InUcastPkts:                      1,817,241,304         InMulticastPkts:                  62,563                InBroadcastPkts:                  14                  Output Normal Statistics:  OutOctets:                        38,067,918,295,980              OutUcastPkts:                     3,424,204,239                   OutMulticastPkts:                 1,253,900                       OutBroadcastPkts:                 9,440,226                     Bit Statistics:   Ingress Bits:                     2,208,567,136,581,080           Egress Bits:                      304,543,346,367,840           Speed Statistics:   Ingress Speed(bps):               49,944,552             Egress Speed(bps):                22,311,836             Ingress Speed(pps):               7,533                  Egress Speed(pps):                6,253                Please press &lt;Ctrl+C&gt; to stop. COCDBOGIFXSCPMINHACIENDA01# 12/06/2025 03:30 PM We inform you that the ticket number TIK-631352-B7K3, has been created.   ","attachment":{}},{"id":"153576513","author":{"id":"90671","value":"CRISTIAN NICOLAS OSPINA RUIZ"},"authoremail":"cnospina@ifxcorp.com","date":"06/13/2025 12:14 AM","datesecs":1749798840000,"message":" INFORME DE CASO --> Número de Caso TT1069606 customer {customer.id} caseid {id} --> Fecha y Hora de Apertura del Caso 12/06/2025 2:06:00 pm 12/06/2025 4:03:00 pm Fecha y Hora de Operabilidad de los Servicios 13/06/2025 12:00:00 am Servicios Asociados 2332194-Internet Premium,2332195-Internet Premium Descripción del Caso Una vez identificadas las alertas en la plataforma de monitoreo, al confirmar que las mismas están relacionadas, se deriva escalamiento del caso con personal de planta externa, quienes tras realizar revisiones del nodo de confirman evento de apertura de fibra. Se identifica el punto del corte y se procede con las acciones de reparación correspondiente lo que genera el restablecimiento de los servicios. Acciones realizadas Afectación de servicios causado por evento de apertura de fibra. Imputabilidad Fuerza Mayor Persona que Autoriza la Operabilidad y Cierre del Caso CARE IFX NETWORKS ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT1069606 ? Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio --> --> ","attachment":{}},{"id":"153561075","author":{"id":"3474710","value":"ANDREA YAZMIN CORREA GRANADOS"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 5:30 PM","datesecs":1749774600000,"message":"TIK-631352-B7K3","attachment":{}}],"cierre":{"CaseId":"37927058","Company":"MINISTERIO DE HACIENDA Y CREDITO PUBLICO","Imputabilidad":"Fuerza Mayor","Responsable":"ALBA LUCIA GUEVARA ESCOBAR","Unavailable_Minutes":"801","unavailable_to_report_minutes":"0","Type_of_Unavailable":"Caida Total","date_upgrade_services_affecte":"06/13/2025 1:00:00 AM","General_description_cause":"Eventualidad","Servicio":"2332194-Internet Premium,2332195-Internet Premium","Area":"","person_confirms_closure":"CARE IFX NETWORKS","overview_fall":"Una vez identificadas las alertas en la plataforma de monitoreo, al confirmar que las mismas están relacionadas, se deriva escalamiento del caso con personal de planta externa, quienes tras realizar revisiones del nodo de confirman evento de apertura de fibra.\n\n\nSe identifica el punto del corte y se procede con las acciones de reparación correspondiente lo que genera el restablecimiento de los servicios.","Reason_for_Closing":"Evento Focalizado","SubReason_for_Closing":"Falla Proveedor","Equipment":"","Node":"","Displacement":"F","Reason_Displacement":"","Include_Report":"T","Cause_Internal_Error":"","email_confirm_close":"care@ifxcorp.com","Development_Process_Realized":"","Incident_Description":"Afectación de servicios causado por evento de apertura de fibra.","Action_Plan":"No aplica"}},"webhookUrl":"https://n8n.aifx.com.co/webhook/analytics_sent","executionMode":"production"}}]},"versionId":"9ecfc6e3-6124-4327-9b2f-81bb22c1e81b","triggerCount":1,"tags":[]}