workflowsFront Solicitud de Visitas.json
{"createdAt":"2025-06-21T16:09:12.455Z","updatedAt":"2025-06-23T15:15:24.000Z","id":"iKXwCgvfcrBS1ZcC","name":"Front Solicitud de Visitas","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"front_request","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,-40],"id":"69e674cd-b085-41c0-b0fe-a323677354aa","name":"Webhook from WEB","webhookId":"894b0a7a-cb0f-4009-8525-43642884c9ca"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"request_visitas","mode":"list","cachedResultName":"request_visitas"},"columns":{"mappingMode":"defineBelow","value":{"descripcion":"={{ $json.body.mantenimiento_aprovisionamiento }}","tipo":"={{ $json.body.mantenimiento_aprovisionamiento }}","cliente":"={{ $json.body.cliente }}","pais":"={{ $json.body.pais }}","ciudad":"={{ $json.body.ciudad }}","direccion_cliente":"={{ $json.body.direccion_cliente }}","equipos_llevar_cliente":"={{ $json.body.equipos_llevar_cliente }}","hora":"={{ $json.body.hora }}","ticket":"={{ $json.body.ticket }}","sid":"={{ $json.body.sid }}","nombre_contacto_cliente":"={{ $json.body.nombre_contacto_cliente }}","telefono_cliente":"={{ $json.body.telefono_cliente }}","rq_equipos":"={{ $json.body.rq_equipos }}","donde_recoger_equipo":"={{ $json.body.donde_recoger_equipo }}","guia_envio_equipos":"={{ $json.body.guia_envio_equipos }}","ingeniero_grupo":"={{ $json.body.nombre_grupo_ingenierio }}","gerente_proyecto":"={{ $json.body.gerente_proyecto }}","observaciones":"={{ $json.body.observaciones }}","fecha":"={{ $json.body.fecha }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"adjunta_acta_um","displayName":"adjunta_acta_um","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_contacto_cliente","displayName":"nombre_contacto_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono_cliente","displayName":"telefono_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"equipos_llevar_cliente","displayName":"equipos_llevar_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rq_equipos","displayName":"rq_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"donde_recoger_equipo","displayName":"donde_recoger_equipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"guia_envio_equipos","displayName":"guia_envio_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ingeniero_grupo","displayName":"ingeniero_grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gerente_proyecto","displayName":"gerente_proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"coordenadas","displayName":"coordenadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"asunto","displayName":"asunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_ingreso","displayName":"hora_ingreso","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"hora_salida","displayName":"hora_salida","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"contratistas","displayName":"contratistas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombregrupo","displayName":"nombregrupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[80,-40],"id":"bf39d595-4e79-484b-9626-3a609dc6c620","name":"Write DataBase","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"assignments":{"assignments":[{"id":"f8294a09-359b-4e79-964f-91d99d8147fd","name":"id","value":"={{ $json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,-40],"id":"369ef2f3-fff1-4f9b-8886-3851e3c7562e","name":"Set ID Request"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"id\": \"{{ $json.id }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[440,-40],"id":"91cbb65c-aecb-4ea0-a6b6-4fd496db4b37","name":"Respond ID"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Solicitud de Manos Remotas</title>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, sans-serif; background-color: #f8fafc; color: #334155;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n  \n  <!-- Header -->\n  <tr>\n    <td style=\"background-color: #3b82f6; padding: 20px; text-align: center;\">\n      <h1 style=\"margin: 0; color: #ffffff; font-size: 24px; font-weight: bold;\">🚀 Solicitud de Aprovisionamiento</h1>\n    </td>\n  </tr>\n\n  <!-- Content -->\n  <tr>\n    <td style=\"padding: 25px;\">\n      \n      <!-- Request Details -->\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 20px;\">\n        <tr>\n          <td width=\"50%\" style=\"padding-right: 10px;\">\n            <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">ID SOLICITUD</p>\n            <p style=\"margin: 0; font-size: 16px; color: #1e293b; font-weight: bold;\">{{ $json.id }}</p>\n          </td>\n          <td width=\"50%\" style=\"padding-left: 10px;\">\n            <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">TICKET</p>\n            <p style=\"margin: 0; font-size: 16px; color: #1e293b; font-weight: bold;\">TK-45678</p>\n          </td>\n        </tr>\n      </table>\n\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n        <tr>\n          <td width=\"50%\" style=\"padding-right: 10px;\">\n            <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">TIPO DE GESTIÓN</p>\n            <p style=\"margin: 0; font-size: 16px; color: #059669; font-weight: bold;\">Aprovisionamiento</p>\n          </td>\n          <td width=\"50%\" style=\"padding-left: 10px;\">\n            <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">SID</p>\n            <p style=\"margin: 0; font-size: 16px; color: #1e293b; font-weight: bold;\">SID-789123</p>\n          </td>\n        </tr>\n      </table>\n\n      <!-- Appointment Details -->\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px; background-color: #f1f5f9; border-radius: 6px;\">\n        <tr>\n          <td style=\"padding: 15px;\">\n            <h3 style=\"margin: 0 0 15px 0; color: #3b82f6; font-size: 16px;\">🗓️ DETALLES DE LA CITA</h3>\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n              <tr>\n                <td width=\"50%\" style=\"padding-right: 10px;\">\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">FECHA</p>\n                  <p style=\"margin: 0; font-size: 14px; color: #1e293b; font-weight: bold;\">25 de junio del 2025</p>\n                </td>\n                <td width=\"50%\" style=\"padding-left: 10px;\">\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">HORA</p>\n                  <p style=\"margin: 0; font-size: 14px; color: #1e293b; font-weight: bold;\">14:30</p>\n                </td>\n              </tr>\n            </table>\n          </td>\n        </tr>\n      </table>\n\n      <!-- Client Information -->\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n        <tr>\n          <td>\n            <h3 style=\"margin: 0 0 15px 0; color: #3b82f6; font-size: 16px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">👤 INFORMACIÓN DEL CLIENTE</h3>\n            \n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px;\">\n              <tr>\n                <td>\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">CLIENTE</p>\n                  <p style=\"margin: 0 0 12px 0; font-size: 14px; color: #1e293b; font-weight: bold;\">EMPRESA TECNOLÓGICA S.A.</p>\n                </td>\n              </tr>\n              <tr>\n                <td>\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">CONTACTO</p>\n                  <p style=\"margin: 0 0 12px 0; font-size: 14px; color: #1e293b; font-weight: bold;\">JUAN PÉREZ GARCÍA</p>\n                </td>\n              </tr>\n            </table>\n\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px;\">\n              <tr>\n                <td width=\"33%\" style=\"padding-right: 8px;\">\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">PAÍS</p>\n                  <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">COLOMBIA</p>\n                </td>\n                <td width=\"33%\" style=\"padding: 0 4px;\">\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">CIUDAD</p>\n                  <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">BOGOTÁ</p>\n                </td>\n                <td width=\"34%\" style=\"padding-left: 8px;\">\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">TELÉFONO</p>\n                  <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">+57 300 123 4567</p>\n                </td>\n              </tr>\n            </table>\n\n            <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">DIRECCIÓN</p>\n            <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">Calle 100 # 15-25, Edificio Torre Central, Piso 8</p>\n          </td>\n        </tr>\n      </table>\n\n      <!-- Equipment & Logistics -->\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px; background-color: #fef3f2; border-radius: 6px;\">\n        <tr>\n          <td style=\"padding: 15px;\">\n            <h3 style=\"margin: 0 0 15px 0; color: #dc2626; font-size: 16px;\">📦 EQUIPOS Y LOGÍSTICA</h3>\n            \n            <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">EQUIPOS A LLEVAR</p>\n            <p style=\"margin: 0 0 12px 0; font-size: 14px; color: #1e293b;\">Switch Cisco Catalyst 9300, Cables UTP Cat6, Herramientas de instalación</p>\n\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px;\">\n              <tr>\n                <td width=\"50%\" style=\"padding-right: 10px;\">\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">RQ EQUIPOS</p>\n                  <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">RQ-2025-0156</p>\n                </td>\n                <td width=\"50%\" style=\"padding-left: 10px;\">\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">GUÍA DE ENVÍO</p>\n                  <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">GE-789456123</p>\n                </td>\n              </tr>\n            </table>\n\n            <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">LUGAR DE RECOGIDA</p>\n            <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">Bodega Central - Zona Franca Bogotá</p>\n          </td>\n        </tr>\n      </table>\n\n      <!-- Work Team -->\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n        <tr>\n          <td>\n            <h3 style=\"margin: 0 0 15px 0; color: #3b82f6; font-size: 16px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">👨‍💻 EQUIPO DE TRABAJO</h3>\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n              <tr>\n                <td width=\"50%\" style=\"padding-right: 10px;\">\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">INGENIERO</p>\n                  <p style=\"margin: 0; font-size: 14px; color: #1e293b; font-weight: bold;\">Carlos Rodríguez</p>\n                </td>\n                <td width=\"50%\" style=\"padding-left: 10px;\">\n                  <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">GERENTE PROYECTO</p>\n                  <p style=\"margin: 0; font-size: 14px; color: #1e293b; font-weight: bold;\">Ana María López</p>\n                </td>\n              </tr>\n            </table>\n          </td>\n        </tr>\n      </table>\n\n      <!-- Observations -->\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #fffbeb; border-left: 4px solid #f59e0b; border-radius: 6px;\">\n        <tr>\n          <td style=\"padding: 15px;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #d97706; font-size: 16px;\">📝 OBSERVACIONES</h3>\n            <p style=\"margin: 0; font-size: 14px; color: #92400e; font-style: italic;\">CLIENTE REQUIERE INSTALACIÓN FUERA DE HORARIO LABORAL. COORDINAR ACCESO CON SEGURIDAD DEL EDIFICIO.</p>\n          </td>\n        </tr>\n      </table>\n\n    </td>\n  </tr>\n\n  <!-- Footer -->\n  <tr>\n    <td style=\"background-color: #f8fafc; padding: 15px; text-align: center; border-top: 1px solid #e2e8f0;\">\n      <p style=\"margin: 0; font-size: 11px; color: #64748b;\">\n        📧 Reporte generado automáticamente por aifx • 🕒 Fecha: 2025-06-23<br>\n        El contenido puede contener errores, favor revisar detalladamente.\n      </p>\n    </td>\n  </tr>\n\n</table>\n\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[260,160],"id":"7bcbd6d3-4d2a-41cf-bf32-a035934404b5","name":"HTML"}],"connections":{"Webhook from WEB":{"main":[[{"node":"Write DataBase","type":"main","index":0}]]},"Write DataBase":{"main":[[{"node":"Set ID Request","type":"main","index":0},{"node":"HTML","type":"main","index":0}]]},"Set ID Request":{"main":[[{"node":"Respond ID","type":"main","index":0}]]},"Respond ID":{"main":[[]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook from WEB":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"190.60.243.190","x-forwarded-for":"190.60.243.190","x-forwarded-proto":"https","connection":"upgrade","content-length":"536","content-type":"application/json","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"undici","accept-encoding":"br, gzip, deflate"},"params":{},"query":{},"body":{"mantenimiento_aprovisionamiento":"IMPLEMENTACION","ticket":"42343241","sid":"43242314","fecha":"2025-06-25","hora":"09:00","cliente":"fgfdfsdfgdgfd","nombre_contacto_cliente":"gffdgsdfgsdf","pais":"gfdgdfs","ciudad":"gfdgdf","telefono_cliente":"442345342","direccion_cliente":"gdfgdsfgsdfgs","equipos_llevar_cliente":"dgdfssdfdgdgdf","rq_equipos":"43254325","guia_envio_equipos":"5234245","donde_recoger_equipo":"gdfgsdfgsdgsdg","nombre_grupo_ingenierio":"gdfgsdfgsfd","gerente_proyecto":"gdfgsdgss","observaciones":"fgdfgfdgdfgsdfg"},"webhookUrl":"https://n8n.aifx.com.co/webhook/front_request","executionMode":"production"}}]},"versionId":"81c044a2-57bf-4b27-b752-547723d7e6c3","triggerCount":1,"tags":[]}