workflowsConsulta para Ingreso.json
{"createdAt":"2025-06-23T22:30:18.773Z","updatedAt":"2025-06-24T00:30:56.000Z","id":"gYWYudOyZwY07Qih","name":"Consulta para Ingreso","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"consulta_ingreso","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,-60],"id":"9b062cf7-9541-4144-a66e-f11913d47dcd","name":"Webhook Consulta ID","webhookId":"c7b527e5-1dff-4cd9-8c0e-a9dd8e444cf6"},{"parameters":{"httpMethod":"POST","path":"iniciar_visita","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,140],"id":"ffb135ba-b033-411a-8c46-73aa141731a9","name":"Webhook Inicio Visita","webhookId":"c7b527e5-1dff-4cd9-8c0e-a9dd8e444cf6"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM request_visitas \nWHERE id = {{ $json.body.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[100,-60],"id":"f608f911-512b-4aef-b986-214b20ff83c8","name":"Query ID Request","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"respondWith":"json","responseBody":"={\n\"id\": \"{{ $json.id || '' }}\",\n\"tipo\": \"{{ $json.tipo || '' }}\",\n\"cliente\": \"{{ ($json.cliente || '').toUpperCase() }}\",\n\"pais\": \"{{ ($json.pais || '').toUpperCase() }}\",\n\"ciudad\": \"{{ ($json.ciudad || '').toUpperCase() }}\",\n\"direccion_cliente\": \"{{ ($json.direccion_cliente || '').toTitleCase() }}\",\n\"fecha\": \"{{ $json.fecha ? $json.fecha.toDateTime().format('dd MMM yyyy') : '' }}\",\n\"hora\": \"{{ $json.hora ? $json.hora.toDateTime().format('HH mm') : '' }}\",\n\"ticket\": \"{{ $json.ticket || '' }}\",\n\"sid\": \"{{ $json.sid || '' }}\",\n\"nombre_contacto_cliente\": \"{{ $json.nombre_contacto_cliente.toUpperCase() || '' }}\",\n\"telefono_cliente\": \"{{ $json.telefono_cliente || '' }}\",\n\"equipos_llevar_cliente\": \"{{ $json.equipos_llevar_cliente || '' }}\",\n\"rq_equipos\": \"{{ $json.rq_equipos || '' }}\",\n\"donde_recoger_equipo\": \"{{ $json.donde_recoger_equipo.toTitleCase() || '' }}\",\n\"guia_envio_equipos\": \"{{ $json.guia_envio_equipos.tou || '' }}\",\n\"ingeniero_grupo\": \"{{ $json.ingeniero_grupo.toTitleCase() || '' }}\",\n\"gerente_proyecto\": \"{{ $json.gerente_proyecto.toTitleCase() || '' }}\",\n\"observaciones\": \"{{ $json.observaciones || '' }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[340,-60],"id":"ebd0b924-2186-4891-967c-f25b61b71b5b","name":"Respond to Site Info"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"request_visitas","mode":"list","cachedResultName":"request_visitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.body.id }}","hora_ingreso":"={{ $json.body.fecha_hora_inicio }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"adjunta_acta_um","displayName":"adjunta_acta_um","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombre_contacto_cliente","displayName":"nombre_contacto_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono_cliente","displayName":"telefono_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"equipos_llevar_cliente","displayName":"equipos_llevar_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rq_equipos","displayName":"rq_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"donde_recoger_equipo","displayName":"donde_recoger_equipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"guia_envio_equipos","displayName":"guia_envio_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ingeniero_grupo","displayName":"ingeniero_grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"gerente_proyecto","displayName":"gerente_proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"coordenadas","displayName":"coordenadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"asunto","displayName":"asunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_ingreso","displayName":"hora_ingreso","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"hora_salida","displayName":"hora_salida","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"contratistas","displayName":"contratistas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombregrupo","displayName":"nombregrupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[100,140],"id":"925446af-5414-40f4-a4e9-244b66b800eb","name":"Set Time Visita","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Inicio de Visita Técnica</title>\n</head>\n\n<body style=\"margin: 0; padding: 20px; font-family: Arial, sans-serif; background-color: #f8fafc; color: #334155;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n    style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n\n    <!-- Header -->\n    <tr>\n      <td style=\"background-color: #3b82f6; padding: 20px; text-align: center;\">\n        <h1 style=\"margin: 0; color: #ffffff; font-size: 24px; font-weight: bold;\">Inicio de Visita Técnica</h1>\n      </td>\n    </tr>\n\n    <!-- Arrival Time - Highlighted -->\n    <tr>\n      <td style=\"background-color: #f1f5f9; padding: 20px; text-align: center; border-bottom: 3px solid #3b82f6;\">\n        <h2 style=\"margin: 0 0 10px 0; color: #3b82f6; font-size: 18px;\">🕐 HORA DE LLEGADA</h2>\n        <p style=\"margin: 0; font-size: 32px; color: #1e293b; font-weight: bold;\">{{ $json.hora_ingreso.toDateTime().format('HH:mm') }}</p>\n        <p style=\"margin: 5px 0 0 0; font-size: 14px; color: #059669; font-weight: bold;\">{{ $json.estado_llegada }}</p>\n        <p style=\"margin: 5px 0 0 0; font-size: 14px; color: #64748b;\">{{ $json.hora_ingreso.toDateTime().setLocale('es').format('dd MMMM yyyy') }}</p>\n      </td>\n    </tr>\n\n    <!-- Technical Team Info -->\n    <tr>\n      <td style=\"background-color: #f8fafc; padding: 20px;\">\n        <h3 style=\"margin: 0 0 15px 0; color: #3b82f6; font-size: 16px; text-align: center;\">👷‍♂️ EQUIPO TÉCNICO EN\n          SITIO</h3>\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr>\n            <td width=\"50%\" style=\"padding-right: 10px; text-align: center;\">\n              <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">TÉCNICO ASIGNADO</p>\n              <p style=\"margin: 0 0 5px 0; font-size: 16px; color: #1e293b; font-weight: bold;\"></p>\n              <p style=\"margin: 0; font-size: 14px; color: #3b82f6;\">📱 +57 300 987 6543</p>\n            </td>\n            <td width=\"50%\" style=\"padding-left: 10px; text-align: center;\">\n              <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">CONTRATISTA</p>\n              <p style=\"margin: 0; font-size: 16px; color: #1e293b; font-weight: bold;\">TechSolutions S.A.S.</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n\n    <!-- Content -->\n    <tr>\n      <td style=\"padding: 25px;\">\n\n        <!-- Request Details -->\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 20px;\">\n          <tr>\n            <td width=\"50%\" style=\"padding-right: 10px;\">\n              <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">ID SOLICITUD</p>\n              <p style=\"margin: 0; font-size: 16px; color: #1e293b; font-weight: bold;\"># 2024-001</p>\n            </td>\n            <td width=\"50%\" style=\"padding-left: 10px;\">\n              <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">TICKET</p>\n              <p style=\"margin: 0; font-size: 16px; color: #1e293b; font-weight: bold;\">TK-45678</p>\n            </td>\n          </tr>\n        </table>\n\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n          <tr>\n            <td width=\"50%\" style=\"padding-right: 10px;\">\n              <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">TIPO DE GESTIÓN</p>\n              <p style=\"margin: 0; font-size: 16px; color: #059669; font-weight: bold;\">Aprovisionamiento</p>\n            </td>\n            <td width=\"50%\" style=\"padding-left: 10px;\">\n              <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">SID</p>\n              <p style=\"margin: 0; font-size: 16px; color: #1e293b; font-weight: bold;\">SID-789123</p>\n            </td>\n          </tr>\n        </table>\n\n        <!-- Appointment Details -->\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n          style=\"margin-bottom: 25px; background-color: #f1f5f9; border-radius: 6px;\">\n          <tr>\n            <td style=\"padding: 15px;\">\n              <h3 style=\"margin: 0 0 15px 0; color: #3b82f6; font-size: 16px;\">🗓️ CITA ORIGINAL</h3>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td width=\"50%\" style=\"padding-right: 10px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">FECHA PROGRAMADA\n                    </p>\n                    <p style=\"margin: 0; font-size: 14px; color: #1e293b; font-weight: bold;\">25 de junio del 2025</p>\n                  </td>\n                  <td width=\"50%\" style=\"padding-left: 10px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">HORA PROGRAMADA\n                    </p>\n                    <p style=\"margin: 0; font-size: 14px; color: #1e293b; font-weight: bold;\">14:30</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n\n        <!-- Client Information -->\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n          <tr>\n            <td>\n              <h3\n                style=\"margin: 0 0 15px 0; color: #3b82f6; font-size: 16px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">\n                👤 INFORMACIÓN DEL CLIENTE</h3>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px;\">\n                <tr>\n                  <td>\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">CLIENTE</p>\n                    <p style=\"margin: 0 0 12px 0; font-size: 14px; color: #1e293b; font-weight: bold;\">EMPRESA\n                      TECNOLÓGICA S.A.</p>\n                  </td>\n                </tr>\n                <tr>\n                  <td>\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">CONTACTO</p>\n                    <p style=\"margin: 0 0 12px 0; font-size: 14px; color: #1e293b; font-weight: bold;\">JUAN PÉREZ GARCÍA\n                    </p>\n                  </td>\n                </tr>\n              </table>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px;\">\n                <tr>\n                  <td width=\"33%\" style=\"padding-right: 8px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">PAÍS</p>\n                    <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">COLOMBIA</p>\n                  </td>\n                  <td width=\"33%\" style=\"padding: 0 4px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">CIUDAD</p>\n                    <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">BOGOTÁ</p>\n                  </td>\n                  <td width=\"34%\" style=\"padding-left: 8px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">TELÉFONO</p>\n                    <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">+57 300 123 4567</p>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">DIRECCIÓN</p>\n              <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">Calle 100 # 15-25, Edificio Torre Central, Piso 8\n              </p>\n            </td>\n          </tr>\n        </table>\n\n        <!-- Equipment & Logistics -->\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n          style=\"margin-bottom: 25px; background-color: #fef3f2; border-radius: 6px;\">\n          <tr>\n            <td style=\"padding: 15px;\">\n              <h3 style=\"margin: 0 0 15px 0; color: #dc2626; font-size: 16px;\">📦 EQUIPOS Y LOGÍSTICA</h3>\n\n              <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">EQUIPOS A INSTALAR</p>\n              <p style=\"margin: 0 0 12px 0; font-size: 14px; color: #1e293b;\">Switch Cisco Catalyst 9300, Cables UTP\n                Cat6, Herramientas de instalación</p>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px;\">\n                <tr>\n                  <td width=\"50%\" style=\"padding-right: 10px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">RQ EQUIPOS</p>\n                    <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">RQ-2025-0156</p>\n                  </td>\n                  <td width=\"50%\" style=\"padding-left: 10px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">GUÍA DE ENVÍO</p>\n                    <p style=\"margin: 0; font-size: 14px; color: #1e293b;\">GE-789456123</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n\n        <!-- Work Team -->\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 25px;\">\n          <tr>\n            <td>\n              <h3\n                style=\"margin: 0 0 15px 0; color: #3b82f6; font-size: 16px; border-bottom: 2px solid #e2e8f0; padding-bottom: 8px;\">\n                👨‍💻 EQUIPO DE PROYECTO</h3>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td width=\"50%\" style=\"padding-right: 10px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">INGENIERO</p>\n                    <p style=\"margin: 0; font-size: 14px; color: #1e293b; font-weight: bold;\">Carlos Rodríguez</p>\n                  </td>\n                  <td width=\"50%\" style=\"padding-left: 10px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #64748b; font-weight: bold;\">GERENTE PROYECTO\n                    </p>\n                    <p style=\"margin: 0; font-size: 14px; color: #1e293b; font-weight: bold;\">Ana María López</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n\n        <!-- Observations -->\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n          style=\"background-color: #fffbeb; border-left: 4px solid #f59e0b; border-radius: 6px;\">\n          <tr>\n            <td style=\"padding: 15px;\">\n              <h3 style=\"margin: 0 0 10px 0; color: #d97706; font-size: 16px;\">📝 OBSERVACIONES</h3>\n              <p style=\"margin: 0; font-size: 14px; color: #92400e; font-style: italic;\">CLIENTE REQUIERE INSTALACIÓN\n                FUERA DE HORARIO LABORAL. COORDINAR ACCESO CON SEGURIDAD DEL EDIFICIO.</p>\n            </td>\n          </tr>\n        </table>\n\n      </td>\n    </tr>\n\n    <!-- Footer -->\n    <tr>\n      <td style=\"background-color: #f8fafc; padding: 15px; text-align: center; border-top: 1px solid #e2e8f0;\">\n        <p style=\"margin: 0; font-size: 11px; color: #64748b;\">\n          📧 Reporte generado automáticamente por aifx • 🕒 Fecha: 2025-06-23<br>\n          <strong>INICIO DE VISITA CONFIRMADO</strong>\n        </p>\n      </td>\n    </tr>\n\n  </table>\n\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[520,140],"id":"19e089a1-3345-4054-974c-89575157e5c7","name":"HTML"},{"parameters":{"jsCode":"// Obtener los datos del item actual\nconst hora = $input.first().json.hora;\nconst hora_ingreso = $input.first().json.hora_ingreso;\n\n// Validar que ambas horas existan\nif (!hora || !hora_ingreso) {\n    return [{\n        json: {\n            ...($input.first().json),\n            estado_llegada: 'Datos insuficientes'\n        }\n    }];\n}\n\n// Convertir las horas a objetos Date para poder compararlas\nconst horaDate = new Date(`2000-01-01T${hora}`);\n\n// Extraer solo la hora de hora_ingreso (que viene como datetime completo)\nconst hora_ingresoTime = new Date(hora_ingreso).toTimeString().split(' ')[0];\nconst hora_ingresoDate = new Date(`2000-01-01T${hora_ingresoTime}`);\n\n// Calcular diferencias en milisegundos\nconst unaHoraAntes = new Date(horaDate.getTime() - (60 * 60 * 1000));\nconst mediaHoraAntes = new Date(horaDate.getTime() - (30 * 60 * 1000));\n\nlet estadoLlegada;\n\nif (hora_ingresoDate < unaHoraAntes) {\n    estadoLlegada = '🚨 Tarde';\n} else if (hora_ingresoDate >= mediaHoraAntes && hora_ingresoDate <= horaDate) {\n    estadoLlegada = '🕐 A Tiempo';\n} else if (hora_ingresoDate > horaDate) {\n    estadoLlegada = '✅ Temprano';\n}\n\n// Retornar el resultado\nreturn [{\n    json: {\n        ...($input.first().json),\n        estado_llegada: estadoLlegada\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,140],"id":"c6f92e22-f913-4db9-b62a-64b7ba2c1a41","name":"Code"}],"connections":{"Webhook Consulta ID":{"main":[[{"node":"Query ID Request","type":"main","index":0}]]},"Webhook Inicio Visita":{"main":[[{"node":"Set Time Visita","type":"main","index":0}]]},"Query ID Request":{"main":[[{"node":"Respond to Site Info","type":"main","index":0}]]},"Set Time Visita":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Inicio Visita":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"190.60.243.190","x-forwarded-for":"190.60.243.190","x-forwarded-proto":"https","connection":"upgrade","content-length":"549","sec-ch-ua-platform":"\"macOS\"","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","origin":"http://localhost:9002","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"http://localhost:9002/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9"},"params":{},"query":{},"body":{"id":"30","direccion_cliente":"CALLE 94 72A 95 T8 AP704","sid":"42342341","ticket":"34234324","tipo":"MANTENIMIENTO","pais":"COLOMBIA","ciudad":"BOGOTA","nombre_contacto_cliente":"JAIME PEREZ","observaciones":"fghfjgkhkhlkjlkjlkjlj","ingeniero_grupo":"Jaime Perez","gerente_proyecto":"Jaime Perez","equipos_llevar_cliente":"hgjhhjgjhjhkkh","donde_recoger_equipo":"Hgjgjgkkjhjkhk","guia_envio_equipos":"","nombre_tecnico":"JAime PErez","telefono_tecnico":"432442148123","telefono_cliente":"3165278069","fecha_hora_inicio":"2025-06-23T23:35:35.935Z"},"webhookUrl":"https://n8n.aifx.com.co/webhook/iniciar_visita","executionMode":"production"}}]},"versionId":"3a6aff68-0697-4830-8c5f-254c3653549b","triggerCount":2,"tags":[]}