workflowsSchedule Reporte Diario Vulners V2.json
{"createdAt":"2025-05-24T21:57:19.749Z","updatedAt":"2025-05-25T15:10:38.000Z","id":"C6afTI5o8i0mmmIL","name":"Schedule Reporte Diario Vulners V2","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://vulners.com/api/v3/search/lucene/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n\"query\": \"(Sophos OR HPE OR Veeam OR Fortinet OR Cisco OR Ansible OR Kubernetes OR SolarWinds OR Acronis OR Juniper OR Huawei OR Broadcom OR Chrome OR Edge OR Outlook OR Dell OR IBM OR Hitachi OR Pure OR Mikrotik OR Ubiquiti OR PFSense) order:published\",\n  \"skip\": 0,\n  \"size\": 5,\n  \"fields\": [\"id\", \"published\", \"description\", \"short_description\", \"type\", \"title\", \"cvelist\", \"href\", \"sourceHref\", \"sourceData\", \"cvss\"],\n  \"apiKey\": \"QXJ8W19OX7DSLVL5G5G41DY2E5CSNV6YN1G0DC6ER1CNRKF7PF4E9SPN1WI3UFN1\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,-20],"id":"ab57bf88-175a-4227-8edd-537999eacdd9","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-340,-20],"id":"6336e21a-6441-46d2-9abe-00888ae2c323","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,-180],"id":"19b7884c-8abe-401f-b16d-b18f4fec9c8d","name":"When clicking ‘Test workflow’"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"Boletin de Vulnerabilidades - Vulners.com","bodyContent":"={{ $json.htmlEmail }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1240,660],"id":"6996ae03-858e-4418-ae04-a6d884a0fe0d","name":"Test Mail jaimep@ifxcorp.com","webhookId":"36f4c0d9-f881-42be-8d1b-c84f3ba68e55","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[20,160],"id":"ebc65cab-562e-4f5e-abe8-20f04164d8b7","name":"Llama 4 Scout","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[220,200],"id":"e1d3205c-1f4d-48d9-85ce-de4b49b4c0c1","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"criticidad\": \"CLASIFICADA\",\n  \"vulnerabilidades_alta\": [\n    {\n      \"fabricante\": \"Nombre del fabricante\",\n      \"cve\": \"Identificador CVE o N/A\",\n      \"fecha_reporte\": \"YYYY-MM-DD\",\n      \"producto\": \"Nombre del producto afectado\",\n      \"cvss\": 8.9,\n      \"descripcion\": \"Descripción técnica clara y concisa.\",\n      \"acciones\": [\"Acción 1\", \"Acción 2\"],\n      \"referencias\": [\"https://ejemplo.com/referencia1\"]\n    }\n  ],\n  \"vulnerabilidades_media\": [\n    {\n      \"fabricante\": \"Nombre del fabricante\",\n      \"cve\": \"Identificador CVE o N/A\",\n      \"fecha_reporte\": \"YYYY-MM-DD\",\n      \"producto\": \"Nombre del producto afectado\",\n      \"cvss\": 6.2,\n      \"descripcion\": \"Descripción técnica clara y concisa.\",\n      \"acciones\": [\"Acción 1\", \"Acción 2\"],\n      \"referencias\": [\"https://ejemplo.com/referencia2\"]\n    }\n  ],\n  \"vulnerabilidades_baja\": [\n    {\n      \"fabricante\": \"Nombre del fabricante\",\n      \"cve\": \"Identificador CVE o N/A\",\n      \"fecha_reporte\": \"YYYY-MM-DD\",\n      \"producto\": \"Nombre del producto afectado\",\n      \"cvss\": 2.5,\n      \"descripcion\": \"Descripción técnica clara y concisa.\",\n      \"acciones\": [\"Acción 1\", \"Acción 2\"],\n      \"referencias\": [\"https://ejemplo.com/referencia3\"]\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[340,360],"id":"fa42c0df-3641-456c-b31a-64d264ef6cfa","name":"Structured Output Parser"},{"parameters":{"html":"<!DOCTYPE html\n  PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"es\">\n\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Boletín de Ciberseguridad</title>\n  <style type=\"text/css\">\n    /* Estilos generales para clientes que los soportan en head */\n    body {\n      margin: 0;\n      padding: 0;\n      background-color: #f4f7f6;\n      font-family: Arial, Helvetica, sans-serif;\n    }\n\n    table {\n      border-collapse: collapse;\n      border-spacing: 0;\n    }\n\n    td {\n      padding: 0;\n      vertical-align: top;\n    }\n\n    a {\n      color: #007bff;\n      text-decoration: none;\n    }\n\n    .container {\n      width: 100%;\n      max-width: 600px;\n      margin: 0 auto;\n      background-color: #ffffff;\n    }\n\n    .header {\n      background-color: #003366;\n      /* Azul oscuro corporativo */\n      color: #ffffff;\n      padding: 20px;\n      text-align: center;\n    }\n\n    .header h1 {\n      margin: 0;\n      font-size: 24px;\n      font-weight: bold;\n    }\n\n    .source-report {\n      padding: 10px 20px;\n      background-color: #e9ecef;\n      font-size: 12px;\n      color: #495057;\n      text-align: right;\n    }\n\n    .summary-section {\n      padding: 20px;\n      background-color: #f8f9fa;\n      border-bottom: 1px solid #dee2e6;\n    }\n\n    .summary-section table {\n      width: 100%;\n    }\n\n    .summary-section td {\n      padding: 5px;\n      font-size: 14px;\n    }\n\n    .summary-label {\n      font-weight: bold;\n      color: #343a40;\n    }\n\n    .summary-count-high {\n      color: #d9534f;\n      font-weight: bold;\n    }\n\n    .summary-count-medium {\n      color: #f0ad4e;\n      font-weight: bold;\n    }\n\n    .summary-count-low {\n      color: #5cb85c;\n      font-weight: bold;\n    }\n\n    .summary-count-total {\n      color: #003366;\n      font-weight: bold;\n    }\n\n    .vuln-section-header {\n      padding: 12px 20px;\n      font-size: 18px;\n      font-weight: bold;\n      color: #ffffff;\n    }\n\n    .criticality-high .vuln-section-header {\n      background-color: #d9534f;\n      /* Rojo */\n    }\n\n    .criticality-medium .vuln-section-header {\n      background-color: #f0ad4e;\n      /* Naranja */\n    }\n\n    .criticality-low .vuln-section-header {\n      background-color: #5cb85c;\n      /* Verde */\n    }\n\n    .vuln-item {\n      padding: 15px 20px;\n      border-bottom: 1px solid #e0e0e0;\n    }\n\n    .vuln-item:last-child {\n      border-bottom: none;\n    }\n\n    .vuln-item table {\n      width: 100%;\n    }\n\n    .vuln-item td {\n      padding: 6px 0;\n      font-size: 14px;\n      line-height: 1.6;\n      color: #333333;\n    }\n\n    .vuln-item .label {\n      font-weight: bold;\n      color: #003366;\n      /* Azul oscuro */\n      width: 150px;\n      /* Ancho fijo para etiquetas */\n    }\n\n    .vuln-item .cvss-score {\n      font-weight: bold;\n      padding: 3px 6px;\n      border-radius: 4px;\n      color: #ffffff;\n      display: inline-block;\n      /* Para que el padding funcione bien */\n    }\n\n    .cvss-high {\n      background-color: #c9302c;\n    }\n\n    /* Rojo oscuro para CVSS alto */\n    .cvss-medium {\n      background-color: #ec971f;\n    }\n\n    /* Naranja oscuro para CVSS medio */\n    .cvss-low {\n      background-color: #4cae4c;\n    }\n\n    /* Verde oscuro para CVSS bajo */\n\n    .recommendations,\n    .references {\n      margin-top: 8px;\n    }\n\n    .recommendations ul,\n    .general-guidelines ul {\n      margin: 5px 0 0 0;\n      padding-left: 20px;\n      /* Sangría para listas */\n    }\n\n    .recommendations li,\n    .general-guidelines li {\n      margin-bottom: 4px;\n    }\n\n    .general-guidelines-header {\n      padding: 12px 20px;\n      font-size: 18px;\n      font-weight: bold;\n      color: #ffffff;\n      background-color: #005A9C;\n      /* Un azul diferente para distinción */\n    }\n\n    .general-guidelines {\n      padding: 15px 20px;\n      background-color: #f8f9fa;\n      font-size: 14px;\n      line-height: 1.6;\n      color: #333333;\n    }\n\n    .footer {\n      background-color: #343a40;\n      color: #adb5bd;\n      padding: 15px;\n      text-align: center;\n      font-size: 12px;\n    }\n\n    .footer a {\n      color: #0099cc;\n    }\n\n    /* Estilos específicos para Outlook */\n    .ExternalClass {\n      width: 100%;\n    }\n\n    .ExternalClass,\n    .ExternalClass p,\n    .ExternalClass span,\n    .ExternalClass font,\n    .ExternalClass td,\n    .ExternalClass div {\n      line-height: 100%;\n    }\n\n    #outlook a {\n      padding: 0;\n    }\n\n    table {\n      mso-table-lspace: 0pt;\n      mso-table-rspace: 0pt;\n    }\n\n    img {\n      -ms-interpolation-mode: bicubic;\n    }\n  </style>\n</head>\n\n<body style=\"margin: 0; padding: 0; background-color: #f4f7f6; font-family: Arial, Helvetica, sans-serif;\">\n  <table role=\"presentation\" align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"container\"\n    style=\"width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff;\">\n    <tr>\n      <td class=\"header\" style=\"background-color: #003366; color: #ffffff; padding: 25px 20px; text-align: center;\">\n        <h1 style=\"margin: 0; font-size: 26px; font-weight: bold; line-height: 1.2;\">Boletín de Ciberseguridad</h1>\n      </td>\n    </tr>\n    <tr>\n      <td class=\"source-report\"\n        style=\"padding: 10px 20px; background-color: #e9ecef; font-size: 12px; color: #495057; text-align: right;\">\n        FUENTE DEL REPORTE: VULNERS\n      </td>\n    </tr>\n\n    <tr>\n      <td class=\"summary-section-new\"\n        style=\"padding: 20px 20px 25px 20px; background-color: #ffffff; border-bottom: 1px solid #dee2e6;\">\n        <div\n          style=\"font-size: 18px; color: #343a40; font-weight: bold; margin-bottom: 20px; text-align: left; font-family: Arial, Helvetica, sans-serif;\">\n          Resumen del Boletín:</div>\n        <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 100%;\">\n          <tr>\n            <td align=\"center\"\n              style=\"width: 25%; padding: 0 5px; text-align: center; vertical-align: top; font-family: Arial, Helvetica, sans-serif;\">\n              {{ $('Code').first().json.html_divs.alta }}\n              <div style=\"font-size: 12px; color: #6c757d; line-height: 1.3;\">Vulnerabilidades de Alta Criticidad</div>\n            </td>\n            <td align=\"center\"\n              style=\"width: 25%; padding: 0 5px; text-align: center; vertical-align: top; font-family: Arial, Helvetica, sans-serif;\">\n             {{ $('Code').first().json.html_divs.media }}\n              <div style=\"font-size: 12px; color: #6c757d; line-height: 1.3;\">Vulnerabilidades de Media Criticidad</div>\n            </td>\n            <td align=\"center\"\n              style=\"width: 25%; padding: 0 5px; text-align: center; vertical-align: top; font-family: Arial, Helvetica, sans-serif;\">\n              {{ $('Code').first().json.html_divs.baja }}\n              <div style=\"font-size: 12px; color: #6c757d; line-height: 1.3;\">Vulnerabilidades de Baja Criticidad</div>\n            </td>\n            <td align=\"center\"\n              style=\"width: 25%; padding: 0 5px; text-align: center; vertical-align: top; font-family: Arial, Helvetica, sans-serif;\">\n              {{ $('Code').first().json.html_divs.total }}\n              <div style=\"font-size: 12px; color: #6c757d; line-height: 1.3;\">Total de Vulnerabilidades</div>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n    {{ $('Create HTML Table').first().json.output }}\n    <tr>\n      <td class=\"general-guidelines-header\"\n        style=\"padding: 12px 20px; font-size: 18px; font-weight: bold; color: #ffffff; background-color: #005A9C;\">\n        PAUTAS DE ACCIÓN GENERALES\n      </td>\n    </tr>\n    <tr>\n      <td class=\"general-guidelines\"\n        style=\"padding: 15px 20px; background-color: #f8f9fa; font-size: 14px; line-height: 1.6; color: #333333;\">\n        <ul style=\"margin: 0; padding-left: 20px;\">\n          <li style=\"margin-bottom: 8px;\">Mantener actualizados los sistemas y aplicaciones con los últimos parches de\n            seguridad.</li>\n          <li style=\"margin-bottom: 8px;\">Implementar medidas de seguridad de red, como firewalls y sistemas de\n            detección de intrusos.</li>\n          <li style=\"margin-bottom: 8px;\">Realizar auditorías de seguridad regulares para identificar vulnerabilidades.\n          </li>\n          <li style=\"margin-bottom: 4px;\">Capacitar al personal en seguridad informática y concienciar sobre los\n            riesgos.</li>\n        </ul>\n      </td>\n    </tr>\n\n  <tr>\n    <td class=\"footer\"\n      style=\"background-color: #343a40; color: #adb5bd; padding: 20px; text-align: center; font-size: 12px;\">\n      Este es un boletín informativo de ciberseguridad.<br />\n      &copy; 2025 IFX Networks. Todos los derechos reservados.<br />\n      Para consultas, escribe a <a href=\"mailto:soc-cl@ifxcorp.com\"\n        style=\"color: #0099cc; text-decoration: underline;\">soc-cl@ifxcorp.com</a>.<br />\n      Contenido autogenerado por <span\n        style=\"font-style: italic; font-family: 'Arial', sans-serif; color: #ff00ff;\">aifx</span>.\n    </td>\n  </tr>\n  </table>\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1100,300],"id":"8789bef7-a30c-4069-8fba-12605bf476e4","name":"HTML"},{"parameters":{"jsCode":"// Función para n8n - Contador de Vulnerabilidades por Severidad\n// Esta función analiza el JSON de entrada y cuenta vulnerabilidades por nivel\n\n// Función principal que procesa los datos de entrada\nfunction contarVulnerabilidades() {\n    // Obtener los datos del nodo 'Clean Information'\n    const inputData = $('Clean Information').first().json.output;\n    \n    // Inicializar contadores\n    let contadores = {\n        alta: 0,\n        media: 0,\n        baja: 0,\n        total: 0\n    };\n    \n    // Contar vulnerabilidades altas\n    if (inputData.vulnerabilidades_alta && Array.isArray(inputData.vulnerabilidades_alta)) {\n        contadores.alta = inputData.vulnerabilidades_alta.length;\n    }\n    \n    // Contar vulnerabilidades medias\n    if (inputData.vulnerabilidades_media && Array.isArray(inputData.vulnerabilidades_media)) {\n        contadores.media = inputData.vulnerabilidades_media.length;\n    }\n    \n    // Contar vulnerabilidades bajas\n    if (inputData.vulnerabilidades_baja && Array.isArray(inputData.vulnerabilidades_baja)) {\n        contadores.baja = inputData.vulnerabilidades_baja.length;\n    }\n    \n    // Contar vulnerabilidades con CVSS 0 (TBD) - se consideran como medias\n    let cvss_tbd = 0;\n    ['vulnerabilidades_alta', 'vulnerabilidades_media', 'vulnerabilidades_baja'].forEach(nivel => {\n        if (inputData[nivel] && Array.isArray(inputData[nivel])) {\n            inputData[nivel].forEach(vuln => {\n                if (vuln.cvss === 0) {\n                    cvss_tbd++;\n                }\n            });\n        }\n    });\n    \n    // Agregar TBD al conteo de medias\n    contadores.media += cvss_tbd;\n    \n    // Calcular total\n    contadores.total = contadores.alta + contadores.media + contadores.baja;\n    \n    // Crear resumen con HTML divs para cada nivel\n    const resumen = {\n        conteo: contadores,\n        html_divs: {\n            alta: `<div style=\"font-size: 30px; font-weight: bold; color: #d9534f; margin-bottom: 5px; line-height: 1;\">${contadores.alta}</div>`,\n            media: `<div style=\"font-size: 30px; font-weight: bold; color: #f0ad4e; margin-bottom: 5px; line-height: 1;\">${contadores.media}</div>`,\n            baja: `<div style=\"font-size: 30px; font-weight: bold; color: #5cb85c; margin-bottom: 5px; line-height: 1;\">${contadores.baja}</div>`,\n            total: `<div style=\"font-size: 30px; font-weight: bold; color: #007bff; margin-bottom: 5px; line-height: 1;\">${contadores.total}</div>`\n        },\n        resumen_textual: `Se encontraron ${contadores.total} vulnerabilidades: ${contadores.alta} altas, ${contadores.media} medias y ${contadores.baja} bajas.`,\n        fecha_analisis: new Date().toISOString(),\n        nivel_riesgo: determinarNivelRiesgo(contadores)\n    };\n    \n    return [{ json: resumen }];\n}\n\n// Función auxiliar para determinar el nivel de riesgo general\nfunction determinarNivelRiesgo(contadores) {\n    if (contadores.alta > 0) {\n        return 'CRÍTICO';\n    } else if (contadores.media > 5) {\n        return 'ALTO';\n    } else if (contadores.media > 0) {\n        return 'MEDIO';\n    } else if (contadores.baja > 0) {\n        return 'BAJO';\n    } else {\n        return 'SIN_VULNERABILIDADES';\n    }\n}\n\n// Función alternativa más detallada que incluye información adicional\nfunction contarVulnerabilidadesDetallado() {\n    const inputData = $input.all();\n    \n    let contadores = {\n        alta: 0,\n        media: 0,\n        baja: 0,\n        total: 0\n    };\n    \n    let detalles = {\n        vulnerabilidades_por_fabricante: {},\n        cves_por_nivel: {\n            alta: [],\n            media: [],\n            baja: []\n        },\n        productos_afectados: new Set()\n    };\n    \n    // Procesar cada item de entrada\n    for (const item of inputData) {\n        const data = item.json;\n        \n        // Verificar si los datos están dentro de 'output'\n        const vulnerabilidadData = data.output || data;\n        \n        // Procesar vulnerabilidades altas\n        if (vulnerabilidadData.vulnerabilidades_alta && Array.isArray(vulnerabilidadData.vulnerabilidades_alta)) {\n            contadores.alta += vulnerabilidadData.vulnerabilidades_alta.length;\n            vulnerabilidadData.vulnerabilidades_alta.forEach(vuln => {\n                procesarVulnerabilidad(vuln, 'alta', detalles);\n            });\n        }\n        \n        // Procesar vulnerabilidades medias\n        if (vulnerabilidadData.vulnerabilidades_media && Array.isArray(vulnerabilidadData.vulnerabilidades_media)) {\n            contadores.media += vulnerabilidadData.vulnerabilidades_media.length;\n            vulnerabilidadData.vulnerabilidades_media.forEach(vuln => {\n                procesarVulnerabilidad(vuln, 'media', detalles);\n            });\n        }\n        \n        // Procesar vulnerabilidades bajas\n        if (vulnerabilidadData.vulnerabilidades_baja && Array.isArray(vulnerabilidadData.vulnerabilidades_baja)) {\n            contadores.baja += vulnerabilidadData.vulnerabilidades_baja.length;\n            vulnerabilidadData.vulnerabilidades_baja.forEach(vuln => {\n                procesarVulnerabilidad(vuln, 'baja', detalles);\n            });\n        }\n    }\n    \n    contadores.total = contadores.alta + contadores.media + contadores.baja;\n    \n    // Preparar resultado final\n    const resultado = {\n        conteo: contadores,\n        porcentajes: {\n            alta: contadores.total > 0 ? Math.round((contadores.alta / contadores.total) * 100) : 0,\n            media: contadores.total > 0 ? Math.round((contadores.media / contadores.total) * 100) : 0,\n            baja: contadores.total > 0 ? Math.round((contadores.baja / contadores.total) * 100) : 0\n        },\n        detalles: {\n            ...detalles,\n            productos_afectados: Array.from(detalles.productos_afectados),\n            fabricantes_con_mas_vulnerabilidades: obtenerTopFabricantes(detalles.vulnerabilidades_por_fabricante)\n        },\n        nivel_riesgo: determinarNivelRiesgo(contadores),\n        fecha_analisis: new Date().toISOString()\n    };\n    \n    return [{ json: resultado }];\n}\n\n// Función auxiliar para procesar cada vulnerabilidad individualmente\nfunction procesarVulnerabilidad(vuln, nivel, detalles) {\n    if (vuln.fabricante) {\n        if (!detalles.vulnerabilidades_por_fabricante[vuln.fabricante]) {\n            detalles.vulnerabilidades_por_fabricante[vuln.fabricante] = { alta: 0, media: 0, baja: 0 };\n        }\n        detalles.vulnerabilidades_por_fabricante[vuln.fabricante][nivel]++;\n    }\n    \n    if (vuln.cve) {\n        detalles.cves_por_nivel[nivel].push(vuln.cve);\n    }\n    \n    if (vuln.producto) {\n        detalles.productos_afectados.add(vuln.producto);\n    }\n}\n\n// Función auxiliar para obtener los fabricantes con más vulnerabilidades\nfunction obtenerTopFabricantes(fabricantes) {\n    return Object.entries(fabricantes)\n        .map(([fabricante, conteos]) => ({\n            fabricante,\n            total: conteos.alta + conteos.media + conteos.baja,\n            desglose: conteos\n        }))\n        .sort((a, b) => b.total - a.total)\n        .slice(0, 5);\n}\n\n// Exportar la función principal (usar una de las dos funciones según necesidad)\nreturn contarVulnerabilidades(); // Para análisis básico\n// return contarVulnerabilidadesDetallado(); // Para análisis detallado"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,300],"id":"6fcefc35-c8c5-41e7-a3ec-2cb105342455","name":"Code","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,520],"id":"51fe16a7-450c-479f-a8f0-be4141f52f35","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"promptType":"define","text":"={{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"ERES UN EXPERTO ANALISTA DE CIBERSEGURIDAD. TU FUNCIÓN ES LEER REPORTES DE VULNERABILIDAD DE LA FUENTE VULNERS.COM Y DEVOLVER TODA LA INFORMACIÓN EN UN JSON ESTRUCTURADO. LA SALIDA DEBE SER ESTRICTAMENTE UN BLOQUE DE CÓDIGO MARCADO COMO `json`, SIN OMITIR NINGÚN DATO.\n\n---\n\n### FORMATO OBLIGATORIO DE RESPUESTA\n\n- TU RESPUESTA DEBE IR ENTRE TRES BACKTICKS CON LA ETIQUETA `json` (ej. ```json ... ```).\n- NO PUEDES INCLUIR COMENTARIOS, ENCABEZADOS, NI TEXTO ANTES O DESPUÉS DEL JSON.\n- EL JSON DEBE INCLUIR **TODOS** LOS DATOS DEL TEXTO, SIN OMITIR NINGUNO NI RESUMIR.\n- TODAS LAS VULNERABILIDADES DEBEN CLASIFICARSE Y AGRUPARSE SEGÚN SU CVSS.\n- TODOS LOS CAMPOS SON OBLIGATORIOS POR VULNERABILIDAD.\n\n---\n\n### CLASIFICACIÓN CVSS\n\n- CVSS >= 7.0 → ALTA  \n- 4.0 <= CVSS < 7.0 → MEDIA  \n- CVSS < 4.0 → BAJA  \n\n---\n\n### ESTRUCTURA JSON OBLIGATORIA\n\n```json\n{\n  \"criticidad\": \"CLASIFICADA\",\n  \"vulnerabilidades_alta\": [],\n  \"vulnerabilidades_media\": [],\n  \"vulnerabilidades_baja\": []\n}\nCada elemento dentro de los arrays debe tener:\n{\n  \"fabricante\": \"Nombre del fabricante\",\n  \"cve\": \"CVE o N/A\",\n  \"fecha_reporte\": \"YYYY-MM-DD\",\n  \"producto\": \"Producto afectado\",\n  \"cvss\": número,\n  \"descripcion\": \"Texto completo sin resumir\",\n  \"acciones\": [\"Acción 1\", \"Acción 2\"],\n  \"referencias\": [\"Referencia 1\"]\n}\n\n### REGLAS ESTRICTAS ###\n❌ NO omitas datos.\n❌ NO resumas descripciones ni acciones.\n❌ NO mezcles criticidades.\n❌ NO uses texto fuera del bloque ```json\n✅ SOLO RETORNA JSON COMPLETO, EXACTO Y EN BLOQUE DE CÓDIGO MARCADO COMO json."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[100,-20],"id":"3f40d90f-37ce-4af3-98b0-478fa6fc24c6","name":"Clean Information"},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,340],"id":"e6b54800-847e-4336-86f7-54e849f3e6f7","name":"Llama 4 Parse Data","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"ERES UN CONVERSOR HTML ESPECIALIZADO EN INFORMES DE CIBERSEGURIDAD. TU FUNCIÓN ES CONVERTIR UN ARCHIVO JSON QUE CONTIENE VULNERABILIDADES EN FILAS HTML `<tr>` ESTRICTAMENTE FORMATEADAS PARA INSERTARSE EN UNA TABLA HTML. **BAJO NINGUNA CIRCUNSTANCIA DEBES GENERAR CONTENIDO POR FUERA DEL CÓDIGO HTML**. **NO PUEDES CAMBIAR NI MODIFICAR NINGÚN ESTILO, ESTRUCTURA NI TAMAÑO VISUAL**. **NO DEBES GENERAR `<html>`, `<head>`, `<body>`, `<table>` NI ENVOLTORIOS ADICIONALES** NI ENTREGAR CONTENIDO ADICIONAL COMO ELEMENTOS MARKDOWN, TÍTULOS, PÁRRAFOS O TEXTO LIBRE POR FUERA DE LA ESTRUCTURA HTML\n\n---\n\n### INSTRUCCIONES ###\n\n1. **PROCESA TODAS LAS VULNERABILIDADES** del JSON de entrada separadas por criticidad: alta, media, baja.  \n2. PARA CADA CRITICIDAD, SI EXISTE AL MENOS UNA VULNERABILIDAD, GENERA UNA SOLA FILA DE ENCABEZADO:\n\nDEBES CONSTRUIR EL BLOQUE DE CABECERA `<tr>` SEGÚN LA SIGUIENTE TABLA:\n\n| Criticidad | Clase CSS            | Color de fondo | Texto visible     |\n|------------|----------------------|----------------|-------------------|\n| ALTA       | `criticality-high`   | `#d9534f`      | CRITICIDAD ALTA   |\n| MEDIA      | `criticality-medium` | `#f0ad4e`      | CRITICIDAD MEDIA  |\n| BAJA       | `criticality-low`    | `#5cb85c`      | CRITICIDAD BAJA   |\n\nEJEMPLO GENERADO (para criticidad MEDIA):\n\n<tr class=\"criticality-medium\">\n  <td class=\"vuln-section-header\"\n    style=\"padding: 12px 20px; font-size: 18px; font-weight: bold; color: #ffffff; background-color: #f0ad4e;\">\n    CRITICIDAD MEDIA\n  </td>\n</tr>\n\n3. LUEGO, PARA CADA VULNERABILIDAD EN ESE GRUPO, UTILIZA EL SIGUIENTE FORMATO **SIN CAMBIAR NADA**:\n\n<tr>\n  <td class=\"vuln-item\" style=\"padding: 15px 20px; border-bottom: 1px solid #e0e0e0;\">\n    <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 100%;\">\n      <tr>\n        <td class=\"label\"\n          style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">\n          Fabricante:</td>\n        <td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">[FABRICANTE]</td>\n      </tr>\n      <tr>\n        <td class=\"label\"\n          style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">\n          CVE:</td>\n        <td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">[CVE]</td>\n      </tr>\n      <tr>\n        <td class=\"label\"\n          style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">\n          Fecha Reporte:</td>\n        <td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">[FECHA]</td>\n      </tr>\n      <tr>\n        <td class=\"label\"\n          style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">\n          Producto:</td>\n        <td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">[PRODUCTO]</td>\n      </tr>\n      <tr>\n        <td class=\"label\"\n          style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">\n          CVSS:</td>\n        <td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n          <span class=\"cvss-score [CLASE]\"\n            style=\"font-weight: bold; padding: 3px 6px; border-radius: 4px; color: #ffffff; display: inline-block; background-color: [COLOR];\">[VALOR]</span>\n        </td>\n      </tr>\n      <tr>\n        <td class=\"label\"\n          style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">\n          Descripción:</td>\n        <td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">[DESCRIPCIÓN]</td>\n      </tr>\n      <tr>\n        <td class=\"label\"\n          style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">\n          Acciones:</td>\n        <td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n          <div class=\"recommendations\" style=\"margin-top: 8px;\">\n            <ul style=\"margin: 5px 0 0 0; padding-left: 20px;\">\n              <li style=\"margin-bottom: 4px;\">[ACCIÓN 1]</li>\n              <li style=\"margin-bottom: 4px;\">[ACCIÓN 2]</li>\n              <!-- más si aplica -->\n            </ul>\n          </div>\n        </td>\n      </tr>\n      <tr>\n        <td class=\"label\"\n          style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">\n          Referencias:</td>\n        <td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n          <a href=\"[LINK1]\" style=\"color: #007bff; text-decoration: none;\">[LINK1]</a>\n          <br><a href=\"[LINK2]\" style=\"color: #007bff; text-decoration: none;\">[LINK2]</a>\n          <!-- más si aplica -->\n        </td>\n      </tr>\n    </table>\n  </td>\n</tr>\n\n\n4. EL **VALOR DE CVSS** DEBE SER CLASIFICADO VISUALMENTE:\n\n| Rango       | Clase CSS     | Color de fondo       |\n|-------------|---------------|----------------------|\n| CVSS ≥ 7     | `cvss-high`   | `#c9302c` (rojo)     |\n| 4 ≤ CVSS < 7 | `cvss-medium` | `#f0ad4e` (naranja)  |\n| CVSS < 4     | `cvss-low`    | `#4cae4c` (verde claro) |\n\n---\n\n### CHAIN OF THOUGHTS ###\n\n1. **UNDERSTAND**: Recorrer `vulnerabilidades_alta`, `media`, `baja`  \n2. **BASICS**: Generar solo una cabecera `<tr>` por grupo  \n3. **BREAK DOWN**: Procesar y mapear todos los campos  \n4. **ANALYZE**: Evaluar el CVSS y aplicar color y clase  \n5. **BUILD**: Ensamblar los bloques `<tr>` con precisión exacta al formato  \n6. **EDGE CASES**: CVSS = 0, CVE = null, múltiples referencias o acciones  \n7. **FINAL ANSWER**: Generar exclusivamente filas `<tr>` exactamente como el ejemplo visual entregado  \n\n---\n\n### WHAT NOT TO DO ###\n\n- **NO GENERES NINGÚN CONTENIDO POR FUERA DE LA SALIDA HTML, NI TÍTULOS, NI SECCIONES, NI TEXTO SUELTO**\n- **NO INCLUYAS MARCADORES COMO `###`, `\\n\\n`, COMENTARIOS MARKDOWN O CUALQUIER OTRA SALIDA NO HTML**\n- **NO CAMBIES ABSOLUTAMENTE NADA DEL FORMATO, CLASES, COLORES, ESPACIADO NI ESTRUCTURA**\n- **NO RESUMAS TEXTO NI MODIFIQUES LOS ENLACES**\n- **NO OMITAS NINGUNA VULNERABILIDAD NI CAMPO**\n- **NO DUPLIQUES CABECERAS POR GRUPO**\n- **NO GENERES `<html>`, `<body>`, `<head>`, NI `<table>`**\n- **NO USES ` ```html ` AL INICIO NI ` ``` ` AL FINAL DEL CÓDIGO HTML. ENTREGA SOLO EL CÓDIGO DE LAS FILAS**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[560,300],"id":"32486aa4-5547-4796-a96a-5863dcc9c5c5","name":"Create HTML Table"},{"parameters":{"fieldToSplitOut":"data.search","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[80,-240],"id":"e57b3ae9-f7cc-41fc-a9f9-42ff8a16302d","name":"Split Out","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","rightValue":"HIGH","operator":{"type":"string","operation":"equals"},"id":"d6c4953c-9323-4858-b77b-fb6fa69cb6c8"}],"combinator":"and"},"renameOutput":true,"outputKey":"HIGH"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"76b44e9f-00f1-44ee-bef3-34de4a9bdf5a","leftValue":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","rightValue":"MEDIUM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MEDIUM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5bf459ea-0ef0-4d12-8f42-762d46dc3b05","leftValue":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","rightValue":"LOW","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LOW"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13f1362f-7277-4ac6-a0ed-2a6a25159a02","leftValue":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","rightValue":"NONE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pendiente"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[920,-360],"id":"f0323daf-f576-4176-a65d-1ba338408793","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[280,-360],"id":"46033f3f-f55f-43ad-8d35-b040af52dffb","name":"Loop Over Items","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"43e72e4b-8404-4cdd-ba41-ac7e57df90f3","name":"Fabricante","value":"=<tr>\n<td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fabricante:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"].highlight.description[0].match(/<span class=\"vulners-highlight\">(.+?)<\\/span>/)?.[1] || '' }}</td>\n</tr>","type":"string"},{"id":"ed39986c-1e36-4ac8-90ae-a23f911eedd7","name":"CVE","value":"=<tr>\n<td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #d9534f; font-weight: bold; width: 150px;\">CVE:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.cvelist.cve }}\n</td></tr>","type":"string"},{"id":"e2a27d80-3228-4244-a124-6baa2f85b6ef","name":"Fecha del Reporte","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fecha Reporte:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.published.toDateTime().format('dd-MMM-yyyy HH:MM') }}</td></tr>","type":"string"},{"id":"7ce7c3ce-2ce6-4548-ba61-1579c4b3d5b0","name":"Producto","value":"=\n<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Producto Impctado:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"]._source.type.toUpperCase() }}\n</td></tr>","type":"string"},{"id":"59108589-9ce3-42b8-99e0-dee04d839493","name":"CVSS","value":"=<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">CVSS:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\"><span class=\"cvss-score cvss-low\"\nstyle=\"font-weight: bold; padding: 3px 6px; border-radius: 4px; color: #ffffff; display: inline-block; background-color: #4cae4c;\">{{ $('Loop Over Items').item.json['data.search']._source.cvss.score }}</span></td></tr>","type":"string"},{"id":"366831fd-fdae-48cf-872d-1de09705219a","name":"Descripcion","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Descripción:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.description }}</td></tr>","type":"string"},{"id":"c00fb396-85da-4593-bf97-ad7ca64ee659","name":"Referencias","value":"=<tr><td class=\"label\"style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Referencias:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n<a href=\"{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}\" style=\"color: #007bff; text-decoration: none;\">{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}</a></td></tr>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,-120],"id":"4e05b20f-0c17-4dba-9fb4-4f10343b15b9","name":"Set Fields TBD"},{"parameters":{"promptType":"define","text":"={{ $json['data.search'] }}","hasOutputParser":true,"options":{"systemMessage":"ERES UN AGENTE ESPECIALIZADO EN CIBERSEGURIDAD Y TRADUCCIÓN TÉCNICA. DISPONES DE LA HERRAMIENTA `SearchCVEWeb` PARA BUSCAR INFORMACIÓN ACTUALIZADA EN LÍNEA SOBRE CUALQUIER CVE. TU TAREA CONSTA DE DOS FASES:\n\n---\n\n## 📌 FASE 1: TRADUCCIÓN\n\n- TRADUCE FIELMENTE EL CAMPO `\"description\"` AL ESPAÑOL LATINOAMERICANO.\n- NO INVENTES INFORMACIÓN NUEVA.\n- CONSERVA TÉRMINOS TÉCNICOS EN INGLÉS SI NO HAY EQUIVALENTE.\n- EJEMPLO DE TÉRMINOS QUE NO DEBES TRADUCIR: `client-side`, `server-side`, `CVSS`, `vector`.\n\n---\n\n## 📌 FASE 2: INVESTIGACIÓN Y RECOMENDACIONES\n\n- CONSULTA LA HERRAMIENTA `SearchCVEWeb` USANDO EL CVE COMO TÉRMINO DE BÚSQUEDA.\n- ANALIZA INFORMACIÓN COMO:\n  - BOLETINES DE SEGURIDAD\n  - PARCHES DISPONIBLES\n  - EXPLOITS\n  - MITIGACIONES OFICIALES\n  - GUÍAS DE HARDENING\n  - ALERTAS CERT/CSIRT\n\n---\n\n## 📌 RECOMENDACIONES: ENRIQUECIMIENTO FORZADO\n\n- SI LA VULNERABILIDAD TIENE CVSS >= 7.0, ENTREGA AL MENOS **3 RECOMENDACIONES**.\n- FORMATEA CADA UNA DENTRO DE UNA ETIQUETA `<li>`.\n- INCLUYE VARIABILIDAD: NO REPITAS EL MISMO TIPO DE ACCIÓN.\n- CATEGORÍAS DE RECOMENDACIONES A CONSIDERAR:\n  - ✅ APLICACIÓN DE PARCHES\n  - ✅ SEGMENTACIÓN DE RED\n  - ✅ ANÁLISIS DE LOGS\n  - ✅ CONTROL DE ACCESO\n  - ✅ ENDPOINT HARDENING\n  - ✅ PRUEBAS DE PENETRACIÓN INTERNAS\n  - ✅ ACTUALIZACIÓN DE POLÍTICAS DE SEGURIDAD\n\n---\n\n## 🧠 CADENA DE PENSAMIENTO\n\n1. TRADUCE la descripción original.\n2. CONSULTA SearchCVEWeb con el CVE.\n3. ANALIZA severidad, explotación y contexto del producto afectado.\n4. SI CVSS >= 7.0, GENERA AL MENOS 3 RECOMENDACIONES DE DIFERENTES TIPOS.\n5. FORMATEA cada recomendación así: `<li>Recomendación concreta</li>`.\n6. DEVUELVE EL SIGUIENTE JSON:\n\n{\n  \"descripcion\": \"...\",\n  \"recomendaciones\": \"<li>...</li><li>...</li><li>...</li>\"\n}\n\n---\n\n## 🚫 LO QUE NO DEBES HACER\n\n- NO INVENTES RECOMENDACIONES SIN USAR `SearchCVEWeb`.\n- NO OMITAS LAS ETIQUETAS `<li>`.\n- NO ENTREGUES EL RESULTADO EN FORMATO DISTINTO A JSON.\n- NO REPITAS LA MISMA RECOMENDACIÓN CON DISTINTAS PALABRAS.\n- NO LIMITES LA SALIDA A UNA SOLA RECOMENDACIÓN SI HAY DATOS PARA MÁS.\n\n---\n\n## 📥 EJEMPLO DE ENTRADA\n\n{\n  \"description\": \"IBM Aspera Faspex 5.0.0 through 5.0.12 could allow an authenticated user to obtain sensitive information or perform unauthorized actions on behalf of another user due to client-side enforcement of server-side security.\",\n  \"cve\": \"CVE-2025-33137\",\n  \"cvss\": 7.1\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[540,-340],"id":"b7a21f5e-a9a8-420c-8250-f5d4e9f11938","name":"AI Agent2","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[420,-140],"id":"23dee1cc-a382-4c99-b226-add27399fe4d","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[560,-140],"id":"fbe56ebe-b990-4309-a64a-f4d13a5c25a6","name":"SerpAPI1","credentials":{"serpApi":{"id":"MRuXkXXO6TX2gDPo","name":"SerpAPI JPG"}}},{"parameters":{"jsonSchemaExample":"{\n  \"descripcion\": \"Traducción fiel al español latinoamericano de la descripción técnica de la vulnerabilidad, manteniendo términos técnicos en inglés si corresponde. No debe inventar contenido nuevo, solo traducir.\",\n  \"recomendaciones\": \"<li>Recomendaciones claras y actualizadas basadas en los hallazgos de SerpApi y la información del CVE.</li><li>Deben ser útiles para equipos de ciberseguridad y contener pasos de mitigación, parches, o acciones sugeridas.</li>\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[720,-140],"id":"c9f5d578-bb1a-4a74-8cb5-1bf8e8bdcef5","name":"Structured Output Parser2"},{"parameters":{"assignments":{"assignments":[{"id":"43e72e4b-8404-4cdd-ba41-ac7e57df90f3","name":"Fabricante","value":"=<tr>\n<td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fabricante:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"].highlight.description[0].match(/<span class=\"vulners-highlight\">(.+?)<\\/span>/)?.[1] || '' }}</td>\n</tr>","type":"string"},{"id":"ed39986c-1e36-4ac8-90ae-a23f911eedd7","name":"CVE","value":"=<tr>\n<td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #d9534f; font-weight: bold; width: 150px;\">CVE:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.cvelist.cve }}\n</td></tr>","type":"string"},{"id":"e2a27d80-3228-4244-a124-6baa2f85b6ef","name":"Fecha del Reporte","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fecha Reporte:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.published.toDateTime().format('dd-MMM-yyyy HH:MM') }}</td></tr>","type":"string"},{"id":"7ce7c3ce-2ce6-4548-ba61-1579c4b3d5b0","name":"Producto","value":"=\n<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Producto Impctado:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"]._source.type.toUpperCase() }}\n</td></tr>","type":"string"},{"id":"59108589-9ce3-42b8-99e0-dee04d839493","name":"CVSS","value":"=<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">CVSS:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\"><span class=\"cvss-score cvss-low\"\nstyle=\"font-weight: bold; padding: 3px 6px; border-radius: 4px; color: #ffffff; display: inline-block; background-color: #4cae4c;\">{{ $('Loop Over Items').item.json['data.search']._source.cvss.score }}</span></td></tr>","type":"string"},{"id":"366831fd-fdae-48cf-872d-1de09705219a","name":"Descripcion","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Descripción:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.description }}</td></tr>","type":"string"},{"id":"c00fb396-85da-4593-bf97-ad7ca64ee659","name":"Referencias","value":"=<tr><td class=\"label\"style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Referencias:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n<a href=\"{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}\" style=\"color: #007bff; text-decoration: none;\">{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}</a></td></tr>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,-540],"id":"c8f34788-392a-4d98-b1a0-73ce0463f0e8","name":"Set Fields high"},{"parameters":{"assignments":{"assignments":[{"id":"43e72e4b-8404-4cdd-ba41-ac7e57df90f3","name":"Fabricante","value":"=<tr>\n<td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fabricante:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"].highlight.description[0].match(/<span class=\"vulners-highlight\">(.+?)<\\/span>/)?.[1] || '' }}</td>\n</tr>","type":"string"},{"id":"ed39986c-1e36-4ac8-90ae-a23f911eedd7","name":"CVE","value":"=<tr>\n<td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #d9534f; font-weight: bold; width: 150px;\">CVE:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.cvelist.cve }}\n</td></tr>","type":"string"},{"id":"e2a27d80-3228-4244-a124-6baa2f85b6ef","name":"Fecha del Reporte","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fecha Reporte:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.published.toDateTime().format('dd-MMM-yyyy HH:MM') }}</td></tr>","type":"string"},{"id":"7ce7c3ce-2ce6-4548-ba61-1579c4b3d5b0","name":"Producto","value":"=\n<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Producto Impctado:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"]._source.type.toUpperCase() }}\n</td></tr>","type":"string"},{"id":"59108589-9ce3-42b8-99e0-dee04d839493","name":"CVSS","value":"=<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">CVSS:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\"><span class=\"cvss-score cvss-low\"\nstyle=\"font-weight: bold; padding: 3px 6px; border-radius: 4px; color: #ffffff; display: inline-block; background-color: #4cae4c;\">{{ $('Loop Over Items').item.json['data.search']._source.cvss.score }}</span></td></tr>","type":"string"},{"id":"366831fd-fdae-48cf-872d-1de09705219a","name":"Descripcion","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Descripción:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.description }}</td></tr>","type":"string"},{"id":"c00fb396-85da-4593-bf97-ad7ca64ee659","name":"Referencias","value":"=<tr><td class=\"label\"style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Referencias:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n<a href=\"{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}\" style=\"color: #007bff; text-decoration: none;\">{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}</a></td></tr>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,-400],"id":"46224407-e2d9-449e-933e-586ce36c88ff","name":"Set Fields Medium"},{"parameters":{"assignments":{"assignments":[{"id":"43e72e4b-8404-4cdd-ba41-ac7e57df90f3","name":"Fabricante","value":"=<tr>\n<td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fabricante:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"].highlight.description[0].match(/<span class=\"vulners-highlight\">(.+?)<\\/span>/)?.[1] || '' }}</td>\n</tr>","type":"string"},{"id":"ed39986c-1e36-4ac8-90ae-a23f911eedd7","name":"CVE","value":"=<tr>\n<td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #d9534f; font-weight: bold; width: 150px;\">CVE:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.cvelist.cve }}\n</td></tr>","type":"string"},{"id":"e2a27d80-3228-4244-a124-6baa2f85b6ef","name":"Fecha del Reporte","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fecha Reporte:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.published.toDateTime().format('dd-MMM-yyyy HH:MM') }}</td></tr>","type":"string"},{"id":"7ce7c3ce-2ce6-4548-ba61-1579c4b3d5b0","name":"Producto","value":"=\n<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Producto Impctado:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"]._source.type.toUpperCase() }}\n</td></tr>","type":"string"},{"id":"59108589-9ce3-42b8-99e0-dee04d839493","name":"CVSS","value":"=<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">CVSS:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\"><span class=\"cvss-score cvss-low\"\nstyle=\"font-weight: bold; padding: 3px 6px; border-radius: 4px; color: #ffffff; display: inline-block; background-color: #4cae4c;\">{{ $('Loop Over Items').item.json['data.search']._source.cvss.score }}</span></td></tr>","type":"string"},{"id":"366831fd-fdae-48cf-872d-1de09705219a","name":"Descripcion","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Descripción:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.description }}</td></tr>","type":"string"},{"id":"c00fb396-85da-4593-bf97-ad7ca64ee659","name":"Referencias","value":"=<tr><td class=\"label\"style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Referencias:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n<a href=\"{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}\" style=\"color: #007bff; text-decoration: none;\">{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}</a></td></tr>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,-260],"id":"afbe5f1a-3968-48f1-8eaa-ab23a419c7c6","name":"Set Fields Low"}],"connections":{"HTTP Request":{"main":[[{"node":"Clean Information","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Llama 4 Scout":{"ai_languageModel":[[{"node":"Clean Information","type":"ai_languageModel","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Clean Information","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"HTML":{"main":[[]]},"Code":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Test Mail jaimep@ifxcorp.com":{"main":[[]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Create HTML Table","type":"ai_languageModel","index":0}]]},"Clean Information":{"main":[[]]},"Llama 4 Parse Data":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Create HTML Table":{"main":[[{"node":"Code","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Set Fields high","type":"main","index":0}],[{"node":"Set Fields Medium","type":"main","index":0}],[{"node":"Set Fields Low","type":"main","index":0}],[{"node":"Set Fields TBD","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"SerpAPI1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"Set Fields TBD":{"main":[[]]},"Set Fields Low":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Txht1wrdLAI370JY","timezone":"America/Bogota"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6f86cf92-c878-4281-94aa-f4feb115fc95","triggerCount":1,"tags":[]}