workflowsDev Logs Analisis de Fortisiem Form n8n.json
{"createdAt":"2025-03-10T12:35:49.326Z","updatedAt":"2025-05-24T11:46:43.000Z","id":"yvHmpA8RLQHibNFS","name":"Dev Logs Analisis de Fortisiem Form n8n","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// Código para nodo Code de n8n - Generador de Alertas de Ciberseguridad\n// Procesa datos dinámicos de entrada y genera un email HTML compatible con Outlook y Gmail\n// Incluye sección de eventos relacionados destacada\n\n// Función para crear el header compatible con email\nfunction createEmailSafeHeader() {\n  return `\n  <!-- Header para clientes de correo -->\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 0;\" bgcolor=\"#ffffff\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"padding: 0;\">\n        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 1000px;\">\n          <tr>\n            <td align=\"center\" valign=\"top\" style=\"height: 250px; background: url('https://github.com/ifxnetworks/Dise-o/blob/main/Header_Comunicado_Cyberseguridad_IFX_CL_(2.0).png?raw=true') no-repeat center center; background-size: contain;\" background=\"https://github.com/ifxnetworks/Dise-o/blob/main/Header_Comunicado_Cyberseguridad_IFX_CL_(2.0).png?raw=true\">\n              <!-- Espacio para el header -->\n              &nbsp;\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>`;\n}\n\n// Función para crear la sección de eventos relacionados\nfunction createRelatedEventsSection(eventos) {\n  if (!eventos || !eventos.length) {\n    return '';\n  }\n  \n  let eventosHtml = '';\n  \n  eventos.forEach(evento => {\n    // Formatear fecha\n    let fechaFormateada = evento.fecha;\n    try {\n      const fecha = new Date(evento.fecha);\n      fechaFormateada = fecha.toLocaleString();\n    } catch (e) {\n      console.log('Error al formatear fecha:', e);\n    }\n    \n    eventosHtml += `\n    <tr>\n      <td style=\"padding: 10px; border-bottom: 1px solid #f7d6d6;\">\n        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr>\n            <td width=\"100\" style=\"font-family: Arial, sans-serif; font-weight: bold; color: #721c24;\">Ticket:</td>\n            <td style=\"font-family: Arial, sans-serif;\">${evento.ticket || 'No especificado'}</td>\n          </tr>\n          <tr>\n            <td width=\"100\" style=\"font-family: Arial, sans-serif; font-weight: bold; color: #721c24;\">Fecha:</td>\n            <td style=\"font-family: Arial, sans-serif;\">${fechaFormateada}</td>\n          </tr>\n          <tr>\n            <td width=\"100\" valign=\"top\" style=\"font-family: Arial, sans-serif; font-weight: bold; color: #721c24;\">Descripción:</td>\n            <td style=\"font-family: Arial, sans-serif;\">${evento.descripcion || 'No disponible'}</td>\n          </tr>\n        </table>\n      </td>\n    </tr>`;\n  });\n  \n  return `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 30px; margin-top: 0;\">\n    <tr>\n      <td style=\"background-color: #f8d7da; color: #721c24; padding: 10px; font-family: Arial, sans-serif; font-size: 18px; font-weight: bold; border-left: 5px solid #dc3545;\" bgcolor=\"#f8d7da\">\n        ⚠️ EVENTOS RELACIONADOS\n      </td>\n    </tr>\n    ${eventosHtml}\n  </table>`;\n}\n\n// Función para crear tarjetas de información\nfunction createInfoCard(title, value) {\n  return `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 10px;\">\n    <tr>\n      <td style=\"background-color: #f8fafd; border: 1px solid #d1d8e0; padding: 15px;\" bgcolor=\"#f8fafd\">\n        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr>\n            <td style=\"font-family: Arial, sans-serif; color: #002244; font-weight: bold;\">${title}:</td>\n          </tr>\n          <tr>\n            <td style=\"font-family: Arial, sans-serif; padding-top: 5px;\">${value}</td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>`;\n}\n\n// Función para crear la sección de estado del evento\nfunction createEventStatus(status, severity) {\n  let statusColor = \"#0066cc\";\n  \n  if (severity && severity.includes(\"HIGH\")) {\n    statusColor = \"#dc3545\";\n  } else if (severity && severity.includes(\"MEDIUM\")) {\n    statusColor = \"#ff9933\";\n  } else if (severity && severity.includes(\"LOW\")) {\n    statusColor = \"#28a745\";\n  }\n  \n  return `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top: 20px;\">\n    <tr>\n      <td style=\"background-color: ${statusColor}; color: #ffffff; font-family: Arial, sans-serif; text-align: center; padding: 15px; font-weight: bold;\" bgcolor=\"${statusColor}\" align=\"center\">\n        Estado del Evento: ${status}\n      </td>\n    </tr>\n  </table>`;\n}\n\n// Función para crear una sección con título\nfunction createSection(title, content) {\n  return `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 30px;\">\n    <tr>\n      <td>\n        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 15px;\">\n          <tr>\n            <td width=\"5\" style=\"background-color: #0066cc;\" bgcolor=\"#0066cc\">&nbsp;</td>\n            <td style=\"padding-left: 10px; font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; color: #002244;\">\n              ${title}\n            </td>\n          </tr>\n        </table>\n        ${content}\n      </td>\n    </tr>\n  </table>`;\n}\n\n// Función para crear una lista compatible con email\nfunction createList(items) {\n  if (!items || !items.length) return '<p style=\"font-family: Arial, sans-serif; margin: 0; padding: 0;\">No hay elementos disponibles.</p>';\n  \n  let listHtml = '<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">';\n  \n  items.forEach(item => {\n    listHtml += `\n    <tr>\n      <td width=\"20\" valign=\"top\" style=\"font-family: Arial, sans-serif; padding: 5px;\">•</td>\n      <td style=\"font-family: Arial, sans-serif; padding: 5px;\">${item}</td>\n    </tr>`;\n  });\n  \n  listHtml += '</table>';\n  return listHtml;\n}\n\n// Función para generar el HTML de la alerta\nfunction generateAlertHTML(alertData) {\n  // Función para acceso seguro a propiedades anidadas\n  const getNestedValue = (obj, path, defaultValue = '') => {\n    try {\n      const result = path.split('.').reduce((o, p) => o?.[p], obj);\n      return result !== undefined && result !== null ? result : defaultValue;\n    } catch (e) {\n      return defaultValue;\n    }\n  };\n  \n  // Sección de eventos relacionados\n  const eventosRelacionadosSection = createRelatedEventsSection(alertData.eventosRelacionados || []);\n  \n  // Sección de información del cliente\n  let clientInfoContent = `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td width=\"50%\" style=\"padding-right: 10px;\">\n        ${createInfoCard(\"Cliente Afectado\", getNestedValue(alertData, 'informacionCliente.clienteAfectado', 'No especificado'))}\n      </td>\n      <td width=\"50%\" style=\"padding-left: 10px;\">\n        ${createInfoCard(\"Fecha del Evento\", getNestedValue(alertData, 'informacionCliente.fechaEvento', 'No especificada'))}\n      </td>\n    </tr>\n    <tr>\n      <td width=\"50%\" style=\"padding-right: 10px; padding-top: 10px;\">\n        ${createInfoCard(\"N° Ticket\", getNestedValue(alertData, 'informacionCliente.numeroTicket', 'No especificado'))}\n      </td>\n      <td width=\"50%\" style=\"padding-left: 10px; padding-top: 10px;\">\n        ${createInfoCard(\"Severidad\", getNestedValue(alertData, 'informacionCliente.severidad', 'No especificada'))}\n      </td>\n    </tr>\n  </table>\n  \n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top: 20px;\">\n    <tr>\n      <td width=\"33%\" style=\"padding-right: 10px;\">\n        ${createInfoCard(\"Analista\", getNestedValue(alertData, 'informacionAnalisis.analista', 'No especificado'))}\n      </td>\n      <td width=\"33%\" style=\"padding: 0 5px;\">\n        ${createInfoCard(\"Categoría\", getNestedValue(alertData, 'informacionAnalisis.categoria', 'No especificada'))}\n      </td>\n      <td width=\"33%\" style=\"padding-left: 10px;\">\n        ${createInfoCard(\"Regla Aplicada\", getNestedValue(alertData, 'informacionAnalisis.reglaAplicada', 'No especificada'))}\n      </td>\n    </tr>\n  </table>`;\n  \n  // Sección de detalles del evento\n  let eventDetailsContent = `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td width=\"50%\" style=\"padding-right: 10px;\">\n        ${createInfoCard(\"IP de Origen\", getNestedValue(alertData, 'detallesEvento.origen.ip', 'No disponible'))}\n      </td>\n      <td width=\"50%\" style=\"padding-left: 10px;\">\n        ${createInfoCard(\"Hostname de Origen\", getNestedValue(alertData, 'detallesEvento.origen.hostname', 'No disponible'))}\n      </td>\n    </tr>\n    <tr>\n      <td width=\"50%\" style=\"padding-right: 10px; padding-top: 10px;\">\n        ${createInfoCard(\"IP de Destino\", getNestedValue(alertData, 'detallesEvento.destino.ip', 'No disponible'))}\n      </td>\n      <td width=\"50%\" style=\"padding-left: 10px; padding-top: 10px;\">\n        ${createInfoCard(\"Host de Destino\", getNestedValue(alertData, 'detallesEvento.destino.hostname', 'No disponible'))}\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding-top: 10px;\">\n        ${createInfoCard(\"Usuario Afectado\", getNestedValue(alertData, 'detallesEvento.usuarioAfectado', 'No especificado'))}\n      </td>\n    </tr>\n  </table>\n  ${createEventStatus(\n    getNestedValue(alertData, 'detallesEvento.estadoEvento', 'Pendiente de revisión'), \n    getNestedValue(alertData, 'informacionCliente.severidad', '')\n  )}`;\n  \n  // Sección de descripción y recomendaciones\n  let descriptionContent = `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 20px;\">\n    <tr>\n      <td style=\"font-family: 'Montserrat', Arial, sans-serif; padding-bottom: 10px;\">\n        <strong>Descripción del Evento:</strong> ${getNestedValue(alertData, 'descripcion', 'No hay descripción disponible')}\n      </td>\n    </tr>\n  </table>\n  \n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 20px;\">\n    <tr>\n      <td style=\"font-family: 'Montserrat', Arial, sans-serif; font-weight: bold; color: #002244; padding-bottom: 10px;\">\n        Acciones Detectadas:\n      </td>\n    </tr>\n    <tr>\n      <td>\n        ${createList(alertData.accionesDetectadas || [])}\n      </td>\n    </tr>\n  </table>\n  \n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td style=\"font-family: 'Montserrat', Arial, sans-serif; font-weight: bold; color: #002244; padding-bottom: 10px;\">\n        Recomendaciones:\n      </td>\n    </tr>\n    <tr>\n      <td>\n        ${createList(alertData.recomendaciones || [])}\n      </td>\n    </tr>\n  </table>`;\n  \n  // Construir HTML completo\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"es\">\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n  <title>${getNestedValue(alertData, 'tipoAlerta', 'Alerta de Ciberseguridad')} - ${getNestedValue(alertData, 'titulo', 'Informe de Seguridad')}</title>\n  <!--[if mso]>\n  <style type=\"text/css\">\n    body, table, td {font-family: Arial, Helvetica, sans-serif !important;}\n  </style>\n  <![endif]-->\n  <style type=\"text/css\">\n    /* Uso directo de fuentes web-safe en lugar de Google Fonts */\n    \n    /* Estilos básicos compatibles con Outlook/Gmail */\n    body {\n      font-family: Arial, sans-serif;\n      line-height: 1.6;\n      margin: 0;\n      padding: 0;\n      background-color: #f4f7fb;\n    }\n  </style>\n</head>\n<body style=\"margin: 0; padding: 20px; background-color: #f4f7fb; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\" bgcolor=\"#f4f7fb\">\n  <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width: 1000px; margin: 0 auto;\">\n    <tr>\n      <td>\n        <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: #ffffff; margin: 0 auto; box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);\" bgcolor=\"#ffffff\">\n          <!-- Header -->\n          <tr>\n            <td align=\"center\">\n              ${createEmailSafeHeader()}\n            </td>\n          </tr>\n          \n          <!-- Contenido principal -->\n          <tr>\n            <td style=\"padding: 30px;\">\n              <!-- Eventos Relacionados (si existen) -->\n              ${eventosRelacionadosSection}\n              \n              <!-- Información del Cliente y Evento -->\n              ${createSection(\"Información del Cliente y Evento\", clientInfoContent)}\n              \n              <!-- Detalles del Evento -->\n              ${createSection(\"Detalles del Evento\", eventDetailsContent)}\n              \n              <!-- Descripción y Recomendaciones -->\n              ${createSection(\"Descripción y Recomendaciones\", descriptionContent)}\n            </td>\n          </tr>\n          \n          <!-- Footer -->\n          <tr>\n            <td>\n              <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td align=\"center\">\n                    <img src=\"https://github.com/ifxnetworks/Dise-o/blob/main/Footer_Comunicado_Cyberseguridad_IFX_CL(2.0).png?raw=true\" alt=\"Pie de página\" width=\"1000\" style=\"width: 100%; max-width: 1000px; height: auto; display: block; border: 0;\">\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n}\n\n// Función para completar datos faltantes en la alerta\nfunction completarDatosAlerta(datos) {\n  // Estructura base para asegurar integridad del reporte\n  const plantilla = {\n    \"tipoAlerta\": \"ALERTA DE CIBERSEGURIDAD\",\n    \"titulo\": \"Alerta de Seguridad\",\n    \"informacionCliente\": {\n      \"clienteAfectado\": \"No especificado\",\n      \"fechaEvento\": new Date().toLocaleString(),\n      \"numeroTicket\": \"Sin asignar\",\n      \"severidad\": \"No especificada\"\n    },\n    \"informacionAnalisis\": {\n      \"analista\": \"No especificado\",\n      \"categoria\": \"No especificada\",\n      \"reglaAplicada\": \"No especificada\"\n    },\n    \"detallesEvento\": {\n      \"origen\": {\n        \"ip\": \"No disponible\",\n        \"hostname\": \"No disponible\"\n      },\n      \"destino\": {\n        \"ip\": \"No disponible\",\n        \"hostname\": \"No disponible\"\n      },\n      \"usuarioAfectado\": \"No especificado\",\n      \"estadoEvento\": \"Pendiente de revisión\"\n    },\n    \"descripcion\": \"No hay descripción disponible\",\n    \"accionesDetectadas\": [\"No hay acciones detectadas disponibles\"],\n    \"recomendaciones\": [\"No hay recomendaciones disponibles\"],\n    \"eventosRelacionados\": []\n  };\n  \n  // Combinar datos proporcionados con plantilla\n  return {\n    ...plantilla,\n    ...datos,\n    informacionCliente: {\n      ...plantilla.informacionCliente,\n      ...(datos.informacionCliente || {})\n    },\n    informacionAnalisis: {\n      ...plantilla.informacionAnalisis,\n      ...(datos.informacionAnalisis || {})\n    },\n    detallesEvento: {\n      ...plantilla.detallesEvento,\n      ...(datos.detallesEvento || {}),\n      origen: {\n        ...plantilla.detallesEvento.origen,\n        ...(datos.detallesEvento?.origen || {})\n      },\n      destino: {\n        ...plantilla.detallesEvento.destino,\n        ...(datos.detallesEvento?.destino || {})\n      }\n    }\n  };\n}\n\n// Función para generar versión de texto plano\nfunction generateTextVersion(alertData) {\n  // Crear sección de eventos relacionados si existen\n  let eventosRelacionadosText = '';\n  if (alertData.eventosRelacionados && alertData.eventosRelacionados.length > 0) {\n    eventosRelacionadosText = '\\n⚠️ EVENTOS RELACIONADOS\\n';\n    \n    alertData.eventosRelacionados.forEach(evento => {\n      let fechaFormateada = evento.fecha;\n      try {\n        const fecha = new Date(evento.fecha);\n        fechaFormateada = fecha.toLocaleString();\n      } catch (e) {\n        console.log('Error al formatear fecha:', e);\n      }\n      \n      eventosRelacionadosText += `Ticket: ${evento.ticket || 'No especificado'}\\n`;\n      eventosRelacionadosText += `Fecha: ${fechaFormateada}\\n`;\n      eventosRelacionadosText += `Descripción: ${evento.descripcion || 'No disponible'}\\n\\n`;\n    });\n  }\n  \n  return `\nALERTA DE CIBERSEGURIDAD - ${alertData.titulo || 'Alerta de Seguridad'}\n${eventosRelacionadosText}\nFecha: ${alertData.informacionCliente?.fechaEvento || 'No especificada'}\nCliente: ${alertData.informacionCliente?.clienteAfectado || 'No especificado'}\nTicket: ${alertData.informacionCliente?.numeroTicket || 'No especificado'}\nSeveridad: ${alertData.informacionCliente?.severidad || 'No especificada'}\n\nDETALLES DEL EVENTO:\n- IP Origen: ${alertData.detallesEvento?.origen?.ip || 'No disponible'} (${alertData.detallesEvento?.origen?.hostname || 'No disponible'})\n- IP Destino: ${alertData.detallesEvento?.destino?.ip || 'No disponible'} (${alertData.detallesEvento?.destino?.hostname || 'No disponible'})\n- Usuario Afectado: ${alertData.detallesEvento?.usuarioAfectado || 'No especificado'}\n- Estado: ${alertData.detallesEvento?.estadoEvento || 'No especificado'}\n\nDESCRIPCIÓN:\n${alertData.descripcion || 'No disponible'}\n\nACCIONES DETECTADAS:\n${alertData.accionesDetectadas?.map(accion => `- ${accion}`).join('\\n') || '- No disponibles'}\n\nRECOMENDACIONES:\n${alertData.recomendaciones?.map(recomendacion => `- ${recomendacion}`).join('\\n') || '- No disponibles'}\n  `;\n}\n\n// Código principal para n8n\nconst items = $input.all();\nconst returnItems = [];\n\nfor (const item of items) {\n  try {\n    // Extraer y parsear los datos JSON del campo output\n    let alertData;\n    \n    if (item.json && item.json.output) {\n      try {\n        // El campo output puede contener código con backticks y formato ```json\n        let jsonStr = item.json.output;\n        \n        // Eliminar ```json y ``` si están presentes\n        if (jsonStr.includes('```json')) {\n          jsonStr = jsonStr.replace(/```json\\n/g, '').replace(/```$/g, '');\n        }\n        \n        // Intenta parsear el JSON\n        alertData = JSON.parse(jsonStr);\n        console.log(\"Datos JSON procesados correctamente\");\n      } catch (e) {\n        console.log('Error al parsear JSON:', e);\n        throw new Error(`No se pudo parsear el JSON: ${e.message}`);\n      }\n    } else {\n      throw new Error('No se encontró un campo output en los datos de entrada');\n    }\n    \n    // Validar estructura y completar datos faltantes\n    if (!alertData || !alertData.tipoAlerta || !alertData.titulo) {\n      console.log('Estructura de datos incompleta, completando con valores por defecto');\n      alertData = completarDatosAlerta(alertData || {});\n    }\n    \n    // Generar HTML y versión de texto\n    const html = generateAlertHTML(alertData);\n    const textVersion = generateTextVersion(alertData);\n    \n    // Devolver resultados\n    returnItems.push({\n      json: {\n        htmlEmail: html,\n        textEmail: textVersion,\n        alertData: alertData,\n        subject: `${alertData.tipoAlerta} - ${alertData.titulo} ${alertData.informacionCliente?.severidad ? `[${alertData.informacionCliente.severidad}]` : ''}`\n      }\n    });\n  } catch (error) {\n    console.log('Error:', error);\n    const errorMessage = error instanceof Error \n      ? error.message \n      : 'Error desconocido';\n    returnItems.push({\n      json: {\n        error: `Error al procesar los datos: ${errorMessage}`,\n        originalInput: item.json ? JSON.stringify(item.json) : 'No hay datos de entrada'\n      }\n    });\n  }\n}\n\nreturn returnItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,20],"id":"30eee2fc-ceb3-4e19-aaff-152fabc8d7e7","name":"Convertir a HTML Template"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=TEST - Alerta de Ciberseguridad -  {{ $json.alertData.informacionCliente.clienteAfectado }} - {{ $json.alertData.informacionCliente.numeroTicket }}","bodyContent":"={{ $json.htmlEmail }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1000,20],"id":"128427c6-4a7d-4f9d-aa0b-338967e029a1","name":"Enviar Correo HTML a SOC","webhookId":"b6a5c8d1-cff6-4a1b-bb48-fd04edee1e4c","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"authentication":"basicAuth","formTitle":"Data Logs Fortisiem Analytic","formDescription":"Analiza incidentes de seguridad y crea reportes claros con pasos, acciones y recomendaciones.","formFields":{"values":[{"fieldLabel":"Analista","placeholder":"Nombre y Apellido","requiredField":true},{"fieldLabel":"Nombre del Cliente","placeholder":"Nombre del Cliente"},{"fieldLabel":"Numero de Ticket","placeholder":"TT123456","requiredField":true},{"fieldLabel":"Log","fieldType":"textarea","placeholder":"Pegar el Log del SIEM","requiredField":true}]},"responseMode":"lastNode","options":{"respondWithOptions":{"values":{"formSubmittedText":"Su consulta fue enviada, revisa la cuenta de email del SOC"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-2840,40],"id":"eba7a12a-06c1-40c5-96a9-9971ea8048de","name":"Input Data SIEM","webhookId":"f18b4023-a6d7-4fec-ad6f-cc683800156e","credentials":{"httpBasicAuth":{"id":"LuodSxkqQ43Y1opY","name":"Unnamed credential 2"}}},{"parameters":{"promptType":"define","text":"=Analista:{{ $('Code').item.json.Analista }}, Ticket Numero:{{ $('Code').item.json['Numero de Ticket'] }}, Log a Analizar:{{ $('Code').item.json.Log }}","options":{"systemMessage":"ERES UN ANALISTA DE CIBERSEGURIDAD AVANZADO TRABAJANDO EN UN SOC (CENTRO DE OPERACIONES DE SEGURIDAD). ESTÁS ENTRENADO EN ESTÁNDARES INTERNACIONALES COMO **MITRE ATT&CK**, **NIST SP 800-61**, Y LA METODOLOGÍA **STAR (SITUACIÓN, TAREA, ACCIÓN, RESULTADO)**.\n\nTU OBJETIVO ES ANALIZAR EVENTOS DE SEGURIDAD Y GENERAR UN INFORME FORMATEADO EN **JSON ESTRUCTURADO**, QUE POSTERIORMENTE SERÁ CONVERTIDO EN ALERTAS VISUALES (HTML). DISPONES DE ACCESO A UN CORPUS DOCUMENTAL INTERNO (RAG) QUE CONTIENE:\n\n- INCIDENTES HISTÓRICOS Y SU DESCRIPCIÓN  \n- TICKETS FORMATO `TT######`  \n- FECHAS DE OCURRENCIA ISO 8601  \n- POLÍTICAS DE SEGURIDAD Y MATRICES DE RIESGO  \n\n---\n\n## 🎯 OBJETIVO GENERAL\n\n1. ANALIZAR el incidente recibido\n2. CLASIFICAR la severidad y categoría MITRE\n3. DESCRIBIR con metodología STAR\n4. CONSULTAR el RAG en busca de **incidentes anteriores similares**\n5. INCLUIR esos incidentes **solo si la fecha es distinta**\n6. DEVOLVER UN JSON ESTRUCTURADO, siguiendo exactamente la plantilla provista\n\n---\n\n## 🧠 CADENA DE RAZONAMIENTO\n\n1. ENTENDER el incidente recibido: qué ocurrió, quién lo realizó, dónde, con qué severidad\n2. EXTRAER del texto campos clave: ticket, IPs, hostname, usuario, grupo, regla, severidad\n3. CLASIFICAR el incidente:\n   - Asignar categoría MITRE ATT&CK (ej. TA0003 - Persistence)\n   - Determinar severidad (ALTA, MEDIA, BAJA)\n4. REDACTAR la descripción usando STAR (Situación, Tarea, Acción, Resultado)\n5. CONSULTAR EL RAG:\n   - Buscar incidentes con grupo, regla, dominio, usuario o patrón similar\n   - VALIDAR que la fecha **no sea igual** a la del evento actual\n   - SI es válida: extraer ticket, fecha y resumen técnico\n6. ARMAR la estructura JSON\n\n---\n\n## 📦 ESTRUCTURA DE RESPUESTA JSON\n\n```json\n{\n  \"tipoAlerta\": \"ALERTA DE CIBERSEGURIDAD\",\n  \"titulo\": \"[Título claro del evento]\",\n  \"informacionCliente\": {\n    \"clienteAfectado\": \"[Nombre del cliente]\",\n    \"fechaEvento\": \"[Formato ISO 8601]\",\n    \"numeroTicket\": \"[Ej: TT102318]\",\n    \"severidad\": \"[ALTA | MEDIA | BAJA] (opcional con número)\"\n  },\n  \"informacionAnalisis\": {\n    \"analista\": \"[Nombre o 'No especificado']\",\n    \"categoria\": \"[Ej: TA0003 - Persistence]\",\n    \"reglaAplicada\": \"[Regla activada]\"\n  },\n  \"detallesEvento\": {\n    \"origen\": {\n      \"ip\": \"[IP origen]\",\n      \"hostname\": \"[Hostname origen]\"\n    },\n    \"destino\": {\n      \"ip\": \"[IP destino]\",\n      \"hostname\": \"[Hostname destino]\"\n    },\n    \"usuarioAfectado\": \"[Usuario relacionado]\",\n    \"estadoEvento\": \"[Ej: 'En análisis']\"\n  },\n  \"descripcion\": \"[Resumen técnico redactado con STAR]\",\n  \"accionesDetectadas\": [\n    \"[Acción observada 1]\",\n    \"[Acción observada 2]\"\n  ],\n  \"recomendaciones\": [\n    \"[Recomendación técnica 1]\",\n    \"[Recomendación técnica 2]\"\n  ],\n  \"eventosRelacionados\": [\n    {\n      \"ticket\": \"TT948302\",\n      \"fecha\": \"2024-11-01T10:14:00Z\",\n      \"descripcion\": \"Se detectó un incidente previo con actividad similar: adición no autorizada al grupo 'Internet_C'.\"\n    }\n  ],\n  \"recursos\": {\n    \"imagenEncabezado\": \"https://github.com/ifxnetworks/Dise-o/blob/main/Header_Comunicado_Cyberseguridad_IFX_CL_(2.0).png?raw=true\",\n    \"imagenPie\": \"https://github.com/ifxnetworks/Dise-o/blob/main/Footer_Comunicado_Cyberseguridad_IFX_CL(2.0).png?raw=true\"\n  },\n  \"metadatos\": {\n    \"tipoDocumento\": \"Alerta de Seguridad\",\n    \"versionFormato\": \"1.0\",\n    \"fechaGeneracion\": \"[Fecha ISO 8601 actual]\"\n  }\n}\n```\n\n---\n\n## 🔐 REGLAS CRÍTICAS PARA `eventosRelacionados`\n\n1. DEBES CONSULTAR EL RAG PARA DETECTAR INCIDENTES ANTERIORES SIMILARES.\n2. SI ENCUENTRAS UN EVENTO SIMILAR:\n   - VALIDA QUE SU FECHA SEA DISTINTA AL EVENTO ACTUAL.\n   - SI ES DISTINTA, INCLÚYELO EN `eventosRelacionados` CON:\n     - `\"ticket\"`: valor real tipo `TT123456`\n     - `\"fecha\"`: formato ISO 8601\n     - `\"descripcion\"`: resumen técnico breve (máx. 2 frases)\n3. SI NO HAY EVENTO O LA FECHA ES IGUAL:\n   - DEVUELVE literalmente:\n```json\n\"eventosRelacionados\": \"No se encontraron eventos similares en RAG\"\n```\n\n---\n\n## ✅ EJEMPLO VÁLIDO\n\n```json\n\"eventosRelacionados\": [\n  {\n    \"ticket\": \"TT948302\",\n    \"fecha\": \"2024-11-01T10:14:00Z\",\n    \"descripcion\": \"Evento previo con intento de persistencia mediante modificación de grupos en el mismo dominio.\"\n  }\n]\n```\n\n---\n\n## ❌ EJEMPLO INVÁLIDO (mismo día)\n\n```json\n\"eventosRelacionados\": [\n  {\n    \"ticket\": \"TT948302\",\n    \"fecha\": \"2025-05-09T10:14:00Z\",\n    \"descripcion\": \"Fecha coincidente con el evento actual — NO DEBE INCLUIRSE\"\n  }\n]\n```\n\n---\n\n## 🚫 QUÉ NUNCA HACER\n\n- ❌ NO FABRIQUES INCIDENTES HISTÓRICOS\n- ❌ NO INCLUYAS EVENTOS CON FECHA IGUAL A LA DEL INCIDENTE ACTUAL\n- ❌ NO OMITAS EL CAMPO `eventosRelacionados`\n- ❌ NO CAMBIES LOS NOMBRES DE CLAVES EN EL JSON\n- ❌ NO INCLUYAS FORMATO EXTRA (como `json` o backticks) — la salida debe ser JSON plano y limpio"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1680,-80],"id":"21e0ceda-db33-4e42-b42a-645a02e7d073","name":"Analisis de los Logs","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"ERES UN MODELO ESPECIALIZADO EN TRANSFORMAR ALERTAS DE SEGURIDAD EN FORMATO JSON A UN FORMATO **MARKDOWN ENRIQUECIDO** LEGIBLE PARA EQUIPOS TÉCNICOS Y EJECUTIVOS. TU SALIDA DEBE TENER ESTILO CLARO, PROFESIONAL Y TÉCNICAMENTE PRECISO.\n\n---\n\n🎯 **OBJETIVO PRINCIPAL**  \nCONVIERTE CUALQUIER ALERTA DE CIBERSEGURIDAD EN FORMATO JSON AL FORMATO **MARKDOWN**, CONSERVANDO TODOS LOS DETALLES IMPORTANTES Y ORGANIZÁNDOLOS CON TIPOGRAFÍA RICA (negritas, listas, espaciado adecuado), PERO **SIN USAR BLOQUES DE CÓDIGO COMO ` ``` `**.\n\n---\n\n📌 **INSTRUCCIONES DE FORMATO Y COMPORTAMIENTO**\n\n- NO uses ```markdown ni ningún bloque de código.\n- NO inventes datos. Si algún campo no existe o está vacío, omítelo del resultado.\n- NO incluyas los campos `recursos.imagenEncabezado` ni `recursos.imagenPie`.\n- AGREGA una nota final discreta que diga:  \n  _Generated by aifx_\n\n- CONVIERTE las siguientes claves en un texto MARKDOWN estructurado:\n\n---\n\n📊 ESTRUCTURA DE CONVERSIÓN\n\n1. **tipoAlerta** y **titulo** → PRESÉNTALO COMO TÍTULO CON NEGRITA Y MAYÚSCULAS.  \n   Ejemplo: `**ALERTA DE CIBERSEGURIDAD: Fallas en IPsec Phase 1**`\n\n2. **informacionCliente** → MUESTRA EN LISTA DE PUNTOS  \n   - Cliente afectado: ...  \n   - Fecha del evento: ...  \n   - Número de ticket: ...  \n   - Severidad: ...\n\n3. **informacionAnalisis** → OTRA LISTA  \n   - Analista: ...  \n   - Categoría: ...  \n   - Regla aplicada: ...\n\n4. **detallesEvento** → SEPARAR POR ORIGEN, DESTINO, USUARIO  \n   - IP Origen: ...  \n   - Hostname Origen: ...  \n   - IP Destino: ...  \n   - Hostname Destino: ...  \n   - Usuario afectado: ...  \n   - Estado del evento: ...\n\n5. **descripcion** → MOSTRAR COMO PÁRRAFO NORMAL CON NEGRITA:  \n   - **Descripción**: ...\n\n6. **accionesDetectadas** → LISTA CON VIÑETAS  \n   - Acción detectada 1  \n   - Acción detectada 2  \n   - ...\n\n7. **recomendaciones** → OTRA LISTA CON VIÑETAS  \n   - Recomendación técnica 1  \n   - Recomendación técnica 2  \n   - ...\n\n8. **metadatos** → MOSTRAR EN LISTA SIMPLE  \n   - Tipo de documento: ...  \n   - Versión del formato: ...  \n   - Fecha de generación: ...\n\n---\n\n⚠️ **QUÉ NO HACER**\n\n- ❌ NO AGREGUES ENCABEZADOS DE NIVEL H1/H2/H3\n- ❌ NO INSERTES BLOQUES DE CÓDIGO NI MARCADORES DE FORMATO DE CÓDIGO COMO ` ``` `\n- ❌ NO AÑADAS IMÁGENES, LINKS, NI CONTENIDO EXTERNO\n- ❌ NO INCLUYAS CAMPOS VACÍOS NI CAMPOS INEXISTENTES\n- ❌ NO CAMBIES EL ORDEN DE LOS ELEMENTOS\n- ❌ NO RESUMAS, NO INTERPRETES, SOLO FORMATEA\n\n---\n\n✅ **EJEMPLO DE SALIDA ESPERADA (RESUMEN VISUAL):**\n\n**ALERTA DE CIBERSEGURIDAD: Fallas en IPsec Phase 1**\n\n- Cliente afectado: Empresa XYZ  \n- Fecha del evento: 2025-03-31 14:22  \n- Número de ticket: INC123456  \n- Severidad: 9\n\n- Analista: Juan Pérez  \n- Categoría: T1566.002  \n- Regla aplicada: IPSec Phase 1 Mismatch\n\n- IP Origen: 10.10.10.1  \n- Hostname Origen: fw-main-east  \n- IP Destino: 192.168.5.10  \n- Hostname Destino: vpn-gateway-west  \n- Usuario afectado: admin_ops  \n- Estado del evento: En investigación\n\n**Descripción**: Se detectaron múltiples intentos fallidos de negociación IKEv2 entre dos gateways de VPN, indicando un desajuste en los parámetros de autenticación.\n\n- Intentos de conexión IKEv2 fallidos desde IP origen  \n- Regla IPSec Negotiation Failed disparada  \n- Eventos repetidos en menos de 5 minutos  \n- IPs involucradas con tráfico no autorizado  \n- Posible desincronización de parámetros de cifrado\n\n- Revisar parámetros de Fase 1 en ambos dispositivos  \n- Validar integridad de certificados utilizados  \n- Sincronizar métodos de autenticación entre gateways  \n- Verificar logs correlacionados de eventos similares  \n- Aplicar cambios en mantenimiento programado\n\n- Tipo de documento: Alerta de Seguridad  \n- Versión del formato: 1.0  \n- Fecha de generación: 2025-04-01\n\n_Generated by aifx_\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1140,-340],"id":"832a278b-b017-472d-807f-9005dbca6044","name":"Conversion a Texto"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=TEST - Alerta de Ciberseguridad -","bodyContent":"={{ $json.output }}","additionalFields":{"bodyContentType":"Text"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-820,-340],"id":"29b01716-97a5-468d-90a7-843b16f8bdea","name":"Enviar Correo text plain","webhookId":"b6a5c8d1-cff6-4a1b-bb48-fd04edee1e4c","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1140,-180],"id":"876769a9-f35e-457f-b7fd-d3e5ec0172ab","name":"Llama 4 Scout","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{"responseFormat":"json_object","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1680,120],"id":"e8bf2f0d-2755-4277-88f6-c8f0c8447134","name":"Lllama 4 Scout","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"url":"http://192.168.3.13:6333/collections","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2440,40],"id":"74363455-6396-42aa-aa04-02daa234c910","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"jkiNSycpISN204RL","name":"QDrant API"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"961133d4-086c-4b09-a024-d63efe4d4e68","leftValue":"={{ $json.result.collections.some(item => item.name === $('Code').item.json['formatName']) }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2200,-120],"id":"861dd57e-2208-4483-a08d-c835ec01429a","name":"If"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"={{ $('Code').item.json['formatName'] }}","mode":"id"},"embeddingBatchSize":1024,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-2040,140],"id":"c7fd27bb-468e-43a8-b49a-1550d4496f5e","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[-2120,300],"id":"1c82fa23-e03b-4d11-b52a-4bf0e909c621","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"=# Date Report: {{ $('Code').item.json.submittedAt }}\n# ticket number: {{ $('Code').item.json['Numero de Ticket'] }}\n{{ $('Code').item.json.Log }}","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-1980,300],"id":"203691e7-e1ca-47ed-98f8-9476fc91c53b","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-2000,460],"id":"3358ff7a-7c1c-4615-92a6-37a24967965f","name":"Recursive Character Text Splitter"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const nombreCliente = $input.item.json['Nombre del Cliente'];\n\n// Convertir a minúsculas y reemplazar espacios y caracteres especiales por guiones bajos\nconst formatName = nombreCliente\n  .toLowerCase()\n  .replace(/[^\\w\\s]/g, '_')  // Reemplaza caracteres especiales con _\n  .replace(/\\s+/g, '_');     // Reemplaza espacios con _\n\n// Asignar el resultado al ítem\n$input.item.json.formatName = formatName;\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2620,40],"id":"120871db-ae39-4ab7-be04-2bcde685d384","name":"Code"},{"parameters":{"mode":"retrieve-as-tool","toolName":"={{ $('Code').item.json.formatName }}","toolDescription":"Historico de eventos del cliente","qdrantCollection":{"__rl":true,"value":"={{ $('Code').item.json.formatName }}","mode":"id"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[-1520,140],"id":"889bec43-29d1-45f1-ad05-f9128e13be59","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[-1540,280],"id":"57654ed0-fdc4-4040-bbbd-3341395ae062","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1920,-20],"id":"ac029f0a-c419-484f-b5d1-23a5962f6ac8","name":"Wait","webhookId":"cb2f2f95-3e16-4d6d-bf0d-3fa9b308b912"}],"connections":{"Convertir a HTML Template":{"main":[[{"node":"Enviar Correo HTML a SOC","type":"main","index":0}]]},"Input Data SIEM":{"main":[[{"node":"Code","type":"main","index":0}]]},"Analisis de los Logs":{"main":[[{"node":"Convertir a HTML Template","type":"main","index":0},{"node":"Conversion a Texto","type":"main","index":0}]]},"Conversion a Texto":{"main":[[{"node":"Enviar Correo text plain","type":"main","index":0}]]},"Enviar Correo text plain":{"main":[[]]},"Llama 4 Scout":{"ai_languageModel":[[{"node":"Conversion a Texto","type":"ai_languageModel","index":0}]]},"Lllama 4 Scout":{"ai_languageModel":[[{"node":"Analisis de los Logs","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Analisis de los Logs","type":"main","index":0}],[{"node":"Qdrant Vector Store","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Qdrant Vector Store1":{"ai_tool":[[{"node":"Analisis de los Logs","type":"ai_tool","index":0}]]},"Qdrant Vector Store":{"main":[[]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Wait":{"main":[[{"node":"Analisis de los Logs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d2460bd5-28ab-4bb7-806f-845f186a1a6d","triggerCount":2,"tags":[]}