workflowsLlamaindex  Remaining Used.json
{"createdAt":"2025-05-30T10:20:04.502Z","updatedAt":"2025-05-31T11:29:48.000Z","id":"sxOz3SRwd8UIObT0","name":"Llamaindex  Remaining Used","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"eb50c2aa-ac2c-422e-9c11-993ee5ab4088","leftValue":"={{ $json.usage.active_free_credits_usage[0].remaining_balance }}","rightValue":1000,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,0],"id":"7d2f1f0f-5966-4e25-a947-6e98c9fdb7e3","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"d60d9b7d-01eb-49cf-ae16-495a8c956f30","name":"remaining_rate","value":"={{ $json.usage.active_free_credits_usage[0].remaining_balance / $json.usage.active_free_credits_usage[0].starting_balance * 100 }}%","type":"number"},{"id":"0b951fd1-57c7-4ba0-a0b9-d3062d565303","name":"remaining_balance","value":"={{ $json.usage.active_free_credits_usage[0].remaining_balance }}","type":"string"},{"id":"ffc3f79a-a677-480b-ae2d-6af147c89822","name":"used_rate","value":"={{ ($json.usage.active_free_credits_usage[0].starting_balance- $json.usage.active_free_credits_usage[0].remaining_balance) / $json.plan.recurring_credits[0].credit_amount * 100 }}%","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,-120],"id":"7c77a689-8f14-4348-9c11-bc3883168e82","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-140,0],"id":"6f05054b-9f01-4b63-9feb-114e126483a1","name":"Schedule Trigger"},{"parameters":{"url":"https://api.cloud.llamaindex.ai/api/v1/projects/7573e460-e706-49a6-bea1-08e67d90116d/usage","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,0],"id":"6729cb48-9ba1-4afb-b2d9-b50def2974eb","name":"GET Remaining Llama","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,100],"id":"b497c9be-a24e-4ad7-b5a6-7e01bce285e1","name":"Remaining OK"},{"parameters":{"html":"<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Alerta LlamaIndex</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; margin: 0; padding: 20px; background-color: #f5f5f5;\">\n    \n    <div style=\"max-width: 600px; margin: 0 auto; background-color: white; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); overflow: hidden;\">\n        \n        <!-- Header -->\n        <div style=\"background-color: #ff6b35; color: white; padding: 30px 20px; text-align: center;\">\n            <h1 style=\"margin: 0; font-size: 24px; font-weight: bold;\">⚠️ Alerta LlamaIndex</h1>\n            <h2 style=\"color: white; margin: 0 10px ; font-size: 12px;\">Generated by <span\n                        style=\"font-style: italic; font-family: serif; font-size: 14px;\">aifx</span></h2>\n        </div>\n        \n        <!-- Content -->\n        <div style=\"padding: 40px 30px; text-align: center;\">\n            <div style=\"background-color: #fff3cd; border: 1px solid #ffeaa7; border-radius: 6px; padding: 20px; margin-bottom: 30px;\">\n                <h2 style=\"color: #856404; margin: 0 0 10px 0; font-size: 20px;\">🚨 Límite Próximo</h2>\n                <p style=\"color: #856404; margin: 0; font-size: 16px; font-weight: 500;\">\n                    Quedan <strong> {{ $('Edit Fields').item.json.remaining_balance }} ejecuciones</strong> disponibles en LlamaIndex\n                </p>\n            </div>\n            \n           <div style=\"background-color: #f8f9fa; border-radius: 6px; padding: 25px; margin-bottom: 30px;\">\n                <h3 style=\"color: #495057; margin: 0 0 15px 0; font-size: 18px;\">📊 Estado del Sistema</h3>\n                <div style=\"background-color: #28a745; height: 8px; border-radius: 4px; width: 100%; margin: 15px 0;\">\n                    <div style=\"background-color: #dc3545; height: 8px; border-radius: 4px; width: {{ $('Edit Fields').item.json.used_rate }};\"></div>\n                </div>\n                <p style=\"color: #6c757d; margin: 5px 0 0 0; font-size: 14px;\">\n                    <strong>Crítico:</strong> Resta el {{ $('Edit Fields').item.json.remaining_rate }}\n                </p>\n            </div>\n            \n            <p style=\"color: #495057; font-size: 16px; line-height: 1.5; margin: 0 0 30px 0;\">\n                Te recomendamos revisar tu plan actual y considerar una actualización para evitar interrupciones en el servicio.\n            </p>\n            \n            <div style=\"margin-top: 20px;\">\n                <a href=\"https://cloud.llamaindex.ai/project/7573e460-e706-49a6-bea1-08e67d90116d\" style=\"background-color: #007bff; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n                    Revisar Plan\n                </a>\n            </div>\n        </div>\n        \n        <!-- Footer -->\n        <div style=\"background-color: #f8f9fa; padding: 20px; text-align: center; border-top: 1px solid #dee2e6;\">\n            <p style=\"color: #6c757d; margin: 0; font-size: 12px;\">\n                Este es un mensaje automático generado por aifx\n            </p>\n            <p style=\"color: #6c757d; margin: 5px 0 0 0; font-size: 12px;\">\n                Fecha: {{ $now.format('dd-MMM-yyyy HH:MM') }} <span id=\"current-date\"></span>\n            </p>\n        </div>\n        \n    </div>\n    \n    <script>\n        document.getElementById('current-date').textContent = new Date().toLocaleDateString('es-ES');\n    </script>\n    \n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[800,-240],"id":"a8f41fe2-d09a-48a5-9fed-762d0f58e3cd","name":"Template Email"},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"=⚠️ *LLAMAINDEX ALERT*\n🔴 {{ $json.remaining_balance }} ejecuciones restantes\n📉 Quedan {{ $json.remaining_rate }}\n📅 Fecha: {{ $now.format('dd-MMM-yyyy HH:MM') }}\n🔥 https://cloud.llamaindex.ai/project/7573e460-e706-49a6-bea1-08e67d90116d","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,-40],"id":"3b1a9d80-b861-4802-909a-66d11018345b","name":"Send WApp","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"⚠️  LLAMAINDEX ALERT","bodyContent":"={{ $json.html }}\n<br><br><br>\n","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1020,-240],"id":"142bc41a-c98b-4e2e-a1a3-426e148c67bb","name":"Send Mail AIFX","webhookId":"015ba1fe-2046-4e23-af45-9509e2e71813","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}}],"connections":{"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Remaining OK","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Template Email","type":"main","index":0},{"node":"Send WApp","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"GET Remaining Llama","type":"main","index":0}]]},"GET Remaining Llama":{"main":[[{"node":"If","type":"main","index":0}]]},"Template Email":{"main":[[{"node":"Send Mail AIFX","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Txht1wrdLAI370JY","timeSavedPerExecution":5},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09309a8f-f3b1-449a-bb2f-c756d6e01514","triggerCount":1,"tags":[]}