workflowsVector Database RAG Productos IFX.json
{"createdAt":"2025-04-21T00:55:17.696Z","updatedAt":"2025-06-26T21:05:13.000Z","id":"3QXKVkbLKyrWVYUR","name":"Vector Database RAG Productos IFX","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"text","options":{"encoding":"utf8","keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,260],"id":"5ece0d5b-67b4-44c7-8e3c-1e7f31508787","name":"Extract from File","alwaysOutputData":true},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"technical_documentation","mode":"list","cachedResultName":"technical_documentation"},"embeddingBatchSize":1024,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[260,260],"id":"4e8be158-da4a-4176-ba5d-c4b5bdb9fb90","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"=File Name: {{ $('Code1').item.json.name }}\nContent: {{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"File Name","value":"={{ $('Code1').item.json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[240,520],"id":"f186e09f-40ec-43a4-8162-169ee37a872e","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[220,660],"id":"13eca3d7-9d79-4d2a-851b-5807294f4a52","name":"Recursive Character Text Splitter"},{"parameters":{"resource":"fileFolder","limit":1,"filter":{"folderId":{"__rl":true,"value":"1E9nB2wry95uw0r3by4wqGT113M9sSFRO","mode":"list","cachedResultName":"Technical Support","cachedResultUrl":"https://drive.google.com/drive/folders/1E9nB2wry95uw0r3by4wqGT113M9sSFRO"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1020,260],"id":"d881aa80-f837-467d-9971-cc98d0b5b0dc","name":"Search New Doc","credentials":{"googleDriveOAuth2Api":{"id":"sJotOGT79UDE9bbO","name":"Google Drive JPG"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Search New Doc').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-180,260],"id":"a7c76952-8a6e-4c2f-b184-45a7e807f380","name":"Download File","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"sJotOGT79UDE9bbO","name":"Google Drive JPG"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Search New Doc').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1ZnYGjniVJMB245XE0CaCxa6MRCrrSddC","mode":"list","cachedResultName":"Read Docs","cachedResultUrl":"https://drive.google.com/drive/folders/1ZnYGjniVJMB245XE0CaCxa6MRCrrSddC"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[300,0],"id":"4f0f716b-77a6-42bc-b781-e91a542bad4b","name":"Move File Read","credentials":{"googleDriveOAuth2Api":{"id":"sJotOGT79UDE9bbO","name":"Google Drive JPG"}}},{"parameters":{"pollTimes":{"item":[{"hour":23}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1E9nB2wry95uw0r3by4wqGT113M9sSFRO","mode":"list","cachedResultName":"Technical Support","cachedResultUrl":"https://drive.google.com/drive/folders/1E9nB2wry95uw0r3by4wqGT113M9sSFRO"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1260,280],"id":"3eeb08ad-8c56-408e-960f-3a49d2bf3c69","name":"Trigger New File","credentials":{"googleDriveOAuth2Api":{"id":"sJotOGT79UDE9bbO","name":"Google Drive JPG"}}},{"parameters":{"documentId":{"__rl":true,"value":"1EZt7LAlzJlkwfvaomrm-TWoSSI3aZadOivUd4459_pQ","mode":"list","cachedResultName":"check_id_exist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EZt7LAlzJlkwfvaomrm-TWoSSI3aZadOivUd4459_pQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"check_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EZt7LAlzJlkwfvaomrm-TWoSSI3aZadOivUd4459_pQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"id_file","lookupValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-580,280],"id":"4d632e78-2f2a-4ecc-b326-180713759f3e","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"jx6KKOWWuAHuW3n7","name":"Google Sheets JPG"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"13dedf7b-b8ea-4e5a-a2d3-50e2d5296c6b","leftValue":"={{ $('Google Sheets').item.json.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,280],"id":"dfe2816f-d3a0-46db-8f72-2e7f2902beaa","name":"File Not Exist"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1EZt7LAlzJlkwfvaomrm-TWoSSI3aZadOivUd4459_pQ","mode":"list","cachedResultName":"check_id_exist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EZt7LAlzJlkwfvaomrm-TWoSSI3aZadOivUd4459_pQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"check_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EZt7LAlzJlkwfvaomrm-TWoSSI3aZadOivUd4459_pQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id_file":"={{ $('Search New Doc').item.json.id }}"},"matchingColumns":["id_file"],"schema":[{"id":"id_file","displayName":"id_file","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"id":"c39ddf15-df78-4cec-b2a7-e115768b4a76","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"jx6KKOWWuAHuW3n7","name":"Google Sheets JPG"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[620,260],"id":"3c70bde7-e786-4720-ae94-11ac0787e29b","name":"Wait1","webhookId":"c0dcbdab-d2a0-4e2f-9bba-dfc502701833"},{"parameters":{"jsCode":"const uniqueItems = [];\nconst seenIds = new Set();\n\nfor (const item of items) {\n  const id = item.json.id;\n  if (!seenIds.has(id)) {\n    seenIds.add(id);\n    uniqueItems.push(item);\n  }\n}\n\nreturn uniqueItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-820,260],"id":"9d082a7c-c6a1-4762-b441-b2f94ec31396","name":"Code1"},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[80,460],"id":"9b997ef2-76c8-4085-927c-e7b8aa796eac","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}}],"connections":{"Extract from File":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Search New Doc":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Google Sheets1","type":"main","index":0},{"node":"Extract from File","type":"main","index":0}]]},"Trigger New File":{"main":[[{"node":"Search New Doc","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"File Not Exist","type":"main","index":0}]]},"File Not Exist":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Move File Read","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Search New Doc","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37b1b483-c912-4e86-bf55-8b56639f17ce","triggerCount":0,"tags":[]}