workflowsError Trigger Monitor.json
{"createdAt":"2025-05-20T11:39:15.774Z","updatedAt":"2025-05-31T02:20:00.000Z","id":"Txht1wrdLAI370JY","name":"Error Trigger Monitor","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-340,0],"id":"0935cc9f-ad86-4584-8787-2ebbdc19df37","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b8d04c88-88ef-4160-be6b-3a523b86b5f9","name":"workflow_id","value":"={{ $json.workflow.id }}","type":"string"},{"id":"485bdf92-8f2f-4a0c-9469-44acd222b77b","name":"workflow_name","value":"={{ $json.workflow.name }}","type":"string"},{"id":"52cadf99-aec0-4c49-b3dc-7a61768a6a57","name":"execution_id","value":"={{ $json.execution.id }}","type":"string"},{"id":"5c7841b4-bcc3-46b1-9f20-0541c6465168","name":"execution_url","value":"={{ $json.execution.url }}","type":"string"},{"id":"98d2aa9c-a790-448a-a050-98778d5648f6","name":"execution.error.node.name","value":"={{ $json.execution.error.node.name }}","type":"string"},{"id":"c890a31d-6494-4243-a62b-06add0a1cfbd","name":"execution.error.description","value":"={{ $json.execution.error.description }}","type":"string"},{"id":"b72eb37a-e66f-4f6c-9850-626e43af8337","name":"execution.error.timestamp","value":"={{ $json.execution.error.timestamp.toDateTime().setZone('America/Bogota').format('yyyy-MM-dd HH:mm:ss') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,-160],"id":"85ba538a-7587-43f0-b6c6-3890cd04c78d","name":"Edit Fields"},{"parameters":{"toRecipients":"jaimep@outlook.com","subject":"=⚠️ Error en Workflow n8n - {{ $json.workflow_name }}","bodyContent":"=🚨 **WORKFLOW ERROR REPORT** 🚨\n\n🔧 **Workflow ID:** {{ $json.workflow_id }}\n📋 **Workflow Name:** {{ $json.workflow_name }}\n🆔 **Execution ID:** {{ $json.execution_id }}\n🔗 **Execution URL:** {{ $json.execution_url }}\n\n❌ **Error Details:**\n   🎯 Node: {{ $json.execution.error.node.name }}\n   📝 Description: {{ $json.execution.error.description }}\n   ⏰ Timestamp: {{ $json.execution.error.timestamp }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[360,-260],"id":"d6efad25-7007-4660-b938-2a75c6571cf1","name":"Send Error Mail","webhookId":"ee6a9a4b-d3d2-4a77-bf8e-9f8e69f807a1","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"=🚨 **WORKFLOW ERROR REPORT**\n\n🔧 **Workflow ID:** {{ $json.workflow_id }}\n📋 **Workflow Name:** {{ $json.workflow_name }}\n🆔 **Execution ID:** {{ $json.execution_id }}\n🔗 **Execution URL:** {{ $json.execution_url }}\n\n❌ **Error Details:**\n   🎯 Node: {{ $json.execution.error.node.name }}\n   📝 Description: {{ $json.execution.error.description }}\n   ⏰ Timestamp: {{ $json.execution.error.timestamp }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[360,-60],"id":"9533b28e-a990-456d-a7be-46f5803b372c","name":"Send WApp","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const workflowId = $json.workflowId;\nconst workflowName = $json.workflowName;\n\n// En producción esto debe contar errores reales del webhook\n// Por ahora retorna 1 error por cada ejecución del webhook\nconst errorCount = 1;\n\nif (errorCount >= 10) {\n  return {\n    action: 'disable_now',\n    workflowId,\n    workflowName,\n    errorCount,\n    whatsapp_message: `🚨 WORKFLOW DETENIDO\\n• ${workflowName}\\n• ${errorCount} errores en 1min\\n⏰ ${new Date().toLocaleString('es-CO')}`,\n    email_subject: `🚨 URGENTE: Workflow \"${workflowName}\" Auto-Desactivado`,\n    email_body: `<h2>🚨 Workflow Desactivado</h2><p>Workflow: ${workflowName}</p><p>Errores: ${errorCount} en 1 minuto</p><p>Hora: ${new Date().toLocaleString('es-CO')}</p>`\n  };\n}\n\nreturn {};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,380],"id":"cec24ee4-020b-4a35-8023-0bb4289954ed","name":"Code","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0012103c-7c14-4b34-aaba-cdc8b4d4ff6e","leftValue":"={{ $json.action }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,380],"id":"68a1b606-9aa0-487e-9934-828a76532fa5","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[620,460],"id":"914bc9c5-739f-4d9d-a51a-b087547b24c0","name":"No Operation, do nothing"},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"={{ $json.whatsapp_message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[620,120],"id":"542193d4-cfd8-4c13-b4ff-46b4f76ecf58","name":"Send Wapp","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"={{ $json.email_subject }}","bodyContent":"={{ $json.email_body }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[620,280],"id":"6cfd2bb2-585a-4d28-9142-5e748214afb0","name":"Send Mail","webhookId":"685ed55a-5fdd-4457-92c8-06b388ae7115","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Error Mail","type":"main","index":0},{"node":"Send WApp","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send Wapp","type":"main","index":0},{"node":"Send Mail","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ddaa7b0-7bd7-4901-bb0d-ac62d4329b49","triggerCount":0,"tags":[]}