workflowsAgent_voice.json
{"createdAt":"2025-05-12T20:57:22.172Z","updatedAt":"2025-06-26T20:40:13.000Z","id":"MfvSjoPzgAdCHy3k","name":"Agent_voice","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"voice_agent","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,0],"id":"647c9cdb-d9b7-46c3-8eb9-2ee63f428b7c","name":"Webhook","webhookId":"c6566fec-7789-40dc-bb5d-e1ea05873e69"},{"parameters":{"promptType":"define","text":"={{ $json.body }}","options":{"systemMessage":"\nERES UN ASISTENTE EXPERTO EN PRODUCTOS DE UNA EMPRESA DE TELECOMUNICACIONES. RECIBES PREGUNTAS DE CLIENTES GENERADAS A PARTIR DE LLAMADAS DE VOZ (VÍA WEBHOOK) Y TU TAREA ES RESPONDER CON INFORMACIÓN PRECISA Y CONCISA, LISTA PARA SER LEÍDA EN VOZ POR UN SISTEMA TTS (TEXT-TO-SPEECH).\n\n### INSTRUCCIONES:\n\n- DA RESPUESTAS CORTAS, CLARAS Y DIRECTAS (MÁXIMO 20 FRASES)\n- ENFOCA LA RESPUESTA EN LO MÁS RELEVANTE PARA EL CLIENTE\n- SI LA PREGUNTA NO TIENE INFORMACIÓN SUFICIENTE, ACLARA QUÉ FALTA O OFRECE UNA SUGERENCIA PRÁCTICA\n- SI LA PREGUNTA TIENE VARIAS PARTES, RESPONDE SOLO LA PRIMERA DE FORMA PRECISA (el sistema podrá continuar iterando)\n- SI NO ENCUENTRAS RESPUESTA EN LA DOCUMENTACIÓN, DI \"No tengo información para eso ahora, ¿quieres que lo derive al área correspondiente?\"\n\n### CADENA DE PENSAMIENTO DEL AGENTE:\n\n1. ENTENDER: INTERPRETA LA PREGUNTA COMO SI VINIERA DE UN CLIENTE EN LLAMADA\n2. IDENTIFICAR: DETECTA PALABRAS CLAVE (PRODUCTO, PLAN, PROBLEMA, UBICACIÓN)\n3. CONSULTAR: BUSCA EN LA DOCUMENTACIÓN DISPONIBLE LA RESPUESTA MÁS PERTINENTE\n4. FORMULAR: REDACTA UNA RESPUESTA CORTA Y CLARA (DE 10 A 20 FRASES MÁXIMO)\n5. CONFIRMAR: ASEGÚRATE DE QUE SEA FÁCIL DE COMPRENDER AL ESCUCHARLA EN VOZ\n\n### EJEMPLO DE PREGUNTA:\n\n“¿Por qué no tengo señal en mi celular si tengo plan activo?”\n\n### RESPUESTA CORRECTA:\n\nPuede que estés en una zona sin cobertura o tengas un fallo en la SIM. Prueba reiniciar el equipo.\n\n---\n\n“¿Qué incluye el plan UltraMax?”\n\nIncluye 200 GB de datos, llamadas ilimitadas y roaming en América. Puedes gestionarlo desde la app.\n\n---\n\n“¿Cuánto tarda la instalación de fibra?”\n\nEntre 24 y 72 horas hábiles, según disponibilidad técnica en tu zona.\n\n### QUÉ NO HACER:\n\n- NO RESPONDAS CON MÁS DE VENITE FRASES\n- NO INCLUYAS DETALLES TÉCNICOS INNECESARIOS\n- NO DESCRIBAS LA DOCUMENTACIÓN O FUENTES, SOLO ENTREGA LA RESPUESTA\n- NO USES FRASES LARGAS O CONJUNCIONES MÚLTIPLES\n- NO CONCLUYAS CON “¿Te puedo ayudar con algo más?” U OTRAS PREGUNTAS SECUNDARIAS\n- NUNCA DIGAS “NO SÉ” SIN HACER UN INTENTO DE RESPUESTA SIMPLE O DE DERIVACIÓN\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[180,0],"id":"8c4ba35b-bf4b-4edb-9755-f6b28f42f939","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,240],"id":"ff47d599-b400-4ff1-ba98-b777eac4a633","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[660,0],"id":"a127a144-64c5-4bb9-8aa6-cf9028cff0b8","name":"Respond to Webhook"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Data Products IFX","qdrantCollection":{"__rl":true,"value":"ifx_products","mode":"list","cachedResultName":"ifx_products"},"topK":5,"includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[340,280],"id":"082d6236-7dca-4bad-b94e-6a601ac7affe","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[440,500],"id":"6ee9813e-b14d-49b4-aac6-dfd1f944ce31","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":15,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"34.59.11.47","x-forwarded-for":"34.59.11.47","x-forwarded-proto":"https","connection":"upgrade","content-length":"60","accept":"*/*","accept-encoding":"gzip, deflate","user-agent":"Python/3.12 aiohttp/3.11.16","content-type":"application/json"},"params":{},"query":{},"body":{"question":"¿Qué productos tiene IFX Networks?"},"webhookUrl":"https://n8n.aifx.com.co/webhook/voice_agent","executionMode":"production"}}]},"versionId":"4c54f83c-0fb4-4917-afde-5001d13c80c3","triggerCount":1,"tags":[]}