workflowsFront Solicitud de Visitas.json
{"createdAt":"2025-06-21T16:09:12.455Z","updatedAt":"2025-06-23T15:08:30.000Z","id":"iKXwCgvfcrBS1ZcC","name":"Front Solicitud de Visitas","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"front_request","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,-40],"id":"69e674cd-b085-41c0-b0fe-a323677354aa","name":"Webhook from WEB","webhookId":"894b0a7a-cb0f-4009-8525-43642884c9ca"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"request_visitas","mode":"list","cachedResultName":"request_visitas"},"columns":{"mappingMode":"defineBelow","value":{"descripcion":"={{ $json.body.mantenimiento_aprovisionamiento }}","tipo":"={{ $json.body.mantenimiento_aprovisionamiento }}","cliente":"={{ $json.body.cliente }}","pais":"={{ $json.body.pais }}","ciudad":"={{ $json.body.ciudad }}","direccion_cliente":"={{ $json.body.direccion_cliente }}","equipos_llevar_cliente":"={{ $json.body.equipos_llevar_cliente }}","hora":"={{ $json.body.hora }}","ticket":"={{ $json.body.ticket }}","sid":"={{ $json.body.sid }}","nombre_contacto_cliente":"={{ $json.body.nombre_contacto_cliente }}","telefono_cliente":"={{ $json.body.telefono_cliente }}","rq_equipos":"={{ $json.body.rq_equipos }}","donde_recoger_equipo":"={{ $json.body.donde_recoger_equipo }}","guia_envio_equipos":"={{ $json.body.guia_envio_equipos }}","ingeniero_grupo":"={{ $json.body.nombre_grupo_ingenierio }}","gerente_proyecto":"={{ $json.body.gerente_proyecto }}","observaciones":"={{ $json.body.observaciones }}","fecha":"={{ $json.body.fecha }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"adjunta_acta_um","displayName":"adjunta_acta_um","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_contacto_cliente","displayName":"nombre_contacto_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono_cliente","displayName":"telefono_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"equipos_llevar_cliente","displayName":"equipos_llevar_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rq_equipos","displayName":"rq_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"donde_recoger_equipo","displayName":"donde_recoger_equipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"guia_envio_equipos","displayName":"guia_envio_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ingeniero_grupo","displayName":"ingeniero_grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gerente_proyecto","displayName":"gerente_proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"coordenadas","displayName":"coordenadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"asunto","displayName":"asunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_ingreso","displayName":"hora_ingreso","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"hora_salida","displayName":"hora_salida","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"contratistas","displayName":"contratistas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombregrupo","displayName":"nombregrupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[80,-40],"id":"bf39d595-4e79-484b-9626-3a609dc6c620","name":"Write DataBase","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"assignments":{"assignments":[{"id":"f8294a09-359b-4e79-964f-91d99d8147fd","name":"id","value":"={{ $json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,-40],"id":"369ef2f3-fff1-4f9b-8886-3851e3c7562e","name":"Set ID Request"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"id\": \"{{ $json.id }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[440,-40],"id":"91cbb65c-aecb-4ea0-a6b6-4fd496db4b37","name":"Respond ID"},{"parameters":{},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[260,160],"id":"7bcbd6d3-4d2a-41cf-bf32-a035934404b5","name":"HTML"}],"connections":{"Webhook from WEB":{"main":[[{"node":"Write DataBase","type":"main","index":0}]]},"Write DataBase":{"main":[[{"node":"Set ID Request","type":"main","index":0},{"node":"HTML","type":"main","index":0}]]},"Set ID Request":{"main":[[{"node":"Respond ID","type":"main","index":0}]]},"Respond ID":{"main":[[]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook from WEB":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"190.60.243.190","x-forwarded-for":"190.60.243.190","x-forwarded-proto":"https","connection":"upgrade","content-length":"536","content-type":"application/json","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"undici","accept-encoding":"br, gzip, deflate"},"params":{},"query":{},"body":{"mantenimiento_aprovisionamiento":"IMPLEMENTACION","ticket":"42343241","sid":"43242314","fecha":"2025-06-25","hora":"09:00","cliente":"fgfdfsdfgdgfd","nombre_contacto_cliente":"gffdgsdfgsdf","pais":"gfdgdfs","ciudad":"gfdgdf","telefono_cliente":"442345342","direccion_cliente":"gdfgdsfgsdfgs","equipos_llevar_cliente":"dgdfssdfdgdgdf","rq_equipos":"43254325","guia_envio_equipos":"5234245","donde_recoger_equipo":"gdfgsdfgsdgsdg","nombre_grupo_ingenierio":"gdfgsdfgsfd","gerente_proyecto":"gdfgsdgss","observaciones":"fgdfgfdgdfgsdfg"},"webhookUrl":"https://n8n.aifx.com.co/webhook/front_request","executionMode":"production"}}]},"versionId":"10cad210-4e4d-4af0-9d3b-f7ed474f3a28","triggerCount":1,"tags":[]}