workflowsError Trigger Monitor.json
{"createdAt":"2025-05-20T11:39:15.774Z","updatedAt":"2025-05-28T15:26:26.000Z","id":"Txht1wrdLAI370JY","name":"Error Trigger Monitor","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-160,0],"id":"0935cc9f-ad86-4584-8787-2ebbdc19df37","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b8d04c88-88ef-4160-be6b-3a523b86b5f9","name":"workflow_id","value":"={{ $json.workflow.id }}","type":"string"},{"id":"485bdf92-8f2f-4a0c-9469-44acd222b77b","name":"workflow_name","value":"={{ $json.workflow.name }}","type":"string"},{"id":"52cadf99-aec0-4c49-b3dc-7a61768a6a57","name":"execution_id","value":"={{ $json.execution.id }}","type":"string"},{"id":"5c7841b4-bcc3-46b1-9f20-0541c6465168","name":"execution_url","value":"={{ $json.execution.url }}","type":"string"},{"id":"98d2aa9c-a790-448a-a050-98778d5648f6","name":"execution.error.node.name","value":"={{ $json.execution.error.node.name }}","type":"string"},{"id":"c890a31d-6494-4243-a62b-06add0a1cfbd","name":"execution.error.description","value":"={{ $json.execution.error.description }}","type":"string"},{"id":"b72eb37a-e66f-4f6c-9850-626e43af8337","name":"execution.error.timestamp","value":"={{ $json.execution.error.timestamp.toDateTime().setZone('America/Bogota').format('yyyy-MM-dd HH:mm:ss') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,0],"id":"85ba538a-7587-43f0-b6c6-3890cd04c78d","name":"Edit Fields"},{"parameters":{"toRecipients":"jaimep@outlook.com","subject":"=⚠️ Error en Workflow n8n - {{ $json.workflow_name }}","bodyContent":"=🚨 **WORKFLOW ERROR REPORT** 🚨\n\n🔧 **Workflow ID:** {{ $json.workflow_id }}\n📋 **Workflow Name:** {{ $json.workflow_name }}\n🆔 **Execution ID:** {{ $json.execution_id }}\n🔗 **Execution URL:** {{ $json.execution_url }}\n\n❌ **Error Details:**\n   🎯 Node: {{ $json.execution.error.node.name }}\n   📝 Description: {{ $json.execution.error.description }}\n   ⏰ Timestamp: {{ $json.execution.error.timestamp }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[300,-100],"id":"d6efad25-7007-4660-b938-2a75c6571cf1","name":"Send Error Mail","webhookId":"ee6a9a4b-d3d2-4a77-bf8e-9f8e69f807a1","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"=🚨 **WORKFLOW ERROR REPORT**\n\n🔧 **Workflow ID:** {{ $json.workflow_id }}\n📋 **Workflow Name:** {{ $json.workflow_name }}\n🆔 **Execution ID:** {{ $json.execution_id }}\n🔗 **Execution URL:** {{ $json.execution_url }}\n\n❌ **Error Details:**\n   🎯 Node: {{ $json.execution.error.node.name }}\n   📝 Description: {{ $json.execution.error.description }}\n   ⏰ Timestamp: {{ $json.execution.error.timestamp }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[300,100],"id":"9533b28e-a990-456d-a7be-46f5803b372c","name":"Send WApp","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send Error Mail","type":"main","index":0},{"node":"Send WApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e4a48577-52f3-406a-ac08-0e47db69a441","triggerCount":0,"tags":[]}