workflowsConsultasMongoDB.json
{"createdAt":"2025-05-23T21:40:28.987Z","updatedAt":"2025-06-25T13:59:47.000Z","id":"0sq6JHNeYhHJ4sgm","name":"ConsultasMongoDB","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"aggregate","collection":"UsoWhitelabelUltimos6Meses","query":"[\n  { \"$sample\": { \"size\": 100 } }\n]\n"},"id":"b66297a5-5e7d-46b3-9b73-c36cac3648ca","name":"MongoDB Sample","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[100,220],"credentials":{"mongoDb":{"id":"GlPbQtJv6wW22OFC","name":"MongoDB account 3"}}},{"parameters":{"functionCode":"const schema = {};\n\nfor (const item of items) {\n  for (const key in item.json) {\n    const value = item.json[key];\n    const type = Array.isArray(value) ? 'array' : (value === null ? 'null' : typeof value);\n\n    if (!schema[key]) {\n      schema[key] = new Set();\n    }\n    schema[key].add(type);\n  }\n}\n\nconst result = Object.entries(schema).map(([key, types]) => ({\n  field: key,\n  types: Array.from(types)\n}));\n\nreturn result.map(r => ({ json: r }));"},"id":"0919ea21-7b0b-415d-8680-3d3526ebd258","name":"Inferir Schema","type":"n8n-nodes-base.function","typeVersion":1,"position":[360,220]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,220],"id":"b8b55ab5-70b8-4e7c-9bb5-0cab91110281","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"write","fileName":"./logsschema.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1040,220],"id":"78a1f0b4-fe32-4150-8939-1a0b0253d8dc","name":"Read/Write Files from Disk"},{"parameters":{"assignments":{"assignments":[{"id":"764176d6-3c89-404d-9c71-301e8a406a68","name":"table","type":"string","value":"={{ $json.types[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"e4887174-f5a9-43f0-8e5a-5d993e5061d2","name":"Add table name to output","type":"n8n-nodes-base.set","position":[580,220],"typeVersion":3.4},{"parameters":{"operation":"toJson","options":{}},"id":"3fc411c0-2865-4a0b-8675-0b2d213fde5f","name":"Convert data to binary","type":"n8n-nodes-base.convertToFile","position":[820,220],"typeVersion":1.1},{"parameters":{"contextWindowLength":10},"id":"934ee5d2-d01e-4309-a3ae-4cdb7696f488","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1060,680],"typeVersion":1.2,"disabled":true},{"parameters":{"operation":"fromJson","options":{}},"id":"69399216-6c18-4061-90a4-bc431a4826fe","name":"Extract data from file","type":"n8n-nodes-base.extractFromFile","position":[340,660],"typeVersion":1},{"parameters":{"options":{}},"id":"2cc63722-2ae1-40fa-aef2-1dfeccf00f03","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-140,660],"webhookId":"c308dec7-655c-4b79-832e-991bd8ea891f","typeVersion":1.1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=ESTA ES LA ESTRUCTURA DE BASE DE DATOS: {{ $json.schema }}\nESTA ES LA INFORMACION QUE SE SOLICITA: {{ $('Chat Trigger').item.json.chatInput }}\nCUANDO EL USUARIO HAGA CONSULTA DE NOMBRES UTILIZA LA FUNCION LIke en la consulta.\n\nNO AGREGUES EXPLICACION\nLA RESPUESTA SERA ENVIADA AL QUERY DE BASE DE DATOS\nTU RESPUESTA SOLO SERA EL QUERY PARA MONGODB\n","options":{"systemMessage":"=Eres un asistente experto en MongoDB dentro de un flujo de n8n. Tu tarea es generar únicamente consultas válidas en formato JSON para el operador Aggregate, que se puedan usar directamente en el campo \"Query\" del nodo MongoDB en n8n.\n\n### Reglas que debes seguir:\n\n1. Siempre devuelve un **array de objetos JSON**.\n2. Cada objeto representa una etapa de agregación (match, group, project, sample, limit, etc.).\n3. **No uses comandos de shell** \n4. No incluyas funciones ni comillas simples, siempre comillas dobles.\n5. Si el usuario pide un filtro por texto, usa regex con options: \"i\" para hacerlo insensible a mayúsculas.\n6. Si se desea contar resultados, usa count\": \"nombre_del_campo\".\n7. No incluyas explicaciones ni envoltorios. Tu respuesta debe ser **solo el JSON del pipeline**."}},"id":"1bf3cf90-d71c-4120-ab7a-81edb52371cd","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[900,540],"typeVersion":1.6},{"parameters":{"assignments":{"assignments":[{"id":"42abd24e-419a-47d6-bc8b-7146dd0b8314","name":"sessionId","type":"string","value":"={{ $('Chat Trigger').first().json.sessionId }}"},{"id":"39244192-a1a6-42fe-bc75-a6fba1f264df","name":"action","type":"string","value":"={{ $('Chat Trigger').first().json.action }}"},{"id":"f78c57d9-df13-43c7-89a7-5387e528107e","name":"chatinput","type":"string","value":"={{ $('Chat Trigger').first().json.chatInput }}"},{"id":"e42b39eb-dfbd-48d9-94ed-d658bdd41454","name":"schema","type":"string","value":"={{ $json.data }}"}]},"options":{}},"id":"e8742fa1-1c4e-4b8e-a6b5-237e6c5a4f64","name":"Combine schema data and chat input","type":"n8n-nodes-base.set","position":[560,660],"executeOnce":true,"typeVersion":3.4},{"parameters":{"fileSelector":"./logsschema.json","options":{}},"id":"88353873-e5c8-4d4b-aa6d-91269b2a57ed","name":"Load the schema from the local file","type":"n8n-nodes-base.readWriteFile","position":[100,660],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[840,740],"id":"b20a9ea5-371a-4db2-b17f-2d7d27fe26e7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{},"id":"acbb9bf0-0fc0-412a-97b2-a36e56996d93","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[2020,780],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"ebbe194a-4b8b-44c9-ac19-03cf69d353bf","name":"query","type":"string","value":"={{ $json.output }}"}]},"includeOtherFields":true,"options":{}},"id":"5e28c78c-6702-4bb3-97ca-ef3ce1ce081c","name":"Extract SQL query","type":"n8n-nodes-base.set","position":[1360,600],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2963d04d-9d79-49f9-b52a-dc8732aca781","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.query }}","rightValue":""}]},"options":{}},"id":"cb114988-827d-476d-a8b6-0a15b6042694","name":"Check if query exists","type":"n8n-nodes-base.if","position":[1520,600],"typeVersion":2.2},{"parameters":{"content":"## Genera la consulta Mongo\n","height":279,"width":358,"color":3},"id":"3d101097-d016-4bbd-a47c-9b6faa2e9ef3","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1320,520],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"sqloutput","type":"string","value":"={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"}]},"options":{}},"id":"ba2e6795-e42c-4e98-b417-a101267ccb3c","name":"Format query results","type":"n8n-nodes-base.set","position":[2100,400],"executeOnce":true,"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"aa55e186-1535-4923-aee4-e088ca69575b","name":"output","type":"string","value":"={{ $json.output }}\n\nSQL result:\n```markdown\n{{ $json.sqloutput }}\n```"}]},"options":{}},"id":"0f9f0a1c-82d9-40de-ada9-d1a1f57a50d9","name":"Prepare final output","type":"n8n-nodes-base.set","position":[2360,640],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"73bb11ff-8914-4c9b-be7d-ca27ca3af1e2","name":"Combine query result and chat answer","type":"n8n-nodes-base.merge","position":[2020,600],"typeVersion":3},{"parameters":{"operation":"aggregate","collection":"=UsoWhitelabelUltimos6Meses","query":"={{ $json.query }}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1840,400],"id":"4b8c7e9f-94a6-4a85-befc-30b2f177666e","name":"MongoDB","credentials":{"mongoDb":{"id":"GlPbQtJv6wW22OFC","name":"MongoDB account 3"}}}],"connections":{"MongoDB Sample":{"main":[[{"node":"Inferir Schema","type":"main","index":0}]]},"Inferir Schema":{"main":[[{"node":"Add table name to output","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"MongoDB Sample","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[]]},"Add table name to output":{"main":[[{"node":"Convert data to binary","type":"main","index":0}]]},"Convert data to binary":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Extract data from file":{"main":[[{"node":"Combine schema data and chat input","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Load the schema from the local file","type":"main","index":0}]]},"Combine schema data and chat input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Load the schema from the local file":{"main":[[{"node":"Extract data from file","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Extract SQL query":{"main":[[{"node":"Check if query exists","type":"main","index":0}]]},"Check if query exists":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":1},{"node":"MongoDB","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Format query results":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":0}]]},"Combine query result and chat answer":{"main":[[{"node":"Prepare final output","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Extract SQL query","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Format query results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"732256ec-da50-4227-aae6-a5e6c652f28d","triggerCount":0,"tags":[]}