workflowsLogsAnalitycs.json
{"createdAt":"2025-05-23T21:40:28.987Z","updatedAt":"2025-05-24T14:03:50.000Z","id":"0sq6JHNeYhHJ4sgm","name":"LogsAnalitycs","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"aggregate","collection":"UsoWhitelabelUltimos6Meses","query":"[\n  { \"$sample\": { \"size\": 100 } }\n]\n"},"id":"b66297a5-5e7d-46b3-9b73-c36cac3648ca","name":"MongoDB Sample","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[1280,40],"credentials":{"mongoDb":{"id":"GlPbQtJv6wW22OFC","name":"MongoDB account 3"}}},{"parameters":{"functionCode":"const schema = {};\n\nfor (const item of items) {\n  for (const key in item.json) {\n    const value = item.json[key];\n    const type = Array.isArray(value) ? 'array' : (value === null ? 'null' : typeof value);\n\n    if (!schema[key]) {\n      schema[key] = new Set();\n    }\n    schema[key].add(type);\n  }\n}\n\nconst result = Object.entries(schema).map(([key, types]) => ({\n  field: key,\n  types: Array.from(types)\n}));\n\nreturn result.map(r => ({ json: r }));"},"id":"0919ea21-7b0b-415d-8680-3d3526ebd258","name":"Inferir Schema","type":"n8n-nodes-base.function","typeVersion":1,"position":[1540,40]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[380,40],"id":"b8b55ab5-70b8-4e7c-9bb5-0cab91110281","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"write","fileName":"./logsschema.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2220,40],"id":"78a1f0b4-fe32-4150-8939-1a0b0253d8dc","name":"Read/Write Files from Disk"},{"parameters":{"assignments":{"assignments":[{"id":"764176d6-3c89-404d-9c71-301e8a406a68","name":"table","type":"string","value":"={{ $json.types[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"e4887174-f5a9-43f0-8e5a-5d993e5061d2","name":"Add table name to output","type":"n8n-nodes-base.set","position":[1760,40],"typeVersion":3.4},{"parameters":{"operation":"toJson","options":{}},"id":"3fc411c0-2865-4a0b-8675-0b2d213fde5f","name":"Convert data to binary","type":"n8n-nodes-base.convertToFile","position":[2000,40],"typeVersion":1.1},{"parameters":{"contextWindowLength":10},"id":"934ee5d2-d01e-4309-a3ae-4cdb7696f488","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1040,780],"typeVersion":1.2,"disabled":true},{"parameters":{"operation":"fromJson","options":{}},"id":"69399216-6c18-4061-90a4-bc431a4826fe","name":"Extract data from file","type":"n8n-nodes-base.extractFromFile","position":[-220,600],"typeVersion":1},{"parameters":{"options":{}},"id":"2cc63722-2ae1-40fa-aef2-1dfeccf00f03","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-680,600],"webhookId":"c308dec7-655c-4b79-832e-991bd8ea891f","typeVersion":1.1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=ESTA ES LA ESTRUCTURA DE BASE DE DATOS: {{ $json.schema }}\nESTA ES LA INFORMACION QUE SE SOLICITA: {{ $('Chat Trigger').item.json.chatInput }}\nCUANDO EL USUARIO HAGA CONSULTA DE NOMBRES UTILIZA LA FUNCION Regex en la consulta.\n\nNO AGREGUES EXPLICACION\nLA RESPUESTA SERA ENVIADA AL QUERY DE BASE DE DATOS\nTU RESPUESTA SOLO SERA EL QUERY PARA MONGODB\n","options":{"systemMessage":"={{ $('binary').item.json.data_prompt[0].prompt }}"}},"id":"1bf3cf90-d71c-4120-ab7a-81edb52371cd","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[900,540],"typeVersion":1.6},{"parameters":{"assignments":{"assignments":[{"id":"42abd24e-419a-47d6-bc8b-7146dd0b8314","name":"sessionId","type":"string","value":"={{ $('Chat Trigger').first().json.sessionId }}"},{"id":"39244192-a1a6-42fe-bc75-a6fba1f264df","name":"action","type":"string","value":"={{ $('Chat Trigger').first().json.action }}"},{"id":"f78c57d9-df13-43c7-89a7-5387e528107e","name":"chatinput","type":"string","value":"={{ $('Chat Trigger').first().json.chatInput }}"},{"id":"e42b39eb-dfbd-48d9-94ed-d658bdd41454","name":"schema","type":"string","value":"={{ $json.data }}"},{"id":"a54c228d-ae2b-4748-b88b-6fd2e43d1ebb","name":"prompt","value":"={{ $json.data_prompt }}","type":"string"},{"id":"e6281c53-6d67-4ccf-a1d9-43ab2cb08630","name":"","value":"","type":"string"}]},"options":{}},"id":"e8742fa1-1c4e-4b8e-a6b5-237e6c5a4f64","name":"Combine schema data and chat input","type":"n8n-nodes-base.set","position":[620,660],"executeOnce":true,"typeVersion":3.4},{"parameters":{"fileSelector":"./logsschema.json","options":{}},"id":"88353873-e5c8-4d4b-aa6d-91269b2a57ed","name":"Load the schema from the local file","type":"n8n-nodes-base.readWriteFile","position":[-440,600],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[840,740],"id":"b20a9ea5-371a-4db2-b17f-2d7d27fe26e7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{},"id":"acbb9bf0-0fc0-412a-97b2-a36e56996d93","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[2020,780],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"ebbe194a-4b8b-44c9-ac19-03cf69d353bf","name":"query","type":"string","value":"={{ $json.output }}"}]},"includeOtherFields":true,"options":{}},"id":"5e28c78c-6702-4bb3-97ca-ef3ce1ce081c","name":"Extract SQL query","type":"n8n-nodes-base.set","position":[1360,600],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2963d04d-9d79-49f9-b52a-dc8732aca781","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.query }}","rightValue":""}]},"options":{}},"id":"cb114988-827d-476d-a8b6-0a15b6042694","name":"Check if query exists","type":"n8n-nodes-base.if","position":[1520,600],"typeVersion":2.2},{"parameters":{"content":"## Genera la consulta Mongo\n","height":279,"width":358,"color":3},"id":"3d101097-d016-4bbd-a47c-9b6faa2e9ef3","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1320,520],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"sqloutput","type":"string","value":"={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"}]},"options":{}},"id":"ba2e6795-e42c-4e98-b417-a101267ccb3c","name":"Format query results","type":"n8n-nodes-base.set","position":[2100,400],"executeOnce":true,"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"aa55e186-1535-4923-aee4-e088ca69575b","name":"output","type":"string","value":"={{ $json.output }}\n\nSQL result:\n```markdown\n{{ $json.sqloutput }}\n```"}]},"options":{}},"id":"0f9f0a1c-82d9-40de-ada9-d1a1f57a50d9","name":"Prepare final output","type":"n8n-nodes-base.set","position":[2360,640],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"73bb11ff-8914-4c9b-be7d-ca27ca3af1e2","name":"Combine query result and chat answer","type":"n8n-nodes-base.merge","position":[2020,600],"typeVersion":3},{"parameters":{"operation":"aggregate","collection":"=UsoWhitelabelUltimos6Meses","query":"={{ $json.query }}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1840,400],"id":"4b8c7e9f-94a6-4a85-befc-30b2f177666e","name":"MongoDB","credentials":{"mongoDb":{"id":"GlPbQtJv6wW22OFC","name":"MongoDB account 3"}}},{"parameters":{"description":"Verifica que la consulta sea la adecuada para la base de datos, identifica si el usuario consulta por fechas, identifica si es un usuario, customer o email.\n\nValida que la consulta a la base de datos sea correcta."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1280,860],"id":"75881c1c-1eae-4d78-8ecd-f69d52d5d7d5","name":"Think","disabled":true},{"parameters":{"operation":"write","fileName":"./prompt.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1420,-180],"id":"3e44f5cb-82e1-4101-a09d-75eb47a7b95e","name":"Read/Write Files from Disk1"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1080,-180],"id":"b705d6c3-da19-4ef3-a2b9-185b826e85ae","name":"Convert to File"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      prompt: `\nEres un asistente experto en MongoDB dentro de un flujo de n8n. Tu tarea es generar únicamente consultas válidas en formato JSON para el operador Aggregate, que se puedan usar directamente en el campo \"Query\" del nodo MongoDB en n8n.\n\n### Reglas que debes seguir:\n1. Siempre devuelves un **array de objetos JSON**.\n2. Cada objeto representa una etapa de agregación (\\`$match\\`, \\`$group\\`, \\`$project\\`, \\`$sample\\`, \\`$limit\\`, etc.).\n3. **NO uses funciones como \\`ISODate(...)\\`, \\`new Date(...)\\`, ni comandos de shell.**\n4. Todas las fechas deben generarse de forma dinámica usando **expresiones del aggregation framework** como \\`$dateSubtract\\`, \\`$dateFromParts\\`, \\`$dateFromString\\`, etc.\n5. **No incluyas funciones ni comillas simples**, siempre usa **comillas dobles**.\n6. Si el usuario pide un filtro por texto, usa \\`$regex\\` con \\`options: \"i\"\\` para hacerlo insensible a mayúsculas.\n7. Si se desea contar resultados, usa \\`{ \"$count\": \"nombre_del_campo\" }\\`.\n8. Las consultas que incluyan fechas deben operar sobre el campo \\`creationDate\\`.\n9. **Para filtros de fecha relativos, utiliza las siguientes estructuras**:\n   - **Últimos X días**:\n     {\n       \"$match\": {\n         \"creationDate\": {\n           \"$gte\": {\n             \"$dateSubtract\": {\n               \"startDate\": \"$$NOW\",\n               \"unit\": \"day\",\n               \"amount\": X\n             }\n           }\n         }\n       }\n     }\n   - **Última semana**: usa \\`amount: 1\\`, \\`unit: \"week\"\\`\n   - **Último mes**: usa \\`amount: 1\\`, \\`unit: \"month\"\\`\n   - **Hoy**: usa \\`creationDate\\` entre \\`$dateFromString\\` del inicio del día actual y el final\n   - **Esta semana**: usa \\`$dateFromParts\\` con \\`$year\\`, \\`$month\\`, y cálculo del primer día de la semana\n\n### ⚠️ REGLA CRÍTICA\nEstá **prohibido** usar fechas fijas como \\`\"2025-04-01T00:00:00Z\"\\` o \\`\"new Date()\"\\`. Todas las fechas deben ser **relativas y dinámicas**, generadas con operadores válidos del aggregation framework de MongoDB.\n      `\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,-180],"id":"cf39184f-1cd0-4a55-a3d4-2f62c238955f","name":"Code"},{"parameters":{"fileSelector":"./prompt.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-40,600],"id":"fc9dfcc7-28d6-4709-8ab1-c6b297e4d8a9","name":"Prompt"},{"parameters":{"operation":"fromJson","destinationKey":"data_prompt","options":{}},"id":"9fc1d0b7-f040-48c2-8533-a7078a048e55","name":"binary","type":"n8n-nodes-base.extractFromFile","position":[220,600],"typeVersion":1}],"connections":{"MongoDB Sample":{"main":[[{"node":"Inferir Schema","type":"main","index":0}]]},"Inferir Schema":{"main":[[{"node":"Add table name to output","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"MongoDB Sample","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[]]},"Add table name to output":{"main":[[{"node":"Convert data to binary","type":"main","index":0}]]},"Convert data to binary":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Extract data from file":{"main":[[{"node":"Prompt","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Load the schema from the local file","type":"main","index":0}]]},"Combine schema data and chat input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Load the schema from the local file":{"main":[[{"node":"Extract data from file","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Extract SQL query":{"main":[[{"node":"Check if query exists","type":"main","index":0}]]},"Check if query exists":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":1},{"node":"MongoDB","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Format query results":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":0}]]},"Combine query result and chat answer":{"main":[[{"node":"Prepare final output","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Extract SQL query","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Format query results","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Prompt":{"main":[[{"node":"binary","type":"main","index":0}]]},"binary":{"main":[[{"node":"Combine schema data and chat input","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"717d545e-9af3-444f-91a9-ba01212fe376","triggerCount":0,"tags":[]}