workflowsTesting Chat whit RAG RFP Documents.json
{"createdAt":"2025-04-09T14:40:11.633Z","updatedAt":"2025-06-24T17:20:13.000Z","id":"JffedpxeyFNABMm3","name":"Testing Chat whit RAG RFP Documents","active":false,"isArchived":true,"nodes":[{"parameters":{"formTitle":"Analisis de RFP - RFC","formDescription":"Upload your Document","formFields":{"values":[{"fieldLabel":"Document","fieldType":"file","multipleFiles":false},{"fieldLabel":"Email","fieldType":"email","placeholder":"Escriba el mail a donde enviar el analisis","requiredField":true},{"fieldLabel":"Nombre del Cliente","placeholder":"Escriba el nombre del cliente que envio el RFP","requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-160,440],"id":"9d0abe72-1239-4039-851e-e0b015e9d461","name":"On form submission","webhookId":"5125085d-62fd-44cc-81cc-02d25e34efc3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.Document }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"b7f674dc-b0b2-46ef-a708-f2cd1bc8116e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c299e7f1-81fa-4a03-aa67-91b8ed421b02","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c2cfac87-d08b-431a-b252-5148c7a944f3","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[40,440],"id":"17f41a73-dcc9-45e5-93ac-38e1f7b38e2f","name":"Switch"},{"parameters":{"jsCode":"// Código para n8n que convierte markdown a HTML formateado para email\n// La función recibe el contenido en $input.first().json.text\n\n// Función principal para convertir markdown a HTML\nfunction formatMarkdownToHtml(markdown) {\n  if (!markdown) return '';\n  \n  // Obtener el nombre del cliente del campo específico de n8n\n  // Si no está disponible, intentar extraerlo del texto markdown\n  let clientName = $('On form submission').first().json['Nombre del Cliente'] || \"Cliente\";\n  \n  // Si el campo de formulario no existe o está vacío, intentar extraerlo del markdown\n  if (!clientName || clientName === \"Cliente\") {\n    const clientMatch = markdown.match(/\\*\\*\\s*Solicitante:\\s*(.*?)\\s*\\*\\*/);\n    if (clientMatch && clientMatch[1]) {\n      // Eliminar texto adicional después del nombre del cliente si existe\n      // Por ejemplo \"Walmart Centroamérica Este nombre se utiliza...\"\n      let extractedName = clientMatch[1].split(/\\s+Este nombre/)[0];\n      extractedName = extractedName.split(/\\s+este nombre/)[0];\n      clientName = extractedName.trim();\n    }\n  }\n  \n  // Formatear títulos principales\n  let html = markdown.replace(/^# (.*?)$/gm, '<h1 style=\"font-size: 24px; color: #0071ce; border-bottom: 2px solid #0071ce; padding-bottom: 10px; margin-top: 25px; margin-bottom: 15px;\">$1</h1>');\n  \n  // Formatear subtítulos\n  html = html.replace(/^## (.*?)$/gm, '<h2 style=\"font-size: 18px; color: #041e42; margin-top: 20px; margin-bottom: 10px; border-left: 4px solid #0071ce; padding-left: 10px;\">$1</h2>');\n  \n  // Formatear negritas\n  html = html.replace(/\\*\\*(.*?)\\*\\*/g, '<strong style=\"font-weight: bold; color: #041e42;\">$1</strong>');\n  \n  // Formatear listas con viñetas\n  html = html.replace(/^- (.*?)$/gm, '<li style=\"margin-bottom: 5px; font-size: 16px;\">$1</li>');\n  \n  // Detectar y agrupar elementos de lista en forma segura\n  const lines = html.split('\\n');\n  let result = [];\n  let currentList = [];\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    if (line.startsWith('<li')) {\n      currentList.push(line);\n    } else {\n      if (currentList.length > 0) {\n        result.push('<ul style=\"margin-left: 10px; padding-left: 20px; margin-bottom: 10px;\">');\n        result = result.concat(currentList);\n        result.push('</ul>');\n        currentList = [];\n      }\n      result.push(line);\n    }\n  }\n  \n  // Si quedó alguna lista sin cerrar\n  if (currentList.length > 0) {\n    result.push('<ul style=\"margin-left: 10px; padding-left: 20px; margin-bottom: 10px;\">');\n    result = result.concat(currentList);\n    result.push('</ul>');\n  }\n  \n  html = result.join('\\n');\n  \n  // Reemplazar saltos de línea con etiquetas <br/>\n  html = html.replace(/\\n/g, '<br/>');\n  \n  // Limpiar <br/> dobles después de etiquetas de cierre\n  html = html.replace(/<\\/h1><br\\/>/g, '</h1>');\n  html = html.replace(/<\\/h2><br\\/>/g, '</h2>');\n  html = html.replace(/<\\/ul><br\\/>/g, '</ul>');\n  \n  // Agregar disclaimer al final\n  const disclaimer = `\n  <div style=\"margin-top: 40px; padding: 15px; background-color: #f5f5f5; border-left: 4px solid #0071ce; font-size: 24px;\">\n    <p><strong>Aviso Importante:</strong> Este es un resumen general destinado a proporcionar un contexto inicial sobre el RFP. Para una comprensión completa y detallada, se recomienda revisar el documento RFP original en su totalidad. Este análisis no sustituye la revisión técnica y legal exhaustiva del documento completo.</p>\n  </div>\n  `;\n  \n  // Crear contenedor principal con encabezado de IFX NETWORKS\n  const formattedHTML = `\n  <!DOCTYPE html>\n  <html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Análisis RFP</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        line-height: 1.6;\n        color: #333;\n        max-width: 800px;\n        margin: 0 auto;\n        padding: 20px;\n      }\n      .header {\n        background-color: #041e42;\n        color: white;\n        padding: 30px;\n        text-align: center;\n        margin-bottom: 5px;\n        border-radius: 8px;\n        box-shadow: 0 4px 8px rgba(0,0,0,0.2);\n      }\n      .header h1 {\n        font-size: 32px !important;\n        margin: 0 !important;\n        padding: 0 !important;\n        color: white !important;\n        border: none !important;\n      }\n      .header p {\n        font-size: 22px;\n        margin-top: 10px;\n        margin-bottom: 0;\n        color: #78d64b;\n      }\n      .powered-by {\n        text-align: center;\n        margin: 5px 0 15px 0;\n        padding: 8px;\n        font-size: 14px;\n      }\n      .powered-by strong em {\n        font-weight: bold;\n        font-style: italic;\n        font-family: Arial, Helvetica, sans-serif;\n        color: #cc00cc;\n      }\n      h1 {\n        font-size: 24px;\n        color: #0071ce;\n        border-bottom: 2px solid #0071ce;\n        padding-bottom: 10px;\n        margin-top: 25px;\n        margin-bottom: 15px;\n      }\n      h2 {\n        font-size: 18px;\n        color: #041e42;\n        margin-top: 20px;\n        margin-bottom: 10px;\n        border-left: 4px solid #0071ce;\n        padding-left: 10px;\n      }\n      ul {\n        margin-left: 10px;\n        padding-left: 20px;\n        margin-bottom: 8px;\n      }\n      li {\n        margin-bottom: 5px;\n        font-size: 16px;\n      }\n      /* Para listas anidadas */\n      li li {\n        font-size: 15px;\n        margin-bottom: 3px;\n      }\n      strong {\n        font-weight: bold;\n        color: #041e42;\n      }\n      .section {\n        background-color: #f9f9f9;\n        padding: 15px;\n        border-radius: 5px;\n        margin-bottom: 20px;\n      }\n      .recommendations {\n        background-color: #f0fff0;\n      }\n      .risks {\n        background-color: #fff0f0;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"header\">\n      <h1>IFX NETWORKS</h1>\n      <p>Análisis de RFP para ${clientName}</p>\n    </div>\n    \n    <div class=\"powered-by\">\n      Generated by <strong><em>aifx</em></strong>\n    </div>\n    \n    ${html}\n    \n    ${disclaimer}\n  </body>\n  </html>`;\n  \n  return formattedHTML;\n}\n\n// Este es el formato correcto para n8n\nreturn [\n  {\n    json: {\n      markdownText: $input.first().json.text,\n      formattedHtml: formatMarkdownToHtml($input.first().json.text),\n      plainText: \"Este correo contiene HTML formateado. Si no puede verlo correctamente, utilice un cliente de correo que soporte HTML.\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1240,300],"id":"e444c136-b689-4404-ab22-19480f08c30f","name":"Convert to HTML"},{"parameters":{"errorMessage":"Error Processing Document"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[900,120],"id":"ae0c5eef-dfff-4a9f-b1aa-f18bd7fc69b4","name":"Error PDF"},{"parameters":{"toRecipients":"={{ $('On form submission').item.json.Email }}","subject":"=Resumen RFP Cliente {{ $('On form submission').item.json['Nombre del Cliente'] }}","bodyContent":"={{ $json.formattedHtml }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1420,300],"id":"b93bcb65-0847-4f6d-b9d2-bab60b9f6b1c","name":"Send Mail","webhookId":"4d4b099c-c77e-49cd-924d-254b0d51e936","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook Mail JPG"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[560,280],"id":"de0ed556-27ff-4adc-bd07-9b585c307ff0","name":"Status Process"},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","messages":{"messageValues":[{"message":"Me puedes hacer que se extraiga el nombre del solicitante o cliente encontrando la informacion en el texto y que lo llama como \"solicitante: cliente XYZ\"\n\nEste es el prompt actual\nEres un analista experto en contratación de servicios de telecomunicaciones. Recibirás el contenido completo de un documento tipo RFP (Request for Proposal).\n\n🎯 TU TAREA ES LEER Y ANALIZAR el documento COMPLETO y entregar una respuesta organizada en FORMATO MARKDOWN, bien estructurada y detallada, con secciones y subtítulos.\n💡 DEBES EXTRAER Y EXPLICAR la información más relevante posible, agrupada en las siguientes secciones:\n## 🔐 Información Legal y Contractual\nExpón con claridad las condiciones legales clave: duración del contrato, causales de terminación, condiciones de renovación, garantías requeridas, cláusulas de confidencialidad, penalizaciones y cualquier término jurídico relevante. Si hay ambigüedades o riesgos, coméntalos brevemente.\n## 💼 Aspectos Administrativos y Económicos\nDetalla fechas importantes (límite de entrega, vigencia de oferta), plazos de pago, condiciones económicas (moneda, forma de pago, intereses, anticipos), así como montos, promedios o unidades de cobro mencionadas. Añade cualquier instrucción relacionada con facturación, penalidades económicas o restricciones.\n## 📑 Requisitos Documentales\nLista y explica los documentos requeridos: referencias, certificaciones, declaraciones juradas, anexos técnicos, formularios, etc. Aclara condiciones como: cantidad, antigüedad, formato, requisitos de firma o certificación, si deben presentarse en físico o digital.\n## 🛠️ Requerimiento Técnico (Resumen Detallado)\nHaz un resumen técnico exhaustivo. Incluye tecnologías específicas (SD-WAN, plataformas, software), infraestructura mínima, disponibilidad exigida, condiciones de escalabilidad, redundancias, niveles de servicio (SLA), seguridad física y lógica, cantidad de sitios, equipos o instalaciones.\n🔎 ADEMÁS, para cada sección debes:\n- Citar cifras exactas, porcentajes, valores técnicos o económicos que aparezcan  \n- Incluir aclaraciones sobre el contexto si hay ambigüedad o términos no definidos  \n- Mencionar si hay inconsistencias, ambigüedades o puntos críticos  \n- Usar listas ordenadas o viñetas cuando sea necesario para mayor claridad\n\n🚫 IMPORTANTE:  \nNO entregues respuesta en JSON  \nNO utilices etiquetas de código  \nNO incluyas texto fuera del formato Markdown estructurado\n📌 OBJETIVO FINAL: Producir un INFORME CLARO, COMPLETO Y ANALÍTICO en Markdown, con subtítulos, íconos y explicaciones precisas por sección.\n\n📘 FORMATO DE RESPUESTA ESPERADO EN MARKDOWN OBLIGATORIO MANTENER LA ESTRUCTURA\n## 🔐 Información Legal y Contractual\n- Extraer el nombre del solicitante del RFP, regularmente es el nombre de alguna empresa, entidad o compañia\n- El contrato tendrá una duración de 60 meses, con posibilidad de renovación automática si ninguna de las partes manifiesta lo contrario con al menos 90 días de anticipación.\n- Se exige una garantía de cumplimiento equivalente al 15% del valor anual del contrato, renovable cada año antes del aniversario del contrato.\n- El proveedor debe firmar un acuerdo de confidencialidad (NDA) previo a la ejecución del contrato.\n- Se establecen penalidades por incumplimiento que podrán alcanzar hasta el 10% del monto mensual facturado, dependiendo de la gravedad del incidente.\n## 💼 Aspectos Administrativos y Económicos\n- La propuesta debe entregarse antes del **24 de enero de 2025 a las 13:00 (UTC-6)**.\n- La oferta deberá tener una vigencia mínima de **180 días** a partir de la fecha de apertura de propuestas.\n- Los pagos se realizarán en **USD**, con un plazo máximo de **60 días calendario** tras la aceptación del servicio.\n- No se permiten pagos anticipados, intereses moratorios ni ajustes por inflación.\n- Costo estimado mensual por sitio: **$2,500 USD** promedio.\n- No se contempla la entrega parcial del servicio; el contrato será adjudicado en una sola partida.\n## 📑 Requisitos Documentales\n- Se deben presentar al menos **3 cartas de referencia** de clientes actuales o anteriores, emitidas en los últimos **2 años**.\n- Certificaciones obligatorias: **ISO 27001**, **PCI-DSS**, y **Uptime Institute TIER III (Design y Facility)**.\n- Documentos requeridos: memoria técnica, plan de trabajo detallado, declaración jurada firmada por el representante legal.\n- Todos los documentos deben entregarse en formato digital firmado electrónicamente, además de una copia impresa legalizada.\n- Se solicita presentar un organigrama técnico del equipo propuesto, con CVs del personal clave.\n## 🛠️ Requerimiento Técnico (Resumen Detallado)\n- La solución deberá operar sobre una plataforma **SD-WAN basada en VMware VeloCloud**, con enlaces de comunicación redundantes en cada sitio.\n- Se exige una **disponibilidad mínima de 99.982%**, respaldada por monitoreo y soporte **24x7x365**.\n- Capacidad inicial de instalación: **20 racks**, con posibilidad de expansión a **30 racks** dentro de un periodo de **3 años**.\n- Redundancia requerida: **N+1** en energía, climatización y enlaces.\n- Seguridad física: acceso biométrico, cámaras CCTV, jaulas Faraday y zonas de cuarentena.\n- Todos los sitios deberán contar con doble acometida de fibra óptica y equipos con soporte para IPv6.\n## ✅  Observaciones y Recomendaciones\n- Se recomienda verificar que la vigencia de las certificaciones solicitadas coincida con la duración total del contrato.\n- Ideal contar con experiencia comprobable en implementación de soluciones SD-WAN en al menos **10 sitios simultáneamente**.\n- Se sugiere solicitar aclaración sobre el término “expansión futura” para establecer límites de alcance o costos adicionales.\n- Sería útil definir explícitamente los criterios de evaluación técnica y económica dentro del documento para mayor transparencia.\n## ⚠️ Riesgos Identificados\n- Ambigüedad en la cláusula de renovación automática: no se especifican condiciones de renegociación tarifaria.\n- Posible sobrecosto si no se delimitan las condiciones bajo las cuales se puede activar la expansión a 30 racks.\n- No se detalla el mecanismo de validación de la disponibilidad mínima exigida (99.982%), lo que podría generar disputas contractuales.\n- Falta claridad sobre si el incumplimiento técnico parcial implica rescisión total del contrato o aplicación de penalidades proporcionales."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[900,300],"id":"b8137836-e121-43b7-90d9-0927365cbde0","name":"Analizando Documento"},{"parameters":{"operation":"completion","completionTitle":"Error en el Analisis","completionMessage":"=el Analisis del documento ** {{ $('On form submission').item.json.Document.filename }} **\nPresento un error en su procesamiento, por favor intente de nuevo el proceso.","limitWaitTime":true,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[740,120],"id":"d1aa71bb-df45-4873-983e-7dc04bd8ead0","name":"Form Error","webhookId":"672dd2c6-3c4d-472e-a14e-ea16a65e965b"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"Document"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,300],"id":"9010f62c-7456-42f6-96f1-401a4823a75a","name":"Parser Documento","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,300],"id":"881b4941-7fc7-4f4d-8fb9-5b17c3349b80","name":"Success Document","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[740,440],"id":"5ad4e65b-7d9d-410e-b79f-695194b6a4a3","name":"Wait Process Document","webhookId":"f2ebea6a-82b1-44b0-88ea-6f80826d99f9"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,300],"id":"c98de5d5-83a6-4dcb-b229-d6b6cf3e4941","name":"GET Parser Document","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"operation":"completion","completionTitle":"Analisis Finalizado","completionMessage":"=El Analisis del documento\n** {{ $('On form submission').item.json.Document.filename }} **\na finalizado y el resultado fue enviado a\n{{ $('On form submission').item.json.Email }}","limitWaitTime":true,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[1620,300],"id":"62e7cf98-15f8-4137-9f47-9e7bddff7f0f","name":"Finish Success","webhookId":"672dd2c6-3c4d-472e-a14e-ea16a65e965b"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[940,480],"id":"78802447-1b15-44a0-8592-8f3df5f95e16","name":"GPT-4.1-Nano","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}}],"connections":{"On form submission":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Parser Documento","type":"main","index":0}]]},"Convert to HTML":{"main":[[{"node":"Send Mail","type":"main","index":0}]]},"Send Mail":{"main":[[{"node":"Finish Success","type":"main","index":0}]]},"Status Process":{"main":[[{"node":"Form Error","type":"main","index":0}],[{"node":"Form Error","type":"main","index":0}],[{"node":"Success Document","type":"main","index":0}],[{"node":"Wait Process Document","type":"main","index":0}]]},"Analizando Documento":{"main":[[{"node":"Convert to HTML","type":"main","index":0}]]},"Form Error":{"main":[[{"node":"Error PDF","type":"main","index":0}]]},"Parser Documento":{"main":[[{"node":"GET Parser Document","type":"main","index":0}]]},"Success Document":{"main":[[{"node":"Analizando Documento","type":"main","index":0}]]},"Wait Process Document":{"main":[[{"node":"GET Parser Document","type":"main","index":0}]]},"GET Parser Document":{"main":[[{"node":"Status Process","type":"main","index":0}]]},"GPT-4.1-Nano":{"ai_languageModel":[[{"node":"Analizando Documento","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7be4cd56-14fe-45a8-83d9-b35e502a5c3c","triggerCount":0,"tags":[]}