workflowsSchedule Reporte Diario Vulners V2.json
{"createdAt":"2025-05-24T21:57:19.749Z","updatedAt":"2025-05-25T16:25:42.000Z","id":"C6afTI5o8i0mmmIL","name":"Schedule Reporte Diario Vulners V2","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://vulners.com/api/v3/search/lucene/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"query\": \"(Sophos OR HPE OR Veeam OR Fortinet OR Cisco OR Ansible OR Kubernetes OR SolarWinds OR Acronis OR Juniper OR Huawei OR Broadcom OR Chrome OR Edge OR Outlook OR Dell OR IBM OR Hitachi OR Pure OR Mikrotik OR Ubiquiti OR PFSense) AND lastseen:[ {{ $json.last_seen }}] order:published\",\n  \"skip\": 0,\n  \"size\": 5,\n  \"fields\": [\"id\", \"published\", \"description\", \"short_description\", \"type\", \"title\", \"cvelist\", \"href\", \"sourceHref\", \"sourceData\", \"cvss\", \"lastseen\"],\n  \"apiKey\": \"QXJ8W19OX7DSLVL5G5G41DY2E5CSNV6YN1G0DC6ER1CNRKF7PF4E9SPN1WI3UFN1\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-20],"id":"ab57bf88-175a-4227-8edd-537999eacdd9","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,-20],"id":"19b7884c-8abe-401f-b16d-b18f4fec9c8d","name":"When clicking ‘Test workflow’"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"Boletin de Vulnerabilidades - Vulners.com","bodyContent":"={{ $json.htmlEmail }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1240,660],"id":"6996ae03-858e-4418-ae04-a6d884a0fe0d","name":"Test Mail jaimep@ifxcorp.com","webhookId":"36f4c0d9-f881-42be-8d1b-c84f3ba68e55","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"fieldToSplitOut":"data.search","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[280,-20],"id":"e57b3ae9-f7cc-41fc-a9f9-42ff8a16302d","name":"Split Out","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","rightValue":"HIGH","operator":{"type":"string","operation":"equals"},"id":"d6c4953c-9323-4858-b77b-fb6fa69cb6c8"}],"combinator":"and"},"renameOutput":true,"outputKey":"HIGH"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"76b44e9f-00f1-44ee-bef3-34de4a9bdf5a","leftValue":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","rightValue":"MEDIUM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"MEDIUM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5bf459ea-0ef0-4d12-8f42-762d46dc3b05","leftValue":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","rightValue":"LOW","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LOW"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13f1362f-7277-4ac6-a0ed-2a6a25159a02","leftValue":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","rightValue":"NONE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pendiente"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1060,-140],"id":"f0323daf-f576-4176-a65d-1ba338408793","name":"Switch"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,-140],"id":"46033f3f-f55f-43ad-8d35-b040af52dffb","name":"Loop Over Items","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"43e72e4b-8404-4cdd-ba41-ac7e57df90f3","name":"Fabricante","value":"=<tr>\n<td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fabricante:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"].highlight.description[0].match(/<span class=\"vulners-highlight\">(.+?)<\\/span>/)?.[1] || '' }}</td>\n</tr>","type":"string"},{"id":"ed39986c-1e36-4ac8-90ae-a23f911eedd7","name":"CVE","value":"=<tr>\n<td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #d9534f; font-weight: bold; width: 150px;\">CVE:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.cvelist.cve }}\n</td></tr>","type":"string"},{"id":"e2a27d80-3228-4244-a124-6baa2f85b6ef","name":"Fecha del Reporte","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fecha Reporte:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.published.toDateTime().format('dd-MMM-yyyy HH:MM') }}</td></tr>","type":"string"},{"id":"7ce7c3ce-2ce6-4548-ba61-1579c4b3d5b0","name":"Producto","value":"=\n<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Producto Impctado:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"]._source.type.toUpperCase() }}\n</td></tr>","type":"string"},{"id":"59108589-9ce3-42b8-99e0-dee04d839493","name":"CVSS","value":"=<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">CVSS:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\"><span class=\"cvss-score cvss-low\"\nstyle=\"font-weight: bold; padding: 3px 6px; border-radius: 4px; color: #ffffff; display: inline-block; background-color: #4cae4c;\">{{ $('Loop Over Items').item.json['data.search']._source.cvss.score }}</span></td></tr>","type":"string"},{"id":"366831fd-fdae-48cf-872d-1de09705219a","name":"Descripcion","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Descripción:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.description }}</td></tr>","type":"string"},{"id":"c00fb396-85da-4593-bf97-ad7ca64ee659","name":"Referencias","value":"=<tr><td class=\"label\"style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Referencias:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n<a href=\"{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}\" style=\"color: #007bff; text-decoration: none;\">{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}</a></td></tr>","type":"string"},{"id":"0d27868d-853d-4a12-a4ca-e5c5594dc717","name":"severity","value":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","type":"string"},{"id":"312fc157-03c3-42a5-b446-ad2fbafcf1b0","name":"descripcion","value":"={{ $('AI Agent2').item.json.output.descripcion }}","type":"string"},{"id":"d380b67e-0460-413c-a2fc-0cf51724101b","name":"recomendaciones","value":"={{ $('AI Agent2').item.json.output.recomendaciones }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,100],"id":"4e05b20f-0c17-4dba-9fb4-4f10343b15b9","name":"Set Fields TBD"},{"parameters":{"promptType":"define","text":"={{ $json['data.search'] }}","hasOutputParser":true,"options":{"systemMessage":"ERES UN AGENTE ESPECIALIZADO EN CIBERSEGURIDAD Y TRADUCCIÓN TÉCNICA. DISPONES DE LA HERRAMIENTA `SearchCVEWeb` PARA BUSCAR INFORMACIÓN ACTUALIZADA EN LÍNEA SOBRE CUALQUIER CVE. TU TAREA CONSTA DE DOS FASES:\n\n---\n\n## 📌 FASE 1: TRADUCCIÓN\n\n- TRADUCE FIELMENTE EL CAMPO `\"description\"` AL ESPAÑOL LATINOAMERICANO.\n- NO INVENTES INFORMACIÓN NUEVA.\n- CONSERVA TÉRMINOS TÉCNICOS EN INGLÉS SI NO HAY EQUIVALENTE.\n- EJEMPLO DE TÉRMINOS QUE NO DEBES TRADUCIR: `client-side`, `server-side`, `CVSS`, `vector`.\n\n---\n\n## 📌 FASE 2: INVESTIGACIÓN Y RECOMENDACIONES\n\n- CONSULTA LA HERRAMIENTA `SearchCVEWeb` USANDO EL CVE COMO TÉRMINO DE BÚSQUEDA.\n- ANALIZA INFORMACIÓN COMO:\n  - BOLETINES DE SEGURIDAD\n  - PARCHES DISPONIBLES\n  - EXPLOITS\n  - MITIGACIONES OFICIALES\n  - GUÍAS DE HARDENING\n  - ALERTAS CERT/CSIRT\n\n---\n\n## 📌 RECOMENDACIONES: ENRIQUECIMIENTO FORZADO\n\n- SI LA VULNERABILIDAD TIENE CVSS >= 7.0, ENTREGA AL MENOS **3 RECOMENDACIONES**.\n- FORMATEA CADA UNA DENTRO DE UNA ETIQUETA `<li>`.\n- INCLUYE VARIABILIDAD: NO REPITAS EL MISMO TIPO DE ACCIÓN.\n- CATEGORÍAS DE RECOMENDACIONES A CONSIDERAR:\n  - ✅ APLICACIÓN DE PARCHES\n  - ✅ SEGMENTACIÓN DE RED\n  - ✅ ANÁLISIS DE LOGS\n  - ✅ CONTROL DE ACCESO\n  - ✅ ENDPOINT HARDENING\n  - ✅ PRUEBAS DE PENETRACIÓN INTERNAS\n  - ✅ ACTUALIZACIÓN DE POLÍTICAS DE SEGURIDAD\n\n---\n\n## 🧠 CADENA DE PENSAMIENTO\n\n1. TRADUCE la descripción original.\n2. CONSULTA SearchCVEWeb con el CVE.\n3. ANALIZA severidad, explotación y contexto del producto afectado.\n4. SI CVSS >= 7.0, GENERA AL MENOS 3 RECOMENDACIONES DE DIFERENTES TIPOS.\n5. FORMATEA cada recomendación así: `<li>Recomendación concreta</li>`.\n6. DEVUELVE EL SIGUIENTE JSON:\n\n{\n  \"descripcion\": \"...\",\n  \"recomendaciones\": \"<li>...</li><li>...</li><li>...</li>\"\n}\n\n---\n\n## 🚫 LO QUE NO DEBES HACER\n\n- NO INVENTES RECOMENDACIONES SIN USAR `SearchCVEWeb`.\n- NO OMITAS LAS ETIQUETAS `<li>`.\n- NO ENTREGUES EL RESULTADO EN FORMATO DISTINTO A JSON.\n- NO REPITAS LA MISMA RECOMENDACIÓN CON DISTINTAS PALABRAS.\n- NO LIMITES LA SALIDA A UNA SOLA RECOMENDACIÓN SI HAY DATOS PARA MÁS.\n\n---\n\n## 📥 EJEMPLO DE ENTRADA\n\n{\n  \"description\": \"IBM Aspera Faspex 5.0.0 through 5.0.12 could allow an authenticated user to obtain sensitive information or perform unauthorized actions on behalf of another user due to client-side enforcement of server-side security.\",\n  \"cve\": \"CVE-2025-33137\",\n  \"cvss\": 7.1\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[740,-120],"id":"b7a21f5e-a9a8-420c-8250-f5d4e9f11938","name":"AI Agent2","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[620,80],"id":"23dee1cc-a382-4c99-b226-add27399fe4d","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[760,80],"id":"fbe56ebe-b990-4309-a64a-f4d13a5c25a6","name":"SerpAPI1","credentials":{"serpApi":{"id":"MRuXkXXO6TX2gDPo","name":"SerpAPI JPG"}}},{"parameters":{"jsonSchemaExample":"{\n  \"descripcion\": \"Traducción fiel al español latinoamericano de la descripción técnica de la vulnerabilidad, manteniendo términos técnicos en inglés si corresponde. No debe inventar contenido nuevo, solo traducir.\",\n  \"recomendaciones\": \"<li>Recomendaciones claras y actualizadas basadas en los hallazgos de SerpApi y la información del CVE.</li><li>Deben ser útiles para equipos de ciberseguridad y contener pasos de mitigación, parches, o acciones sugeridas.</li>\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[920,80],"id":"c9f5d578-bb1a-4a74-8cb5-1bf8e8bdcef5","name":"Structured Output Parser2"},{"parameters":{"assignments":{"assignments":[{"id":"43e72e4b-8404-4cdd-ba41-ac7e57df90f3","name":"Fabricante","value":"=<tr>\n<td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fabricante:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"].highlight.description[0].match(/<span class=\"vulners-highlight\">(.+?)<\\/span>/)?.[1] || '' }}</td>\n</tr>","type":"string"},{"id":"ed39986c-1e36-4ac8-90ae-a23f911eedd7","name":"CVE","value":"=<tr>\n<td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #d9534f; font-weight: bold; width: 150px;\">CVE:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.cvelist.cve }}\n</td></tr>","type":"string"},{"id":"e2a27d80-3228-4244-a124-6baa2f85b6ef","name":"Fecha del Reporte","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fecha Reporte:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.published.toDateTime().format('dd-MMM-yyyy HH:MM') }}</td></tr>","type":"string"},{"id":"7ce7c3ce-2ce6-4548-ba61-1579c4b3d5b0","name":"Producto","value":"=\n<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Producto Impctado:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"]._source.type.toUpperCase() }}\n</td></tr>","type":"string"},{"id":"59108589-9ce3-42b8-99e0-dee04d839493","name":"CVSS","value":"=<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">CVSS:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\"><span class=\"cvss-score cvss-low\"\nstyle=\"font-weight: bold; padding: 3px 6px; border-radius: 4px; color: #ffffff; display: inline-block; background-color: #4cae4c;\">{{ $('Loop Over Items').item.json['data.search']._source.cvss.score }}</span></td></tr>","type":"string"},{"id":"366831fd-fdae-48cf-872d-1de09705219a","name":"Descripcion","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Descripción:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.description }}</td></tr>","type":"string"},{"id":"c00fb396-85da-4593-bf97-ad7ca64ee659","name":"Referencias","value":"=<tr><td class=\"label\"style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Referencias:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n<a href=\"{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}\" style=\"color: #007bff; text-decoration: none;\">{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}</a></td></tr>","type":"string"},{"id":"52bd110a-9e3b-46ae-b4e0-87d0e20a1e73","name":"severity","value":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,-320],"id":"c8f34788-392a-4d98-b1a0-73ce0463f0e8","name":"Set Fields high"},{"parameters":{"assignments":{"assignments":[{"id":"43e72e4b-8404-4cdd-ba41-ac7e57df90f3","name":"Fabricante","value":"=<tr>\n<td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fabricante:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"].highlight.description[0].match(/<span class=\"vulners-highlight\">(.+?)<\\/span>/)?.[1] || '' }}</td>\n</tr>","type":"string"},{"id":"ed39986c-1e36-4ac8-90ae-a23f911eedd7","name":"CVE","value":"=<tr>\n<td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #d9534f; font-weight: bold; width: 150px;\">CVE:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.cvelist.cve }}\n</td></tr>","type":"string"},{"id":"e2a27d80-3228-4244-a124-6baa2f85b6ef","name":"Fecha del Reporte","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fecha Reporte:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.published.toDateTime().format('dd-MMM-yyyy HH:MM') }}</td></tr>","type":"string"},{"id":"7ce7c3ce-2ce6-4548-ba61-1579c4b3d5b0","name":"Producto","value":"=\n<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Producto Impctado:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"]._source.type.toUpperCase() }}\n</td></tr>","type":"string"},{"id":"59108589-9ce3-42b8-99e0-dee04d839493","name":"CVSS","value":"=<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">CVSS:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\"><span class=\"cvss-score cvss-low\"\nstyle=\"font-weight: bold; padding: 3px 6px; border-radius: 4px; color: #ffffff; display: inline-block; background-color: #4cae4c;\">{{ $('Loop Over Items').item.json['data.search']._source.cvss.score }}</span></td></tr>","type":"string"},{"id":"366831fd-fdae-48cf-872d-1de09705219a","name":"Descripcion","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Descripción:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.description }}</td></tr>","type":"string"},{"id":"c00fb396-85da-4593-bf97-ad7ca64ee659","name":"Referencias","value":"=<tr><td class=\"label\"style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Referencias:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n<a href=\"{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}\" style=\"color: #007bff; text-decoration: none;\">{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}</a></td></tr>","type":"string"},{"id":"c3f4c8db-6929-4353-a2dd-3443e716da1b","name":"severity","value":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","type":"string"},{"id":"83e040ea-84a1-4a02-a619-8da08a8dd973","name":"descripcion","value":"={{ $json.output.descripcion }}","type":"string"},{"id":"9c53a90c-ccf5-4838-b81f-5bead2eb31a3","name":"recomendaciones","value":"={{ $json.output.recomendaciones }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,-180],"id":"46224407-e2d9-449e-933e-586ce36c88ff","name":"Set Fields Medium"},{"parameters":{"assignments":{"assignments":[{"id":"43e72e4b-8404-4cdd-ba41-ac7e57df90f3","name":"Fabricante","value":"=<tr>\n<td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fabricante:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"].highlight.description[0].match(/<span class=\"vulners-highlight\">(.+?)<\\/span>/)?.[1] || '' }}</td>\n</tr>","type":"string"},{"id":"ed39986c-1e36-4ac8-90ae-a23f911eedd7","name":"CVE","value":"=<tr>\n<td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #d9534f; font-weight: bold; width: 150px;\">CVE:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.cvelist.cve }}\n</td></tr>","type":"string"},{"id":"e2a27d80-3228-4244-a124-6baa2f85b6ef","name":"Fecha del Reporte","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Fecha Reporte:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.published.toDateTime().format('dd-MMM-yyyy HH:MM') }}</td></tr>","type":"string"},{"id":"7ce7c3ce-2ce6-4548-ba61-1579c4b3d5b0","name":"Producto","value":"=\n<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Producto Impctado:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json[\"data.search\"]._source.type.toUpperCase() }}\n</td></tr>","type":"string"},{"id":"59108589-9ce3-42b8-99e0-dee04d839493","name":"CVSS","value":"=<tr><td class=\"label\"\nstyle=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">CVSS:</td>\n<td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\"><span class=\"cvss-score cvss-low\"\nstyle=\"font-weight: bold; padding: 3px 6px; border-radius: 4px; color: #ffffff; display: inline-block; background-color: #4cae4c;\">{{ $('Loop Over Items').item.json['data.search']._source.cvss.score }}</span></td></tr>","type":"string"},{"id":"366831fd-fdae-48cf-872d-1de09705219a","name":"Descripcion","value":"=\n<tr><td class=\"label\" style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Descripción:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">{{ $('Loop Over Items').item.json['data.search']._source.description }}</td></tr>","type":"string"},{"id":"c00fb396-85da-4593-bf97-ad7ca64ee659","name":"Referencias","value":"=<tr><td class=\"label\"style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #003366; font-weight: bold; width: 150px;\">Referencias:</td><td style=\"padding: 6px 0; font-size: 14px; line-height: 1.6; color: #333333;\">\n<a href=\"{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}\" style=\"color: #007bff; text-decoration: none;\">{{ $('Loop Over Items').item.json['data.search']._source.href }}<br>{{ $('Loop Over Items').item.json['data.search']._source.vhref }}</a></td></tr>","type":"string"},{"id":"a8eb7283-b837-4355-937c-cf69e48b6302","name":"severity","value":"={{ $('Split Out').item.json['data.search']._source.cvss.severity }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,-40],"id":"afbe5f1a-3968-48f1-8eaa-ab23a419c7c6","name":"Set Fields Low"},{"parameters":{"assignments":{"assignments":[{"id":"1e86784a-9f60-4198-b756-d7f4f1d41aa5","name":"last_seen","value":"={{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}T00:00:00 TO {{ $now.minus({ days: 1 }).format('yyyy-MM-dd') }}23:59:59","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-20],"id":"6ac7eb7c-575b-4879-a370-dd91fe99d0b0","name":"Edit Fields"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"data_high","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1560,-320],"id":"cd6e7d99-b3a5-4bec-9cd9-c7e3e764642e","name":"High Severity"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"data_medium","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1560,-180],"id":"d047e3e5-5b79-4d16-9935-e4d2d456391f","name":"Medium Severity"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"data_low","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1560,-40],"id":"50e2632f-0f3e-4e65-ac74-b08a1638ca58","name":"Low Severity"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"data_tbd","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1560,100],"id":"cc1310dc-45de-476a-9128-4e94e1f717c8","name":"TBD Severity"},{"parameters":{"jsCode":"const acc = $input.all();\n\nconst result = {\n  data_high: [],\n  data_medium: [],\n  data_low: [],\n  data_tbd: []\n};\n\nfor (const input of acc) {\n  const data = input.json;\n  if (data.data_high) {\n    result.data_high.push(...data.data_high);\n  }\n  if (data.data_medium) {\n    result.data_medium.push(...data.data_medium);\n  }\n  if (data.data_low) {\n    result.data_low.push(...data.data_low);\n  }\n  if (data.data_tbd) {\n    result.data_tbd.push(...data.data_tbd);\n  }\n}\n\nreturn [{ json: result }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,-100],"id":"9d898ba9-8709-409f-8a6e-024b92c25b23","name":"Code"}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Test Mail jaimep@ifxcorp.com":{"main":[[]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Set Fields high","type":"main","index":0}],[{"node":"Set Fields Medium","type":"main","index":0}],[{"node":"Set Fields Low","type":"main","index":0}],[{"node":"Set Fields TBD","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"SerpAPI1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"Set Fields TBD":{"main":[[{"node":"TBD Severity","type":"main","index":0}]]},"Set Fields Low":{"main":[[{"node":"Low Severity","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Set Fields Medium":{"main":[[{"node":"Medium Severity","type":"main","index":0}]]},"Set Fields high":{"main":[[{"node":"High Severity","type":"main","index":0}]]},"High Severity":{"main":[[{"node":"Code","type":"main","index":0}]]},"Medium Severity":{"main":[[{"node":"Code","type":"main","index":0}]]},"Low Severity":{"main":[[{"node":"Code","type":"main","index":0}]]},"TBD Severity":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Txht1wrdLAI370JY","timezone":"America/Bogota"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"HTTP Request":[{"json":{"result":"OK","data":{"search":[{"_index":"es6_bulletins_bulletin_v5","_id":"PT-2025-19","_score":null,"_source":{"lastseen":"2025-05-24T12:51:21","cvelist":[],"description":"The vulnerability was identified in Broadcom P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, Broadcom NetXtreme-E family , versions 231.1.162.1 (package version), 1.10.3 (hwrm spec).\n\nThe discovered vulnerability is related to stack-based buffer overflow, which leads to arbitrary code execution on the KONG core and the possibility of compromising the entire networking adapter or even other virtual machines/hypervisors.\n\n**Vulnerability status:** Confirmed by vendor\n\n**Date of vulnerability remediation:** 10.04.2025\n\n**Recommendations:**\n\n  * Update the firmware to 2.33 or higher\n\n\n\n**Researcher:** Alexey Kovrizhnykh (Positive Technologies)\n","id":"PT-2025-19","published":"2025-10-04T00:00:00","href":"https://global.ptsecurity.com/analytics/threatscape/PT-2025-19","type":"ptsecurity","title":"PT-2025-19: Remote code execution in Broadcom P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, Broadcom NetXtreme-E family","cvss":{"score":0,"severity":"NONE","version":"NONE","vector":"NONE"},"vhref":"https://vulners.com/ptsecurity/PT-2025-19"},"highlight":{"description":["The vulnerability was identified in <span class=\"vulners-highlight\">Broadcom</span> P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, <span class=\"vulners-highlight\">Broadcom</span> NetXtreme-E family , versions 231.1.162.1 (package version), 1.10.3 (hwrm spec).","The discovered vulnerability is related <span class=\"vulners-highlight\">to</span> stack-based buffer overflow, which leads <span class=\"vulners-highlight\">to</span> arbitrary code execution on the KONG core <span class=\"vulners-highlight\">and</span> the possibility of compromising the entire networking adapter <span class=\"vulners-highlight\">or</span> even","**Vulnerability status:** Confirmed by vendor\n\n**Date of vulnerability remediation:** 10.04.2025\n\n**Recommendations:**\n\n  * Update the firmware <span class=\"vulners-highlight\">to</span> 2.33 <span class=\"vulners-highlight\">or</span> higher\n\n\n\n**Researcher:** Alexey Kovrizhnykh ("],"id":["PT-<span class=\"vulners-highlight\">2025</span>-19"],"href":["https://global.ptsecurity.com/analytics/threatscape/PT-<span class=\"vulners-highlight\">2025</span>-19"],"title":["PT-<span class=\"vulners-highlight\">2025</span>-19: Remote code execution in <span class=\"vulners-highlight\">Broadcom</span> P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, <span class=\"vulners-highlight\">Broadcom</span> NetXtreme-E family"]},"sort":[1759536000000],"flatDescription":"The vulnerability was identified in Broadcom P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, Broadcom NetXtreme-E family , versions 231.1.162.1 (package version), 1.10.3 (hwrm spec). The discovered vulnerability is related to stack-based buffer overflow, which leads to arbitrary code..."},{"_index":"es6_bulletins_bulletin_v5","_id":"PT-2025-17","_score":null,"_source":{"lastseen":"2025-05-23T14:51:19","cvelist":[],"description":"The vulnerability was identified in Broadcom P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, Broadcom NetXtreme-E family, versions 231.1.162.1 (package version), 1.10.3 (hwrm spec).\n\nThe discovered vulnerability is related to improper access control to the network adapter memory read/write debug functions.\n\n**Vulnerability status:** Confirmed by vendor\n\n**Date of vulnerability remediation:** 10.04.2025\n\n**Recommendations:**\n\n  * Update the firmware to 2.33 or higher\n\n\n\n**Researcher:** Alexey Kovrizhnykh (Positive Technologies)\n","id":"PT-2025-17","published":"2025-10-04T00:00:00","href":"https://global.ptsecurity.com/analytics/threatscape/PT-2025-17","type":"ptsecurity","title":"PT-2025-17: Unrestricted memory access to internal memory of networking adapter in Broadcom P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, Broadcom NetXtreme-E family","cvss":{"score":0,"severity":"NONE","version":"NONE","vector":"NONE"},"vhref":"https://vulners.com/ptsecurity/PT-2025-17"},"highlight":{"description":["The vulnerability was identified in <span class=\"vulners-highlight\">Broadcom</span> P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, <span class=\"vulners-highlight\">Broadcom</span> NetXtreme-E family, versions 231.1.162.1 (package version), 1.10.3 (hwrm spec).","The discovered vulnerability is related <span class=\"vulners-highlight\">to</span> improper access control <span class=\"vulners-highlight\">to</span> the network adapter memory read/write debug functions.","**Vulnerability status:** Confirmed by vendor\n\n**Date of vulnerability remediation:** 10.04.2025\n\n**Recommendations:**\n\n  * Update the firmware <span class=\"vulners-highlight\">to</span> 2.33 <span class=\"vulners-highlight\">or</span> higher\n\n\n\n**Researcher:** Alexey Kovrizhnykh ("],"href":["https://global.ptsecurity.com/analytics/threatscape/PT-<span class=\"vulners-highlight\">2025</span>-17"],"id":["PT-<span class=\"vulners-highlight\">2025</span>-17"],"title":["PT-<span class=\"vulners-highlight\">2025</span>-17: Unrestricted memory access <span class=\"vulners-highlight\">to</span> internal memory of networking adapter in <span class=\"vulners-highlight\">Broadcom</span> P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, <span class=\"vulners-highlight\">Broadcom</span> NetXtreme-E family"]},"sort":[1759536000000],"flatDescription":"The vulnerability was identified in Broadcom P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, Broadcom NetXtreme-E family, versions 231.1.162.1 (package version), 1.10.3 (hwrm spec). The discovered vulnerability is related to improper access control to the network adapter memory..."},{"_index":"es6_bulletins_bulletin_v5","_id":"PT-2025-18","_score":null,"_source":{"lastseen":"2025-05-23T14:51:17","cvelist":[],"description":"The vulnerability was identified in Broadcom P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, Broadcom NetXtreme-E family , versions 231.1.162.1 (package version), 1.10.3 (hwrm spec).\n\nThe discovered vulnerability is related to stack-based buffer overflow in the ChiMP core, which leads to the failure of the entire networking adapter.\n\n**Vulnerability status:** Confirmed by vendor\n\n**Date of vulnerability remediation:** 10.04.2025\n\n**Recommendations:**\n\n  * Update the firmware to 2.33 or higher\n\n\n\n**Researcher:** Alexey Kovrizhnykh (Positive Technologies)\n","id":"PT-2025-18","published":"2025-10-04T00:00:00","href":"https://global.ptsecurity.com/analytics/threatscape/PT-2025-18","type":"ptsecurity","title":"PT-2025-18: Denial of Service (DoS) in Broadcom P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, Broadcom NetXtreme-E family","cvss":{"score":0,"severity":"NONE","version":"NONE","vector":"NONE"},"vhref":"https://vulners.com/ptsecurity/PT-2025-18"},"highlight":{"description":["The vulnerability was identified in <span class=\"vulners-highlight\">Broadcom</span> P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, <span class=\"vulners-highlight\">Broadcom</span> NetXtreme-E family , versions 231.1.162.1 (package version), 1.10.3 (hwrm spec).","The discovered vulnerability is related <span class=\"vulners-highlight\">to</span> stack-based buffer overflow in the ChiMP core, which leads <span class=\"vulners-highlight\">to</span> the failure of the entire networking adapter.","**Vulnerability status:** Confirmed by vendor\n\n**Date of vulnerability remediation:** 10.04.2025\n\n**Recommendations:**\n\n  * Update the firmware <span class=\"vulners-highlight\">to</span> 2.33 <span class=\"vulners-highlight\">or</span> higher\n\n\n\n**Researcher:** Alexey Kovrizhnykh ("],"id":["PT-<span class=\"vulners-highlight\">2025</span>-18"],"href":["https://global.ptsecurity.com/analytics/threatscape/PT-<span class=\"vulners-highlight\">2025</span>-18"],"title":["PT-<span class=\"vulners-highlight\">2025</span>-18: Denial of Service (DoS) in <span class=\"vulners-highlight\">Broadcom</span> P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, <span class=\"vulners-highlight\">Broadcom</span> NetXtreme-E family"]},"sort":[1759536000000],"flatDescription":"The vulnerability was identified in Broadcom P225p NetXtreme-E Dual-port 10Gb/25Gb Ethernet PCIe Adapter, Broadcom NetXtreme-E family , versions 231.1.162.1 (package version), 1.10.3 (hwrm spec). The discovered vulnerability is related to stack-based buffer overflow in the ChiMP core, which leads..."},{"_index":"es6_bulletins_bulletin_v5","_id":"NVD:CVE-2025-5150","_score":null,"_source":{"lastseen":"2025-05-25T15:20:18","cvelist":["CVE-2025-5150"],"description":"A vulnerability was found in docarray up to 0.40.1. It has been rated as critical. Affected by this issue is the function __getitem__ of the file /docarray/data/torch_dataset.py of the component Web API. The manipulation leads to improperly controlled modification of object prototype attributes ('prototype pollution'). The attack may be launched remotely. The exploit has been disclosed to the public and may be used. The vendor was contacted early about this disclosure but did not respond in any way.","id":"NVD:CVE-2025-5150","published":"2025-05-25T15:15:22","href":"https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2025-5150","type":"nvd","title":"CVE-2025-5150","cvss":{"score":6.3,"severity":"MEDIUM","vector":"CVSS:3.1/AV:N/AC:L/PR:L/UI:N/S:U/C:L/I:L/A:L","version":"3.1"},"vhref":"https://vulners.com/nvd/NVD:CVE-2025-5150"},"highlight":{"description":["A vulnerability was found in docarray up <span class=\"vulners-highlight\">to</span> 0.40.1. It has been rated as critical.","The manipulation leads <span class=\"vulners-highlight\">to</span> improperly controlled modification of object prototype attributes ('prototype pollution'). The attack may be launched remotely.","The exploit has been disclosed <span class=\"vulners-highlight\">to</span> the public <span class=\"vulners-highlight\">and</span> may be used. The vendor was contacted early about this disclosure but did not respond in any way."],"id":["NVD:CVE-<span class=\"vulners-highlight\">2025</span>-5150"],"href":["vulnId=CVE-<span class=\"vulners-highlight\">2025</span>-5150"],"title":["CVE-<span class=\"vulners-highlight\">2025</span>-5150"],"cvelist":["CVE-<span class=\"vulners-highlight\">2025</span>-5150"]},"sort":[1748186122000],"flatDescription":"A vulnerability was found in docarray up to 0.40.1. It has been rated as critical. Affected by this issue is the function getitem of the file /docarray/data/torch_dataset.py of the component Web API. The manipulation leads to improperly controlled modification of object prototype attributes..."},{"_index":"es6_bulletins_bulletin_v5","_id":"CVE-2025-5150","_score":null,"_source":{"lastseen":"2025-05-25T15:29:39","cvelist":["CVE-2025-5150"],"description":"A vulnerability was found in docarray up to 0.40.1. It has been rated as critical. Affected by this issue is the function __getitem__ of the file /docarray/data/torch_dataset.py of the component Web API. The manipulation leads to improperly controlled modification of object prototype attributes ('prototype pollution'). The attack may be launched remotely. The exploit has been disclosed to the public and may be used. The vendor was contacted early about this disclosure but did not respond in any way.","id":"CVE-2025-5150","published":"2025-05-25T15:15:22","href":"https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2025-5150","type":"cve","title":"CVE-2025-5150","cvss":{"score":5.3,"severity":"MEDIUM","vector":"CVSS:4.0/AV:N/AC:L/AT:N/PR:L/UI:N/VC:L/SC:N/VI:L/SI:N/VA:L/SA:N","version":"4.0"},"vhref":"https://vulners.com/cve/CVE-2025-5150"},"highlight":{"description":["A vulnerability was found in docarray up <span class=\"vulners-highlight\">to</span> 0.40.1. It has been rated as critical.","The manipulation leads <span class=\"vulners-highlight\">to</span> improperly controlled modification of object prototype attributes ('prototype pollution'). The attack may be launched remotely.","The exploit has been disclosed <span class=\"vulners-highlight\">to</span> the public <span class=\"vulners-highlight\">and</span> may be used. The vendor was contacted early about this disclosure but did not respond in any way."],"id":["CVE-<span class=\"vulners-highlight\">2025</span>-5150"],"href":["vulnId=CVE-<span class=\"vulners-highlight\">2025</span>-5150"],"title":["CVE-<span class=\"vulners-highlight\">2025</span>-5150"],"cvelist":["CVE-<span class=\"vulners-highlight\">2025</span>-5150"]},"sort":[1748186122000],"flatDescription":"A vulnerability was found in docarray up to 0.40.1. It has been rated as critical. Affected by this issue is the function getitem of the file /docarray/data/torch_dataset.py of the component Web API. The manipulation leads to improperly controlled modification of object prototype attributes..."}],"occurrences":{},"exactMatch":null,"references":null,"total":3951033,"maxSearchSize":100}}}]},"versionId":"d5309f57-5a08-4b3e-bde0-f84ac91f672b","triggerCount":1,"tags":[]}