workflowsTESTING - Read Fortisiem Mails V3.json
{"createdAt":"2025-06-20T00:49:50.517Z","updatedAt":"2025-06-20T14:48:24.000Z","id":"78PHcKoVwXtsbBHB","name":"TESTING - Read Fortisiem Mails V3","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Check Emails').first().json.id }}","mode":"id"},"folderId":{"__rl":true,"value":"AAMkADNiOTg3N2YzLTAzNjUtNDM4ZS1hMTY2LWZiNDEwMGNlNTgyMQAuAAAAAAB9C-Of-SaTSLKDdzbX97nMAQCd1SIr_SufS7FPZgkmPfV1AAAEGNHHAAA=","mode":"list","cachedResultName":"Fortisiem Ready","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADNiOTg3N2YzLTAzNjUtNDM4ZS1hMTY2LWZiNDEwMGNlNTgyMQAuAAAAAAB9C%2FOf%2FSaTSLKDdzbX97nMAQCd1SIr_SufS7FPZgkmPfV1AAAEGNHHAAA%3D"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[3792,540],"id":"9561ef30-bcd0-481f-8796-dd4a3cd5b5f5","name":"Moves Message","webhookId":"cc83414a-d788-479f-9a3b-109d217a0d6c","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}},"disabled":true},{"parameters":{"html":"={{ $json.body.content }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1500,365],"id":"bff76dd6-2382-470b-be04-f4551d0a8788","name":"Markdown"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2700,220],"id":"158884a6-ed4f-4cfd-8846-55d87dfb72bf","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"05a1a813-ca14-4d73-813d-8cd5478f317a","name":"customer","value":"={{ $json.output.customer }}","type":"string"},{"id":"e352a814-6a4c-43d9-ac7f-86a44dd95e04","name":"content","value":"={{ $('Merge').last().json.content}}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2912,365],"id":"d3e44229-a346-4610-b306-d83e4a5a9e1d","name":"Edit Fields"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=fortisiem_incidents","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"customer":"={{ $('Aggregate Information').first().json.data.first().customer }}","main_title":"={{ $('Aggregate Information').first().json.data.first().output.mainTitle }}","incident_title":"={{ $('Aggregate Information').first().json.data.first().output.incidentTitle }}","incident_id":"={{ $('Aggregate Information').first().json.data.first().output.incidentID }}","first_occurrence_time":"={{ $json.firstOccurrenceTime_converted }}","last_occurrence_time":"={{ $json.lastOccurrenceTime_converted }}","incident_count":"={{ $('Aggregate Information').first().json.data.first().output.incidentCount }}","notification_policy_id":"={{ $('Aggregate Information').first().json.data.first().output.notificationPolicyID }}","triggered_event_count":"={{ $('Aggregate Information').first().json.data.first().output.triggeredEventCount }}","severity":"={{ $('Aggregate Information').first().json.data.first().output.severity }}","severity_type":"={{ $('Aggregate Information').first().json.data.first().output.severityType }}","incident_category":"={{ $('Aggregate Information').first().json.data.first().output.incidentCategory }}","rule_name":"={{ $('Aggregate Information').first().json.data.first().output.ruleName }}","rule_description":"={{ $('Aggregate Information').first().json.data.first().output.ruleDescription }}","source_country":"={{ $('Aggregate Information').first().json.data.first().output.sourceCountry }}","host_name":"={{ $('Aggregate Information').first().json.data.first().output.hostName }}","user_account":"={{ $('Aggregate Information').first().json.data.first().output.user }}","target_user":"={{ $('Aggregate Information').first().json.data.first().output.targetUser }}","domain":"={{ $('Aggregate Information').first().json.data.first().output.domain }}","raw_events":"={{ $('Aggregate Information').first().json.data.first().output.rawEvents }}","analysis_output":"={{ $('Aggregate Information').first().json.data.last().output }}","target_user_group":"={{ $('Aggregate Information').first().json.data.first().output.targetUserGroup }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tt_number","displayName":"tt_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"main_title","displayName":"main_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"incident_title","displayName":"incident_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"incident_id","displayName":"incident_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"first_occurrence_time","displayName":"first_occurrence_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"last_occurrence_time","displayName":"last_occurrence_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"severity","displayName":"severity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"severity_type","displayName":"severity_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"incident_count","displayName":"incident_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"incident_category","displayName":"incident_category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"notification_policy_id","displayName":"notification_policy_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rule_name","displayName":"rule_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rule_description","displayName":"rule_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_country","displayName":"source_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"host_name","displayName":"host_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_account","displayName":"user_account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"target_user","displayName":"target_user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"triggered_event_count","displayName":"triggered_event_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"raw_events","displayName":"raw_events","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"analysis_output","displayName":"analysis_output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"target_user_group","displayName":"target_user_group","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3792,140],"id":"0245ba74-da82-4400-9b15-8474cb067058","name":"Insert Event DB","credentials":{"postgres":{"id":"NfJHLM3V8jbiKzoD","name":"Postgres DB SOC"}},"disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.output.rawEvents }}","options":{"systemMessage":"<system_prompt>\nERES UN ANALISTA EXPERTO EN CIBERSEGURIDAD ESPECIALIZADO EN DETECCIÓN Y REMEDIACIÓN DE INCIDENTES USANDO LOGS DE FORTISIEM. TU MISIÓN ES ANALIZAR EVENTOS DE SEGURIDAD RECIBIDOS EN FORMATO DE LOGS, ENTREGAR UN DIAGNÓSTICO DETALLADO Y UNA REMEDIACIÓN CONCRETA, UTILIZANDO EL FORMATO HTML ESPECIFICADO PARA SU INSERCIÓN EN CORREOS.\n\n### INSTRUCCIONES PRINCIPALES\n\n- DEBES ANALIZAR EL LOG RECIBIDO Y EXTRAER LOS SIGUIENTES DATOS CLAVE:\n  - IPs de origen y destino\n  - Puertos implicados\n  - User-Agent si está disponible\n  - Firma/ataque detectado, severidad y reglas disparadas\n  - URLs y hostnames relevantes\n  - Fechas y horas de ocurrencia\n  - Cualquier otra información técnica relevante\n\n- UTILIZA LA HERRAMIENTA “TAVILY” PARA CONSULTAR REPUTACIÓN DE IP, INFORMACIÓN DE LA FIRMA DE ATAQUE, Y REFERENCIAS ACTUALIZADAS DE TÁCTICAS MITRE O INCIDENTES SIMILARES. AGREGA ESTE CONTEXTO EN TU RESPUESTA SIEMPRE QUE SEA POSIBLE.\n\n- ENTREGA UNA RESPUESTA CLARA, CONCRETA Y CON REMEDIACIÓN DIRECTA EN FORMATO HTML, TAL COMO SE EJEMPLIFICA. TU RESPUESTA DEBE INCLUIR:\n  - DESCRIPCIÓN DEL EVENTO OBSERVADO, ACLARANDO COMPORTAMIENTO Y RIESGO\n  - RESULTADO DE CONSULTAS WEB (por ejemplo, reputación de la IP, explicación de la vulnerabilidad, etc.)\n  - ACCIONES RECOMENDADAS, BREVE EXPLICACIÓN Y REFERENCIAS A TÉCNICAS MITRE Y RECURSOS COMO ABUSEIPDB O SIMILARES\n  - MANTÉN EL ESTILO PROFESIONAL Y CLARO; NUNCA INCLUYAS INFORMACIÓN IRRELEVANTE NI DATOS CONFIDENCIALES\n\n### CHAIN OF THOUGHTS\n\nSIGUE ESTOS PASOS ANTES DE RESPONDER:\n\n1. **ENTENDER:** LEE Y COMPRENDE EL LOG Y CONTEXTO DEL INCIDENTE.\n2. **BÁSICOS:** IDENTIFICA LOS CONCEPTOS CLAVE DEL EVENTO (tipo de ataque, IPs, servicios, severidad).\n3. **DESCOMPONER:** DIVIDE EL INCIDENTE EN PARTES (fuente, destino, vector de ataque, tipo de actividad, etc.).\n4. **ANALIZAR:** CONSULTA TAVILY PARA VALIDAR INFORMACIÓN DE LA AMENAZA, REPUTACIÓN Y REFERENCIAS DE AMENAZAS ACTUALES.\n5. **CONSTRUIR:** ARMA UNA EXPLICACIÓN Y REMEDIACIÓN CLARA, BASADA EN HECHOS Y MEJORES PRÁCTICAS.\n6. **EDGE CASES:** CONSIDERA FALSOS POSITIVOS, CONTEXTO OPERACIONAL Y SI HAY MÁS ACTIVIDAD SIMILAR EN LOGS HISTÓRICOS.\n7. **RESPUESTA FINAL:** PRESENTA LA SOLUCIÓN EN FORMATO HTML COMO SE INDICA.\n\n### FORMATO DE SALIDA\n\nENTREGA SIEMPRE EL RESULTADO ÚNICAMENTE ENVUELTO EN UNA ETIQUETA <div> CON FORMATO HTML COMO EL SIGUIENTE EJEMPLO:\n\n<div>\nSe observó una conexión desde 185.234.219.182 al puerto 443 del host 10.0.0.5 utilizando el user-agent <code>curl/7.68.0</code>. Este comportamiento es común en herramientas de scraping o sondas automatizadas.<br>\nDe acuerdo con inteligencia abierta, esta IP ha sido reportada por escaneos masivos y comportamiento malicioso.<br>\nRecomendación: bloquear temporalmente esta IP, registrar actividad similar y revisar logs históricos de acceso por curl.<br>\nTécnica MITRE asociada: <a href=\"https://attack.mitre.org/techniques/T1059/\">https://attack.mitre.org/techniques/T1059/</a><br>\nVer reputación en AbuseIPDB: <a href=\"https://www.abuseipdb.com/check/185.234.219.182\">https://www.abuseipdb.com/check/185.234.219.182</a><br>\n</div>\n\n### QUÉ NO HACER\n\n- NUNCA ENTREGUES LA RESPUESTA FUERA DE UNA ETIQUETA <div>\n- NO ESCRIBAS EXPLICACIONES GENERALES, SOLO DETALLES CONCRETOS DEL EVENTO RECIBIDO\n- NO REVELES DATOS INTERNOS SENSIBLES O CONFIDENCIALES QUE NO ESTÉN EN EL LOG\n- NUNCA OMITAS LA REMEDIACIÓN O REFERENCIAS MITRE/IPDB\n- NO RESPONDAS “NO SÉ”, SIEMPRE CONSULTA TAVILY PARA COMPLETAR EL CONTEXTO\n- NO UTILICES FORMATO DIFERENTE AL HTML INDICADO\n\n### FEW-SHOT EXAMPLES\n\n#### EJEMPLO 1\n\nInput Log:\n\"| [Update] 10.250.2.227:Privilege Escalation Exploits (Starco) ... srcip=206.81.24.74 ... attack=\\\"Spring.Boot.Actuator.Unauthorized.Access\\\" ... user-agent=\\\"Go-http-client/1.1\\\" ...\"\n\nOutput:\n<div>\nSe detectó un intento de explotación de privilegios (Privilege Escalation) desde la IP 206.81.24.74 (Alemania) hacia 10.250.2.227 usando el ataque <code>Spring.Boot.Actuator.Unauthorized.Access</code> mediante el user-agent <code>Go-http-client/1.1</code> sobre HTTP.<br>\nConsultando Tavily, la IP ha mostrado actividad sospechosa y está asociada a campañas automatizadas de escaneo.<br>\nRecomendación: bloquear la IP 206.81.24.74, revisar accesos al endpoint <code>/actuator/env</code> y aplicar controles de acceso en aplicaciones Spring Boot expuestas.<br>\nTécnica MITRE asociada: <a href=\"https://attack.mitre.org/techniques/T1068/\">https://attack.mitre.org/techniques/T1068/</a><br>\nVer reputación en AbuseIPDB: <a href=\"https://www.abuseipdb.com/check/206.81.24.74\">https://www.abuseipdb.com/check/206.81.24.74</a><br>\n</div>\n\n#### EJEMPLO 2\n\nInput Log:\n\"| [Update] 192.168.1.10:Brute Force Attempt ... srcip=8.8.8.8 ... attack=\\\"SSH.Brute.Force\\\" ...\"\n\nOutput:\n<div>\nSe identificó un intento de fuerza bruta SSH desde 8.8.8.8 hacia el host 192.168.1.10. Este patrón es típico en campañas automatizadas para obtención de credenciales.<br>\nDe acuerdo a Tavily y fuentes abiertas, la IP tiene reputación negativa.<br>\nRecomendación: bloquear la IP, activar alertas por intentos SSH, forzar autenticación multifactor.<br>\nTécnica MITRE asociada: <a href=\"https://attack.mitre.org/techniques/T1110/\">https://attack.mitre.org/techniques/T1110/</a><br>\nVer reputación en AbuseIPDB: <a href=\"https://www.abuseipdb.com/check/8.8.8.8\">https://www.abuseipdb.com/check/8.8.8.8</a><br>\n</div>\n\n</system_prompt>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2100,400],"id":"9d73a138-9e89-4bbb-9a5f-014b19f72074","name":"AI Analityc Log SIEM","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1780,580],"id":"016b339a-ac46-442d-aefe-ded115ef5b8a","name":"AI Extract Fields","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3132,365],"id":"b819360e-190d-4b36-a8be-7109ec9689dc","name":"Aggregate Information"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Alerta de Ciberseguridad</title>\n  <style>\n    /* Estilos generales - compatibles con clientes de correo */\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      margin: 0;\n      padding: 0;\n      background-color: #f8f9fa;\n      color: #333;\n      line-height: 1.6;\n    }\n\n    .container {\n      max-width: 650px;\n      margin: 0 auto;\n      padding: 20px;\n      background-color: #ffffff;\n      border: 1px solid #e0e0e0;\n      border-radius: 8px;\n      box-shadow: 0 2px 5px rgba(0,0,0,0.05);\n    }\n\n    .header-img {\n      width: 100%;\n      height: auto;\n      display: block;\n      margin-bottom: 15px;\n      border-radius: 6px 6px 0 0;\n    }\n\n    .header {\n      background: #2980b9;\n      color: white;\n      padding: 15px;\n      text-align: center;\n      border-radius: 6px;\n      margin-bottom: 20px;\n      box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n    }\n\n    .alert-icon {\n      font-size: 22px;\n      margin-right: 10px;\n      vertical-align: middle;\n    }\n\n    h1 {\n      margin: 0;\n      padding: 0;\n      font-size: 20px;\n      color: white;\n      letter-spacing: 0.5px;\n    }\n\n    h2 {\n      color: #2874a6;\n      font-size: 18px;\n      margin-top: 0;\n      border-bottom: 2px solid #2874a6;\n      padding-bottom: 8px;\n      letter-spacing: 0.3px;\n    }\n\n    .incident-summary {\n      background-color: #f1f8fe;\n      padding: 15px;\n      border-left: 5px solid #3498db;\n      margin-bottom: 20px;\n      border-radius: 0 6px 6px 0;\n    }\n\n    .severity-low {\n      display: inline-block;\n      background-color: #FEEA00;\n      color: black;\n      font-weight: bold;\n      padding: 3px 8px;\n      border-radius: 4px;\n      font-size: 14px;\n    }\n\n    .severity-medium {\n      display: inline-block;\n      background-color: #f39c12;\n      color: white;\n      font-weight: bold;\n      padding: 3px 8px;\n      border-radius: 4px;\n      font-size: 14px;\n    }\n\n    .severity-high {\n      display: inline-block;\n      background-color: #e4011a;\n      color: white;\n      font-weight: bold;\n      padding: 3px 8px;\n      border-radius: 4px;\n      font-size: 14px;\n    }\n\n    .highlight {\n      color: #2874a6;\n      font-weight: bold;\n    }\n\n    .priority-item {\n      border-left: 3px solid #e74c3c;\n      padding-left: 10px;\n      font-weight: 600;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-bottom: 20px;\n      border-radius: 6px;\n      overflow: hidden;\n      box-shadow: 0 2px 3px rgba(0,0,0,0.05);\n    }\n\n    table, th, td {\n      border: 1px solid #e0e0e0;\n    }\n\n    th {\n      background-color: #eaf2f8;\n      text-align: left;\n      padding: 12px;\n      width: 40%;\n      color: #2874a6;\n      font-weight: 600;\n    }\n\n    td {\n      padding: 12px;\n      word-break: break-word;\n      background-color: #ffffff;\n    }\n\n    tr:hover td {\n      background-color: #f9f9f9;\n    }\n\n    .section {\n      margin-bottom: 25px;\n    }\n\n    .remediation {\n      background-color: #e8f4fc;\n      border-left: 5px solid #3498db;\n      padding: 15px;\n      margin-bottom: 20px;\n      border-radius: 0 6px 6px 0;\n    }\n\n    .remediation h2 {\n      color: #2874a6;\n      border-bottom-color: #3498db;\n    }\n\n    .remediation-content {\n      font-weight: 500;\n    }\n\n    .footer {\n      font-size: 12px;\n      color: #777;\n      text-align: center;\n      margin-top: 20px;\n      padding-top: 15px;\n      border-top: 1px solid #eee;\n    }\n\n    .footer-img {\n      width: 100%;\n      max-width: 650px;\n      height: auto;\n      display: block;\n      margin: 10px auto;\n      border-radius: 0 0 6px 6px;\n    }\n\n    .signature {\n      font-size: 6px;\n      font-family: sans-serif;\n      text-align: right;\n      margin-right: 4px;\n      color: #999;\n      margin-bottom: 5px;\n    }\n\n    .signature span {\n      font-style: italic;\n      color: #9c27b0;\n      font-weight: bold;\n      font-family: serif;\n      font-size: 9px;\n    }\n\n    /* Estilos responsivos */\n    @media screen and (max-width: 600px) {\n      .container {\n        width: 100%;\n        padding: 10px;\n      }\n\n      th, td {\n        display: block;\n        width: auto;\n      }\n\n      th {\n        border-bottom: none;\n      }\n\n      td {\n        border-top: none;\n      }\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"container\">\n    <img class=\"header-img\"\n      src=\"https://github.com/ifxnetworks/Dise-o/blob/main/Header_Comunicado_Cyberseguridad_IFX_CL_(2.0).png?raw=true\"\n      alt=\"Encabezado de Ciberseguridad\">\n    <div class=\"signature\">Generated by <span>aifx</span></div>\n    <div class=\"header\">\n      <span class=\"alert-icon\">⚠️</span>\n      <h1 id=\"mainTitle\">{{ $('Check Emails').first().json.subject }}</h1>\n    </div>\n\n    <div class=\"incident-summary\">\n      <h2 id=\"incidentTitle\">{{ $json.data[0].output.incidentTitle }}</h2>\n      <p><strong>Cliente:</strong> <span style=\"text-transform: uppercase\" id=\"customer\">{{ $json.data[0].output.customer }}</span></p>\n      <p><strong>ID del Incidente:</strong> <span id=\"incidentID\">{{ $json.data[0].output.incidentID }}</span></p>\n      <p><strong>Severidad:</strong> <span id=\"severity\" class=\"{{ $json.data[0].output.severityType }}\">{{ $json.data[0].output.severity }}</span></p>\n    </div>\n    <div class=\"section\">\n      <h2>Detalles del Incidente</h2>\n      <table>\n        <tr>\n          <th>Primera Ocurrencia</th>\n          <td id=\"firstOccurrenceTime\">{{ $json.data[0].output.firstOccurrenceTime }}</td>\n        </tr>\n        <tr>\n          <th>Última Ocurrencia</th>\n          <td id=\"lastOccurrenceTime\">{{ $json.data[0].output.lastOccurrenceTime }}</td>\n        </tr>\n        <tr>\n          <th>Categoría</th>\n          <td id=\"incidentCategory\">{{ $json.data[0].output.incidentCategory }}</td>\n        </tr>\n        <tr>\n          <th>Conteo de Incidentes</th>\n          <td id=\"incidentCount\">{{ $json.data[0].output.incidentCount }}</td>\n        </tr>\n        <tr>\n          <th>ID de Política de Notificación</th>\n          <td id=\"notificationPolicyID\">{{ $json.data[0].output.notificationPolicyID }}</td>\n        </tr>\n      </table>\n    </div>\n\n    <div class=\"section\">\n      <h2>Información de la Regla</h2>\n      <table>\n        <tr>\n          <th>Nombre de la Regla</th>\n          <td id=\"ruleName\" class=\"priority-item\">{{ $json.data[0].output.ruleName }}</td>\n        </tr>\n        <tr>\n          <th>Descripción de la Regla</th>\n          <td id=\"ruleDescription\">{{ $json.data[0].output.ruleDescription }}</td>\n        </tr>\n      </table>\n    </div>\n\n    <div class=\"section\">\n      <h2>Detalles del Sistema</h2>\n      <table>\n        <tr>\n          <th>Nombre del Host</th>\n          <td id=\"hostName\">{{ $json.data[0].output.hostName }}</td>\n        </tr>\n        <tr>\n          <th>Usuario</th>\n          <td id=\"user\">{{ $json.data[0].output.user }}</td>\n        </tr>\n        <tr>\n          <th>Usuario Objetivo</th>\n          <td id=\"targetUser\" class=\"priority-item\">{{ $json.data[0].output.targetUser }}</td>\n        </tr>\n        <tr>\n          <th>Grupo Objetivo</th>\n          <td id=\"targetUser\" class=\"priority-item\">{{ $json.data[0].output.targetUserGroup }}</td>\n        </tr>\n        <tr>\n          <th>Dominio</th>\n          <td id=\"domain\">{{ $json.data[0].output.domain }}</td>\n        </tr>\n      </table>\n    </div>\n\n    <div class=\"remediation\">\n      <h2>Remediación Recomendada</h2>\n      <p id=\"remediation\" class=\"remediation-content priority-item\">{{ $json.data[1].content }}</p>\n    </div>\n\n    <div class=\"footer\">\n      <img class=\"footer-img\" src=\"https://raw.githubusercontent.com/ifxnetworks/Ansible/refs/heads/main/Imagen1nnlnl.jpg\" \n     alt=\"Pie de página\" style=\"width: 100%; height: auto;\">\n      <p>Este es un mensaje automatizado de alerta de seguridad. Por favor, no responda a este correo.</p>\n      <p>Para obtener soporte contacte con <a href=\"mailto:soc-cl@ifxcorp.com\" style=\"color: #3498db;\">soc-cl@ifxcorp.com</a></p>\n    </div>\n  </div>\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3352,365],"id":"80d10dbe-ecb4-41a8-ac74-cfc5cda11e2c","name":"HTML Template"},{"parameters":{"toRecipients":"soc-cl@ifxcorp.com","subject":"=Analisis de Log: {{ $('Check Emails').first().json.subject }}","bodyContent":"={{ $json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[3572,540],"id":"247dc620-036b-49d5-b9ac-79e316fa6fa6","name":"Send Analysis","webhookId":"046797e1-b27b-4aba-b990-a37d0010e42a","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}},"disabled":true},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=Analisis de Log: {{ $('Check Emails').item.json.subject }}","bodyContent":"={{ $json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[3572,340],"id":"8f212592-16d8-4c0e-8375-9609b5bad977","name":"Mail Test","webhookId":"466a7db0-a359-4773-bf61-83fd1847ec80","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}},"disabled":true},{"parameters":{"jsCode":"// Función para convertir fechas españolas a timestamp PostgreSQL\nconst items = $input.all();\n\n// Función para convertir fecha española a timestamp\nfunction convertSpanishDateToTimestamp(dateStr) {\n  if (!dateStr || dateStr === 'N/A') return null;\n  \n  // Mapeo de meses en español\n  const monthMap = {\n    'ene': 'Jan', 'feb': 'Feb', 'mar': 'Mar', 'abr': 'Apr',\n    'may': 'May', 'jun': 'Jun', 'jul': 'Jul', 'ago': 'Aug',\n    'sep': 'Sep', 'oct': 'Oct', 'nov': 'Nov', 'dic': 'Dec'\n  };\n  \n  // Reemplazar mes español por inglés\n  let englishDate = dateStr;\n  for (const [spanish, english] of Object.entries(monthMap)) {\n    englishDate = englishDate.replace(new RegExp(spanish, 'gi'), english);\n  }\n  \n  try {\n    // Convertir a formato timestamp PostgreSQL\n    const date = new Date(englishDate);\n    return date.toISOString().replace('T', ' ').substring(0, 19);\n  } catch (error) {\n    console.log(`Error converting date: ${dateStr}`, error);\n    return null;\n  }\n}\n\n// Procesar cada item\nconst processedItems = items.map(item => {\n  const data = item.json;\n  \n  // Obtener datos del nodo Aggregate Information\n  const aggregateData = $('Aggregate Information').first().json;\n  \n  if (aggregateData && aggregateData.data && aggregateData.data.length > 0) {\n    const firstOutput = aggregateData.data[0].output;\n    \n    return {\n      json: {\n        ...data,\n        firstOccurrenceTime: firstOutput.firstOccurrenceTime,\n        lastOccurrenceTime: firstOutput.lastOccurrenceTime,\n        firstOccurrenceTime_converted: convertSpanishDateToTimestamp(firstOutput.firstOccurrenceTime),\n        lastOccurrenceTime_converted: convertSpanishDateToTimestamp(firstOutput.lastOccurrenceTime)\n      }\n    };\n  }\n  \n  return item;\n});\n\nreturn processedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3572,140],"id":"543123dc-87a5-43f6-aae2-a5431a1de5d7","name":"Code"},{"parameters":{"jsCode":"const inputData = $input.all();\nconst outputData = [];\n\ninputData.forEach(item => {\n  let inputText = item.json.output || item.json.text || item.json.content || item.json.message || JSON.stringify(item.json);\n  \n  const firstDivIndex = inputText.indexOf('<div>');\n  const lastDivIndex = inputText.lastIndexOf('</div>');\n  \n  let cleanedContent = '';\n  \n  // Verificar si hay JSON después del último </div>\n  const hasJsonAfterDiv = lastDivIndex !== -1 && \n    inputText.substring(lastDivIndex + 6).trim().includes('{') && \n    inputText.substring(lastDivIndex + 6).trim().includes('}');\n  \n  if (firstDivIndex !== -1 && lastDivIndex !== -1 && firstDivIndex < lastDivIndex && hasJsonAfterDiv) {\n    // Solo extraer si hay div válido Y JSON después\n    cleanedContent = inputText.substring(firstDivIndex, lastDivIndex + 6);\n    cleanedContent = cleanedContent.replace(/\\\\n/g, '').replace(/\\n/g, '').replace(/\\\\\"/g, '\"').trim();\n  } else {\n    // Pasar el texto original si no hay nada que limpiar\n    cleanedContent = inputText;\n  }\n  \n  outputData.push({\n    json: {\n      content: cleanedContent\n    }\n  });\n});\n\nreturn outputData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2472,390],"id":"71b2c4ea-e540-4e2f-b61f-81ea818a3fe0","name":"Code1"},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{"max_results":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Max_Results', ``, 'number') }}"}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2320,620],"id":"47937fac-5560-4222-891e-d214625eaea5","name":"Tavily","alwaysOutputData":true,"credentials":{"tavilyApi":{"id":"1U3xToMu9EP51xLu","name":"Tavily account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[840,460],"id":"00cc0332-4189-40cd-be78-beea3bf34d22","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b747165-6bbb-4f35-8cb7-7a381ab41356","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,465],"id":"37278524-dc5c-4560-9836-804ca3f0e143","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1500,565],"id":"0796dfe6-61bf-4ea7-9544-2e81f59de89b","name":"No Operation, do nothing"},{"parameters":{"resource":"folderMessage","folderId":{"__rl":true,"value":"AAMkADNiOTg3N2YzLTAzNjUtNDM4ZS1hMTY2LWZiNDEwMGNlNTgyMQAuAAAAAAB9C-Of-SaTSLKDdzbX97nMAQCd1SIr_SufS7FPZgkmPfV1AAAIxI7UAAA=","mode":"list","cachedResultName":"Fortisiem Pending","cachedResultUrl":"https://outlook.office365.com/mail/AAMkADNiOTg3N2YzLTAzNjUtNDM4ZS1hMTY2LWZiNDEwMGNlNTgyMQAuAAAAAAB9C%2FOf%2FSaTSLKDdzbX97nMAQCd1SIr_SufS7FPZgkmPfV1AAAIxI7UAAA%3D"},"limit":1,"output":"fields","fields":["body","createdDateTime","subject","conversationId"],"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1060,465],"id":"6723cea6-6db9-4110-a3c9-35c345d0f089","name":"Check Emails","webhookId":"c7ea8ec2-bc87-4e05-bd4e-22aa0a6251d3","alwaysOutputData":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"text":"={{ $json.data }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"customer\": \"TPA\",\n  \"mainTitle\": \"[New] TPADC03:Windows User Account Disabled (TPA)\",\n  \"incidentTitle\": \"Excessive Denied Connections from Philippines\",\n  \"incidentID\": \"85555\",\n  \"firstOccurrenceTime\": \"13 may 2025, 11:58:45 AM\",\n  \"lastOccurrenceTime\": \"13 may 2025, 11:08:30 AM\",\n  \"severity\": \"MEDIO (7)\",\n  \"severityType\":\"severity-medium\",\n  \"incidentCount\": \"1\",\n  \"incidentCategory\": \"Cambio/Persistencia\",\n  \"notificationPolicyID\": \"1707853\",\n  \"ruleName\": \"Windows User Account Disabled\",\n  \"ruleDescription\": \"Detecta que una cuenta de usuario de Windows fue deshabilitada en un servidor\",\n  \"sourceCountry\": \"Filipinas\",\n  \"hostName\": \"TPADC03\",\n  \"user\": \"administrator\",\n  \"targetUser\": \"mmendez\",\n  \"targetUserGroup\": \"IIS_IUSRS\",\n  \"domain\": \"TPA\",\n  \"triggeredEventCount\": \"511\",\n  \"rawEvents\": \"N/A\"\n}","options":{"systemPromptTemplate":"ERES UN AGENTE EXTRACTOR DE DATOS AVANZADO, ENTRENADO PARA LEER CORREOS ELECTRÓNICOS Y ORGANIZAR SU CONTENIDO EN UNA ESTRUCTURA DE CLAVES Y VALORES ANIDADOS, TODO EN UNA SOLA LÍNEA. HAS SIDO OPTIMIZADO PARA FUNCIONAR CON LLAMA 3.3 70B Y DEBES RESPONDER DE FORMA FORMATEADA Y LIMPIA, SIN INTRODUCIR SALTOS DE LÍNEA, SANGRÍAS, COMENTARIOS NI MARCADORES.\n\n###INSTRUCCIONES###\n\n- ANALIZA TODO EL CONTENIDO DEL CORREO ELECTRÓNICO DETENIDAMENTE  \n- EXTRAE LA INFORMACIÓN CLAVE QUE CORRESPONDE A CADA CLAVE DE LA ESTRUCTURA QUE SE MUESTRA  \n- ORDENA LA INFORMACIÓN SEGÚN EL ESQUEMA DEFINIDO, RESPETANDO LA JERARQUÍA DE CLAVES Y SUBCLAVES  \n- TODOS LOS VALORES DEBEN ESTAR EN ESPAÑOL LATINOAMERICANO, SALVO LOS TÉRMINOS TÉCNICOS QUE DEBEN CONSERVARSE EN INGLÉS  \n- FORMATEA LAS FECHAS AL ESTILO \"30 abr 2025, 01:16:45 PM\"  \n- EXTRAE EL NOMBRE DEL CLIENTE DESDE EL `Subject`, BUSCANDO **EXCLUSIVAMENTE EL TEXTO QUE APARECE DENTRO DEL PARÉNTESIS FINAL**. POR EJEMPLO, SI EL SUBJECT ES: `[New] TPADC03:Windows User Account Disabled (TPA)`, EL NOMBRE DEL CLIENTE ES `\"TPA\"`  \n- LA SALIDA DEBE SER ENTREGADA **COMPLETAMENTE EN UNA SOLA LÍNEA**, SIN SALTOS DE LÍNEA, NI RETORNOS, NI ESPACIOS INNECESARIOS ENTRE CLAVES  \n- SI ALGÚN DATO NO ESTÁ PRESENTE EN EL CORREO, DEBES ESCRIBIR EL VALOR `\"N/A\"` PARA ESA CLAVE  \n\n###REGLAS PARA CAMPOS `user`, `targetUser`, `domain`, `hostname`###\n\n\n-  EN EL JSON DE SALIDA `\"hostname\"` DEBE CONTENER EL VALOR DEL CAMPO \"Hostname\" O QUIEN GENERA LA ACCIÓN EN EL INCIDENTE \n-  EN EL JSON DE SALIDA `\"user\"` DEBE CONTENER EL VALOR DEL CAMPO \"User\" O QUIEN GENERA LA ACCIÓN EN EL INCIDENTE \n-  EN EL JSON DE SALIDA `\"targetUser\"` DEBE CONTENER EL VALOR DEL CAMPO \"Target User\", QUIEN RECIBE O SUFRE LA ACCIÓN  \n-  EN EL JSON DE SALIDA `\"domain\"` DEBE TOMARSE EXCLUSIVAMENTE DEL CAMPO \"Domain\" SI EXISTE; DE LO CONTRARIO, COLOCAR `\"N/A\"`  \n- SI EL CORREO INCLUYE `\"User: administrator\"` Y `\"Target User: mmendez\"` → `\"user\":\"administrator\"` Y `\"targetUser\":\"mmendez\"`  \n- NO INTERCAMBIAR NI REEMPLAZAR LOS VALORES ENTRE ESTOS CAMPOS\n- SI EN EL CORREO NO ENCUENTRAS LA INFORMACION O EL CAMPO DEVUELVE \"N/A\"\n\n###REGLAS PARA SEVERITY Y SEVERITYTYPE###\n\n- `\"severity\"` DEBE CONTENER **EL VALOR COMPLETO EXACTO DEL CAMPO \"Event Severity\"**, INCLUYENDO NÚMEROS ENTRE PARÉNTESIS (ej. `\"MEDIUM (7)\"`)\n- `\"severityType\"` DEBE SER UNA VERSIÓN **NORMALIZADA Y DERIVADA EXCLUSIVAMENTE DEL TEXTO PRINCIPAL DE \"Event Severity\"**, IGNORANDO CUALQUIER PARÉNTESIS U OTROS DETALLES.  \n  - SI CONTIENE `\"LOW\"` → `\"severity-low\"`  \n  - SI CONTIENE `\"MEDIUM\"` → `\"severity-medium\"`  \n  - SI CONTIENE `\"HIGH\"` → `\"severity-high\"`  \n  - CUALQUIER OTRO VALOR → `\"severity-unknown\"`  \n- ESTÁ **TERMINANTEMENTE PROHIBIDO** COPIAR DIRECTAMENTE EL VALOR DE `\"severity\"` EN `\"severityType\"`\n\n###CADENA DE RAZONAMIENTO###\n\n1. ENTENDER: INTERPRETA EL CORREO COMPLETO PARA COMPRENDER EL CONTEXTO DEL INCIDENTE  \n2. DETECTAR: UBICA TODAS LAS PIEZAS DE INFORMACIÓN NECESARIAS  \n3. ORGANIZAR: ALINEA CADA DATO EXTRAÍDO CON SU CLAVE CORRESPONDIENTE EN LA ESTRUCTURA  \n4. AJUSTAR: TRADUCE VALORES, NORMALIZA FORMATO DE FECHAS Y NOMBRES  \n5. EXTRAER CLIENTE: DETECTA EL `Subject`, BUSCA LOS PARÉNTESIS AL FINAL Y EXTRAE **EXACTAMENTE EL TEXTO ENTRE PARÉNTESIS** COMO VALOR DE `\"customer\"`  \n6. COMPLETAR VACÍOS: SI FALTA ALGÚN DATO, COLOCA `\"N/A\"` COMO VALOR  \n7. DERIVAR `severityType`: ANALIZA EXCLUSIVAMENTE LA SECCIÓN TEXTUAL ANTES DEL PARÉNTESIS EN `\"Event Severity\"`, Y GENERA `\"severityType\"` COMO `\"severity-<nivel>\"`  \n8. CONSTRUIR: GENERA UNA ESTRUCTURA ANIDADA CON TODA LA INFORMACIÓN EN UNA SOLA LÍNEA  \n9. VALIDAR: VERIFICA QUE NO HAYA SALTOS DE LÍNEA, COMENTARIOS NI CAMPOS VACÍOS  \n\n###PROHIBIDO###\n\n- NO USAR SALTOS DE LÍNEA (\\n), NI ESPACIOS INNECESARIOS  \n- NO USAR COMILLAS INVERTIDAS, NI ETIQUETAS DE CÓDIGO  \n- NO INCLUIR COMENTARIOS, EXPLICACIONES, NI TEXTO FUERA DE LA ESTRUCTURA  \n- NO INVENTAR CAMPOS, NI DUPLICAR CLAVES  \n- NO OMITIR CAMPOS; SI NO EXISTE UN DATO, USA \"N/A\"  \n- **NO COPIAR TEXTUALMENTE EL VALOR DE \"Event Severity\" EN EL CAMPO \"severityType\"**  \n  - ❌ INCORRECTO: `\"severity\":\"MEDIUM (7)\", \"severityType\":\"MEDIUM (7)\"`  \n  - ❌ INCORRECTO: `\"severity\":\"HIGH (9)\", \"severityType\":\"HIGH (9)\"`  \n  - ✅ CORRECTO: `\"severity\":\"HIGH (9)\", \"severityType\":\"severity-high\"`  \n- **NO ASIGNAR ERRÓNEAMENTE `user`, `targetUser` O `domain` SI EL NOMBRE DEL CAMPO ES EXPLÍCITO**  \n  - ❌ INCORRECTO: `\"targetUser\":\"administrator\", \"user\":\"mmendez\"`  \n  - ✅ CORRECTO: `\"user\":\"administrator\", \"targetUser\":\"mmendez\"`\n\n###EJEMPLO DE ENTRADA###\n\nSubject: [New] TPADC03:Windows User Account Disabled (TPA)  \nIncident Title: Excessive Denied Connections from Philippines  \nIncidentID: 85555  \nIncident First Occurrence Time: May 13 2025, 11:58:45 AM  \nIncident Last Occurrence Time: May 13 2025, 11:08:30 AM  \nEvent Severity: MEDIUM (7)  \nIncident Count: 1  \nIncident Category: Change/Persistence  \nNotification Policy ID: 1707853  \nRule Name: Windows User Account Disabled  \nRemediation: Make sure it is an authorized change  \nRule Description: Detects Windows user account disabled on a server  \nSource Country: Philippines  \nHost Name: TPADC03  \nUser: administrator  \nTarget User: mmendez\nTarget User Group:  IIS_IUSRS\nDomain: TPA  \nTriggered Event Count: 511\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[1720,365],"id":"421743c2-f32d-437b-b5c3-f8acc5f68c4e","name":"Extractor Mail Fields Lllama 3.1","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2040,600],"id":"de64d33e-6f86-47b4-baf2-cff7c4e06909","name":"Llama 3.1 8B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}}],"connections":{"Moves Message":{"main":[[]]},"Markdown":{"main":[[{"node":"Extractor Mail Fields Lllama 3.1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate Information","type":"main","index":0}]]},"AI Analityc Log SIEM":{"main":[[{"node":"Code1","type":"main","index":0}]]},"AI Extract Fields":{"ai_languageModel":[[{"node":"Extractor Mail Fields Lllama 3.1","type":"ai_languageModel","index":0}]]},"Aggregate Information":{"main":[[{"node":"HTML Template","type":"main","index":0}]]},"HTML Template":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Mail Test","type":"main","index":0},{"node":"Send Analysis","type":"main","index":0}]]},"Send Analysis":{"main":[[{"node":"Moves Message","type":"main","index":0}]]},"Code":{"main":[[{"node":"Insert Event DB","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Tavily":{"ai_tool":[[{"node":"AI Analityc Log SIEM","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Check Emails","type":"main","index":0}]]},"If":{"main":[[{"node":"Markdown","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Check Emails":{"main":[[{"node":"If","type":"main","index":0}]]},"Mail Test":{"main":[[]]},"Extractor Mail Fields Lllama 3.1":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"AI Analityc Log SIEM","type":"main","index":0}]]},"Llama 3.1 8B":{"ai_languageModel":[[{"node":"AI Analityc Log SIEM","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Txht1wrdLAI370JY","timeSavedPerExecution":120,"executionTimeout":600,"saveDataSuccessExecution":"none","saveManualExecutions":false},"staticData":{"node:Microsoft Outlook Trigger":{"lastTimeChecked":"2025-05-24T11:05:10.059-05:00"},"node:New Email Trigger":{"lastTimeChecked":"2025-06-02T05:03:11.086-05:00"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"200bf269-897b-4c6b-b36d-788ea2af1fb4","triggerCount":1,"tags":[]}