workflowsTesting Facturas IFX Envio.json
{"createdAt":"2025-04-19T16:21:46.003Z","updatedAt":"2025-06-24T17:20:09.000Z","id":"615y08pQdULukv9n","name":"Testing Facturas IFX Envio","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[20,380],"id":"b8506977-b014-48af-9dc5-cce804412a58","name":"Telegram Trigger","webhookId":"2b9fcb26-4048-466b-a6fc-d5f63712f492","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"b7f674dc-b0b2-46ef-a708-f2cd1bc8116e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c299e7f1-81fa-4a03-aa67-91b8ed421b02","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c2cfac87-d08b-431a-b252-5148c7a944f3","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,380],"id":"1f921d29-4906-421c-866b-480c9ebe6188","name":"Switch"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1700,-20],"id":"ddf3e3dd-5811-4219-878f-46ae009d3d32","name":"Switch1"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=PDF {{ $json.message.document.file_name }} is processing...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,140],"id":"bd0a2dff-188a-440c-9a2c-8d1b91fa31b2","name":"Processing Doc","webhookId":"23f19ac3-099d-4380-bcff-d541c8a54aab","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2500,240],"id":"1e7611ef-cf1c-40a1-8f0c-51b1af3585aa","name":"Merge","alwaysOutputData":true},{"parameters":{"resource":"file","fileId":"={{ $('Edit Fields PDF').item.json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1000,140],"id":"c7ddb00c-c031-4fd8-a53f-2b943a2158f9","name":"Get File PDF","webhookId":"40d23b72-c822-4034-8096-53bed7eb262b","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,140],"id":"3f449765-293d-4772-9f01-d0eac2c1cdfb","name":"Parser PDF","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-jD3hDbT2MU9UvJy1FAIJgYJ4kOdQdZOISrWk6hJeZEs4n1Zt"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"premium_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,0],"id":"20066bee-b33a-40be-bcb5-918aadcf31a2","name":"GET Parser PDF"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer llx-jD3hDbT2MU9UvJy1FAIJgYJ4kOdQdZOISrWk6hJeZEs4n1Zt"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,0],"id":"7fb63cfe-2a4f-4c18-999c-94992e8504c9","name":"Success PDF"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2160,160],"id":"276b9ea1-f31c-4b71-a4ad-d745b578e97e","name":"GPT 4o mini","credentials":{"openAiApi":{"id":"w75RuNSCJjKqeuAT","name":"OpenAi JPG"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"❌❌  Error Processing PDF ❌❌","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1960,-160],"id":"c40ce19a-81c9-4917-b94d-b5b82aab4fee","name":"Parser PDF Error","webhookId":"effb831b-45ba-4b9d-a19c-9b168089e373","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=Compra con Tarjeta Corporativa","bodyContent":"={{ $json.text }}\n\nCordialmente \n\nJaime Perez Gonzalez\nVP AI\n\nGenerated by afix\nV0.1\n___","additionalFields":{"attachments":{"attachments":[{"binaryPropertyName":"data"}]},"bodyContentType":"Text"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2860,120],"id":"c7603828-5dc5-4eae-b2dc-00257c45b449","name":"Sent Email PDF","webhookId":"72986ada-e4d1-4f3c-9dab-9a5c47d92e70","alwaysOutputData":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook Mail JPG"}}},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","messages":{"messageValues":[{"message":"ERES EL MAYOR EXPERTO MUNDIAL EN EXTRACCIÓN Y PROCESAMIENTO DE DATOS DE DOCUMENTOS, ESPECIALIZADO EN FACTURAS MULTIMONEDA ESCRITAS EN FORMATO MARKDOWN. TU MISIÓN ES LEER EL CONTENIDO MARCADO EN MARKDOWN, EXTRAER LOS DATOS CLAVE DE LA FACTURA Y PRESENTARLOS EN FORMATO DE TEXTO ENRIQUECIDO. TU RESPUESTA DEBE SER 100% VISUAL (NO CÓDIGO, NO JSON), ACOMPAÑADA DE ICONOS Y FORMATO CLARO.\n\n⚠️ EL FORMATO DE FECHA DEBE SER SIEMPRE: **`DD/MM/AAAA`**\n\n---\n\n###🎯 OBJETIVO\n\nEXTRAER LOS SIGUIENTES CAMPOS DESDE LA FACTURA EN MARKDOWN:\n- 🏪 **NOMBRE DEL COMERCIO O ESTABLECIMIENTO**\n- 📄 **NÚMERO DE FACTURA**\n- 📅 **FECHA DE EMISIÓN**\n- 💰 **TOTAL A PAGAR (CON IMPUESTOS)**\n- 🧾 **IMPUESTOS (IVA o EQUIVALENTE)**\n\n---\n\n###🧠 CADENA DE PENSAMIENTO (CHAIN OF THOUGHT)###\n\n1. 📘 **LEER Y COMPRENDER LA ESTRUCTURA MARKDOWN**\n   - RECONOCE ENCABEZADOS, TABLAS, VIÑETAS Y FORMATO TIPOGRÁFICO\n   - IDENTIFICA DÓNDE PODRÍAN ESTAR LOS CAMPOS CLAVE:\n     - ENCABEZADOS SUPERIORES O LÍNEAS EN NEGRITA para el **nombre del comercio**\n     - TABLAS o TEXTOS con campos como “Número de Factura”, “Total”, “IVA”, “Fecha”, etc.\n\n2. 🧩 **EXTRAER LOS CAMPOS RELEVANTES**\n   - **NOMBRE DEL COMERCIO**: BUSCA EN LA PARTE SUPERIOR DEL DOCUMENTO, ENCABEZADOS O TEXTO RESALTADO\n   - **NÚMERO DE FACTURA**: DETECTA LÍNEAS COMO `Factura Nº`, `N.º`, `Invoice No.`, ETC.\n   - **FECHA DE EMISIÓN**: DETECTA Y FORMATEA COMO `DD/MM/AAAA`\n   - **TOTAL**: EXTRAER EL MONTO FINAL CON MONEDA DETECTADA (€, $, MXN, COP, ETC.)\n   - **IMPUESTOS**: UBICA LÍNEAS CON “IVA”, “TAX”, “VAT”, ETC.\n\n3. 🎯 **NORMALIZAR Y VALIDAR**\n   - FORMATO DE FECHA OBLIGATORIO: `DD/MM/AAAA`\n   - DETECTA MONEDA SEGÚN SÍMBOLOS O TEXTO (USD, EUR, COP, CLP...)\n   - FORMATEA VALORES CON SEPARADORES DE MILES Y DOS DECIMALES:\n     - Latinoamerica: `$ 1.234,56`\n     - USA: `$1,234.56`\n     - Europa: `$1,234.56€` o `$€1,234.56`\n\n4. 🎨 **DEVOLVER RESULTADO EN FORMATO VISUAL ENRIQUECIDO (NO JSON)**\n   - 🏪 Comercio: [VALOR o NULL]\n   - 📄 Factura Nº: [VALOR o NULL]\n   - 📅 Fecha de Emisión: [DD/MM/AAAA o NULL]\n   - 💰 Total: [VALOR con moneda y formato o NULL]\n   - 🧾 Impuestos: [VALOR con moneda y formato o NULL]\n\n\n---\n\n###🚫 QUÉ NO HACER (WHAT NOT TO DO)###\n\n- ❌ **NUNCA** RESPONDAS EN FORMATO JSON  \n- ❌ **NUNCA** OMITAS CAMPOS — USA `NULL` SI NO SE ENCUENTRAN  \n- ❌ **NUNCA** RESPONDAS CON COMENTARIOS EXPLICATIVOS  \n- ❌ **NUNCA** FORMATEES FECHAS COMO `YYYY-MM-DD`  \n- ❌ **NUNCA** CONFUNDAS EL TOTAL CON EL SUBTOTAL  \n- ❌ **NUNCA** DETECTES MONEDA DE FORMA ERRÓNEA — ASEGÚRATE QUE COINCIDA CON EL SÍMBOLO O TEXTO PRESENTE  \n- ❌ **NUNCA** AÑADAS CAMPOS EXTRA  \n- ❌ **NUNCA** ASUMAS QUE EL COMERCIO ESTÁ EN LA DIRECCIÓN — DETÉCTALO POR EL NOMBRE, LOGO, ENCABEZADO O FRASE COMERCIAL\n\n---\n\n###📌 EJEMPLOS DE SALIDA CORRECTA:\n\n🏪 Comercio: TIENDA LOS PINOS S.A. DE C.V.\n📄 Factura Nº: F-001245\n📅 Fecha de Emisión: 04/01/2024\n💰 Total: $12,459.99\n🧾 Impuestos: $1,987.32\n\n🏪 Comercio: NULL\n📄 Factura Nº: INV-2023-0456\n📅 Fecha de Emisión: 15/11/2023\n💰 Total: $5.000,00\n🧾 Impuestos: NULL"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2180,0],"id":"e092aa63-ee96-4e54-b79f-1819db62ed16","name":"Invoice Analytic PDF"},{"parameters":{"assignments":{"assignments":[{"id":"aedf5444-42e3-4d0c-96c9-1b07a927b5e8","name":"message.chat.id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"d6a505f6-3e4d-409e-ac35-ce2cbdc8548e","name":"message.chat","value":"={{ $json.message.chat }}","type":"object"},{"id":"b0c26df0-d4e2-44af-ae88-9ffeff381d1c","name":"message.document.thumb.file_id","value":"={{ $('Telegram Trigger').item.json.message.document.file_unique_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,140],"id":"9830a291-8679-4a13-af12-350a2f7eedb9","name":"Edit Fields PDF","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"aedf5444-42e3-4d0c-96c9-1b07a927b5e8","name":"message.chat.id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"d6a505f6-3e4d-409e-ac35-ce2cbdc8548e","name":"message.chat","value":"={{ $json.message.chat }}","type":"object"},{"id":"b0c26df0-d4e2-44af-ae88-9ffeff381d1c","name":"message.document.thumb.file_id","value":"={{ $('Telegram Trigger').item.json.message.photo[3].file_unique_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,660],"id":"24730d8a-6d77-4953-8cdb-d63d13788d31","name":"Edit Fields Image","alwaysOutputData":true},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Image is processing... 📷 ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,660],"id":"a4ca734f-0501-41b5-8ba7-60c2662e9e9f","name":"Processing Image","webhookId":"93662dfc-2097-4265-88bf-3f22dcf82bbc","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"resource":"file","fileId":"={{ $('Edit Fields Image').item.json.message.photo[3].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1000,660],"id":"a8d3b2ef-015d-4507-9a9c-e83514d2e05b","name":"Get File Image","webhookId":"69753bf7-34db-4107-bd12-ca6de56ee11c","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"premium_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,660],"id":"5ab2329f-7485-403b-bdd1-f61da377b73b","name":"Parser Image","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-jD3hDbT2MU9UvJy1FAIJgYJ4kOdQdZOISrWk6hJeZEs4n1Zt"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"premium_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,540],"id":"f7dcf6ae-ca81-43fa-b128-b361bdcaab73","name":"GET Parser Image"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1740,520],"id":"07edc6b1-303f-4076-82ee-7cd1a8e3fbf6","name":"Switch2"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer llx-jD3hDbT2MU9UvJy1FAIJgYJ4kOdQdZOISrWk6hJeZEs4n1Zt"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,540],"id":"cd7344a5-695b-42b4-a34c-e854f74fac5e","name":"Success Image"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"❌❌  Error Processing PDF ❌❌","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1980,380],"id":"5fa42073-cc4c-49a8-8277-805e63df5de9","name":"Parser Image Error","webhookId":"ebb15bef-d6e0-4d61-8dc7-c86ba44e3855","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","messages":{"messageValues":[{"message":"ERES EL MAYOR EXPERTO MUNDIAL EN EXTRACCIÓN Y PROCESAMIENTO DE DATOS DE DOCUMENTOS, ESPECIALIZADO EN FACTURAS MULTIMONEDA ESCRITAS EN FORMATO MARKDOWN. TU MISIÓN ES LEER EL CONTENIDO MARCADO EN MARKDOWN, EXTRAER LOS DATOS CLAVE DE LA FACTURA Y PRESENTARLOS EN FORMATO DE TEXTO ENRIQUECIDO. TU RESPUESTA DEBE SER 100% VISUAL (NO CÓDIGO, NO JSON), ACOMPAÑADA DE ICONOS Y FORMATO CLARO.\n\n⚠️ EL FORMATO DE FECHA DEBE SER SIEMPRE: **`DD/MM/AAAA`**\n\n---\n\n###🎯 OBJETIVO\n\nEXTRAER LOS SIGUIENTES CAMPOS DESDE LA FACTURA EN MARKDOWN:\n- 🏪 **NOMBRE DEL COMERCIO O ESTABLECIMIENTO**\n- 📄 **NÚMERO DE FACTURA**\n- 📅 **FECHA DE EMISIÓN**\n- 💰 **TOTAL A PAGAR (CON IMPUESTOS)**\n- 🧾 **IMPUESTOS (IVA o EQUIVALENTE)**\n\n---\n\n###🧠 CADENA DE PENSAMIENTO (CHAIN OF THOUGHT)###\n\n1. 📘 **LEER Y COMPRENDER LA ESTRUCTURA MARKDOWN**\n   - RECONOCE ENCABEZADOS, TABLAS, VIÑETAS Y FORMATO TIPOGRÁFICO\n   - IDENTIFICA DÓNDE PODRÍAN ESTAR LOS CAMPOS CLAVE:\n     - ENCABEZADOS SUPERIORES O LÍNEAS EN NEGRITA para el **nombre del comercio**\n     - TABLAS o TEXTOS con campos como “Número de Factura”, “Total”, “IVA”, “Fecha”, etc.\n\n2. 🧩 **EXTRAER LOS CAMPOS RELEVANTES**\n   - **NOMBRE DEL COMERCIO**: BUSCA EN LA PARTE SUPERIOR DEL DOCUMENTO, ENCABEZADOS O TEXTO RESALTADO\n   - **NÚMERO DE FACTURA**: DETECTA LÍNEAS COMO `Factura Nº`, `N.º`, `Invoice No.`, ETC.\n   - **FECHA DE EMISIÓN**: DETECTA Y FORMATEA COMO `DD/MM/AAAA`\n   - **TOTAL**: EXTRAER EL MONTO FINAL CON MONEDA DETECTADA (€, $, MXN, COP, ETC.)\n   - **IMPUESTOS**: UBICA LÍNEAS CON “IVA”, “TAX”, “VAT”, ETC.\n\n3. 🎯 **NORMALIZAR Y VALIDAR**\n   - FORMATO DE FECHA OBLIGATORIO: `DD/MM/AAAA`\n   - DETECTA MONEDA SEGÚN SÍMBOLOS O TEXTO (USD, EUR, COP, CLP...)\n   - FORMATEA VALORES CON SEPARADORES DE MILES Y DOS DECIMALES:\n     - Latinoamerica: `$ 1.234,56`\n     - USA: `$1,234.56`\n     - Europa: `$1,234.56€` o `$€1,234.56`\n\n4. 🎨 **DEVOLVER RESULTADO EN FORMATO VISUAL ENRIQUECIDO (NO JSON)**\n   - 🏪 Comercio: [VALOR o NULL]\n   - 📄 Factura Nº: [VALOR o NULL]\n   - 📅 Fecha de Emisión: [DD/MM/AAAA o NULL]\n   - 💰 Total: [VALOR con moneda y formato o NULL]\n   - 🧾 Impuestos: [VALOR con moneda y formato o NULL]\n\n\n---\n\n###🚫 QUÉ NO HACER (WHAT NOT TO DO)###\n\n- ❌ **NUNCA** RESPONDAS EN FORMATO JSON  \n- ❌ **NUNCA** OMITAS CAMPOS — USA `NULL` SI NO SE ENCUENTRAN  \n- ❌ **NUNCA** RESPONDAS CON COMENTARIOS EXPLICATIVOS  \n- ❌ **NUNCA** FORMATEES FECHAS COMO `YYYY-MM-DD`  \n- ❌ **NUNCA** CONFUNDAS EL TOTAL CON EL SUBTOTAL  \n- ❌ **NUNCA** DETECTES MONEDA DE FORMA ERRÓNEA — ASEGÚRATE QUE COINCIDA CON EL SÍMBOLO O TEXTO PRESENTE  \n- ❌ **NUNCA** AÑADAS CAMPOS EXTRA  \n- ❌ **NUNCA** ASUMAS QUE EL COMERCIO ESTÁ EN LA DIRECCIÓN — DETÉCTALO POR EL NOMBRE, LOGO, ENCABEZADO O FRASE COMERCIAL\n\n---\n\n###📌 EJEMPLOS DE SALIDA CORRECTA:\n\n🏪 Comercio: TIENDA LOS PINOS S.A. DE C.V.\n📄 Factura Nº: F-001245\n📅 Fecha de Emisión: 04/01/2024\n💰 Total: $12,459.99\n🧾 Impuestos: $1,987.32\n\n🏪 Comercio: NULL\n📄 Factura Nº: INV-2023-0456\n📅 Fecha de Emisión: 15/11/2023\n💰 Total: $5.000,00\n🧾 Impuestos: NULL"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2180,540],"id":"fcebac8c-6599-4b78-b6cb-ee38a95150a0","name":"Invoice Analytic Image"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2180,700],"id":"614805eb-46da-440a-aa0c-56fdb0c475aa","name":"GPT 4o mini1","credentials":{"openAiApi":{"id":"w75RuNSCJjKqeuAT","name":"OpenAi JPG"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2540,720],"id":"01d07975-dc61-4e7c-b7fa-d12da19bab35","name":"Merge1","alwaysOutputData":true},{"parameters":{"jsCode":"// Este código extrae el archivo PDF y lo prepara para adjuntarlo al correo\nconst item = items[0];\n\n// Extraer información del LLM\nconst text = item.json.text;\n\n// Verificar si tenemos datos binarios del PDF\nif (item.binary && item.binary.data) {\n  // Los datos binarios ya están en la estructura correcta\n  return items;\n} else {\n  // Buscar los datos binarios de Get File\n  const fileData = $('Get File PDF').item.binary.data;\n  \n  if (fileData) {\n    // Crear una nueva estructura con los datos binarios\n    item.binary = {\n      data: fileData\n    };\n    return [item];\n  } else {\n    // Si no encontramos los datos, enviar un mensaje de error\n    throw new Error('No se encontraron datos binarios del archivo PDF');\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2680,120],"id":"0461589a-e99f-42ff-aa12-4c54c992734e","name":"Code PDF"},{"parameters":{"jsCode":"// Este código extrae el archivo PDF y lo prepara para adjuntarlo al correo\nconst item = items[0];\n\n// Extraer información del LLM\nconst text = item.json.text;\n\n// Verificar si tenemos datos binarios del PDF\nif (item.binary && item.binary.data) {\n  // Los datos binarios ya están en la estructura correcta\n  return items;\n} else {\n  // Buscar los datos binarios de Get File\n  const fileData = $('Get File Image').item.binary.data;\n  \n  if (fileData) {\n    // Crear una nueva estructura con los datos binarios\n    item.binary = {\n      data: fileData\n    };\n    return [item];\n  } else {\n    // Si no encontramos los datos, enviar un mensaje de error\n    throw new Error('No se encontraron datos binarios del archivo PDF');\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,720],"id":"94026976-7fe4-44da-8264-3468c25d5fef","name":"Code Image"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=Compra con Tarjeta Corporativa","bodyContent":"={{ $json.text }}\n\nCordialmente \n\nJaime Perez Gonzalez\nVP AI\n\nGenerated by afix\nV0.1\n___","additionalFields":{"attachments":{"attachments":[{"binaryPropertyName":"data"}]},"bodyContentType":"Text"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2900,720],"id":"748e8c71-4522-4646-ab5b-4ffe47dbbd05","name":"Sent Email Image","webhookId":"c58925b9-e355-4345-b68b-2b84226c8b57","alwaysOutputData":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook Mail JPG"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"📨 Invoice Sent ... 💰","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3080,720],"id":"4860ca80-5c8f-4de4-8c2b-d483c333d5b8","name":"Invoice Image Sent","webhookId":"0916466b-6c10-4df1-a035-0d51eb657670","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=📨 Invoice {{ $('Telegram Trigger').item.json.message.document.file_name }} Sent... 💰 ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3040,120],"id":"c1946dfc-1d30-4908-a789-405fbe345405","name":"Invoice PDF Sent","webhookId":"ffa11cf0-9a90-4571-995d-6f53af35794a","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1980,700],"id":"b813a6ae-ca98-479a-96de-ed6a7029d5a1","name":"Wait Procces Image","webhookId":"7998fb65-907a-41f7-9596-d894861f84bd"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1920,140],"id":"79117bd5-ecfc-4d27-aeb8-fb4f53f07877","name":"Wait Procces PDF","webhookId":"f87508bf-6d05-4bd8-8d79-ebc5d503d0fd"},{"parameters":{"errorMessage":"Error Processing PDF"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2180,-160],"id":"f81be1f3-5823-458b-9ebf-a788639fdb0c","name":"Error PDF"},{"parameters":{"errorMessage":"Error Processing PDF"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2180,380],"id":"ed469607-de0a-46a8-b2b9-82d31a506c78","name":"Error Image"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":" Please Upload PDF or Image... ⚠️","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,380],"id":"fe10cf6d-0c01-4c40-b6b8-fda23de98131","name":"Only Text","webhookId":"31d8fa41-8d25-422e-9c85-90c5dea267b0","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"errorMessage":"Upload PDF or Image"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[700,380],"id":"a0a40180-f4bd-421e-adc5-8b14e9abf587","name":"Error Upload"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields PDF","type":"main","index":0}],[{"node":"Only Text","type":"main","index":0}],[{"node":"Edit Fields Image","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Parser PDF Error","type":"main","index":0}],[{"node":"Parser PDF Error","type":"main","index":0}],[{"node":"Success PDF","type":"main","index":0}],[{"node":"Wait Procces PDF","type":"main","index":0}]]},"Processing Doc":{"main":[[{"node":"Get File PDF","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code PDF","type":"main","index":0}]]},"Get File PDF":{"main":[[{"node":"Parser PDF","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Parser PDF":{"main":[[{"node":"GET Parser PDF","type":"main","index":0}]]},"GET Parser PDF":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Success PDF":{"main":[[{"node":"Invoice Analytic PDF","type":"main","index":0}]]},"GPT 4o mini":{"ai_languageModel":[[{"node":"Invoice Analytic PDF","type":"ai_languageModel","index":0}]]},"Parser PDF Error":{"main":[[{"node":"Error PDF","type":"main","index":0}]]},"Sent Email PDF":{"main":[[{"node":"Invoice PDF Sent","type":"main","index":0}]]},"Invoice Analytic PDF":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields PDF":{"main":[[{"node":"Processing Doc","type":"main","index":0}]]},"Edit Fields Image":{"main":[[{"node":"Processing Image","type":"main","index":0}]]},"Processing Image":{"main":[[{"node":"Get File Image","type":"main","index":0}]]},"Get File Image":{"main":[[{"node":"Parser Image","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Parser Image":{"main":[[{"node":"GET Parser Image","type":"main","index":0}]]},"GET Parser Image":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Parser Image Error","type":"main","index":0}],[{"node":"Parser Image Error","type":"main","index":0}],[{"node":"Success Image","type":"main","index":0}],[{"node":"Wait Procces Image","type":"main","index":0}]]},"Success Image":{"main":[[{"node":"Invoice Analytic Image","type":"main","index":0}]]},"GPT 4o mini1":{"ai_languageModel":[[{"node":"Invoice Analytic Image","type":"ai_languageModel","index":0}]]},"Invoice Analytic Image":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code Image","type":"main","index":0}]]},"Code PDF":{"main":[[{"node":"Sent Email PDF","type":"main","index":0}]]},"Code Image":{"main":[[{"node":"Sent Email Image","type":"main","index":0}]]},"Sent Email Image":{"main":[[{"node":"Invoice Image Sent","type":"main","index":0}]]},"Wait Procces Image":{"main":[[{"node":"GET Parser Image","type":"main","index":0}]]},"Wait Procces PDF":{"main":[[{"node":"GET Parser PDF","type":"main","index":0}]]},"Parser Image Error":{"main":[[{"node":"Error Image","type":"main","index":0}]]},"Only Text":{"main":[[{"node":"Error Upload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2556ad4-08b2-4bfb-a65b-4d6721ff59a8","triggerCount":1,"tags":[]}