workflowsDev Logs Analisis de Fortisiem Openwebui.json
{"createdAt":"2025-04-05T17:13:57.098Z","updatedAt":"2025-05-24T11:47:05.000Z","id":"SYmrYm84ahqSwcvz","name":"Dev Logs Analisis de Fortisiem Openwebui","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"// Código para nodo Code de n8n - Generador de Alertas de Ciberseguridad\n// Procesa datos dinámicos de entrada y genera un email HTML compatible\n\n// Función para crear el header compatible con email\nfunction createEmailSafeHeader() {\n  return `\n  <!-- Header para clientes de correo -->\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 20px; max-width: 800px;\">\n    <tr>\n      <td style=\"position: relative; padding: 0;\">\n        <div style=\"position: relative; max-width: 800px; margin: 0 auto;\">\n          <img src=\"https://github.com/ifxnetworks/Dise-o/blob/main/Header_Comunicado_Cyberseguridad_IFX_CL_(2.0).png?raw=true\" alt=\"Header\" style=\"width: 100%; height: auto; display: block; max-width: 800px;\">\n          <div style=\"position: absolute; bottom: 10px; right: 15px; text-align: right;\">\n            <span style=\"color: #000000; font-family: Arial, sans-serif; font-size: 12px; margin-right: 4px;\">Generated by <i style=\"font-style: italic;\">aifx</i></span>\n          </div>\n        </div>\n      </td>\n    </tr>\n  </table>`;\n}\n\n// Función para crear tarjetas de información\nfunction createInfoCard(title, value) {\n  return `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 10px;\">\n    <tr>\n      <td style=\"background-color: #f8fafd; border: 1px solid #d1d8e0; border-radius: 8px; padding: 15px;\">\n        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n          <tr>\n            <td style=\"font-family: Arial, sans-serif; color: #002244; font-weight: bold;\">${title}:</td>\n          </tr>\n          <tr>\n            <td style=\"font-family: Arial, sans-serif; padding-top: 5px;\">${value}</td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>`;\n}\n\n// Función para crear la sección de estado del evento\nfunction createEventStatus(status, severity) {\n  let statusColor = \"#0066cc\";\n  \n  if (severity && severity.includes(\"HIGH\")) {\n    statusColor = \"#dc3545\";\n  } else if (severity && severity.includes(\"MEDIUM\")) {\n    statusColor = \"#ff9933\";\n  } else if (severity && severity.includes(\"LOW\")) {\n    statusColor = \"#28a745\";\n  }\n  \n  return `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top: 20px;\">\n    <tr>\n      <td style=\"background-color: ${statusColor}; color: #ffffff; font-family: Arial, sans-serif; text-align: center; padding: 15px; border-radius: 8px; font-weight: bold;\">\n        Estado del Evento: ${status}\n      </td>\n    </tr>\n  </table>`;\n}\n\n// Función para crear una sección con título\nfunction createSection(title, content) {\n  return `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 30px;\">\n    <tr>\n      <td>\n        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 15px;\">\n          <tr>\n            <td width=\"5\" style=\"background-color: #0066cc;\"></td>\n            <td style=\"padding-left: 10px; font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; color: #002244;\">\n              ${title}\n            </td>\n          </tr>\n        </table>\n        ${content}\n      </td>\n    </tr>\n  </table>`;\n}\n\n// Función para crear una lista compatible con email\nfunction createList(items) {\n  if (!items || !items.length) return '<p style=\"font-family: Arial, sans-serif;\">No hay elementos disponibles.</p>';\n  \n  let listHtml = '<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">';\n  \n  items.forEach(item => {\n    listHtml += `\n    <tr>\n      <td width=\"20\" valign=\"top\" style=\"font-family: Arial, sans-serif; padding: 5px;\">•</td>\n      <td style=\"font-family: Arial, sans-serif; padding: 5px;\">${item}</td>\n    </tr>`;\n  });\n  \n  listHtml += '</table>';\n  return listHtml;\n}\n\n// Función para generar el HTML de la alerta\nfunction generateAlertHTML(alertData) {\n  // Función para acceso seguro a propiedades anidadas\n  const getNestedValue = (obj, path, defaultValue = '') => {\n    try {\n      const result = path.split('.').reduce((o, p) => o?.[p], obj);\n      return result !== undefined && result !== null ? result : defaultValue;\n    } catch (e) {\n      return defaultValue;\n    }\n  };\n  \n  // Sección de información del cliente\n  let clientInfoContent = `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td width=\"50%\" style=\"padding-right: 10px;\">\n        ${createInfoCard(\"Cliente Afectado\", getNestedValue(alertData, 'informacionCliente.clienteAfectado', 'No especificado'))}\n      </td>\n      <td width=\"50%\" style=\"padding-left: 10px;\">\n        ${createInfoCard(\"Fecha del Evento\", getNestedValue(alertData, 'informacionCliente.fechaEvento', 'No especificada'))}\n      </td>\n    </tr>\n    <tr>\n      <td width=\"50%\" style=\"padding-right: 10px; padding-top: 10px;\">\n        ${createInfoCard(\"N° Ticket\", getNestedValue(alertData, 'informacionCliente.numeroTicket', 'No especificado'))}\n      </td>\n      <td width=\"50%\" style=\"padding-left: 10px; padding-top: 10px;\">\n        ${createInfoCard(\"Severidad\", getNestedValue(alertData, 'informacionCliente.severidad', 'No especificada'))}\n      </td>\n    </tr>\n  </table>\n  \n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-top: 20px;\">\n    <tr>\n      <td width=\"33%\" style=\"padding-right: 10px;\">\n        ${createInfoCard(\"Analista\", getNestedValue(alertData, 'informacionAnalisis.analista', 'No especificado'))}\n      </td>\n      <td width=\"33%\" style=\"padding: 0 5px;\">\n        ${createInfoCard(\"Categoría\", getNestedValue(alertData, 'informacionAnalisis.categoria', 'No especificada'))}\n      </td>\n      <td width=\"33%\" style=\"padding-left: 10px;\">\n        ${createInfoCard(\"Regla Aplicada\", getNestedValue(alertData, 'informacionAnalisis.reglaAplicada', 'No especificada'))}\n      </td>\n    </tr>\n  </table>`;\n  \n  // Sección de detalles del evento\n  let eventDetailsContent = `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td width=\"50%\" style=\"padding-right: 10px;\">\n        ${createInfoCard(\"IP de Origen\", getNestedValue(alertData, 'detallesEvento.origen.ip', 'No disponible'))}\n      </td>\n      <td width=\"50%\" style=\"padding-left: 10px;\">\n        ${createInfoCard(\"Hostname de Origen\", getNestedValue(alertData, 'detallesEvento.origen.hostname', 'No disponible'))}\n      </td>\n    </tr>\n    <tr>\n      <td width=\"50%\" style=\"padding-right: 10px; padding-top: 10px;\">\n        ${createInfoCard(\"IP de Destino\", getNestedValue(alertData, 'detallesEvento.destino.ip', 'No disponible'))}\n      </td>\n      <td width=\"50%\" style=\"padding-left: 10px; padding-top: 10px;\">\n        ${createInfoCard(\"Host de Destino\", getNestedValue(alertData, 'detallesEvento.destino.hostname', 'No disponible'))}\n      </td>\n    </tr>\n    <tr>\n      <td colspan=\"2\" style=\"padding-top: 10px;\">\n        ${createInfoCard(\"Usuario Afectado\", getNestedValue(alertData, 'detallesEvento.usuarioAfectado', 'No especificado'))}\n      </td>\n    </tr>\n  </table>\n  ${createEventStatus(\n    getNestedValue(alertData, 'detallesEvento.estadoEvento', 'Pendiente de revisión'), \n    getNestedValue(alertData, 'informacionCliente.severidad', '')\n  )}`;\n  \n  // Sección de descripción y recomendaciones\n  let descriptionContent = `\n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 20px;\">\n    <tr>\n      <td style=\"font-family: Arial, sans-serif; padding-bottom: 10px;\">\n        <strong>Descripción del Evento:</strong> ${getNestedValue(alertData, 'descripcion', 'No hay descripción disponible')}\n      </td>\n    </tr>\n  </table>\n  \n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom: 20px;\">\n    <tr>\n      <td style=\"font-family: Arial, sans-serif; font-weight: bold; color: #002244; padding-bottom: 10px;\">\n        Acciones Detectadas:\n      </td>\n    </tr>\n    <tr>\n      <td>\n        ${createList(alertData.accionesDetectadas || [])}\n      </td>\n    </tr>\n  </table>\n  \n  <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td style=\"font-family: Arial, sans-serif; font-weight: bold; color: #002244; padding-bottom: 10px;\">\n        Recomendaciones:\n      </td>\n    </tr>\n    <tr>\n      <td>\n        ${createList(alertData.recomendaciones || [])}\n      </td>\n    </tr>\n  </table>`;\n  \n  // Construir HTML completo\n  return `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>${getNestedValue(alertData, 'tipoAlerta', 'Alerta de Ciberseguridad')} - ${getNestedValue(alertData, 'titulo', 'Informe de Seguridad')}</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f7fb; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;\">\n  <center>\n    <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width: 800px; margin: 0 auto;\">\n      <tr>\n        <td>\n          <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: #ffffff; margin: 20px auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);\">\n            <!-- Header -->\n            <tr>\n              <td align=\"center\">\n                ${createEmailSafeHeader(getNestedValue(alertData, 'informacionCliente.fechaEvento', ''))}\n              </td>\n            </tr>\n            \n            <!-- Contenido principal -->\n            <tr>\n              <td style=\"padding: 30px;\">\n                <!-- Información del Cliente y Evento -->\n                ${createSection(\"Información del Cliente y Evento\", clientInfoContent)}\n                \n                <!-- Detalles del Evento -->\n                ${createSection(\"Detalles del Evento\", eventDetailsContent)}\n                \n                <!-- Descripción y Recomendaciones -->\n                ${createSection(\"Descripción y Recomendaciones\", descriptionContent)}\n              </td>\n            </tr>\n            \n            <!-- Footer -->\n            <tr>\n              <td>\n                <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                  <tr>\n                    <td align=\"center\">\n                      <img src=\"https://github.com/ifxnetworks/Dise-o/blob/main/Footer_Comunicado_Cyberseguridad_IFX_CL(2.0).png?raw=true\" alt=\"Pie de página\" style=\"width: 100%; max-width: 800px; height: auto; display: block;\">\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </center>\n</body>\n</html>`;\n}\n\n// Función para completar datos faltantes en la alerta\nfunction completarDatosAlerta(datos) {\n  // Estructura base para asegurar integridad del reporte\n  const plantilla = {\n    \"tipoAlerta\": \"ALERTA DE CIBERSEGURIDAD\",\n    \"titulo\": \"Alerta de Seguridad\",\n    \"informacionCliente\": {\n      \"clienteAfectado\": \"No especificado\",\n      \"fechaEvento\": new Date().toLocaleString(),\n      \"numeroTicket\": \"Sin asignar\",\n      \"severidad\": \"No especificada\"\n    },\n    \"informacionAnalisis\": {\n      \"analista\": \"No especificado\",\n      \"categoria\": \"No especificada\",\n      \"reglaAplicada\": \"No especificada\"\n    },\n    \"detallesEvento\": {\n      \"origen\": {\n        \"ip\": \"No disponible\",\n        \"hostname\": \"No disponible\"\n      },\n      \"destino\": {\n        \"ip\": \"No disponible\",\n        \"hostname\": \"No disponible\"\n      },\n      \"usuarioAfectado\": \"No especificado\",\n      \"estadoEvento\": \"Pendiente de revisión\"\n    },\n    \"descripcion\": \"No hay descripción disponible\",\n    \"accionesDetectadas\": [\"No hay acciones detectadas disponibles\"],\n    \"recomendaciones\": [\"No hay recomendaciones disponibles\"]\n  };\n  \n  // Combinar datos proporcionados con plantilla\n  return {\n    ...plantilla,\n    ...datos,\n    informacionCliente: {\n      ...plantilla.informacionCliente,\n      ...(datos.informacionCliente || {})\n    },\n    informacionAnalisis: {\n      ...plantilla.informacionAnalisis,\n      ...(datos.informacionAnalisis || {})\n    },\n    detallesEvento: {\n      ...plantilla.detallesEvento,\n      ...(datos.detallesEvento || {}),\n      origen: {\n        ...plantilla.detallesEvento.origen,\n        ...(datos.detallesEvento?.origen || {})\n      },\n      destino: {\n        ...plantilla.detallesEvento.destino,\n        ...(datos.detallesEvento?.destino || {})\n      }\n    }\n  };\n}\n\n// Función para generar versión de texto plano\nfunction generateTextVersion(alertData) {\n  return `\nALERTA DE CIBERSEGURIDAD - ${alertData.titulo || 'Alerta de Seguridad'}\nFecha: ${alertData.informacionCliente?.fechaEvento || 'No especificada'}\nCliente: ${alertData.informacionCliente?.clienteAfectado || 'No especificado'}\nTicket: ${alertData.informacionCliente?.numeroTicket || 'No especificado'}\nSeveridad: ${alertData.informacionCliente?.severidad || 'No especificada'}\n\nDETALLES DEL EVENTO:\n- IP Origen: ${alertData.detallesEvento?.origen?.ip || 'No disponible'} (${alertData.detallesEvento?.origen?.hostname || 'No disponible'})\n- IP Destino: ${alertData.detallesEvento?.destino?.ip || 'No disponible'} (${alertData.detallesEvento?.destino?.hostname || 'No disponible'})\n- Usuario Afectado: ${alertData.detallesEvento?.usuarioAfectado || 'No especificado'}\n- Estado: ${alertData.detallesEvento?.estadoEvento || 'No especificado'}\n\nDESCRIPCIÓN:\n${alertData.descripcion || 'No disponible'}\n\nACCIONES DETECTADAS:\n${alertData.accionesDetectadas?.map(accion => `- ${accion}`).join('\\n') || '- No disponibles'}\n\nRECOMENDACIONES:\n${alertData.recomendaciones?.map(recomendacion => `- ${recomendacion}`).join('\\n') || '- No disponibles'}\n  `;\n}\n\n// Código principal para n8n\nconst items = $input.all();\nconst returnItems = [];\n\nfor (const item of items) {\n  try {\n    // Extraer y parsear los datos JSON del campo output\n    let alertData;\n    \n    if (item.json && item.json.output) {\n      try {\n        // El campo output puede contener código con backticks y formato ```json\n        let jsonStr = item.json.output;\n        \n        // Eliminar ```json y ``` si están presentes\n        if (jsonStr.includes('```json')) {\n          jsonStr = jsonStr.replace(/```json\\n/g, '').replace(/```$/g, '');\n        }\n        \n        // Intenta parsear el JSON\n        alertData = JSON.parse(jsonStr);\n        console.log(\"Datos JSON procesados correctamente\");\n      } catch (e) {\n        console.log('Error al parsear JSON:', e);\n        throw new Error(`No se pudo parsear el JSON: ${e.message}`);\n      }\n    } else {\n      throw new Error('No se encontró un campo output en los datos de entrada');\n    }\n    \n    // Validar estructura y completar datos faltantes\n    if (!alertData || !alertData.tipoAlerta || !alertData.titulo) {\n      console.log('Estructura de datos incompleta, completando con valores por defecto');\n      alertData = completarDatosAlerta(alertData || {});\n    }\n    \n    // Generar HTML y versión de texto\n    const html = generateAlertHTML(alertData);\n    const textVersion = generateTextVersion(alertData);\n    \n    // Devolver resultados\n    returnItems.push({\n      json: {\n        htmlEmail: html,\n        textEmail: textVersion,\n        alertData: alertData,\n        subject: `${alertData.tipoAlerta} - ${alertData.titulo} ${alertData.informacionCliente?.severidad ? `[${alertData.informacionCliente.severidad}]` : ''}`\n      }\n    });\n  } catch (error) {\n    console.log('Error:', error);\n    const errorMessage = error instanceof Error \n      ? error.message \n      : 'Error desconocido';\n    returnItems.push({\n      json: {\n        error: `Error al procesar los datos: ${errorMessage}`,\n        originalInput: item.json ? JSON.stringify(item.json) : 'No hay datos de entrada'\n      }\n    });\n  }\n}\n\nreturn returnItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1320,40],"id":"1affa621-7f43-49ff-97da-7ada7fbdcdc5","name":"Convertir a HTML Template"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=TEST - Alerta de Ciberseguridad -  {{ $json.alertData.informacionCliente.clienteAfectado }} - {{ $json.alertData.informacionCliente.numeroTicket }}","bodyContent":"={{ $json.htmlEmail }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-1120,40],"id":"fb9281e6-40ee-4e73-b93f-3a2d7c2ff75b","name":"Enviar Correo HTML a SOC","webhookId":"848327b2-7b40-4675-901f-50be26abb01b","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook Mail JPG"}}},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"responseFormat":"json_object","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1760,280],"id":"7c6acd51-4ef8-4723-9343-c2bcae89a4ce","name":"Lllama 70B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"httpMethod":"POST","path":"logs-siem","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1960,80],"id":"f579dd18-5631-4c2d-a4b5-1f245d7a1f88","name":"Webhook","webhookId":"a91306f5-ea1e-4cb8-8a81-6538e8ceb80b"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-940,220],"id":"6e48953a-3636-4173-b113-89ef4ebb7dc5","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"ERES UN MODELO ESPECIALIZADO EN TRANSFORMAR ALERTAS DE SEGURIDAD EN FORMATO JSON A UN FORMATO **MARKDOWN ENRIQUECIDO** LEGIBLE PARA EQUIPOS TÉCNICOS Y EJECUTIVOS. TU SALIDA DEBE TENER ESTILO CLARO, PROFESIONAL Y TÉCNICAMENTE PRECISO.\n\n---\n\n🎯 **OBJETIVO PRINCIPAL**  \nCONVIERTE CUALQUIER ALERTA DE CIBERSEGURIDAD EN FORMATO JSON AL FORMATO **MARKDOWN**, CONSERVANDO TODOS LOS DETALLES IMPORTANTES Y ORGANIZÁNDOLOS CON TIPOGRAFÍA RICA (negritas, listas, espaciado adecuado), PERO **SIN USAR BLOQUES DE CÓDIGO COMO ` ``` `**.\n\n---\n\n📌 **INSTRUCCIONES DE FORMATO Y COMPORTAMIENTO**\n\n- NO uses ```markdown ni ningún bloque de código.\n- NO inventes datos. Si algún campo no existe o está vacío, omítelo del resultado.\n- NO incluyas los campos `recursos.imagenEncabezado` ni `recursos.imagenPie`.\n- AGREGA una nota final discreta que diga:  \n  _Generated by aifx_\n\n- CONVIERTE las siguientes claves en un texto MARKDOWN estructurado:\n\n---\n\n📊 ESTRUCTURA DE CONVERSIÓN\n\n1. **tipoAlerta** y **titulo** → PRESÉNTALO COMO TÍTULO CON NEGRITA Y MAYÚSCULAS.  \n   Ejemplo: `**ALERTA DE CIBERSEGURIDAD: Fallas en IPsec Phase 1**`\n\n2. **informacionCliente** → MUESTRA EN LISTA DE PUNTOS  \n   - Cliente afectado: ...  \n   - Fecha del evento: ...  \n   - Número de ticket: ...  \n   - Severidad: ...\n\n3. **informacionAnalisis** → OTRA LISTA  \n   - Analista: ...  \n   - Categoría: ...  \n   - Regla aplicada: ...\n\n4. **detallesEvento** → SEPARAR POR ORIGEN, DESTINO, USUARIO  \n   - IP Origen: ...  \n   - Hostname Origen: ...  \n   - IP Destino: ...  \n   - Hostname Destino: ...  \n   - Usuario afectado: ...  \n   - Estado del evento: ...\n\n5. **descripcion** → MOSTRAR COMO PÁRRAFO NORMAL CON NEGRITA:  \n   - **Descripción**: ...\n\n6. **accionesDetectadas** → LISTA CON VIÑETAS  \n   - Acción detectada 1  \n   - Acción detectada 2  \n   - ...\n\n7. **recomendaciones** → OTRA LISTA CON VIÑETAS  \n   - Recomendación técnica 1  \n   - Recomendación técnica 2  \n   - ...\n\n8. **metadatos** → MOSTRAR EN LISTA SIMPLE  \n   - Tipo de documento: ...  \n   - Versión del formato: ...  \n   - Fecha de generación: ...\n\n---\n\n⚠️ **QUÉ NO HACER**\n\n- ❌ NO AGREGUES ENCABEZADOS DE NIVEL H1/H2/H3\n- ❌ NO INSERTES BLOQUES DE CÓDIGO NI MARCADORES DE FORMATO DE CÓDIGO COMO ` ``` `\n- ❌ NO AÑADAS IMÁGENES, LINKS, NI CONTENIDO EXTERNO\n- ❌ NO INCLUYAS CAMPOS VACÍOS NI CAMPOS INEXISTENTES\n- ❌ NO CAMBIES EL ORDEN DE LOS ELEMENTOS\n- ❌ NO RESUMAS, NO INTERPRETES, SOLO FORMATEA\n\n---\n\n✅ **EJEMPLO DE SALIDA ESPERADA (RESUMEN VISUAL):**\n\n**ALERTA DE CIBERSEGURIDAD: Fallas en IPsec Phase 1**\n\n- Cliente afectado: Empresa XYZ  \n- Fecha del evento: 2025-03-31 14:22  \n- Número de ticket: INC123456  \n- Severidad: 9\n\n- Analista: Juan Pérez  \n- Categoría: T1566.002  \n- Regla aplicada: IPSec Phase 1 Mismatch\n\n- IP Origen: 10.10.10.1  \n- Hostname Origen: fw-main-east  \n- IP Destino: 192.168.5.10  \n- Hostname Destino: vpn-gateway-west  \n- Usuario afectado: admin_ops  \n- Estado del evento: En investigación\n\n**Descripción**: Se detectaron múltiples intentos fallidos de negociación IKEv2 entre dos gateways de VPN, indicando un desajuste en los parámetros de autenticación.\n\n- Intentos de conexión IKEv2 fallidos desde IP origen  \n- Regla IPSec Negotiation Failed disparada  \n- Eventos repetidos en menos de 5 minutos  \n- IPs involucradas con tráfico no autorizado  \n- Posible desincronización de parámetros de cifrado\n\n- Revisar parámetros de Fase 1 en ambos dispositivos  \n- Validar integridad de certificados utilizados  \n- Sincronizar métodos de autenticación entre gateways  \n- Verificar logs correlacionados de eventos similares  \n- Aplicar cambios en mantenimiento programado\n\n- Tipo de documento: Alerta de Seguridad  \n- Versión del formato: 1.0  \n- Fecha de generación: 2025-04-01\n\n_Generated by aifx_\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-1320,220],"id":"0ff9b282-a9b8-40e6-8cec-6e5b51a82f52","name":"Convertir a Texto"},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemMessage":"## 🎯 OBJETIVO:\nERES UN ANALISTA DE CIBERSEGURIDAD EN UN CENTRO DE OPERACIONES DE SEGURIDAD (SOC). TU FUNCIÓN ES ACTUAR COMO UN EXPERTO DE ÉLITE EN SEGURIDAD INFORMÁTICA. TU TAREA ES ANALIZAR EVENTOS DE SEGURIDAD Y GENERAR INFORMES ESTRUCTURADOS USANDO:\n\n- LA METODOLOGÍA **STAR (SITUACIÓN, TAREA, ACCIÓN, RESULTADO)**  \n- ESTÁNDARES INTERNACIONALES COMO **NIST**, **MITRE ATT&CK**, Y DIRECTRICES DE FABRICANTES  \n- UNA RESPUESTA FINAL EN FORMATO **JSON ESTRUCTURADO** SIGUIENDO LA PLANTILLA DEFINIDA\n\n## 🔍 CADENA DE RAZONAMIENTO (CHAIN OF THOUGHTS):\n1. **COMPRENDER** el contexto del evento y su impacto potencial.\n2. **IDENTIFICAR** elementos clave: IPs, hostnames, logs, severidad, categoría MITRE, reglas.\n3. **CLASIFICAR** la severidad como **ALTA**, **MEDIA** o **BAJA**.\n4. **DESCRIBIR** el evento en términos técnicos usando la metodología STAR.\n5. **DETERMINAR** acciones observadas y **PROPONER** recomendaciones técnicas específicas.\n6. **ENSAMBLAR** toda la información en una estructura **JSON** conforme al modelo preestablecido.\n\n## 🧠 ESTRUCTURA DE RESPUESTA (FORMATO OBLIGATORIO)\n{\n  \"tipoAlerta\": \"ALERTA DE CIBERSEGURIDAD\",\n  \"titulo\": \"[Título claro del evento]\",\n  \"informacionCliente\": {\n    \"clienteAfectado\": \"[Nombre del cliente]\",\n    \"fechaEvento\": \"[Fecha y hora del evento]\",\n    \"numeroTicket\": \"[Ticket o código del incidente] **Extraer identificadores como 'TT123456'**\",\n    \"severidad\": \"[Nivel de severidad con valor numérico si aplica]\"\n  },\n  \"informacionAnalisis\": {\n    \"analista\": \"[Nombre del analista o 'No especificado']\",\n    \"categoria\": \"[Clasificación MITRE u otra]\",\n    \"reglaAplicada\": \"[Regla o nombre de alerta que generó el evento]\"\n  },\n  \"detallesEvento\": {\n    \"origen\": {\n      \"ip\": \"[IP origen]\",\n      \"hostname\": \"[Hostname origen]\"\n    },\n    \"destino\": {\n      \"ip\": \"[IP destino]\",\n      \"hostname\": \"[Hostname destino]\"\n    },\n    \"usuarioAfectado\": \"[Usuario relacionado al evento]\",\n    \"estadoEvento\": \"[Estado actual del incidente]\"\n  },\n  \"descripcion\": \"[Resumen técnico del evento redactado usando metodología STAR]\",\n  \"accionesDetectadas\": [\n    \"[Acción o comportamiento observado 1]\",\n    \"[Acción 2]\",\n    \"[...]\"\n  ],\n  \"recomendaciones\": [\n    \"[Recomendación técnica 1]\",\n    \"[Recomendación 2]\",\n    \"[...]\"\n  ],\n  \"recursos\": {\n    \"imagenEncabezado\": \"https://github.com/ifxnetworks/Dise-o/blob/main/Header_Comunicado_Cyberseguridad_IFX_CL_(2.0).png?raw=true\",\n    \"imagenPie\": \"https://github.com/ifxnetworks/Dise-o/blob/main/Footer_Comunicado_Cyberseguridad_IFX_CL(2.0).png?raw=true\"\n  },\n  \"metadatos\": {\n    \"tipoDocumento\": \"Alerta de Seguridad\",\n    \"versionFormato\": \"1.0\",\n    \"fechaGeneracion\": \"[Fecha de generación del JSON]\"\n  }\n}\n\n## 📌 DIRECTRICES DE ANÁLISIS:\n- SIGUE SIEMPRE LA METODOLOGÍA **STAR**\n- USA VOCABULARIO TÉCNICO, PRESERVANDO TÉRMINOS EN INGLÉS SI SON ESTÁNDAR (EJ. \"brute-force\", \"IPSec\", \"phishing\")\n- CLASIFICA LA SEVERIDAD DEL EVENTO Y APLICA CATEGORÍA **MITRE** CUANDO SEA POSIBLE\n- USA FECHAS Y FORMATO ISO 8601 SI ES NECESARIO (ej: 2025-04-04T13:45:00Z)\n- IDENTIFICA Y EXTRA LOS CAMPOS NECESARIOS PARA CUMPLIR CON EL JSON (ej: ticket TT123456, IPs, usuarios)\n\n## 🚫 QUÉ NO HACER (WHAT NOT TO DO):\n- ❌ NO RESPONDER EN FORMATO LIBRE O SOLO EN MARKDOWN: LA RESPUESTA DEBE SER 100% EN FORMATO JSON.\n- ❌ NO OMITIR CAMPOS COMO **IPs**, **USUARIOS**, **CATEGORÍA MITRE**, **NÚMERO DE TICKET**\n- ❌ NO INVENTAR INFORMACIÓN SI NO EXISTE EN LOS DATOS: USA \"No especificado\" O \"[Desconocido]\"\n- ❌ NO USAR UN FORMATO DIFERENTE AL JSON MOSTRADO ARRIBA\n- ❌ NO CAMBIAR LOS NOMBRES DE CLAVE DEL JSON\n\n## ✅ EJEMPLO DE SALIDA ESPERADA (FRAGMENTO)\n{\n  \"tipoAlerta\": \"ALERTA DE CIBERSEGURIDAD\",\n  \"titulo\": \"Actividad sospechosa detectada en tráfico SSH\",\n  ...\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1700,80],"id":"222db8c8-7906-49eb-a35d-36d3bbaf3950","name":"Analisis de los Logs","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1320,400],"id":"bc859ff2-6506-444f-938b-23aee5d0c9b3","name":"Llama 8B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1220,440],"id":"bc859ff2-6506-444f-938b-23aee5d0c9b3","name":"Llama 8B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}}],"connections":{"Convertir a HTML Template":{"main":[[{"node":"Enviar Correo HTML a SOC","type":"main","index":0}]]},"Lllama 70B":{"ai_languageModel":[[{"node":"Analisis de los Logs","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Analisis de los Logs","type":"main","index":0}]]},"Enviar Correo HTML a SOC":{"main":[[]]},"Respond to Webhook":{"main":[[]]},"Convertir a Texto":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Analisis de los Logs":{"main":[[{"node":"Convertir a Texto","type":"main","index":0},{"node":"Convertir a HTML Template","type":"main","index":0}]]},"Llama 8B":{"ai_languageModel":[[{"node":"Convertir a Texto","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"global":{"output_default-session":"**ALERTA DE CIBERSEGURIDAD: Actividad sospechosa detectada en tráfico VPN y SSL**\n\n- Cliente afectado: No especificado  \n- Fecha del evento: 2025-01-29 11:42:11 CLST  \n- Número de ticket: No especificado  \n- Severidad: ALTA\n\n- Analista: No especificado  \n- Categoría: T1496: SSL/TLS Inspection  \n- Regla aplicada: SSL VPN alert\n\n- IP Origen: 94.232.46.49  \n- Hostname Origen: No especificado  \n- IP Destino: 172.16.30.1  \n- Hostname Destino: CLSCLELB8SFNG1500DX018  \n- Usuario afectado: N/A  \n- Estado del evento: En análisis\n\n**Descripción**: Se ha detectado actividad sospechosa en el tráfico VPN y SSL. El análisis de los registros muestra varias alertas de SSL VPN y errores de fase 1 de IPsec. La situación se describe como una posible intentona de acceso no autorizado al sistema. La tarea es analizar los registros y determinar la causa raíz del problema. La acción tomada es la notificación a los equipos de seguridad y el inicio de una investigación más a fondo. El resultado es la identificación de una posible vulnerabilidad en el sistema de VPN y la necesidad de actualizar los protocolos de seguridad.\n\n- Intentos de conexión SSL VPN  \n- Errores de fase 1 de IPsec  \n- Alertas de SSL VPN  \n\n- Actualizar los protocolos de seguridad de VPN  \n- Revisar los registros de conexión para detectar patrones sospechosos  \n- Realizar pruebas de penetración para identificar vulnerabilidades  \n\n- Tipo de documento: Alerta de Seguridad  \n- Versión del formato: 1.0  \n- Fecha de generación: 2025-02-01 20:36:58  \n\n_Generated by aifx_"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff22af3e-4a0c-4d87-87de-9abf8656839b","triggerCount":1,"tags":[]}