workflowsPower Fail from Ufinet.json
{"createdAt":"2025-03-18T14:04:48.208Z","updatedAt":"2025-05-31T16:26:18.000Z","id":"06OQ2EDuUx8g0KDL","name":"Power Fail from Ufinet","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"both","sender":"jaimep@ifxcorp.com"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-920,-50],"id":"83d2a11f-1f67-45c3-aea5-d9a7b2ec0874","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"hnyUjIRS74ZNMIfB","name":"Gmail API FutureBit"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"ERES UN EXPERTO EXTRACTOR DE INFORMACIÓN DE CORREOS ELECTRÓNICOS, ESPECIALIZADO EN IDENTIFICAR Y EXTRAER DATOS CLAVE RELACIONADOS CON INCIDENCIAS TÉCNICAS EN SERVICIOS DE TELECOMUNICACIONES.\n\n### INSTRUCCIONES ###\nTU TAREA ES EXTRAER Y PRESENTAR LOS SIGUIENTES ELEMENTOS CLAVE A PARTIR DEL CONTENIDO DEL CORREO ELECTRÓNICO QUE SE TE PROPORCIONE:\n\n1. **EXTRAER EL CÓDIGO DE INCIDENTE**:\n   - IDENTIFICA cualquier conjunto de caracteres que siga un patrón similar a \"COCOIFX\" seguido de una combinación de letras y números (ejemplo: `COCOIFX10036936C`).\n   - SI EL CÓDIGO ESTÁ INCOMPLETO O DAÑADO, PROPORCIONA UNA NOTIFICACIÓN QUE LO INDIQUE.\n\n2. **EXTRAER LA INFORMACIÓN DE CAPACIDAD**:\n   - BUSCA un texto que mencione una capacidad técnica como \"Ethernet 50.00Mbps\", \"100Mbps\", etc., e INCLUYE cualquier información geográfica o técnica adyacente que ayude a contextualizar la ubicación o el entorno del servicio (ejemplo: `Ethernet 50.00Mbps`).\n\n3. **EXTRAER EL CLIENTE**:\n   - IDENTIFICA el nombre de la empresa o institución que figure como el cliente final. Este suele encontrarse en la descripción de la capacidad o en otros textos del correo.\n\n4. **EXTRAER LA HORA DE LA FALLA**:\n   - BUSCA una mención que contenga una referencia temporal específica en formato de hora UTC o similar, interpreta la hora y debe convertirse en formato DATETIME para SQL en formato (ejemplo: `11:37 UTC del 2025-03-18`).\n\n5. **EXTRAER EL CODIGO DEL CLIENTE**:\n   - IDENTIFICA el CODIGO del CLIENTE FINAL. Este suele encontrarse en la descripción de la capacidad es un formato numerico de 4 o mas cifras, en el ejemplo es el que esta entre los dobles asteriscos (ejemplo: `NNI BARRANQUILLA- **905792** INSTITUTO CENTRO DE SISTEMAS SAS PUERTO COLOMBIA`).\n\n### FORMATO DE SALIDA ###\nPRESENTA LA INFORMACIÓN EXTRAÍDA EN EL SIGUIENTE FORMATO JSON:\n\n{\n\"circuit_id\": \"[CÓDIGO]\",\n\"capacidad\": \"[INFORMACIÓN DE CAPACIDAD]\",\n\"service_id\": \"[CODIGO DEL CLIENTE]\"\n\"cliente\": \"[NOMBRE DEL CLIENTE FINAL]\",\n\"hora_falla\": \"[HORA EN FORMATO UTC]\"\n}\n### LO QUE NO SE DEBE HACER ###\n- **NO INVENTES** información si no está presente en el correo.\n- **NO OMITAS** datos clave si están claramente indicados.\n- **NO ALTERES** el formato original del texto extraído; solo límpialo si es necesario para mejorar la legibilidad.\n- **NO ADIVINES** si la información está incompleta; en su lugar, indica \"[NO ENCONTRADO]\" en el campo correspondiente.\n\n### EJEMPLO DE ENTRADA Y SALIDA ###\n**Entrada del correo:**\n\"Estimado equipo,\nSe detectó una falla en el circuito COCOIFX10036936C con capacidad Ethernet 50.00Mbps-NNI BARRANQUILLA-905792 INSTITUTO CENTRO DE SISTEMAS SAS PUERTO COLOMBIA. Esta incidencia afecta al cliente INSTITUTO CENTRO DE SISTEMAS SAS. El evento ocurrió a las 11:37 UTC del 2025-03-18.\"\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-40,-300],"id":"bc747393-fb36-40a9-bca0-c81be9f91017","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"13575172-a3be-4b44-8245-5d23538f02e1","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,-50],"id":"f2410ed9-eae5-457f-948f-dc9bd58e753a","name":"Text Capture from Mail"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-12,-80],"id":"dfa27f86-74d4-4994-b774-d9b145f65e12","name":"Proxy LLM","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"assignments":{"assignments":[{"id":"85485d02-2b97-4b34-99c7-11b07ed4d00e","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"68c1784e-6f3b-4c93-a11c-35de27ebd456","name":"id","value":"={{ $('Gmail Trigger').item.json.id }}","type":"string"},{"id":"4c9d2cf1-88a1-4802-8a4c-554e8f26f7bc","name":"headers.date","value":"={{ $('Gmail Trigger').item.json.headers.date }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,-200],"id":"3ff83f6b-31c6-4b3e-8db2-e627ae1dfd88","name":"JSON Object Capture"},{"parameters":{"columns":"output.circuit_id, output.capacidad, output.service_id, output.cliente, output.hora_falla, headers.date, id"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-920,880],"id":"b5f983a8-bf9e-4d2b-b285-5d0bfca05198","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"LVH7teXgx1Q46qGA","name":"MSQL  IFX Orion"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) AS id_mail_true \nFROM [SolarWindsOrion1].[dbo].[InfoFallaEnergia]\nWHERE campo_id = {{ $('Gmail Trigger').item.json.id }}"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-920,360],"id":"dc888aa5-5395-4759-8074-192cdc8b9936","name":"Microsoft SQL1","credentials":{"microsoftSql":{"id":"LVH7teXgx1Q46qGA","name":"MSQL  IFX Orion"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"453b8815-df78-4d6c-b5d6-59e3dac22288","leftValue":"={{ $json.exist }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[996,-200],"id":"83cb3ff8-7284-470e-9479-d3415c160d6b","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2af81f7-227b-4eff-9bad-7abe87b56338","leftValue":"={{ $('Gmail Trigger').item.json.subject }}","rightValue":"Falla Energía","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-260,-50],"id":"379a3dfc-8cfa-4e0a-8a71-21eb34ca4ffa","name":"Validate Subject \"Falla Energia\""},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-920,620],"id":"68a640fc-b4d9-4ad0-b6b1-e1310b53f4ea","name":"Schedule Trigger"},{"parameters":{"jsonSchemaExample":"{\n\"circuit_id\": \"[CÓDIGO]\",\n\"capacidad\": \"[INFORMACIÓN DE CAPACIDAD]\",\n\"service_id\": \"[CODIGO DEL CLIENTE]\",\n\"cliente\": \"[NOMBRE DEL CLIENTE FINAL]\",\n\"hora_falla\": \"[HORA EN FORMATO UTC]\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[108,-80],"id":"5c061835-c5b2-4d13-bd65-150fc31a2c31","name":"Structured Output Parser"},{"parameters":{"errorMessage":"Correo ya existe"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1216,-100],"id":"10fdd9e0-49a7-46eb-8887-4ece3d922cca","name":"mail exist"},{"parameters":{"errorMessage":"Falla de Energia no encontrado"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[38,100],"id":"fadb5411-4573-4ce6-8188-959971ec8b64","name":"Subject Fail"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) AS exist\nFROM incidents \nWHERE id_correo = '{{ $json.id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[776,-200],"id":"db09ddbd-7ce0-4c2a-a223-96d3042f6a21","name":"Query Exist Mail?","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres Main JPG"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"incidents","mode":"list","cachedResultName":"incidents"},"columns":{"mappingMode":"defineBelow","value":{"capacidad":"={{ $('Formating Date').item.json.output.capacidad }}","cliente":"={{ $('Formating Date').item.json.output.cliente }}","hora_falla":"={{ $('Formating Date').item.json.formatted_hora_falla }}","id_correo":"={{ $('Formating Date').item.json.id }}","hora_correo":"={{ $('Formating Date').item.json.formatted_date }}","circuit_id":"={{ $('Formating Date').item.json.output.circuit_id }}","service_id":"={{ $('Formating Date').item.json.output.service_id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"circuit_id","displayName":"circuit_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"capacidad","displayName":"capacidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"service_id","displayName":"service_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora_falla","displayName":"hora_falla","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"id_correo","displayName":"id_correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora_correo","displayName":"hora_correo","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1216,-300],"id":"355b7245-6ffd-4a97-ac44-1008a09b8327","name":"Insert Data","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres Main JPG"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Función para procesar ambas fechas\nconst processDate = (input) => {\n  // Procesar headers.date\n  if (input.item.json.headers && input.item.json.headers.date) {\n    const dateString = input.item.json.headers.date;\n    const cleanedDate = dateString.substring(6, dateString.indexOf('+')).trim();\n    // Convertir a formato ISO que n8n entiende mejor\n    const dateObj = new Date(cleanedDate);\n    input.item.json.formatted_date = dateObj.toISOString();\n  }\n  \n  // Procesar hora_falla\n  if (input.item.json.output && input.item.json.output.hora_falla) {\n    const horaFallaStr = input.item.json.output.hora_falla;\n    const timePart = horaFallaStr.substring(0, 5); // \"09:55\"\n    const datePart = horaFallaStr.substring(horaFallaStr.indexOf(\"del \") + 4); // \"2025-03-18\"\n    // Crear objeto Date y convertir a ISO\n    const dateObj = new Date(`${datePart}T${timePart}:00`);\n    input.item.json.formatted_hora_falla = dateObj.toISOString();\n  }\n  \n  return input.item;\n};\n\n// Ejecutar función\nreturn processDate($input);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[556,-200],"id":"ed2a7a7e-4b1d-4edc-b5af-ee51fc429355","name":"Formating Date"},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-700,-50],"id":"ee01b409-b241-4528-b934-08fb3c71adde","name":"Gmail","webhookId":"dbe0bd68-ed8a-4285-9d0d-ced0c21322b7","credentials":{"gmailOAuth2":{"id":"hnyUjIRS74ZNMIfB","name":"Gmail API FutureBit"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread","sender":"jaimep@ifxcorp.com"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-920,-660],"id":"3d976ab9-2b39-4f59-b627-46950a4c7378","name":"Gmail Trigger1","credentials":{"gmailOAuth2":{"id":"hnyUjIRS74ZNMIfB","name":"Gmail API FutureBit"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"ERES UN EXPERTO EXTRACTOR DE INFORMACIÓN DE CORREOS ELECTRÓNICOS, ESPECIALIZADO EN IDENTIFICAR Y EXTRAER DATOS CLAVE RELACIONADOS CON INCIDENCIAS TÉCNICAS EN SERVICIOS DE TELECOMUNICACIONES.\n\n### INSTRUCCIONES ###\nTU TAREA ES EXTRAER Y PRESENTAR LOS SIGUIENTES ELEMENTOS CLAVE A PARTIR DEL CONTENIDO DEL CORREO ELECTRÓNICO QUE SE TE PROPORCIONE:\n\n1. **EXTRAER EL CÓDIGO DE INCIDENTE**:\n   - IDENTIFICA cualquier conjunto de caracteres que siga un patrón similar a \"COCOIFX\" seguido de una combinación de letras y números (ejemplo: `COCOIFX10036936C`).\n   - SI EL CÓDIGO ESTÁ INCOMPLETO O DAÑADO, PROPORCIONA UNA NOTIFICACIÓN QUE LO INDIQUE.\n\n2. **EXTRAER LA INFORMACIÓN DE CAPACIDAD**:\n   - BUSCA un texto que mencione una capacidad técnica como \"Ethernet 50.00Mbps\", \"100Mbps\", etc., e INCLUYE cualquier información geográfica o técnica adyacente que ayude a contextualizar la ubicación o el entorno del servicio (ejemplo: `Ethernet 50.00Mbps`).\n\n3. **EXTRAER EL CLIENTE**:\n   - IDENTIFICA el nombre de la empresa o institución que figure como el cliente final. Este suele encontrarse en la descripción de la capacidad o en otros textos del correo.\n\n4. **EXTRAER LA HORA DE LA FALLA**:\n   - BUSCA una mención que contenga una referencia temporal específica en formato de hora UTC o similar, interpreta la hora y debe convertirse en formato DATETIME para SQL en formato (ejemplo: `11:37 UTC del 2025-03-18`).\n\n5. **EXTRAER EL CODIGO DEL CLIENTE**:\n   - IDENTIFICA el CODIGO del CLIENTE FINAL. Este suele encontrarse en la descripción de la capacidad es un formato numerico de 4 o mas cifras, en el ejemplo es el que esta entre los dobles asteriscos (ejemplo: `NNI BARRANQUILLA- **905792** INSTITUTO CENTRO DE SISTEMAS SAS PUERTO COLOMBIA`).\n\n### FORMATO DE SALIDA ###\nPRESENTA LA INFORMACIÓN EXTRAÍDA EN EL SIGUIENTE FORMATO JSON, **SIN NINGÚN TEXTO ADICIONAL**, COMENTARIO O EXPLICACIÓN:\n\n```json\n{\n\"codigo_incidente\": \"[CÓDIGO]\",\n\"capacidad\": \"[INFORMACIÓN DE CAPACIDAD]\",\n\"service_id\": \"[CODIGO DEL CLIENTE]\",\n\"cliente_final\": \"[NOMBRE DEL CLIENTE FINAL]\",\n\"hora_falla\": \"[HORA EN FORMATO UTC]\"\n}\n⚠️ SOLO DEVUELVE EL JSON — SIN TEXTO ADICIONAL, SIN EXPLICACIONES, SIN CONTEXTO ⚠️\n⚠️ NO USES FRASES COMO \"A CONTINUACIÓN SE PRESENTA...\" O \"SE IDENTIFICÓ...\" ⚠️\n⚠️ ELIMINA CUALQUIER MENSAJE FUERA DEL JSON ⚠️\n\nLO QUE NO SE DEBE HACER\nNO INVENTES información si no está presente en el correo.\nNO OMITAS datos clave si están claramente indicados.\nNO ALTERES el formato original del texto extraído; solo límpialo si es necesario para mejorar la legibilidad.\nNO ADIVINES si la información está incompleta; en su lugar, indica \"[NO ENCONTRADO]\" en el campo correspondiente.\nNO INCLUYAS NINGÚN RESUMEN, ANÁLISIS O EXPLICACIÓN ADICIONAL; SOLO DEVUELVE EL JSON.\nEJEMPLO DE ENTRADA Y SALIDA\nEntrada del correo: \"Estimado equipo, Se detectó una falla en el circuito COCOIFX10036936C con capacidad Ethernet 50.00Mbps-NNI BARRANQUILLA-905792 INSTITUTO CENTRO DE SISTEMAS SAS PUERTO COLOMBIA. Esta incidencia afecta al cliente INSTITUTO CENTRO DE SISTEMAS SAS. El evento ocurrió a las 11:37 UTC del 2025-03-18.\"\n\nEjemplo de Salida esperada:\n\n{\n\"codigo_incidente\": \"COCOIFX10036936C\",\n\"capacidad\": \"Ethernet 50.00Mbps\",\n\"service_id\": \"905792\",\n\"cliente_final\": \"INSTITUTO CENTRO DE SISTEMAS SAS\",\n\"hora_falla\": \"11:37 UTC del 2025-03-18\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-480,-660],"id":"4d9b11c1-d494-44b9-b61d-dc1759901a5d","name":"AI Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"85485d02-2b97-4b34-99c7-11b07ed4d00e","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"68c1784e-6f3b-4c93-a11c-35de27ebd456","name":"id","value":"={{ $('Gmail Trigger1').item.json.id }}","type":"string"},{"id":"4c9d2cf1-88a1-4802-8a4c-554e8f26f7bc","name":"headers.date","value":"={{ $('Gmail Trigger1').item.json.headers.date }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[116,-660],"id":"ce2e0f32-9d12-45f3-b85c-96e9d6e6127d","name":"JSON Capture Headers Mail"},{"parameters":{"assignments":{"assignments":[{"id":"13575172-a3be-4b44-8245-5d23538f02e1","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-700,-660],"id":"f00928db-bdb6-4f5a-90a7-84bb9221c3d6","name":"Capture Text Mail"},{"parameters":{"jsCode":"let output = $input.item.json.output || \"\";\nif (typeof output === 'string' && output.includes('```json')) {\n  // Extrae el JSON de los delimitadores de markdown\n  output = output.replace(/```json\\s*|\\s*```/g, '');\n  // Convierte el string a objeto\n  $input.item.json.output = JSON.parse(output);\n}\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-104,-660],"id":"ad7dc6cf-550b-4878-9494-2732b4806832","name":"Convert to JSON"},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-392,-440],"id":"277595b9-dbd6-4c6f-9802-6c1e687ff6f6","name":"Proxy LLM - llama 8B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"JSON Object Capture","type":"main","index":0}]]},"Text Capture from Mail":{"main":[[{"node":"Validate Subject \"Falla Energia\"","type":"main","index":0}]]},"Proxy LLM":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"JSON Object Capture":{"main":[[{"node":"Formating Date","type":"main","index":0}]]},"Microsoft SQL":{"main":[[]]},"Microsoft SQL1":{"main":[[]]},"If":{"main":[[{"node":"Insert Data","type":"main","index":0}],[{"node":"mail exist","type":"main","index":0}]]},"Validate Subject \"Falla Energia\"":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Subject Fail","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Schedule Trigger":{"main":[[]]},"Query Exist Mail?":{"main":[[{"node":"If","type":"main","index":0}]]},"Insert Data":{"main":[[]]},"Formating Date":{"main":[[{"node":"Query Exist Mail?","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Text Capture from Mail","type":"main","index":0}]]},"Gmail Trigger1":{"main":[[{"node":"Capture Text Mail","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Convert to JSON","type":"main","index":0}]]},"JSON Capture Headers Mail":{"main":[[]]},"Capture Text Mail":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Convert to JSON":{"main":[[{"node":"JSON Capture Headers Mail","type":"main","index":0}]]},"Proxy LLM - llama 8B":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a5db8420-5b56-458f-9b9f-35d17434f58b","triggerCount":0,"tags":[]}