workflowsCreacion AutoMatica de Documentacion de Codigo.json
{"createdAt":"2025-05-08T13:56:08.499Z","updatedAt":"2025-05-13T19:35:11.000Z","id":"Ll75oq2Yfjp0MRbE","name":"Creacion AutoMatica de Documentacion de Codigo","active":true,"nodes":[{"parameters":{"owner":{"__rl":true,"value":"adiazsifx","mode":"name"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/adiazsifx/n8n-backup"},"events":["push"],"options":{}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-600,-80],"id":"46fd0149-41fe-4239-9dbd-dd666da04d41","name":"Github Trigger","webhookId":"39d31de4-a8cb-4a59-921c-bf66d5054078","credentials":{"githubApi":{"id":"f2tIhmKxTLkygd54","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"adiazsifx","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.body.repository.name }}","mode":"name"},"filePath":"={{ $json.body.commits[0].modified[0] }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-320,-80],"id":"c2ae4588-d3ff-474a-9cd1-657e4fcd68ce","name":"GitHub","webhookId":"8656b5c7-138a-47f0-aea9-2c61b395e3a1","credentials":{"githubApi":{"id":"f2tIhmKxTLkygd54","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Eres un experto en desarrollo de automatizaciones con n8n\n\nAnaliza el codigo {{ $json.data }}  y explica la funcion del codigo y las partes que tiene de forma resumida\n\n\nNo Inventes fuera del contexto\n\nTu respuesta debe ser clara, estructurada y corta.\n\nResponde en formato markdown.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[180,-80],"id":"05f312a8-4f18-4205-93d5-754d96dbfa9d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,180],"id":"614b5ead-5f4a-4e55-83b2-fc1ec6a6fe47","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"adiazsifx","mode":"name"},"repository":{"__rl":true,"value":"n8n-backup","mode":"name"},"filePath":"=workflows/README_{{ $('Github Trigger').item.json.body.commits[0].message }}.md","fileContent":"={{ $('AI Agent').item.json.output }}","commitMessage":"=Actualizacion de Documentacion {{ $('GitHub').item.json.body.commits[0].timestamp }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[980,80],"id":"de156cb7-233a-45b5-a69f-bf8b74c513a7","name":"GitHub1","webhookId":"4c4b377d-4ed7-4417-b49b-63897315452b","retryOnFail":true,"maxTries":2,"credentials":{"githubApi":{"id":"f2tIhmKxTLkygd54","name":"GitHub account"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-60,-180],"id":"f65c96c1-ec06-48ac-8b39-e279b9e6cc1a","name":"Extract from File"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"adiazsifx","mode":"name"},"repository":{"__rl":true,"value":"n8n-backup","mode":"name"},"filePath":"=workflows/README_{{ $('Github Trigger').item.json.body.commits[0].message }}.md","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[600,-80],"id":"6104f8db-b5c9-4d74-8dff-d1b64a7811c0","name":"GitHub2","webhookId":"d691a700-dd23-46c3-99eb-b1c5c65eb2a5","alwaysOutputData":false,"credentials":{"githubApi":{"id":"f2tIhmKxTLkygd54","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"adiazsifx","mode":"name"},"repository":{"__rl":true,"value":"n8n-backup","mode":"name"},"filePath":"=workflows/README_{{ $('Github Trigger').item.json.body.commits[0].message }}.md","fileContent":"={{ $('AI Agent').item.json.output }}","commitMessage":"=Actualizacion de Documentacion {{ $('GitHub').item.json.body.commits[0].timestamp }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[980,-200],"id":"f8b708b9-fe39-45ba-bf6f-069c5342d687","name":"GitHub3","webhookId":"4c4b377d-4ed7-4417-b49b-63897315452b","credentials":{"githubApi":{"id":"f2tIhmKxTLkygd54","name":"GitHub account"}}}],"connections":{"Github Trigger":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"GitHub2","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"GitHub2":{"main":[[{"node":"GitHub3","type":"main","index":0}],[{"node":"GitHub1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Github Trigger":{"webhookId":546298549,"webhookEvents":["push"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1fd3934-f867-46a0-8c60-b5c6c379dda3","triggerCount":1,"tags":[]}