workflowsWhisper Wapp.json
{"createdAt":"2025-05-09T15:42:27.252Z","updatedAt":"2025-06-11T23:56:15.000Z","id":"cqjETHNcwRZ4BX6c","name":"Whisper Wapp","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whisper_aifx","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-680,-100],"id":"47fcfc8f-9bd8-440b-b493-efeba0ec4865","name":"Webhook","webhookId":"af7d5856-aa77-4fa7-bb2c-fd25b5f7b909"},{"parameters":{"mode":"insert"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[240,200],"id":"1b4f3f21-3b1c-48a5-9763-3de08b078600","name":"Chat Memory Manager","alwaysOutputData":true,"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.message.audioMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"7af2e709-1c9a-4e1f-813f-608529052060"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5d6d05-28de-446d-b86b-9c588a7bedd7","leftValue":"={{ $('Webhook').item.json.body.data.message.imageMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b5492b7-3dc9-4b9f-8f9e-44e57eeaa22f","leftValue":"={{ $('Webhook').item.json.body.data.message.videoMessage.url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"58b2de1c-a353-48b3-9391-72d8211c788c","leftValue":"={{ $json.conversation }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[836,179],"id":"42acc0b8-197e-4e77-8630-6f4d738546b8","name":"Switch"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"whisper_aifx","messageId":"={{ $('Webhook').item.json.body.data.key.id }}","convertToMp4":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1056,-100],"id":"d9902bba-72b2-40a7-a212-f607e1efb870","name":"Get Audio WApp","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"whisper_aifx","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1056,100],"id":"e811dcc2-d779-412b-94ac-a3a533a91f17","name":"Get Image WApp","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"assignments":{"assignments":[{"id":"92096346-a6ee-4a28-b6cb-0efdac946206","name":"conversation","value":"={{ $('Webhook').item.json.body.data.message.videoMessage.caption }}\n**Este mensaje viene acompañado de un video que no puede ser interpretado, por favor visite el chat para tener contexto**\nMensaje enviado por: {{ $('Webhook').item.json.body.data.pushName }} - \nFecha y Hora del Video: {{ $('Webhook').item.json.body.date_time.toDateTime().format('dd/MM/yyyy HH:MM') }}\n{{ $('Webhook').item.json.body.data.message.reactionMessage.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,300],"id":"6a4e261f-0142-478a-b1d7-d67b8ddbdb65","name":"Set Fields Video"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"mimeType":"={{ $json.data.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1276,-100],"id":"44fde192-72a8-4d3b-b97a-690d8c5dcf99","name":"Convert Audio"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"mimeType":"={{ $json.data.mimetype }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1276,100],"id":"3ddc7619-a71f-4c9f-9347-76d9ccc02a9b","name":"Convert Image"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1496,-100],"id":"deec664e-cf98-4b70-8236-ce89ba68e458","name":"Transcibre Audio","credentials":{"openAiApi":{"id":"w75RuNSCJjKqeuAT","name":"OpenAi JPG"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"text":"Describe detalladamente la imagen, extrae el texto que alli se pueda encontrar","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1496,100],"id":"b90ed50c-77a5-4fc7-8a2e-ec7154bc3cb4","name":"Transcribe Image","credentials":{"openAiApi":{"id":"w75RuNSCJjKqeuAT","name":"OpenAi JPG"}}},{"parameters":{"assignments":{"assignments":[{"id":"9aed5369-214a-44ff-a2da-a584ac66b6ca","name":"text","value":"=<audio>\n{{ $json.text }}\n</audio>","type":"string"},{"id":"2fea67b6-eb69-47fd-bb52-94bf6bf0a4f3","name":"body.data.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1716,-100],"id":"39d540a8-e497-4ee1-8541-0406462484f1","name":"Set Fields Audio"},{"parameters":{"assignments":{"assignments":[{"id":"9aed5369-214a-44ff-a2da-a584ac66b6ca","name":"text","value":"={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}\n{{ $('Webhook').item.json.body.data.message.reactionMessage.text }}\n<image>\n{{ $json.content }}\n</image>","type":"string"},{"id":"2fea67b6-eb69-47fd-bb52-94bf6bf0a4f3","name":"body.data.key.id","value":"={{ $('Webhook').item.json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1716,100],"id":"61bd588e-fa4d-41c3-9451-2b2b0b8282d1","name":"Set Fields Image"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"url_video":"={{ $('Webhook').item.json.body.data.message.videoMessage.url }}","participant":"={{ $('Webhook').item.json.body.data.key.participant }}","pushName":"={{ $('Webhook').item.json.body.data.pushName }}","conversation":"={{ $('Webhook').item.json.body.data.message.conversation }}\n{{ $('Webhook').item.json.body.data.message.imageMessage.caption }}\n{{ $('Webhook').item.json.body.data.message.reactionMessage.text }}","instanceId":"={{ $('Webhook').item.json.body.data.instanceId }}","dateTime":"={{ $('Webhook').item.json.body.date_time.toDateTime().toISO() }}","sender":"={{ $('Webhook').item.json.body.sender }}","url_image":"={{ $('Webhook').item.json.body.data.message.imageMessage.url }}","url_audio":"={{ $('Webhook').item.json.body.data.message.audioMessage.url }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","nombrechat":"={{ $('Get Group Name').item.json.data.subject }}","id_chat":"={{ $('Webhook').item.json.body.data.key.id }}"},"matchingColumns":["id"],"schema":[{"id":"id_chat","displayName":"id_chat","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instanceId","displayName":"instanceId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dateTime","displayName":"dateTime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombrecliente","displayName":"nombrecliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"real_name_user","displayName":"real_name_user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[616,200],"id":"4e806140-4acc-41eb-8ad9-ade76015941a","name":"Add Row Text","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"conversation":"={{ $json.text }}","id_chat":"={{ $json.body.data.key.id }}"},"matchingColumns":["id_chat"],"schema":[{"id":"id_chat","displayName":"id_chat","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instanceId","displayName":"instanceId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dateTime","displayName":"dateTime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1936,0],"id":"619661eb-8631-475f-9bd7-ab8544214758","name":"Update Row Audio Image","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"conversation":"={{ $json.text }}","id_chat":"={{ $('Webhook').item.json.body.data.key.id }}"},"matchingColumns":["id_chat"],"schema":[{"id":"id_chat","displayName":"id_chat","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"instanceId","displayName":"instanceId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dateTime","displayName":"dateTime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombrecliente","displayName":"nombrecliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"real_name_user","displayName":"real_name_user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1276,300],"id":"f64c9592-2123-4b06-a3d7-f0d42b5d9991","name":"Update Row Video","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1056,500],"id":"3acabb04-1c37-411f-90a8-e0905ea5e339","name":"No Operation, do nothing"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"whisper_aifx","searchMethod":"groupJid","groupJid":"={{ $json.body.data.key.remoteJid }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[20,200],"id":"5596f18c-0d90-45dd-af3e-0a2bbae81907","name":"Get Group Name","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[328,420],"id":"92642a2a-d535-416f-a5c6-f73f2fd68e46","name":"Simple Memory","disabled":true},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"📢 ¡Notificación de Grupo Nuevo!","bodyContent":"=🎉 Has sido agregado a un nuevo grupo de WhatsApp:\n\n👥 Grupo: {{ $('IF New Group').item.json.body.data[0].subject }}\n🔗 Generado por: AIFX\n\n---","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[20,0],"id":"e370efa9-d490-48a1-9030-966ebef2200a","name":"Mail New Group","webhookId":"45c174e6-4044-4f1d-ae76-331de3f22f3a","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0f6c15b-ac47-4d89-8eb6-65c7b509bb07","leftValue":"={{ $json.body.event }}","rightValue":"groups.upsert","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,-100],"id":"ae8f2c85-24ee-4e50-8fa2-e4f5ee9fed20","name":"IF New Group"},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"=📢 ¡Notificación de Grupo Nuevo!\n\n🎉 Has sido agregado a un nuevo grupo de WhatsApp:\n👥 Grupo: {{ $('IF New Group').item.json.body.data[0].subject }}\n🔗 Generado por: AIFX","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[20,-200],"id":"5d83a15d-5aa0-407f-8739-62a26d2ea999","name":"WAP New Group","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT \"remoteJid\", nombre_del_chat\nFROM equivalencia_chats \nWHERE \"remoteJid\" = '{{ $('Webhook').first().json.body.data[0].id }}'\n   OR nombre_del_chat = '{{ $('Webhook').first().json.body.data[0].subject }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[20,-400],"id":"2ee95ac0-e5a4-4c38-8b08-464d2d7a68ed","name":"Search RemoteJid","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"equivalencia_chats","mode":"list","cachedResultName":"equivalencia_chats"},"columns":{"mappingMode":"defineBelow","value":{"nombre_del_chat":"={{ $('Webhook').first().json.body.data[0].subject }}","nombre_cliente":"={{ $('Webhook').first().json.body.data[0].subject }}","cid":"11111","experience_name":"No Aplica","segment":"IFX","remoteJid":"={{ $('Webhook').first().json.body.data[0].id }}"},"matchingColumns":["id"],"schema":[{"id":"nombre_del_chat","displayName":"nombre_del_chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_cliente","displayName":"nombre_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"experience_name","displayName":"experience_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"segment","displayName":"segment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[616,-400],"id":"4ae37cd1-1c87-4a28-90dc-2e1e04d02dc5","name":"Set RemoteJid","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da08ad56-d336-4e84-a024-7ff7b903c4ab","leftValue":"={{ Object.keys($json).length === 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"ca8e0e2a-af4f-49e5-8965-1eec540086c7","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[318,-400],"id":"89fd4680-82d3-43ce-a003-3293fc530f1f","name":"RemoteJid Empty"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[616,-100],"id":"df31ee16-1ef5-4e04-a6e5-48921f1fcfaf","name":"do nothing new remoteJid"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77616b3d-eaad-44eb-8621-bc1df2d29c3d","leftValue":"={{ $json.exist }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,660],"id":"5b75ee1b-6276-4292-b67f-264a72c7af48","name":"Exist User IFX?"},{"parameters":{"operation":"executeQuery","query":"SELECT CASE \n    WHEN COUNT(*) > 0 THEN true \n    ELSE false \nEND AS exist\nFROM numbers_ifx \nWHERE celular = SPLIT_PART('{{ $('Webhook').item.json.body.data.key.participant }}', '@', 1);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[840,580],"id":"4be58f63-4e73-46c6-8eac-e3dc5a5c25e3","name":"Check Real Name","alwaysOutputData":true,"credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n   CASE \n       WHEN COUNT(*) > 0 THEN true \n       ELSE false \n   END AS encontrado,\n   CASE \n       WHEN COUNT(*) > 0 THEN UPPER(MAX(nombre))\n       ELSE NULL\n   END AS real_name\nFROM numbers_ifx \nWHERE celular = SPLIT_PART('{{ $('Add Row Text').item.json.participant }}', '@', 1);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1280,560],"id":"b747c25b-16e2-4809-9f08-d35747ac9a90","name":"Search Real Name}","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"id_chat":"={{ $('Webhook').item.json.body.data.key.id }}","real_name_user":"={{ $json.real_name }}"},"matchingColumns":["id_chat"],"schema":[{"id":"id_chat","displayName":"id_chat","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pushName","displayName":"pushName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instanceId","displayName":"instanceId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dateTime","displayName":"dateTime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombrecliente","displayName":"nombrecliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"real_name_user","displayName":"real_name_user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1480,560],"id":"e6bcd1d6-e299-4a04-93c0-11b4fac9c03d","name":"Set Real Name","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}}],"connections":{"Webhook":{"main":[[{"node":"IF New Group","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Add Row Text","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Audio WApp","type":"main","index":0}],[{"node":"Get Image WApp","type":"main","index":0}],[{"node":"Set Fields Video","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get Audio WApp":{"main":[[{"node":"Convert Audio","type":"main","index":0}]]},"Get Image WApp":{"main":[[{"node":"Convert Image","type":"main","index":0}]]},"Set Fields Video":{"main":[[{"node":"Update Row Video","type":"main","index":0}]]},"Convert Audio":{"main":[[{"node":"Transcibre Audio","type":"main","index":0}]]},"Convert Image":{"main":[[{"node":"Transcribe Image","type":"main","index":0}]]},"Transcibre Audio":{"main":[[{"node":"Set Fields Audio","type":"main","index":0}]]},"Transcribe Image":{"main":[[{"node":"Set Fields Image","type":"main","index":0}]]},"Set Fields Audio":{"main":[[{"node":"Update Row Audio Image","type":"main","index":0}]]},"Set Fields Image":{"main":[[{"node":"Update Row Audio Image","type":"main","index":0}]]},"Add Row Text":{"main":[[{"node":"Switch","type":"main","index":0},{"node":"Check Real Name","type":"main","index":0}]]},"Get Group Name":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"IF New Group":{"main":[[{"node":"Mail New Group","type":"main","index":0},{"node":"WAP New Group","type":"main","index":0},{"node":"Search RemoteJid","type":"main","index":0}],[{"node":"Get Group Name","type":"main","index":0}]]},"Search RemoteJid":{"main":[[{"node":"RemoteJid Empty","type":"main","index":0}]]},"RemoteJid Empty":{"main":[[{"node":"Set RemoteJid","type":"main","index":0}],[{"node":"do nothing new remoteJid","type":"main","index":0}]]},"Set RemoteJid":{"main":[[]]},"Exist User IFX?":{"main":[[{"node":"Search Real Name}","type":"main","index":0}]]},"Check Real Name":{"main":[[{"node":"Exist User IFX?","type":"main","index":0}]]},"Search Real Name}":{"main":[[{"node":"Set Real Name","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Txht1wrdLAI370JY","timeSavedPerExecution":5,"executionTimeout":600,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"content-type":"application/json","user-agent":"axios/1.7.9","content-length":"781","accept-encoding":"gzip, compress, deflate, br","host":"192.168.2.12:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"whisper_aifx","data":{"key":{"remoteJid":"120363406598066040@g.us","fromMe":false,"id":"3EB08EFCDB6E0CE1BA3FB8","participant":"573185327947@s.whatsapp.net"},"pushName":"Ifx Corp-Yennifer Gomez Caro","status":"DELIVERY_ACK","message":{"conversation":"gracias, mañana valido y les confirmo, feliz  tarde","messageContextInfo":{"messageSecret":"qNp23Yo+j26i7MOQAL9epIR+Wknh2z/DOcSb0SGbaFc="}},"messageType":"conversation","messageTimestamp":1749682441,"instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","source":"web"},"destination":"http://192.168.2.12:5678/webhook/whisper_aifx","date_time":"2025-06-11T17:54:01.354Z","sender":"573171057858@s.whatsapp.net","server_url":"http://localhost:8080","apikey":"F5423A2C90AA-4A2D-A43D-FAEB131E5273"},"webhookUrl":"https://n8n.aifx.com.co/webhook/whisper_aifx","executionMode":"production"}}]},"versionId":"3be0a6e1-951b-4d65-ad76-c4e1359a0ff2","triggerCount":1,"tags":[]}