workflowsanalisys RFP V2.json
{"createdAt":"2025-04-22T01:25:03.421Z","updatedAt":"2025-05-30T15:12:39.000Z","id":"gI0QAnugyHC8mbEg","name":"analisys RFP V2","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{$json.mimeType}}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals"},"id":"b7f674dc-b0b2-46ef-a708-f2cd1bc8116e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Word"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c299e7f1-81fa-4a03-aa67-91b8ed421b02","leftValue":"={{$json.mimeType}}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c2cfac87-d08b-431a-b252-5148c7a944f3","leftValue":"={{$json.mimeType}}","rightValue":"image/","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5b390ef4-81dd-4521-8441-93047d436432","leftValue":"={{$json.mimeType}}","rightValue":"=application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-360,-640],"id":"580de1fd-6f6f-4863-9fdc-e96faa9b6498","name":"Switch"},{"parameters":{"jsCode":"// ---------------------------------------------\n// FUNCIÓN: Convierte Markdown → HTML + template\n// ---------------------------------------------\nfunction formatMarkdownToHtml(markdown) {\n\tif (!markdown) return '';\n\n\t//------------------------------------------------------------------\n\t// 1. TÍTULOS, LISTAS, TABLAS, NEGRITAS…  ➜  Se mantiene tu lógica\n\t//------------------------------------------------------------------\n\tlet html = markdown.replace(/^# (.*?)$/gm, (_, titleText, offset, fullText) => {\n\t\tconst index = fullText.slice(0, offset).match(/^# /gm)?.length || 0;\n\t\tconst styles = [\n\t\t\t'font-size: 32px; color: #0a1f44; font-weight: 800; margin: 30px 0 12px; padding-bottom: 6px; border-bottom: 3px solid #0071ce; line-height: 1.2; font-family: Segoe UI, Roboto, sans-serif;',\n\t\t\t'font-size: 28px; color: #123c69; font-weight: 700; margin: 26px 0 10px; padding-bottom: 4px; border-bottom: 2px solid #0071ce; line-height: 1.2;',\n\t\t\t'font-size: 24px; color: #1a1a1a; font-weight: 600; margin: 22px 0 8px; padding-bottom: 2px; border-bottom: 1px solid #ccc; line-height: 1.2;',\n\t\t\t'font-size: 22px; color: #333; font-weight: 600; margin: 18px 0 6px; line-height: 1.2;',\n\t\t];\n\t\treturn `<h1 style=\"${styles[Math.min(index, styles.length - 1)]}\">${titleText}</h1>`;\n\t});\n\n\thtml = html\n\t\t.replace(/^## (.*?)$/gm, '<h2 style=\"font-size: 18px; color: #041e42; margin-top: 20px; margin-bottom: 10px; border-left: 4px solid #0071ce; padding-left: 10px;\">$1</h2>')\n\t\t.replace(/\\*\\*(.*?)\\*\\*/g, '<strong style=\"font-weight: bold; color: #041e42;\">$1</strong>')\n\t\t.replace(/^- (.*?)$/gm, '<li style=\"margin-bottom: 5px; font-size: 16px;\">$1</li>');\n\n\t// Agrupar <li> en <ul>\n\tconst grouped = [];\n\tlet current = [];\n\tfor (const line of html.split('\\n')) {\n\t\tif (line.startsWith('<li')) current.push(line);\n\t\telse {\n\t\t\tif (current.length) {\n\t\t\t\tgrouped.push('<ul style=\"margin-left: 10px; padding-left: 20px; margin-bottom: 10px;\">', ...current, '</ul>');\n\t\t\t\tcurrent = [];\n\t\t\t}\n\t\t\tgrouped.push(line);\n\t\t}\n\t}\n\tif (current.length) grouped.push('<ul style=\"margin-left: 10px; padding-left: 20px; margin-bottom: 10px;\">', ...current, '</ul>');\n\thtml = grouped.join('\\n');\n\n\t// Tablas Markdown → HTML\n\thtml = html.replace(/((?:^\\|.*\\|\\s*\\n?)+)/gm, match => {\n\t\tconst rows = match.trim().split('\\n').map(r => r.trim().split('|').filter(c => c.trim()));\n\t\tconst header = rows[0], body = rows.slice(1).filter(r => !r.every(c => /^-+$/.test(c)));\n\t\tconst thead = `<thead><tr>${header.map(h => `<th>${h.trim()}</th>`).join('')}</tr></thead>`;\n\t\tconst tbody = `<tbody>${body.map(row => `<tr>${row.map(c => `<td>${c.trim()}</td>`).join('')}</tr>`).join('')}</tbody>`;\n\t\treturn `<table class=\"markdown-table\">${thead}${tbody}</table>`;\n\t});\n\n\t// Saltos de línea\n\thtml = html.replace(/\\n/g, '<br/>')\n\t           .replace(/<\\/h[12]><br\\/>/g, m => m.replace('<br/>', ''))\n\t           .replace(/<\\/ul><br\\/>/g, '</ul>');\n\n\t//------------------------------------------------------------\n\t// 2. TEMPLATE con tu cabecera y pie de página corporativos\n\t//------------------------------------------------------------\n\tconst formattedHTML = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Resumen RFP</title>\n<style>\n  /* ====== ESTILOS ORIGINALES (sin cambios) ====== */\n  body {font-family:'Arial',sans-serif;background-color:#f4f6f8;margin:0;color:#2c3e50;}\n  .container{max-width:700px;margin:40px auto;background:#fff;border-radius:8px;box-shadow:0 2px 8px rgba(44,62,80,0.07);padding:0 0 30px;}\n  .header{padding:40px 40px 20px;border-bottom:1px solid #e9ecef;text-align:left;background:#232a34;border-radius:8px 8px 0 0;}\n  .header-row{display:flex;align-items:center;gap:28px;}\n  .header-titles{display:flex;flex-direction:column;gap:2px;}\n  .header-titles .title,.header-title-main{color:#fff;}\n  .header-titles .title{font-size:24px;font-weight:600;margin-bottom:2px;}\n  .header-title-main{font-size:28px;font-weight:700;margin:0;}\n  .logo{max-width:180px;height:auto;margin-bottom:20px;}\n  .markdown-table{border-collapse:collapse;width:100%;margin:20px 0;font-size:14px;}\n  .markdown-table th,.markdown-table td{border:1px solid #ccc;padding:8px 12px;text-align:left;}\n  .markdown-table th{background-color:#0071ce;color:#fff;}\n  .markdown-table tr:nth-child(even) td{background:#f9f9f9;}\n  .footer{background:#232a34;color:#e0e0e0;padding:32px 40px 24px;border-radius:0 0 8px 8px;font-size:13px;text-align:left;margin-top:32px;}\n  .footer-logo{max-width:110px;height:auto;margin-bottom:10px;}\n  .footer-title{font-weight:700;color:#fff;margin-bottom:4px;font-size:15px;}\n  .footer-row{display:flex;gap:32px;margin-top:12px;}\n  .footer-info{flex:1;line-height:1.7;font-size:13px;color:#e0e0e0;}\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <!-- ===== CABECERA ===== -->\n    <div class=\"header\">\n      <div class=\"header-row\">\n        <img src=\"https://ifxnetworks.com/hubfs/IFX/logo-ifx--primary.svg\" alt=\"IFX Networks\" class=\"logo\">\n        <div class=\"header-titles\">\n          <div class=\"title\">Bienvenido a</div>\n          <div class=\"header-title-main\">IFX Networks</div>\n        </div>\n      </div>\n      <div style=\"font-size:15px;color:#d2d2d2;margin-bottom:10px;\">\n        Gracias por su interés. A continuación encontrará el resumen analítico de su RFP.\n      </div>\n    </div>\n\n    <!-- ===== CONTENIDO DINÁMICO ===== -->\n    <div style=\"padding:32px 40px;\">\n      ${html}\n    </div>\n\n    <!-- ===== PIE DE PÁGINA ===== -->\n    <div class=\"footer\">\n      <img src=\"https://ifxnetworks.com/hubfs/IFX/logo-ifx--primary.svg\" alt=\"IFX Networks\" class=\"footer-logo\">\n      <div class=\"footer-title\">IFX Networks</div>\n      <div class=\"footer-row\">\n        <div class=\"footer-info\">\n          25 años de experiencia en el mercado de las Telecomunicaciones.\n        </div>\n        <div class=\"footer-info\">\n          Diagonal 97 No. 17 – 60 piso 4<br>Edificio Centro Empresarial Corporativo<br>Bogotá, Colombia\n        </div>\n        <div class=\"footer-info\">\n          +57 (601) 369 3000<br>CARE: +57 (601) 369 3024\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>`;\n\treturn formattedHTML;\n}\n\n// -----------------------------------------------------------------\n// ENTRADA DESDE EL NODO ANTERIOR → markdown en text/plain\n// -----------------------------------------------------------------\nconst markdownText = $input.first().json.markdown || $input.first().json.output || '';\nconst formattedHtml = formatMarkdownToHtml(markdownText);\n\n// DEVOLVER RESULTADO PARA LOS SIGUIENTES NODOS (guardar / enviar)\nreturn [\n\t{\n\t\tjson: {\n\t\t\tmarkdownText,\n\t\t\tformattedHtml,\n\t\t},\n\t},\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,-620],"id":"229d9c96-5e3e-4550-af89-65d8166a4883","name":"Convert to HTML"},{"parameters":{"errorMessage":"Error Processing Document"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[900,-700],"id":"3a909b8c-9ab5-45a4-8f63-3031d477c1d9","name":"Error PDF"},{"parameters":{"toRecipients":"=cbautista@ifxcorp.com, jaimep@ifxcorp.com","subject":"=Resumen RFP {{ $('Webhook').item.json.body.empresa }}","bodyContent":"={{ $json.formattedHtml }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[4560,-620],"id":"6fcca0c1-4f23-4388-87f8-e5cab3e3b859","name":"Send Mail","webhookId":"4d4b099c-c77e-49cd-924d-254b0d51e936","credentials":{"microsoftOutlookOAuth2Api":{"id":"zrNdsL9SZMvBfPt3","name":"Microsoft Outlook cbautista"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[500,-640],"id":"a168c71e-ce91-4faf-8d78-21332d899fc3","name":"Status Process"},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","messages":{"messageValues":[{"message":"=1. Rol & Contexto\nRol : Eres un analista experto en contratación de servicios de telecomunicaciones.\n\nEntrada : recibirás el contenido completo de un documento RFP (Word, Excel, PDF o imagen con OCR).\n\nSalida : un resumen MUY conciso en Markdown con la estructura fija de bloques que se indica abajo.\n\nObjetivo : generar chunks semánticamente densos para vectorizar (RAG) y, si el archivo es Excel, extraer en tabla aparte los valores numéricos críticos (costos, cantidades, fechas) para almacenarlos como campos estructurados.\n\n2. Formato DE RESPUESTA OBLIGATORIO\nmarkdown\nCopiar\nEditar\n\n# 🗂 METADATOS\nSolicitante: <nombre-empresa-o-entidad | N/D>\n\n## 🔐 LEGAL-CONTRACTUAL\n- <punto 1 (≤ 20 palabras)>\n- …\n\n## 💰 ADMIN-ECONÓMICOS\n- <punto 1>\n- …\n\n## 📑 REQ. DOCUMENTALES\n- …\n\n## 🛠 REQ. TÉCNICOS\n- …\n\n## 📊 MÉTRICAS ESTRUCTURADAS (sólo si el archivo es Excel)\n| clave           | valor | unidad | hoja_origen | celda_o_rango |\n|-----------------|-------|--------|-------------|---------------|\n| N/D             | N/D   | N/D    | N/D         | N/D           |\n\n## ⚠ RIESGOS / AMBIGÜEDADES\n- …\n\n## ✅ OBSERVACIONES\n- …\n\n3. Reglas de extracción\nTema\tInstrucciones\nSolicitante\tBusca “Solicitante: …”, “Cliente: …”, membretes o firmas. Si no existe → N/D.\nSíntesis (viñetas)\tMáx. 20 palabras, evita redundancias, incluye cifras, porcentajes y fechas clave.\nTablas críticas\tSi el documento original (Word/PDF) trae tablas relevantes (SLAs, precios), reprodúcelas justo después del bloque al que pertenezcan, en Markdown limpio.\nBloque MÉTRICAS ESTRUCTURADAS\t<ul><li>Obligatorio si es Excel.</li><li>Sólo números clave (costos, cantidades, plazos).</li><li>Usa una única tabla con el encabezado mostrado.</li><li>No mezcles texto descriptivo; cada fila = 1 dato.\nEj.: `costo_mensual_usd\nFormato estricto\t• No crear secciones nuevas • No incluir JSON ni etiquetas de código • Usa – para celdas vacías • Mantén número de columnas constante.\nSanidad\tSustituye dobles saltos por uno, normaliza espacios, no repitas el prompt ni metas comentarios.\n\n4. Ejemplo mínimo (solo ilustrativo)\nmarkdown\nCopiar\nEditar\n# 🗂 METADATOS\nSolicitante: ACME Telecom\n\n## 🔐 LEGAL-CONTRACTUAL\n- Duración 60 meses; renovación automática salvo aviso 90 días antes.\n- Garantía cumplimiento 15 % anual del contrato.\n\n## 💰 ADMIN-ECONÓMICOS\n- Precio mensual estimado: USD 2 500 por sitio.\n- Pago 60 días NETO, sin anticipos.\n\n## 📑 REQ. DOCUMENTALES\n- 3 cartas de referencia (< 2 años).\n- Certificaciones ISO 27001, PCI-DSS.\n\n## 🛠 REQ. TÉCNICOS\n- Plataforma SD-WAN VMware VeloCloud; disponibilidad 99,982 %.\n\n## 📊 MÉTRICAS ESTRUCTURADAS (sólo si es Excel)\n| clave                | valor | unidad | hoja_origen | celda_o_rango |\n|----------------------|-------|--------|-------------|---------------|\n| costo_mensual_usd    | 2500  | USD    | Costos      | B12           |\n| usuarios_total       | 1200  | –      | Resumen     | D4            |\n\n## ⚠ RIESGOS / AMBIGÜEDADES\n- Ambigüedad en cláusula de renovación sobre tarifa futura.\n\n## ✅ OBSERVACIONES\n- Verificar vigencia de certificaciones vs. duración del contrato.\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1000,-580],"id":"3baa4eea-69c4-4abc-a758-5aed8ca6a122","name":"Analizando Documento"},{"parameters":{"operation":"completion","completionTitle":"Error en el Analisis","completionMessage":"=el Analisis del documento ** {{ $('On form submission').item.json.Document.filename }} **\nPresento un error en su procesamiento, por favor intente de nuevo el proceso.","limitWaitTime":true,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[700,-760],"id":"e5eb6787-411e-45fc-aafe-4e4f0fdd27bf","name":"Form Error","webhookId":"672dd2c6-3c4d-472e-a14e-ea16a65e965b"},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"={{ $json.binaryField}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,-620],"id":"31778906-6f22-4057-bbac-80a245a7b0a3","name":"Parser Documento","credentials":{"httpHeaderAuth":{"id":"T8quSeWOL90AppRG","name":"Header Auth account 2"}}},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-580],"id":"a1c77ac5-4553-4b1a-89b3-fe96f9776124","name":"Success Document","credentials":{"httpHeaderAuth":{"id":"T8quSeWOL90AppRG","name":"Header Auth account 2"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,-340],"id":"2074b904-e00d-486d-ba24-b48d5107c20b","name":"Wait Process Document","webhookId":"f2ebea6a-82b1-44b0-88ea-6f80826d99f9"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,-620],"id":"6db58a68-5034-4972-af1f-3895ce9276ab","name":"GET Parser Document","credentials":{"httpHeaderAuth":{"id":"T8quSeWOL90AppRG","name":"Header Auth account 2"}}},{"parameters":{"operation":"completion","completionTitle":"Analisis Finalizado","completionMessage":"=El Analisis del documento\n** {{ $('On form submission').item.json.Document.filename }} **\na finalizado y el resultado fue enviado a\n{{ $('On form submission').item.json.Email }}","limitWaitTime":true,"resumeUnit":"minutes","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[4880,-440],"id":"d478e459-90c6-437d-8720-8154568fbce6","name":"Finish Success","webhookId":"672dd2c6-3c4d-472e-a14e-ea16a65e965b"},{"parameters":{"httpMethod":"POST","path":"parse-rfp","responseMode":"=onReceived","options":{"binaryPropertyName":"Document"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1420,-860],"id":"3420b700-9ab9-42ff-96df-34ae99a12d21","name":"Webhook","webhookId":"90fd164e-74ce-4bc0-a8e2-6a3f3d3f1ec9"},{"parameters":{"operation":"update","collection":"analyses_rfp","updateKey":"\"{{ $('Insert Start Session').item.json._id }}\"","fields":"={\n  \"compania\": \"{{ $('Webhook').item.json.body.empresa }}\",\n  \"sessionId\":\"{{ $('SessionID Start').item.json.session_id }}\",\n  \"nombreArchivo\": \"{{ $('Webhook').item.json.body.empresa }}_{{ new Date().toISOString() }}\", \n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"step\": \"Finalizado send email\",\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[5080,-920],"id":"c0c067ce-0bee-4b0f-916c-a318a98802a1","name":"MongoDB5","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f336ff44-ae3a-45a7-907b-4ef304a741cb","leftValue":"={{ $json.formattedHtml }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3212c3fe-3cdb-4d04-a400-51b307372b11","leftValue":"={{ $json.formattedHtml }}","rightValue":"error","operator":{"type":"string","operation":"notContains"}},{"id":"0336095c-5b73-445e-9cf4-351848a9b4c8","leftValue":"={{ $json.formattedHtml }}","rightValue":"undefined","operator":{"type":"string","operation":"notContains"}},{"id":"fe665b60-9bde-4cda-b9da-0a0d4f3cf0a7","leftValue":"={{ $json.formattedHtml }}","rightValue":"null","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4360,-400],"id":"c70c26e3-080a-4bad-a876-b7f26d66f0a4","name":"If1","disabled":true},{"parameters":{"errorMessage":"Error Processing Document"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4580,-240],"id":"ccf15a59-8b10-4a52-b701-86e8c10b299c","name":"Error PDF2","disabled":true},{"parameters":{"jsCode":"// Genera un session_id tipo: \"20240519-168957-a8f23\"\nconst timestamp = new Date().toISOString().replace(/[-:.TZ]/g, '').slice(0, 14);\nconst random = Math.floor(Math.random() * 1000000).toString().padStart(6, '0');\nconst sessionId = `session-${timestamp}-${random}`;\nconst numberOfFiles = items.length;\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    session_id: sessionId,\n    number_of_files_received: numberOfFiles\n  },\n  binary: item.binary\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1000,-860],"id":"1c875467-3107-408a-bc0c-21ab148e5093","name":"Inicio de sesion"},{"parameters":{"jsCode":"const resumen = $json.resumen || '';\nconst escapeHtml = (unsafe) =>\n  unsafe\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n\nreturn [\n  {\n    json: {\n      ...$json,\n      resumen_html: `<div>${escapeHtml(resumen)}</div>`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4360,-620],"id":"38cb627f-9cb6-4894-9827-7a4f0fd7a5fa","name":"Code","disabled":true},{"parameters":{"jsCode":"// Iteramos sobre los archivos recibidos\nconst files = $input.all();\n\nconst maxFileSize = 20 * 1024 * 1024; // 20MB en bytes\nconst maxFiles = 6;  // Número máximo de archivos por sesión\n\n// Verificamos el número de archivos\nif (files.length > maxFiles) {\n  throw new Error(`Se permiten un máximo de ${maxFiles} archivos por sesión.`);\n}\n\n// Verificamos el tamaño de cada archivo\nfor (let i = 0; i < files.length; i++) {\n  const file = files[i];\n  \n  if (file.binary && file.binary.data) {\n    const fileSize = Buffer.byteLength(file.binary.data);\n    \n    if (fileSize > maxFileSize) {\n      throw new Error(`El archivo ${file.json.fileName} excede el tamaño máximo de 20MB.`);\n    }\n  }\n}\n\nreturn items; // Continuamos con el flujo si todo está bien\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,-860],"id":"5083ce14-890b-4f39-8494-902f2fe7fdfc","name":"Evaluacion # files , peso de archivos"},{"parameters":{"operation":"insert","collection":"prueba_rfp","fields":"={\n  \"compania\": \"{{ $('Webhook').item.json.body.empresa }}\",\n  \"nombreArchivo\": \"{{ $('Webhook').item.json.body.empresa }}_{{ new Date().toISOString() }}\", \n  \"archivoMarkdown\": {{ $json.text }},\n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}\n","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1400,-580],"id":"fd830759-6142-4ccd-aea0-843b2e69d99a","name":"Save_Summary_Data","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{"jsCode":"/**\n * Este nodo debe ejecutarse en modo “Run Once for All Items”\n * (Output: Many → 1-n).\n */\n\n/* ------------------------------------------------------------------\n   1. Tomamos el primer item de la entrada (contiene todos los binarios)\n------------------------------------------------------------------- */\nconst inputItem   = $input.first();\nconst binaryDocs  = inputItem.binary;          // { Document0, Document1, … }\nconst baseJson    = inputItem.json;            // metadatos que ya traía\nconst sessionId   = baseJson.session_id        // ya existe…\n                  || `session-${Date.now()}`;  // …o generamos uno\n\n/* ------------------------------------------------------------------\n   2. Creamos un item por cada archivo binario\n------------------------------------------------------------------- */\nconst newItems = Object.entries(binaryDocs).map(([fieldName, bin]) => {\n\n\t// clon profundo para NO perder la propiedad data\n\tconst clonedBinary = JSON.parse(JSON.stringify(bin));\n    const numberOfBinaryElements = Object.keys(binaryDocs).length;\n\n\treturn {\n\t\tjson: {\n\t\t\t...baseJson,\n\t\t\tsession_id   : sessionId,\n\t\t\tdocument_name: clonedBinary.fileName,\n\t\t\tmimeType     : clonedBinary.mimeType,\n\t\t\tbinaryField  : fieldName,          // «Document0», «Document1», etc.\n            numberOfFiles : numberOfBinaryElements,\n\t\t},\n\t\tbinary: {\n\t\t\t[fieldName]: clonedBinary         // el binario completo\n\t\t}\n\t};\n});\n\n/* ------------------------------------------------------------------\n   3. Devolvemos los nuevos items; cada uno mantiene su propio binario\n------------------------------------------------------------------- */\nreturn newItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,-680],"id":"19debab6-ea5e-49ea-9c60-b66a28f24726","name":"Separar Documentos"},{"parameters":{"url":"http://192.168.3.13:6333/collections","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,-280],"id":"8f6f8ab1-2b26-499a-9296-50c6976b131d","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"LrVcAPhbHcvbYIPa","name":"Qdran Authentication"}}},{"parameters":{"jsCode":"const clientName = $('Webhook').first().json.body.empresa; // Asumiendo que el nombre del cliente viene en el campo 'clientName'\n\nif (!clientName) {\n  throw new Error(\"El nombre del cliente es requerido.\");\n}\n\nconst collectionName = `client_${clientName.replace(/[^a-zA-Z0-9_]/g, '_').toLowerCase()}`; // Nombre de la colección basado en el nombre del cliente\n\nreturn [\n  {\n    json: {\n      collectionName: collectionName,\n      operation: \"check_and_create\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,-420],"id":"7a7614e1-3816-453d-92b6-a1c38b1e27f0","name":"Verificar y Preparar Creación"},{"parameters":{"jsCode":"const collectionsData =$input.first().json.result.collections; // Asumiendo que la respuesta JSON tiene un campo 'result' que es un array de colecciones\nconst clientCollectionName = $('Verificar y Preparar Creación').first().json.collectionName; // Obtén el nombre de la colección del output del primer Function node\n\nif (!collectionsData || !Array.isArray(collectionsData)) {\n  console.log(\"No se encontraron colecciones o el formato de la respuesta es incorrecto.\");\n  return [{ json: { collectionExists: false } }];\n}\n\nconst collectionExists = collectionsData.some(collection => collection.name === clientCollectionName);\n\nreturn [{ json: { collectionExists: collectionExists } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,-400],"id":"559bc6fc-04f1-4172-910f-2a7e6db92604","name":"Verificacion Collection Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ba5ac6d-db68-46f5-8dee-4848c312a601","leftValue":"={{ $json.collectionExists }}","rightValue":"=false","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1880,-540],"id":"6b97e407-f3de-4ae3-b0e6-ffc1e6c9945c","name":"If"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"={{ $('Verificar y Preparar Creación').item.json.collectionName }}","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[2240,-780],"id":"35f6e59f-d4a9-4306-be9d-718ae79ef3a4","name":"Insert Documents","credentials":{"qdrantApi":{"id":"RHA3vcrOm5VwmYlq","name":"QdrantApi account"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"={{ $('Verificar y Preparar Creación').item.json.collectionName }}","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[2240,-240],"id":"998be79a-8530-4f78-a12d-8bcf55a4bd68","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"RHA3vcrOm5VwmYlq","name":"QdrantApi account"}}},{"parameters":{"method":"PUT","url":"=http://192.168.3.13:6333/collections/{{ $('Verificar y Preparar Creación').item.json.collectionName }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2040,-340],"id":"4d119952-e0fe-460e-8134-a7b6160ae7e1","name":"Create Collection","credentials":{"httpBearerAuth":{"id":"LrVcAPhbHcvbYIPa","name":"Qdran Authentication"}}},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1020,-340],"id":"f7a17dfd-ae0e-460d-9e22-5e4630437382","name":"GPT-4.1-Nano","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={\n  \"compania\": \"{{ $('Webhook').item.json.body.empresa }}\",\n  \"nombreArchivo\": \"{{ $('Webhook').item.json.body.empresa }}_{{ new Date().toISOString() }}\", \n  \"archivoMarkdown\": {{ $json.text }},\n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2320,-560],"id":"5930635b-6196-4516-a2c3-9dac76db8c4e","name":"Default Data Loader"},{"parameters":{"separator":"|"},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[2340,-400],"id":"4cbe244f-fe78-4e65-9d1b-720f2b2dd94f","name":"Character Text Splitter"},{"parameters":{"jsonMode":"expressionData","jsonData":"={\n  \"compania\": \"{{ $('Webhook').item.json.body.empresa }}\",\n  \"nombreArchivo\": \"{{ $('Webhook').item.json.body.empresa }}_{{ new Date().toISOString() }}\", \n  \"archivoMarkdown\": {{ $('Analizando Documento').item.json.text }},\n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2400,-40],"id":"ff890df6-de26-4cfd-b9d4-d3301784556f","name":"Default Data Loader1"},{"parameters":{"separator":"|"},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[2400,120],"id":"8b3ae3f0-d206-4666-9d7c-0ab49e43c5bc","name":"Character Text Splitter1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"={{ $('Verificar y Preparar Creación').item.json.collectionName }}","toolDescription":"={\n  \"compania\": \"{{ $('Webhook').item.json.body.empresa }}\",\n  \"nombreArchivo\": \"{{ $('Verificar y Preparar Creación').item.json.collectionName }}_{{ new Date().toISOString() }}\", \n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}","qdrantCollection":{"__rl":true,"value":"={{ $('Verificar y Preparar Creación').item.json.collectionName }}","mode":"id"},"includeDocumentMetadata":false,"options":{"searchFilterJson":"{\n  \"should\": [\n    {\n      \"key\": \"metadata.batch\",\n      \"match\": {\n        \"value\": 12345\n      }\n    }\n  ]\n}"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[3860,-360],"id":"f1f07a3c-dc3f-47b8-b193-7f842296882e","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"RHA3vcrOm5VwmYlq","name":"QdrantApi account"}}},{"parameters":{"method":"POST","url":"=http://192.168.3.13:6333/collections/{{ $('Verificar y Preparar Creación').item.json.collectionName }}/points/count","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"exact\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2980,-460],"id":"6d81bb5e-e728-4bcf-b8ee-a77d7f35e4d6","name":"HTTP Request1","credentials":{"httpBearerAuth":{"id":"LrVcAPhbHcvbYIPa","name":"Qdran Authentication"}}},{"parameters":{"promptType":"define","text":"Me puedes hacer un resumen con todo los veectores traidos desde `tool` que se extraiga el nombre del \nsolicitante o cliente encontrando la informacion en el texto y que lo llama como \"solicitante: cliente XYZ\"\n\nContexto:\nEres un analista experto en contratación de servicios de telecomunicaciones. Recibirás el contenido completo de un documento tipo RFP (Request for Proposal).\n\n🎯 TU TAREA ES LEER Y ANALIZAR el documento COMPLETO y entregar una respuesta organizada en FORMATO MARKDOWN, bien estructurada y detallada, con secciones y subtítulos.\n💡 DEBES EXTRAER Y EXPLICAR la información más relevante posible, agrupada en las siguientes secciones:\n## 🔐 Información Legal y Contractual\nExpón con claridad las condiciones legales clave: duración del contrato, causales de terminación, condiciones de renovación, garantías requeridas, cláusulas de confidencialidad, penalizaciones y cualquier término jurídico relevante. Si hay ambigüedades o riesgos, coméntalos brevemente.\n## 💼 Aspectos Administrativos y Económicos\nDetalla fechas importantes (límite de entrega, vigencia de oferta), plazos de pago, condiciones económicas (moneda, forma de pago, intereses, anticipos), así como montos, promedios o unidades de cobro mencionadas. Añade cualquier instrucción relacionada con facturación, penalidades económicas o restricciones.\n## 📑 Requisitos Documentales\nLista y explica los documentos requeridos: referencias, certificaciones, declaraciones juradas, anexos técnicos, formularios, etc. Aclara condiciones como: cantidad, antigüedad, formato, requisitos de firma o certificación, si deben presentarse en físico o digital.\n## 🛠️ Requerimiento Técnico (Resumen Detallado)\nHaz un resumen técnico exhaustivo. Incluye tecnologías específicas (SD-WAN, plataformas, software), infraestructura mínima, disponibilidad exigida, condiciones de escalabilidad, redundancias, niveles de servicio (SLA), seguridad física y lógica, cantidad de sitios, equipos o instalaciones.\n\n## ✅ Índice y Tablas\n- Si se encuentran tablas, asegúrate de que todas las tablas estén bien estructuradas, con los **encabezados correctamente alineados** y **sin celdas vacías** en la cabecera.\n- **Tablas en Markdown** deben tener un formato como el siguiente:\n  ```markdown\n  | Columna 1 | Columna 2 | Columna 3 |\n  |-----------|-----------|-----------|\n  | Valor 1   | Valor 2   | Valor 3   |\n  | Valor 4   | Valor 5   | Valor 6   |\n\n🎯 Instrucciones específicas:\nPara las Tablas: Si encuentras tablas, asegúrate de que estén estructuradas con los siguientes lineamientos:\n# Usa siempre las | para separar las columnas.\n# Asegúrate de que todas las filas de datos tengan el mismo número de columnas que la fila de encabezado.\n# Si alguna celda está vacía en el texto original, reemplázala con un espacio vacío y no dejes columnas extrañas.\n# Para las Imágenes: Las imágenes deben ser referenciadas correctamente con la sintaxis Markdown estándar:\n# Asegúrate de que las imágenes estén dentro de la estructura Markdown y que los links a las imágenes sean completos (incluyendo el dominio).\n# Formato Markdown claro y consistente:\n# Utiliza encabezados #, ##, ### para los títulos y subtítulos.\n# Usa listas ordenadas y desordenadas según corresponda.\n# Si se encuentran enlaces o menciones de URL, inclúyelas en el formato Markdown adecuado.\n\n🔎 ADEMÁS, para cada sección debes:\n- Citar cifras exactas, porcentajes, valores técnicos o económicos que aparezcan  \n- Incluir aclaraciones sobre el contexto si hay ambigüedad o términos no definidos  \n- Mencionar si hay inconsistencias, ambigüedades o puntos críticos  \n- Usar listas ordenadas o viñetas cuando sea necesario para mayor claridad\n\n🚫 IMPORTANTE:  \nNO entregues respuesta en JSON  \nNO utilices etiquetas de código  \nNO incluyas texto fuera del formato Markdown estructurado\nNO dejes celdas vacías o desajustadas en las tablas, asegúrate de que el formato sea adecuado para la conversión a HTML\n📌 OBJETIVO FINAL: Producir un INFORME CLARO, COMPLETO Y ANALÍTICO en Markdown, con subtítulos, íconos y explicaciones precisas por sección.\n\n📘 FORMATO DE RESPUESTA ESPERADO EN MARKDOWN OBLIGATORIO MANTENER LA ESTRUCTURA\n\nSolicitante: <nombre-empresa-o-entidad | N/D>\n## 🔐 Información Legal y Contractual\n- Extraer el nombre del solicitante del RFP, regularmente es el nombre de alguna empresa, entidad o compañia\n- El contrato tendrá una duración de 60 meses, con posibilidad de renovación automática si ninguna de las partes manifiesta lo contrario con al menos 90 días de anticipación.\n- Se exige una garantía de cumplimiento equivalente al 15% del valor anual del contrato, renovable cada año antes del aniversario del contrato.\n- El proveedor debe firmar un acuerdo de confidencialidad (NDA) previo a la ejecución del contrato.\n- Se establecen penalidades por incumplimiento que podrán alcanzar hasta el 10% del monto mensual facturado, dependiendo de la gravedad del incidente.\n## 💼 Aspectos Administrativos y Económicos\n- La propuesta debe entregarse antes del **24 de enero de 2025 a las 13:00 (UTC-6)**.\n- La oferta deberá tener una vigencia mínima de **180 días** a partir de la fecha de apertura de propuestas.\n- Los pagos se realizarán en **USD**, con un plazo máximo de **60 días calendario** tras la aceptación del servicio.\n- No se permiten pagos anticipados, intereses moratorios ni ajustes por inflación.\n- Costo estimado mensual por sitio: **$2,500 USD** promedio.\n- No se contempla la entrega parcial del servicio; el contrato será adjudicado en una sola partida.\n## 📑 Requisitos Documentales\n- Se deben presentar al menos **3 cartas de referencia** de clientes actuales o anteriores, emitidas en los últimos **2 años**.\n- Certificaciones obligatorias: **ISO 27001**, **PCI-DSS**, y **Uptime Institute TIER III (Design y Facility)**.\n- Documentos requeridos: memoria técnica, plan de trabajo detallado, declaración jurada firmada por el representante legal.\n- Todos los documentos deben entregarse en formato digital firmado electrónicamente, además de una copia impresa legalizada.\n- Se solicita presentar un organigrama técnico del equipo propuesto, con CVs del personal clave.\n## 🛠️ Requerimiento Técnico (Resumen Detallado)\n- La solución deberá operar sobre una plataforma **SD-WAN basada en VMware VeloCloud**, con enlaces de comunicación redundantes en cada sitio.\n- Se exige una **disponibilidad mínima de 99.982%**, respaldada por monitoreo y soporte **24x7x365**.\n- Capacidad inicial de instalación: **20 racks**, con posibilidad de expansión a **30 racks** dentro de un periodo de **3 años**.\n- Redundancia requerida: **N+1** en energía, climatización y enlaces.\n- Seguridad física: acceso biométrico, cámaras CCTV, jaulas Faraday y zonas de cuarentena.\n- Todos los sitios deberán contar con doble acometida de fibra óptica y equipos con soporte para IPv6.\n\n## 🔑 PUNTOS-CLAVE\n- PROVEEDOR_PROPUESTO: <nombre corto>           <!-- si el documento nombra proveedores o marcas -->\n- SERVICIOS_CLAVE: <3-5 palabras>                <!-- ej. “SD-WAN, MPLS, SIP” -->\n- ALCANCE_GEO: <país/región o “Global”>          <!-- útil para filtrar rápidamente -->\n- SLA_CRÍTICO: <99.9 % / 4 h MTTR / etc.>\n- COSTO_REFERENCIA: <valor + unidad>             <!-- el pago/costo más representativo -->\n- PLAZO_EJECUCIÓN: <meses>                       <!-- tiempo de implementación o contrato -->\n\n## 📊 MÉTRICAS ESTRUCTURADAS (sólo si el archivo es Excel)\n| clave | valor | unidad | hoja_origen | celda_o_rango |\n|-------|-------|--------|-------------|---------------|\n| N/D   | N/D   | N/D    | N/D         | N/D           |\n\n## ✅  Observaciones y Recomendaciones\n- Se recomienda verificar que la vigencia de las certificaciones solicitadas coincida con la duración total del contrato.\n- Ideal contar con experiencia comprobable en implementación de soluciones SD-WAN en al menos **10 sitios simultáneamente**.\n- Se sugiere solicitar aclaración sobre el término “expansión futura” para establecer límites de alcance o costos adicionales.\n- Sería útil definir explícitamente los criterios de evaluación técnica y económica dentro del documento para mayor transparencia.\n## ⚠️ Riesgos Identificados\n- Ambigüedad en la cláusula de renovación automática: no se especifican condiciones de renegociación tarifaria.\n- Posible sobrecosto si no se delimitan las condiciones bajo las cuales se puede activar la expansión a 30 racks.\n- No se detalla el mecanismo de validación de la disponibilidad mínima exigida (99.982%), lo que podría generar disputas contractuales.\n- Falta claridad sobre si el incumplimiento técnico parcial implica rescisión total del contrato o aplicación de penalidades proporcionales.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[3660,-620],"id":"40414e44-56d2-415a-b51f-6ebcc49fc31e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3660,-420],"id":"93ea1ede-7372-45b9-94ea-4087bf327405","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[3880,-200],"id":"b0530db1-961f-4769-a6aa-3bbdb33634f2","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"eWNF8Ejje5kKFVYW","name":"Ollama account"}}},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[2140,-540],"id":"33d228f5-dd07-474b-87ac-54932558a52a","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"eWNF8Ejje5kKFVYW","name":"Ollama account"}}},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[2180,-60],"id":"529a1b1b-048b-48c8-864c-abfbf9e3d641","name":"Embeddings Ollama2","credentials":{"ollamaApi":{"id":"eWNF8Ejje5kKFVYW","name":"Ollama account"}}},{"parameters":{"content":"## Recibir documentos de tipo (word, excel, image, pdf)\n### Evalúa no mas de 6 archivos cada uno no mayor a 20mb\n### Prepara una sessionId por procesopara monitorear logs del workflow\n### Separa binarios en items independientes\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":940,"width":800},"type":"n8n-nodes-base.stickyNote","position":[-1480,-1020],"typeVersion":1,"id":"57ed1cc6-64e7-4672-8d7b-1006953bd4d7","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"115f2cf6-9653-46be-b973-53c9c8317d16","name":"session_id","value":"={{ $json.session_id }}","type":"string"},{"id":"6ab72819-a7ba-4617-bfbf-604c2db3a280","name":"step","value":"\"inicio-análisis\"","type":"string"},{"id":"e6e7c994-08b0-4019-8f93-cab2e6d0277f","name":"timestamp","value":"={{ $now.toString() }}","type":"string"},{"id":"687eff2a-f4d6-4b99-83b2-39d5519d8e0b","name":"estado","value":"\"Recibido y validado\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,-980],"id":"0a22ca75-1579-4c38-b39b-f2b5135b03a4","name":"SessionID Start"},{"parameters":{"assignments":{"assignments":[{"id":"115f2cf6-9653-46be-b973-53c9c8317d16","name":"session_id","value":"={{ $('Inicio de sesion').item.json.session_id }}","type":"string"},{"id":"6ab72819-a7ba-4617-bfbf-604c2db3a280","name":"step","value":"=\"Separando documentos\"","type":"string"},{"id":"e6e7c994-08b0-4019-8f93-cab2e6d0277f","name":"timestamp","value":"={{ $now.toString() }}","type":"string"},{"id":"687eff2a-f4d6-4b99-83b2-39d5519d8e0b","name":"estado","value":"\"enviado a analizar a IA \"","type":"string"},{"id":"e3551a38-45fb-4b93-acab-0ff4a155fb11","name":"nombre_pdf","value":"={{ $('Inicio de sesion').item.json.session_id }}_{{ $now.toString() }}","type":"string"},{"id":"9974e651-c27b-422d-95d1-93c263ccbf3c","name":"id_mongo","value":"={{ $json._id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,-860],"id":"bf8fb75f-86ce-467b-8db9-abe23a11692f","name":"Separando documentos"},{"parameters":{"operation":"insert","collection":"analyses_rfp","fields":"={\n  \"compania\": \"{{ $('Webhook').item.json.body.empresa }}\",\n  \"sessionId\": {{ $json.session_id }},\n  \"nombreArchivo\": \"{{ $('Webhook').item.json.body.empresa }}_{{ new Date().toISOString() }}\", \n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"step\": {{ $json.step }},\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}\n","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-620,-980],"id":"f4c4c09d-e45c-4197-82a4-c07209c4e057","name":"Insert Start Session","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-600,-680],"id":"542eb21b-e7f7-4a23-8616-84fa6e4513d3","name":"Loop Over Items","alwaysOutputData":false},{"parameters":{"operation":"update","collection":"analyses_rfp","updateKey":"={{ $json.id_mongo }}","fields":"={\n  \"compania\": \"{{ ($('Webhook').item.json.body.empresa || '').toString() }}\",\n  \"sessionId\": \"{{ ($('SessionID Start').item.json.session_id || '').toString() }}\",\n  \"nombreArchivo\": \"{{ ($('Webhook').item.json.body.empresa || 'sin_nombre') + '_' + new Date().toISOString() }}\", \n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"step\": \"Analizado IA\",\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[240,-860],"id":"3a8ab181-7b47-4b76-90fd-6a981ce89a50","name":"Update Step","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-220,-860],"id":"064fec7e-7bd0-4f3b-9442-e6f7a0af01af","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-440,-840],"id":"331959db-27dc-4116-bf9c-a932882757c0","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"115f2cf6-9653-46be-b973-53c9c8317d16","name":"session_id","value":"={{ $json.session_id }}","type":"string"},{"id":"6ab72819-a7ba-4617-bfbf-604c2db3a280","name":"step","value":"\"error\"","type":"string"},{"id":"d43b5655-1869-4630-8186-8a47c9d2f558","name":"timestamp","value":"","type":"string"},{"id":"e6e7c994-08b0-4019-8f93-cab2e6d0277f","name":"timestamp","value":"={{ $now.toString() }}","type":"string"},{"id":"687eff2a-f4d6-4b99-83b2-39d5519d8e0b","name":"estado","value":"el Analisis del documento ** {{ $('On form submission').item.json.Document.filename }} ** Presento un error en su procesamiento, por favor intente de nuevo el proceso.","type":"string"},{"id":"e3551a38-45fb-4b93-acab-0ff4a155fb11","name":"nombre_pdf","value":"={{ $('Inicio de sesion').item.json.session_id }}_{{ $now.toString() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,-860],"id":"ddc5f063-6b97-4bfa-837e-3080e018678c","name":"logs de error"},{"parameters":{"operation":"insert","collection":"errorlogs","fields":"={\n  \"compania\": \"{{ $('Webhook').item.json.body.empresa }}\",\n  \"sessionId\": {{ $json.session_id }},\n  \"nombreArchivo\": \"{{ $('Webhook').item.json.body.empresa }}_{{ new Date().toISOString() }}\", \n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"step\": {{ $json.estado }},\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1080,-840],"id":"2201f7cf-5a80-4fe6-b0f0-460bcc5481b8","name":"Insert Error logError","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1560,-860],"id":"08d0898f-6980-4170-a7bb-2353c3f4ef47","name":"Merge1"},{"parameters":{"operation":"update","collection":"analyses_rfp","updateKey":"=\"{{ $('Insert Start Session').item.json._id }}\"","fields":"={\n  \"compania\": \"{{ $('Webhook').item.json.body.empresa }}\",\n  \"sessionId\":\"{{ $('SessionID Start').item.json.session_id }}\",\n  \"nombreArchivo\": \"{{ $('Webhook').item.json.body.empresa }}_{{ new Date().toISOString() }}\", \n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"step\": \"Analizado IA\",\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[1800,-840],"id":"1c0e016f-801d-4e58-ba96-fd7dbb07463b","name":"Update Step 1","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3180,-880],"id":"e1c127b8-bc7b-43b2-a4ee-35a352d4ada2","name":"Merge2"},{"parameters":{"operation":"update","collection":"analyses_rfp","updateKey":"=\"{{ $('Insert Start Session').item.json._id }}\"","fields":"={\n  \"compania\": \"{{ $('Webhook').item.json.body.empresa }}\",\n  \"sessionId\":\"{{ $('SessionID Start').item.json.session_id }}\",\n  \"nombreArchivo\": \"{{ $('Webhook').item.json.body.empresa }}_{{ new Date().toISOString() }}\", \n  \"fecha\": \"{{ new Date().toISOString() }}\",\n  \"step\": \"Guardando Rag\",\n  \"tipoDocumento\": \"RFP\",\n  \"version\": \"1.0\"\n}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[3360,-880],"id":"7b8d29e2-2bc4-4300-9324-cd2f69f43a16","name":"Update Step 2","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ba5ac6d-db68-46f5-8dee-4848c312a601","leftValue":"={{ $json.result.count }}","rightValue":"={{ $('Separar Documentos').item.json.numberOfFiles }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3200,-460],"id":"e9defc37-b3c2-43f6-bae7-c89a0760d40a","name":"Validando # de documentos resumidos"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2740,-560],"id":"699977c3-23f8-4276-89d6-b2d918b32439","name":"Merge3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3420,-360],"id":"41dc080b-6009-4813-abc8-b84fb7af7e94","name":"Wait","webhookId":"ba36a495-6a77-4f84-8630-57bc1b2afbcf"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4900,-920],"id":"662ca751-28dc-4743-ab5c-23e759d8b22c","name":"Merge4"}],"connections":{"Switch":{"main":[[{"node":"Parser Documento","type":"main","index":0}],[{"node":"Parser Documento","type":"main","index":0}],[{"node":"Parser Documento","type":"main","index":0}],[{"node":"Parser Documento","type":"main","index":0}]]},"Convert to HTML":{"main":[[{"node":"If1","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Send Mail":{"main":[[{"node":"Finish Success","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"Status Process":{"main":[[{"node":"Form Error","type":"main","index":0}],[{"node":"Form Error","type":"main","index":0}],[{"node":"Success Document","type":"main","index":0}],[{"node":"Wait Process Document","type":"main","index":0}]]},"Analizando Documento":{"main":[[{"node":"Merge1","type":"main","index":1},{"node":"Save_Summary_Data","type":"main","index":0},{"node":"Verificar y Preparar Creación","type":"main","index":0}]]},"Form Error":{"main":[[{"node":"Error PDF","type":"main","index":0},{"node":"logs de error","type":"main","index":0}]]},"Parser Documento":{"main":[[{"node":"GET Parser Document","type":"main","index":0}]]},"Success Document":{"main":[[{"node":"Analizando Documento","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Wait Process Document":{"main":[[{"node":"GET Parser Document","type":"main","index":0}]]},"GET Parser Document":{"main":[[{"node":"Status Process","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Evaluacion # files , peso de archivos","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Error PDF2","type":"main","index":0}]]},"Inicio de sesion":{"main":[[{"node":"SessionID Start","type":"main","index":0},{"node":"Separar Documentos","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send Mail","type":"main","index":0}]]},"Evaluacion # files , peso de archivos":{"main":[[{"node":"Inicio de sesion","type":"main","index":0}]]},"Save_Summary_Data":{"main":[[]]},"Separar Documentos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Verificacion Collection Exists","type":"main","index":0}]]},"Verificar y Preparar Creación":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Verificacion Collection Exists":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert Documents","type":"main","index":0}],[{"node":"Create Collection","type":"main","index":0}]]},"Create Collection":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"GPT-4.1-Nano":{"ai_languageModel":[[{"node":"Analizando Documento","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Documents","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Qdrant Vector Store1","type":"ai_document","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Insert Documents":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Validando # de documentos resumidos","type":"main","index":0}]]},"Qdrant Vector Store1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Convert to HTML","type":"main","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Insert Documents","type":"ai_embedding","index":0}]]},"Embeddings Ollama2":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"SessionID Start":{"main":[[{"node":"Insert Start Session","type":"main","index":0}]]},"Separando documentos":{"main":[[{"node":"Update Step","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Insert Start Session":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":0},{"node":"Merge2","type":"main","index":0},{"node":"Merge4","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Separando documentos","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Merge","type":"main","index":1}]]},"logs de error":{"main":[[{"node":"Insert Error logError","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Update Step 1","type":"main","index":0}]]},"Update Step":{"main":[[]]},"Merge2":{"main":[[{"node":"Update Step 2","type":"main","index":0}]]},"Update Step 1":{"main":[[]]},"Validando # de documentos resumidos":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"MongoDB5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"VDWTPl3xTKW7fDqy"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7679faad-760b-4935-9773-07fb2d8bd845","triggerCount":0,"tags":[]}