workflowsBusqueda de informacion reportes SOC.json
{"createdAt":"2025-06-10T20:38:55.160Z","updatedAt":"2025-06-16T10:39:41.000Z","id":"KT5Q2p6ttQTUIEQ5","name":"Busqueda de informacion reportes SOC","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"c44492f7-d005-4703-a3ef-840c3ef5f0e2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-140,-200],"id":"f7f6959e-2518-4193-b970-c3e1a09a71dc","name":"Webhook","webhookId":"c44492f7-d005-4703-a3ef-840c3ef5f0e2","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"607c48c9-ca46-4a2a-8fb7-d90f0188feab","name":"urls","value":"[\n  \"https://www.virustotal.com/\",\n  \"https://urlscan.io/\",\n  \"https://www.hybrid-analysis.com/\",\n  \"https://www.joesandbox.com/\",\n  \"https://any.run/\",\n  \"https://www.abuseipdb.com/\",\n  \"https://www.ipvoid.com/\",\n  \"https://talosintelligence.com/\",\n  \"https://otx.alienvault.com/\",\n  \"https://threatfox.abuse.ch/\",\n  \"https://www.shodan.io/\",\n  \"https://search.censys.io/\",\n  \"https://fofa.so/\",\n  \"https://crt.sh/\",\n  \"https://hunter.io/\",\n  \"https://www.misp-project.org/\",\n  \"https://www.opencti.io/\",\n  \"https://www.cisa.gov/news-events/alerts\",\n  \"https://attack.mitre.org/\",\n  \"https://www.greynoise.io/\",\n  \"https://pastebin.com/\",\n  \"https://intelx.io/\",\n  \"https://haveibeenpwned.com/\",\n  \"https://tdm.socprime.com/\",\n  \"https://analyze.intezer.com/\"\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-100],"id":"6e5fe6d3-e4da-4a81-bd1f-e9742f38fcd8","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[300,-100],"id":"92454f95-86a9-4e3e-abeb-95951c3a2edd","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[700,-40],"id":"b650eb36-f51b-4987-8a1f-b4b1d522a4a4","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[600,200],"id":"b3ef3220-b3bd-49f2-8567-d93b8aa11fc6","name":"Ollama Model","credentials":{"ollamaApi":{"id":"eWNF8Ejje5kKFVYW","name":"Ollama account"}}},{"parameters":{"operation":"insert","collection":"prueba_rfp","fields":"={{ $json.markdown }}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[1120,-40],"id":"d7a99a03-2229-43e3-bbc9-6199204db6fc","name":"MongoDB","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[920,200],"id":"ec27fdb7-ed36-4a73-be69-e856aa0eea9a","name":"Structured Output Parser"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"MongoDB":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9599606b-ef9e-41a2-9ffb-0fb9ba5f224b","triggerCount":0,"tags":[]}