workflowsLicitainfo Filter Colombia.json
{"createdAt":"2025-05-15T14:51:42.171Z","updatedAt":"2025-05-23T13:03:52.000Z","id":"sHVWbzZi9dmbm3qU","name":"Licitainfo Filter Colombia","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"output":"raw","filters":{"foldersToInclude":["AAMkAGUyOTgzNDViLTIwY2ItNDFmNi04ODUwLTNmZTJmZjI5ZTY5MgAuAAAAAAD2otzNIFhhTLQNl5GG7b3VAQA59ESx-VUJQ61HIyY6Bm7SAAgOOqoXAAA="]},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[1480,0],"id":"be708116-dc7c-47be-a73f-0d559212a322","name":"Microsoft Outlook Trigger","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"text":"={{ $json.body.content }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"asunto\": \"[Urg]ALCAL. DE TINJACA minima cuantia MT-MC-012-2025 [93206]\",\n  \"entidad\": \"ALCAL. DE TINJACA\",\n  \"concepto\": \"Contratación mínima cuantía MT-MC-012-2025\",\n  \"objeto\": \"ADQUISICION DEL SERVICIO DE ACCESO A INTERNET POR FIBRA OPTICA PARA LAS DEPENDENCIAS DE LA ALCALDIA MUNICIPAL Y LA BIBLIOTECA PUBLICA DEL MUNICIPIO DE TINJACA\",\n  \"valor\": \"$10.000.000\",\n  \"localizacion\": \"Boyacá Tinjacá\",\n  \"departamento\": \"Boyacá\",\n  \"ciudad\": \"Tinjacá\",\n  \"portal_origen\": \"SECOP 2\",\n  \"fecha_publicacion\": \"2025-05-14 08:36:00 am\",\n  \"funcionalidades_de_la_herramienta\": \"https://col.licitaciones.info/detalle-contrato?random=67f70bd9505d31.74719324\",\n  \"documentos\": [\n    {\n      \"nombre\": \"ANALISIS DEL SECTOR INTERNET.pdf\",\n      \"enlace\": \"https://community.secop.gov.co/Public/Archive/RetrieveFile/Index?DocumentId=611919317\"\n    },\n    {\n      \"nombre\": \"CDP INTERNET.pdf\",\n      \"enlace\": \"https://community.secop.gov.co/Public/Archive/RetrieveFile/Index?DocumentId=611919318\"\n    },\n    {\n      \"nombre\": \"CERTIFICACION PAA.pdf\",\n      \"enlace\": null\n    }\n  ]\n}\n","options":{"systemPromptTemplate":"ERES UN AGENTE EXTRACTOR DE DATOS DE ALTO RENDIMIENTO ENTRENADO PARA IDENTIFICAR Y ESTRUCTURAR INFORMACIÓN CLAVE DESDE TEXTOS DE LICITACIONES COLOMBIANAS. TU OBJETIVO ES DEVOLVER UN OBJETO JSON CON LOS SIGUIENTES CAMPOS ESTANDARIZADOS:\n\n- \"asunto\"  \n- \"entidad\"  \n- \"concepto\"  \n- \"objeto\"  \n- \"valor\"  \n- \"localizacion\"  \n- **\"departamento\" ← NUEVO CAMPO EXTRAÍDO DESDE \"localizacion\"**  \n- **\"ciudad\" ← NUEVO CAMPO EXTRAÍDO DESDE \"localizacion\"**  \n- \"portal_origen\"  \n- \"fecha_publicacion\"  \n- **\"funcionalidades_de_la_herramienta\" ← ESTE CAMPO ES CRÍTICO**  \n- \"documentos\": una lista de objetos con campos \"nombre\" y \"enlace\"  \n\n### INSTRUCCIONES:\n\n1. EXTRAE ÚNICAMENTE INFORMACIÓN RELEVANTE Y PRESENTE EN EL TEXTO.\n2. OMITE CUALQUIER CAMPO CUYO VALOR NO PUEDA DETERMINARSE CLARAMENTE.\n3. ASEGÚRATE DE FORMAR UN JSON VÁLIDO, BIEN ESTRUCTURADO Y FORMATEADO.\n4. DETECTA Y ASOCIA DOCUMENTOS CON SUS ENLACES Y NOMBRES LIMPIOS.\n5. EN CAMPOS COMO “ENTIDAD”, “OBJETO” Y “VALOR”, USA EL TEXTO EXACTO EXTRAÍDO.\n6. ELIMINA DOBLES PUNTOS, CORCHETES O CARACTERES EXTRAÑOS QUE NO FORMEN PARTE DEL CONTENIDO PROPIAMENTE DICHO.\n7. **ES OBLIGATORIO DETECTAR Y EXTRAER EL ENLACE UBICADO DESPUÉS DE “Enlace directo a licitaciones.info” Y GUARDARLO COMO \"funcionalidades_de_la_herramienta\"**.\n8. **SI EL CAMPO \"localizacion\" TIENE FORMATO \"Departamento : Ciudad\" O SIMILAR, SEPARA EL DEPARTAMENTO Y LA CIUDAD EN CAMPOS INDEPENDIENTES**:  \n   - `\"departamento\"` ← VALOR ANTES DE LOS DOS PUNTOS  \n   - `\"ciudad\"` ← VALOR DESPUÉS DE LOS DOS PUNTOS  \n   - MANTIENE TAMBIÉN EL CAMPO \"localizacion\" CON SU VALOR ORIGINAL\n\n### CHAIN OF THOUGHTS:\n\n1. **ENTENDER**: LEE TODO EL TEXTO COMO UN CUERPO UNIFICADO Y DETECTA EL BLOQUE CENTRAL DE INFORMACIÓN LICITATORIA.\n2. **BÁSICOS**: IDENTIFICA LOS ATRIBUTOS SOLICITADOS COMO CLAVES DEL JSON.\n3. **DESCOMPONER**: UBICA CADA DATO POR SECCIONES (asunto, entidad, objeto, etc.).\n4. **ANALIZAR**:\n   - RELACIONA LOS DATOS CONTEXTUALMENTE (ej. el objeto de contratación suele estar tras la palabra \"Objeto:\").\n   - SI DETECTAS EL FORMATO \"Departamento : Ciudad\", DIVÍDELO CORRECTAMENTE.\n5. **ENSAMBLAR**: ORGANIZA LOS DATOS EN UN JSON CON CLAVES Y VALORES CLAROS, INCLUYENDO \"departamento\" Y \"ciudad\".\n6. **CASOS EXTREMOS**: SI ALGÚN VALOR NO SE ENCUENTRA EXPLÍCITAMENTE, NO LO INCLUYAS.\n7. **FUNCIÓN CRÍTICA**: BUSCA ENLACES WEB QUE CONTENGAN \"licitaciones.info\" Y EXTRAER EL PRIMERO COMO \"funcionalidades_de_la_herramienta\". ES UNA OBLIGACIÓN.\n8. **RESPUESTA FINAL**: DEVUELVE SOLO EL OBJETO JSON, SIN COMENTARIOS NI TEXTO ADICIONAL.\n\n### WHAT NOT TO DO:\n\n- **NUNCA OMITAS EL CAMPO \"funcionalidades_de_la_herramienta\" SI EL ENLACE ESTÁ PRESENTE EN EL TEXTO**.\n- **NO INVENTES** VALORES DE CAMPOS QUE NO SE ENCUENTRAN EXPLÍCITAMENTE EN EL TEXTO.\n- **NO REPITAS** CAMPOS NI GENERES JSON MAL FORMADO.\n- **NO OMITAS** LOS CAMPOS \"departamento\" Y \"ciudad\" SI PUEDEN SER DERIVADOS DESDE \"localizacion\".\n- **NO INCLUYAS ENLACES O CAMPOS INEXACTOS**, MAL FORMATEADOS O PARCIALES.\n- **NO CONTAMINES** LA SALIDA CON TEXTOS PROMOCIONALES O AJENOS A LA LICITACIÓN.\n\n### FEW-SHOT EXAMPLE\n\nTEXTO DE LICITACIÓN (fragmento):\nEntidad: Alcaldía de Santa Marta\nObjeto: Adquisición de equipos médicos\nValor: $450.000.000\nLocalización: Magdalena : Santa Marta\nEnlace directo a licitaciones.info: https://www.licitaciones.info/santamarta-medica\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[1840,0],"id":"98670574-b53b-4f22-a012-bc99f39e8ad4","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1820,200],"id":"5c6a64d3-2fd4-4f83-b5db-45e15836e8b3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"fieldToSplitOut":"output.documentos","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2240,-40],"id":"77e8a2c7-f634-4144-8aa9-4271fe03a158","name":"Split Out","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2440,-40],"id":"5b89e59a-0ed1-4f9d-8517-7aaa3617195f","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3080,240],"id":"f9c670c2-76b0-42ad-9299-1f43de830b87","name":"Status Job  PDF - DOC"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3280,360],"id":"5074710f-d711-4826-aa6f-2505ad4274d4","name":"Wait Job PDF - DOC","webhookId":"f87508bf-6d05-4bd8-8d79-ebc5d503d0fd"},{"parameters":{"errorMessage":"Error Job Parser PDF - DOC"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[3280,200],"id":"b4a36259-807d-4540-a3b8-5a8749c6d1a9","name":"Error PDF - DOC"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3980,260],"id":"c2f66be1-2f54-417e-80c9-7584d3eafab5","name":"Aggregate"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3440,-80],"id":"1e74c862-514d-4875-8d69-4fdd8ef7ef22","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3700,260],"id":"99b6c5e1-7116-4b1c-95cc-941047074403","name":"Merge","alwaysOutputData":true},{"parameters":{"operation":"get","messageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"output":"raw","options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1680,0],"id":"a5f0be48-8859-49cc-9c00-d54e20e26753","name":"Microsoft Outlook","webhookId":"0dd90bcc-d4ef-4dd6-8c83-1e3896dc546a","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.fileName }}","rightValue":"docx","operator":{"type":"string","operation":"contains"},"id":"e2d1e9ed-0fc3-4124-905d-818ba76db060"}],"combinator":"and"},"renameOutput":true,"outputKey":"DOCX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5e987b8d-fe61-46fc-a27d-34eb056b2572","leftValue":"={{ $json.fileName }}","rightValue":"xlsx","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"18ee520f-8912-44c3-963a-4b6fd7df1d77","leftValue":"={{ $json.fileName }}","rightValue":"xls","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"41744e35-8c64-47f5-8568-f21fb377c439","leftValue":"={{ $json.fileName }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2720,120],"id":"25147605-6cbd-4768-b1d7-da592df1a090","name":"Switch","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"premium_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,140],"id":"ff81a93f-47fc-4862-bfe1-eb6e158e14b0","name":"Parser Excel","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"options":{"systemMessage":"ERES UN ANALISTA CONTRACTUAL DE ALTO NIVEL ESPECIALIZADO EN LICITACIONES PÚBLICAS DEL GOBIERNO DE COLOMBIA RELACIONADAS CON SERVICIOS DE TELECOMUNICACIONES (Internet, redes, infraestructura, seguridad perimetral, conectividad, etc.). TU TAREA ES ANALIZAR DOCUMENTOS CONTRACTUALES Y ANEXOS (PREVIAMENTE INDEXADOS EN FORMATO RAG) Y GENERAR UN INFORME DETALLADO, TÉCNICO Y VISUALMENTE ENRIQUECIDO CON ICONOS.\n\n---\n\n> 🔍 Para responder, DEBES UTILIZAR LA HERRAMIENTA DE BÚSQUEDA SEMÁNTICA EMBEDDINGS DISPONIBLE (RAG) PARA CONSULTAR LOS DOCUMENTOS FUENTE.  \n> 🛠️ SI ALGÚN TEXTO PROVIENE DE DOCUMENTOS PDF CONVERTIDOS DESDE IMÁGENES Y CONTIENE ERRORES TIPOGRÁFICOS (ej. “PRQVEER_INSIALAR” en lugar de “PROVEER, INSTALAR”), DEBES APLICAR UNA **CORRECCIÓN SEMÁNTICA INTELIGENTE** BASADA EN EL CONTEXTO.\n> ✨ TU TAREA INCLUYE:\n> - DETECTAR Y CORREGIR TEXTO DISTORSIONADO POR OCR (ej. Q→O, C→E, etc.)\n> - UNIR PALABRAS O SEPARARLAS SI ESTÁN MAL FORMADAS\n> - RECONSTRUIR EL TEXTO PARA RESTAURAR SU SIGNIFICADO COMPLETO\n> ⚠️ **NO DEBES MENCIONAR LAS CORRECCIONES NI HACER REFERENCIA A LOS ERRORES ORIGINALES EN EL INFORME FINAL.**\n\n---\n\n### 🧾 TÍTULO DEL INFORME:\n\n**Análisis de Licitación – [NOMBRE DE LA ENTIDAD CONTRATANTE]**\n\n> 🔹 Este título DEBE SER LA PRIMERA LÍNEA del informe  \n> 🔹 Se debe usar el valor exacto del campo `\"entidad\"` previamente extraído del JSON  \n\n---\n\n## ⚖️ 1. INFORMACIÓN LEGAL Y CONTRACTUAL\n- 📄 **Número del proceso** y **tipo de convocatoria**\n- 🏢 **Entidad contratante**\n- 📚 **Normas legales aplicables** (ej. Ley 1150 de 2007, Decreto 1082, etc.)\n- 📆 **Duración del contrato** y tipo jurídico (suministro, prestación de servicios, etc.)\n- 🛡️ **Cláusulas relevantes**: garantías, pólizas, multas, causales de rechazo\n- ⚠️ *Aclarar cualquier ambigüedad legal o contradicción documental*\n\n---\n\n## 💰 2. ASPECTOS ADMINISTRATIVOS Y ECONÓMICOS\n- 💵 **Presupuesto oficial** (valor exacto y en letras si aparece)\n- 🏦 **Fuente(s) de financiación**\n- 📊 **Criterios de evaluación económica** (ej. fórmulas, ponderaciones, umbrales)\n- 💸 **Condiciones de pago**, anticipos, impuestos, tasas o deducciones\n- 🧾 *Resaltar restricciones, condicionamientos o riesgos administrativos*\n\n---\n\n## 📂 3. REQUISITOS DOCUMENTALES\n- 🧾 **Lista completa de documentos exigidos** (jurídicos, técnicos, financieros)\n- 📑 **Formatos o plantillas obligatorias**\n- 🕐 **Plazos para entrega y subsanación**\n- ❗ *Señalar ambigüedades o vacíos en requisitos documentales*\n\n---\n\n## 📡 4. REQUERIMIENTO TÉCNICO (RESUMEN DETALLADO)\n- 🧠 **Alcance técnico del contrato**\n- 📶 **Especificaciones exactas** (velocidades, simetría, firewall, equipos, protocolos)\n- 🛠️ **Obligaciones técnicas** (instalación, configuración, soporte, garantías)\n- 🔍 **Estándares mínimos o exigencias específicas**\n- ⚠️ *Identificar puntos críticos, restricciones o ambigüedades técnicas*\n\n---\n\n## 🧭 5. OBSERVACIONES Y CONTEXTO COMPLEMENTARIO\n- 🏛️ **Tipo de entidad** (alcaldía, gobernación, entidad nacional)\n- 🧩 **Proyectos relacionados o antecedentes**\n- 🌍 **Ubicación del proyecto o usuarios beneficiarios**\n- 📌 **Observaciones generales sobre el tipo de negocio o contratante**\n- 🧠 *Agregar contexto si se detecta alguna particularidad o tendencia relevante*\n\n---\n\n### 🧠 CRITERIOS METODOLÓGICOS:\n\n- INCLUYE CIFRAS, FECHAS, VALORES Y DATOS EXACTOS.\n- SI EXISTE AMBIGÜEDAD, AÑADE UNA ACLARACIÓN.\n- SI HAY INCONSISTENCIAS ENTRE DOCUMENTOS, DESTÁCALAS EN SU SECCIÓN.\n- UTILIZA **VIÑETAS Y SUBSECCIONES** PARA FACILITAR LA LECTURA Y ESCANEABILIDAD.\n\n---\n\n### 🚫 WHAT NOT TO DO:\n\n- ❌ **NO OMITAS** información relevante aunque esté duplicada en distintos documentos.\n- ❌ **NO SIMPLIFIQUES EN EXCESO** ni conviertas este informe en un resumen abstracto.\n- ❌ **NO INVENTES** definiciones, siglas o conceptos sin respaldo textual.\n- ❌ **NO MEZCLES** contenido de secciones distintas.\n- ❌ **NO AÑADAS** opiniones personales ni texto fuera del formato solicitado.\n- ❌ **NO INDIQUES** QUE HUBO ERRORES EN EL TEXTO ORIGINAL NI HAGAS EXPLICACIONES DE CORRECCIÓN.\n\n---\n\n### ⚠️ NOTA FINAL – GENERADO POR INTELIGENCIA ARTIFICIAL 🤖\n\nEste informe ha sido generado automáticamente por un sistema de inteligencia artificial como ayuda inicial. Aunque resume los puntos clave, **no reemplaza la lectura completa de los documentos oficiales**. Se recomienda validar toda la información con las fuentes originales antes de tomar decisiones.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[5000,-40],"id":"5fa13594-ee95-4cf5-b112-8f87e6535fe6","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[5180,280],"id":"63a9f5f8-6b79-440a-9c99-2ed5951ae016","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=licita_{{ $('Extraer Random Code').item.json.random_code }}","mode":"id"},"embeddingBatchSize":1024,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[4660,-180],"id":"20187b92-14b2-4a6f-8b0c-1bfd5c9a3bd8","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"jsCode":"// Función para extraer el código aleatorio de la URL\nfunction extractRandomCode(inputText) {\n  try {\n    // Verificar si la entrada es undefined o null\n    if (!inputText) {\n      return { \n        random_code: null,\n        error: \"La entrada es undefined o null\" \n      };\n    }\n    \n    // Intentar encontrar cualquier URL que contenga \"random=\"\n    const urlRegex = /https?:\\/\\/[^\\s]+random=([^\\s&]+)/;\n    const match = inputText.match(urlRegex);\n    \n    if (!match || !match[1]) {\n      return { \n        random_code: null,\n        error: \"No se encontró una URL con parámetro 'random'\" \n      };\n    }\n    \n    // Extraer el código completo después de \"random=\"\n    const fullRandomCode = match[1];\n    \n    // Extraer la parte antes del primer punto\n    const dotIndex = fullRandomCode.indexOf('.');\n    if (dotIndex === -1) {\n      // Si no hay punto, devolver el código completo\n      return { \n        random_code: fullRandomCode,\n        error: null \n      };\n    }\n    \n    // Extraer la parte antes del punto\n    const codeBeforeDot = fullRandomCode.substring(0, dotIndex);\n    \n    return {\n      random_code: codeBeforeDot,\n      full_random_code: fullRandomCode,\n      error: null\n    };\n  } catch (error) {\n    return {\n      random_code: null,\n      error: `Error al procesar: ${error.message}`\n    };\n  }\n}\n\n// Obtener la entrada de la variable especificada\nconst inputText = $('Information Extractor').first()?.json?.output?.funcionalidades_de_la_herramienta;\n\n// Procesar la entrada\nconst result = extractRandomCode(inputText);\n\n// Devolver el resultado\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2260,300],"id":"85041504-28d0-49f4-b04f-b3b1c5afe995","name":"Extraer Random Code","alwaysOutputData":true},{"parameters":{"url":"=http://192.168.3.13:6333/collections/licita_{{ $json.random_code }}/exists","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,300],"id":"abfd0866-0d93-4d60-b8b2-338ddb560015","name":"Check Exist Qdrant","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"method":"PUT","url":"=http://192.168.3.13:6333/collections/licita_{{ $('Extraer Random Code').first().json.random_code }}","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,700],"id":"1fccffc3-eb4d-43e6-bf94-1bb219df0a9e","name":"Create Qdrant","alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"url":"={{ $('Split Out').first().json['output.documentos'].enlace }}","options":{"allowUnauthorizedCerts":true,"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,-180],"id":"1f9c0fe2-cea2-44e8-bdcf-6376d55b6df8","name":"GET Files","alwaysOutputData":true},{"parameters":{"method":"DELETE","url":"=http://192.168.3.13:6333/collections/licita_{{ $('Extraer Random Code').first().json.random_code }}","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,480],"id":"6cb1f144-8e96-456e-b6ba-f9d22aeb253d","name":"Delete Qdrant","alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[4560,80],"id":"01936ed6-5946-4f42-b821-922acb6fdf1e","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[4740,140],"id":"83d6ad7e-cb0f-49cb-9b9e-3e5fc1c2a4f7","name":"Default Data Loader"},{"parameters":{"chunkSize":2000,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[4820,340],"id":"08c19934-a325-4551-bcc3-2721c4ef53dd","name":"Recursive Character Text Splitter"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data","includeEmpty":true,"separateBy":"\n"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[4160,260],"id":"a414694a-76c9-4afc-9a2d-17ce7911ce4f","name":"Summarize"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c342300-48f5-4932-b653-8adc06fa206f","leftValue":"={{ $json.result.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2260,500],"id":"8e237cba-29ee-410b-b72c-c08eea3d21e6","name":"Exists Vectors"},{"parameters":{"operation":"write","fileName":"=/home/node/files/{{ $('Split Out').first().json['output.documentos'].nombre }}","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2440,-180],"id":"a46956b9-c230-4cf3-987f-f62bd44c6678","name":"Save Document"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3080,40],"id":"cd2d8c53-8d82-4e9d-ba17-4b6a65c5fb92","name":"GET Parser DOCS","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,0],"id":"030299b6-8c86-43fe-b765-cbfdc367ad3d","name":"Parser DOCS","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2900,280],"id":"3cda7fbc-b474-412f-b35a-ca3a713c7f44","name":"Extract PDF"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $('GET Parser DOCS').item.json.id }}/result/markdown","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3280,40],"id":"4bfdb555-ea1c-4e1b-b015-3c063b96305e","name":"Success DOC","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Extraer Random Code","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"GET Files","type":"main","index":0}]]},"Status Job  PDF - DOC":{"main":[[{"node":"Success DOC","type":"main","index":0}],[{"node":"Error PDF - DOC","type":"main","index":0}],[{"node":"Error PDF - DOC","type":"main","index":0}],[{"node":"Wait Job PDF - DOC","type":"main","index":0}]]},"Wait Job PDF - DOC":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Microsoft Outlook":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Parser DOCS","type":"main","index":0}],[{"node":"Parser Excel","type":"main","index":0}],[{"node":"Parser Excel","type":"main","index":0}],[{"node":"Extract PDF","type":"main","index":0}]]},"Parser Excel":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"main":[[]]},"Extraer Random Code":{"main":[[{"node":"Check Exist Qdrant","type":"main","index":0}]]},"Check Exist Qdrant":{"main":[[{"node":"Exists Vectors","type":"main","index":0}]]},"Create Qdrant":{"main":[[]]},"GET Files":{"main":[[{"node":"Save Document","type":"main","index":0}]]},"Delete Qdrant":{"main":[[{"node":"Create Qdrant","type":"main","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Exists Vectors":{"main":[[{"node":"Delete Qdrant","type":"main","index":0}],[{"node":"Create Qdrant","type":"main","index":0}]]},"Save Document":{"main":[[{"node":"Switch","type":"main","index":0}]]},"GET Parser DOCS":{"main":[[{"node":"Status Job  PDF - DOC","type":"main","index":0}]]},"Parser DOCS":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Extract PDF":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Success DOC":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c3bf48b3-5cd2-4fd8-8689-bd206130d3c0","triggerCount":0,"tags":[]}