workflowsError Trigger Monitor.json
{"createdAt":"2025-05-20T11:39:15.774Z","updatedAt":"2025-05-20T20:21:56.000Z","id":"Txht1wrdLAI370JY","name":"Error Trigger Monitor","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-160,0],"id":"0935cc9f-ad86-4584-8787-2ebbdc19df37","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"b8d04c88-88ef-4160-be6b-3a523b86b5f9","name":"workflow_id","value":"={{$json[\"workflow\"][\"id\"]}}","type":"string"},{"id":"485bdf92-8f2f-4a0c-9469-44acd222b77b","name":"workflow_name","value":"={{$json[\"workflow\"][\"name\"]}}","type":"string"},{"id":"52cadf99-aec0-4c49-b3dc-7a61768a6a57","name":"execution_id","value":"={{$json[\"execution\"][\"id\"]}}","type":"string"},{"id":"5c7841b4-bcc3-46b1-9f20-0541c6465168","name":"execution_url","value":"={{$json[\"execution\"][\"url\"]}}","type":"string"},{"id":"176ed5d5-1ddc-4a3a-b6fa-cd9c8bede0d7","name":"error_message","value":"={{$json[\"error\"][\"message\"]}}","type":"string"},{"id":"902585a1-c55c-45ab-8e84-e9e12ca172bd","name":"error_stack","value":"={{$json[\"error\"][\"stack\"]}}","type":"string"},{"id":"3a859e2f-2e25-4c51-b992-7ebfab561fe4","name":"timestamp","value":"={{$json[\"timestamp\"]}}","type":"string"},{"id":"6f27c85e-8ec8-4680-a7cd-1b498dcfa233","name":"input_data","value":"={{JSON.stringify($json[\"input\"])}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,0],"id":"85ba538a-7587-43f0-b6c6-3890cd04c78d","name":"Edit Fields"},{"parameters":{"toRecipients":"jaimep@outlook.com","subject":"=Error - Workflow {{ $json.workflow_name }}","bodyContent":"={{ $json.workflow_id }}\n<br>\n{{ $json.workflow_name }}\n<br>\n{{ $json.execution_id }}\n<br>\n{{ $json.execution_url }}\n<br>\n{{ $json.error_message }}\n<br>\n{{ $json.error_stack }}\n<br>\n{{ $json.timestamp }}\n<br>\n{{ $json.input_data }}","additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[280,0],"id":"d6efad25-7007-4660-b938-2a75c6571cf1","name":"Microsoft Outlook","webhookId":"ee6a9a4b-d3d2-4a77-bf8e-9f8e69f807a1","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8efc1568-2b5f-4881-a8df-e5ae353d16ce","triggerCount":0,"tags":[]}