workflowsIngreso Visitas Manos Remotas.json
{"createdAt":"2025-06-20T17:19:09.712Z","updatedAt":"2025-06-20T22:14:52.000Z","id":"GYzyr5ijEpfF3AHm","name":"Ingreso Visitas Manos Remotas","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"SOLICITUD MANOS REMOTAS","formDescription":"Formulario para hacer solicitud de manos remotas","formFields":{"values":[{"fieldLabel":"Tipo de Actividad","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Implementacion"},{"option":"Mantenimiento"}]},"requiredField":true},{"fieldLabel":"Cliente","placeholder":"Nombre del Cliente","requiredField":true},{"fieldLabel":"Pais","placeholder":"Pais de la Actividad","requiredField":true},{"fieldLabel":"Ciudad","placeholder":"Ciudad de la Actividad","requiredField":true},{"fieldLabel":"Direccion","placeholder":"Direccion del Cliente","requiredField":true},{"fieldLabel":"Fecha de la Actividad","fieldType":"date","requiredField":true},{"fieldLabel":"Hora de la Actividad","placeholder":"Formato 24H Ej: 17:30","requiredField":true},{"fieldLabel":"Numero de Ticket","placeholder":"Si Aplica Ej: TT123456"},{"fieldLabel":"SID","placeholder":"Numero de Servicios","requiredField":true},{"fieldLabel":"Nombre Contacto del Cliente","placeholder":"Contacto del Cliente","requiredField":true},{"fieldLabel":"Telefono del Cliente","placeholder":"Numero de Telefono"},{"fieldLabel":"Equipos y Cantidad a Llevar","fieldType":"textarea","placeholder":"Referencia y Cantidades"},{"fieldLabel":"RQ de Equipos","placeholder":"No. RQ. Para retirar equipos en almacen"},{"fieldLabel":"Donde Recoger el Equipo","fieldType":"textarea","placeholder":"Sitio, Direccion o Lugar donde retirar el equipo"},{"fieldLabel":"Guia Envio de Equipos","placeholder":"No. de Guia Servientrega o similar"},{"fieldLabel":"Ingeniero Provisioning o Grupo Care","placeholder":"Nombre del Ingeniero o del grupo del CARE responsable","requiredField":true},{"fieldLabel":"Gerente de Proyectos","placeholder":"Nombre Gerente de Proyectos "},{"fieldLabel":"Observaciones","fieldType":"textarea","placeholder":"Cualquier comentario adicional y necesario para el exito de la activiada"},{"fieldLabel":"Acta de Entrega de UM","fieldType":"file","acceptFileTypes":"pdf, docx, png, jpg, doc, obs, xls, xlsx, csv, txt"}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-40,0],"id":"75a71291-504e-41d4-83dc-78a13b094941","name":"On form submission","webhookId":"ce80f8c1-f4e4-481e-bdb2-15d651ab8fd5"},{"parameters":{"operation":"write","fileName":"=/home/node/files/{{ $now.format('yyyy-MM-dd-HH-mm-ss') }}","dataPropertyName":"=","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[460,-180],"id":"18762e3e-2925-45ea-8bed-8478b9f5b5b9","name":"Read/Write Files from Disk"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8efef4d6-4de7-4921-a4a3-5a0d3df3c152","leftValue":"={{ $('On form submission').item.binary.Acta_de_Entrega_de_UM }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,0],"id":"f552d727-51dc-4504-9012-5ce6b4e6559d","name":"If","alwaysOutputData":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"request_remote_hands","mode":"list","cachedResultName":"request_remote_hands"},"columns":{"mappingMode":"defineBelow","value":{"mantenimiento_aprovisionamiento":"={{ $json['Tipo de Actividad'] }}","cliente":"={{ $json.Cliente }}","pais":"={{ $json.Pais }}","ciudad":"={{ $json.Ciudad }}","direccion_cliente":"={{ $json.Direccion }}","fecha":"={{ $json['Fecha de la Actividad'] }}","hora":"={{ $json['Hora de la Actividad'] }}","ticket":"={{ $json['Numero de Ticket'] }}","sid":"={{ $json.SID }}","nombre_contacto_cliente":"={{ $json['Nombre Contacto del Cliente'] }}","telefono_cliente":"={{ $json['Telefono del Cliente'] }}","equipos_llevar_cliente":"={{ $json['Equipos y Cantidad a Llevar'] }}","rq_equipos":"={{ $json['RQ de Equipos'] }}","donde_recoger_equipo":"={{ $json['Donde Recoger el Equipo'] }}","guia_envio_equipos":"={{ $json['Guia Envio de Equipos'] }}","ingeniero_aprovisionamiento":"={{ $json['Ingeniero Provisioning o Grupo Care'] }}","gerente_proyecto":"={{ $json['Gerente de Proyectos'] }}","observaciones":"={{ $json.Observaciones }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"descripcion_solicitud","displayName":"descripcion_solicitud","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mantenimiento_aprovisionamiento","displayName":"mantenimiento_aprovisionamiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"adjunta_acta_um","displayName":"adjunta_acta_um","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_contacto_cliente","displayName":"nombre_contacto_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono_cliente","displayName":"telefono_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"equipos_llevar_cliente","displayName":"equipos_llevar_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rq_equipos","displayName":"rq_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"donde_recoger_equipo","displayName":"donde_recoger_equipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"guia_envio_equipos","displayName":"guia_envio_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ingeniero_aprovisionamiento","displayName":"ingeniero_aprovisionamiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gerente_proyecto","displayName":"gerente_proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[700,20],"id":"271bec05-bebb-426c-a9bd-fcc088903bb9","name":"Set DB Solicitudes","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Solicitud de Manos Remotas</title>\n</head>\n\n<body\n    style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f0f2f5; margin: 0; padding: 20px;\">\n\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"\n        style=\"background-color: #ffffff; border-radius: 12px; box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); padding: 30px; max-width: 600px; margin: 0 auto;\">\n        <tr>\n            <td style=\"padding: 0 30px;\">\n                <h1 style=\"color: #4A90E2; text-align: center; margin-bottom: 30px; font-size: 28px;\">🚀 Solicitud de\n                    {{ $('Set DB Solicitudes').item.json.mantenimiento_aprovisionamiento }} 🚀</h1>\n\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">ID de Solicitud:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\"># {{ $('Set DB Solicitudes').item.json.id }} </p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Ticket Relacionado:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.ticket }}</p>\n                        </td>\n                    </tr>\n                </table>\n\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Tipo de Gestión:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px; color: #28a745;\">{{ $('Set DB Solicitudes').item.json.mantenimiento_aprovisionamiento }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">SID:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.sid }}</p>\n                        </td>\n                    </tr>\n                </table>\n\n                <h2\n                    style=\"color: #4A90E2; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    🗓️ Detalles de la Cita</h2>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Fecha:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.fecha.toDateTime().setLocale('es').format(\"dd 'de' MMMM 'del' yyyy\") }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Hora:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.hora }}</p>\n                        </td>\n                    </tr>\n                </table>\n\n                <h2\n                    style=\"color: #4A90E2; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    👤 Información del Cliente</h2>\n                <div style=\"margin-bottom: 15px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Nombre del Cliente:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.cliente.toUpperCase() }}</p>\n                </div>\n                <div style=\"margin-bottom: 15px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Contacto en Cliente:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.nombre_contacto_cliente.toUpperCase() }}</p>\n                </div>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 15px;\">\n                    <tr>\n                        <td width=\"33.33%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">País:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.pais.toUpperCase() }}</p>\n                        </td>\n                        <td width=\"33.33%\" style=\"padding-left: 5px; padding-right: 5px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Ciudad:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.ciudad.toUpperCase() }}</p>\n                        </td>\n                        <td width=\"33.33%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Teléfono:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.telefono_cliente }}</p>\n                        </td>\n                    </tr>\n                </table>\n                <div style=\"margin-bottom: 25px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Dirección:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.direccion_cliente }}</p>\n                </div>\n\n                <h2\n                    style=\"color: #4A90E2; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    📦 Equipos y Logística</h2>\n                <div style=\"margin-bottom: 15px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Equipos a Llevar al Cliente:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.equipos_llevar_cliente }}</p>\n                </div>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 15px;\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">RQ de Equipos:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.rq_equipos }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Guía de Envío:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.guia_envio_equipos }}</p>\n                        </td>\n                    </tr>\n                </table>\n                <div style=\"margin-bottom: 25px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Lugar de Recogida de Equipo:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.donde_recoger_equipo }}</p>\n                </div>\n\n                <h2\n                    style=\"color: #4A90E2; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    👨‍💻 Equipo de Trabajo</h2>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Ingeniero de Aprovisionamiento:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.ingeniero_aprovisionamiento }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Gerente de Proyecto:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.gerente_proyecto }}</p>\n                        </td>\n                    </tr>\n                </table>\n\n                <h2\n                    style=\"color: #e28d4a; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    📝 Observaciones</h2>\n                <div style=\"background-color: #fff8e1; border-left: 5px solid #ffcc80; padding: 15px; border-radius: 5px;\">\n                    <p style=\"margin: 0; color: #6d4c41; font-style: italic; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.observaciones.toUpperCase() }}</p>\n                </div>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; padding-top: 40px; padding-bottom: 0px; color: #999; font-size: 12px;\">\n                📧 Reporte generado automáticamente por aifx • 🕒 Fecha: {{ $today.format('dd-MMM-yyyy') }} <br>\n                El contenido generado con AI puede contener errores, favor revisar de manera detallada.\n            </td>\n        </tr>\n    </table>\n\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[920,-100],"id":"413bb914-c89c-4c3b-9424-21ac9880b882","name":"Build HTML"},{"parameters":{"resource":"messages-api","instanceName":"whisper_remote_hands","remoteJid":"573165278069","messageText":"=🚀 *Detalles de Solicitud de Aprovisionamiento* 🚀\nID Solicitud: {{ $json.id }}\nTicket: {{ $json.ticket }}\nTipo de Gestión: {{ $json.mantenimiento_aprovisionamiento }} ✅\nSID: {{ $json.sid }}\n---\n🗓️ *Detalles de la Cita*\nFecha: {{ $json.fecha.toDateTime().setLocale('es').format(\"dd 'de' MMMM 'del' yyyy\") }}\nHora:  {{ $json.hora }} 🕔\n---\n👤 *Información del Cliente*\nCliente: {{ $json.cliente.toUpperCase() }}\nContacto: {{ $json.nombre_contacto_cliente.toUpperCase() }}\nTeléfono: {{ $json.telefono_cliente }} 📞\nPaís: {{ $json.pais.toUpperCase() }}\nCiudad: {{ $json.ciudad.toUpperCase() }}\nDirección: {{ $json.direccion_cliente.toUpperCase() }} 📍\n---\n📦 *Equipos y Logística*\nEquipos a Llevar: {{ $json.equipos_llevar_cliente }}\nRQ Equipos: {{ $json.rq_equipos }}\nGuía de Envío: {{ $json.guia_envio_equipos }}\nRecoger en: {{ $json.donde_recoger_equipo }}\n---\n👨‍💻 *Equipo de Trabajo*\nIngeniero o Grupo Encargado: {{ $json.ingeniero_aprovisionamiento }}\nGerente de Proyecto: {{ $json.gerente_proyecto }}\n---\n📝 *Observaciones Importantes*\n{{ $json.observaciones.toUpperCase() }}\n---\n> 📧 Reporte generado automáticamente por aifx\n> 🕒 Fecha: {{ $today.toLocal().format('yyyy-MM-dd') }}\n> _El contenido generado con AI puede contener errores, favor revisar de manera detallada._","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[920,100],"id":"a146a58a-7345-4d42-83e3-f5812d59f4f5","name":"Send Notificacion Wapp","credentials":{"evolutionApi":{"id":"l1h7t9g8yuhuMKwz","name":"Evolution account"}}},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=Solicitud de {{ $('Set DB Solicitudes').item.json.mantenimiento_aprovisionamiento }} ID # {{ $('Set DB Solicitudes').item.json.id }}","bodyContent":"={{ $('Build HTML').item.json.html }}","additionalFields":{"attachments":{"attachments":[{"binaryPropertyName":"Acta_de_Entrega_de_UM"}]},"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1280,-240],"id":"872e3f3c-3c7e-4af3-81c7-86df72edf340","name":"Microsoft Outlook","webhookId":"2f411bdd-aa5d-4017-adc6-7129703c9d2e","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1120,-280],"id":"14065256-d597-4639-96c0-1c9d61899dbd","name":"Merge"}],"connections":{"On form submission":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}],[{"node":"Set DB Solicitudes","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Set DB Solicitudes","type":"main","index":0}]]},"Set DB Solicitudes":{"main":[[{"node":"Send Notificacion Wapp","type":"main","index":0},{"node":"Build HTML","type":"main","index":0}]]},"Send Notificacion Wapp":{"main":[[]]},"Build HTML":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Microsoft Outlook":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"10e6a078-80db-4b55-8564-5e261795ceaa","triggerCount":0,"tags":[]}