workflowsConsulta para Ingreso.json
{"createdAt":"2025-06-23T22:30:18.773Z","updatedAt":"2025-06-23T23:19:01.000Z","id":"gYWYudOyZwY07Qih","name":"Consulta para Ingreso","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"iniciar_visita","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,160],"id":"ffb135ba-b033-411a-8c46-73aa141731a9","name":"Webhook Inicio Visita","webhookId":"c7b527e5-1dff-4cd9-8c0e-a9dd8e444cf6"},{"parameters":{"httpMethod":"POST","path":"consulta_ingreso","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,-60],"id":"9b062cf7-9541-4144-a66e-f11913d47dcd","name":"Webhook Consulta ID","webhookId":"c7b527e5-1dff-4cd9-8c0e-a9dd8e444cf6"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM request_visitas \nWHERE id = {{ $json.body.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[100,-60],"id":"f608f911-512b-4aef-b986-214b20ff83c8","name":"Postgres","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"respondWith":"json","responseBody":"={\n\"id\": \"{{ $json.id || '' }}\",\n\"tipo\": \"{{ $json.tipo || '' }}\",\n\"cliente\": \"{{ ($json.cliente || '').toUpperCase() }}\",\n\"pais\": \"{{ ($json.pais || '').toUpperCase() }}\",\n\"ciudad\": \"{{ ($json.ciudad || '').toUpperCase() }}\",\n\"direccion_cliente\": \"{{ ($json.direccion_cliente || '').toTitleCase() }}\",\n\"fecha\": \"{{ $json.fecha ? $json.fecha.toDateTime().format('dd MMM yyyy') : '' }}\",\n\"hora\": \"{{ $json.hora ? $json.hora.toDateTime().format('HH mm') : '' }}\",\n\"ticket\": \"{{ $json.ticket || '' }}\",\n\"sid\": \"{{ $json.sid || '' }}\",\n\"nombre_contacto_cliente\": \"{{ $json.nombre_contacto_cliente.toUpperCase() || '' }}\",\n\"telefono_cliente\": \"{{ $json.telefono_cliente || '' }}\",\n\"equipos_llevar_cliente\": \"{{ $json.equipos_llevar_cliente || '' }}\",\n\"rq_equipos\": \"{{ $json.rq_equipos || '' }}\",\n\"donde_recoger_equipo\": \"{{ $json.donde_recoger_equipo.toTitleCase() || '' }}\",\n\"guia_envio_equipos\": \"{{ $json.guia_envio_equipos.tou || '' }}\",\n\"ingeniero_grupo\": \"{{ $json.ingeniero_grupo.toTitleCase() || '' }}\",\n\"gerente_proyecto\": \"{{ $json.gerente_proyecto || '' }}\",\n\"observaciones\": \"{{ $json.observaciones || '' }}\",\n\"created_at\": \"{{ $json.created_at || '' }}\",\n\"updated_at\": \"{{ $json.updated_at || '' }}\",\n\"coordenadas\": \"{{ $json.coordenadas || '' }}\",\n\"asunto\": \"{{ $json.asunto || '' }}\",\n\"hora_ingreso\": \"{{ $json.hora_ingreso || '' }}\",\n\"hora_salida\": \"{{ $json.hora_salida || '' }}\",\n\"contratistas\": \"{{ $json.contratistas || '' }}\",\n\"nombregrupo\": \"{{ $json.nombregrupo || '' }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[340,-60],"id":"ebd0b924-2186-4891-967c-f25b61b71b5b","name":"Respond to Webhook"}],"connections":{"Webhook Consulta ID":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook Consulta ID":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"190.60.243.190","x-forwarded-for":"190.60.243.190","x-forwarded-proto":"https","connection":"upgrade","content-length":"11","sec-ch-ua-platform":"\"macOS\"","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","content-type":"application/json","sec-ch-ua-mobile":"?0","accept":"*/*","origin":"http://localhost:9002","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"http://localhost:9002/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9"},"params":{},"query":{},"body":{"id":"30"},"webhookUrl":"https://n8n.aifx.com.co/webhook/consulta_ingreso","executionMode":"production"}}]},"versionId":"e5a6f884-1fd5-4ab0-b228-8e13b003f44f","triggerCount":2,"tags":[]}