workflowsNodoAnalisisSentimientos.json
{"createdAt":"2025-06-17T21:43:29.995Z","updatedAt":"2025-06-17T22:05:44.000Z","id":"2yn75sN6yiMBS3tR","name":"NodoAnalisisSentimientos","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sentimentnode","authentication":"headerAuth","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-520,-40],"id":"cdd1ff79-5a1a-4f75-9bde-4e6683dc0d68","name":"Webhook","webhookId":"eb4c653b-c553-41c7-a2a9-139a5bedc302","credentials":{"httpHeaderAuth":{"id":"8nGGCDfdtPtQoogH","name":"Header Auth account"}}},{"parameters":{"inputText":"={{ $json.body[0].messages[0].message }}","options":{"includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-80,-40],"id":"949c9a59-97dd-4c6d-bb76-a1a06ff09b84","name":"Sentiment Analysis","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-200,220],"id":"2cf2158b-57d7-48df-b55b-fa617abb9c08","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[400,-200],"id":"9753f1cc-158a-42fb-b5b3-1b5f81ee43ea","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"42a55dd1-10ff-4696-bc29-cd807f870805","name":"success","value":true,"type":"boolean"},{"id":"f07adef2-d5ef-46de-a9cf-1fde4e8f9587","name":"sentimentAnalysis","value":"={{ $json.sentimentAnalysis }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,-200],"id":"ac989db1-8eed-48bd-9f57-b821927ec69d","name":"Edit Fields","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"42a55dd1-10ff-4696-bc29-cd807f870805","name":"success","value":false,"type":"boolean"},{"id":"f07adef2-d5ef-46de-a9cf-1fde4e8f9587","name":"sentimentAnalysis","value":"=","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,160],"id":"56911e8e-4286-46cd-ae97-18573c333d4a","name":"Edit Fields1","onError":"continueErrorOutput"}],"connections":{"Webhook":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}],[{"node":"Merge","type":"main","index":2}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e9400dc2-1d26-4430-ae22-2ed74d319f72","triggerCount":1,"tags":[]}