workflowsBusqueda de informacion reportes SOC.json
{"createdAt":"2025-06-10T20:38:55.160Z","updatedAt":"2025-06-16T23:59:35.000Z","id":"KT5Q2p6ttQTUIEQ5","name":"Busqueda de informacion reportes SOC","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"607c48c9-ca46-4a2a-8fb7-d90f0188feab","name":"urls","value":"[\n  \"https://www.virustotal.com/\",\n  \"https://urlscan.io/\",\n  \"https://www.hybrid-analysis.com/\",\n  \"https://www.joesandbox.com/\",\n  \"https://any.run/\",\n  \"https://www.abuseipdb.com/\",\n  \"https://www.ipvoid.com/\",\n  \"https://talosintelligence.com/\",\n  \"https://blog.talosintelligence.com/\",\n  \"https://otx.alienvault.com/\",\n  \"https://threatfox.abuse.ch/\",\n  \"https://www.shodan.io/\",\n  \"https://search.censys.io/\",\n  \"https://fofa.so/\",\n  \"https://crt.sh/\",\n  \"https://hunter.io/\",\n  \"https://www.misp-project.org/\",\n  \"https://www.opencti.io/\",\n  \"https://www.cisa.gov/news-events/alerts\",\n  \"https://attack.mitre.org/\",\n  \"https://www.greynoise.io/\",\n  \"https://pastebin.com/\",\n  \"https://intelx.io/\",\n  \"https://haveibeenpwned.com/\",\n  \"https://tdm.socprime.com/\",\n  \"https://analyze.intezer.com/\"\n]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,-100],"id":"6e5fe6d3-e4da-4a81-bd1f-e9742f38fcd8","name":"Edit Fields"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,-100],"id":"92454f95-86a9-4e3e-abeb-95951c3a2edd","name":"Loop Over Items"},{"parameters":{"operation":"insert","collection":"reportes_soc","fields":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[1800,-20],"id":"d7a99a03-2229-43e3-bbc9-6199204db6fc","name":"MongoDB","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-220,-220],"id":"ff5fc5ee-7fe5-4808-95eb-d7162c0c1aa4","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{"hl":"en"}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[1340,220],"id":"f8ee8184-697a-4d3a-8627-6117c195f32a","name":"SerpAPI","credentials":{"serpApi":{"id":"ScTpkOBn8GvsLjdG","name":"SerpApi account"}}},{"parameters":{"promptType":"define","text":"=Has sido encargado de analizar la información contenida en la siguiente página web, obtenida de una búsqueda relacionada con ciberseguridad: {{ $json.url }}.\n\nTu objetivo principal es identificar y extraer **noticias, reportes o análisis detallados sobre ciberataques, brechas de seguridad o incidentes significativos que hayan afectado a empresas o instituciones recientemente**.\n\nSi la página es una herramienta de análisis (como VirusTotal o URLscan.io) y no un portal de noticias o un blog de inteligencia, **prioriza la búsqueda de enlaces o referencias a casos de estudio, blogs de investigación o incidentes específicos** que puedan estar documentados en ella, en lugar de intentar extraer un reporte general. Si no encuentra ninguna referencia directa a un ciberataque significativo o noticia relevante, responda con la frase indicada.\n\nSi se encuentra información relevante sobre un ciberataque, extrae los eventos clave y elabora un resumen detallado.\n\nDevuelve el resultado en formato **Markdown**, con la siguiente estructura clara y útil:\n\n---\n### 🗓 Fecha del Incidente / Publicación:\nIndica la fecha **específica del incidente de ciberseguridad** si está mencionada. Si no, usa la fecha de publicación del artículo o la fecha más relevante para el evento.\n\n---\n### 🌐 Fuente del Reporte:\nIndica la **URL exacta** del reporte o artículo.\n\n---\n### 📝 Resumen del Ciberataque:\nResume los hechos clave de manera concisa y clara. Asegúrate de incluir y destacar:\n- La **Empresa o Institución Afectada** (nombre completo y sector, si es posible).\n- El **Tipo de Ataque Específico** (Ej: ataque de ransomware, explotación de vulnerabilidad de día cero, campaña de phishing dirigida, DDoS, inyección SQL, compromiso de cadena de suministro, etc.).\n- El **Impacto Directo del Ataque** (Ej: filtración de datos sensibles/personales, interrupción prolongada de servicios/operaciones, pérdida financiera significativa, acceso no autorizado a sistemas críticos).\n- Los **Actores de la Amenaza** (si se conocen y mencionan: nombre del grupo de hackers, atribución a un estado, etc.).\n- **Método de Entrada Inicial** (si se detalla: Ej: a través de un correo de phishing, vulnerabilidad en un software específico, credenciales robadas, etc.).\n\n---\n### 📌 Análisis y Conclusiones Clave:\nDescribe el impacto general y las implicaciones del incidente. Incluye:\n- **Lecciones Aprendidas o Recomendaciones** de seguridad derivadas del incidente (si las proporciona el artículo).\n- **Acciones Tomadas** por la empresa afectada o autoridades (Ej: inicio de investigación forense, fortalecimiento de defensas, comunicación con clientes).\n- **Relevancia del Ataque** para el panorama general de la ciberseguridad.\n\n---\n### 🚨 Nivel de Alerta:\nEvalúa el nivel de riesgo o impacto del incidente descrito. Usa uno de los siguientes:\n- **Bajo** 🟢 (Incidente menor, impacto limitado, rápida resolución).\n- **Moderado** 🟡 (Impacto significativo pero controlado, recuperación en curso, no hay amenaza inminente para otros).\n- **Alto** 🔴 (Brecha de datos confirmada, interrupción de servicios crítica, potencial para afectar a terceros).\n- **Crítico** 🔥 (Impacto masivo, amenazas persistentes, ataque en curso con consecuencias graves, afectación a infraestructura crítica o datos de gran volumen/sensibilidad).\n\n---\n\nSi la URL no contiene información directamente útil sobre ciberataques recientes a empresas o instituciones, responde **únicamente** con la siguiente frase:\n\n> **No se encontró información relevante sobre ciberataques en esta URL.**","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1160,-80],"id":"eeb44c72-c4aa-42e6-8da0-26e3111b02f6","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1140,220],"id":"f473307e-6744-44fd-940c-6eb8cd102ea4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"const urls = items[0].json.urls;\n\nreturn urls.map(url => {\n  return {\n    json: {\n      url: url\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,-100],"id":"d465854f-af51-4d70-880a-6653650b1c24","name":"Code"},{"parameters":{"collection":"reportes_soc","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[1360,-420],"id":"7bb9a1e4-c16f-406f-aef9-6580362806b3","name":"MongoDB1","credentials":{"mongoDb":{"id":"anxhbPr54h2LJLDB","name":"MongoDB Devcloud"}}},{"parameters":{"promptType":"define","text":"=Has recibido múltiples informes individuales {{ $json.resumenes_completos }} con análisis de ciberataques y amenazas recopiladas de distintos portales informativos. \n\nTu tarea es:\n\n1. Leer y analizar todos los resúmenes recibidos.\n2. Detectar patrones comunes, amenazas relevantes y tendencias globales.\n3. Generar un **informe ejecutivo** unificado y claro, que pueda ser enviado por correo a un equipo de ciberseguridad.\n4. Presentar el resultado en **formato Markdown**, siguiendo la estructura:\n\n---\n\n## 🛡️ Informe General de Ciberseguridad\n\n### 📅 Fecha del reporte:\n(Indica la fecha de hoy)\n\n### 🔍 Análisis Consolidado:\n(Sintetiza los eventos clave, actores repetidos, vectores de ataque comunes, industrias más afectadas)\n\n### 📌 Tendencias Relevantes:\n- (Lista de 2 a 5 puntos con tendencias o patrones detectados)\n\n### 🚨 Nivel de Alerta General:\n(Selecciona entre Bajo 🟢, Moderado 🟡, Alto 🔴, Crítico 🔥)\n\n### 🧠 Recomendaciones Estratégicas:\n- (Incluir 2 o 3 sugerencias de alto nivel para el equipo de seguridad)\n\n---\n## Devuelve la respuesta en el siguiente formato JSON:\n\n```json\n{\n  \"markdown\": \"<AQUÍ EL INFORME EN MARKDOWN>\",\n  \"html\": \"<AQUÍ EL MISMO INFORME EN FORMATO HTML>\"\n}\n\nSi no se encuentra información relevante, responde:\n\n> **No se encontraron eventos significativos para el periodo analizado.**\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2320,-320],"id":"4fa80887-514b-447f-8def-db4784b8c404","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2300,-100],"id":"a19c310d-7725-4eed-a823-85850076fbf3","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"S46eGA7oXnm2SZCZ","name":"OpenAi account 2"}}},{"parameters":{"toRecipients":"=cbautista@ifxcorp.com","subject":"=Resumen RFP client_empresa_demo","bodyContent":"={{ $json.formattedHtml }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2780,-320],"id":"9a36d084-5d93-474d-8806-a24a7b828fa3","name":"Send Mail","webhookId":"4d4b099c-c77e-49cd-924d-254b0d51e936","credentials":{"microsoftOutlookOAuth2Api":{"id":"zrNdsL9SZMvBfPt3","name":"Microsoft Outlook cbautista"}}},{"parameters":{"jsCode":"const resumenes = [];\n\nfor (const item of items) {\n  const keys = Object.keys(item.json);\n  \n  // Ignoramos el _id y buscamos la clave que tiene el resumen real\n  const resumenKey = keys.find(k => k !== '_id');\n  \n  if (resumenKey) {\n    resumenes.push(resumenKey); // la clave es el resumen\n  }\n}\n\n// Unimos todos los resúmenes en un solo texto\nreturn [\n  {\n    json: {\n      resumenes_completos: resumenes.join(\"\\n\\n\")\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,-320],"id":"c937c890-1ec3-4777-8294-937669cc5f7a","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"197daecb-8758-411f-a233-7328c86ece06","leftValue":"={{$('Loop Over Items').}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,-300],"id":"1dce4dc7-c791-41c4-b520-1f0da5814d12","name":"If"},{"parameters":{"errorMessage":"\"error iterando\""},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1360,-240],"id":"d162821b-36db-43c0-a34d-701144a692b7","name":"Stop and Error"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[720,-260],"id":"510c386c-4886-47b4-9d6f-4bffdba08e90","name":"Aggregate"}],"connections":{"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"MongoDB1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Send Mail","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"If":{"main":[[{"node":"MongoDB1","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"79b7ddf3-34dc-4fe0-aa82-c0814d0a95d5","triggerCount":0,"tags":[]}