workflowsRemote Hands Whisper.json
{"createdAt":"2025-06-16T16:58:43.021Z","updatedAt":"2025-06-23T14:16:46.000Z","id":"EqwGgiPgMP5zpDaW","name":"Remote Hands Whisper","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whisper_remote_hands","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,500],"id":"1e2d51a8-bc24-45a4-81f1-c0dffb24c056","name":"Webhook","webhookId":"69fc8c2e-039d-4679-a583-08f892948ec2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"INGRESO VISITA","operator":{"type":"string","operation":"contains"},"id":"7bafa925-76bc-4d9a-826f-bc5e43714a7c"}],"combinator":"and"},"renameOutput":true,"outputKey":"INGRESO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a385a675-902c-4dbc-9ae9-fe68b1f2b0ca","leftValue":"INGRESO 2","rightValue":"(?=.*DESCRIPCI[ÓO]N)(?=.*INGRESO).*","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"INGRESO 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"90b50ac9-f5cb-4dd4-b67a-c240309574c1","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"SALIDA VISITA","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SALIDA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"949c674e-0fb6-4b6f-b5fc-11c1699719fa","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"(?=.*DESCRIPCI[ÓO]N)(?=.*SALIDA).*","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SALIDA 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"35338151-0c7f-49e1-b347-e4a2b778e36c","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"SOLICITUD MANOS REMOTAS","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SOLICITUD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cb2ac066-e851-4699-a841-f9b986d8d581","leftValue":"={{ $json.body.data.message.conversation }}","rightValue":"INGRESO SALIDA VISITA SOLICITUD MANOS REMOTAS","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OTROS"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-620,440],"id":"16214f2a-f690-4765-96a0-d606e559954f","name":"Switch"},{"parameters":{"text":"={{ $json.body.data.message.conversation }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"plantilla\": \"INGRESO VISITA MANOS REMOTAS\",\n  \"descripcion\": \"INGRESO\",\n  \"cliente\": \"OMEGA HEALTHCARE COLOMBIA SAS\",\n  \"direccion_cliente\": \"CARRERA 106 # 15 A - 25 / MANZANA 18\",\n  \"ciudad\": \"BOGOTA - ZONA FRANCA DE BOGOTA\",\n  \"sid\": \"2110817 - SID2262254\",\n  \"ticket\": \"1075018\",\n  \"hora_ingreso\": \"13:58\",\n  \"nombre_tecnico\": \"MIGUEL FEO\",\n  \"celular_tecnico\": \"3018147574\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-360,60],"id":"8f15a2a1-714d-436a-9c2f-808fabf4bf23","name":"Extraer Datos Ingreso","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"text":"={{ $json.body.data.message.conversation }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"plantilla\": \"SALIDA VISITAS MANOS REMOTAS\",\n  \"descripcion\": \"SALIDA\",\n  \"cliente\": \"BETA NETWORKS LTDA.\",\n  \"direccion_cliente\": \"CALLE 120 # 7-90, MEDELLIN\",\n  \"sid\": \"1234567\",\n  \"ticket\": \"TT123456\",\n  \"hora_salida\": \"14:10\",\n  \"estado_servicio\": \"NO OPERATIVO\",\n  \"visita_fallida\": \"SI\",\n  \"razon_fallida\": \"PERMISOS DE INGRESO\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-380,360],"id":"f039d950-f828-4e36-a691-974c8b6d55ab","name":"Extraer Datos Salida","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-520,880],"id":"e8f4be5e-6bb5-4b1a-aca7-8177bff994d6","name":"Llama 3.1 8B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"text":"={{ $json.body.data.message.conversation }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"asunto\": \"Solicitud manos remotas URBMAN PANAMA S.A. : YEYO S.A.\",\n  \"descripcion_solicitud\": \"TRASLADO\",\n\"tipo_mantenimiento_implementacion\": \"IMPLEMENTACIÓN\",\n  \"acta_UM_adjunta\": \"NO\",\n  \"cliente\": \"URBMAN PANAMA S.A. : YEYO S.A.\",\n  \"pais\": \"GUATEMALA\",\n  \"ciudad\": \"Carretera a El Salvador Guatemala\",\n  \"direccion_cliente\": \"Hacienda San Miguel de Arrazola, Carr. A El Salvador Guatemala\",\n  \"coordenadas\": \"14.53775, -90.45678\",\n  \"fecha\": \"2025-06-23\",\n  \"hora\": \"13:10\",\n  \"ticket\": \"TT12345\",\n  \"sid\": \"1453626\",\n  \"nombre_contacto_cliente\": \"Nery Caballeros\",\n  \"telefono_cliente\": \"502 3569 3407\",\n  \"equipos_a_llevar\": \"2 Routers\",\n  \"rq_equipos\": \"12345\",\n  \"donde_recoger_equipo\": \"Recoger en Almacen Colombia\",\n  \"guia_envio_equipos\": \"Servientrega 12345\",\n  \"ingeniero_grupo\": \"JUAN MONROY\",\n  \"gerente_proyecto\": \"JUAN MONROY\",\n  \"observaciones\": \"Llevar cable de consola, cable de red, conexión de datos móviles y portátil, que el portátil tenga puerto RJ45 de 1Gbps.\"\n}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-380,660],"id":"630a3f99-ca3b-4050-8861-62d3277ce4af","name":"Extraer Datos Solicitud","alwaysOutputData":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"request_visitas","mode":"list","cachedResultName":"request_visitas"},"columns":{"mappingMode":"defineBelow","value":{"descripcion":"={{ $json.output.asunto }}","tipo":"={{ $json.output.descripcion_solicitud }}","asunto":"={{ $json.output.asunto }}","adjunta_acta_um":"={{ $json.output.acta_UM_adjunta }}","cliente":"={{ $json.output.cliente }}","pais":"={{ $json.output.pais }}","ciudad":"={{ $json.output.ciudad }}","direccion_cliente":"={{ $json.output.direccion_cliente }}","fecha":"={{ $json.output.fecha ? DateTime.fromFormat($json.output.fecha, 'dd-MM-yyyy').toISODate() : null }}","hora":"={{ $json.output.hora ? DateTime.fromFormat($json.output.hora, 'h:mm a').toFormat('HH:mm') : null }}","ticket":"={{ $json.output.ticket }}","sid":"={{ $json.output.sid }}","nombre_contacto_cliente":"={{ $json.output.nombre_contacto_cliente }}","telefono_cliente":"={{ $json.output.telefono_cliente }}","equipos_llevar_cliente":"={{ $json.output.equipos_a_llevar }}","rq_equipos":"={{ $json.output.rq_equipos }}","donde_recoger_equipo":"={{ $json.output.donde_recoger_equipo }}","guia_envio_equipos":"={{ $json.output.guia_envio_equipos }}","ingeniero_grupo":"={{ $json.output.ingeniero_grupo }}","gerente_proyecto":"={{ $json.output.gerente_proyecto }}","observaciones":"={{ $json.output.observaciones }}","coordenadas":"={{ $json.output.coordenadas }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"adjunta_acta_um","displayName":"adjunta_acta_um","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_contacto_cliente","displayName":"nombre_contacto_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono_cliente","displayName":"telefono_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"equipos_llevar_cliente","displayName":"equipos_llevar_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rq_equipos","displayName":"rq_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"donde_recoger_equipo","displayName":"donde_recoger_equipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"guia_envio_equipos","displayName":"guia_envio_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ingeniero_grupo","displayName":"ingeniero_grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gerente_proyecto","displayName":"gerente_proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"coordenadas","displayName":"coordenadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"asunto","displayName":"asunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"hora_ingreso","displayName":"hora_ingreso","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"hora_salida","displayName":"hora_salida","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"contratistas","displayName":"contratistas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombregrupo","displayName":"nombregrupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,660],"id":"601a8b03-f959-471c-a3d9-62c9a7d4d1c4","name":"Set Solicitud","alwaysOutputData":true,"credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"ingreso_visitas","mode":"list","cachedResultName":"ingreso_visitas"},"columns":{"mappingMode":"defineBelow","value":{"descripcion":"={{ $json.output.descripcion }}","cliente":"={{ $json.output.cliente }}","sid":"={{ $json.output.sid }}","direccion_cliente":"={{ $json.output.direccion_cliente }}","ticket":"={{ $json.output.ticket }}","hora_ingreso":"={{ $json.output.hora_ingreso ? DateTime.fromFormat($json.output.hora_ingreso, 'h:mm a').toFormat('HH:mm') : null }}","nombre_tecnico":"={{ $json.output.nombre_tecnico }}","numero_celular_tecnico":"={{ $json.output.celular_tecnico }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora_ingreso","displayName":"hora_ingreso","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"nombre_tecnico","displayName":"nombre_tecnico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero_celular_tecnico","displayName":"numero_celular_tecnico","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4,60],"id":"814a0659-a6a7-4d21-957c-3db9674b6ca2","name":"Set Ingreso","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"request_visitas","mode":"list","cachedResultName":"request_visitas"},"columns":{"mappingMode":"defineBelow","value":{"hora_ingreso":"={{ $('Extraer Datos Ingreso').item.json.output.hora_ingreso }}","id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"adjunta_acta_um","displayName":"adjunta_acta_um","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombre_contacto_cliente","displayName":"nombre_contacto_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono_cliente","displayName":"telefono_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"equipos_llevar_cliente","displayName":"equipos_llevar_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rq_equipos","displayName":"rq_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"donde_recoger_equipo","displayName":"donde_recoger_equipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"guia_envio_equipos","displayName":"guia_envio_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ingeniero_grupo","displayName":"ingeniero_grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"gerente_proyecto","displayName":"gerente_proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"coordenadas","displayName":"coordenadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"asunto","displayName":"asunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_ingreso","displayName":"hora_ingreso","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"hora_salida","displayName":"hora_salida","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"contratistas","displayName":"contratistas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombregrupo","displayName":"nombregrupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,-140],"id":"5a6f0633-10b6-453d-bc32-c19a1d6fd461","name":"Update Ingreso","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,-140],"id":"eaef1bad-e0e7-412d-b776-98ca877a0dfe","name":"Ingreso Update"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"request_visitas","mode":"list","cachedResultName":"request_visitas"},"columns":{"mappingMode":"defineBelow","value":{"hora_salida":"={{ $('Extraer Datos Salida').item.json.output.hora_salida }}","id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"adjunta_acta_um","displayName":"adjunta_acta_um","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombre_contacto_cliente","displayName":"nombre_contacto_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono_cliente","displayName":"telefono_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"equipos_llevar_cliente","displayName":"equipos_llevar_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rq_equipos","displayName":"rq_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"donde_recoger_equipo","displayName":"donde_recoger_equipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"guia_envio_equipos","displayName":"guia_envio_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ingeniero_grupo","displayName":"ingeniero_grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"gerente_proyecto","displayName":"gerente_proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"coordenadas","displayName":"coordenadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"asunto","displayName":"asunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_ingreso","displayName":"hora_ingreso","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"hora_salida","displayName":"hora_salida","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"contratistas","displayName":"contratistas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombregrupo","displayName":"nombregrupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[420,280],"id":"f9bd459a-f589-473c-a04f-accbca6ec103","name":"Update Salida","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}},"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"salida_visitas","mode":"list","cachedResultName":"salida_visitas"},"columns":{"mappingMode":"defineBelow","value":{"visita_fallida":"={{ $json.output.visita_fallida }}","descripcion":"={{ $json.output.descripcion }}","cliente":"={{ $json.output.cliente }}","direccion_cliente":"={{ $json.output.direccion_cliente }}","sid":"={{ $json.output.sid }}","ticket":"={{ $json.output.ticket }}","hora_salida":"={{ $json.output.hora_salida ? DateTime.fromFormat($json.output.hora_salida, 'h:mm a').toFormat('HH:mm') : null }}","estado_servicio":"={{ $json.output.estado_servicio }}","razon_fallida":"={{ $json.output.razon_fallida }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora_salida","displayName":"hora_salida","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"estado_servicio","displayName":"estado_servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"visita_fallida","displayName":"visita_fallida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"razon_fallida","displayName":"razon_fallida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4,460],"id":"187c36dc-98b3-43b1-bea1-ea07d14b81b1","name":"Set Salida","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,280],"id":"c5c44d22-cf8b-45ac-a389-6193e4edeb34","name":"Salida Update"},{"parameters":{"operation":"executeQuery","query":"SELECT id FROM request_visitas\nWHERE sid LIKE '%{{ $json.output.sid }}%' \nORDER BY created_at DESC \nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4,260],"id":"bae3a4dd-cf9c-4750-af8e-84cf0e7367d3","name":"Search Last SID","alwaysOutputData":true,"credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id FROM request_visitas\nWHERE sid LIKE '%{{ $json.output.sid }}%' \n  OR sid LIKE '%{{ $json.output.cliente }}%'\nORDER BY created_at DESC \nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,-140],"id":"2a96aff1-edd5-4aed-b5a0-b006a90a90ff","name":"Search Last SID_","alwaysOutputData":true,"credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"id_chat":"={{ $json.body.data.key.id }}","remotejid":"={{ $json.body.data.key.remoteJid }}","participant":"={{ $json.body.data.key.participant }}","pushname":"={{ $json.body.data.pushName }}","conversation":"={{ $json.body.data.message.conversation }}","instanceid":"={{ $json.body.data.instanceId }}","url_image":"={{ $json.url_image }}","sender":"={{ $json.body.sender }}","datetime":"={{ $json.body.date_time }}","url_audio":"={{ $json.url_audio }}","url_video":"={{ $json.url_video }}","message":"={{ $json.body.data.message.conversation }}"},"matchingColumns":["id"],"schema":[{"id":"id_chat","displayName":"id_chat","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remotejid","displayName":"remotejid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pushname","displayName":"pushname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instanceid","displayName":"instanceid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"datetime","displayName":"datetime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombrecliente","displayName":"nombrecliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"real_name_user","displayName":"real_name_user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-320,880],"id":"ea48394a-8632-46b2-a7d1-4caba194ea10","name":"Insert Messages","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"operation":"executeQuery","query":"SELECT contratista, nombregrupo \nFROM groups_remote_hands \nWHERE \"remoteJid\" = '{{ $('Webhook').item.json.body.data.key.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[200,660],"id":"021fa654-592e-4656-91fa-1bd5d053be27","name":"Search Contratista","alwaysOutputData":true,"credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"request_visitas","mode":"list","cachedResultName":"request_visitas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set Solicitud').item.json.id }}","contratistas":"={{ $json.contratista }}","nombregrupo":"={{ $json.nombregrupo }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"descripcion","displayName":"descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"adjunta_acta_um","displayName":"adjunta_acta_um","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombre_contacto_cliente","displayName":"nombre_contacto_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono_cliente","displayName":"telefono_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"equipos_llevar_cliente","displayName":"equipos_llevar_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"rq_equipos","displayName":"rq_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"donde_recoger_equipo","displayName":"donde_recoger_equipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"guia_envio_equipos","displayName":"guia_envio_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ingeniero_grupo","displayName":"ingeniero_grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"gerente_proyecto","displayName":"gerente_proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"coordenadas","displayName":"coordenadas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"asunto","displayName":"asunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"hora_ingreso","displayName":"hora_ingreso","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"hora_salida","displayName":"hora_salida","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"contratistas","displayName":"contratistas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombregrupo","displayName":"nombregrupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[640,580],"id":"ede8f967-f06d-49be-97f1-d1905af8ec03","name":"Set Contratista","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4899d420-42b6-4139-893c-d1aa631902a1","leftValue":"={{ $('Search Contratista') }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[420,660],"id":"98c4c961-6781-4af1-b278-1408d6a3b62d","name":"Has Contratista"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[640,760],"id":"644df166-d687-4c33-9114-f5dc0bd0ffd5","name":"Sin Contratista"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[320,980],"id":"e4a00621-e6d6-4769-a5ed-dd3c791cef4e","name":"Sin Contratista1"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"id_chat":"={{ $('Insert Messages').item.json.id_chat }}","nombrechat":"={{ $json.nombregrupo }}","contratista":"={{ $json.contratista }}"},"matchingColumns":["id_chat"],"schema":[{"id":"id_chat","displayName":"id_chat","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"remotejid","displayName":"remotejid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pushname","displayName":"pushname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"instanceid","displayName":"instanceid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"datetime","displayName":"datetime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombrecliente","displayName":"nombrecliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"real_name_user","displayName":"real_name_user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"contratista","displayName":"contratista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[320,820],"id":"c21e7bf1-fe33-4774-a226-245e09c91130","name":"Update Message","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4899d420-42b6-4139-893c-d1aa631902a1","leftValue":"={{ $('Search Group Name') }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,880],"id":"cef5612c-d834-4ee1-ae89-3f3dc54852ce","name":"Has Group Name"},{"parameters":{"operation":"executeQuery","query":"SELECT contratista, nombregrupo \nFROM groups_remote_hands \nWHERE \"remoteJid\" = '{{ $('Webhook').item.json.body.data.key.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-120,880],"id":"a4d819d9-b022-4920-b4ae-070367e56357","name":"Search Group Name","alwaysOutputData":true,"credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4cfd4a3-516b-40e8-b411-eb49b17364a4","leftValue":"={{ $('Search Last SID_') }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,-140],"id":"3d78ccfe-eeda-4538-8f60-30b4c55a6be9","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[400,-340],"id":"2a2c10db-6c17-4581-b662-ca0d59ef83ca","name":"No Data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25dd83d2-54ec-4fa7-b538-05121b5c26f1","leftValue":"={{ $('Search Last SID') }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,260],"id":"d04af847-251f-4150-9394-571b3bba28cb","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[420,120],"id":"2e86d34c-acf2-4470-a906-be2cc605d8e9","name":"No Data_"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extraer Datos Ingreso","type":"main","index":0}],[{"node":"Extraer Datos Ingreso","type":"main","index":0}],[{"node":"Extraer Datos Salida","type":"main","index":0}],[{"node":"Extraer Datos Salida","type":"main","index":0}],[{"node":"Extraer Datos Solicitud","type":"main","index":0}],[{"node":"Insert Messages","type":"main","index":0}]]},"Extraer Datos Salida":{"main":[[{"node":"Set Salida","type":"main","index":0},{"node":"Search Last SID","type":"main","index":0}]]},"Llama 3.1 8B":{"ai_languageModel":[[{"node":"Extraer Datos Ingreso","type":"ai_languageModel","index":0},{"node":"Extraer Datos Salida","type":"ai_languageModel","index":0},{"node":"Extraer Datos Solicitud","type":"ai_languageModel","index":0}]]},"Extraer Datos Solicitud":{"main":[[{"node":"Set Solicitud","type":"main","index":0}]]},"Extraer Datos Ingreso":{"main":[[{"node":"Set Ingreso","type":"main","index":0},{"node":"Search Last SID_","type":"main","index":0}]]},"Set Ingreso":{"main":[[]]},"Update Ingreso":{"main":[[{"node":"Ingreso Update","type":"main","index":0}]]},"Update Salida":{"main":[[{"node":"Salida Update","type":"main","index":0}]]},"Search Last SID":{"main":[[{"node":"If1","type":"main","index":0}]]},"Search Last SID_":{"main":[[{"node":"If","type":"main","index":0}]]},"Set Solicitud":{"main":[[{"node":"Search Contratista","type":"main","index":0}]]},"Search Contratista":{"main":[[{"node":"Has Contratista","type":"main","index":0}]]},"Has Contratista":{"main":[[{"node":"Set Contratista","type":"main","index":0}],[{"node":"Sin Contratista","type":"main","index":0}]]},"Insert Messages":{"main":[[{"node":"Search Group Name","type":"main","index":0}]]},"Has Group Name":{"main":[[{"node":"Update Message","type":"main","index":0}],[{"node":"Sin Contratista1","type":"main","index":0}]]},"Search Group Name":{"main":[[{"node":"Has Group Name","type":"main","index":0}]]},"If":{"main":[[{"node":"No Data","type":"main","index":0}],[{"node":"Update Ingreso","type":"main","index":0}]]},"If1":{"main":[[{"node":"No Data_","type":"main","index":0}],[{"node":"Update Salida","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","timezone":"America/Bogota","executionTimeout":300,"errorWorkflow":"Txht1wrdLAI370JY","timeSavedPerExecution":60},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"content-type":"application/json","user-agent":"axios/1.7.9","content-length":"1105","accept-encoding":"gzip, compress, deflate, br","host":"192.168.2.12:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"whisper_remote_hands","data":{"key":{"remoteJid":"573165277924-1607537835@g.us","fromMe":false,"id":"5223073309A6B0E43D2F37E537CBD2A3","participant":"50768771419@s.whatsapp.net"},"pushName":"EE","status":"DELIVERY_ACK","message":{"messageContextInfo":{"messageSecret":"8HxbvBLqIR66UH5lFW9DE1IpNKWjvXWi5NBQa/rzEVw="},"conversation":"PLANTILLA INGRESO VISITA MANOS REMOTAS\nDESCRIPCION:   INGRESO\nCLIENTE: NTICS S.A.S SERVICIOS Y SOLUCIONES - NTICS S.A.S.\nDIRECCIÓN CLIENTE:Ave. Colombia Calle entre calle 44 y 45 Edificio Capto, Panamá : 8.976170, 79528566\nSID: \t2464268\nTICKET:  NA\nHORA INGRESO 8:10 AM\nNOMBRE DEL TECNICO: JAVIER REAL"},"contextInfo":{"forwardingScore":1,"isForwarded":true},"messageType":"conversation","messageTimestamp":1750684201,"instanceId":"3bc49986-3e01-4a47-93aa-e46d8477e1be","source":"android"},"destination":"http://192.168.2.12:5678/webhook/whisper_remote_hands","date_time":"2025-06-23T08:10:01.651Z","sender":"573117653488@s.whatsapp.net","server_url":"http://localhost:8080","apikey":"EF17981DB537-41B2-9919-4BEEC1B52C1E"},"webhookUrl":"https://n8n.aifx.com.co/webhook/whisper_remote_hands","executionMode":"production"}}]},"versionId":"cd94b10c-3175-450f-b39e-36491a8af597","triggerCount":1,"tags":[]}