workflowsLicitainfo Colombia Vector Docs.json
{"createdAt":"2025-05-15T14:51:42.171Z","updatedAt":"2025-06-25T20:58:45.000Z","id":"sHVWbzZi9dmbm3qU","name":"Licitainfo Colombia Vector Docs","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"output":"raw","filters":{"foldersToInclude":["AAMkAGUyOTgzNDViLTIwY2ItNDFmNi04ODUwLTNmZTJmZjI5ZTY5MgAuAAAAAAD2otzNIFhhTLQNl5GG7b3VAQA59ESx-VUJQ61HIyY6Bm7SAAgOOqoXAAA="]},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[1360,320],"id":"be708116-dc7c-47be-a73f-0d559212a322","name":"Microsoft Outlook Trigger","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"text":"={{ $json.subject }}\n{{ $json.body }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"asunto\": \"[Urg]ALCAL. DE TINJACA minima cuantia MT-MC-012-2025 [93206]\",\n  \"entidad\": \"ALCAL. DE TINJACA\",\n  \"concepto\": \"Contratación mínima cuantía MT-MC-012-2025\",\n  \"objeto\": \"ADQUISICION DEL SERVICIO DE ACCESO A INTERNET POR FIBRA OPTICA PARA LAS DEPENDENCIAS DE LA ALCALDIA MUNICIPAL Y LA BIBLIOTECA PUBLICA DEL MUNICIPIO DE TINJACA\",\n  \"valor\": \"$10.000.000\",\n  \"localizacion\": \"Boyacá Tinjacá\",\n  \"departamento\": \"Boyacá\",\n  \"ciudad\": \"Tinjacá\",\n  \"portal_origen\": \"SECOP 2\",\n  \"fecha_publicacion\": \"2025-05-14 08:36:00 am\",\n  \"funcionalidades_de_la_herramienta\": \"https://col.licitaciones.info/detalle-contrato?random=67f70bd9505d31.74719324\",\n  \"documentos_encontrados\": [\n    {\n      \"nombre\": \"ANALISIS DEL SECTOR INTERNET.pdf\",\n      \"enlace\": \"https://community.secop.gov.co/Public/Archive/RetrieveFile/Index?DocumentId=611919317\"\n    },\n    {\n      \"nombre\": \"CDP INTERNET.pdf\",\n      \"enlace\": \"https://community.secop.gov.co/Public/Archive/RetrieveFile/Index?DocumentId=611919318\"\n    },\n    {\n      \"nombre\": \"CERTIFICACION PAA.pdf\",\n      \"enlace\": null\n    }\n  ]\n}\n","options":{"systemPromptTemplate":"ERES UN AGENTE EXTRACTOR DE DATOS DE ALTO RENDIMIENTO ENTRENADO PARA IDENTIFICAR Y ESTRUCTURAR INFORMACIÓN CLAVE DESDE TEXTOS DE LICITACIONES COLOMBIANAS. TU OBJETIVO ES DEVOLVER UN OBJETO JSON CON LOS SIGUIENTES CAMPOS ESTANDARIZADOS:\n\n- \"asunto\"  \n- \"entidad\"  \n- \"concepto\"  \n- \"objeto\"  \n- \"valor\"  \n- \"localizacion\"  \n- **\"departamento\" ← NUEVO CAMPO EXTRAÍDO DESDE \"localizacion\"**  \n- **\"ciudad\" ← NUEVO CAMPO EXTRAÍDO DESDE \"localizacion\"**  \n- \"portal_origen\"  \n- \"fecha_publicacion\"  \n- **\"funcionalidades_de_la_herramienta\" ← ESTE CAMPO ES CRÍTICO**  \n- \"documentos\": una lista de objetos con campos \"nombre\" y \"enlace\"  \n\n### INSTRUCCIONES:\n\n1. EXTRAE ÚNICAMENTE INFORMACIÓN RELEVANTE Y PRESENTE EN EL TEXTO.\n2. OMITE CUALQUIER CAMPO CUYO VALOR NO PUEDA DETERMINARSE CLARAMENTE.\n3. ASEGÚRATE DE FORMAR UN JSON VÁLIDO, BIEN ESTRUCTURADO Y FORMATEADO.\n4. DETECTA Y ASOCIA DOCUMENTOS CON SUS ENLACES Y NOMBRES LIMPIOS.\n5. EN CAMPOS COMO “ENTIDAD”, “OBJETO” Y “VALOR”, USA EL TEXTO EXACTO EXTRAÍDO.\n6. ELIMINA DOBLES PUNTOS, CORCHETES O CARACTERES EXTRAÑOS QUE NO FORMEN PARTE DEL CONTENIDO PROPIAMENTE DICHO.\n7. **ES OBLIGATORIO DETECTAR Y EXTRAER EL ENLACE UBICADO DESPUÉS DE “Enlace directo a licitaciones.info” Y GUARDARLO COMO \"funcionalidades_de_la_herramienta\"**.\n8. **SI EL CAMPO \"localizacion\" TIENE FORMATO \"Departamento : Ciudad\" O SIMILAR, SEPARA EL DEPARTAMENTO Y LA CIUDAD EN CAMPOS INDEPENDIENTES**:  \n   - `\"departamento\"` ← VALOR ANTES DE LOS DOS PUNTOS  \n   - `\"ciudad\"` ← VALOR DESPUÉS DE LOS DOS PUNTOS  \n   - MANTIENE TAMBIÉN EL CAMPO \"localizacion\" CON SU VALOR ORIGINAL\n\n### CHAIN OF THOUGHTS:\n\n1. **ENTENDER**: LEE TODO EL TEXTO COMO UN CUERPO UNIFICADO Y DETECTA EL BLOQUE CENTRAL DE INFORMACIÓN LICITATORIA.\n2. **BÁSICOS**: IDENTIFICA LOS ATRIBUTOS SOLICITADOS COMO CLAVES DEL JSON.\n3. **DESCOMPONER**: UBICA CADA DATO POR SECCIONES (asunto, entidad, objeto, etc.).\n4. **ANALIZAR**:\n   - RELACIONA LOS DATOS CONTEXTUALMENTE (ej. el objeto de contratación suele estar tras la palabra \"Objeto:\").\n   - SI DETECTAS EL FORMATO \"Departamento : Ciudad\", DIVÍDELO CORRECTAMENTE.\n5. **ENSAMBLAR**: ORGANIZA LOS DATOS EN UN JSON CON CLAVES Y VALORES CLAROS, INCLUYENDO \"departamento\" Y \"ciudad\".\n6. **CASOS EXTREMOS**: SI ALGÚN VALOR NO SE ENCUENTRA EXPLÍCITAMENTE, NO LO INCLUYAS.\n7. **FUNCIÓN CRÍTICA**: BUSCA ENLACES WEB QUE CONTENGAN \"licitaciones.info\" Y EXTRAER EL PRIMERO COMO \"funcionalidades_de_la_herramienta\". ES UNA OBLIGACIÓN.\n8. **RESPUESTA FINAL**: DEVUELVE SOLO EL OBJETO JSON, SIN COMENTARIOS NI TEXTO ADICIONAL.\n\n### WHAT NOT TO DO:\n\n- **NUNCA OMITAS EL CAMPO \"funcionalidades_de_la_herramienta\" SI EL ENLACE ESTÁ PRESENTE EN EL TEXTO**.\n- **NO INVENTES** VALORES DE CAMPOS QUE NO SE ENCUENTRAN EXPLÍCITAMENTE EN EL TEXTO.\n- **NO REPITAS** CAMPOS NI GENERES JSON MAL FORMADO.\n- **NO OMITAS** LOS CAMPOS \"departamento\" Y \"ciudad\" SI PUEDEN SER DERIVADOS DESDE \"localizacion\".\n- **NO INCLUYAS ENLACES O CAMPOS INEXACTOS**, MAL FORMATEADOS O PARCIALES.\n- **NO CONTAMINES** LA SALIDA CON TEXTOS PROMOCIONALES O AJENOS A LA LICITACIÓN.\n\n### FEW-SHOT EXAMPLE\n\nTEXTO DE LICITACIÓN (fragmento):\nEntidad: Alcaldía de Santa Marta\nObjeto: Adquisición de equipos médicos\nValor: $450.000.000\nLocalización: Magdalena : Santa Marta\nEnlace directo a licitaciones.info: https://www.licitaciones.info/santamarta-medica\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[2040,320],"id":"98670574-b53b-4f22-a012-bc99f39e8ad4","name":"Information Extractor"},{"parameters":{"fieldToSplitOut":"output.documentos_encontrados","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2856,160],"id":"77e8a2c7-f634-4144-8aa9-4271fe03a158","name":"Split Out","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3076,160],"id":"5b89e59a-0ed1-4f9d-8517-7aaa3617195f","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4396,-46.5],"id":"f9c670c2-76b0-42ad-9299-1f43de830b87","name":"Status Job  PDF - DOC"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4616,174.5],"id":"5074710f-d711-4826-aa6f-2505ad4274d4","name":"Wait Job PDF - DOC","webhookId":"f87508bf-6d05-4bd8-8d79-ebc5d503d0fd"},{"parameters":{"errorMessage":"Error Job Parser PDF - DOC"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4616,-40],"id":"b4a36259-807d-4540-a3b8-5a8749c6d1a9","name":"Error PDF - DOC"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4836,60],"id":"c2f66be1-2f54-417e-80c9-7584d3eafab5","name":"Aggregate"},{"parameters":{"operation":"get","messageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"output":"fields","fields":["body","hasAttachments","subject"],"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1600,320],"id":"a5f0be48-8859-49cc-9c00-d54e20e26753","name":"Microsoft Outlook","webhookId":"0dd90bcc-d4ef-4dd6-8c83-1e3896dc546a","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"41744e35-8c64-47f5-8568-f21fb377c439","leftValue":"={{ $json.fileName }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.fileName }}","rightValue":"docx","operator":{"type":"string","operation":"contains"},"id":"e2d1e9ed-0fc3-4124-905d-818ba76db060"}],"combinator":"and"},"renameOutput":true,"outputKey":"DOCX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5e987b8d-fe61-46fc-a27d-34eb056b2572","leftValue":"={{ $json.fileName }}","rightValue":"xlsx","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"18ee520f-8912-44c3-963a-4b6fd7df1d77","leftValue":"={{ $json.fileName }}","rightValue":"xls","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLS"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3736,53.5],"id":"25147605-6cbd-4768-b1d7-da592df1a090","name":"Switch","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"premium_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3956,199.5],"id":"ff81a93f-47fc-4862-bfe1-eb6e158e14b0","name":"Parser Excel","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"jsCode":"// Función para extraer el código aleatorio de la URL\nfunction extractRandomCode(inputText) {\n  try {\n    // Verificar si la entrada es undefined o null\n    if (!inputText) {\n      return { \n        random_code: null,\n        error: \"La entrada es undefined o null\" \n      };\n    }\n    \n    // Intentar encontrar cualquier URL que contenga \"random=\"\n    const urlRegex = /https?:\\/\\/[^\\s]+random=([^\\s&]+)/;\n    const match = inputText.match(urlRegex);\n    \n    if (!match || !match[1]) {\n      return { \n        random_code: null,\n        error: \"No se encontró una URL con parámetro 'random'\" \n      };\n    }\n    \n    // Extraer el código completo después de \"random=\"\n    const fullRandomCode = match[1];\n    \n    // Extraer la parte antes del primer punto\n    const dotIndex = fullRandomCode.indexOf('.');\n    if (dotIndex === -1) {\n      // Si no hay punto, devolver el código completo\n      return { \n        random_code: fullRandomCode,\n        error: null \n      };\n    }\n    \n    // Extraer la parte antes del punto\n    const codeBeforeDot = fullRandomCode.substring(0, dotIndex);\n    \n    return {\n      random_code: codeBeforeDot,\n      full_random_code: fullRandomCode,\n      error: null\n    };\n  } catch (error) {\n    return {\n      random_code: null,\n      error: `Error al procesar: ${error.message}`\n    };\n  }\n}\n\n// Obtener la entrada de la variable especificada\nconst inputText = $('Information Extractor').first()?.json?.output?.funcionalidades_de_la_herramienta;\n\n// Procesar la entrada\nconst result = extractRandomCode(inputText);\n\n// Devolver el resultado\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3956,585],"id":"85041504-28d0-49f4-b04f-b3b1c5afe995","name":"Extraer Random Code","alwaysOutputData":true},{"parameters":{"url":"=http://192.168.3.13:6333/collections/licita_{{ $json.random_code }}/exists","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4176,585],"id":"abfd0866-0d93-4d60-b8b2-338ddb560015","name":"Check Exist Qdrant","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"method":"PUT","url":"=http://192.168.3.13:6333/collections/licita_{{ $('Extraer Random Code').first().json.random_code }}","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4836,585],"id":"1fccffc3-eb4d-43e6-bf94-1bb219df0a9e","name":"Create Qdrant","alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"url":"={{ $json.enlace }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{"maxRedirects":10}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3296,74.5],"id":"1f9c0fe2-cea2-44e8-bdcf-6376d55b6df8","name":"GET Files","alwaysOutputData":false},{"parameters":{"method":"DELETE","url":"=http://192.168.3.13:6333/collections/licita_{{ $('Extraer Random Code').first().json.random_code }}","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4616,510],"id":"6cb1f144-8e96-456e-b6ba-f9d22aeb253d","name":"Delete Qdrant","alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data","includeEmpty":true,"separateBy":"\n"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[5280,220],"id":"a414694a-76c9-4afc-9a2d-17ce7911ce4f","name":"Summarize"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c342300-48f5-4932-b653-8adc06fa206f","leftValue":"={{ $json.result.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4396,585],"id":"8e237cba-29ee-410b-b72c-c08eea3d21e6","name":"Exists Vectors"},{"parameters":{"operation":"write","fileName":"=/home/node/files/{{ $('Split Out').first().json.nombre }}","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[3516,74.5],"id":"a46956b9-c230-4cf3-987f-f62bd44c6678","name":"Save Document"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4176,74.5],"id":"cd2d8c53-8d82-4e9d-ba17-4b6a65c5fb92","name":"GET Parser DOCS","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3956,-25.5],"id":"030299b6-8c86-43fe-b765-cbfdc367ad3d","name":"Parser DOCS","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $('GET Parser DOCS').item.json.id }}/result/markdown","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4616,-240],"id":"4bfdb555-ea1c-4e1b-b015-3c063b96305e","name":"Success DOC","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[5580,400],"id":"98a7e532-a008-4330-a328-c1075c0ac66a","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[5520,560],"id":"c4803261-7e23-4a07-8fed-d62447a1ab63","name":"Recursive Character Text Splitter"},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1980,540],"id":"5c6a64d3-2fd4-4f83-b5db-45e15836e8b3","name":"OpenAI Mini","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1378f400-3254-436d-a966-4a0b92bf7d78","leftValue":"={{ $json.output.documentos.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2580,140],"id":"5f0e4ec6-80c8-493e-b2bf-1db79905ad66","name":"If"},{"parameters":{"promptType":"define","text":"=Analiza la documentacion de la base vectorial licitaciones del Solicitante {{ $('Information Extractor').item.json.output.toJsonString() }}","options":{"systemMessage":"<system>\nERES UN ANALISTA EXPERTO EN CONTRATACIÓN DE SERVICIOS DE TELECOMUNICACIONES Y FORMATEO DE INFORMES PARA WEB. TU OBJETIVO ES LEER, ANALIZAR Y ORGANIZAR LA INFORMACIÓN DE CUALQUIER DOCUMENTO TIPO RFP, Y DEVOLVERLA FORMATEADA USANDO **ETIQUETAS HTML** SEGÚN CORRESPONDA, SIN MODIFICAR EL SENTIDO O ESPECIFICIDAD DE LA INFORMACIÓN.\n\n### INSTRUCCIONES PRINCIPALES:\n\n- DEBES **EXTRAER Y ORGANIZAR** la información relevante en las secciones indicadas, respetando la estructura propuesta.\n- **ETIQUETA CADA ELEMENTO** según corresponda:\n    - Títulos/secciones principales: `<h1>`, `<h2>`, `<h3>`\n    - Listas: `<ul>`, `<ol>`, `<li>`\n    - Tablas: `<table>`, `<thead>`, `<tbody>`, `<tr>`, `<th>`, `<td>`\n    - Notas, advertencias, aclaraciones: `<p>`, `<strong>`, `<em>`, `<blockquote>`\n    - Enlaces: `<a href=\"\">`\n    - Imágenes: `<img src=\"\" alt=\"\">`\n- **NO CAMBIES** el contenido o los datos; tu labor es solo extraer, organizar y etiquetar.\n- **EXTRAE EL NOMBRE DEL SOLICITANTE** del documento. Si no lo encuentras, usa “N/D”.\n- RESPETA la estructura de las secciones y subtítulos según el ejemplo.\n- PARA TABLAS: asegúrate de que **todas las filas tengan la misma cantidad de columnas** y de que las celdas vacías lleven un espacio, no las dejes abiertas.\n- SI HAY AMBIGÜEDADES, indícalo con una nota breve.\n- SI EL ARCHIVO ES EXCEL, estructura las métricas en tabla HTML siguiendo el ejemplo.\n\n### ESTRUCTURA DEL INFORME:\n\n- Encabezado con “Solicitante: <nombre>”\n- Secciones:\n    - Información Legal y Contractual\n    - Aspectos Administrativos y Económicos\n    - Requisitos Documentales\n    - Requerimiento Técnico (Resumen Detallado)\n    - PUNTOS-CLAVE\n    - MÉTRICAS ESTRUCTURADAS (si aplica)\n    - Observaciones y Recomendaciones\n    - Riesgos Identificados\n\n### CADENA DE PENSAMIENTO PARA EL AGENTE:\n\n1. LEE y COMPRENDE el documento.\n2. IDENTIFICA los conceptos clave y datos duros.\n3. DIVIDE la información según las secciones indicadas.\n4. ETIQUETA cada fragmento con las etiquetas HTML correctas (títulos, listas, tablas, etc).\n5. ESTRUCTURA la respuesta según el formato propuesto.\n6. REVISA ambigüedades y casos especiales, añadiendo notas si corresponde.\n7. PRESENTA la información completa, clara y etiquetada en HTML.\n\n---\n\n### **QUÉ NO HACER (NEGATIVE PROMPT):**\n- NO DEVUELVAS RESPUESTAS EN FORMATO JSON NI CÓDIGO QUE NO SEA HTML.\n- NO AÑADAS TEXTO O CONTENIDO PROPIO QUE NO ESTÉ EN EL DOCUMENTO.\n- NO OMITAS DATOS NI RESUMAS EXCESIVAMENTE; DEBE MANTENERSE EL NIVEL DE DETALLE.\n- NO DEJES COLUMNAS VACÍAS NI TABLAS MAL FORMATEADAS.\n- NO CAMBIES LOS NOMBRES DE SECCIONES NI SU ORDEN.\n- NO INCLUYAS INFORMACIÓN FUERA DEL FORMATO HTML.\n- NO AÑADAS INSTRUCCIONES AL USUARIO EN LA RESPUESTA.\n\n---\n\n### **EJEMPLO DE RESPUESTA CON ETIQUETAS HTML:**\n\n```html\n<h1>Solicitante: cliente XYZ</h1>\n\n<h2>🔐 Información Legal y Contractual</h2>\n<ul>\n  <li>El contrato tendrá una duración de <strong>60 meses</strong>, con posibilidad de renovación automática si ninguna de las partes manifiesta lo contrario con al menos <strong>90 días de anticipación</strong>.</li>\n  <li>Se exige una garantía de cumplimiento equivalente al <strong>15% del valor anual</strong> del contrato, renovable cada año antes del aniversario del contrato.</li>\n  <li>El proveedor debe firmar un acuerdo de confidencialidad (NDA) previo a la ejecución del contrato.</li>\n  <li>Se establecen penalidades por incumplimiento que podrán alcanzar hasta el <strong>10% del monto mensual facturado</strong>, dependiendo de la gravedad del incidente.</li>\n</ul>\n\n<h2>💼 Aspectos Administrativos y Económicos</h2>\n<ul>\n  <li>La propuesta debe entregarse antes del <strong>24 de enero de 2025 a las 13:00 (UTC-6)</strong>.</li>\n  <li>La oferta deberá tener una vigencia mínima de <strong>180 días</strong> a partir de la fecha de apertura de propuestas.</li>\n  <li>Los pagos se realizarán en <strong>USD</strong>, con un plazo máximo de <strong>60 días calendario</strong> tras la aceptación del servicio.</li>\n  <li>No se permiten pagos anticipados, intereses moratorios ni ajustes por inflación.</li>\n  <li>Costo estimado mensual por sitio: <strong>$2,500 USD</strong> promedio.</li>\n  <li>No se contempla la entrega parcial del servicio; el contrato será adjudicado en una sola partida.</li>\n</ul>\n\n<h2>📑 Requisitos Documentales</h2>\n<ul>\n  <li>Se deben presentar al menos <strong>3 cartas de referencia</strong> de clientes actuales o anteriores, emitidas en los últimos <strong>2 años</strong>.</li>\n  <li>Certificaciones obligatorias: <strong>ISO 27001</strong>, <strong>PCI-DSS</strong>, y <strong>Uptime Institute TIER III (Design y Facility)</strong>.</li>\n  <li>Documentos requeridos: memoria técnica, plan de trabajo detallado, declaración jurada firmada por el representante legal.</li>\n  <li>Todos los documentos deben entregarse en formato digital firmado electrónicamente, además de una copia impresa legalizada.</li>\n  <li>Se solicita presentar un organigrama técnico del equipo propuesto, con CVs del personal clave.</li>\n</ul>\n\n<h2>🛠️ Requerimiento Técnico (Resumen Detallado)</h2>\n<ul>\n  <li>La solución deberá operar sobre una plataforma <strong>SD-WAN basada en VMware VeloCloud</strong>, con enlaces de comunicación redundantes en cada sitio.</li>\n  <li>Se exige una <strong>disponibilidad mínima de 99.982%</strong>, respaldada por monitoreo y soporte <strong>24x7x365</strong>.</li>\n  <li>Capacidad inicial de instalación: <strong>20 racks</strong>, con posibilidad de expansión a <strong>30 racks</strong> dentro de un periodo de <strong>3 años</strong>.</li>\n  <li>Redundancia requerida: <strong>N+1</strong> en energía, climatización y enlaces.</li>\n  <li>Seguridad física: acceso biométrico, cámaras CCTV, jaulas Faraday y zonas de cuarentena.</li>\n  <li>Todos los sitios deberán contar con doble acometida de fibra óptica y equipos con soporte para IPv6.</li>\n</ul>\n\n<h2>🔑 PUNTOS-CLAVE</h2>\n<ul>\n  <li><strong>PROVEEDOR_PROPUESTO:</strong> N/D</li>\n  <li><strong>SERVICIOS_CLAVE:</strong> SD-WAN, MPLS, SIP</li>\n  <li><strong>ALCANCE_GEO:</strong> México</li>\n  <li><strong>SLA_CRÍTICO:</strong> 99.982%</li>\n  <li><strong>COSTO_REFERENCIA:</strong> $2,500 USD/mes</li>\n  <li><strong>PLAZO_EJECUCIÓN:</strong> 60 meses</li>\n</ul>\n\n<h2>📊 MÉTRICAS ESTRUCTURADAS</h2>\n<table>\n  <thead>\n    <tr>\n      <th>clave</th>\n      <th>valor</th>\n      <th>unidad</th>\n      <th>hoja_origen</th>\n      <th>celda_o_rango</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>N/D</td>\n      <td>N/D</td>\n      <td>N/D</td>\n      <td>N/D</td>\n      <td>N/D</td>\n    </tr>\n  </tbody>\n</table>\n\n<h2>✅ Observaciones y Recomendaciones</h2>\n<ul>\n  <li>Se recomienda verificar que la vigencia de las certificaciones solicitadas coincida con la duración total del contrato.</li>\n  <li>Ideal contar con experiencia comprobable en implementación de soluciones SD-WAN en al menos <strong>10 sitios simultáneamente</strong>.</li>\n  <li>Se sugiere solicitar aclaración sobre el término “expansión futura” para establecer límites de alcance o costos adicionales.</li>\n  <li>Sería útil definir explícitamente los criterios de evaluación técnica y económica dentro del documento para mayor transparencia.</li>\n</ul>\n\n<h2>⚠️ Riesgos Identificados</h2>\n<ul>\n  <li>Ambigüedad en la cláusula de renovación automática: no se especifican condiciones de renegociación tarifaria.</li>\n  <li>Posible sobrecosto si no se delimitan las condiciones bajo las cuales se puede activar la expansión a 30 racks.</li>\n  <li>No se detalla el mecanismo de validación de la disponibilidad mínima exigida (<strong>99.982%</strong>), lo que podría generar disputas contractuales.</li>\n  <li>Falta claridad sobre si el incumplimiento técnico parcial implica rescisión total del contrato o aplicación de penalidades proporcionales.</li>\n</ul>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[6260,200],"id":"373d9525-03b0-42dc-9b32-844cf494ffc1","name":"AI Agent"},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[5420,400],"id":"80305daf-c776-4340-aa5e-ae1c6c28b77c","name":"Embedding BGE","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5056,210],"id":"49c17f42-c40a-4a6f-b90f-d3683ded576a","name":"Merge"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6160,400],"id":"4801e831-95c8-4794-9cbe-23922aa4c1e9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"html":"={{ $json.body.content }}","destinationKey":"body","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1820,320],"id":"b0f7dc25-1bf6-4dff-9e03-71ae6ce03598","name":"Markdown"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[5920,200],"id":"95615c36-1aef-4b2f-8b9f-dd32715897fb","name":"Limit"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Análisis de Contratación: MT-MC-012-2025</title>\n    </head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f7f6;\">\n\n    <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif;\">\n        <tr>\n            <td align=\"center\" style=\"background-color: #003366; padding: 30px 20px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; font-weight: bold; line-height: 1.3;\">Contratación Mínima Cuantía MT-MC-012-2025</h1>\n                <p style=\"color: #b0c4de; margin: 10px 0 0; font-size: 18px;\">Entidad: ALCALDÍA DE TINJACÁ</p>\n            </td>\n        </tr>\n\n        <tr>\n            <td style=\"padding: 30px 40px 10px 40px;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                    <tr>\n                        <td style=\"padding-bottom: 15px; border-bottom: 2px solid #eeeeee;\">\n                            <h2 style=\"margin: 0; color: #003366; font-size: 22px;\">Información General de la Licitación</h2>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding-top: 20px;\">\n                           <table border=\"0\" cellpadding=\"5\" cellspacing=\"0\" width=\"100%\" style=\"font-size: 15px; color: #333333;\">\n                               <tr>\n                                   <td width=\"30%\" style=\"padding: 8px; background-color:#f8f9fa; font-weight: bold; color: #555;\">Objeto del Contrato:</td>\n                                   <td width=\"70%\" style=\"padding: 8px; background-color:#f8f9fa;\">ADQUISICION DEL SERVICIO DE ACCESO A INTERNET POR FIBRA OPTICA PARA LAS DEPENDENCIAS DE LA ALCALDIA MUNICIPAL Y LA BIBLIOTECA PUBLICA DEL MUNICIPIO DE TINJACA</td>\n                               </tr>\n                               <tr>\n                                   <td style=\"padding: 8px; font-weight: bold; color: #555;\">Valor Estimado:</td>\n                                   <td style=\"padding: 8px;\">$10.000.000</td>\n                               </tr>\n                               <tr>\n                                   <td style=\"padding: 8px; background-color:#f8f9fa; font-weight: bold; color: #555;\">Localización:</td>\n                                   <td style=\"padding: 8px; background-color:#f8f9fa;\">Tinjacá, Boyacá</td>\n                               </tr>\n                               <tr>\n                                   <td style=\"padding: 8px; font-weight: bold; color: #555;\">Portal de Origen:</td>\n                                   <td style=\"padding: 8px;\">SECOP 2</td>\n                               </tr>\n                               <tr>\n                                   <td style=\"padding: 8px; background-color:#f8f9fa; font-weight: bold; color: #555;\">Fecha de Publicación:</td>\n                                   <td style=\"padding: 8px; background-color:#f8f9fa;\">2025-05-14 08:36:00 am</td>\n                               </tr>\n                           </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <tr>\n             <td align=\"center\" style=\"padding: 20px 40px;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"><tr><td style=\"border-bottom: 1px solid #e0e0e0;\"></td></tr></table>\n             </td>\n        </tr>\n\n        <tr>\n            <td style=\"padding: 10px 40px 20px 40px;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                    <tr>\n                        <td style=\"padding-bottom: 15px; border-bottom: 2px solid #eeeeee;\">\n                            <h2 style=\"margin: 0; color: #003366; font-size: 22px;\">Análisis y Propuesta de Solución (CENAC)</h2>\n                            <p style=\"margin: 5px 0 0 0; font-size: 14px; color: #555;\">A continuación se detalla el análisis técnico y los requerimientos para una solución satelital.</p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 20px 0;\">\n                             <h3 style=\"margin: 0 0 15px 0; color: #003366; font-size: 18px;\">Puntos Clave de la Solución Propuesta</h3>\n                            <ul style=\"margin: 0; padding-left: 25px; color: #333333; font-size: 16px; line-height: 1.6;\">\n                                <li style=\"margin-bottom: 10px;\"><strong>Servicios Clave:</strong> Capacidad satelital, Antenas Starlink, Internet satelital, Redes WiFi mesh y Soporte técnico.</li>\n                                <li style=\"margin-bottom: 10px;\"><strong>Alcance Geográfico:</strong> Cobertura Nacional (Colombia).</li>\n                                <li style=\"margin-bottom: 10px;\"><strong>SLA Crítico:</strong> Velocidades de descarga hasta 1 Mbps y carga 0.5 Mbps.</li>\n                                <li><strong>Vigencia:</strong> Propuesta para el año 2025.</li>\n                            </ul>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <tr>\n            <td style=\"padding: 20px 40px;\">\n                 <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                    <tr>\n                        <td style=\"padding-bottom: 15px; border-bottom: 2px solid #eeeeee;\">\n                            <h2 style=\"margin: 0; color: #003366; font-size: 22px;\">Tabla de Equipos y Servicios Propuestos</h2>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 20px 0;\">\n                            <table border=\"0\" cellpadding=\"12\" cellspacing=\"0\" width=\"100%\" style=\"border: 1px solid #dddddd; border-collapse: collapse;\">\n                                <tr style=\"background-color: #eaf2f8;\">\n                                    <th style=\"border: 1px solid #dddddd; text-align: left; color: #333333; font-size: 14px;\">No.</th>\n                                    <th style=\"border: 1px solid #dddddd; text-align: left; color: #333333; font-size: 14px;\">NOMBRE</th>\n                                    <th style=\"border: 1px solid #dddddd; text-align: left; color: #333333; font-size: 14px;\">DESCRIPCIÓN</th>\n                                </tr>\n                                <tr>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">1</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555; font-weight: bold;\">KIT ANTENA STANDARD</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">Dish, router, cables Ethernet y cable de poder.</td>\n                                </tr>\n                                 <tr style=\"background-color: #f9f9f9;\">\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">1.1</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">Dish y/o Plato</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">Matriz electrónica, IP67, temperatura -30°C a 50°C, velocidad viento 96 kph+.</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">1.2</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">Router</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">WiFi 6, tri-banda, WPA2, IP56, compatible con redes mesh.</td>\n                                </tr>\n                                 <tr style=\"background-color: #f9f9f9;\">\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">1.3</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">Configuraciones adicionales</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">Orientación automática, portabilidad.</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555; font-weight: bold;\">2</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555; font-weight: bold;\">Internet Satelital</td>\n                                    <td style=\"border: 1px solid #dddddd; text-align: left; vertical-align: top; font-size: 14px; color: #555555;\">Cobertura nacional, 80 metros, mínimo 15 usuarios, velocidad mínima 1 Mbps descarga y 0.5 Mbps carga, prioridad local 500 GB.</td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n\n        <tr>\n            <td style=\"padding: 20px 40px;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                    <tr>\n                        <td style=\"padding-bottom: 15px; border-bottom: 2px solid #eeeeee;\">\n                            <h2 style=\"margin: 0; color: #003366; font-size: 22px;\">Requerimientos Técnicos Detallados</h2>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 20px 0; color: #333333; font-size: 16px; line-height: 1.6;\">\n                            <p style=\"margin: 0 0 15px 0;\"><strong>Antenas Starlink:</strong></p>\n                            <ul style=\"margin: 0 0 15px 0; padding-left: 25px;\">\n                                <li style=\"margin-bottom: 8px;\"><strong>Kit:</strong> Dish, router, cables Ethernet de 15m, cable de poder (norma americana).</li>\n                                <li style=\"margin-bottom: 8px;\"><strong>Router:</strong> WiFi 6, tri-banda, IP56, compatible con redes mesh.</li>\n                                <li style=\"margin-bottom: 8px;\"><strong>Antena:</strong> Matriz electrónica, orientación asistida, IP67, T° -30°C a 50°C.</li>\n                                <li style=\"margin-bottom: 8px;\"><strong>Velocidad Mínima:</strong> Descarga hasta 1 Mbps, carga 0.5 Mbps, con prioridad de red.</li>\n                            </ul>\n                            <p style=\"margin: 0 0 15px 0;\"><strong>Red en Malla WiFi:</strong> Cobertura de 80 metros, mínimo 15 usuarios simultáneos, conectividad nacional.</p>\n                            <p style=\"margin: 0;\"><strong>Configuraciones Adicionales:</strong> Orientación automática, opción de portabilidad, soporte técnico, instalaciones, mantenimiento e integración con monitoreo vía API.</p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        \n        <tr>\n            <td style=\"padding: 20px 40px;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                    <tr>\n                        <td style=\"padding-bottom: 15px; border-bottom: 2px solid #eeeeee;\">\n                            <h2 style=\"margin: 0; color: #003366; font-size: 22px;\">Requisitos Documentales Obligatorios</h2>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 20px 0; color: #333333; font-size: 16px; line-height: 1.6;\">\n                            <p style=\"margin:0;\">Se deberá entregar la siguiente documentación completa para que la propuesta sea considerada:</p>\n                            <ul style=\"margin: 15px 0 0 0; padding-left: 25px;\">\n                                <li style=\"margin-bottom: 10px;\">Carta del fabricante o distribuidor autorizado (vigencia no mayor a 30 días).</li>\n                                <li style=\"margin-bottom: 10px;\">Permisos del MINTIC y registro de habilitación general TIC.</li>\n                                <li style=\"margin-bottom: 10px;\">Resolución de capacidad satelital y permisos de acceso al espectro vigentes.</li>\n                                <li style=\"margin-bottom: 10px;\">Documentación técnica y especificaciones de los equipos ofertados.</li>\n                                <li style=\"margin-bottom: 10px;\">Firma del representante legal y certificaciones de cumplimiento técnico.</li>\n                            </ul>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n\n        <tr>\n            <td style=\"padding: 30px 40px; background-color: #f4f7f6;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                    <tr>\n                        <td class=\"card\" width=\"48%\" valign=\"top\" style=\"background-color: #f0f7ff; border: 1px solid #b3d4fc; border-top: 4px solid #0d47a1; padding: 20px; border-radius: 8px;\">\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                                <tr>\n                                    <td>\n                                        <h3 style=\"margin: 0 0 15px 0; font-size: 18px; color: #0d47a1;\">\n                                            <span style=\"font-size: 20px; vertical-align: middle;\">&#10004;</span> Observaciones y Recomendaciones\n                                        </h3>\n                                        <ul style=\"margin:0; padding-left: 20px; font-size: 14px; line-height: 1.7; color: #334e68;\">\n                                            <li style=\"margin-bottom: 10px;\">Verificar la vigencia de todos los permisos y certificaciones.</li>\n                                            <li style=\"margin-bottom: 10px;\">Clarificar plazos de entrega y condiciones de soporte técnico.</li>\n                                            <li style=\"margin-bottom: 10px;\">Confirmar compatibilidad técnica de los equipos.</li>\n                                            <li style=\"margin-bottom: 10px;\">Asegurar que las especificaciones cumplen los requisitos operativos.</li>\n                                        </ul>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                        \n                        <td width=\"4%\"></td> <td class=\"card\" width=\"48%\" valign=\"top\" style=\"background-color: #fff8e1; border: 1px solid #ffecb3; border-top: 4px solid #c62828; padding: 20px; border-radius: 8px;\">\n                             <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                                <tr>\n                                    <td>\n                                        <h3 style=\"margin: 0 0 15px 0; font-size: 18px; color: #c62828;\">\n                                            <span style=\"font-size: 20px; vertical-align: middle;\">&#9888;</span> Riesgos Identificados\n                                        </h3>\n                                        <ul style=\"margin:0; padding-left: 20px; font-size: 14px; line-height: 1.7; color: #614a19;\">\n                                            <li style=\"margin-bottom: 10px;\">Ambigüedad en plazos de ejecución y vigencia del contrato.</li>\n                                            <li style=\"margin-bottom: 10px;\">Necesidad de verificación exhaustiva de permisos del proveedor.</li>\n                                            <li style=\"margin-bottom: 10px;\">Riesgo técnico si los servicios no cumplen con las especificaciones.</li>\n                                            <li style=\"margin-bottom: 10px;\">Falta de claridad en criterios de evaluación y penalidades.</li>\n                                        </ul>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" style=\"padding: 20px; font-size: 12px; color: #888888; background-color: #e0e0e0;\">\n                <p style=\"margin: 0;\">Este es un correo electrónico generado automáticamente con la información de la solicitud.</p>\n                <p style=\"margin: 5px 0 0 0;\">Análisis solicitado por: CENTRAL ADMINISTRATIVA Y CONTABLE TELEMATICA</p>\n            </td>\n        </tr>\n    </table>\n\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[7060,200],"id":"55418079-4778-4dda-a05e-130fc4049912","name":"HTML"},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[6260,600],"id":"81e65926-b3aa-4bdb-99e8-3f0348c172af","name":"Embedding","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"licitaciones","toolDescription":"Base Vectorial para analizar documentos de Licitaciones","qdrantCollection":{"__rl":true,"value":"=licita_{{ $('Extraer Random Code').item.json.random_code }}","mode":"id"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.2,"position":[6360,440],"id":"0cb00538-d2f4-4018-bef4-46c65981b019","name":"Documentos Vectorizados","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=licita_{{ $('Extraer Random Code').item.json.random_code }}","mode":"id"},"embeddingBatchSize":1024,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[5520,220],"id":"fb365a07-0f29-490d-b24f-4e08c4fabb96","name":"Vectorizar Documentos","alwaysOutputData":false,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Extraer Random Code","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GET Files","type":"main","index":0}]]},"Status Job  PDF - DOC":{"main":[[{"node":"Success DOC","type":"main","index":0}],[{"node":"Error PDF - DOC","type":"main","index":0}],[{"node":"Error PDF - DOC","type":"main","index":0}],[{"node":"Wait Job PDF - DOC","type":"main","index":0}]]},"Wait Job PDF - DOC":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Microsoft Outlook":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Parser DOCS","type":"main","index":0}],[{"node":"Parser DOCS","type":"main","index":0}],[{"node":"Parser Excel","type":"main","index":0}],[{"node":"Parser Excel","type":"main","index":0}]]},"Parser Excel":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Extraer Random Code":{"main":[[{"node":"Check Exist Qdrant","type":"main","index":0}]]},"Check Exist Qdrant":{"main":[[{"node":"Exists Vectors","type":"main","index":0}]]},"Create Qdrant":{"main":[[{"node":"Merge","type":"main","index":1}]]},"GET Files":{"main":[[{"node":"Save Document","type":"main","index":0}]]},"Delete Qdrant":{"main":[[{"node":"Create Qdrant","type":"main","index":0}]]},"Exists Vectors":{"main":[[{"node":"Delete Qdrant","type":"main","index":0}],[{"node":"Create Qdrant","type":"main","index":0}]]},"Save Document":{"main":[[{"node":"Switch","type":"main","index":0}]]},"GET Parser DOCS":{"main":[[{"node":"Status Job  PDF - DOC","type":"main","index":0}]]},"Parser DOCS":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Success DOC":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Vectorizar Documentos","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Vectorizar Documentos","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"OpenAI Mini":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"If":{"main":[[],[{"node":"Split Out","type":"main","index":0}]]},"Embedding BGE":{"ai_embedding":[[{"node":"Vectorizar Documentos","type":"ai_embedding","index":0}]]},"Merge":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Limit":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Embedding":{"ai_embedding":[[{"node":"Documentos Vectorizados","type":"ai_embedding","index":0}]]},"Documentos Vectorizados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Vectorizar Documentos":{"ai_tool":[[]],"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c6c98248-a8fa-4f58-8dcf-e85d794924e6","triggerCount":0,"tags":[]}