workflowsLicitainfo Colombia.json
{"createdAt":"2025-05-15T14:51:42.171Z","updatedAt":"2025-06-26T15:24:01.000Z","id":"sHVWbzZi9dmbm3qU","name":"Licitainfo Colombia","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"output":"raw","filters":{"foldersToInclude":["AAMkAGUyOTgzNDViLTIwY2ItNDFmNi04ODUwLTNmZTJmZjI5ZTY5MgAuAAAAAAD2otzNIFhhTLQNl5GG7b3VAQA59ESx-VUJQ61HIyY6Bm7SAAgOOqoXAAA="]},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[1360,320],"id":"be708116-dc7c-47be-a73f-0d559212a322","name":"Microsoft Outlook Trigger","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"text":"={{ $json.subject }}\n{{ $json.body }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"asunto\": \"[Urg]ALCAL. DE TINJACA minima cuantia MT-MC-012-2025 [93206]\",\n  \"entidad\": \"ALCAL. DE TINJACA\",\n  \"concepto\": \"Contratación mínima cuantía MT-MC-012-2025\",\n  \"objeto\": \"ADQUISICION DEL SERVICIO DE ACCESO A INTERNET POR FIBRA OPTICA PARA LAS DEPENDENCIAS DE LA ALCALDIA MUNICIPAL Y LA BIBLIOTECA PUBLICA DEL MUNICIPIO DE TINJACA\",\n  \"valor\": \"$10.000.000\",\n  \"localizacion\": \"Boyacá Tinjacá\",\n  \"departamento\": \"Boyacá\",\n  \"ciudad\": \"Tinjacá\",\n  \"portal_origen\": \"SECOP 2\",\n  \"fecha_publicacion\": \"2025-05-14 08:36:00 am\",\n  \"funcionalidades_de_la_herramienta\": \"https://col.licitaciones.info/detalle-contrato?random=67f70bd9505d31.74719324\",\n  \"documentos_encontrados\": [\n    {\n      \"nombre\": \"ANALISIS DEL SECTOR INTERNET.pdf\",\n      \"enlace\": \"https://community.secop.gov.co/Public/Archive/RetrieveFile/Index?DocumentId=611919317\"\n    },\n    {\n      \"nombre\": \"CDP INTERNET.pdf\",\n      \"enlace\": \"https://community.secop.gov.co/Public/Archive/RetrieveFile/Index?DocumentId=611919318\"\n    },\n    {\n      \"nombre\": \"CERTIFICACION PAA.pdf\",\n      \"enlace\": null\n    }\n  ]\n}\n","options":{"systemPromptTemplate":"ERES UN AGENTE EXTRACTOR DE DATOS DE ALTO RENDIMIENTO ENTRENADO PARA IDENTIFICAR Y ESTRUCTURAR INFORMACIÓN CLAVE DESDE TEXTOS DE LICITACIONES COLOMBIANAS. TU OBJETIVO ES DEVOLVER UN OBJETO JSON CON LOS SIGUIENTES CAMPOS ESTANDARIZADOS:\n\n- \"asunto\"  \n- \"entidad\"  \n- \"concepto\"  \n- \"objeto\"  \n- \"valor\"  \n- \"localizacion\"  \n- **\"departamento\" ← NUEVO CAMPO EXTRAÍDO DESDE \"localizacion\"**  \n- **\"ciudad\" ← NUEVO CAMPO EXTRAÍDO DESDE \"localizacion\"**  \n- \"portal_origen\"  \n- \"fecha_publicacion\"  \n- **\"funcionalidades_de_la_herramienta\" ← ESTE CAMPO ES CRÍTICO**  \n- \"documentos\": una lista de objetos con campos \"nombre\" y \"enlace\"  \n\n### INSTRUCCIONES:\n\n1. EXTRAE ÚNICAMENTE INFORMACIÓN RELEVANTE Y PRESENTE EN EL TEXTO.\n2. OMITE CUALQUIER CAMPO CUYO VALOR NO PUEDA DETERMINARSE CLARAMENTE.\n3. ASEGÚRATE DE FORMAR UN JSON VÁLIDO, BIEN ESTRUCTURADO Y FORMATEADO.\n4. DETECTA Y ASOCIA DOCUMENTOS CON SUS ENLACES Y NOMBRES LIMPIOS.\n5. EN CAMPOS COMO “ENTIDAD”, “OBJETO” Y “VALOR”, USA EL TEXTO EXACTO EXTRAÍDO.\n6. ELIMINA DOBLES PUNTOS, CORCHETES O CARACTERES EXTRAÑOS QUE NO FORMEN PARTE DEL CONTENIDO PROPIAMENTE DICHO.\n7. **ES OBLIGATORIO DETECTAR Y EXTRAER EL ENLACE UBICADO DESPUÉS DE “Enlace directo a licitaciones.info” Y GUARDARLO COMO \"funcionalidades_de_la_herramienta\"**.\n8. **SI EL CAMPO \"localizacion\" TIENE FORMATO \"Departamento : Ciudad\" O SIMILAR, SEPARA EL DEPARTAMENTO Y LA CIUDAD EN CAMPOS INDEPENDIENTES**:  \n   - `\"departamento\"` ← VALOR ANTES DE LOS DOS PUNTOS  \n   - `\"ciudad\"` ← VALOR DESPUÉS DE LOS DOS PUNTOS  \n   - MANTIENE TAMBIÉN EL CAMPO \"localizacion\" CON SU VALOR ORIGINAL\n\n### CHAIN OF THOUGHTS:\n\n1. **ENTENDER**: LEE TODO EL TEXTO COMO UN CUERPO UNIFICADO Y DETECTA EL BLOQUE CENTRAL DE INFORMACIÓN LICITATORIA.\n2. **BÁSICOS**: IDENTIFICA LOS ATRIBUTOS SOLICITADOS COMO CLAVES DEL JSON.\n3. **DESCOMPONER**: UBICA CADA DATO POR SECCIONES (asunto, entidad, objeto, etc.).\n4. **ANALIZAR**:\n   - RELACIONA LOS DATOS CONTEXTUALMENTE (ej. el objeto de contratación suele estar tras la palabra \"Objeto:\").\n   - SI DETECTAS EL FORMATO \"Departamento : Ciudad\", DIVÍDELO CORRECTAMENTE.\n5. **ENSAMBLAR**: ORGANIZA LOS DATOS EN UN JSON CON CLAVES Y VALORES CLAROS, INCLUYENDO \"departamento\" Y \"ciudad\".\n6. **CASOS EXTREMOS**: SI ALGÚN VALOR NO SE ENCUENTRA EXPLÍCITAMENTE, NO LO INCLUYAS.\n7. **FUNCIÓN CRÍTICA**: BUSCA ENLACES WEB QUE CONTENGAN \"licitaciones.info\" Y EXTRAER EL PRIMERO COMO \"funcionalidades_de_la_herramienta\". ES UNA OBLIGACIÓN.\n8. **RESPUESTA FINAL**: DEVUELVE SOLO EL OBJETO JSON, SIN COMENTARIOS NI TEXTO ADICIONAL.\n\n### WHAT NOT TO DO:\n\n- **NUNCA OMITAS EL CAMPO \"funcionalidades_de_la_herramienta\" SI EL ENLACE ESTÁ PRESENTE EN EL TEXTO**.\n- **NO INVENTES** VALORES DE CAMPOS QUE NO SE ENCUENTRAN EXPLÍCITAMENTE EN EL TEXTO.\n- **NO REPITAS** CAMPOS NI GENERES JSON MAL FORMADO.\n- **NO OMITAS** LOS CAMPOS \"departamento\" Y \"ciudad\" SI PUEDEN SER DERIVADOS DESDE \"localizacion\".\n- **NO INCLUYAS ENLACES O CAMPOS INEXACTOS**, MAL FORMATEADOS O PARCIALES.\n- **NO CONTAMINES** LA SALIDA CON TEXTOS PROMOCIONALES O AJENOS A LA LICITACIÓN.\n\n### FEW-SHOT EXAMPLE\n\nTEXTO DE LICITACIÓN (fragmento):\nEntidad: Alcaldía de Santa Marta\nObjeto: Adquisición de equipos médicos\nValor: $450.000.000\nLocalización: Magdalena : Santa Marta\nEnlace directo a licitaciones.info: https://www.licitaciones.info/santamarta-medica\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[2040,320],"id":"98670574-b53b-4f22-a012-bc99f39e8ad4","name":"Information Extractor"},{"parameters":{"fieldToSplitOut":"output.documentos_encontrados","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2856,160],"id":"77e8a2c7-f634-4144-8aa9-4271fe03a158","name":"Split Out","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3076,160],"id":"5b89e59a-0ed1-4f9d-8517-7aaa3617195f","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4396,-46.5],"id":"f9c670c2-76b0-42ad-9299-1f43de830b87","name":"Status Job  PDF - DOC"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4616,174.5],"id":"5074710f-d711-4826-aa6f-2505ad4274d4","name":"Wait Job PDF - DOC","webhookId":"f87508bf-6d05-4bd8-8d79-ebc5d503d0fd"},{"parameters":{"errorMessage":"Error Job Parser PDF - DOC"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4616,-40],"id":"b4a36259-807d-4540-a3b8-5a8749c6d1a9","name":"Error PDF - DOC"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4836,60],"id":"c2f66be1-2f54-417e-80c9-7584d3eafab5","name":"Aggregate"},{"parameters":{"operation":"get","messageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"output":"fields","fields":["body","hasAttachments","subject"],"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1600,320],"id":"a5f0be48-8859-49cc-9c00-d54e20e26753","name":"Microsoft Outlook","webhookId":"0dd90bcc-d4ef-4dd6-8c83-1e3896dc546a","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"41744e35-8c64-47f5-8568-f21fb377c439","leftValue":"={{ $json.fileName }}","rightValue":"pdf","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.fileName }}","rightValue":"docx","operator":{"type":"string","operation":"contains"},"id":"e2d1e9ed-0fc3-4124-905d-818ba76db060"}],"combinator":"and"},"renameOutput":true,"outputKey":"DOCX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5e987b8d-fe61-46fc-a27d-34eb056b2572","leftValue":"={{ $json.fileName }}","rightValue":"xlsx","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLSX"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"18ee520f-8912-44c3-963a-4b6fd7df1d77","leftValue":"={{ $json.fileName }}","rightValue":"xls","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"XLS"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3736,53.5],"id":"25147605-6cbd-4768-b1d7-da592df1a090","name":"Switch","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"premium_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3956,199.5],"id":"ff81a93f-47fc-4862-bfe1-eb6e158e14b0","name":"Parser Excel","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"jsCode":"// Función para extraer el código aleatorio de la URL\nfunction extractRandomCode(inputText) {\n  try {\n    // Verificar si la entrada es undefined o null\n    if (!inputText) {\n      return { \n        random_code: null,\n        error: \"La entrada es undefined o null\" \n      };\n    }\n    \n    // Intentar encontrar cualquier URL que contenga \"random=\"\n    const urlRegex = /https?:\\/\\/[^\\s]+random=([^\\s&]+)/;\n    const match = inputText.match(urlRegex);\n    \n    if (!match || !match[1]) {\n      return { \n        random_code: null,\n        error: \"No se encontró una URL con parámetro 'random'\" \n      };\n    }\n    \n    // Extraer el código completo después de \"random=\"\n    const fullRandomCode = match[1];\n    \n    // Extraer la parte antes del primer punto\n    const dotIndex = fullRandomCode.indexOf('.');\n    if (dotIndex === -1) {\n      // Si no hay punto, devolver el código completo\n      return { \n        random_code: fullRandomCode,\n        error: null \n      };\n    }\n    \n    // Extraer la parte antes del punto\n    const codeBeforeDot = fullRandomCode.substring(0, dotIndex);\n    \n    return {\n      random_code: codeBeforeDot,\n      full_random_code: fullRandomCode,\n      error: null\n    };\n  } catch (error) {\n    return {\n      random_code: null,\n      error: `Error al procesar: ${error.message}`\n    };\n  }\n}\n\n// Obtener la entrada de la variable especificada\nconst inputText = $('Information Extractor').first()?.json?.output?.funcionalidades_de_la_herramienta;\n\n// Procesar la entrada\nconst result = extractRandomCode(inputText);\n\n// Devolver el resultado\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3956,585],"id":"85041504-28d0-49f4-b04f-b3b1c5afe995","name":"Extraer Random Code","alwaysOutputData":true},{"parameters":{"url":"=http://192.168.3.13:6333/collections/licita_{{ $json.random_code }}/exists","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4176,585],"id":"abfd0866-0d93-4d60-b8b2-338ddb560015","name":"Check Exist Qdrant","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"method":"PUT","url":"=http://192.168.3.13:6333/collections/licita_{{ $('Extraer Random Code').first().json.random_code }}","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4836,585],"id":"1fccffc3-eb4d-43e6-bf94-1bb219df0a9e","name":"Create Qdrant","alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"url":"={{ $json.enlace }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{"maxRedirects":10}},"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3296,74.5],"id":"1f9c0fe2-cea2-44e8-bdcf-6376d55b6df8","name":"GET Files","alwaysOutputData":false},{"parameters":{"method":"DELETE","url":"=http://192.168.3.13:6333/collections/licita_{{ $('Extraer Random Code').first().json.random_code }}","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4616,510],"id":"6cb1f144-8e96-456e-b6ba-f9d22aeb253d","name":"Delete Qdrant","alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data","includeEmpty":true,"separateBy":"\n"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[5280,220],"id":"a414694a-76c9-4afc-9a2d-17ce7911ce4f","name":"Summarize"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c342300-48f5-4932-b653-8adc06fa206f","leftValue":"={{ $json.result.exists }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4396,585],"id":"8e237cba-29ee-410b-b72c-c08eea3d21e6","name":"Exists Vectors"},{"parameters":{"operation":"write","fileName":"=/home/node/files/{{ $('Split Out').first().json.nombre }}","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[3516,74.5],"id":"a46956b9-c230-4cf3-987f-f62bd44c6678","name":"Save Document"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4176,74.5],"id":"cd2d8c53-8d82-4e9d-ba17-4b6a65c5fb92","name":"GET Parser DOCS","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3956,-25.5],"id":"030299b6-8c86-43fe-b765-cbfdc367ad3d","name":"Parser DOCS","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $('GET Parser DOCS').item.json.id }}/result/markdown","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4616,-240],"id":"4bfdb555-ea1c-4e1b-b015-3c063b96305e","name":"Success DOC","credentials":{"httpHeaderAuth":{"id":"rDHcHgP5GNq3qUHB","name":"API Llamaindex"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[5580,400],"id":"98a7e532-a008-4330-a328-c1075c0ac66a","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[5520,560],"id":"c4803261-7e23-4a07-8fed-d62447a1ab63","name":"Recursive Character Text Splitter"},{"parameters":{"model":{"__rl":true,"value":"openai-mini","mode":"list","cachedResultName":"openai-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1980,540],"id":"5c6a64d3-2fd4-4f83-b5db-45e15836e8b3","name":"OpenAI Mini","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1378f400-3254-436d-a966-4a0b92bf7d78","leftValue":"={{ $json.output.documentos.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2580,140],"id":"5f0e4ec6-80c8-493e-b2bf-1db79905ad66","name":"If"},{"parameters":{"promptType":"define","text":"=Analiza la documentacion de la base vectorial licitaciones del Solicitante {{ $('Information Extractor').item.json.output.toJsonString() }}","options":{"systemMessage":"Me puedes hacer un resumen con todo los veectores traidos desde `tool` que se extraiga el nombre del \nsolicitante o cliente encontrando la informacion en el texto y que lo llama como \"solicitante: cliente XYZ\"\n\nContexto:\nEres un analista experto en contratación de servicios de telecomunicaciones. Recibirás el contenido completo de un documento tipo RFP (Request for Proposal).\n\n🎯 TU TAREA ES LEER Y ANALIZAR el documento COMPLETO y entregar una respuesta organizada en FORMATO MARKDOWN, bien estructurada y detallada, con secciones y subtítulos.\n💡 DEBES EXTRAER Y EXPLICAR la información más relevante posible, agrupada en las siguientes secciones:\n## 🔐 Información Legal y Contractual\nExpón con claridad las condiciones legales clave: duración del contrato, causales de terminación, condiciones de renovación, garantías requeridas, cláusulas de confidencialidad, penalizaciones y cualquier término jurídico relevante. Si hay ambigüedades o riesgos, coméntalos brevemente.\n## 💼 Aspectos Administrativos y Económicos\nDetalla fechas importantes (límite de entrega, vigencia de oferta), plazos de pago, condiciones económicas (moneda, forma de pago, intereses, anticipos), así como montos, promedios o unidades de cobro mencionadas. Añade cualquier instrucción relacionada con facturación, penalidades económicas o restricciones.\n## 📑 Requisitos Documentales\nLista y explica los documentos requeridos: referencias, certificaciones, declaraciones juradas, anexos técnicos, formularios, etc. Aclara condiciones como: cantidad, antigüedad, formato, requisitos de firma o certificación, si deben presentarse en físico o digital.\n## 🛠️ Requerimiento Técnico (Resumen Detallado)\nHaz un resumen técnico exhaustivo. Incluye tecnologías específicas (SD-WAN, plataformas, software), infraestructura mínima, disponibilidad exigida, condiciones de escalabilidad, redundancias, niveles de servicio (SLA), seguridad física y lógica, cantidad de sitios, equipos o instalaciones.\n\n## ✅ Índice y Tablas\n- Si se encuentran tablas, asegúrate de que todas las tablas estén bien estructuradas, con los **encabezados correctamente alineados** y **sin celdas vacías** en la cabecera.\n- **Tablas en Markdown** deben tener un formato como el siguiente:\n  ```markdown\n  | Columna 1 | Columna 2 | Columna 3 |\n  |-----------|-----------|-----------|\n  | Valor 1   | Valor 2   | Valor 3   |\n  | Valor 4   | Valor 5   | Valor 6   |\n\n🎯 Instrucciones específicas:\nPara las Tablas: Si encuentras tablas, asegúrate de que estén estructuradas con los siguientes lineamientos:\n# Usa siempre las | para separar las columnas.\n# Asegúrate de que todas las filas de datos tengan el mismo número de columnas que la fila de encabezado.\n# Si alguna celda está vacía en el texto original, reemplázala con un espacio vacío y no dejes columnas extrañas.\n# Para las Imágenes: Las imágenes deben ser referenciadas correctamente con la sintaxis Markdown estándar:\n# Asegúrate de que las imágenes estén dentro de la estructura Markdown y que los links a las imágenes sean completos (incluyendo el dominio).\n# Formato Markdown claro y consistente:\n# Utiliza encabezados #, ##, ### para los títulos y subtítulos.\n# Usa listas ordenadas y desordenadas según corresponda.\n# Si se encuentran enlaces o menciones de URL, inclúyelas en el formato Markdown adecuado.\n\n🔎 ADEMÁS, para cada sección debes:\n- Citar cifras exactas, porcentajes, valores técnicos o económicos que aparezcan  \n- Incluir aclaraciones sobre el contexto si hay ambigüedad o términos no definidos  \n- Mencionar si hay inconsistencias, ambigüedades o puntos críticos  \n- Usar listas ordenadas o viñetas cuando sea necesario para mayor claridad\n\n🚫 IMPORTANTE:  \nNO entregues respuesta en JSON  \nNO utilices etiquetas de código  \nNO incluyas texto fuera del formato Markdown estructurado\nNO dejes celdas vacías o desajustadas en las tablas, asegúrate de que el formato sea adecuado para la conversión a HTML\n📌 OBJETIVO FINAL: Producir un INFORME CLARO, COMPLETO Y ANALÍTICO en Markdown, con subtítulos, íconos y explicaciones precisas por sección.\n\n📘 FORMATO DE RESPUESTA ESPERADO EN MARKDOWN OBLIGATORIO MANTENER LA ESTRUCTURA\n\nSolicitante: <nombre-empresa-o-entidad | N/D>\n## 🔐 Información Legal y Contractual\n- Extraer el nombre del solicitante del RFP, regularmente es el nombre de alguna empresa, entidad o compañia\n- El contrato tendrá una duración de 60 meses, con posibilidad de renovación automática si ninguna de las partes manifiesta lo contrario con al menos 90 días de anticipación.\n- Se exige una garantía de cumplimiento equivalente al 15% del valor anual del contrato, renovable cada año antes del aniversario del contrato.\n- El proveedor debe firmar un acuerdo de confidencialidad (NDA) previo a la ejecución del contrato.\n- Se establecen penalidades por incumplimiento que podrán alcanzar hasta el 10% del monto mensual facturado, dependiendo de la gravedad del incidente.\n## 💼 Aspectos Administrativos y Económicos\n- La propuesta debe entregarse antes del **24 de enero de 2025 a las 13:00 (UTC-6)**.\n- La oferta deberá tener una vigencia mínima de **180 días** a partir de la fecha de apertura de propuestas.\n- Los pagos se realizarán en **USD**, con un plazo máximo de **60 días calendario** tras la aceptación del servicio.\n- No se permiten pagos anticipados, intereses moratorios ni ajustes por inflación.\n- Costo estimado mensual por sitio: **$2,500 USD** promedio.\n- No se contempla la entrega parcial del servicio; el contrato será adjudicado en una sola partida.\n## 📑 Requisitos Documentales\n- Se deben presentar al menos **3 cartas de referencia** de clientes actuales o anteriores, emitidas en los últimos **2 años**.\n- Certificaciones obligatorias: **ISO 27001**, **PCI-DSS**, y **Uptime Institute TIER III (Design y Facility)**.\n- Documentos requeridos: memoria técnica, plan de trabajo detallado, declaración jurada firmada por el representante legal.\n- Todos los documentos deben entregarse en formato digital firmado electrónicamente, además de una copia impresa legalizada.\n- Se solicita presentar un organigrama técnico del equipo propuesto, con CVs del personal clave.\n## 🛠️ Requerimiento Técnico (Resumen Detallado)\n- La solución deberá operar sobre una plataforma **SD-WAN basada en VMware VeloCloud**, con enlaces de comunicación redundantes en cada sitio.\n- Se exige una **disponibilidad mínima de 99.982%**, respaldada por monitoreo y soporte **24x7x365**.\n- Capacidad inicial de instalación: **20 racks**, con posibilidad de expansión a **30 racks** dentro de un periodo de **3 años**.\n- Redundancia requerida: **N+1** en energía, climatización y enlaces.\n- Seguridad física: acceso biométrico, cámaras CCTV, jaulas Faraday y zonas de cuarentena.\n- Todos los sitios deberán contar con doble acometida de fibra óptica y equipos con soporte para IPv6.\n\n## 🔑 PUNTOS CLAVE\n- PROVEEDOR PROPUESTO: <nombre corto>           <!-- si el documento nombra proveedores o marcas -->\n- SERVICIOS CLAVE: <3-5 palabras>                <!-- ej. “SD-WAN, MPLS, SIP” -->\n- ALCANCE GEOGRAFICO: <país/región o “Global”>          <!-- útil para filtrar rápidamente -->\n- SLA CRÍTICO: <99.9 % / 4 h MTTR / etc.>\n- COSTO REFERENCIA: <valor + unidad>             <!-- el pago/costo más representativo -->\n- PLAZO EJECUCIÓN: <meses>                       <!-- tiempo de implementación o contrato -->\n\n## 📊 MÉTRICAS ESTRUCTURADAS (sólo si el archivo es Excel)\n| clave | valor | unidad | hoja_origen | celda_o_rango |\n|-------|-------|--------|-------------|---------------|\n| N/D   | N/D   | N/D    | N/D         | N/D           |\n\n## ✅  Observaciones y Recomendaciones\n_- Se recomienda verificar que la vigencia de las certificaciones solicitadas coincida con la duración total del contrato._\n_- Ideal contar con experiencia comprobable en implementación de soluciones SD-WAN en al menos **10 sitios simultáneamente**._\n_- Se sugiere solicitar aclaración sobre el término “expansión futura” para establecer límites de alcance o costos adicionales._\n_- Sería útil definir explícitamente los criterios de evaluación técnica y económica dentro del documento para mayor transparencia._\n## ⚠️ Riesgos Identificados\n_- Ambigüedad en la cláusula de renovación automática: no se especifican condiciones de renegociación tarifaria._\n_- Posible sobrecosto si no se delimitan las condiciones bajo las cuales se puede activar la expansión a 30 racks._\n_- No se detalla el mecanismo de validación de la disponibilidad mínima exigida (99.982%), lo que podría generar disputas contractuales._\n_- Falta claridad sobre si el incumplimiento técnico parcial implica rescisión total del contrato o aplicación de penalidades proporcionales._"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[6260,200],"id":"373d9525-03b0-42dc-9b32-844cf494ffc1","name":"AI Agent"},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[5420,400],"id":"80305daf-c776-4340-aa5e-ae1c6c28b77c","name":"Embedding BGE","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5056,210],"id":"49c17f42-c40a-4a6f-b90f-d3683ded576a","name":"Merge"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[6160,400],"id":"4801e831-95c8-4794-9cbe-23922aa4c1e9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"html":"={{ $json.body.content }}","destinationKey":"body","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1820,320],"id":"b0f7dc25-1bf6-4dff-9e03-71ae6ce03598","name":"Markdown"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[5920,200],"id":"95615c36-1aef-4b2f-8b9f-dd32715897fb","name":"Limit"},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[6260,600],"id":"81e65926-b3aa-4bdb-99e8-3f0348c172af","name":"Embedding","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"licitaciones","toolDescription":"Base Vectorial para analizar documentos de Licitaciones","qdrantCollection":{"__rl":true,"value":"=licita_{{ $('Extraer Random Code').item.json.random_code }}","mode":"id"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.2,"position":[6360,440],"id":"0cb00538-d2f4-4018-bef4-46c65981b019","name":"Documentos Vectorizados","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=licita_{{ $('Extraer Random Code').item.json.random_code }}","mode":"id"},"embeddingBatchSize":1024,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[5520,220],"id":"fb365a07-0f29-490d-b24f-4e08c4fabb96","name":"Vectorizar Documentos","alwaysOutputData":false,"credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"Testing Analisis de Licitacion","bodyContent":"={{ $('Code').item.json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[7120,200],"id":"3b44a0f3-6671-436e-8acb-58becf30b3c7","name":"Microsoft Outlook1","webhookId":"758e9d76-2d10-4807-b706-bd25667a1fd1","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n {{ $json.html }}\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[6900,200],"id":"17225e9d-5ddb-4b48-b378-43e4271f55bc","name":"HTML"},{"parameters":{"jsCode":"// Convertidor de Markdown a HTML para n8n con estilos inline para Outlook\n// Convierte texto Markdown a HTML según las especificaciones del documento\n\n// Función principal del convertidor\nfunction convertMarkdownToHtml(markdownText) {\n  let html = markdownText;\n  \n  // Estilos inline para elementos\n  const styles = {\n    h1: 'color: #1a365d; font-size: 24px; margin: 15px 0 10px 0; padding: 0 0 8px 0; border-bottom: 3px solid #3182ce; text-align: center; font-weight: bold; font-family: Arial, sans-serif;',\n    h2: 'color: #2d3748; font-size: 18px; margin: 20px 0 8px 0; padding: 8px 12px; background-color: #ebf8ff; border-left: 4px solid #3182ce; font-weight: bold; font-family: Arial, sans-serif;',\n    h3: 'color: #4a5568; font-size: 16px; margin: 15px 0 6px 0; padding: 6px 10px; background-color: #f7fafc; border-left: 3px solid #cbd5e0; font-weight: bold; font-family: Arial, sans-serif;',\n    p: 'margin: 0 0 8px 0; color: #4a5568; font-family: Arial, sans-serif; line-height: 1.5;',\n    ul: 'margin: 8px 0; padding: 0; font-family: Arial, sans-serif;',\n    li: 'margin: 6px 0 0 0; padding: 6px 8px; background-color: #f7fafc; border-left: 3px solid #cbd5e0; list-style: none; color: #4a5568; font-family: Arial, sans-serif;',\n    strong: 'color: #2d3748; font-weight: bold;',\n    a: 'color: #3182ce; text-decoration: underline;',\n    hr: 'border: none; height: 2px; background-color: #e2e8f0; margin: 15px 0;',\n    table: 'width: 100%; border-collapse: collapse; margin: 12px 0; font-family: Arial, sans-serif;',\n    th: 'background-color: #ebf8ff; color: #2d3748; padding: 8px; text-align: left; border: 1px solid #cbd5e0; font-weight: bold;',\n    td: 'padding: 6px 8px; border: 1px solid #e2e8f0; color: #4a5568;',\n    code: 'background-color: #f7fafc; padding: 2px 4px; color: #c05621; font-weight: bold; font-family: monospace;',\n    blockquote: 'background-color: #f7fafc; padding: 10px; border-left: 4px solid #cbd5e0; margin: 8px 0; color: #4a5568; font-style: italic;'\n  };\n  \n  // Escapar caracteres HTML primero\n  html = html.replace(/&/g, '&amp;')\n             .replace(/</g, '&lt;')\n             .replace(/>/g, '&gt;');\n  \n  // Encabezados con #\n  html = html.replace(/^######\\s+(.*)$/gm, `<h6 style=\"${styles.h3}\">$1</h6>`);\n  html = html.replace(/^#####\\s+(.*)$/gm, `<h5 style=\"${styles.h3}\">$1</h5>`);\n  html = html.replace(/^####\\s+(.*)$/gm, `<h4 style=\"${styles.h3}\">$1</h4>`);\n  html = html.replace(/^###\\s+(.*)$/gm, `<h3 style=\"${styles.h3}\">$1</h3>`);\n  \n  // H2 con estilos especiales para observaciones y riesgos\n  html = html.replace(/^##\\s+(.*✅.*Observaciones.*Recomendaciones.*)$/gmi, `<h2 style=\"color: #22543d; font-size: 18px; margin: 20px 0 8px 0; padding: 8px 12px; background-color: #f0fff4; border-left: 4px solid: #48bb78; font-weight: bold; font-family: Arial, sans-serif;\">$1</h2>`);\n  html = html.replace(/^##\\s+(.*⚠️.*Riesgos.*Identificados.*)$/gmi, `<h2 style=\"color: #742a2a; font-size: 18px; margin: 20px 0 8px 0; padding: 8px 12px; background-color: #fff5f5; border-left: 4px solid #e53e3e; font-weight: bold; font-family: Arial, sans-serif;\">$1</h2>`);\n  html = html.replace(/^##\\s+(.*)$/gm, `<h2 style=\"${styles.h2}\">$1</h2>`);\n  \n  html = html.replace(/^#\\s+(.*)$/gm, `<h1 style=\"${styles.h1}\">$1</h1>`);\n  \n  // Encabezados con === y ---\n  html = html.replace(/^(.+)\\n=+$/gm, `<h1 style=\"${styles.h1}\">$1</h1>`);\n  html = html.replace(/^(.+)\\n-+$/gm, `<h2 style=\"${styles.h2}\">$1</h2>`);\n  \n  // Texto en negrita y cursiva combinado (debe ir antes que los individuales)\n  html = html.replace(/\\*\\*\\*([^*]+)\\*\\*\\*/g, `<em><strong style=\"${styles.strong}\">$1</strong></em>`);\n  html = html.replace(/___([^_]+)___/g, `<em><strong style=\"${styles.strong}\">$1</strong></em>`);\n  html = html.replace(/__\\*([^*]+)\\*__/g, `<em><strong style=\"${styles.strong}\">$1</strong></em>`);\n  html = html.replace(/\\*\\*_([^_]+)_\\*\\*/g, `<em><strong style=\"${styles.strong}\">$1</strong></em>`);\n  \n  // Texto en negrita\n  html = html.replace(/\\*\\*([^*]+)\\*\\*/g, `<strong style=\"${styles.strong}\">$1</strong>`);\n  html = html.replace(/__([^_]+)__/g, `<strong style=\"${styles.strong}\">$1</strong>`);\n  \n  // Texto en cursiva\n  html = html.replace(/\\*([^*]+)\\*/g, '<em>$1</em>');\n  html = html.replace(/_([^_]+)_/g, '<em>$1</em>');\n  \n  // Código inline\n  html = html.replace(/``([^`]+)``/g, `<code style=\"${styles.code}\">$1</code>`);\n  html = html.replace(/`([^`]+)`/g, `<code style=\"${styles.code}\">$1</code>`);\n  \n  // Enlaces\n  html = html.replace(/\\[([^\\]]+)\\]\\(([^)]+)(?:\\s+\"([^\"]+)\")?\\)/g, (match, text, url, title) => {\n    if (title) {\n      return `<a href=\"${url}\" title=\"${title}\" style=\"${styles.a}\">${text}</a>`;\n    }\n    return `<a href=\"${url}\" style=\"${styles.a}\">${text}</a>`;\n  });\n  \n  // URLs y emails automáticos\n  html = html.replace(/<(https?:\\/\\/[^>]+)>/g, `<a href=\"$1\" style=\"${styles.a}\">$1</a>`);\n  html = html.replace(/<([^@\\s]+@[^@\\s]+\\.[^@\\s]+)>/g, `<a href=\"mailto:$1\" style=\"${styles.a}\">$1</a>`);\n  \n  // Imágenes\n  html = html.replace(/!\\[([^\\]]*)\\]\\(([^)]+)(?:\\s+\"([^\"]+)\")?\\)/g, (match, alt, src, title) => {\n    if (title) {\n      return `<img src=\"${src}\" alt=\"${alt}\" title=\"${title}\" style=\"border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;\">`;\n    }\n    return `<img src=\"${src}\" alt=\"${alt}\" style=\"border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;\">`;\n  });\n  \n  // Reglas horizontales\n  html = html.replace(/^(\\*{3,}|-{3,}|_{3,})$/gm, `<hr style=\"${styles.hr}\">`);\n  \n  // Citas en bloque\n  html = html.replace(/^>\\s*(.*)$/gm, (match, content) => {\n    return `<blockquote style=\"${styles.blockquote}\">${content}</blockquote>`;\n  });\n  \n  // Manejar citas anidadas\n  html = html.replace(/<blockquote style=\"[^\"]*\"><blockquote style=\"[^\"]*\">/g, `<blockquote style=\"${styles.blockquote}\"><blockquote style=\"${styles.blockquote}\">`);\n  \n  // Listas desordenadas\n  html = html.replace(/^[-*+]\\s+(.*)$/gm, `<li style=\"${styles.li}\">$1</li>`);\n  \n  // Listas ordenadas\n  html = html.replace(/^\\d+\\.\\s+(.*)$/gm, `<li style=\"${styles.li}\">$1</li>`);\n  \n  // Tablas\n  html = html.replace(/\\|(.+)\\|/g, (match, content) => {\n    const cells = content.split('|').map(cell => cell.trim());\n    return '|' + cells.join('|') + '|';\n  });\n  \n  // Procesar tablas completas\n  html = html.replace(/(\\|.+\\|\\n)+/g, (tableMatch) => {\n    const rows = tableMatch.trim().split('\\n');\n    let tableHtml = `<table style=\"${styles.table}\">\\n`;\n    \n    rows.forEach((row, index) => {\n      if (row.includes('---') || row.includes('===')) {\n        return; // Saltar líneas separadoras\n      }\n      \n      const cells = row.split('|').filter(cell => cell.trim() !== '').map(cell => cell.trim());\n      \n      if (index === 0 || (index === 1 && !rows[0].includes('---'))) {\n        // Primera fila como encabezado\n        tableHtml += '  <thead>\\n    <tr>\\n';\n        cells.forEach(cell => {\n          tableHtml += `      <th style=\"${styles.th}\">${cell}</th>\\n`;\n        });\n        tableHtml += '    </tr>\\n  </thead>\\n  <tbody>\\n';\n      } else {\n        // Filas de datos\n        tableHtml += '    <tr>\\n';\n        cells.forEach(cell => {\n          tableHtml += `      <td style=\"${styles.td}\">${cell}</td>\\n`;\n        });\n        tableHtml += '    </tr>\\n';\n      }\n    });\n    \n    tableHtml += '  </tbody>\\n</table>\\n';\n    return tableHtml;\n  });\n  \n  // Bloques de código\n  html = html.replace(/^    (.*)$/gm, `<pre style=\"background-color: #f7fafc; padding: 15px; margin: 15px 0; border-radius: 4px;\"><code style=\"${styles.code}\">$1</code></pre>`);\n  \n  // Saltos de línea simples (un solo \\n)\n  html = html.replace(/(?<!<\\/li>)\\n(?!<)/g, '<br>');\n  \n  // Párrafos (líneas separadas por líneas en blanco)\n  html = html.replace(/\\n\\n+/g, `</p>\\n\\n<p style=\"${styles.p}\">`);\n  html = `<p style=\"${styles.p}\">` + html + '</p>';\n  \n  // Saltos de línea (dos espacios al final de línea)\n  html = html.replace(/  <br>/g, '<br>');\n  \n  // Limpiar párrafos vacíos\n  html = html.replace(/<p style=\"[^\"]*\">\\s*<\\/p>/g, '');\n  \n  // Envolver listas en <ul>\n  html = html.replace(/(<li style=\"[^\"]*\">.*<\\/li>\\n?)+/gs, (match) => {\n    return `<ul style=\"${styles.ul}\">\\n${match}</ul>\\n`;\n  });\n  \n  // Caracteres escapados\n  html = html.replace(/\\\\([\\\\`*_{}[\\]<>()#+\\-.!|])/g, '$1');\n  \n  return html;\n}\n\n// Ejecutar la conversión\nconst markdownInput = $input.first().json.output || '';\nconst htmlOutput = convertMarkdownToHtml(markdownInput);\n\n$input.first().json.html = htmlOutput;\n$input.first().json.original_markdown = markdownInput;\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6680,200],"id":"4103fd1a-60b6-40f9-9b21-186594ba17d8","name":"Code"}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Extraer Random Code","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GET Files","type":"main","index":0}]]},"Status Job  PDF - DOC":{"main":[[{"node":"Success DOC","type":"main","index":0}],[{"node":"Error PDF - DOC","type":"main","index":0}],[{"node":"Error PDF - DOC","type":"main","index":0}],[{"node":"Wait Job PDF - DOC","type":"main","index":0}]]},"Wait Job PDF - DOC":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Microsoft Outlook":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Parser DOCS","type":"main","index":0}],[{"node":"Parser DOCS","type":"main","index":0}],[{"node":"Parser Excel","type":"main","index":0}],[{"node":"Parser Excel","type":"main","index":0}]]},"Parser Excel":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Extraer Random Code":{"main":[[{"node":"Check Exist Qdrant","type":"main","index":0}]]},"Check Exist Qdrant":{"main":[[{"node":"Exists Vectors","type":"main","index":0}]]},"Create Qdrant":{"main":[[{"node":"Merge","type":"main","index":1}]]},"GET Files":{"main":[[{"node":"Save Document","type":"main","index":0}]]},"Delete Qdrant":{"main":[[{"node":"Create Qdrant","type":"main","index":0}]]},"Exists Vectors":{"main":[[{"node":"Delete Qdrant","type":"main","index":0}],[{"node":"Create Qdrant","type":"main","index":0}]]},"Save Document":{"main":[[{"node":"Switch","type":"main","index":0}]]},"GET Parser DOCS":{"main":[[{"node":"Status Job  PDF - DOC","type":"main","index":0}]]},"Parser DOCS":{"main":[[{"node":"GET Parser DOCS","type":"main","index":0}]]},"Success DOC":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Vectorizar Documentos","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Vectorizar Documentos","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"OpenAI Mini":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"If":{"main":[[],[{"node":"Split Out","type":"main","index":0}]]},"Embedding BGE":{"ai_embedding":[[{"node":"Vectorizar Documentos","type":"ai_embedding","index":0}]]},"Merge":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Limit":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Embedding":{"ai_embedding":[[{"node":"Documentos Vectorizados","type":"ai_embedding","index":0}]]},"Documentos Vectorizados":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Vectorizar Documentos":{"ai_tool":[[]],"main":[[{"node":"Limit","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Microsoft Outlook1","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"faac86cb-d57a-4983-943d-c58ce6f73bd1","triggerCount":0,"tags":[]}