workflowsMy workflow 13.json
{"createdAt":"2025-06-02T13:10:04.234Z","updatedAt":"2025-06-02T13:51:24.000Z","id":"qfn8buLdLlpCTmis","name":"My workflow 13","active":false,"isArchived":false,"nodes":[{"parameters":{"command":"ls -lh /home/node/.n8n/database.sqlite"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[340,0],"id":"16ca5d44-480b-43c6-ac73-0361bb09829a","name":"Execute Command"},{"parameters":{"jsCode":"const output = $input.first().json.stdout;\nconst parts = output.split(/\\s+/);\n\nconst day = parts[6].padStart(2, '0');\nconst monthName = parts[5];\nconst year = new Date().getFullYear();\n\n// Soporte para MB y GB\nlet sizeValue = parseFloat(parts[4]);\nconst sizeUnit = parts[4].slice(-1);\nconst size_mb = sizeUnit === 'G' ? sizeValue * 1024 : sizeValue;\n\nreturn {\n permissions: parts[0],\n owner: parts[2],\n group: parts[3],\n size: parts[4],\n path: parts[8],\n size_mb: size_mb,\n date: `${day}-${monthName}-${year}`,\n filename: parts[8].split('/').pop()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"24882b3d-441a-4a90-8975-4c4afc17d2ec","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"08b04ddb-d086-49b8-9cea-e9f66cda219b","leftValue":"={{ $json.size_mb }}","rightValue":3000,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,0],"id":"62ca26ab-e7d5-46ca-abdb-f362dab85cb0","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"=⚠️ *SEGUIMIENTO TAMAÑO DB N8N*\n📂  Archivo: {{ $json.path }}\n🗓️ Fecha:  {{ $json.date }}\n💾 Tamaño de DB: {{ $json.size }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[900,80],"id":"04ead7dd-fdf5-4b27-b44d-72b0218bc06d","name":"Seguimiento Size","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"=🚨 *ALERTA DB N8N*\n📊  Archivo: {{ $json.path }}\n🗓️ Fecha:  {{ $json.date }}\n💾 Tamaño de DB: {{ $json.size }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[900,-100],"id":"68fc7ac9-ceb6-4b0c-8c97-2d57c5a2d549","name":"Alerta Size","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[160,0],"id":"dbe719d1-415a-4041-8e09-3237d7f054f7","name":"Schedule Trigger"}],"connections":{"Execute Command":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Alerta Size","type":"main","index":0}],[{"node":"Seguimiento Size","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77e5854b-4ce8-4751-85bf-15ebb6475538","triggerCount":0,"tags":[]}