workflowsParticipantes de Grupos Wapp.json
{"createdAt":"2025-05-31T21:53:26.036Z","updatedAt":"2025-06-24T17:38:15.000Z","id":"f0ojrrzwfxHFfHwr","name":"Participantes de Grupos Wapp","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,0],"id":"1d94474e-7a91-49e9-b8ab-ebb7f2bf095c","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"whisper_remote_hands","searchMethod":"fetchAll","getParticipants":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[400,0],"id":"8424546c-92b7-415d-875f-32cd981fc781","name":"Evolution API1","credentials":{"evolutionApi":{"id":"l1h7t9g8yuhuMKwz","name":"Whatsapp Operaciones 573117653488"}}},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,0],"id":"ddafccdd-4751-495e-a091-a567254883fc","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"724aa523-f0ef-4975-9051-e8c99d59114a","name":"data.id","value":"={{ $json.data.id }}","type":"string"},{"id":"e73442af-4c5c-4f27-97d5-e95fdd267227","name":"data.subject","value":"={{ $json.data.subject }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,0],"id":"a208cd7b-8c38-4bd5-9c4e-6d25463a0344","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1100,0],"id":"6be1d925-98db-4f00-9b8c-17586c1609a0","name":"Convert to File"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2f25e7e-470d-4a90-8988-3f31d1656aef","triggerCount":0,"tags":[]}