workflowsLive Sentiment V2.json
{"createdAt":"2025-06-01T12:02:13.521Z","updatedAt":"2025-06-01T13:04:36.000Z","id":"GAq9WawFTO7sOQ3F","name":"Live Sentiment V2","active":true,"isArchived":false,"nodes":[{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"tableName":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"additionalFields":{},"options":{}},"type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-860,-440],"id":"6c20e325-53ec-4d5d-8a12-21c1c6ca1d03","name":"Postgres Trigger","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Alerta de Sentimiento Negativo</title>\n  <style>\n    /* Estilos generales - con mayor compatibilidad para clientes de correo */\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      margin: 0;\n      padding: 0;\n      background-color: #F5F5F5;\n      color: #333333;\n    }\n  </style>\n</head>\n\n<body style=\"margin: 0; padding: 0; background-color: #F5F5F5; font-family: Arial, Helvetica, sans-serif;\">\n  <!-- Wrapper para mayor compatibilidad con clientes de correo -->\n  <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #F5F5F5;\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"padding: 20px 0;\">\n        <!-- Contenedor principal -->\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" class=\"container\"\n          style=\"background-color: #FFFFFF; border: 1px solid #E0E0E0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\">\n          <!-- Encabezado -->\n          <tr>\n            <td align=\"center\" valign=\"top\"\n              style=\"background-color: #ff8a64; color: #FFFFFF; padding: 10px; border-top-left-radius: 8px; border-top-right-radius: 8px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n                <tr>\n                  <td align=\"left\" valign=\"middle\" width=\"80\" style=\"color: white;\">\n                    <span\n                      style=\"font-size: 68px; font-style: italic; font-family: serif; padding-left: 12px;\">ifx</span>\n                  </td>\n                  <td align=\"center\" valign=\"middle\" style=\"color: white\">\n                    <h1 style=\"margin: 0; font-size: 24px; font-weight: 600; \">Situación Crítica en Proceso</h1>\n                    <h2 style=\"margin: 0; font-size: 18px; font-weight: 400;\">WhatsApp</h2>\n                    <p style=\"margin: 5px 0 0; font-size: 14px; align-items: end;\">Generated by <span\n                        style=\"font-style: italic; font-family: serif; font-size: 16px;\">aifx</span></p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Análisis de Sentimiento -->\n          <tr>\n            <td style=\"padding: 25px 0 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 8px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📊</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Análisis de Sentimiento\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Categoría de sentimiento -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td align=\"center\" style=\"mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n                            style=\"display: inline-block; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td\n                                style=\"font-size: 16px; font-weight: bold; color: #FFFFFF; background-color: #FF5252; border-radius: 4px; padding: 4px 12px; text-align: center; mso-line-height-rule: exactly;\">\n                               {{ $('Merge Analisis').item.json.data[0].sentimiento }}\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Métricas en formato tabla para mayor compatibilidad con clientes de correo -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Intensidad\n                                </div>\n                                <div id=\"strength\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {{ $('Merge Analisis').item.json.data[0].intensidad }}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Certeza\n                                </div>\n                                <div id=\"confidence\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {{ $('Merge Analisis').item.json.data[0].confianza }}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Información del Chat -->\n          <tr>\n            <td style=\"padding: 25px 25px 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📄</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Información del Chat\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Información del chat -->\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Chat:</span>{{ $('Merge Analisis').item.json.data[0].chat }}\n                    </div>\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Cliente:</span>{{ $('Merge Analisis').item.json.data[0].cliente }}\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Mensajes Clave -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💬</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Mensajes Clave\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n                  {{ $('Table Messages').item.json.html_mensajes }}\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Resumen IA del Origen del Sentimiento -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>🤖</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Origen Detallado del Sentimiento Negativo\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de resumen IA -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #FFF3E0; border: 1px solid #FFCC80; border-left: 5px solid #FF8A65; margin-bottom: 15px; border-radius: 8px;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"resumen\" class=\"summary-text\" style=\"margin: 0; line-height: 1.7; font-size: 15px;\">\n                            {{ $('Merge Analisis').item.json.data[0].origen_negativo }}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Recomendaciones -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #4CAF50; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💡</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #4CAF50;\">\n                                Recomendaciones\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de recomendaciones -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #E8F5E9; border: 1px solid #A5D6A7; border-left: 5px solid #4CAF50; margin-bottom: 15px; border-radius: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"recomendaciones\" class=\"summary-text\"\n                            style=\"margin: 0; line-height: 1.7; font-size: 15px; mso-line-height-rule: exactly;\">\n                            {{ $('Merge Analisis').item.json.data[0].recomendacion }}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Pie de página -->\n          <tr>\n            <td style=\"padding: 15px 25px; text-align: center; border-top: 1px solid #EEEEEE;\">\n              <p style=\"margin: 0; font-size: 14px; color: #888888;\"> Este contenido fue generado automáticamente el {{ $now.toLocal().format('dd-MMM-yyyy') }} a las\n                {{ $now.toLocal().format('HH:MM') }}</p>\n              <p style=\"margin: 0; font-size: 12px; color: #888888;\">IFX Networks © {{ $now.format('yyyy') }}</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,60],"id":"872f9ec9-3084-4d76-b08e-011a3b30896e","name":"HTML"},{"parameters":{"assignments":{"assignments":[{"id":"ffe03e31-8010-4b8d-ac8e-705fb0931f35","name":"sentimiento","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category || $('Information Extractor').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"b1f871a9-c1a6-446f-92be-2e7cae0f5b1c","name":"confianza","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence * 100 || $('Information Extractor').item.json.sentimentAnalysis.confidence * 100 }}%\n","type":"number"},{"id":"d1de9d71-b65f-496a-acbe-724826b92bb2","name":"chat","value":"={{ $('AI Analist Negative').item.json.output.Chat.toUpperCase() || $('Information Extractor').item.json.output.Chat.toUpperCase() }}\n","type":"string"},{"id":"de460fc7-35bc-4a04-910c-440ecb8f79be","name":"cliente","value":"={{ $('AI Analist Negative').item.json.output.Cliente.toUpperCase() || $('Information Extractor').item.json.output.Cliente.toUpperCase() }}","type":"string"},{"id":"1546c0fa-b24b-4934-94b8-5a2c6236c768","name":"mensajes_negativos","value":"={{ $('AI Analist Negative').item.json.output['Mensajes Origen Sentimiento Negativo'] || $('Information Extractor').item.json.output['Mensajes Origen Sentimiento Negativo'] }}","type":"string"},{"id":"640c714b-a412-400b-966f-1874016213bc","name":"origen_negativo","value":"={{ $('AI Analist Negative').item.json.output['Origen Sentimiento Negativo'] || $('Information Extractor').item.json.output['Origen Sentimiento Negativo'] }}","type":"string"},{"id":"fb344e38-3335-434f-a159-f10d29967045","name":"recomendacion","value":"={{ $('AI Analist Negative').item.json.output['Recomendacion Preventiva'] || $('AI Analist Negative').item.json.output['Recomendacion Preventiva'] }}\n","type":"string"},{"id":"bd9184ab-052d-49f0-8fbf-8cbbb4955de6","name":"intensidad","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength * 100 || $('Information Extractor').item.json.sentimentAnalysis.strength * 100 }}%","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,-140],"id":"0a789222-5647-418a-a730-0e1a5ee5e500","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM (\n    SELECT      \n        \"remoteJid\",\n        participant,\n        \"pushName\",\n        conversation,\n        \"dateTime\",\n        sender,\n        nombrechat\n    FROM \n        public.messages\n    WHERE \n        \"remoteJid\" = '{{ $('Postgres Trigger').item.json.payload.remoteJid}}'\n        AND \"dateTime\" >= NOW() - INTERVAL '12 hours'\n    ORDER BY \n        \"dateTime\" DESC\n) AS subquery\nORDER BY \"dateTime\" ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-640,-440],"id":"0bf5df69-b660-453a-9baa-0bb5058ae120","name":"Query Back Chat","alwaysOutputData":true,"credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-180,-440],"id":"a3d83c3e-d99b-4a67-bee2-3c1c08e13dc3","name":"Merge Data Chat"},{"parameters":{"inputText":"={{ JSON.stringify($json.data) }}","options":{"categories":"Positive, Neutral, Negative","systemPromptTemplate":"YOU ARE A HIGHLY INTELLIGENT AND CONTEXT-AWARE SENTIMENT ANALYSIS EXPERT, OPTIMIZED FOR TELECOMMUNICATIONS SERVICE INTERACTIONS. YOUR TASK IS TO PERFORM DEEP SENTIMENT ANALYSIS ON USER CONVERSATIONS, TAKING INTO ACCOUNT TEMPORAL CONTEXT AND PARTICIPANT DYNAMICS.\n\n###OBJECTIVE###\n\n- ANALYZE THE SENTIMENT of the conversation provided in the \"conversation\" field\n- UNDERSTAND CONTEXT by interpreting timestamps and participants' names from the \"chatName\" field\n- IDENTIFY EMOTIONAL TONE and FRUSTRATION SIGNALS specific to TELECOMMUNICATIONS ISSUES (e.g., outages, billing, customer service quality)\n- CATEGORIZE THE SENTIMENT using one of the predefined options in `{categories}`\n- FOCUS ON THE MOST RECENT MESSAGES: YOU MUST PAY PARTICULAR ATTENTION TO THE LAST 10 MESSAGES IN THE CONVERSATION, GIVING SPECIAL PRIORITY TO THE FINAL MESSAGE AS A POTENTIAL SENTIMENT TRIGGER\n\n###FORMAT INSTRUCTIONS###\n\n- YOU MUST RETURN OUTPUT **EXCLUSIVELY IN JSON FORMAT**\n- DO NOT OUTPUT EXPLANATIONS OR COMMENTS\n- STRICTLY ADHERE TO THE OUTPUT FORMAT EXPECTED BY THE CALLING SYSTEM\n\n###CHAIN OF THOUGHTS###\n\n1. UNDERSTAND: READ the entire conversation and metadata, including time and participant information\n2. BASICS: RECOGNIZE that all messages relate to TELECOMMUNICATION SERVICE ISSUES (not general sentiment)\n3. BREAK DOWN: SEGMENT the conversation into dialogue turns and IDENTIFY the emotion in each\n4. ANALYZE: DETECT tone changes, repeated complaints, escalation, sarcasm, or satisfaction markers\n5. BUILD: AGGREGATE detected sentiments into a holistic judgment, GIVING SPECIAL WEIGHT TO THE LAST 10 MESSAGES\n6. EDGE CASES: HANDLE sarcastic praise, mixed tone, or polite but negative feedback carefully\n7. FINAL ANSWER: RETURN A SINGLE JSON OBJECT CONTAINING THE FINAL SENTIMENT CATEGORY\n\n###WHAT NOT TO DO###\n\n- DO NOT GUESS THE CONTEXT OUTSIDE TELECOMMUNICATIONS — STAY DOMAIN-FOCUSED\n- NEVER OMIT CONTEXTUAL CUES FROM PARTICIPANT NAMES OR TIMESTAMPS\n- NEVER RETURN EMPTY OR GENERIC RESPONSES LIKE \"NEUTRAL\" WITHOUT EVIDENCE\n- NEVER USE LABELS NOT LISTED IN `{categories}`\n- NEVER IGNORE THE LAST 30 MESSAGES OR FAIL\n- IMPORTANT TO CONSIDER THE FINAL MESSAGE AS A CRITICAL SIGNAL\n","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1,"position":[960,-620],"id":"7b44d004-663a-4f20-afa5-be5796cc7f1a","name":"Sentiment Analysis"},{"parameters":{"promptType":"define","text":"={{ $json.data.toJsonString() }}","options":{"systemMessage":"ERES UN AGENTE EXPERTO EN ANÁLISIS DE SENTIMIENTO NEGATIVO EN CONVERSACIONES DE WHATSAPP EMPRESARIALES.\n\nTU MISIÓN ES DETECTAR CONFLICTOS O EXPRESIONES DE MALESTAR, EXTRAER LOS MENSAJES RELEVANTES Y ENTREGAR UNA RESPUESTA EN **FORMATO MARKDOWN ESTRUCTURADO**, CON SECCIONES CLARAS Y SIN USAR JSON. DEBES ANALIZAR LOS ÚLTIMOS **30 MENSAJES PREVIOS** JUNTO CON EL MENSAJE MÁS RECIENTE.\n\nEN TU ANÁLISIS, DEBES:\n- IDENTIFICAR MENSAJES CLAVE QUE ORIGINAN O AMPLIFICAN EL CONFLICTO\n- ANALIZAR EL TONO Y SU ESCALAMIENTO A LO LARGO DEL TIEMPO\n- EMITIR UNA RECOMENDACIÓN ESTRATÉGICA Y PERSONALIZADA PARA CONTENER LA SITUACIÓN\n\n📌 **NO INCLUYAS EL NOMBRE DEL CHAT NI EL NOMBRE DEL CLIENTE EN LA SALIDA**  \nSOLO DEBES DEVOLVER LAS SECCIONES QUE CONTIENEN LOS MENSAJES RELEVANTES, EL ANÁLISIS Y LA RECOMENDACIÓN.\n\n---\n\n🎯 OBJETIVOS\n\n1. DETECTAR los mensajes con reclamos, quejas, molestia, frustración, presión, sarcasmo o desconfianza.\n2. EXTRAER:\n   - `pushname`\n   - `hora` (formato: `DD mon AAAA - HH:MM`, mes en **español, tres letras, minúsculas**)\n   - `mensaje`\n3. ANALIZAR el origen emocional y técnico del malestar:\n   - ¿Cuál es el conflicto?\n   - ¿Escala el tono?\n   - ¿Por qué escala?\n   - ¿Qué hechos lo sostienen?\n4. REDACTAR UNA RECOMENDACIÓN POLÍTICA, ESTRATÉGICA Y PROFESIONAL:\n   - Qué se debió hacer antes\n   - Qué hacer ahora\n   - Debe ser asertiva, diplomática y técnica\n\n---\n\n📋 FORMATO DE SALIDA EN MARKDOWN ESTRUCTURADO:\n\n```\n## Mensajes Origen del Sentimiento Negativo\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:45`\n  - **Mensaje**: <mensaje relevante>\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:50`\n  - **Mensaje**: <otro mensaje relacionado>\n...\n\n## Origen del Sentimiento Negativo\n<Análisis completo que conecte mensajes, explique el conflicto, describa evolución emocional, tono, fallos reiterados, presiones, forma de contacto, participación de interlocutores y causas de escalamiento si las hay.>\n\n## Recomendación Preventiva\n<Recomendación técnica y política. Qué se debió hacer, qué se debe hacer ahora, cómo evitar una escalada mayor. Refleja liderazgo, contención emocional, lenguaje profesional y claridad táctica. No usar frases genéricas.>\n```\n\n---\n\n⚠️ SI NO HAY CONFLICTO DETECTADO\n\nDEVUELVE EXCLUSIVAMENTE:\n\n```\n## Análisis\nsin informacion\n```\n\n---\n\n🚫 **PROHIBIDO**\n\n- ❌ NO INCLUIR EL NOMBRE DEL CHAT NI EL CLIENTE EN LA SALIDA\n- ❌ NO ENTREGAR LISTAS VACÍAS\n- ❌ NO OMITIR EL ANÁLISIS NI LA RECOMENDACIÓN\n- ❌ NO USAR FRASES AMBIGUAS, SUPERFICIALES NI GENÉRICAS\n- ❌ NO SUPONER QUE IFX ES CLIENTE (IFX ES INTERNO)\n\n---\n\n🧠 TU RESPUESTA DEBE SER EN FORMATO MARKDOWN, CON HORAS FORMATEADAS COMO `DD mon AAAA - HH:MM`, ANÁLISIS CONTEXTUAL, EMOCIONAL Y TÉCNICO, Y UNA RECOMENDACIÓN CON LIDERAZGO, CLARIDAD Y CONTENCIÓN.  \nUSA `tool` think SI LO CONSIDERAS NECESARIO.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-440,-140],"id":"8851d9ca-14dd-4c57-87aa-113f0033897a","name":"AI Analist Negative","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"executeOnce":true},{"parameters":{"jsCode":"// Obtener los datos de entrada\nconst mensajes = $input.first().json.data[0].mensajes_negativos;\n\n// Función para generar el HTML de cada mensaje\nfunction generarHTMLMensaje(chat) {\n  return `<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n style=\"border: 1px solid #DDDDDD; border-radius: 8px; margin-bottom: 10px; background-color: #FAFAFA;\">\n <tr>\n <td style=\"padding: 10px;\">\n <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n <tr>\n <td class=\"message-header\">\n <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td valign=\"middle\" style=\"padding-right: 5px;\">\n <icon>👤</icon>\n </td>\n <td valign=\"middle\">\n <span class=\"message-sender\"\n style=\"font-weight: bold; color: #333333;\">${chat.pushname}</span>\n <span class=\"message-time\"\n style=\"font-size: 0.85em; color: #777777; margin-left: 10px;\">${chat.hora}</span>\n </td>\n </tr>\n </table>\n </td>\n </tr>\n <tr>\n <td class=\"message-content\" style=\"padding-top: 5px; color: #333333;\">\n ${chat.mensaje}\n </td>\n </tr>\n </table>\n </td>\n </tr>\n </table>`;\n}\n\n// Parsear el JSON si viene como string\nlet chatsArray;\nif (typeof mensajes === 'string') {\n  chatsArray = JSON.parse(mensajes);\n} else {\n  chatsArray = mensajes;\n}\n\n// Generar HTML para todos los mensajes\nconst htmlCompleto = chatsArray.map(chat => generarHTMLMensaje(chat)).join('\\n');\n\n// Retornar el resultado\nreturn {\n  json: {\n    html_mensajes: htmlCompleto\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,60],"id":"73e5055a-51a1-41ed-9f63-34412ff1583f","name":"Table Messages"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[460,-140],"id":"da7b8191-dfbe-4f1d-802c-789154d9c799","name":"Merge Analisis"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category.toUpperCase() }}","confianza":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","intensidad":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","chat":"={{ $('Merge Analisis').item.json.data[0].chat.toUpperCase() }}","cliente":"={{ $('Merge Analisis').item.json.data[0].cliente.toUpperCase() }}","mensajes_negativos":"={{ $('Merge Analisis').item.json.data[0].mensajes_negativos }}","origen_negativo":"={{ $('Merge Analisis').item.json.data[0].origen_negativo }}","recomendacion":"={{ $('Merge Analisis').item.json.data[0].recomendacion }}","remote_jid":"={{ $('Merge Data Chat').item.json.data[0].remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1020,-240],"id":"1630af77-f006-44f2-9b04-6f21f9d5d61b","name":"Save Negative","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category.toUpperCase() }}","confianza":"={{ $json.sentimentAnalysis.confidence }}","intensidad":"={{ $json.sentimentAnalysis.strength }}","chat":"={{ $json.data[0].nombrechat.toUpperCase() }}","remote_jid":"={{ $('Merge Data Chat').item.json.data[0].remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[620,-480],"id":"a038533f-646a-4e6a-b8a5-6dc310e73a58","name":"Save Neutral","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category.toUpperCase() }}","confianza":"={{ $json.sentimentAnalysis.confidence }}","intensidad":"={{ $json.sentimentAnalysis.strength }}","chat":"={{ $json.data[0].nombrechat.toUpperCase() }}","remote_jid":"={{ $('Merge Data Chat').item.json.data[0].remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[620,-640],"id":"89515617-4077-4571-b66f-140a45d1700f","name":"Save Positive","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"toRecipients":"atellez@ifxcorp.com, wrivera@ifxcorp.com, dcubides@ifxcorp.com, cnospina@ifxcorp.com, badevia@ifxcorp.com, aperez@ifxcorp.com, aguevara@ifxcorp.com, lheredia@ifxcorp.com","subject":"=SITUACION CRITICA {{ $('Merge Analisis').item.json.data[0].chat }} CLIENTE {{ $('Merge Analisis').item.json.data[0].cliente }}","bodyContent":"={{ $('HTML').item.json.html }}","additionalFields":{"bccRecipients":"jaimep@ifxcorp.com","bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[740,20],"id":"c13b8075-f497-4184-9a7c-83bd560ab4cc","name":"Send Alert","webhookId":"3f197afb-c9a6-422d-baaa-d9b4a4ab826f","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1100,-380],"id":"330743bf-a7d5-49b4-a79f-6a9c528da664","name":"Llama 70B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-540,60],"id":"f54bbf21-d8f1-427f-ac9e-0305d56eb263","name":"Llama 70B Negativo","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    \"remoteJid\",\n    standby\nFROM \n    public.standby\nWHERE \n    \"remoteJid\" = '{{ $('Postgres Trigger').item.json.payload.remoteJid}}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,60],"id":"ccaf276b-37e6-4163-afff-3173ccdfa85c","name":"Check Standby","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baf37221-e695-4e43-8dae-431f98ef5fc2","leftValue":"={{ $json.standby }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,60],"id":"e9b75d4d-95ab-4241-86b4-abb77faa52f3","name":"Standby?"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"standby","mode":"list","cachedResultName":"standby"},"columns":{"mappingMode":"defineBelow","value":{"standby":true,"remoteJid":"={{ $('Merge Data Chat').item.json.data[0].remoteJid }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1080,140],"id":"d1e45de5-c4d0-4fb5-a79a-6130b9ad8ef5","name":"Set StandBy","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    \"remoteJid\",\n    standby,\n    \"updated_at\"\nFROM \n    public.standby\nWHERE \n    \"remoteJid\" = '{{ $json.payload.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-460,-640],"id":"7e8c100e-4797-4b3d-ad08-a64003f708e5","name":"Query Standby Time","alwaysOutputData":true,"credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[740,-160],"id":"b42d6038-dc14-4490-b514-a595fee9016d","name":"Do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"320e114d-b288-465c-b18f-36bf84aa6404","leftValue":"={{ $json.standby }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"0bf8155f-9905-459d-9385-007d029ac451","leftValue":"={{ $json.updated_at.toDateTime() < $now.minus({ hours: 4 }) }}","rightValue":"={{ $now.format('yyyy-MM-dd HH:MM') }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,-640],"id":"175e3131-0bd1-4a22-beff-b73a159b216c","name":"Time Off"},{"parameters":{"operation":"executeQuery","query":"UPDATE public.standby \nSET \n    standby = false,\n    \"updated_at\" = NOW()\nWHERE \n    \"remoteJid\" = '{{ $('Time Off').item.json.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,-740],"id":"09273ea4-126c-4cc8-9bf6-0d00fe0ae626","name":"Set False Standby","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-60,-580],"id":"1c06eef2-56ed-4e5b-9605-eaab15a540b8","name":"Do nothing Time Off"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=SITUACION CRITICA {{ $('Merge Analisis').item.json.data[0].chat }} CLIENTE {{ $('Merge Analisis').item.json.data[0].cliente }}","bodyContent":"={{ $('HTML').item.json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[740,260],"id":"95e48d8a-cc21-4bbf-8c46-f2aa0348871b","name":"Send Testing","webhookId":"e0ef0804-b516-4d41-85c6-714e89edeca8","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-260,80],"id":"e1946f13-c6b9-44c0-9f1f-2c09710aa228","name":"Think"},{"parameters":{"assignments":{"assignments":[{"id":"016ad8f3-c2c7-4496-b09e-9fb41cd28d82","name":"last_message","value":"={{ $('Postgres Trigger').item.json.payload }}","type":"object"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-420,-440],"id":"4d785d81-9049-447a-8946-f0c2fb182c61","name":"Edit Fields1"},{"parameters":{"inputText":"={{ JSON.stringify($json.data) }}","options":{"categories":"Positive, Neutral, Negative","systemPromptTemplate":"You are a highly intelligent and context-aware sentiment analyzer, specialized in customer interactions for telecommunications services.\n\nYour task is to analyze the sentiment of the full conversation provided, considering the emotional evolution over time. You must:\n\n- DETECT how the sentiment CHANGES throughout the conversation\n- EVALUATE whether frustration builds progressively (e.g., repeated complaints, lack of resolution, tone escalation)\n- PRIORITIZE the FINAL MESSAGE as a potential emotional trigger\n- CATEGORIZE the overall sentiment of the conversation based on its complete flow and timing\n- RETURN only one of the following categories: {{categories}}\n\n###OUTPUT FORMAT###\n\nYou MUST return ONLY a valid JSON object with a single field `sentiment`, using one of the categories in {{categories}}.  \nThe JSON MUST BE IN A SINGLE LINE, WITHOUT LINE BREAKS, COMMENTS, OR FORMATTING.\n\nExample output:\n{{\"sentiment\":\"positive\"}}\n\nDO NOT include any explanation, formatting, or line breaks.","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[20,-420],"id":"690605e7-25cf-43b2-82f4-9acf4d262c7f","name":"Sentiment Analysis1"},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[20,-260],"id":"2a714a15-eea5-4de1-aa1f-e3b52458d803","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}}],"connections":{"Postgres Trigger":{"main":[[{"node":"Query Back Chat","type":"main","index":0}]]},"HTML":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Merge Analisis","type":"main","index":0}]]},"Query Back Chat":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Merge Data Chat":{"main":[[{"node":"Sentiment Analysis1","type":"main","index":0}]]},"Sentiment Analysis":{"main":[[],[],[]]},"AI Analist Negative":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Table Messages":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Merge Analisis":{"main":[[{"node":"Table Messages","type":"main","index":0}]]},"Save Negative":{"main":[[]]},"Llama 70B":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"Llama 70B Negativo":{"ai_languageModel":[[{"node":"AI Analist Negative","type":"ai_languageModel","index":0}]]},"Send Alert":{"main":[[{"node":"Set StandBy","type":"main","index":0}]]},"Check Standby":{"main":[[{"node":"Standby?","type":"main","index":0}]]},"Standby?":{"main":[[{"node":"Do nothing","type":"main","index":0}],[{"node":"Send Testing","type":"main","index":0}]]},"Query Standby Time":{"main":[[{"node":"Time Off","type":"main","index":0}]]},"Time Off":{"main":[[{"node":"Set False Standby","type":"main","index":0}],[{"node":"Do nothing Time Off","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Analist Negative","type":"ai_tool","index":0}]]},"Send Testing":{"main":[[]]},"Edit Fields1":{"main":[[{"node":"Merge Data Chat","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Sentiment Analysis1","type":"ai_languageModel","index":0}]]},"Sentiment Analysis1":{"main":[[],[],[{"node":"AI Analist Negative","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveDataSuccessExecution":"all","saveManualExecutions":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Postgres Trigger":[{"json":{"length":486,"processId":24482,"channel":"n8n_channel_6c859e26_e90f_4500_b8bd_9fe0ababd848","payload":{"id_chat":"3333333333333","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Estoy muy molesto, el servicios no sirve para nada, quiero cancelar, arreglen de inmediato","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152},"name":"notification"}}],"Query Back Chat":[{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Buenos dias\n\n","dateTime":"2025-06-01T02:12:14.180Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Quien está disponible de ifx\n\n","dateTime":"2025-06-01T02:12:19.624Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573156129753@s.whatsapp.net","pushName":"N1 IFX","conversation":"Buenos dias estimado\n\n","dateTime":"2025-06-01T02:12:38.462Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Ing tengo todas las sedes caidas\n\n","dateTime":"2025-06-01T02:12:57.525Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Por qué?\n\n","dateTime":"2025-06-01T02:13:00.984Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Desde hace 45 min\n\n","dateTime":"2025-06-01T02:13:24.929Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573203166543@s.whatsapp.net","pushName":"William Rivera","conversation":"Buenos dias Javier ya estamos revisando danos unos minutos\n\n","dateTime":"2025-06-01T02:13:25.925Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Bajaron los servicios por cancelación?\n\n","dateTime":"2025-06-01T02:13:53.454Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"???\n\n","dateTime":"2025-06-01T02:17:37.231Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573156129753@s.whatsapp.net","pushName":"N1 IFX","conversation":"Estimado ya estamos revisando el origen de la falla\n\n","dateTime":"2025-06-01T02:19:54.705Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Si pero llevan 1 hora en revisión?\n\n","dateTime":"2025-06-01T02:24:11.884Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"@573203166543\n\n","dateTime":"2025-06-01T02:24:33.686Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"????\n\n","dateTime":"2025-06-01T02:25:33.585Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Señores\n\n","dateTime":"2025-06-01T02:25:44.729Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"La afectación es del 100%\n\n","dateTime":"2025-06-01T02:25:57.966Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"@573168749534\n\n","dateTime":"2025-06-01T02:27:33.998Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Ya estoy con ufinet en llamada\n\n","dateTime":"2025-06-01T03:01:14.039Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Ya estamos haciendo la validación de los enlaces\n\n","dateTime":"2025-06-01T03:01:27.904Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"algún avance?\n\n","dateTime":"2025-06-01T03:14:15.913Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Si señor ya están subiendo los enlaces\n\n","dateTime":"2025-06-01T03:14:27.297Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Permíteme por favor unos minutos\n\n","dateTime":"2025-06-01T03:14:33.991Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Por favor\n\n","dateTime":"2025-06-01T03:14:38.818Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Me pide Ufinet que me de unos 15 minutos más ya estamos en esa tarea\n\n","dateTime":"2025-06-01T03:21:52.943Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Javier me confirman que ya están activos\n\n","dateTime":"2025-06-01T03:35:37.839Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Me puedes ayudar a validar por favor\n\n","dateTime":"2025-06-01T03:35:44.399Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","dateTime":"2025-06-01T03:35:57.506Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"5 min\n\n","dateTime":"2025-06-01T03:36:08.211Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"revisando\n\n","dateTime":"2025-06-01T03:36:12.957Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Dale quedo atenta\n\n","dateTime":"2025-06-01T03:36:17.035Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"@573168749534 todo Ok\n\n","dateTime":"2025-06-01T03:47:40.019Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Perfecto Javier\n\n","dateTime":"2025-06-01T03:47:46.605Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"por favor recomendar con Ufinet\n\n","dateTime":"2025-06-01T03:47:48.521Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Ya envié correo yo misma para esto\n\n","dateTime":"2025-06-01T03:48:04.923Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Y la persona que me los activó está enterado\n\n","dateTime":"2025-06-01T03:48:13.818Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Igualmente tenemos como ifx actividades hacer ahora en la mañana que ya están encaminadas\n\n","dateTime":"2025-06-01T03:48:32.994Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Vale, muchas gracias\n\n","dateTime":"2025-06-01T03:49:09.957Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE"}}],"Edit Fields1":[{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Buenos dias\n\n","dateTime":"2025-06-01T02:12:14.180Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"estoy muy molesto","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Quien está disponible de ifx\n\n","dateTime":"2025-06-01T02:12:19.624Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573156129753@s.whatsapp.net","pushName":"N1 IFX","conversation":"Buenos dias estimado\n\n","dateTime":"2025-06-01T02:12:38.462Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Ing tengo todas las sedes caidas\n\n","dateTime":"2025-06-01T02:12:57.525Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Por qué?\n\n","dateTime":"2025-06-01T02:13:00.984Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Desde hace 45 min\n\n","dateTime":"2025-06-01T02:13:24.929Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573203166543@s.whatsapp.net","pushName":"William Rivera","conversation":"Buenos dias Javier ya estamos revisando danos unos minutos\n\n","dateTime":"2025-06-01T02:13:25.925Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Bajaron los servicios por cancelación?\n\n","dateTime":"2025-06-01T02:13:53.454Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"???\n\n","dateTime":"2025-06-01T02:17:37.231Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573156129753@s.whatsapp.net","pushName":"N1 IFX","conversation":"Estimado ya estamos revisando el origen de la falla\n\n","dateTime":"2025-06-01T02:19:54.705Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Si pero llevan 1 hora en revisión?\n\n","dateTime":"2025-06-01T02:24:11.884Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"@573203166543\n\n","dateTime":"2025-06-01T02:24:33.686Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"????\n\n","dateTime":"2025-06-01T02:25:33.585Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Señores\n\n","dateTime":"2025-06-01T02:25:44.729Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"La afectación es del 100%\n\n","dateTime":"2025-06-01T02:25:57.966Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"@573168749534\n\n","dateTime":"2025-06-01T02:27:33.998Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Ya estoy con ufinet en llamada\n\n","dateTime":"2025-06-01T03:01:14.039Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Ya estamos haciendo la validación de los enlaces\n\n","dateTime":"2025-06-01T03:01:27.904Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"algún avance?\n\n","dateTime":"2025-06-01T03:14:15.913Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Si señor ya están subiendo los enlaces\n\n","dateTime":"2025-06-01T03:14:27.297Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Permíteme por favor unos minutos\n\n","dateTime":"2025-06-01T03:14:33.991Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Por favor\n\n","dateTime":"2025-06-01T03:14:38.818Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Me pide Ufinet que me de unos 15 minutos más ya estamos en esa tarea\n\n","dateTime":"2025-06-01T03:21:52.943Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Javier me confirman que ya están activos\n\n","dateTime":"2025-06-01T03:35:37.839Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Me puedes ayudar a validar por favor\n\n","dateTime":"2025-06-01T03:35:44.399Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","dateTime":"2025-06-01T03:35:57.506Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"5 min\n\n","dateTime":"2025-06-01T03:36:08.211Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"revisando\n\n","dateTime":"2025-06-01T03:36:12.957Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Dale quedo atenta\n\n","dateTime":"2025-06-01T03:36:17.035Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"@573168749534 todo Ok\n\n","dateTime":"2025-06-01T03:47:40.019Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Perfecto Javier\n\n","dateTime":"2025-06-01T03:47:46.605Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"por favor recomendar con Ufinet\n\n","dateTime":"2025-06-01T03:47:48.521Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Ya envié correo yo misma para esto\n\n","dateTime":"2025-06-01T03:48:04.923Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Y la persona que me los activó está enterado\n\n","dateTime":"2025-06-01T03:48:13.818Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"Igualmente tenemos como ifx actividades hacer ahora en la mañana que ya están encaminadas\n\n","dateTime":"2025-06-01T03:48:32.994Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}},{"json":{"remoteJid":"573176383757-1599658385@g.us","participant":"573157267179@s.whatsapp.net","pushName":"Javier M León","conversation":"Vale, muchas gracias\n\n","dateTime":"2025-06-01T03:49:09.957Z","sender":"573171057858@s.whatsapp.net","nombrechat":"Emergía - IFX CARE","last_message":{"id_chat":"3A292E358C1D39EECFA7","remoteJid":"573176383757-1599658385@g.us","participant":"573168749534@s.whatsapp.net","pushName":"Alba Lucía Guevara Escobar","conversation":"@573157267179\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-05-31T22:35:57.506-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Emergía - IFX CARE","id":10152}}}]},"versionId":"fb367371-9ee4-45e8-9884-960b56489ffb","triggerCount":1,"tags":[]}