workflowsLive Sentiment V2.json
{"createdAt":"2025-06-01T12:02:13.521Z","updatedAt":"2025-06-04T15:48:28.000Z","id":"GAq9WawFTO7sOQ3F","name":"Live Sentiment V2","active":false,"isArchived":false,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"additionalFields":{},"options":{}},"type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-940,-540],"id":"6c20e325-53ec-4d5d-8a12-21c1c6ca1d03","name":"Postgres Trigger","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1800,-200],"id":"872f9ec9-3084-4d76-b08e-011a3b30896e","name":"HTML"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,-300],"id":"0a789222-5647-418a-a730-0e1a5ee5e500","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM (\n    SELECT      \n        \"remoteJid\",\n        participant,\n        \"pushName\",\n        conversation,\n        \"dateTime\",\n        sender,\n        nombrechat\n    FROM \n        public.messages\n    WHERE \n        \"remoteJid\" = '{{ $('Postgres Trigger').item.json.payload.remoteJid}}'\n        AND \"dateTime\" >= NOW() - INTERVAL '12 hours'\n    ORDER BY \n        \"dateTime\" DESC\n) AS subquery\nORDER BY \"dateTime\" ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-720,-340],"id":"0bf5df69-b660-453a-9baa-0bb5058ae120","name":"Query Back Chat","alwaysOutputData":true,"credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[160,-520],"id":"a3d83c3e-d99b-4a67-bee2-3c1c08e13dc3","name":"Merge Data Chat"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[920,140],"id":"8851d9ca-14dd-4c57-87aa-113f0033897a","name":"AI Analist Negative","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"executeOnce":true,"disabled":true},{"parameters":{},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1572,-195],"id":"73e5055a-51a1-41ed-9f63-34412ff1583f","name":"Table Messages"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1572,-395],"id":"1630af77-f006-44f2-9b04-6f21f9d5d61b","name":"Save Negative","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category.toUpperCase() }}","confianza":"={{ $json.sentimentAnalysis.confidence }}","intensidad":"={{ $json.sentimentAnalysis.strength }}","chat":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[834,-595],"id":"a038533f-646a-4e6a-b8a5-6dc310e73a58","name":"Save Neutral","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2452,-195],"id":"c13b8075-f497-4184-9a7c-83bd560ab4cc","name":"Send Alert","webhookId":"3f197afb-c9a6-422d-baaa-d9b4a4ab826f","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}},"disabled":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2012,-195],"id":"ccaf276b-37e6-4163-afff-3173ccdfa85c","name":"Check Standby","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2232,-195],"id":"e9b75d4d-95ab-4241-86b4-abb77faa52f3","name":"Standby?"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2672,-195],"id":"d1e45de5-c4d0-4fb5-a79a-6130b9ad8ef5","name":"Set StandBy","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    \"remoteJid\",\n    standby,\n    \"updated_at\"\nFROM \n    public.standby\nWHERE \n    \"remoteJid\" = '{{ $json.payload.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-720,-720],"id":"7e8c100e-4797-4b3d-ad08-a64003f708e5","name":"Query Standby Time","alwaysOutputData":true,"credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2452,-395],"id":"b42d6038-dc14-4490-b514-a595fee9016d","name":"Do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81ea6566-446c-4d7b-83b9-64a762e23a92","leftValue":"={{ $json.standby }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"896b6eea-de78-4de6-903f-6203c2144b54","leftValue":"={{ (Date.now() - new Date($json.updated_at).getTime()) < (4 * 60 * 60 * 1000) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-500,-720],"id":"175e3131-0bd1-4a22-beff-b73a159b216c","name":"Time Off"},{"parameters":{"operation":"executeQuery","query":"UPDATE public.standby \nSET \n    standby = false,\n    \"updated_at\" = NOW()\nWHERE \n    \"remoteJid\" = '{{ $('Time Off').item.json.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-280,-820],"id":"09273ea4-126c-4cc8-9bf6-0d00fe0ae626","name":"Set False Standby","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-280,-620],"id":"1c06eef2-56ed-4e5b-9605-eaab15a540b8","name":"Do nothing Time Off"},{"parameters":{"additionalFields":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2452,5],"id":"95e48d8a-cc21-4bbf-8c46-f2aa0348871b","name":"Send Testing","webhookId":"e0ef0804-b516-4d41-85c6-714e89edeca8","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"dcdb679a-21e0-4a37-a0de-1772232036fd","name":"remoteJid","value":"={{ $('Query Back Chat').item.json.remoteJid }}","type":"string"},{"id":"b4e25dc6-d7ea-4316-8c3c-9ad78c5990cb","name":"participant","value":"={{ $('Query Back Chat').item.json.participant }}","type":"string"},{"id":"77b5d2a4-c678-47a2-b97a-4a07f07c7d20","name":"pushName","value":"={{ $('Query Back Chat').item.json.pushName }}","type":"string"},{"id":"143584e3-ce47-40ec-95ca-a49266dcc0e6","name":"conversation","value":"={{ $('Query Back Chat').item.json.conversation }}","type":"string"},{"id":"18d0ea61-8b0a-4409-9f50-f72480a2cd2b","name":"dateTime","value":"={{ $('Query Back Chat').item.json.dateTime }}","type":"string"},{"id":"1bc1fb11-7e8f-47cc-883b-72b16214e881","name":"sender","value":"={{ $('Query Back Chat').item.json.sender }}","type":"string"},{"id":"e04e4148-e574-4a31-b0e0-1218e4158ba9","name":"nombrechat","value":"={{ $('Query Back Chat').item.json.nombrechat }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,-520],"id":"4d785d81-9049-447a-8946-f0c2fb182c61","name":"Edit Fields1"},{"parameters":{"jsCode":"const rawText = $input.first().json.output || '';\nconst cleanText = rawText.replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n\nfunction extractMessages(text) {\n  const messages = [];\n  \n  // Regex para formato - **Pushname**: valor\n  const messageRegex = /- \\*\\*Pushname\\*\\*:\\s*([^\\n]+)\\n\\s*- \\*\\*Hora\\*\\*:\\s*`?([^`\\n]+)`?\\n\\s*- \\*\\*Mensaje\\*\\*:\\s*([^-]*?)(?=\\n- \\*\\*Pushname\\*\\*|$)/g;\n  \n  let match;\n  while ((match = messageRegex.exec(text)) !== null) {\n    messages.push({\n      pushname: match[1].trim(),\n      hora: match[2].trim(),\n      mensaje: match[3].trim()\n    });\n  }\n  \n  return messages;\n}\n\nfunction extractAnalysis(text) {\n  const match = text.match(/## Origen del Sentimiento Negativo\\n([\\s\\S]*?)(?=\\n### Recomendación Preventiva|\\n## Recomendación Preventiva|$)/);\n  let analysis = match ? match[1].trim() : '';\n  \n  // Limpiar markdown del análisis\n  analysis = analysis.replace(/\\\\n/g, '\\n'); // Convertir \\\\n a \\n\n  analysis = analysis.replace(/\\*\\*/g, ''); // Remover **\n  analysis = analysis.replace(/^#+\\s*/gm, ''); // Remover # al inicio de líneas\n  \n  return analysis;\n}\n\nfunction extractRecommendations(text) {\n  const match = text.match(/(?:###|##)\\s*Recomendación Preventiva\\n([\\s\\S]*?)$/);\n  let recommendations = match ? match[1].trim() : '';\n  \n  // Limpiar markdown de las recomendaciones\n  recommendations = recommendations.replace(/\\\\n/g, '\\n'); // Convertir \\\\n a \\n\n  recommendations = recommendations.replace(/\\*\\*/g, ''); // Remover **\n  recommendations = recommendations.replace(/^#+\\s*/gm, ''); // Remover # al inicio de líneas\n  \n  return recommendations;\n}\n\nconst messages = extractMessages(cleanText);\nconst analysis = extractAnalysis(cleanText);\nconst recommendations = extractRecommendations(cleanText);\n\n// Verificar falso positivo\nconst isFalsePositive = (\n  analysis.toLowerCase().includes('no se detecta') && \n  (analysis.toLowerCase().includes('sentimiento negativo') || analysis.toLowerCase().includes('conflicto'))\n) || recommendations.toLowerCase().includes('no se requiere recomendación');\n\nif (isFalsePositive) {\n  return [{\n    json: {\n      resultado: 'falso_positivo',\n      mensaje: 'No se detectó sentimiento negativo real en el contenido',\n      metadata: {\n        procesado_en: new Date().toISOString(),\n        version_parser: '1.7_js_fixed'\n      }\n    }\n  }];\n}\n\nconst output = {\n  resumen: {\n    total_mensajes: messages.length,\n    usuarios_involucrados: [...new Set(messages.map(m => m.pushname))],\n    rango_temporal: {\n      primer_mensaje: messages.length > 0 ? messages[0].hora : null,\n      ultimo_mensaje: messages.length > 0 ? messages[messages.length - 1].hora : null\n    }\n  },\n  mensajes: messages,\n  analisis_sentimiento: {\n    origen: analysis,\n    texto_completo: analysis\n  },\n  recomendaciones_preventivas: {\n    texto: recommendations\n  },\n  metadata: {\n    procesado_en: new Date().toISOString(),\n    version_parser: '1.7_js_fixed'\n  }\n};\n\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,-300],"id":"a4082e90-08d1-4b82-9986-12c4c7144419","name":"Code"},{"parameters":{"inputText":"={{ JSON.stringify($json.data) }}","options":{"categories":"POSITIVE, NEUTRAL, NEGATIVE","systemPromptTemplate":"You are a highly intelligent and context-aware sentiment analyzer, specialized in customer interactions for telecommunications services.\n\nYour task is to analyze the sentiment of the full conversation provided, considering the emotional evolution over time. You must:\n\n- DETECT how the sentiment CHANGES throughout the conversation\n- EVALUATE whether frustration builds progressively (e.g., repeated complaints, lack of resolution, tone escalation)\n- PRIORITIZE the FINAL MESSAGE as a potential emotional trigger\n- CATEGORIZE the overall sentiment of the conversation based on its complete flow and timing\n- RETURN only one of the following categories: {{categories}}\n\n###OUTPUT FORMAT###\n\nYou MUST ALWAYS return ONLY a valid JSON object with a single field \"sentiment\", using EXACTLY ONE of the following values: {{categories}}.\n\nThe JSON MUST BE IN A SINGLE LINE, WITHOUT LINE BREAKS, COMMENTS, OR FORMATTING.\n\nExample output:\n{{\"sentiment\":\"sentiment\"}}\n\nDO NOT include any explanation, formatting, or line breaks.","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[380,-520],"id":"690605e7-25cf-43b2-82f4-9acf4d262c7f","name":"Sentiment Analysis","retryOnFail":true},{"parameters":{"operation":"executeQuery","query":"SELECT nombre_cliente\nFROM equivalencia_chats\nWHERE \"remoteJid\" = '{{ $('Postgres Trigger').first().json.payload.remoteJid }}'\nLIMIT 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-500,-340],"id":"e3cfb078-cc68-402e-b9b0-c8fd002b8ccb","name":"Query Name Cliente","alwaysOutputData":true,"credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category.toUpperCase() }}","confianza":"={{ $json.sentimentAnalysis.confidence }}","intensidad":"={{ $json.sentimentAnalysis.strength }}","chat":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[840,-800],"id":"fd4787b4-fb00-4004-8597-4f8f2404520e","name":"Save Positive","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[360,-320],"id":"2a714a15-eea5-4de1-aa1f-e3b52458d803","name":"Lllama 3.3","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[960,340],"id":"f54bbf21-d8f1-427f-ac9e-0305d56eb263","name":"Llama Negativo","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"675de20f-5cd1-432c-9979-cd0eb79e0751","leftValue":"={{ $json.nombre_cliente }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,-420],"id":"53fb01ae-b442-4a26-aab9-6e469a2f79e4","name":"If"},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT \"remoteJid\", nombrechat\nFROM messages \nWHERE \"remoteJid\" = '{{ $('Postgres Trigger').first().json.payload.remoteJid }}'\nLIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-60,-320],"id":"670c1586-d640-41a5-a644-81bd2f0f9259","name":"Search RemoteJid","alwaysOutputData":true,"executeOnce":true,"credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE equivalencia_chats \nSET \"remoteJid\" = '{{ $('Postgres Trigger').item.json.payload.remoteJid }}',\n    nombre_cliente = '{{ $json.nombrechat }}'\nWHERE REGEXP_REPLACE(\"nombre_del_chat\", '[^\\\\w\\\\s]', '', 'g') ILIKE \n     '%' || REGEXP_REPLACE('{{ $json.nombrechat }}', '[^\\\\w\\\\s]', '', 'g') || '%';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,-240],"id":"e9998d23-b88b-4f94-a73a-5df5d217e17f","name":"Set RemoteJid","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"promptType":"define","text":"={{ $json.data.toJsonString() }}","options":{"systemMessage":"ERES UN AGENTE EXPERTO EN DETECCIÓN DE SENTIMIENTO NEGATIVO Y CONFLICTOS EN CONVERSACIONES DE WHATSAPP EMPRESARIALES. TU TAREA ES IDENTIFICAR QUEJAS, TONO IRÓNICO, MOLESTIA O ESCALADAS, Y RESPONDER CON ANÁLISIS Y RECOMENDACIÓN EN FORMATO MARKDOWN ESTRICTO Y FIJO.\n\n---\n\n###  INSTRUCCIONES\n\n1. ANALIZA LOS ÚLTIMOS 30 MENSAJES + EL MÁS RECIENTE\n2. DETECTA INDICIOS DE:\n\n   * QUEJA, SARCASMO, FRUSTRACIÓN, DESCONFIANZA, PRESIÓN\n3. SI ENCUENTRAS CONFLICTO, DEVUELVE EL SIGUIENTE FORMATO **SIN MODIFICACIONES**\n4. SI NO HAY CONFLICTO, DEVUELVE ÚNICAMENTE EL BLOQUE EXACTO DE `## Análisis` — **NO AÑADAS NINGUNA EXPLICACIÓN**\n\n---\n\n###  FORMATO DE SALIDA (MÁXIMA PRECISIÓN OBLIGATORIA)\n\n **USA ESTE FORMATO EXACTO. NO LO ALTERES. NO CAMBIES NIVELES DE ENCABEZADO. COPIA LA ESTRUCTURA TAL COMO ESTÁ.**\n\n\n## Mensajes Origen del Sentimiento Negativo\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:45`\n  - **Mensaje**: <mensaje relevante>\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:50`\n  - **Mensaje**: <otro mensaje relacionado>\n\n## Origen del Sentimiento Negativo\n<Análisis completo del conflicto, evolución del tono, causas técnicas y emocionales, y actores involucrados.>\n\n## Recomendación Preventiva\n<Recomendación táctica: qué se debió hacer, qué hacer ahora, cómo evitar una escalada mayor. Con tono profesional, claro y diplomático.>\n\n\n---\n\n###  SI NO DETECTAS CONFLICTO O SENTIMIENTO NEGATIVO\n\n **DEVUELVE ÚNICAMENTE EL BLOQUE EXACTO QUE SIGUE — NUNCA AGREGUES JUSTIFICACIONES, ANÁLISIS NI COMENTARIOS EXPLICATIVOS. NO USES OTROS ENCABEZADOS, NO CAMBIES EL FORMATO.**\n\n\n## Análisis\nsin informacion\n\n\nESTA ES LA ÚNICA RESPUESTA PERMITIDA EN CASOS SIN CONFLICTO.\n\n---\n\n###  QUÉ NO HACER\n\n* **NO CAMBIAR LOS ENCABEZADOS NI USAR OTROS NIVELES DE MARKDOWN**\n* **NO USAR `#Pushname` NI `###` NI OTROS FORMATOS**\n* **NO OMITIR EL BLOQUE DE `## Recomendación Preventiva` SI HAY CONFLICTO**\n* **NO ENTREGAR RESPUESTAS FUERA DEL FORMATO MOSTRADO**\n* **NO USAR MESES EN INGLÉS NI FORMATO DE FECHA ANGLOSAJÓN**\n* **NO MENCIONAR EL NOMBRE DEL CLIENTE NI EL NOMBRE DEL CHAT**\n* **NO GENERAR BLOQUES VACÍOS SI DETECTASTE CONFLICTO**\n* **NO GENERES ANÁLISIS EXPLICATIVOS SI NO HAY CONFLICTO**\n* **NO ESCRIBAS FRASES COMO “El mensaje es informativo”, “No se detecta conflicto” u otras justificaciones**\n* **NO INCLUYAS “Recomendación Preventiva” NI CUALQUIER SECCIÓN ADICIONAL SI NO HAY CONFLICTO**\n* **NO DEVUELVAS OTRO ENCABEZADO QUE NO SEA `## Análisis`**\n* **NO CAMBIES “sin informacion” — DEBE IR TAL CUAL EN MINÚSCULA**\n\n---\n\n TU OBJETIVO ES PRODUCIR UN BLOQUE MARKDOWN FIJO, SIN VARIACIONES, CON CONTENIDO CLARO, TÁCTICO Y PROFESIONAL.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[760,-300],"id":"43bbd972-6feb-40f7-b6f5-1a64eb169fc7","name":"AI Analist Negative1","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,-100],"id":"5093a49d-5eaa-4a39-8877-8728ddf20666","name":"Llama 3.1 8B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,260],"id":"aae59c12-602b-46bf-9b17-4e8515f989f5","name":"Code Llama 3.3","disabled":true}],"connections":{"Postgres Trigger":{"main":[[{"node":"Query Back Chat","type":"main","index":0},{"node":"Query Standby Time","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Check Standby","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Table Messages","type":"main","index":0},{"node":"Save Negative","type":"main","index":0}]]},"Query Back Chat":{"main":[[{"node":"Query Name Cliente","type":"main","index":0}]]},"Merge Data Chat":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0}]]},"AI Analist Negative":{"main":[[],[]]},"Table Messages":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Save Negative":{"main":[[]]},"Send Alert":{"main":[[{"node":"Set StandBy","type":"main","index":0}]]},"Check Standby":{"main":[[{"node":"Standby?","type":"main","index":0}]]},"Standby?":{"main":[[{"node":"Do nothing","type":"main","index":0}],[{"node":"Send Testing","type":"main","index":0},{"node":"Send Alert","type":"main","index":0}]]},"Query Standby Time":{"main":[[{"node":"Time Off","type":"main","index":0}]]},"Time Off":{"main":[[{"node":"Set False Standby","type":"main","index":0}],[{"node":"Do nothing Time Off","type":"main","index":0}]]},"Send Testing":{"main":[[]]},"Edit Fields1":{"main":[[{"node":"Merge Data Chat","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Save Positive","type":"main","index":0}],[{"node":"Save Neutral","type":"main","index":0}],[{"node":"AI Analist Negative1","type":"main","index":0}]]},"Query Name Cliente":{"main":[[{"node":"If","type":"main","index":0}]]},"Lllama 3.3":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"Llama Negativo":{"ai_languageModel":[[{"node":"AI Analist Negative","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Search RemoteJid","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Search RemoteJid":{"main":[[{"node":"Set RemoteJid","type":"main","index":0}]]},"Set RemoteJid":{"main":[[{"node":"Query Name Cliente","type":"main","index":0}]]},"Llama 3.1 8B":{"ai_languageModel":[[{"node":"AI Analist Negative1","type":"ai_languageModel","index":0}]]},"AI Analist Negative1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveDataSuccessExecution":"all","saveManualExecutions":true,"executionTimeout":300,"errorWorkflow":"Txht1wrdLAI370JY"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Postgres Trigger":[{"json":{"length":505,"processId":7319,"channel":"n8n_channel_6c20e325_53ec_4d5d_8a12_21c1c6ca1d03","payload":{"id_chat":"3A61CD8F586EBFF6A94D","remoteJid":"120363399217933484@g.us","participant":"50660504021@s.whatsapp.net","pushName":"Cristopher","conversation":"Los conpañeros de la instalacion en CR estaran en camino?\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-06-04T05:03:38.99-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"MULTIMONEY/IFX CR","id":11206},"name":"notification"}}]},"versionId":"5889f1fc-0f18-4ba0-ac42-c054291d4c65","triggerCount":1,"tags":[]}