workflowsParticipantes de Grupos Wapp.json
{"createdAt":"2025-05-31T21:53:26.036Z","updatedAt":"2025-06-01T22:15:48.000Z","id":"f0ojrrzwfxHFfHwr","name":"Participantes de Grupos Wapp","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-20,0],"id":"1d94474e-7a91-49e9-b8ab-ebb7f2bf095c","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"groups-api","operation":"find-participants","instanceName":"whisper_aifx","groupJid":"=120363023147563292@g.us"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[660,20],"id":"a8ea3e87-8d72-450a-b00f-9c28d01ebbb3","name":"Evolution API","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT \"remoteJid\"\nFROM messages;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[200,0],"id":"63f111c9-5e34-4ac5-a52c-bfdfd2159f3f","name":"Postgres","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[420,0],"id":"1e9a65d6-fd64-4acf-9921-938b806b3ccf","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"data.participants","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[900,20],"id":"aa9e0320-8feb-4015-a7c7-591e4a41d59e","name":"Split Out"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1O0WXZVUZfcHz7NBQn3XOOr3QAnvkmT3pwdOByv3EoEU","mode":"list","cachedResultName":"Miembros de Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1O0WXZVUZfcHz7NBQn3XOOr3QAnvkmT3pwdOByv3EoEU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1O0WXZVUZfcHz7NBQn3XOOr3QAnvkmT3pwdOByv3EoEU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Numero":"={{ $json.id }}","Admin?":"={{ $json.admin }}","Nombre":"={{ $json.name }}","id_chat":"={{ $('Loop Over Items').item.json.remoteJid }}"},"matchingColumns":[],"schema":[{"id":"id_chat","displayName":"id_chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Chat","displayName":"Chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Numero","displayName":"Numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Admin?","displayName":"Admin?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1080,20],"id":"d60223e6-c912-49eb-be56-db44b161eefe","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"RAFBPo90gKsl6IpE","name":"API Google FutureBit"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1500,60],"id":"983f3a17-e60b-4e1b-90a9-95ef2440635a","name":"Wait","webhookId":"81cda903-95fb-4c11-abe9-bbe5a8936206"},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"whisper_aifx","searchMethod":"fetchAll","getParticipants":true},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[740,-220],"id":"8424546c-92b7-415d-875f-32cd981fc781","name":"Evolution API1","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[980,-220],"id":"ddafccdd-4751-495e-a091-a567254883fc","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"724aa523-f0ef-4975-9051-e8c99d59114a","name":"data.id","value":"={{ $json.data.id }}","type":"string"},{"id":"e73442af-4c5c-4f27-97d5-e95fdd267227","name":"data.subject","value":"={{ $json.data.subject }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,-220],"id":"a208cd7b-8c38-4bd5-9c4e-6d25463a0344","name":"Edit Fields"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1O0WXZVUZfcHz7NBQn3XOOr3QAnvkmT3pwdOByv3EoEU","mode":"list","cachedResultName":"Miembros de Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1O0WXZVUZfcHz7NBQn3XOOr3QAnvkmT3pwdOByv3EoEU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1O0WXZVUZfcHz7NBQn3XOOr3QAnvkmT3pwdOByv3EoEU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Chat":"={{ $json.data.subject }}","id_chat":"={{ $json.data.id }}"},"matchingColumns":["id_chat"],"schema":[{"id":"id_chat","displayName":"id_chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Chat","displayName":"Chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Numero","displayName":"Numero","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Admin?","displayName":"Admin?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1420,-220],"id":"6f47af4e-ef9c-4167-b694-725732c7feb2","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"RAFBPo90gKsl6IpE","name":"API Google FutureBit"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Evolution API1","type":"main","index":0}],[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c31197ee-a439-48a3-9095-82e23e018e7a","triggerCount":0,"tags":[]}