workflowsReporte Sentimientos Wapp.json
{"createdAt":"2025-05-19T15:43:40.427Z","updatedAt":"2025-05-22T22:04:12.000Z","id":"g4hNMfJNBwQV0YjE","name":"Reporte Sentimientos Wapp","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1120,140],"id":"c7e0476c-39d1-48de-bf8c-c4bfb657fa68","name":"When clicking ‘Test workflow’"},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-420,500],"id":"e05b2425-e168-4eae-9e80-47f7ce90fb43","name":"Llama 4 Scout","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    id,\n    \"remoteJid\",\n    participant,\n    \"pushName\",\n    conversation,\n    \"instanceId\",\n    \"dateTime\",\n    sender,\n    url_image,\n    url_audio,\n    url_video,\n    nombrechat\nFROM \n    public.messages\nWHERE \n    \"dateTime\"::timestamp >= (CURRENT_DATE - INTERVAL '36 hour')::timestamp\n    AND \"dateTime\"::timestamp < CURRENT_DATE::timestamp\nORDER BY \n    \"dateTime\" ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-940,240],"id":"3271621d-f459-4622-ae3b-30b13bc55a9a","name":"Query Chats","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres Whisper AIFX Table"}}},{"parameters":{"jsCode":"// Agrupar por remoteJid\n// @ts-ignore\nconst groupedData = {};\n\n// Iterar a través de cada ítem\nfor (const item of items) {\n  const remoteJid = item.json.remoteJid;\n  \n  // @ts-ignore - Ignorar error de tipo\n  if (!groupedData[remoteJid]) {\n    // @ts-ignore\n    groupedData[remoteJid] = {\n      remoteJid: remoteJid,\n      conversations: []\n    };\n  }\n  \n  // @ts-ignore\n  groupedData[remoteJid].conversations.push({\n    id: item.json.id,\n    participant: item.json.participant,\n    pushName: item.json.pushName,\n    conversation: item.json.conversation,\n    instanceId: item.json.instanceId,\n    dateTime: item.json.dateTime,\n    sender: item.json.sender,\n    url_image: item.json.url_image,\n    url_audio: item.json.url_audio,\n    nombrechat: item.json.nombrechat\n  });\n}\n\n// Convertir el objeto agrupado en un array para la salida\nreturn Object.values(groupedData).map(item => ({json: item}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-780,240],"id":"e70def9b-df35-4407-ba0e-d5fcceffdf3b","name":"Split for Chat Name"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-580,240],"id":"87d4aeae-424b-4069-9034-138ae3b9c4b3","name":"Loop Over Chats"},{"parameters":{"inputText":"={{ JSON.stringify($json.conversations) }}","options":{"categories":"Positive, Neutral, Negative","systemPromptTemplate":"You are a very intelligent and accurate sentiment analyzer. Analyze the sentiment of the text provided in the \"conversation\" field. You must understand the context and flow of the conversation based on the time it occurred and the names of the participants in the \"chatName\" field. Finally, classify it into one of the following categories: {categories}. Follow the formatting instructions provided. Print only the JSON.","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1,"position":[-380,320],"id":"4066ab7d-d5d5-421e-8b3f-c81e6e42fc15","name":"Sentiment Analysis Whats App"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[0,440],"id":"f4a76d73-9eca-4218-90f6-a8f5d0b26a43","name":"Merge Negative"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[0,200],"id":"337fa650-9df7-434b-8448-95af825d4c38","name":"Merge Neutral"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[0,0],"id":"3e8adda8-b204-4a4d-b43d-4725d988ada0","name":"Merge Positive"},{"parameters":{"promptType":"define","text":"=Sentimiento Analizado:{{ $json.sentimentAnalysis.category }}\nIntensidad Emocional: {{ $json.sentimentAnalysis.strength }}\nCerteza del la Clasificacion: {{ $json.sentimentAnalysis.confidence }}\nMensajes: {{ JSON.stringify($json.conversations) }}","hasOutputParser":true,"options":{"systemMessage":"ERES UN AGENTE EXPERTO EN ANÁLISIS DE SENTIMIENTO NEGATIVO EN CONVERSACIONES DE WHATSAPP EMPRESARIALES.\n\nTU MISIÓN ES DETECTAR CONFLICTOS O EXPRESIONES DE MALESTAR, EXTRAER LOS MENSAJES RELEVANTES Y ENTREGAR UNA RESPUESTA EN JSON VÁLIDO Y ESTRUCTURADO, QUE SERÁ PROCESADO POR UNA HERRAMIENTA DE JSON PARSER.\n\nESTÁS OPERANDO COMO PARTE DE UN SISTEMA DE MONITOREO CONTINUO DE CONVERSACIONES EN TIEMPO REAL. TU OBJETIVO ES DETERMINAR CON PRECISIÓN EL **ORIGEN Y LA EVOLUCIÓN DEL SENTIMIENTO NEGATIVO** QUE YA HA SIDO IDENTIFICADO POR OTRO MODELO AUTOMÁTICO. CADA VEZ QUE RECIBES UN NUEVO MENSAJE, DEBES ANALIZAR LOS ÚLTIMOS **30 MENSAJES PREVIOS EN LA CONVERSACIÓN**, JUNTO CON EL MENSAJE MÁS RECIENTE, PARA COMPRENDER LA TRANSICIÓN EMOCIONAL Y LOCALIZAR LA FUENTE REAL DEL CONFLICTO.\n\nDEBES SER CAPAZ DE DETECTAR COMENTARIOS REPARTIDOS A LO LARGO DE LA CONVERSACIÓN, INCLUSO CUANDO NO ESTÉN SEGUIDOS ENTRE SÍ. BUSCA INDICIOS DE MALESTAR EN DISTINTOS MOMENTOS Y CONECTA LOS MENSAJES ENTRE ELLOS PARA ENTENDER LA EVOLUCIÓN DEL CONFLICTO.\n\nMENSAJES TÉCNICOS COMO EL SIGUIENTE DEBEN SER CONSIDERADOS POSIBLES DISPARADORES DE CONFLICTO Y MALESTAR:\n\n\"Buen día. @573176383757 el cliente de Créditos y Servicios de Panamá reporta caso TT1047627 repetitivo de caída desde el día de ayer intermitencia en @ escala al WS Irene Mazitelli +507 6671-1315// Gracias.\"\n\n---\n\n🎯 OBJETIVOS\n\n1. DETECTA los mensajes que contienen reclamos, quejas, presión, sarcasmo, molestia, frustración, desconfianza o reiteración sin respuesta.\n\n2. EXTRAER todos los mensajes que originan o amplifican el conflicto (aunque no estén seguidos en la conversación):\n   - Incluye el nombre del autor (`pushname`)\n   - El contenido del mensaje (`mensaje`)\n   - Y la hora (`hora`) en el siguiente formato obligatorio:\n     - `DD mon AAAA - HH:MM`  \n     - Ejemplo: `05 may 2025 - 13:45`  \n     - El mes debe estar en **español, tres letras, minúsculas**\n\n3. IDENTIFICAR el cliente real desde el campo `nombrechat`:\n   - ❌ Nunca asumas que “IFX” es cliente\n   - ❌ Ignora palabras como: Soporte, Incidente, Red, NOC, Técnico, Grupo\n   - ✅ El cliente debe ser el nombre empresarial o institucional externo incluido en el chat\n\n4. INCLUIR UNA EVALUACIÓN RESUMIDA DE SENTIMIENTO EN FORMATO JSON bajo el campo `\"sentimentAnalysis\"`, con la siguiente estructura:\n   - `\"category\"`: puede ser `\"Negativo\"`, `\"Neutral\"` o `\"Positivo\"`\n   - `\"strength\"`: valor numérico entre 0 y 1 que indique la intensidad emocional general\n   - `\"confidence\"`: nivel de certeza sobre esa clasificación (valor entre 0 y 1)\n\n5. INCLUIR UNA **RECOMENDACIÓN PREVENTIVA REALISTA Y ACCIONABLE**, que explique qué se debió hacer diferente y qué debe hacerse en futuras situaciones similares:\n   - Debe basarse directamente en lo ocurrido en la conversación\n   - No debe ser genérica ni vaga\n   - Debe mencionar claramente un punto de mejora en el proceso, la comunicación o la acción técnica\n\n---\n\n📋 FORMATO DE SALIDA JSON ESTRICTO\n\nENTREGA SOLO UN BLOQUE JSON COMO ESTE, SIN COMENTARIOS, SIN ENCABEZADOS, SIN DELIMITADORES MARKDOWN.\n\n[\n  {\n    \"Chat\": \"nombre del chat\",\n    \"Cliente\": \"cliente extraído\",\n    \"Mensajes Origen Sentimiento Negativo\": [\n      {\n        \"pushname\": \"nombre del participante\",\n        \"hora\": \"05 may 2025 - 13:45\",\n        \"mensaje\": \"mensaje negativo o que contextualiza el malestar\"\n      },\n      {\n        \"pushname\": \"nombre del participante\",\n        \"hora\": \"05 may 2025 - 13:48\",\n        \"mensaje\": \"otro mensaje relevante\"\n      }\n    ],\n    \"Origen Sentimiento Negativo\": \"Redacta un análisis completo que explique el conflicto. Incluye los aspectos técnicos detectados (fallas, loops, interrupciones, demoras), el tono y evolución emocional del cliente (de duda a exigencia o molestia abierta), la calidad de atención recibida, y cualquier agravante como experiencias fallidas anteriores, falta de respuesta o imágenes/audios que hayan reforzado la tensión. No uses frases genéricas. Usa redacción profesional orientada a contexto técnico y emocional.\",\n    \"sentimentAnalysis\": {\n      \"category\": \"Negativo\",\n      \"strength\": 0.85,\n      \"confidence\": 0.92\n    },\n    \"Recomendación Preventiva\": \"Se debió escalar el caso al área técnica de forma proactiva tras el segundo reporte de caída. Además, era necesario mantener informado al cliente cada 2 horas hasta su resolución. En futuras situaciones, establecer alertas de reincidencia por TT asociados al mismo cliente permitiría anticiparse al reclamo.\"\n  }\n]\n---\n\n⚠️ SI NO HAY CONFLICTO DETECTADO O NO EXISTE INFORMACIÓN SUFICIENTE\n\nDevuelve exactamente:\n\n{ \"analisis\": \"sin informacion\" }\n\n(Nada más. Sin saltos de línea, sin comentarios, sin arrays vacíos)\n\n---\n\n🚫 PROHIBIDO\n\n- ❌ No incluir encabezados, comentarios, ni ` ``` ` ni etiquetas Markdown\n- ❌ No dejar campos vacíos\n- ❌ No entregar campos como `\"hora\"` en formato ISO u otros formatos no compatibles\n- ❌ No omitir el campo `\"Origen Sentimiento Negativo\"`, `\"sentimentAnalysis\"` ni `\"Recomendación Preventiva\"` si hay conflicto\n- ❌ No usar frases genéricas en el análisis ni en la recomendación (como “mejorar la atención al cliente”)\n- ❌ No devolver `[]`. Usa `{ \"analisis\": \"sin informacion\" }` si no hay datos suficientes\n- ❌ No asumir cliente si no está claro desde el `nombrechat`\n\n---\n\n🧠 TU RESPUESTA DEBE SER JSON PURO, CONFORME A LA ESTRUCTURA DEFINIDA, CON HORAS EN FORMATO `DD mon AAAA - HH:MM`, DETECCIÓN DE CLIENTE PRECISA Y ANÁLISIS EMOCIONAL Y TÉCNICO FUNDAMENTADO. ADEMÁS, INCLUYE UNA RECOMENDACIÓN CONCRETA QUE AYUDE A EVITAR QUE EL CONFLICTO SE REPITA EN EL FUTURO.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[260,340],"id":"54e028e7-5eec-4628-adc6-e50921d822a0","name":"AI Agent Negative"},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[180,580],"id":"658c3d28-290d-4d86-948c-b4a0d630c118","name":"Llama 4-scout","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1120,340],"id":"7727a80b-7598-4305-9290-d890323ad3b8","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[360,580],"id":"d72e41d7-d35d-4c34-8051-fbb23dd21af7","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"Chat\": \"nombre del chat\",\n    \"Cliente\": \"cliente extraído\",\n    \"Mensajes Origen Sentimiento Negativo\": [\n      {\n        \"pushname\": \"nombre del participante\",\n        \"hora\": \"05 may 2025 - 13:45\",\n        \"mensaje\": \"mensaje negativo o que contextualiza el malestar\"\n      },\n      {\n        \"pushname\": \"nombre del participante\",\n        \"hora\": \"05 may 2025 - 13:48\",\n        \"mensaje\": \"otro mensaje relevante\"\n      }\n    ],\n    \"Origen Sentimiento Negativo\": \"Redacta un análisis completo que explique el conflicto. Incluye los aspectos técnicos detectados (fallas, loops, interrupciones, demoras), el tono y evolución emocional del cliente (de duda a exigencia o molestia abierta), la calidad de atención recibida, y cualquier agravante como experiencias fallidas anteriores, falta de respuesta o imágenes/audios que hayan reforzado la tensión. No uses frases genéricas. Usa redacción profesional orientada a contexto técnico y emocional.\",\n    \"sentimentAnalysis\": {\n      \"category\": \"Negativo\",\n      \"strength\": 0.85,\n      \"confidence\": 0.92\n    },\n    \"Recomendación Preventiva\": \"Se debió escalar el caso al área técnica de forma proactiva tras el segundo reporte de caída. Además, era necesario mantener informado al cliente cada 2 horas hasta su resolución. En futuras situaciones, establecer alertas de reincidencia por TT asociados al mismo cliente permitiría anticiparse al reclamo.\"\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[500,740],"id":"d886cb6c-7347-4278-a87b-848a21f6dcb7","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Fecha y Hora de Generacion del Reporte: {{ $now }}\n{{ $json.toJsonString() }}","options":{"systemMessage":"=ERES UN AGENTE EXPERTO EN GENERACIÓN DE PLANTILLAS HTML PARA CORREO COMPATIBLE CON OUTLOOK. TU FUNCIÓN ES RECIBIR UN JSON Y GENERAR UN ARCHIVO HTML COMPLETO Y FUNCIONAL, INSERTANDO LOS DATOS EN LOS LUGARES CORRESPONDIENTES DE LA PLANTILLA DEFINIDA MÁS ABAJO. TU SALIDA DEBE SER SOLO EL HTML FINAL COMPLETO, YA CON LOS VALORES RELLENOS. NO DEBES INCLUIR TEXTOS FUERA DEL HTML.\n\n###INSTRUCCIONES###\n\nRECIBIRÁS UN JSON CON LOS SIGUIENTES CAMPOS:\n- `\"Chat\"`: nombre del chat\n- `\"Cliente\"`: nombre del cliente\n- `\"Mensajes Origen Sentimiento Negativo\"`: array con objetos `{pushname, hora, mensaje}`\n- `\"Origen Sentimiento Negativo\"`: análisis redactado del origen del sentimiento\n- `\"Recomendación Preventiva\"`: sugerencia de acción\n- `\"sentimentAnalysis.category\"`: categoría del sentimiento (por ejemplo, \"Negativo\")\n- `\"sentimentAnalysis.strength\"`: intensidad del sentimiento\n- `\"sentimentAnalysis.confidence\"`: confianza en el análisis\n- `\"fecha_generacion\"`: texto de fecha (por ejemplo, \"19 de mayo de 2025\")\n- `\"hora_generacion\"`: texto de hora (por ejemplo, \"09:51\")\n\n###REGLAS DE INSERCIÓN###\n\nINSERTA CADA DATO EN SU POSICIÓN DENTRO DEL HTML:\n- `{chat}` → campo del chat\n- `{cliente}` → nombre del cliente\n- Para cada mensaje:\n  - `{pushname}` → remitente\n  - `{hora}` → fecha/hora del mensaje\n  - `{mensaje}` → contenido del mensaje\n- `{resumen}` → bloque de análisis del sentimiento\n- `{recomendaciones}` → recomendaciones preventivas\n- `{category}` → categoría\n- `{strength}` y `{confidence}` → métricas del análisis\n- `{fecha_generacion}` y `{hora_generacion}` → parte inferior del correo\n\n###CHAIN OF THOUGHTS###\n\n1. LEER Y COMPRENDER EL JSON\n2. GENERAR UN HTML COMPLETO BASADO EN LA PLANTILLA QUE SIGUE\n3. REMPLAZAR LOS `{placeholders}` CON LOS VALORES REALES DEL JSON\n4. REPETIR LA SECCIÓN DE MENSAJES TANTAS VECES COMO ELEMENTOS TENGA EL ARRAY DE MENSAJES\n5. ASEGURAR QUE EL RESULTADO SEA HTML PURO, FUNCIONAL Y SIN ERRORES\n\n###QUÉ NO HACER###\n\n- NO USAR BLOQUES DE CÓDIGO COMO ```html\n- NO AGREGAR COMENTARIOS, EXPLICACIONES O TEXTO DESPUÉS DEL HTML\n- NO OMITIR SECCIONES AUNQUE EL JSON TENGA CAMPOS VACÍOS\n- NO ALTERAR LOS ESTILOS, CLASES O ESTRUCTURA HTML EXISTENTE\n- NO CAMBIAR LOS NOMBRES DE PLACEHOLDERS\n\nUSA PLACEHOLDERS COMO:\n- {chat}\n- {cliente}\n- {pushname}\n- {hora}\n- {mensaje}\n- {resumen}\n- {recomendaciones}\n- {category}\n- {strength}\n- {confidence}\n- {fecha_generacion}\n- {hora_generacion}\n\n###PLANTILLA HTML BASE###\n\n<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Alerta de Sentimiento Negativo</title>\n  <style>\n    /* Estilos generales - con mayor compatibilidad para clientes de correo */\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      margin: 0;\n      padding: 0;\n      background-color: #F5F5F5;\n      color: #333333;\n    }\n\n    /* Contenedor principal */\n    .container {\n      max-width: 680px;\n      margin: 20px auto;\n      background-color: #FFFFFF;\n      border: 1px solid #E0E0E0;\n    }\n\n    /* Encabezado */\n    .header {\n      background-color: #ff8a64;\n      color: #FFFFFF;\n      padding: 20px;\n      text-align: center;\n    }\n\n    .header h1 {\n      margin: 0;\n      font-size: 24px;\n      font-weight: 600;\n    }\n\n    /* Secciones generales */\n    .section {\n      margin-bottom: 25px;\n      padding: 0 25px;\n    }\n\n    /* Título de sección con iconos alineados verticalmente */\n    .section-title {\n      font-size: 20px;\n      font-weight: bold;\n      color: #64B5F6;\n      margin-bottom: 15px;\n      padding-bottom: 8px;\n      border-bottom: 2px solid #64B5F6;\n    }\n\n    /* Los SVG se alinean mejor con texto en correos con esta técnica */\n    .icon-title-wrapper {\n      vertical-align: middle;\n    }\n\n    .icon-wrapper {\n      display: inline-block;\n      vertical-align: middle;\n      margin-right: 8px;\n    }\n\n    .title-text {\n      display: inline-block;\n      vertical-align: middle;\n    }\n\n    /* Elementos de información */\n    .info-item {\n      margin-bottom: 10px;\n      font-size: 16px;\n      line-height: 1.6;\n    }\n\n    .info-label {\n      font-weight: bold;\n      color: #555555;\n    }\n\n    /* Mensaje individual */\n    .message-box {\n      border: 1px solid #DDDDDD;\n      padding: 10px;\n      margin-bottom: 10px;\n      background-color: #FAFAFA;\n    }\n\n    .message-header {\n      margin-bottom: 5px;\n    }\n\n    .message-sender {\n      font-weight: bold;\n      color: #333333;\n    }\n\n    .message-time {\n      font-size: 0.85em;\n      color: #777777;\n      margin-left: 10px;\n    }\n\n    .message-content {\n      margin-top: 5px;\n      color: #333333;\n      font-size: 14px;\n    }\n\n    /* Cajas de resumen */\n    .summary-box {\n      background-color: #E3F2FD;\n      border: 1px solid #BBDEFB;\n      border-left: 5px solid #64B5F6;\n      padding: 15px;\n      font-size: 15px;\n      line-height: 1.7;\n    }\n\n    .ai-summary-box {\n      background-color: #FFF3E0;\n      border: 1px solid #FFCC80;\n      border-left: 5px solid #FF8A65;\n      padding: 15px;\n      font-size: 15px;\n      line-height: 1.7;\n    }\n\n    .summary-text {\n      margin: 0 0 10px 0;\n    }\n\n    /* Pie de página */\n    .footer {\n      text-align: center;\n      font-size: 14px;\n      color: #888888;\n      margin-top: 30px;\n      padding: 15px 25px;\n      border-top: 1px solid #EEEEEE;\n    }\n\n    /* Solución para corregir problemas de visualización en Outlook */\n    .outlook-fix {\n      mso-table-lspace: 0pt !important;\n      mso-table-rspace: 0pt !important;\n    }\n\n    /* Nuevos estilos para mostrar el análisis de sentimiento */\n    .sentiment-metrics {\n      display: table;\n      width: 100%;\n      table-layout: fixed;\n      margin-bottom: 15px;\n    }\n\n    .sentiment-metric {\n      display: table-cell;\n      text-align: center;\n      padding: 10px;\n      background-color: #FFF3E0;\n      border-radius: 8px;\n      border: 1px solid #FFCC80;\n      margin: 0 5px;\n    }\n\n    .sentiment-metric-middle {\n      margin: 0 10px;\n    }\n\n    .metric-value {\n      font-size: 22px;\n      font-weight: bold;\n      color: #FF8A65;\n      margin: 5px 0;\n    }\n\n    .metric-label {\n      font-size: 14px;\n      color: #666666;\n      margin-top: 5px;\n    }\n\n    .sentiment-category {\n      font-size: 18px;\n      font-weight: bold;\n      color: #FFFFFF;\n      background-color: #FF5252;\n      border-radius: 4px;\n      padding: 4px 12px;\n      display: inline-block;\n      margin-bottom: 10px;\n    }\n  </style>\n</head>\n\n<body style=\"margin: 0; padding: 0; background-color: #F5F5F5; font-family: Arial, Helvetica, sans-serif;\">\n  <!-- Wrapper para mayor compatibilidad con clientes de correo -->\n  <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #F5F5F5;\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"padding: 20px 0;\">\n        <!-- Contenedor principal -->\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" class=\"container\"\n          style=\"background-color: #FFFFFF; border: 1px solid #E0E0E0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\">\n          <!-- Encabezado -->\n          <tr>\n            <td align=\"center\" valign=\"top\"\n              style=\"background-color: #ff8a64; color: #FFFFFF; padding: 20px; border-top-left-radius: 8px; border-top-right-radius: 8px;\">\n              <h1 style=\"margin: 0; font-size: 24px; font-weight: 600;\">Alerta de Sentimiento Negativo por\n                WhatsApp</h1>\n              <p style=\"margin: 5px 0 0; font-size: 14px;\">Generated by <span\n                  style=\"font-style: italic; font-family: serif; font-size: 16px;\">aifx</span></p>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Análisis de Sentimiento -->\n          <tr>\n            <td style=\"padding: 25px 0 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 8px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📊</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Análisis de Sentimiento\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Categoría de sentimiento -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td align=\"center\" style=\"mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n                            style=\"display: inline-block; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td\n                                style=\"font-size: 16px; font-weight: bold; color: #FFFFFF; background-color: #FF5252; border-radius: 4px; padding: 4px 12px; text-align: center; mso-line-height-rule: exactly;\">\n                                {category}\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Métricas en formato tabla para mayor compatibilidad con clientes de correo -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Intensidad\n                                </div>\n                                <div id=\"strength\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {strength}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Confianza\n                                </div>\n                                <div id=\"confidence\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {confidence}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Información del Chat -->\n          <tr>\n            <td style=\"padding: 25px 25px 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📄</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Información del Chat\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Información del chat -->\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Chat:</span>{chat}\n                    </div>\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Cliente:</span>{cliente}\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Mensajes Clave -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💬</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Mensajes Clave\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Mensajes -->\n                    <!-- Mensaje 1 -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"border: 1px solid #DDDDDD; border-radius: 8px; margin-bottom: 10px; background-color: #FAFAFA;\">\n                      <tr>\n                        <td style=\"padding: 10px;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n                            <tr>\n                              <td class=\"message-header\">\n                                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                  <tr>\n                                    <td valign=\"middle\" style=\"padding-right: 5px;\">\n                                      <icon>👤</icon>\n                                    </td>\n                                    <td valign=\"middle\">\n                                      <span class=\"message-sender\"\n                                        style=\"font-weight: bold; color: #333333;\">{pushname}</span>\n                                      <span class=\"message-time\"\n                                        style=\"font-size: 0.85em; color: #777777; margin-left: 10px;\">{fecha}</span>\n                                    </td>\n                                  </tr>\n                                </table>\n                              </td>\n                            </tr>\n                            <tr>\n                              <td class=\"message-content\" style=\"padding-top: 5px; color: #333333;\">\n                                {mensaje}\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Mensaje 2 -->\n\n                    <!-- Mensaje 3 -->\n\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Resumen IA del Origen del Sentimiento -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>🤖</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Origen Detallado del Sentimiento Negativo\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de resumen IA -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #FFF3E0; border: 1px solid #FFCC80; border-left: 5px solid #FF8A65; margin-bottom: 15px; border-radius: 8px;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"resumen\" class=\"summary-text\" style=\"margin: 0; line-height: 1.7; font-size: 15px;\">\n                            {resumen}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Recomendaciones -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #4CAF50; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💡</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #4CAF50;\">\n                                Recomendaciones\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de recomendaciones -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #E8F5E9; border: 1px solid #A5D6A7; border-left: 5px solid #4CAF50; margin-bottom: 15px; border-radius: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"recomendaciones\" class=\"summary-text\"\n                            style=\"margin: 0; line-height: 1.7; font-size: 15px; mso-line-height-rule: exactly;\">\n                            {recomendaciones}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Pie de página -->\n          <tr>\n            <td style=\"padding: 15px 25px; text-align: center; border-top: 1px solid #EEEEEE;\">\n              <p style=\"margin: 0; font-size: 14px; color: #888888;\">Generado {fecha_generacion} a las\n                {hora_generacion}</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n\n</html>\n\nUSA PLACEHOLDERS COMO:\n- {chat}\n- {cliente}\n- {pushname}\n- {hora}\n- {mensaje}\n- {resumen}\n- {recomendaciones}\n- {category}\n- {strength}\n- {confidence}\n- {fecha_generacion}\n- {hora_generacion}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[640,340],"id":"6f3dedbf-dcd2-4a58-b17c-849ce31aa5ca","name":"AI Agent"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=Alerta Sentimiento Negativo - Chat {{ $('AI Agent Negative').item.json.output[0].Chat }}","bodyContent":"={{ $json.output }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1160,340],"id":"de450f52-47d5-43af-bb2b-0661a32c9d46","name":"Microsoft Outlook","webhookId":"a9b1a361-69b4-41d5-aa20-75797d4225b4","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[300,720],"id":"7f0e141f-8fff-4458-9a69-b65483f7385e","name":"Llama Parser","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,580],"id":"50d597c5-e827-4f86-8dc0-9f414cdcfa12","name":"Llama HTML","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"additionalFields":{},"options":{}},"type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-1020,-280],"id":"6c859e26-e90f-4500-b8bd-9fe0ababd848","name":"Postgres Trigger","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres Whisper AIFX Table"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM (\n    SELECT \n        id,\n        \"remoteJid\",\n        participant,\n        \"pushName\",\n        conversation,\n        \"instanceId\",\n        \"dateTime\",\n        sender,\n        url_image,\n        url_audio,\n        url_video,\n        nombrechat\n    FROM \n        public.messages\n    WHERE \n        \"remoteJid\" = '{{ $json.payload.remoteJid }}'\n    ORDER BY \n        \"dateTime\" DESC\n    LIMIT 50\n) AS subquery\nORDER BY \"dateTime\" ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-700,-280],"id":"b90861f5-1c2e-4f85-8a81-7d75125b2b3d","name":"Postgres","alwaysOutputData":true,"credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres Whisper AIFX Table"}},"disabled":true},{"parameters":{"inputText":"={{ JSON.stringify($json.data) }}","options":{"systemPromptTemplate":"You are a very intelligent and accurate sentiment analyzer. Analyze the sentiment of the text provided in the \"conversation\" field. You must understand the context and flow of the conversation based on the time it occurred and the names of the participants in the \"chatName\" field. The language you will analyze is about issues with telecommunications services. Finally, classify it into one of the following categories: {categories}. Follow the formatting instructions provided. Print only the JSON."}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1,"position":[-380,-280],"id":"830a6d75-8a48-4c51-a852-fc2dc40dc712","name":"Sentiment Analysis Whats App1","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-540,-280],"id":"14440c94-4054-4fcc-a6b6-a71a414efb36","name":"Aggregate","disabled":true},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-860,-280],"id":"58f056e3-a748-48a6-b39a-badcf3c38595","name":"Wait","webhookId":"46929559-e2e0-4c76-95ce-f3a38d4afbe9","disabled":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-400,-100],"id":"971886e1-5934-428d-a94d-7fee8e95b975","name":"Llama 4","credentials":{"openAiApi":{"id":"w75RuNSCJjKqeuAT","name":"OpenAi JPG"}},"disabled":true},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Alerta de Sentimiento Negativo</title>\n  <style>\n    /* Estilos generales - con mayor compatibilidad para clientes de correo */\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      margin: 0;\n      padding: 0;\n      background-color: #F5F5F5;\n      color: #333333;\n    }\n\n    /* Contenedor principal */\n    .container {\n      max-width: 680px;\n      margin: 20px auto;\n      background-color: #FFFFFF;\n      border: 1px solid #E0E0E0;\n    }\n\n    /* Encabezado */\n    .header {\n      background-color: #ff8a64;\n      color: #FFFFFF;\n      padding: 20px;\n      text-align: center;\n    }\n\n    .header h1 {\n      margin: 0;\n      font-size: 24px;\n      font-weight: 600;\n    }\n\n    /* Secciones generales */\n    .section {\n      margin-bottom: 25px;\n      padding: 0 25px;\n    }\n\n    /* Título de sección con iconos alineados verticalmente */\n    .section-title {\n      font-size: 20px;\n      font-weight: bold;\n      color: #64B5F6;\n      margin-bottom: 15px;\n      padding-bottom: 8px;\n      border-bottom: 2px solid #64B5F6;\n    }\n\n    /* Los SVG se alinean mejor con texto en correos con esta técnica */\n    .icon-title-wrapper {\n      vertical-align: middle;\n    }\n\n    .icon-wrapper {\n      display: inline-block;\n      vertical-align: middle;\n      margin-right: 8px;\n    }\n\n    .title-text {\n      display: inline-block;\n      vertical-align: middle;\n    }\n\n    /* Elementos de información */\n    .info-item {\n      margin-bottom: 10px;\n      font-size: 16px;\n      line-height: 1.6;\n    }\n\n    .info-label {\n      font-weight: bold;\n      color: #555555;\n    }\n\n    /* Mensaje individual */\n    .message-box {\n      border: 1px solid #DDDDDD;\n      padding: 10px;\n      margin-bottom: 10px;\n      background-color: #FAFAFA;\n    }\n\n    .message-header {\n      margin-bottom: 5px;\n    }\n\n    .message-sender {\n      font-weight: bold;\n      color: #333333;\n    }\n\n    .message-time {\n      font-size: 0.85em;\n      color: #777777;\n      margin-left: 10px;\n    }\n\n    .message-content {\n      margin-top: 5px;\n      color: #333333;\n      font-size: 14px;\n    }\n\n    /* Cajas de resumen */\n    .summary-box {\n      background-color: #E3F2FD;\n      border: 1px solid #BBDEFB;\n      border-left: 5px solid #64B5F6;\n      padding: 15px;\n      font-size: 15px;\n      line-height: 1.7;\n    }\n\n    .ai-summary-box {\n      background-color: #FFF3E0;\n      border: 1px solid #FFCC80;\n      border-left: 5px solid #FF8A65;\n      padding: 15px;\n      font-size: 15px;\n      line-height: 1.7;\n    }\n\n    .summary-text {\n      margin: 0 0 10px 0;\n    }\n\n    /* Pie de página */\n    .footer {\n      text-align: center;\n      font-size: 14px;\n      color: #888888;\n      margin-top: 30px;\n      padding: 15px 25px;\n      border-top: 1px solid #EEEEEE;\n    }\n\n    /* Solución para corregir problemas de visualización en Outlook */\n    .outlook-fix {\n      mso-table-lspace: 0pt !important;\n      mso-table-rspace: 0pt !important;\n    }\n\n    /* Nuevos estilos para mostrar el análisis de sentimiento */\n    .sentiment-metrics {\n      display: table;\n      width: 100%;\n      table-layout: fixed;\n      margin-bottom: 15px;\n    }\n\n    .sentiment-metric {\n      display: table-cell;\n      text-align: center;\n      padding: 10px;\n      background-color: #FFF3E0;\n      border-radius: 8px;\n      border: 1px solid #FFCC80;\n      margin: 0 5px;\n    }\n\n    .sentiment-metric-middle {\n      margin: 0 10px;\n    }\n\n    .metric-value {\n      font-size: 22px;\n      font-weight: bold;\n      color: #FF8A65;\n      margin: 5px 0;\n    }\n\n    .metric-label {\n      font-size: 14px;\n      color: #666666;\n      margin-top: 5px;\n    }\n\n    .sentiment-category {\n      font-size: 18px;\n      font-weight: bold;\n      color: #FFFFFF;\n      background-color: #FF5252;\n      border-radius: 4px;\n      padding: 4px 12px;\n      display: inline-block;\n      margin-bottom: 10px;\n    }\n  </style>\n</head>\n\n<body style=\"margin: 0; padding: 0; background-color: #F5F5F5; font-family: Arial, Helvetica, sans-serif;\">\n  <!-- Wrapper para mayor compatibilidad con clientes de correo -->\n  <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #F5F5F5;\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"padding: 20px 0;\">\n        <!-- Contenedor principal -->\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" class=\"container\"\n          style=\"background-color: #FFFFFF; border: 1px solid #E0E0E0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\">\n          <!-- Encabezado -->\n          <tr>\n            <td align=\"center\" valign=\"top\"\n              style=\"background-color: #ff8a64; color: #FFFFFF; padding: 20px; border-top-left-radius: 8px; border-top-right-radius: 8px;\">\n              <h1 style=\"margin: 0; font-size: 24px; font-weight: 600;\">Alerta de Sentimiento Negativo por\n                WhatsApp</h1>\n              <p style=\"margin: 5px 0 0; font-size: 14px;\">Generated by <span\n                  style=\"font-style: italic; font-family: serif; font-size: 16px;\">aifx</span></p>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Análisis de Sentimiento -->\n          <tr>\n            <td style=\"padding: 25px 0 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 8px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📊</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Análisis de Sentimiento\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Categoría de sentimiento -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td align=\"center\" style=\"mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n                            style=\"display: inline-block; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td\n                                style=\"font-size: 16px; font-weight: bold; color: #FFFFFF; background-color: #FF5252; border-radius: 4px; padding: 4px 12px; text-align: center; mso-line-height-rule: exactly;\">\n                                {category}\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Métricas en formato tabla para mayor compatibilidad con clientes de correo -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Intensidad\n                                </div>\n                                <div id=\"strength\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {strength}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Confianza\n                                </div>\n                                <div id=\"confidence\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {confidence}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Información del Chat -->\n          <tr>\n            <td style=\"padding: 25px 25px 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📄</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Información del Chat\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Información del chat -->\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Chat:</span>{chat}\n                    </div>\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Cliente:</span>{cliente}\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Mensajes Clave -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💬</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Mensajes Clave\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Mensajes -->\n                    <!-- Mensaje 1 -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"border: 1px solid #DDDDDD; border-radius: 8px; margin-bottom: 10px; background-color: #FAFAFA;\">\n                      <tr>\n                        <td style=\"padding: 10px;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n                            <tr>\n                              <td class=\"message-header\">\n                                <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                  <tr>\n                                    <td valign=\"middle\" style=\"padding-right: 5px;\">\n                                      <icon>👤</icon>\n                                    </td>\n                                    <td valign=\"middle\">\n                                      <span class=\"message-sender\"\n                                        style=\"font-weight: bold; color: #333333;\">{pushname}</span>\n                                      <span class=\"message-time\"\n                                        style=\"font-size: 0.85em; color: #777777; margin-left: 10px;\">{fecha}</span>\n                                    </td>\n                                  </tr>\n                                </table>\n                              </td>\n                            </tr>\n                            <tr>\n                              <td class=\"message-content\" style=\"padding-top: 5px; color: #333333;\">\n                                {mensaje}\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Mensaje 2 -->\n\n                    <!-- Mensaje 3 -->\n\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Resumen IA del Origen del Sentimiento -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>🤖</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Origen Detallado del Sentimiento Negativo\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de resumen IA -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #FFF3E0; border: 1px solid #FFCC80; border-left: 5px solid #FF8A65; margin-bottom: 15px; border-radius: 8px;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"resumen\" class=\"summary-text\" style=\"margin: 0; line-height: 1.7; font-size: 15px;\">\n                            {resumen}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Recomendaciones -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #4CAF50; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💡</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #4CAF50;\">\n                                Recomendaciones\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de recomendaciones -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #E8F5E9; border: 1px solid #A5D6A7; border-left: 5px solid #4CAF50; margin-bottom: 15px; border-radius: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"recomendaciones\" class=\"summary-text\"\n                            style=\"margin: 0; line-height: 1.7; font-size: 15px; mso-line-height-rule: exactly;\">\n                            {recomendaciones}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Pie de página -->\n          <tr>\n            <td style=\"padding: 15px 25px; text-align: center; border-top: 1px solid #EEEEEE;\">\n              <p style=\"margin: 0; font-size: 14px; color: #888888;\">Generado {fecha_generacion} a las\n                {hora_generacion}</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1520,220],"id":"13eff7ad-52fb-46a0-8c73-30ce187267c0","name":"HTML"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Query Chats","type":"main","index":0}]]},"Llama 4 Scout":{"ai_languageModel":[[{"node":"Sentiment Analysis Whats App","type":"ai_languageModel","index":0}]]},"Query Chats":{"main":[[{"node":"Split for Chat Name","type":"main","index":0}]]},"Split for Chat Name":{"main":[[{"node":"Loop Over Chats","type":"main","index":0}]]},"Loop Over Chats":{"main":[[{"node":"Merge Positive","type":"main","index":1},{"node":"Merge Neutral","type":"main","index":1},{"node":"Merge Negative","type":"main","index":1}],[{"node":"Sentiment Analysis Whats App","type":"main","index":0}]]},"Sentiment Analysis Whats App":{"main":[[{"node":"Merge Positive","type":"main","index":0}],[{"node":"Merge Neutral","type":"main","index":0}],[{"node":"Merge Negative","type":"main","index":0}]]},"Merge Negative":{"main":[[{"node":"Loop Over Chats","type":"main","index":0},{"node":"AI Agent Negative","type":"main","index":0}]]},"Merge Neutral":{"main":[[{"node":"Loop Over Chats","type":"main","index":0}]]},"Merge Positive":{"main":[[{"node":"Loop Over Chats","type":"main","index":0}]]},"AI Agent Negative":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Llama 4-scout":{"ai_languageModel":[[{"node":"AI Agent Negative","type":"ai_languageModel","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Query Chats","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent Negative","type":"ai_outputParser","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Llama Parser":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Llama HTML":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Trigger":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Sentiment Analysis Whats App1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Llama 4":{"ai_languageModel":[[{"node":"Sentiment Analysis Whats App1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"03935b74-69e3-4b9d-9591-828df959b262","triggerCount":1,"tags":[]}