workflowsTESTING - Live Sentiment V3.json
{"createdAt":"2025-06-13T14:23:59.934Z","updatedAt":"2025-06-14T15:09:58.000Z","id":"TzNjjOOGA1KWGhbn","name":"TESTING - Live Sentiment V3","active":false,"isArchived":true,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"tableName":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"additionalFields":{},"options":{}},"type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-1100,-960],"id":"5191c992-f66a-446c-975a-bd62e3e12e33","name":"Postgres Trigger","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Alerta de Sentimiento Negativo</title>\n  <style>\n    /* Estilos generales - con mayor compatibilidad para clientes de correo */\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      margin: 0;\n      padding: 0;\n      background-color: #F5F5F5;\n      color: #333333;\n    }\n  </style>\n</head>\n\n<body style=\"margin: 0; padding: 0; background-color: #F5F5F5; font-family: Arial, Helvetica, sans-serif;\">\n  <!-- Wrapper para mayor compatibilidad con clientes de correo -->\n  <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #F5F5F5;\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"padding: 20px 0;\">\n        <!-- Contenedor principal -->\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" class=\"container\"\n          style=\"background-color: #FFFFFF; border: 1px solid #E0E0E0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\">\n          <!-- Encabezado -->\n          <tr>\n            <td align=\"center\" valign=\"top\"\n              style=\"background-color: #ff8a64; color: #FFFFFF; padding: 10px; border-top-left-radius: 8px; border-top-right-radius: 8px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n                <tr>\n                  <td align=\"left\" valign=\"middle\" width=\"80\" style=\"color: white;\">\n                    <span\n                      style=\"font-size: 68px; font-style: italic; font-family: serif; padding-left: 12px;\">ifx</span>\n                  </td>\n                  <td align=\"center\" valign=\"middle\" style=\"color: white\">\n                    <h1 style=\"margin: 0; font-size: 24px; font-weight: 600; \">Situación Crítica en Proceso</h1>\n                    <h2 style=\"margin: 0; font-size: 18px; font-weight: 400;\">WhatsApp</h2>\n                    <p style=\"margin: 5px 0 0; font-size: 14px; align-items: end;\">Generated by <span\n                        style=\"font-style: italic; font-family: serif; font-size: 16px;\">aifx</span></p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Análisis de Sentimiento -->\n          <tr>\n            <td style=\"padding: 25px 0 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 8px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📊</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Análisis de Sentimiento\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Categoría de sentimiento -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td align=\"center\" style=\"mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n                            style=\"display: inline-block; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td\n                                style=\"font-size: 16px; font-weight: bold; color: #FFFFFF; background-color: #FF5252; border-radius: 4px; padding: 4px 12px; text-align: center; mso-line-height-rule: exactly;\">\n                               {{ $('Edit Fields').first().json.sentimiento }}\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Métricas en formato tabla para mayor compatibilidad con clientes de correo -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Intensidad\n                                </div>\n                                <div id=\"strength\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                   {{ $('Edit Fields').first().json.intensidad }}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Certeza\n                                </div>\n                                <div id=\"confidence\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {{ $('Edit Fields').first().json.confianza }}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Información del Chat -->\n          <tr>\n            <td style=\"padding: 25px 25px 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📄</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Información del Chat\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Información del chat -->\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Chat:</span> {{ $('Edit Fields').first().json.chat }}\n                    </div>\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Cliente:</span> {{ $('Edit Fields').first().json.cliente }}\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Mensajes Clave -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💬</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Mensajes Clave\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n                  {{ $('Table Messages').item.json.html_mensajes }}\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Resumen IA del Origen del Sentimiento -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>🤖</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Origen Detallado del Sentimiento Negativo\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de resumen IA -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #FFF3E0; border: 1px solid #FFCC80; border-left: 5px solid #FF8A65; margin-bottom: 15px; border-radius: 8px;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"resumen\" class=\"summary-text\" style=\"margin: 0; line-height: 1.7; font-size: 15px;\">\n                            {{ $('Code').item.json.analisis_sentimiento.origen }}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Recomendaciones -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #4CAF50; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💡</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #4CAF50;\">\n                                Recomendaciones\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de recomendaciones -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #E8F5E9; border: 1px solid #A5D6A7; border-left: 5px solid #4CAF50; margin-bottom: 15px; border-radius: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"recomendaciones\" class=\"summary-text\"\n                            style=\"margin: 0; line-height: 1.7; font-size: 15px; mso-line-height-rule: exactly;\">\n                             {{ $('Edit Fields').first().json.recomendacion }}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Pie de página -->\n          <tr>\n            <td style=\"padding: 15px 25px; text-align: center; border-top: 1px solid #EEEEEE;\">\n              <p style=\"margin: 0; font-size: 14px; color: #888888;\"> Este contenido fue generado automáticamente el {{ $now.toLocal().format('dd-MMM-yyyy') }} a las\n                {{ $now.toLocal().format('HH:MM') }}</p>\n              <p style=\"margin: 0; font-size: 12px; color: #888888;\">IFX Networks © {{ $now.format('yyyy') }}</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2156,-240],"id":"14579c05-02cc-4f22-9fbd-cf25e9765f07","name":"HTML"},{"parameters":{"assignments":{"assignments":[{"id":"6860e2d3-4d4d-4f26-a2eb-2989de32d2de","name":"sentimiento","value":"={{ $('Calculate Strengh and Confidence').item.json.sentimentAnalysis.category }}","type":"object"},{"id":"18d305b3-76d0-454f-ab50-e7143b1ba23e","name":"confianza","value":"={{ $('Calculate Strengh and Confidence').item.json.sentimentAnalysis.confidence *100 }}%","type":"number"},{"id":"a4685efa-e3ef-4767-932c-03601e4d5134","name":"intensidad","value":"={{ $('Calculate Strengh and Confidence').item.json.sentimentAnalysis.strength * 100 }}%","type":"number"},{"id":"98f89597-97c1-4195-8a13-0b726062a764","name":"chat","value":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","type":"string"},{"id":"24d83b52-2de3-44e1-8110-9387f1d003db","name":"cliente","value":"={{ ($('Postgres Trigger').first().json.payload.nombrecliente?.trim() || $('Postgres Trigger').first().json.payload.nombrechat?.trim() || '').toUpperCase() }}","type":"string"},{"id":"9291f0f7-86d3-4057-bebe-5e6d267e58f4","name":"mensajes_negativos","value":"={{ $json.mensajes }}","type":"string"},{"id":"382f4d98-3ab0-486c-89cd-46a228f7d4d0","name":"recomendacion","value":"={{ $json.recomendaciones_preventivas.texto }}","type":"string"},{"id":"164de25b-1aa8-4e3f-a42e-e0fdeff54e3e","name":"origen","value":"={{ $json.analisis_sentimiento.origen }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1496,-440],"id":"2310e68b-01e6-49d6-8490-4e6adeff6953","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM (\n    SELECT      \n        \"remoteJid\",\n        participant,\n        \"pushName\",\n        conversation,\n        \"dateTime\",\n        sender,\n        nombrechat,\n        nombrecliente\n    FROM \n        public.messages\n    WHERE \n        \"remoteJid\" = '{{ $('Postgres Trigger').item.json.payload.remoteJid}}'\n        AND \"dateTime\" >= NOW() - INTERVAL '8 hours'\n    ORDER BY \n        \"dateTime\" DESC\n) AS subquery\nORDER BY \"dateTime\" ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-840,-460],"id":"6b973229-11d0-4a9d-89cf-b79ecb5ae978","name":"Query Back Chat","alwaysOutputData":true,"credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}},"disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[140,-260],"id":"656036af-98f7-470b-acf8-3759eaf3660b","name":"Merge Data Chat"},{"parameters":{"jsCode":"// Obtener los datos de entrada y parsear si es string\nlet mensajes = $input.first().json.mensajes_negativos || [];\n\n// Parsear el JSON si viene como string\nif (typeof mensajes === 'string') {\n  try {\n    mensajes = JSON.parse(mensajes);\n  } catch (e) {\n    console.log('Error parseando JSON:', e);\n    mensajes = [];\n  }\n}\n\n// Verificar que sea un array\nif (!Array.isArray(mensajes)) {\n  mensajes = [];\n}\n\n// Función para limpiar mensaje (remover análisis y recomendaciones)\nfunction limpiarMensaje(mensaje) {\n  if (!mensaje) return '';\n  \n  // Remover todo después de \"## Origen del Sentimiento Negativo\"\n  let mensajeLimpio = mensaje.split('## Origen del Sentimiento Negativo')[0];\n  \n  // Remover todo después de \"## Recomendación Preventiva\"\n  mensajeLimpio = mensajeLimpio.split('## Recomendación Preventiva')[0];\n  \n  return mensajeLimpio.trim();\n}\n\n// Función para convertir markdown a HTML (simplificada para mensajes)\nfunction convertirMarkdownAHTML(texto) {\n  if (!texto) return '';\n  \n  // Limpiar el mensaje primero\n  texto = limpiarMensaje(texto);\n  \n  let html = texto;\n  \n  // Convertir texto en negrita (**texto**)\n  html = html.replace(/\\*\\*(.+?)\\*\\*/g, '<strong style=\"font-weight: bold; color: #333333;\">$1</strong>');\n  \n  // Convertir texto en cursiva (*texto*)\n  html = html.replace(/\\*(.+?)\\*/g, '<em style=\"font-style: italic;\">$1</em>');\n  \n  // Convertir saltos de línea\n  html = html.replace(/\\n\\n/g, '</p><p style=\"margin: 10px 0; color: #333333; line-height: 1.5;\">');\n  html = html.replace(/\\n/g, '<br>');\n  \n  // Envolver en párrafos\n  html = '<p style=\"margin: 10px 0; color: #333333; line-height: 1.5;\">' + html + '</p>';\n  \n  return html;\n}\n\n// Función para generar el HTML de cada mensaje\nfunction generarHTMLMensaje(chat) {\n  // Convertir el mensaje de markdown a HTML\n  const mensajeHTML = convertirMarkdownAHTML(chat.mensaje);\n  \n  return `<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n style=\"border: 1px solid #DDDDDD; border-radius: 8px; margin-bottom: 10px; background-color: #FAFAFA;\">\n <tr>\n <td style=\"padding: 10px;\">\n <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n <tr>\n <td class=\"message-header\">\n <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td valign=\"middle\" style=\"padding-right: 5px;\">\n <icon>👤</icon>\n </td>\n <td valign=\"middle\">\n <span class=\"message-sender\"\n style=\"font-weight: bold; color: #333333;\">${chat.pushname}</span>\n <span class=\"message-time\"\n style=\"font-size: 0.85em; color: #777777; margin-left: 10px;\">${chat.hora}</span>\n </td>\n </tr>\n </table>\n </td>\n </tr>\n <tr>\n <td class=\"message-content\" style=\"padding-top: 5px; color: #333333;\">\n ${mensajeHTML}\n </td>\n </tr>\n </table>\n </td>\n </tr>\n </table>`;\n}\n\n// Generar HTML solo para los mensajes extraídos\nconst htmlCompleto = mensajes.map(chat => generarHTMLMensaje(chat)).join('\\n');\n\n// Retornar el resultado\nreturn {\n  json: {\n    html_mensajes: htmlCompleto,\n    total_mensajes: mensajes.length\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1716,-340],"id":"55d8710a-bc6d-401e-85a5-4aa65b7fa844","name":"Table Messages"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $json.sentimiento.toUpperCase() }}","confianza":"={{ parseFloat($json.confianza.replace('%', '')) / 100 }}","intensidad":"={{ parseFloat($json.intensidad.replace('%', '')) / 100 }}","chat":"={{ $json.chat }}","cliente":"={{ $json.cliente.toUpperCase() }}","mensajes_negativos":"={{ $json.mensajes_negativos }}","origen_negativo":"={{ $json.origen_negativo }}","recomendacion":"={{ $json.recomendacion }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1716,-540],"id":"7d74f2ab-3c6e-4b2a-af88-4599964973b8","name":"Save Negative","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category.toUpperCase() }}","confianza":"={{ $json.sentimentAnalysis.confidence }}","intensidad":"={{ $json.sentimentAnalysis.strength }}","chat":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,-860],"id":"c67a880f-5001-4ac2-90d0-641093db482f","name":"Save Neutral","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{"toRecipients":"ai@ifxcorp.com","subject":"=💬 Situacion Critica en Chat {{ $('Edit Fields').first().json.chat.toUpperCase() }}","bodyContent":"={{ $('HTML').item.json.html }}","additionalFields":{"bccRecipients":"atellez@ifxcorp.com, wrivera@ifxcorp.com, dcubides@ifxcorp.com, cnospina@ifxcorp.com, badevia@ifxcorp.com, aperez@ifxcorp.com, aguevara@ifxcorp.com, lheredia@ifxcorp.com","bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2816,-340],"id":"1f0aee58-7c27-4092-a49e-d4d4272461b1","name":"Send Alert","webhookId":"30c4955b-9c6f-4ba2-88ea-e08cff57c04f","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT \n    \"remoteJid\",\n    standby\nFROM \n    public.standby\nWHERE \n    \"remoteJid\" = '{{ $('Query Back Chat').first().json.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2376,-240],"id":"7a1c5f17-171b-4ead-89b2-4a0fadac4d12","name":"Check Standby","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba0e0909-f9aa-4372-be69-fc52474a58f8","leftValue":"={{ $json.standby }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2596,-240],"id":"0878faf1-793f-46ba-b4d8-2328eec0b101","name":"Standby?"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"standby","mode":"list","cachedResultName":"standby"},"columns":{"mappingMode":"defineBelow","value":{"standby":true,"remoteJid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["remoteJid"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3036,-340],"id":"c89b46f4-da15-4ccd-a43f-fe2155be0447","name":"Set StandBy","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT \n    \"remoteJid\",\n    standby,\n    \"updated_at\"\nFROM \n    public.standby\nWHERE \n    \"remoteJid\" = '{{ $json.payload.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-860,-1140],"id":"e35c7a4a-29b6-493a-9014-0e732bda0b3c","name":"Query Standby Time","alwaysOutputData":true,"credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2816,-540],"id":"ed30a276-5f00-46ca-925c-868703ddbd72","name":"Do nothing","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81ea6566-446c-4d7b-83b9-64a762e23a92","leftValue":"={{ $json.standby }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"896b6eea-de78-4de6-903f-6203c2144b54","leftValue":"={{ (Date.now() - new Date($json.updated_at).getTime()) < (4 * 60 * 60 * 1000) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,-1140],"id":"cad8d16b-e4fa-4d06-a449-a5ea8c5904ed","name":"Time Off","disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE public.standby \nSET \n    standby = false,\n    \"updated_at\" = NOW()\nWHERE \n    \"remoteJid\" = '{{ $('Time Off').item.json.remoteJid }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-420,-1140],"id":"10aa5aae-7b68-4861-895e-a42c0ee25794","name":"Set False Standby","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-420,-940],"id":"e5c04889-02cd-45fb-a5b6-3c883a33792f","name":"Do nothing Time Off","disabled":true},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=Testing ** 💬 Situacion Critica en Chat {{ $('Edit Fields').first().json.chat.toUpperCase() }}","bodyContent":"={{ $('HTML').item.json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2816,-140],"id":"a61c1c07-d0c4-4588-a317-3195528e447d","name":"Send Testing","webhookId":"a5f689a1-aadf-4fa6-9aba-680502dab9bf","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"jsCode":"const rawText = $input.first().json.output || '';\nconst cleanText = rawText.replace(/\\\\n/g, '\\n').replace(/\\\\t/g, '\\t');\n\nfunction extractMessages(text) {\n  const messages = [];\n  \n  // Regex para formato - **Pushname**: valor\n  const messageRegex = /- \\*\\*Pushname\\*\\*:\\s*([^\\n]+)\\n\\s*- \\*\\*Hora\\*\\*:\\s*`?([^`\\n]+)`?\\n\\s*- \\*\\*Mensaje\\*\\*:\\s*([^-]*?)(?=\\n- \\*\\*Pushname\\*\\*|$)/g;\n  \n  let match;\n  while ((match = messageRegex.exec(text)) !== null) {\n    messages.push({\n      pushname: match[1].trim(),\n      hora: match[2].trim(),\n      mensaje: match[3].trim()\n    });\n  }\n  \n  return messages;\n}\n\nfunction extractAnalysis(text) {\n  const match = text.match(/## Origen del Sentimiento Negativo\\n([\\s\\S]*?)(?=\\n### Recomendación Preventiva|\\n## Recomendación Preventiva|$)/);\n  let analysis = match ? match[1].trim() : '';\n  \n  // Limpiar markdown del análisis\n  analysis = analysis.replace(/\\\\n/g, '\\n'); // Convertir \\\\n a \\n\n  analysis = analysis.replace(/\\*\\*/g, ''); // Remover **\n  analysis = analysis.replace(/^#+\\s*/gm, ''); // Remover # al inicio de líneas\n  \n  return analysis;\n}\n\nfunction extractRecommendations(text) {\n  const match = text.match(/(?:###|##)\\s*Recomendación Preventiva\\n([\\s\\S]*?)$/);\n  let recommendations = match ? match[1].trim() : '';\n  \n  // Limpiar markdown de las recomendaciones\n  recommendations = recommendations.replace(/\\\\n/g, '\\n'); // Convertir \\\\n a \\n\n  recommendations = recommendations.replace(/\\*\\*/g, ''); // Remover **\n  recommendations = recommendations.replace(/^#+\\s*/gm, ''); // Remover # al inicio de líneas\n  \n  return recommendations;\n}\n\nconst messages = extractMessages(cleanText);\nconst analysis = extractAnalysis(cleanText);\nconst recommendations = extractRecommendations(cleanText);\n\n// Verificar falso positivo\nconst isFalsePositive = (\n  analysis.toLowerCase().includes('no se detecta') && \n  (analysis.toLowerCase().includes('sentimiento negativo') || analysis.toLowerCase().includes('conflicto'))\n) || recommendations.toLowerCase().includes('no se requiere recomendación');\n\nif (isFalsePositive) {\n  return [{\n    json: {\n      resultado: 'falso_positivo',\n      mensaje: 'No se detectó sentimiento negativo real en el contenido',\n      metadata: {\n        procesado_en: new Date().toISOString(),\n        version_parser: '1.7_js_fixed'\n      }\n    }\n  }];\n}\n\nconst output = {\n  resumen: {\n    total_mensajes: messages.length,\n    usuarios_involucrados: [...new Set(messages.map(m => m.pushname))],\n    rango_temporal: {\n      primer_mensaje: messages.length > 0 ? messages[0].hora : null,\n      ultimo_mensaje: messages.length > 0 ? messages[messages.length - 1].hora : null\n    }\n  },\n  mensajes: messages,\n  analisis_sentimiento: {\n    origen: analysis,\n    texto_completo: analysis\n  },\n  recomendaciones_preventivas: {\n    texto: recommendations\n  },\n  metadata: {\n    procesado_en: new Date().toISOString(),\n    version_parser: '1.7_js_fixed'\n  }\n};\n\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1276,-440],"id":"675cbbf0-e792-4bd6-9eba-6e87d442be56","name":"Code"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category.toUpperCase() }}","confianza":"={{ $json.sentimentAnalysis.confidence }}","intensidad":"={{ $json.sentimentAnalysis.strength }}","chat":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,-1080],"id":"ae72af24-c014-4776-8601-8ecc5adb8c2a","name":"Save Positive","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[768,-320],"id":"7acc8272-1a91-43bf-ad32-770db29539ad","name":"Llama 3.1 8B","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"sentimiento":"NEUTRAL","confianza":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","intensidad":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","chat":"={{ $('Query Back Chat').first().json.nombrechat.toUpperCase() }}","remote_jid":"={{ $('Query Back Chat').first().json.remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1276,-640],"id":"d091cf9f-4580-4b19-abaa-be9de8df6c36","name":"Save Fake Negative","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2156,-440],"id":"5ed6e743-0a37-45c7-8b65-64cb8d5da2e6","name":"No Operation, do nothing"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"POSITIVE","operator":{"type":"string","operation":"equals"},"id":"2b565810-3aa4-43a3-8410-f7000b557011"}],"combinator":"and"},"renameOutput":true,"outputKey":"POSITIVE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8358c56-6c8a-4d26-9fc6-3c00d97af0b9","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"NEUTRAL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEUTRAL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93c1e1e6-c1b9-44e8-acf3-4788c902510e","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"NEGATIVE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEGATIVE"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-420,-780],"id":"73d0b462-2de7-4cdc-bbb6-0ca1e559fafc","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $('Merge Data Chat').item.json.data }}","options":{"systemMessage":"ERES UN AGENTE EXPERTO EN DETECCIÓN DE SENTIMIENTO NEGATIVO Y CONFLICTOS EN CONVERSACIONES DE WHATSAPP EMPRESARIALES. TU TAREA ES IDENTIFICAR QUEJAS, TONO IRÓNICO, MOLESTIA O ESCALADAS, Y RESPONDER CON ANÁLISIS Y RECOMENDACIÓN EN FORMATO MARKDOWN ESTRICTO Y FIJO.\n\n---\n\n###  INSTRUCCIONES\n\n1. ANALIZA LOS ÚLTIMOS 30 MENSAJES + EL MÁS RECIENTE\n2. DETECTA INDICIOS DE:\n\n   * QUEJA, SARCASMO, FRUSTRACIÓN, DESCONFIANZA, PRESIÓN\n3. SI ENCUENTRAS CONFLICTO, DEVUELVE EL SIGUIENTE FORMATO **SIN MODIFICACIONES**\n4. SI NO HAY CONFLICTO, DEVUELVE ÚNICAMENTE EL BLOQUE EXACTO DE `## Análisis` — **NO AÑADAS NINGUNA EXPLICACIÓN**\n\n---\n\n###  FORMATO DE SALIDA (MÁXIMA PRECISIÓN OBLIGATORIA)\n\n **USA ESTE FORMATO EXACTO. NO LO ALTERES. NO CAMBIES NIVELES DE ENCABEZADO. COPIA LA ESTRUCTURA TAL COMO ESTÁ.**\n\n\n## Mensajes Origen del Sentimiento Negativo\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:45`\n  - **Mensaje**: <mensaje relevante>\n- **Pushname**: <nombre del participante>\n  - **Hora**: `05 may 2025 - 13:50`\n  - **Mensaje**: <otro mensaje relacionado>\n\n## Origen del Sentimiento Negativo\n<Análisis completo del conflicto, evolución del tono, causas técnicas y emocionales, y actores involucrados.>\n\n## Recomendación Preventiva\n<Recomendación táctica: qué se debió hacer, qué hacer ahora, cómo evitar una escalada mayor. Con tono profesional, claro y diplomático.>\n\n\n---\n\n###  SI NO DETECTAS CONFLICTO O SENTIMIENTO NEGATIVO\n\n **DEVUELVE ÚNICAMENTE EL BLOQUE EXACTO QUE SIGUE — NUNCA AGREGUES JUSTIFICACIONES, ANÁLISIS NI COMENTARIOS EXPLICATIVOS. NO USES OTROS ENCABEZADOS, NO CAMBIES EL FORMATO.**\n\n\n## Análisis\nsin informacion\n\n\nESTA ES LA ÚNICA RESPUESTA PERMITIDA EN CASOS SIN CONFLICTO.\n\n---\n\n###  QUÉ NO HACER\n\n* **NO CAMBIAR LOS ENCABEZADOS NI USAR OTROS NIVELES DE MARKDOWN**\n* **NO USAR `#Pushname` NI `###` NI OTROS FORMATOS**\n* **NO OMITIR EL BLOQUE DE `## Recomendación Preventiva` SI HAY CONFLICTO**\n* **NO ENTREGAR RESPUESTAS FUERA DEL FORMATO MOSTRADO**\n* **NO USAR MESES EN INGLÉS NI FORMATO DE FECHA ANGLOSAJÓN**\n* **NO MENCIONAR EL NOMBRE DEL CLIENTE NI EL NOMBRE DEL CHAT**\n* **NO GENERAR BLOQUES VACÍOS SI DETECTASTE CONFLICTO**\n* **NO GENERES ANÁLISIS EXPLICATIVOS SI NO HAY CONFLICTO**\n* **NO ESCRIBAS FRASES COMO “El mensaje es informativo”, “No se detecta conflicto” u otras justificaciones**\n* **NO INCLUYAS “Recomendación Preventiva” NI CUALQUIER SECCIÓN ADICIONAL SI NO HAY CONFLICTO**\n* **NO DEVUELVAS OTRO ENCABEZADO QUE NO SEA `## Análisis`**\n* **NO CAMBIES “sin informacion” — DEBE IR TAL CUAL EN MINÚSCULA**\n\n---\n\n TU OBJETIVO ES PRODUCIR UN BLOQUE MARKDOWN FIJO, SIN VARIACIONES, CON CONTENIDO CLARO, TÁCTICO Y PROFESIONAL.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[680,-540],"id":"911fa2e3-392c-4acc-b4ab-465914915b79","name":"AI Analist Negative","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5ff0d28e-7fca-4fdc-a072-0a89779ff15b","leftValue":"={{ $json.output }}","rightValue":"={{ $json.output.includes(\"No hay información suficiente para analizar el conflicto\") || $json.output.includes(\"No hay mensajes relevantes para detectar sentimientos negativos\") || $json.output.includes(\"sin informacion\") }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,-540],"id":"41d9b1ab-0554-43d8-985b-2a80ec2a7781","name":"is Negative?","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0738c036-19e8-4e92-9360-4ed76697a929","leftValue":"={{ $json.html_mensajes }}","rightValue":1,"operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1936,-340],"id":"d26d6b0a-87ab-45fa-9542-7e7470ded3bd","name":"Has Content"},{"parameters":{"language":"python","pythonCode":"import re\nimport math\n\ndef count_tokens_simple(text):\n    \"\"\"Contador simple de tokens\"\"\"\n    if not text:\n        return 0\n    tokens = re.split(r'[\\s\\.,!?;:\\(\\)\\[\\]\"\\']+', text)\n    return len([t for t in tokens if len(t) > 0])\n\ndef create_chunks(messages, max_tokens=512):\n    \"\"\"Crea chunks de máximo 512 tokens\"\"\"\n    chunks = []\n    current_chunk = []\n    current_tokens = 0\n    \n    for msg in messages:\n        # Extraer texto del mensaje\n        push_name = \"\"\n        conversation = \"\"\n        \n        # Intentar múltiples formas de acceder a los datos\n        if isinstance(msg, dict):\n            # Buscar pushName\n            push_name = (msg.get('pushName') or \n                        msg.get('pushname') or \n                        msg.get('participant', '').split('@')[0] or \n                        msg.get('sender', '').split('@')[0] or \n                        \"Usuario\")\n            \n            # Buscar conversation\n            conversation = (msg.get('conversation') or \n                          msg.get('message') or \n                          msg.get('text') or \n                          str(msg))\n        else:\n            conversation = str(msg)\n            push_name = \"Usuario\"\n        \n        # Limpiar y formatear\n        conversation = conversation.replace('\\\\n', ' ').strip()\n        text = f\"{push_name}: {conversation}\"\n        \n        if len(text) < 5:  # Saltar mensajes muy cortos\n            continue\n            \n        text_tokens = count_tokens_simple(text)\n        \n        # Si agregar este mensaje excede el límite, crear nuevo chunk\n        if current_tokens + text_tokens > max_tokens and current_chunk:\n            chunk_text = ' '.join(current_chunk)\n            chunks.append({\n                'text': chunk_text,\n                'tokenCount': count_tokens_simple(chunk_text),\n                'messageCount': len(current_chunk)\n            })\n            current_chunk = []\n            current_tokens = 0\n        \n        current_chunk.append(text)\n        current_tokens += text_tokens\n    \n    # Agregar último chunk si tiene contenido\n    if current_chunk:\n        chunk_text = ' '.join(current_chunk)\n        chunks.append({\n            'text': chunk_text,\n            'tokenCount': count_tokens_simple(chunk_text),\n            'messageCount': len(current_chunk)\n        })\n    \n    return chunks\n\n# Código principal\ntry:\n    all_data = []\n    \n    # Recopilar TODA la data de TODOS los items\n    for item in _input.all():\n        def extract_recursive(obj, path=\"\"):\n            \"\"\"Extrae recursivamente todos los objetos que podrían ser mensajes\"\"\"\n            if isinstance(obj, dict):\n                # Si parece un mensaje, agregarlo\n                if any(key in obj for key in ['pushName', 'conversation', 'participant', 'message']):\n                    all_data.append(obj)\n                \n                # Buscar recursivamente en valores\n                for key, value in obj.items():\n                    extract_recursive(value, f\"{path}.{key}\")\n                    \n            elif isinstance(obj, list):\n                for i, item in enumerate(obj):\n                    extract_recursive(item, f\"{path}[{i}]\")\n        \n        extract_recursive(item)\n    \n    print(f\"DEBUG: Encontrados {len(all_data)} objetos potenciales\")\n    \n    # Crear chunks\n    if all_data:\n        chunks = create_chunks(all_data, max_tokens=512)\n        \n        if chunks:\n            # Devolver múltiples items (uno por chunk)\n            results = []\n            for i, chunk in enumerate(chunks):\n                results.append({\n                    'json': {\n                        'chunkId': i + 1,\n                        'totalChunks': len(chunks),\n                        'text': chunk['text'],\n                        'tokenCount': chunk['tokenCount'],\n                        'messageCount': chunk['messageCount'],\n                        'estimated_tokens': chunk['tokenCount'],\n                        'word_count': len(chunk['text'].split()),\n                        'character_count': len(chunk['text'])\n                    },\n                    'pairedItem': 0\n                })\n            \n            print(f\"DEBUG: Creados {len(results)} chunks\")\n            return results\n        else:\n            print(\"DEBUG: No se pudieron crear chunks\")\n    \n    # Si no hay datos, devolver item vacío\n    return [{\n        'json': {\n            'chunkId': 1,\n            'totalChunks': 1,\n            'text': 'No se encontraron datos',\n            'tokenCount': 0,\n            'messageCount': 0,\n            'estimated_tokens': 0,\n            'word_count': 0,\n            'character_count': 0,\n            'totalDataFound': len(all_data)\n        },\n        'pairedItem': 0\n    }]\n\nexcept Exception as e:\n    print(f\"ERROR: {str(e)}\")\n    return [{\n        'json': {\n            'error': str(e),\n            'text': '',\n            'tokenCount': 0,\n            'messageCount': 0\n        },\n        'pairedItem': 0\n    }]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,-240],"id":"ac0b93b1-ae6b-4097-881e-a30a7b2e33a1","name":"Trunk Tokens - 512"},{"parameters":{"method":"POST","url":"http://192.168.1.11:5500/analyze","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization ","value":"Bearer O8Z9AOMWWUZ4ZIKTGMP4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={{ $json.toJsonString() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,-780],"id":"8b46c266-58ed-4484-af31-093097cf2ba6","name":"BERT Model"},{"parameters":{"assignments":{"assignments":[{"id":"2f6e0925-5146-491b-9cd4-ecdc30a68ebb","name":"pushName","value":"={{ $json.payload.pushName }}","type":"string"},{"id":"cf10afc2-4538-4c92-9430-91a4946df154","name":"conversation","value":"={{ $json.payload.conversation }}","type":"string"},{"id":"f4935560-eb22-4732-ab67-46f5d836a9f4","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-860,-780],"id":"0ea3eb3d-3dd6-4fc1-adc7-a9768cd1b937","name":"Select Data Important"}],"connections":{"Postgres Trigger":{"main":[[{"node":"Query Standby Time","type":"main","index":0},{"node":"Select Data Important","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Check Standby","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Table Messages","type":"main","index":0},{"node":"Save Negative","type":"main","index":0}]]},"Query Back Chat":{"main":[[]]},"Merge Data Chat":{"main":[[{"node":"Trunk Tokens - 512","type":"main","index":0}]]},"Table Messages":{"main":[[{"node":"Has Content","type":"main","index":0}]]},"Save Negative":{"main":[[]]},"Send Alert":{"main":[[{"node":"Set StandBy","type":"main","index":0}]]},"Check Standby":{"main":[[{"node":"Standby?","type":"main","index":0}]]},"Standby?":{"main":[[{"node":"Do nothing","type":"main","index":0}],[{"node":"Send Testing","type":"main","index":0},{"node":"Send Alert","type":"main","index":0}]]},"Query Standby Time":{"main":[[{"node":"Time Off","type":"main","index":0}]]},"Time Off":{"main":[[{"node":"Set False Standby","type":"main","index":0}],[{"node":"Do nothing Time Off","type":"main","index":0}]]},"Send Testing":{"main":[[]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Llama 3.1 8B":{"ai_languageModel":[[{"node":"AI Analist Negative","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Save Positive","type":"main","index":0}],[{"node":"Save Neutral","type":"main","index":0}],[]]},"AI Analist Negative":{"main":[[{"node":"is Negative?","type":"main","index":0}]]},"is Negative?":{"main":[[{"node":"Save Fake Negative","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Has Content":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"HTML","type":"main","index":0}]]},"Trunk Tokens - 512":{"main":[[]]},"BERT Model":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Select Data Important":{"main":[[{"node":"BERT Model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveDataSuccessExecution":"all","saveManualExecutions":true,"executionTimeout":300,"timeSavedPerExecution":5},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Postgres Trigger":[{"json":{"length":594,"processId":69134,"channel":"n8n_channel_5191c992_f66a_446c_975a_bd62e3e12e33","payload":{"id_chat":"3EB0E80A3B88B3D040114E","remoteJid":"120363333519526451@g.us","participant":"573183514755@s.whatsapp.net","pushName":"RTS CLOUD IFX","conversation":"El focal se encuentra validando la solicitud en breve les brinda la información de la restauración.\n\n","instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","dateTime":"2025-06-14T02:25:06.389-05:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"HEON-IFX CARE","id":15741,"nombrecliente":null,"real_name_user":null},"name":"notification"}}]},"versionId":"954a3b59-6e54-4c9d-9981-970c838f8bf0","triggerCount":1,"tags":[]}