workflowsRemote Hands Whisper.json
{"createdAt":"2025-06-16T16:58:43.021Z","updatedAt":"2025-06-18T20:54:42.000Z","id":"EqwGgiPgMP5zpDaW","name":"Remote Hands Whisper","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"whisper_aifx","searchMethod":"groupJid","groupJid":"120363417837971579@g.us"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[120,-280],"id":"7aef0d0f-d269-43e4-9dc4-fc6aed5087ea","name":"Evolution API1","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}},"disabled":true},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[300,-280],"id":"60ccccaa-196b-4f6b-87d6-207a9ef53415","name":"Split Out","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,-280],"id":"a5385ef6-0720-4afb-8d0e-5fae73fb1cbe","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[780,-280],"id":"eaff535e-558e-49d6-ab98-31590c657b76","name":"Convert to File","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8a357e0d-ec45-4cce-9c0c-a59109b7d78a","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"4c98543a-b034-49fb-9ac0-657c7af4a144","name":"subject","value":"={{ $json.subject }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[520,-280],"id":"9d3981d5-012f-4bdc-8cff-3cea28ab9b30","name":"Edit Fields","disabled":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-260,-40],"id":"1ffadb59-fc51-4017-85d9-833add59a8ee","name":"Incoming Whisper Wapp"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"id_chat":"={{ $('Incoming Whisper Wapp').item.json.body.data.key.id }}","remotejid":"={{ $('Incoming Whisper Wapp').item.json.body.data.key.remoteJid }}","participant":"={{ $('Incoming Whisper Wapp').item.json.body.data.key.participant }}","pushname":"={{ $('Incoming Whisper Wapp').item.json.body.data.pushName }}","conversation":"={{ $('Incoming Whisper Wapp').item.json.body.data.message.conversation }}","instanceid":"={{ $('Incoming Whisper Wapp').item.json.body.data.instanceId}}","sender":"={{ $('Incoming Whisper Wapp').item.json.body.sender }}","url_image":"={{ $('Incoming Whisper Wapp').item.json.body.data.message.imageMessage.url }}","url_audio":"={{ $('Incoming Whisper Wapp').item.json.body.data.message.audioMessage.url }}","url_video":"={{ $('Incoming Whisper Wapp').item.json.body.data.message.videoMessage.url }}"},"matchingColumns":["id"],"schema":[{"id":"id_chat","displayName":"id_chat","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remotejid","displayName":"remotejid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pushname","displayName":"pushname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instanceid","displayName":"instanceid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"datetime","displayName":"datetime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombrecliente","displayName":"nombrecliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"real_name_user","displayName":"real_name_user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,-40],"id":"b5dbe489-f575-40f7-9415-dac666ecae05","name":"Write DB Remote Hands","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"whisper_aifx","searchMethod":"groupJid","groupJid":"={{ $('Incoming Whisper Wapp').item.json.body.data.key.remoteJid }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-60,-40],"id":"2d4de775-0ce7-4d91-88e4-e36eb78ecad7","name":"SET Group Name","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"groups_remote_hands","mode":"list","cachedResultName":"groups_remote_hands"},"columns":{"mappingMode":"defineBelow","value":{"nombregrupo":"={{ $('SET Group Name').item.json.data.subject }}","remoteJid":"={{ $('SET Group Name').item.json.data.id }}"},"matchingColumns":["nombregrupo"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombregrupo","displayName":"nombregrupo","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contratista","displayName":"contratista","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remoteJid","displayName":"remoteJid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[620,60],"id":"e2cceaf2-aa35-400a-8d3f-5565209aa5e2","name":"Postgres","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n   CASE \n       WHEN \"remoteJid\" IS NULL OR \"remoteJid\" = '' OR TRIM(\"remoteJid\") = '' \n       THEN false \n       ELSE true \n   END AS tiene_remotejid\nFROM groups_remote_hands\nWHERE nombregrupo = '{{ $('SET Group Name').item.json.data.subject }}';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,-40],"id":"4589da53-66bc-4048-881c-f4ab0e5094c2","name":"Query Has RemotJid","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdfdb44d-4577-4f24-8fee-6b63d59ab70b","leftValue":"={{ $('Query Has RemotJid').item.json.tiene_remotejid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,-40],"id":"5c0ff47a-7b75-46a2-b670-eaeedf4feac0","name":"If"}],"connections":{"Evolution API1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Incoming Whisper Wapp":{"main":[[{"node":"SET Group Name","type":"main","index":0}]]},"Write DB Remote Hands":{"main":[[]]},"SET Group Name":{"main":[[{"node":"Query Has RemotJid","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Write DB Remote Hands","type":"main","index":0}]]},"Query Has RemotJid":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Write DB Remote Hands","type":"main","index":0}],[{"node":"Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Incoming Whisper Wapp":[{"json":{"exists":true,"body":{"event":"messages.upsert","instance":"whisper_aifx","data":{"key":{"remoteJid":"120363041892159466@g.us","fromMe":false,"id":"3F3678C1B5A13F9CBC9E","participant":"573165278059@s.whatsapp.net"},"pushName":"Gestor Aprov","status":"DELIVERY_ACK","message":{"editedMessage":{"message":{"protocolMessage":{"key":{"remoteJid":"120363041892159466@g.us","fromMe":true,"id":"3F39265A9943EBD3B8AF"},"type":"MESSAGE_EDIT","editedMessage":{"conversation":"Buenas tardes SECRETARIA DISTRITAL DE AMBIENTE 2471442 me confirman si ya están en sede? 12:00"},"timestampMs":"1750266711647"}}}},"messageType":"editedMessage","messageTimestamp":1750266709,"instanceId":"475354d6-f13f-47b0-af80-5c7e2fa3e433","source":"unknown"},"destination":"http://192.168.2.12:5678/webhook/whisper_aifx","date_time":"2025-06-18T12:11:50.035Z","sender":"573171057858@s.whatsapp.net","server_url":"http://localhost:8080","apikey":"F5423A2C90AA-4A2D-A43D-FAEB131E5273"}}}]},"versionId":"e9e4c292-95e7-4cbd-8488-7c2163a194d8","triggerCount":1,"tags":[]}