workflowsMy workflow 5.json
{"createdAt":"2025-04-07T14:46:14.788Z","updatedAt":"2025-04-14T19:12:28.000Z","id":"u8NGyFMFFrTIG4Nz","name":"My workflow 5","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[40,0],"id":"6f903bb5-a892-42b8-afbc-9707df844a69","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"8afca1a1-293e-4600-885b-0a3b03f78302","name":"log_siem","value":"=[New] dominiocloud.parquesdechile.local:Windows Account Unlocked (Parques_de_Chile)\nIncident Detail\nIncident ID:  79353\nIncident Time:  Apr 09 2025, 09:06:15 AM\nEvent Severity:  MEDIUM (7)\nIncident Count:  1\nIncident Category:  Change/Persistence\nNotification Policy\nNotification Policy ID:  9704205\nRule\nRule Name:  Windows Account Unlocked\nRemediation:  Make sure it is an authorized change\nRule Description:  Detects Windows user account unlocked\nIncident Target\nHost Name:  dominiocloud.parquesdechile.local\nUser:  pfernandez\nTarget User:  dampuero\nDomain:  PARQUESDECHILE\nIncident Title\nIncident Title:  Windows user dampuero account unlocked by pfernandez on dominiocloud.parquesdechile.local\nRaw Events (Latest 10)\n[UserFilter]\n2025-04-09T13:04:48Z dominiocloud.parquesdechile.local 192.168.0.7 FSM-WUA-WinLog-Security [phCustId]=\"2009\" [customer]=\"Parques_de_Chile\" [monitorStatus]=\"Success\" [Locale]=\"es-CL\" [MachineGuid]=\"791d27d5-9259-415b-91c4-be2f4fd911ef\" [timeZone]=\"-0400\" [extEventRecvProto]=\"Windows Agent\" [level]=\"Information\" [xml]=<Event xmlns='http://schemas.microsoft.com/win/2004/08/events/event'><System><Provider Name='Microsoft-Windows-Security-Auditing' Guid='{54849625-5478-4994-a5ba-3e3b0328c30d}'/><EventID>4767</EventID><Version>0</Version><Level>0</Level><Task>13824</Task><Opcode>0</Opcode><Keywords>0x8020000000000000</Keywords><TimeCreated SystemTime='2025-04-09T13:04:47.930516900Z'/><EventRecordID>67733041</EventRecordID><Correlation/><Execution ProcessID='728' ThreadID='7824'/><Channel>Security</Channel><Computer>dominiocloud.parquesdechile.local</Computer><Security/></System><EventData><Data Name='TargetUserName'>dampuero</Data><Data Name='TargetDomainName'>PARQUESDECHILE</Data><Data Name='TargetSid'>S-1-5-21-1684949636-987296041-3269702414-68417</Data><Data Name='SubjectUserSid'>S-1-5-21-1684949636-987296041-3269702414-68312</Data><Data Name='SubjectUserName'>pfernandez</Data><Data Name='SubjectDomainName'>PARQUESDECHILE</Data><Data Name='SubjectLogonId'>0x37e188f6b</Data></EventData></Event>\n2025-04-09T13:04:46Z dominiocloud.parquesdechile.local 192.168.0.7 FSM-WUA-WinLog-Security [phCustId]=\"2009\" [customer]=\"Parques_de_Chile\" [monitorStatus]=\"Success\" [Locale]=\"es-CL\" [MachineGuid]=\"791d27d5-9259-415b-91c4-be2f4fd911ef\" [timeZone]=\"-0400\" [extEventRecvProto]=\"Windows Agent\" [level]=\"Information\" [xml]=<Event xmlns='http://schemas.microsoft.com/win/2004/08/events/event'><System><Provider Name='Microsoft-Windows-Security-Auditing' Guid='{54849625-5478-4994-a5ba-3e3b0328c30d}'/><EventID>4767</EventID><Version>0</Version><Level>0</Level><Task>13824</Task><Opcode>0</Opcode><Keywords>0x8020000000000000</Keywords><TimeCreated SystemTime='2025-04-09T13:04:45.688151000Z'/><EventRecordID>67733032</EventRecordID><Correlation/><Execution ProcessID='728' ThreadID='10340'/><Channel>Security</Channel><Computer>dominiocloud.parquesdechile.local</Computer><Security/></System><EventData><Data Name='TargetUserName'>dampuero</Data><Data Name='TargetDomainName'>PARQUESDECHILE</Data><Data Name='TargetSid'>S-1-5-21-1684949636-987296041-3269702414-68417</Data><Data Name='SubjectUserSid'>S-1-5-21-1684949636-987296041-3269702414-68312</Data><Data Name='SubjectUserName'>pfernandez</Data><Data Name='SubjectDomainName'>PARQUESDECHILE</Data><Data Name='SubjectLogonId'>0x37e188f6b</Data></EventData></Event>","type":"string"},{"id":"6315b264-0180-49e7-ac40-2cdba5fbe920","name":"ticket","value":"TT1020371","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,0],"id":"c50a8778-449a-42f9-8311-91566a3ed0a9","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"LLAMA-3.3-70B-INSTRUCT"},"messages":{"values":[{"content":"Este chat será ocupado para generar alertas html y generar  un análisis y recomendaciones. RECUERDA GENERAR TAL Y COMO TE INDICO A CONTINUACIÓN, DEBE TENER EL MISMO FORMATO SI O SI.\n \n \ncada vez que se te entregue un código debes pedir el número de ticket. y actualizarlo en el html.\nel analista que monitorea debe ir siempre Joseph Parada.\nLas recomendaciones debes buscarla desde mitre con un Máximo de 3 recomendaciones en conjunto con tu experiencia como ingeniero de ciberseguridadm analisa la alerta.\nadicionalmente en el archivo \"NOTIFICACIÓN_IFX_SOC\" debes buscar el cliente y indicar a quien se notifica y a quien se pone en copia . debes indicarlo\nno entregues detalles extra\nno indiques datos extraídos. solo pide número de ticket, indica a quien se notifica y genera la alerta.\nno indique fecha de primer evento, solo el ultimo evento como Fecha de evento\n \n \nNOTIFICACIÓN_IFX_SOC\nTEXMODA\nNotificar a : Seguridad Infraestructura y Distribución Seguridad\nCopiar a : SOC-CL@IFXCORP.COM\n \n \nCHILECOMPRA\nNotificar a : SOC CHILE COMPRA, Paolo Jeldres, Marcelo Espejo, Mauricio Andrés Navarrete Navarrete y Jose Cariqueo\nCopiar a : soc-cl@ifxcorp.com, Pablo Cardenas\n \n \nSITRANS\nNotificar a : Jasangel Hernandez, Carla Mendoza, Rodrigo Sepulveda\ncopiar a : pcardenas@ifxcorp.com,SOC-CL@ifxcorp.com, operacionti@sitrans.cl\n \nUASL\nNotificar a: AEROTI\ncopiar a : soc-cl@ifxcorp.com, Jose Lucena\n \nSITRANS\nNotificar : Carla Mendoza, Jasangel Hernandez y Rodrigo Sepulveda\ncopiar a : soc-cl@ifxcorp.com, jlucena@ifxcorp.com\n \n \nTECNASIS\nNotificar :Jorge Arriagada, criqueleme, lpasten\ncopiar a : soc-cl@ifxcorp.com, Jose Lucena\n \nCNA\nNotificar: Nicolas Pizarro, Francisco Espinoza\nCopiar a:copiar a : soc-cl@ifxcorp.com\n \nSMA\nNotificar a: Luigi Brunetto Armijo - Braulio Corvalán-   IT\ncopiar a : soc-cl@ifxcorp.com\n \nBarrancas:\nNotificar: Felipe silva leon\nCopiar a : soc-cl@ifxcorp.com\n \n \nPROVIDENCIA\nNotificar a : Josias Vergara\nCopiar a : soc-cl@ifxcorp.com\n \nBARRANCAS\nNotificar a : Claudio Nuñez Sanchez, Felipe Silva León y Javier Ignacio Aravena Pacheco\nCopiar a : soc-cl@ifxcorp.com\n \nDIMERCO\nNotificar a :Luis Caceres y Bernardo Hernandez\nCopiar a : soc-cl@ifxcorp.com\n \nFotomar\nNotificar a :Marco Garrido y Guillermo Osorio Zamora\nCopiar a : soc-cl@ifxcorp.com\n \nHALDENAN\nNotificar a :Mauricio Silva y Rene Catrileo\nCopiar a : jlucena@ifxcorp.com,carolina.cid@ifxcorp.com,soc-cl@ifxcorp.com\n \nPARQUES\nNotificar a :Cesar Soto Tapia y Fabian Retamal\nCopiar a : soc-cl@ifxcorp.com, pcardenas@ifxcorp.com\n \nSTARCO\nNotificar a :José Sepulveda y Luis Gonzalez\nCopiar a : soc-cl@ifxcorp.com, jlucena@ifxcorp.com\n \nTPA\nNotificar a : Distribución Ciberseguridad y Soporte TPA\nCopiar a : soc-cl@ifxcorp.com, pcardenas@ifxcorp.com\n \n \nUltramar\t\nNotificar a : Ariel Rodriguez y Luis Montecinos Lara\nCopiar a :soc-cl@ifxcorp.com, pcardenas@ifxcorp.com\n \nTecnasic\t\nNotificar a Jorge Arriagada, Jorge Quiroz y Juan Allende Leiva\nCopiar a :soc-cl@ifxcorp.com, pcardenas@ifxcorp.com\n \nCNA\t\nNotificar a: Francisco Alexis Espinoza Pastene, Jonathan Ladrón de Guevara y Nicolás Pizarro Rojas\nCopiar a :soc-cl@ifxcorp.com, jlucena@ifxcorp.com\n \nSMA\t\nNotificar a : Braulio Corvalán, Francisco Ramirez, IT y Luigi Brunetto Armijo\nCopiar a :soc-cl@ifxcorp.com, jlucena@ifxcorp.com\n \nSigma\t\nNotificar a :Julio Pacheco, Maria Angélica Tirado Rodriguez, Oscar Gonzalez y Piero Lodato\nCopiar a :soc-cl@ifxcorp.com, dgarcia@ifxcorp.com\n \nProvidencia\nNotificar a Felipe Mora, Ivan cerda, Jose Pinilla, Josias Vergara, Luis Quezada, Marcos Acevedo y RENATO GARATE\nCopiar a :soc-cl@ifxcorp.com, pcardenas@ifxcorp.com\n \n \nel código que debes ocupar como referencia es:\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>ALERTA DE CIBERSEGURIDAD - Brute Force Host Login Success</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap\" rel=\"stylesheet\" />\n  <style>\n    :root {\n      --primary-color: #002244;\n      --accent-color: #0066cc;\n      --secondary-color: #000000;\n      --background-color: #f4f7fb;\n      --white: #ffffff;\n      --light-bg: #f8fafd;\n      --border-color: #d1d8e0;\n      --shadow-color: rgba(0, 0, 0, 0.1);\n    }\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: 'Montserrat', sans-serif;\n      background-color: var(--background-color);\n      color: var(--secondary-color);\n      line-height: 1.6;\n      padding: 20px;\n    }\n    .alert-container {\n      max-width: 1000px;\n      margin: 0 auto;\n      background-color: var(--white);\n      border-radius: 12px;\n      overflow: hidden;\n      box-shadow: 0 6px 16px var(--shadow-color);\n      animation: fadeIn 0.8s ease-in-out;\n    }\n    @keyframes fadeIn {\n      from { opacity: 0; transform: translateY(20px); }\n      to { opacity: 1; transform: translateY(0); }\n    }\n    .alert-header {\n      height: 250px;\n      background: url('https://github.com/ifxnetworks/Dise-o/blob/main/Header_Comunicado_Cyberseguridad_IFX_CL_(2.0).png?raw=true') no-repeat center center;\n      background-size: contain;\n    }\n    section { padding: 30px; border-bottom: 1px solid var(--border-color); }\n    section:last-of-type { border-bottom: none; }\n    h2.section-title {\n      font-size: 1.8em;\n      color: var(--primary-color);\n      margin-bottom: 20px;\n      border-left: 5px solid var(--accent-color);\n      padding-left: 10px;\n    }\n    .grid-info {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));\n      gap: 20px;\n    }\n    .info-card {\n      background-color: var(--light-bg);\n      border: 1px solid var(--border-color);\n      border-radius: 8px;\n      padding: 15px 20px;\n      transition: transform 0.3s ease;\n    }\n    .info-card:hover { transform: translateY(-5px); }\n    .info-card strong { color: var(--primary-color); }\n    .event-status {\n      margin-top: 20px;\n      padding: 15px;\n      background: linear-gradient(90deg, var(--accent-color), var(--primary-color));\n      color: var(--white);\n      text-align: center;\n      border-radius: 8px;\n      box-shadow: 0 4px 8px var(--shadow-color);\n      font-weight: 700;\n    }\n    .alert-description p { margin-bottom: 15px; }\n    .alert-description h3 { margin: 20px 0 10px; font-size: 1.2em; color: var(--primary-color); }\n    .alert-description ul { list-style: disc inside; margin-left: 20px; }\n    .alert-footer img {\n      width: 100%;\n      height: auto;\n      display: block;\n      border-top: 1px solid var(--border-color);\n    }\n    @media (max-width: 600px) { section { padding: 20px; } }\n  </style>\n</head>\n<body>\n  <div class=\"alert-container\">\n    <header class=\"alert-header\"></header>\n    <section class=\"alert-details\">\n      <h2 class=\"section-title\">Información del Cliente y Evento</h2>\n      <div class=\"grid-info\">\n        <div class=\"info-card\"><strong>Cliente Afectado:</strong><p>TPA</p></div>\n        <div class=\"info-card\"><strong>Fecha del Evento:</strong><p>Feb 18 2025, 04:27:45 PM</p></div>\n        <div class=\"info-card\"><strong>N° Ticket:</strong><p>TT985234</p></div>\n        <div class=\"info-card\"><strong>Severidad:</strong><p>HIGH (9)</p></div>\n      </div>\n      <div class=\"grid-info\" style=\"margin-top: 20px;\">\n        <div class=\"info-card\"><strong>Analista:</strong><p>Operador</p></div>\n        <div class=\"info-card\"><strong>Categoría:</strong><p>Security/Credential Access</p></div>\n        <div class=\"info-card\"><strong>Regla Aplicada:</strong><p>Brute Force Host Login Success</p></div>\n      </div>\n    </section>\n    <section class=\"alert-event\">\n      <h2 class=\"section-title\">Detalles del Evento</h2>\n      <div class=\"grid-info\">\n        <div class=\"info-card\"><strong>IP de Origen:</strong><p>10.201.201.237</p></div>\n        <div class=\"info-card\"><strong>Hostname de Origen:</strong><p>No especificado</p></div>\n        <div class=\"info-card\"><strong>IP de Destino:</strong><p>10.201.200.52 - TPADC02</p></div>\n        <div class=\"info-card\"><strong>Usuario Afectado:</strong><p>ttapia</p></div>\n      </div>\n      <div class=\"event-status\"><strong>Estado del Evento:</strong> Inicio de Sesión Exitoso tras Múltiples Fallos</div>\n    </section>\n    <section class=\"alert-description\">\n      <h2 class=\"section-title\">Descripción y Recomendaciones</h2>\n      <p><strong>Descripción del Evento:</strong> Se detectaron múltiples intentos fallidos de autenticación Kerberos seguidos de un inicio de sesión exitoso para el usuario <strong>ttapia</strong> en el servidor <strong>TPADC02</strong> desde la IP <strong>10.201.201.237</strong>.</p>\n      <h3>Acciones Detectadas:</h3>\n      <ul>\n        <li>Múltiples fallos de pre-autenticación Kerberos</li>\n        <li>Inicio de sesión exitoso después de intentos fallidos</li>\n        <li>Evento de alta severidad por posible acceso no autorizado</li>\n        <li>Patrón de ataque de fuerza bruta</li>\n      </ul>\n      <h3>Recomendaciones:</h3>\n      <ul>\n        <li>Verificar legitimidad del inicio de sesión con el usuario ttapia</li>\n        <li>Revisar logs de seguridad en TPADC02</li>\n        <li>Bloquear temporalmente la IP de origen</li>\n        <li>Realizar análisis forense del equipo</li>\n        <li>Reforzar políticas de autenticación</li>\n      </ul>\n    </section>\n    <footer class=\"alert-footer\">\n      <img src=\"https://github.com/ifxnetworks/Dise-o/blob/main/Footer_Comunicado_Cyberseguridad_IFX_CL(2.0).png?raw=true\" alt=\"Pie de página\">\n    </footer>\n  </div>\n</body>\n</html>\nRecuerda que toda la info que necesitas esta en este prompt y que en el log esta la info de a que cliente pertenece, analizalo y genera la alerta por favor. Es necesario que solo crees el html, no tienes que poner ninguna palabra, ni siquiera decir lo que siempre dices como: \"Para generar la alerta, necesito confirmar algunos detalles\" etc, solo quiero ver el codigo html generado como salida. cualquier palabra hara que hayan errores. Devuélveme solo el HTML, sin ningún texto adicional.\n<!DOCTYPE html>\n<html>\n  <head>\n    ...\n  </head>\n  <body>\n    ...\n  </body>\n</html>\n","role":"system"},{"content":"=\"Este es el log que recibimos del SIEM:\\n{{$json[\"log_siem\"]}}\\n\\nEl número de ticket es: {{$json[\"ticket\"]}}."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[380,0],"id":"68d673aa-f63f-4b58-8abe-6796266d3c55","name":"OpenAI","credentials":{"openAiApi":{"id":"NDDpEDhssIjxNnHv","name":"OpenAi account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  const rawContent = item.json.message.content;  // Asumiendo que la IA te da el HTML\n\n  return {\n    json: {\n      to: \"joanfaol@gmail.com\",  // Reemplaza con el destinatario real\n      subject: \"Alerta de Ciberseguridad\",  // Asunto\n      html: rawContent  // Contenido HTML generado por la IA\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0],"id":"108c0f20-c1dc-49db-b026-bcd4bd1b92c7","name":"Code"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[880,240],"id":"8b0d3d13-6cd9-4267-8291-44053e9fc9a2","name":"Gmail","webhookId":"a8dc946b-7f90-4cf5-a0da-09ed3cce7091","credentials":{"gmailOAuth2":{"id":"U9Veef5IILutNFOQ","name":"Gmail account"}}},{"parameters":{"sendTo":"={{$json[\"to\"]}}","subject":"={{$json[\"subject\"]}}","message":"={{$json[\"html\"]}}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[920,0],"id":"89e7c3f9-0049-42ff-a93f-984dc85b5398","name":"Gmail1","webhookId":"d9a6d6ee-619b-437b-8d9d-cc5b667e1a57","credentials":{"gmailOAuth2":{"id":"U9Veef5IILutNFOQ","name":"Gmail account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Gmail1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d3670257-2eec-4060-b293-edbbb5090ec7","triggerCount":3,"tags":[]}