workflowsNodoAnalisisSentimientos.json
{"createdAt":"2025-06-17T21:43:29.995Z","updatedAt":"2025-06-17T21:53:49.000Z","id":"2yn75sN6yiMBS3tR","name":"NodoAnalisisSentimientos","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sentimentnode","authentication":"headerAuth","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-520,-40],"id":"cdd1ff79-5a1a-4f75-9bde-4e6683dc0d68","name":"Webhook","webhookId":"eb4c653b-c553-41c7-a2a9-139a5bedc302","credentials":{"httpHeaderAuth":{"id":"8nGGCDfdtPtQoogH","name":"Header Auth account"}}},{"parameters":{"inputText":"={{ $json.messages[1].content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-80,-40],"id":"949c9a59-97dd-4c6d-bb76-a1a06ff09b84","name":"Sentiment Analysis"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-200,220],"id":"2cf2158b-57d7-48df-b55b-fa617abb9c08","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}}],"connections":{"Webhook":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"model":"llama-3.3-70B-Instruct","messages":[{"role":"system","content":"prompt con las indicaciones"},{"role":"user","content":"contenido con el texto de las interacciones"}],"temperature":0.3}}]},"versionId":"a54913d3-315e-48fd-9264-a7047cf9014d","triggerCount":0,"tags":[]}