workflowsVector Database RAG Productos IFX.json
{"createdAt":"2025-04-21T00:55:17.696Z","updatedAt":"2025-06-26T22:33:10.000Z","id":"3QXKVkbLKyrWVYUR","name":"Vector Database RAG Productos IFX","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"technical_documentation","mode":"list","cachedResultName":"technical_documentation"},"embeddingBatchSize":1024,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[1120,260],"id":"4e8be158-da4a-4176-ba5d-c4b5bdb9fb90","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"=File Name: {{ $('Download File').item.json.name }}\nContent: {{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"File Name","value":"={{ $('Download File').item.json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1120,520],"id":"f186e09f-40ec-43a4-8162-169ee37a872e","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1060,720],"id":"13eca3d7-9d79-4d2a-851b-5807294f4a52","name":"Recursive Character Text Splitter"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1E9nB2wry95uw0r3by4wqGT113M9sSFRO","mode":"list","cachedResultName":"Technical Support","cachedResultUrl":"https://drive.google.com/drive/folders/1E9nB2wry95uw0r3by4wqGT113M9sSFRO"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[280,260],"id":"d881aa80-f837-467d-9971-cc98d0b5b0dc","name":"Search New Doc","credentials":{"googleDriveOAuth2Api":{"id":"sJotOGT79UDE9bbO","name":"Google Drive JPG"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Search New Doc').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[720,260],"id":"a7c76952-8a6e-4c2f-b184-45a7e807f380","name":"Download File","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"sJotOGT79UDE9bbO","name":"Google Drive JPG"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Search New Doc').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1ZnYGjniVJMB245XE0CaCxa6MRCrrSddC","mode":"list","cachedResultName":"Read Docs","cachedResultUrl":"https://drive.google.com/drive/folders/1ZnYGjniVJMB245XE0CaCxa6MRCrrSddC"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2040,260],"id":"4f0f716b-77a6-42bc-b781-e91a542bad4b","name":"Move File Read","credentials":{"googleDriveOAuth2Api":{"id":"sJotOGT79UDE9bbO","name":"Google Drive JPG"}}},{"parameters":{"pollTimes":{"item":[{"hour":23}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1E9nB2wry95uw0r3by4wqGT113M9sSFRO","mode":"list","cachedResultName":"Technical Support","cachedResultUrl":"https://drive.google.com/drive/folders/1E9nB2wry95uw0r3by4wqGT113M9sSFRO"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[80,260],"id":"3eeb08ad-8c56-408e-960f-3a49d2bf3c69","name":"Trigger New File","credentials":{"googleDriveOAuth2Api":{"id":"sJotOGT79UDE9bbO","name":"Google Drive JPG"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1480,260],"id":"3c70bde7-e786-4720-ae94-11ac0787e29b","name":"Wait1","webhookId":"c0dcbdab-d2a0-4e2f-9bba-dfc502701833"},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[960,460],"id":"9b997ef2-76c8-4085-927c-e7b8aa796eac","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,260],"id":"c3647de3-4b9a-4591-acef-758549d0d804","name":"Loop Over Items"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[920,260],"id":"6bec9077-eb33-417d-a1b2-6dd60c9471e5","name":"Extract from File"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1700,260],"id":"f12ef25f-5761-4f83-a658-68ce72ac41f6","name":"Limit"}],"connections":{"Qdrant Vector Store":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Search New Doc":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Trigger New File":{"main":[[{"node":"Search New Doc","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Move File Read","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a62eb68-f999-45a3-89a2-de5b568066e9","triggerCount":0,"tags":[]}