workflowsAprendiendo RAG.json
{"createdAt":"2025-03-16T21:19:31.829Z","updatedAt":"2025-04-29T11:21:25.000Z","id":"1rKLjOmxdQLMVV90","name":"Aprendiendo RAG","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1uIrN0glKKa_t3VVwdkkOAFTpCJYXWBwQ","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1uIrN0glKKa_t3VVwdkkOAFTpCJYXWBwQ"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,-40],"id":"badb4384-f36a-4042-8347-b4d1683ab9e6","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"KeJeYvddxw0ubE33","name":"Google Drive JPG"}}},{"parameters":{"assignments":{"assignments":[{"id":"afda80d5-a48f-48a8-9ffb-90a3509723d1","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"bd70ddba-dba3-4c7c-a7a8-fdeabc0f9e49","name":"file_type","value":"={{ $json.mimeType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,-40],"id":"bd176353-a8a4-477f-b481-89cd9eac5524","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,-40],"id":"da3d3594-e25e-4867-97a6-130c851f5c07","name":"Loop Over Items"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Edit Fields').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[660,-40],"id":"bc7e25c2-f8d1-4654-b949-2cd8146761c4","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"KeJeYvddxw0ubE33","name":"Google Drive JPG"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"72f30ffb-9c64-4795-b257-0f8f40548f46"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a65a9c6-0a59-4fba-84ea-eaa638687235","leftValue":"={{ $('Edit Fields').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TXT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e492e615-7ba9-457e-82a0-dc77a781122d","leftValue":"={{ $('Edit Fields').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[880,-40],"id":"5bb9dc99-78c5-42ca-8e09-7883823d7410","name":"Switch"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1320,160],"id":"ea978d98-c11f-49ba-95b3-16fae6f912f8","name":"Aggregate"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1100,-240],"id":"e2eb8051-6fc1-4a02-9670-cf28d254f9e9","name":"Extract from PDF"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1100,-40],"id":"d7c4a316-556f-46d2-adea-dafe7ae4ee72","name":"Extract from Text"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1100,160],"id":"b76694d9-b36b-4834-aacd-d6ddd391ea80","name":"Extract from Excel"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1540,160],"id":"fb3bba6b-9b64-469b-a9f6-561e05e86e73","name":"Summarize"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"aifx_monitoring","mode":"list","cachedResultName":"aifx_monitoring"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1776,160],"id":"4f5fb9f2-fe68-4486-831b-27555b2ec007","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"model":"embedding-model","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1760,380],"id":"d27f00d0-e742-4582-8a8e-ccb2a13e1470","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1880,382.5],"id":"9d4f47bf-9853-4c1c-a5e9-82794c18e11d","name":"Default Data Loader"},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1968,580],"id":"da0f5ec5-490d-4d45-93d5-a4232fa3bb50","name":"Recursive Character Text Splitter"},{"parameters":{"name":"Recovery_RAG"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[560,540],"id":"324f49d9-470d-415b-a6ff-476b6ac40c0a","name":"Answer questions with a vector store"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"aifx_rag_n8n","mode":"list","cachedResultName":"aifx_rag_n8n"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[440,740],"id":"eec9b587-66a8-48bf-b7b1-800ee065e93c","name":"Qdrant Vector Store1","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"model":"embedding-model","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[540,940],"id":"d133e040-1da6-4510-a563-6dbb75449323","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[740,740],"id":"1d439b4e-4ac0-4da1-ae4d-d49fca41c9ce","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[340,320],"id":"863e87fc-1398-4828-bca4-d7dc42e7b279","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[100,320],"id":"2fa7442e-1f0b-4e2e-8d46-f2b0e0a0918b","name":"When chat message received","webhookId":"7e6858b9-f594-4ad6-87c8-2e099983ec18"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[440,540],"id":"1e2d8ba2-99bc-4848-8e4d-73a8ee5321cb","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"value":"llama-8B-Instruct","mode":"list","cachedResultName":"llama-8B-Instruct"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,540],"id":"5ca7a385-3a59-469e-acee-a9c21644c83e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"content":"## Consultas a una Collections en QdrantVector Store\n","height":860,"width":960},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,240],"id":"d84e57b7-6204-4769-8596-ac828296b7a4","name":"Sticky Note"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}]]},"Extract from PDF":{"main":[[]]},"Extract from Text":{"main":[[]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f5a3dacd-5923-40f4-b042-f821b867a67d","triggerCount":0,"tags":[]}