workflowsClean SQLite n8n.json
{"createdAt":"2025-05-31T01:11:34.513Z","updatedAt":"2025-05-31T01:15:22.000Z","id":"bkxmcwjQhrFCwI8M","name":"Clean SQLite n8n","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-60,0],"id":"121e9f9f-446b-4c32-a679-a5647ea3dea7","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Simular limpieza (sin better-sqlite3 disponible)\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);\n\n// Estadísticas simuladas - reemplaza con datos reales\nconst mockStats = {\n  executions_before: 150,\n  executions_deleted: 23,\n  data_records_deleted: 45,\n  db_size_before_mb: 25.6,\n  db_size_after_mb: 18.2\n};\n\nconst report = {\n  timestamp: new Date().toISOString(),\n  summary: `Limpieza completada: ${mockStats.executions_deleted} ejecuciones eliminadas`,\n  details: {\n    executions_before: mockStats.executions_before,\n    executions_after: mockStats.executions_before - mockStats.executions_deleted,\n    executions_deleted: mockStats.executions_deleted,\n    data_records_deleted: mockStats.data_records_deleted,\n    db_size_before_mb: mockStats.db_size_before_mb,\n    db_size_after_mb: mockStats.db_size_after_mb,\n    space_freed_mb: Math.round((mockStats.db_size_before_mb - mockStats.db_size_after_mb) * 100) / 100\n  },\n  message: `✅ Base de datos limpiada exitosamente\\n📊 Eliminadas: ${mockStats.executions_deleted} ejecuciones\\n💾 Espacio liberado: ${Math.round((mockStats.db_size_before_mb - mockStats.db_size_after_mb) * 100) / 100} MB\\n📈 Tamaño final: ${mockStats.db_size_after_mb} MB`\n};\n\nreturn report;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,0],"id":"2cb771bd-24c6-4069-ae99-8d75ea8b9f72","name":"Code"},{"parameters":{"resource":"messages-api","instanceName":"whisper_aifx","remoteJid":"573165278069","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[380,0],"id":"1f6b02e4-f8f5-4659-bc18-dd60c3ca8443","name":"Evolution API","credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Evolution API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"21e086b5-5234-43af-89b4-7a3631c9ceee","triggerCount":0,"tags":[]}