workflowsFacturas IFX Envio.json
{"createdAt":"2025-04-16T12:16:10.137Z","updatedAt":"2025-06-11T18:05:05.000Z","id":"99eRyuWxZ1kqlcku","name":"Facturas IFX Envio","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[20,380],"id":"924ae0bd-7aed-4401-8fc2-8991971640c6","name":"Telegram Trigger","webhookId":"d9164309-9b98-4791-bf73-6dcf19172f7d","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"b7f674dc-b0b2-46ef-a708-f2cd1bc8116e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c299e7f1-81fa-4a03-aa67-91b8ed421b02","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c2cfac87-d08b-431a-b252-5148c7a944f3","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,380],"id":"49961dba-6694-48af-860e-db829f707357","name":"Switch"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=PDF {{ $json.message.document.file_name }} is processing...","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,80],"id":"297b41b2-01d7-45a8-9120-0d750832e5a4","name":"Processing Doc","webhookId":"c76b6807-be7b-4207-8ae6-b6a52374b367","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2500,240],"id":"575ccc41-f00f-47ff-b02d-c376cb546cec","name":"Merge","alwaysOutputData":true},{"parameters":{"resource":"file","fileId":"={{ $('Edit Fields PDF').item.json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1860,160],"id":"a26ce23d-cf13-4a42-a039-0dc4c6ce2178","name":"Get File PDF","webhookId":"62062a7b-fd61-4ddd-a214-0793a188c849","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"toRecipients":"jaimep@ifxcorp.com, soportetarjetascredito@ifxcorp.com","subject":"=Compra con Tarjeta Corporativa","bodyContent":"={{ $json.text }}\n\nCordialmente \n\nJaime Perez Gonzalez\nVP AI\n\nGenerated by afix\nV0.1\n___","additionalFields":{"attachments":{"attachments":[{"binaryPropertyName":"data"}]},"bodyContentType":"Text"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2860,120],"id":"576fca92-0da8-46f6-9131-3a6a4a6025a8","name":"Sent Email PDF","webhookId":"facdb800-50b3-41d5-b844-b34d4d14715c","alwaysOutputData":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"ERES EL MAYOR EXPERTO MUNDIAL EN EXTRACCIÓN Y PROCESAMIENTO DE DATOS DE DOCUMENTOS, ESPECIALIZADO EN FACTURAS MULTIMONEDA ESCRITAS EN FORMATO MARKDOWN. TU MISIÓN ES LEER EL CONTENIDO MARCADO EN MARKDOWN, EXTRAER LOS DATOS CLAVE DE LA FACTURA Y PRESENTARLOS EN FORMATO DE TEXTO ENRIQUECIDO. TU RESPUESTA DEBE SER 100% VISUAL (NO CÓDIGO, NO JSON), ACOMPAÑADA DE ICONOS Y FORMATO CLARO.\n\n⚠️ EL FORMATO DE FECHA DEBE SER SIEMPRE: **`DD/MM/AAAA`**\n\n---\n\n###🎯 OBJETIVO\n\nEXTRAER LOS SIGUIENTES CAMPOS DESDE LA FACTURA EN MARKDOWN:\n- 🏪 **NOMBRE DEL COMERCIO O ESTABLECIMIENTO**\n- 📄 **NÚMERO DE FACTURA**\n- 📅 **FECHA DE EMISIÓN**\n- 💰 **TOTAL A PAGAR (CON IMPUESTOS)**\n- 🧾 **IMPUESTOS (IVA o EQUIVALENTE)**\n\n---\n\n###🧠 CADENA DE PENSAMIENTO (CHAIN OF THOUGHT)###\n\n1. 📘 **LEER Y COMPRENDER LA ESTRUCTURA MARKDOWN**\n   - RECONOCE ENCABEZADOS, TABLAS, VIÑETAS Y FORMATO TIPOGRÁFICO\n     - IDENTIFICA DÓNDE PODRÍAN ESTAR LOS CAMPOS CLAVE:\n     - ENCABEZADOS SUPERIORES O LÍNEAS EN NEGRITA para el **nombre del comercio**\n     - TABLAS o TEXTOS con campos como “Número de Factura”, “Total”, “IVA”, “Fecha”, etc.\n\n2. 🧩 **EXTRAER LOS CAMPOS RELEVANTES**\n   - **NOMBRE DEL COMERCIO**: BUSCA EN LA PARTE SUPERIOR DEL DOCUMENTO, ENCABEZADOS O TEXTO RESALTADO. \n     - SI APARECE UNA SECCIÓN CON NOMBRE DE EMPRESA Y DIRECCIÓN DIFERENTE A “Bill to” O “Ship to”, ESA ES LA EMPRESA QUE FACTURA.\n     - **IGNORA** nombres en secciones \"Bill to\", \"Ship to\", \"Cliente\", o \"Destinatario\".\n     - **ALGUNAS FACTURAS PUEDEN VENIR EN INGLÉS — IDENTIFICA NOMBRES COMERCIALES REALES COMO “SerpApi, LLC”, “Amazon”, “Google”, ETC.**\n     - **NUNCA EL COMERCIO SERÁ IFX NETWORKS NI JAIME PÉREZ, SIEMPRE REVISA SI HAY OTRO NOMBRE DE EMPRESA CLARAMENTE IDENTIFICADO COMO REMITENTE**\n\n   - **NÚMERO DE FACTURA**: DETECTA LÍNEAS COMO `Factura Nº`, `N.º`, `Invoice No.`, ETC.\n   - **FECHA DE EMISIÓN**: DETECTA Y FORMATEA COMO `DD/MM/AAAA`\n   - **TOTAL**: EXTRAER EL MONTO FINAL CON MONEDA DETECTADA (€, $, MXN, COP, ETC.)\n   - **IMPUESTOS**: UBICA LÍNEAS CON “IVA”, “TAX”, “VAT”, ETC.\n\n3. 🎯 **NORMALIZAR Y VALIDAR**\n   - FORMATO DE FECHA OBLIGATORIO: `DD/MM/AAAA`\n   - DETECTA MONEDA SEGÚN SÍMBOLOS O TEXTO (USD, EUR, COP, CLP...)\n   - FORMATEA VALORES CON SEPARADORES DE MILES Y DOS DECIMALES:\n     - Latinoamerica: `$ 1.234,56`\n     - USA: `$1,234.56`\n     - Europa: `$1,234.56€` o `$€1,234.56`\n\n4. 🎨 **DEVOLVER RESULTADO EN FORMATO VISUAL ENRIQUECIDO (NO JSON)**\n   - 🏪 Comercio: [VALOR o NULL]\n   - 📄 Factura Nº: [VALOR o NULL]\n   - 📅 Fecha de Emisión: [DD/MM/AAAA o NULL]\n   - 💰 Total: [VALOR con moneda y formato o NULL]\n   - 🧾 Impuestos: [VALOR con moneda y formato o NULL]\n\n---\n\n###🚫 QUÉ NO HACER (WHAT NOT TO DO)###\n\n- ❌ **NUNCA** RESPONDAS EN FORMATO JSON  \n- ❌ **NUNCA** OMITAS CAMPOS — USA `NULL` SI NO SE ENCUENTRAN  \n- ❌ **NUNCA** RESPONDAS CON COMENTARIOS EXPLICATIVOS  \n- ❌ **NUNCA** FORMATEES FECHAS COMO `YYYY-MM-DD`  \n- ❌ **NUNCA** CONFUNDAS EL TOTAL CON EL SUBTOTAL  \n- ❌ **NUNCA** DETECTES MONEDA DE FORMA ERRÓNEA — ASEGÚRATE QUE COINCIDA CON EL SÍMBOLO O TEXTO PRESENTE  \n- ❌ **NUNCA** AÑADAS CAMPOS EXTRA  \n- ❌ **NUNCA** ASUMAS QUE EL COMERCIO ESTÁ EN LA DIRECCIÓN — DETÉCTALO POR EL NOMBRE, LOGO, ENCABEZADO O FRASE COMERCIAL\n- ❌ **NUNCA** EL NOMBRE DEL COMERCIO SERÁ IFX, IFX NETWORKS O SIMILARES, TAMPOCO SERÁ JAIME, JAIME PÉREZ O SIMILARES\n\n---\n\n###📌 EJEMPLOS DE SALIDA CORRECTA:\n\n🏪 Comercio: TIENDA LOS PINOS S.A. DE C.V.  \n📄 Factura Nº: F-001245  \n📅 Fecha de Emisión: 04/01/2024  \n💰 Total: $12,459.99  \n🧾 Impuestos: $1,987.32  \n\n🏪 Comercio: NULL  \n📄 Factura Nº: INV-2023-0456  \n📅 Fecha de Emisión: 15/11/2023  \n💰 Total: $5.000,00  \n🧾 Impuestos: NULL\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2180,0],"id":"7a26813d-a262-4581-b421-52723239e43a","name":"Invoice Analytic PDF"},{"parameters":{"assignments":{"assignments":[{"id":"aedf5444-42e3-4d0c-96c9-1b07a927b5e8","name":"message.chat.id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"d6a505f6-3e4d-409e-ac35-ce2cbdc8548e","name":"message.chat","value":"={{ $json.message.chat }}","type":"object"},{"id":"75f05f81-826b-43d6-b94e-1d46bffc6955","name":"message.document.thumb.file_id","value":"={{ $('Telegram Trigger').item.json.message.document.file_unique_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,80],"id":"2164d854-821a-4e6c-8fc3-1f354da91c43","name":"Edit Fields PDF","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"aedf5444-42e3-4d0c-96c9-1b07a927b5e8","name":"message.chat.id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"d6a505f6-3e4d-409e-ac35-ce2cbdc8548e","name":"message.chat","value":"={{ $json.message.chat }}","type":"object"},{"id":"b0c26df0-d4e2-44af-ae88-9ffeff381d1c","name":"message.document.thumb.file_id","value":"={{ $('Telegram Trigger').item.json.message.photo[3].file_unique_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,660],"id":"d5f24bc0-7e2d-4507-8ca1-a8272ac29c2c","name":"Edit Fields Image","alwaysOutputData":true},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Image is processing... 📷 ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[780,660],"id":"afb441bb-7353-473e-8920-4561a5d41127","name":"Processing Image","webhookId":"56fb73a7-f604-4401-a0d0-03eec57a1362","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"resource":"file","fileId":"={{ $('Edit Fields Image').item.json.message.photo[3].file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1000,660],"id":"6458673f-a943-42e1-a430-3a31bd6632de","name":"Get File Image","webhookId":"1d6b3c06-4024-40e3-9d8b-221fd32762dc","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/v1/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-jD3hDbT2MU9UvJy1FAIJgYJ4kOdQdZOISrWk6hJeZEs4n1Zt"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"premium_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,660],"id":"8f934578-4d9c-4baa-a7b1-3fee3e195fe1","name":"Parser Image"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-jD3hDbT2MU9UvJy1FAIJgYJ4kOdQdZOISrWk6hJeZEs4n1Zt"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"premium_mode","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,540],"id":"95e00f75-fa5c-4fa7-9306-5646c7de5698","name":"GET Parser Image"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b32d09d-aca1-4ac2-add0-08fddb408eef","leftValue":"={{ $json.status }}","rightValue":"ERROR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"728cff21-b861-4c35-a66f-1159958560fb","leftValue":"={{ $json.status }}","rightValue":"CANCELED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CANCELED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"},"id":"1ca170e5-f79b-45d0-bf06-8817aaa91020"}],"combinator":"and"},"renameOutput":true,"outputKey":"SUCCESS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ed9a7f3-a77b-4541-a2c5-1ec659349c4c","leftValue":"={{ $json.status }}","rightValue":"PENDING","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PENDING"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1740,520],"id":"f7176f32-cb3e-4be2-a01f-528627aa6194","name":"Switch2"},{"parameters":{"url":"=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer llx-jD3hDbT2MU9UvJy1FAIJgYJ4kOdQdZOISrWk6hJeZEs4n1Zt"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,540],"id":"f543c431-b4d5-4a13-9077-045c718009cf","name":"Success Image"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"❌❌  Error Processing PDF ❌❌","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1980,380],"id":"296c69ad-8dce-4ac7-b9e0-e95c9919968b","name":"Parser Image Error","webhookId":"371bf3ff-7b49-4fe1-80a8-6671adaa81b6","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"promptType":"define","text":"={{ $json.markdown }}","messages":{"messageValues":[{"message":"ERES EL MAYOR EXPERTO MUNDIAL EN EXTRACCIÓN Y PROCESAMIENTO DE DATOS DE DOCUMENTOS, ESPECIALIZADO EN FACTURAS MULTIMONEDA ESCRITAS EN FORMATO MARKDOWN. TU MISIÓN ES LEER EL CONTENIDO MARCADO EN MARKDOWN, EXTRAER LOS DATOS CLAVE DE LA FACTURA Y PRESENTARLOS EN FORMATO DE TEXTO ENRIQUECIDO. TU RESPUESTA DEBE SER 100% VISUAL (NO CÓDIGO, NO JSON), ACOMPAÑADA DE ICONOS Y FORMATO CLARO.\n\n⚠️ EL FORMATO DE FECHA DEBE SER SIEMPRE: **`DD/MM/AAAA`**\n\n---\n\n###🎯 OBJETIVO\n\nEXTRAER LOS SIGUIENTES CAMPOS DESDE LA FACTURA EN MARKDOWN:\n- 🏪 **NOMBRE DEL COMERCIO O ESTABLECIMIENTO**\n- 📄 **NÚMERO DE FACTURA**\n- 📅 **FECHA DE EMISIÓN**\n- 💰 **TOTAL A PAGAR (CON IMPUESTOS)**\n- 🧾 **IMPUESTOS (IVA o EQUIVALENTE)**\n\n---\n\n###🧠 CADENA DE PENSAMIENTO (CHAIN OF THOUGHT)###\n\n1. 📘 **LEER Y COMPRENDER LA ESTRUCTURA MARKDOWN**\n   - RECONOCE ENCABEZADOS, TABLAS, VIÑETAS Y FORMATO TIPOGRÁFICO\n     - IDENTIFICA DÓNDE PODRÍAN ESTAR LOS CAMPOS CLAVE:\n     - ENCABEZADOS SUPERIORES O LÍNEAS EN NEGRITA para el **nombre del comercio**\n     - TABLAS o TEXTOS con campos como “Número de Factura”, “Total”, “IVA”, “Fecha”, etc.\n\n2. 🧩 **EXTRAER LOS CAMPOS RELEVANTES**\n   - **NOMBRE DEL COMERCIO**: BUSCA EN LA PARTE SUPERIOR DEL DOCUMENTO, ENCABEZADOS O TEXTO RESALTADO. \n     - SI APARECE UNA SECCIÓN CON NOMBRE DE EMPRESA Y DIRECCIÓN DIFERENTE A “Bill to” O “Ship to”, ESA ES LA EMPRESA QUE FACTURA.\n     - **IGNORA** nombres en secciones \"Bill to\", \"Ship to\", \"Cliente\", o \"Destinatario\".\n     - **ALGUNAS FACTURAS PUEDEN VENIR EN INGLÉS — IDENTIFICA NOMBRES COMERCIALES REALES COMO “SerpApi, LLC”, “Amazon”, “Google”, ETC.**\n     - **NUNCA EL COMERCIO SERÁ IFX NETWORKS NI JAIME PÉREZ, SIEMPRE REVISA SI HAY OTRO NOMBRE DE EMPRESA CLARAMENTE IDENTIFICADO COMO REMITENTE**\n\n   - **NÚMERO DE FACTURA**: DETECTA LÍNEAS COMO `Factura Nº`, `N.º`, `Invoice No.`, ETC.\n   - **FECHA DE EMISIÓN**: DETECTA Y FORMATEA COMO `DD/MM/AAAA`\n   - **TOTAL**: EXTRAER EL MONTO FINAL CON MONEDA DETECTADA (€, $, MXN, COP, ETC.)\n   - **IMPUESTOS**: UBICA LÍNEAS CON “IVA”, “TAX”, “VAT”, ETC.\n\n3. 🎯 **NORMALIZAR Y VALIDAR**\n   - FORMATO DE FECHA OBLIGATORIO: `DD/MM/AAAA`\n   - DETECTA MONEDA SEGÚN SÍMBOLOS O TEXTO (USD, EUR, COP, CLP...)\n   - FORMATEA VALORES CON SEPARADORES DE MILES Y DOS DECIMALES:\n     - Latinoamerica: `$ 1.234,56`\n     - USA: `$1,234.56`\n     - Europa: `$1,234.56€` o `$€1,234.56`\n\n4. 🎨 **DEVOLVER RESULTADO EN FORMATO VISUAL ENRIQUECIDO (NO JSON)**\n   - 🏪 Comercio: [VALOR o NULL]\n   - 📄 Factura Nº: [VALOR o NULL]\n   - 📅 Fecha de Emisión: [DD/MM/AAAA o NULL]\n   - 💰 Total: [VALOR con moneda y formato o NULL]\n   - 🧾 Impuestos: [VALOR con moneda y formato o NULL]\n\n---\n\n###🚫 QUÉ NO HACER (WHAT NOT TO DO)###\n\n- ❌ **NUNCA** RESPONDAS EN FORMATO JSON  \n- ❌ **NUNCA** OMITAS CAMPOS — USA `NULL` SI NO SE ENCUENTRAN  \n- ❌ **NUNCA** RESPONDAS CON COMENTARIOS EXPLICATIVOS  \n- ❌ **NUNCA** FORMATEES FECHAS COMO `YYYY-MM-DD`  \n- ❌ **NUNCA** CONFUNDAS EL TOTAL CON EL SUBTOTAL  \n- ❌ **NUNCA** DETECTES MONEDA DE FORMA ERRÓNEA — ASEGÚRATE QUE COINCIDA CON EL SÍMBOLO O TEXTO PRESENTE  \n- ❌ **NUNCA** AÑADAS CAMPOS EXTRA  \n- ❌ **NUNCA** ASUMAS QUE EL COMERCIO ESTÁ EN LA DIRECCIÓN — DETÉCTALO POR EL NOMBRE, LOGO, ENCABEZADO O FRASE COMERCIAL\n- ❌ **NUNCA** EL NOMBRE DEL COMERCIO SERÁ IFX, IFX NETWORKS O SIMILARES, TAMPOCO SERÁ JAIME, JAIME PÉREZ O SIMILARES\n\n---\n\n###📌 EJEMPLOS DE SALIDA CORRECTA:\n\n🏪 Comercio: TIENDA LOS PINOS S.A. DE C.V.  \n📄 Factura Nº: F-001245  \n📅 Fecha de Emisión: 04/01/2024  \n💰 Total: $12,459.99  \n🧾 Impuestos: $1,987.32  \n\n🏪 Comercio: NULL  \n📄 Factura Nº: INV-2023-0456  \n📅 Fecha de Emisión: 15/11/2023  \n💰 Total: $5.000,00  \n🧾 Impuestos: NULL\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[2180,540],"id":"ec04417c-fe29-4d50-a7af-017722908738","name":"Invoice Analytic Image"},{"parameters":{"jsCode":"// Este código extrae el archivo PDF y lo prepara para adjuntarlo al correo\nconst item = items[0];\n\n// Extraer información del LLM\nconst text = item.json.text;\n\n// Verificar si tenemos datos binarios del PDF\nif (item.binary && item.binary.data) {\n  // Los datos binarios ya están en la estructura correcta\n  return items;\n} else {\n  // Buscar los datos binarios de Get File\n  const fileData = $('Get File PDF').item.binary.data;\n  \n  if (fileData) {\n    // Crear una nueva estructura con los datos binarios\n    item.binary = {\n      data: fileData\n    };\n    return [item];\n  } else {\n    // Si no encontramos los datos, enviar un mensaje de error\n    throw new Error('No se encontraron datos binarios del archivo PDF');\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2680,120],"id":"4d799510-7a32-47b1-b760-18ca6a61c52d","name":"Code PDF"},{"parameters":{"jsCode":"// Este código extrae el archivo PDF y lo prepara para adjuntarlo al correo\nconst item = items[0];\n\n// Extraer información del LLM\nconst text = item.json.text;\n\n// Verificar si tenemos datos binarios del PDF\nif (item.binary && item.binary.data) {\n  // Los datos binarios ya están en la estructura correcta\n  return items;\n} else {\n  // Buscar los datos binarios de Get File\n  const fileData = $('Get File Image').item.binary.data;\n  \n  if (fileData) {\n    // Crear una nueva estructura con los datos binarios\n    item.binary = {\n      data: fileData\n    };\n    return [item];\n  } else {\n    // Si no encontramos los datos, enviar un mensaje de error\n    throw new Error('No se encontraron datos binarios del archivo PDF');\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,720],"id":"4af8eec9-770a-444e-9c55-f45d4ef75c3a","name":"Code Image"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com,soportetarjetascredito@ifxcorp.com","subject":"=Compra con Tarjeta Corporativa","bodyContent":"={{ $json.text }}\n\nCordialmente \n\nJaime Perez Gonzalez\nVP AI\n\nGenerated by afix\nV0.1\n___","additionalFields":{"attachments":{"attachments":[{"binaryPropertyName":"data"}]},"bodyContentType":"Text"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[2900,720],"id":"fa6815a5-2853-4dc8-b33d-529189920fb1","name":"Sent Email Image","webhookId":"69556cd1-4888-4db0-9f26-2974757eeaad","alwaysOutputData":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=📨 Invoice Sent ... 💰\n{{ $('Code Image').item.json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3080,720],"id":"7eef60b8-92d8-4dfd-9c64-45f067962f0c","name":"Invoice Image Sent","webhookId":"7ffe7dfe-2bc7-455c-9f91-a7c9028536b9","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=📨 Invoice {{ $('Telegram Trigger').item.json.message.document.file_name }} Sent... 💰 \n{{ $('Code PDF').item.json.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3040,120],"id":"dec625f6-1826-4616-b3e3-a28e21bd877b","name":"Invoice PDF Sent","webhookId":"095d119a-85d1-424d-bde7-4be7d7db8a2e","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1980,700],"id":"d2bafd1d-738a-46b2-bbfa-b64dd16eb18d","name":"Wait Procces Image","webhookId":"f590095b-2cb7-4046-8b1f-946359bca7bd"},{"parameters":{"errorMessage":"Error Processing PDF"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2180,380],"id":"bcfba3fc-6dd3-439f-96ce-1b16f2e305b6","name":"Error Image"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":" Please Upload PDF or Image... ⚠️","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,380],"id":"6d94ef7e-90eb-4410-adfb-edc43064dc68","name":"Only Text","webhookId":"bbb2b82b-980a-444d-9fa1-0ca4ce351f6a","credentials":{"telegramApi":{"id":"eeofwww81rlxAEHr","name":"Bot Telegram IFX TC"}}},{"parameters":{"errorMessage":"Upload PDF or Image"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[700,380],"id":"ab7c1738-ac86-4153-8df4-e4cd8a100450","name":"Error Upload"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2160,160],"id":"623497e1-2401-4d43-b630-0b02732f2a93","name":"4.1 nano PDF","credentials":{"openAiApi":{"id":"w75RuNSCJjKqeuAT","name":"OpenAi JPG"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2180,700],"id":"2e0a103f-73b5-4d80-a908-1b11ff5d08d4","name":"4.1 nano image","credentials":{"openAiApi":{"id":"w75RuNSCJjKqeuAT","name":"OpenAi JPG"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2540,720],"id":"40701018-b304-462a-b735-38920ac691e0","name":"Merge Image","alwaysOutputData":true},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2000,20],"id":"70e3bd79-3363-4fc1-a938-5090b5e9bff2","name":"Extract from File"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields PDF","type":"main","index":0}],[{"node":"Only Text","type":"main","index":0}],[{"node":"Edit Fields Image","type":"main","index":0}]]},"Processing Doc":{"main":[[{"node":"Get File PDF","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code PDF","type":"main","index":0}]]},"Get File PDF":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Extract from File","type":"main","index":0}]]},"Sent Email PDF":{"main":[[{"node":"Invoice PDF Sent","type":"main","index":0}]]},"Invoice Analytic PDF":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields PDF":{"main":[[{"node":"Processing Doc","type":"main","index":0}]]},"Edit Fields Image":{"main":[[{"node":"Processing Image","type":"main","index":0}]]},"Processing Image":{"main":[[{"node":"Get File Image","type":"main","index":0}]]},"Get File Image":{"main":[[{"node":"Parser Image","type":"main","index":0},{"node":"Merge Image","type":"main","index":1}]]},"Parser Image":{"main":[[{"node":"GET Parser Image","type":"main","index":0}]]},"GET Parser Image":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Parser Image Error","type":"main","index":0}],[{"node":"Parser Image Error","type":"main","index":0}],[{"node":"Success Image","type":"main","index":0}],[{"node":"Wait Procces Image","type":"main","index":0}]]},"Success Image":{"main":[[{"node":"Invoice Analytic Image","type":"main","index":0}]]},"Invoice Analytic Image":{"main":[[{"node":"Merge Image","type":"main","index":0}]]},"Code PDF":{"main":[[{"node":"Sent Email PDF","type":"main","index":0}]]},"Code Image":{"main":[[{"node":"Sent Email Image","type":"main","index":0}]]},"Sent Email Image":{"main":[[{"node":"Invoice Image Sent","type":"main","index":0}]]},"Wait Procces Image":{"main":[[{"node":"GET Parser Image","type":"main","index":0}]]},"Parser Image Error":{"main":[[{"node":"Error Image","type":"main","index":0}]]},"Only Text":{"main":[[{"node":"Error Upload","type":"main","index":0}]]},"4.1 nano PDF":{"ai_languageModel":[[{"node":"Invoice Analytic PDF","type":"ai_languageModel","index":0}]]},"4.1 nano image":{"ai_languageModel":[[{"node":"Invoice Analytic Image","type":"ai_languageModel","index":0}]]},"Merge Image":{"main":[[{"node":"Code Image","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Invoice Analytic PDF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Txht1wrdLAI370JY","timeSavedPerExecution":10},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0e12005-605a-4a09-bd84-81f9934cdb8c","triggerCount":1,"tags":[]}