workflowsSql Generate to Postgress.json
{"createdAt":"2025-05-27T19:39:43.432Z","updatedAt":"2025-05-27T19:55:02.000Z","id":"dVcphqpPX159DyE1","name":"Sql Generate to Postgress","active":false,"isArchived":false,"nodes":[{"parameters":{"contextWindowLength":10},"id":"60f1260d-e5cb-4690-b078-bd15dd66ce59","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[720,320],"typeVersion":1.2},{"parameters":{},"id":"88670e20-274b-4380-8808-ba23bba3281d","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[1480,240],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"764176d6-3c89-404d-9c71-301e8a406a68","name":"table","type":"string","value":"={{ $json.schema_db }}"}]},"includeOtherFields":true,"options":{}},"id":"69e5b36b-b895-43be-a5e4-b1d92f5052f0","name":"Add table name to output","type":"n8n-nodes-base.set","position":[360,-300],"typeVersion":3.4},{"parameters":{"operation":"toJson","options":{}},"id":"a58cb103-24f9-4e4b-94fb-dd61cdd473c5","name":"Convert data to binary","type":"n8n-nodes-base.convertToFile","position":[700,-300],"typeVersion":1.1},{"parameters":{"operation":"write","fileName":"./summary_sentimientos_schema.json","options":{}},"id":"6a7846e3-af28-4a9d-8d24-b355c41e9e30","name":"Save file locally","type":"n8n-nodes-base.readWriteFile","position":[1020,-300],"typeVersion":1},{"parameters":{"operation":"fromJson","options":{}},"id":"0db3b19b-bd13-4982-899b-4b106e160b0a","name":"Extract data from file","type":"n8n-nodes-base.extractFromFile","position":[60,140],"typeVersion":1},{"parameters":{"options":{}},"id":"d18db10a-52a0-447d-9786-a3911782212d","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-420,140],"webhookId":"c308dec7-655c-4b79-832e-991bd8ea891f","typeVersion":1.1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=ESTA ES LA ESTRUCTURA DE BASE DE DATOS: {{ $json.schema }}\nESTA ES LA INFORMACION QUE SE SOLICITA: {{ $('Chat Trigger').item.json.chatInput }}\nCUANDO EL USUARIO HAGA CONSULTA DE NOMBRES UTILIZA LA FUNCION LIke en la consulta  para Postgress.\n\nEl campo para el valor de los sentimientos: sentimiento \nLos sentimientos pueden ser: NEGATIVE, POSITIVE y NEUTRAL\n\n\nNO AGREGUES EXPLICACION\nLA RESPUESTA SERA ENVIADA AL QUERY DE BASE DE DATOS\nTU RESPUESTA SOLO SERA EL QUERY PARA MYSQL\n","options":{"systemMessage":"=\nAyuda al usuario a trabajar con la base de datos Postgress.\n\nPor favor, escriba los comandos Postgress limpios con los joins necesarios, sin explicacion. \n\nNo mostrar en los resultados los Id o Llaves principales de las tablas.\n\nNo dispone de una herramienta para ejecutar Postgress, por lo que el usuario lo hará por usted."}},"id":"b0bbcef1-f374-4917-aad7-e43c80af2ee0","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[620,20],"typeVersion":1.6},{"parameters":{},"id":"8b755c60-2e4c-4e7f-9ad6-5882cbe65e78","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-640,-300],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"42abd24e-419a-47d6-bc8b-7146dd0b8314","name":"sessionId","type":"string","value":"={{ $('Chat Trigger').first().json.sessionId }}"},{"id":"39244192-a1a6-42fe-bc75-a6fba1f264df","name":"action","type":"string","value":"={{ $('Chat Trigger').first().json.action }}"},{"id":"f78c57d9-df13-43c7-89a7-5387e528107e","name":"chatinput","type":"string","value":"={{ $('Chat Trigger').first().json.chatInput }}"},{"id":"e42b39eb-dfbd-48d9-94ed-d658bdd41454","name":"schema","type":"string","value":"={{ $json.data }}"}]},"options":{}},"id":"006c172e-257b-4b15-b904-aa0bab291ec4","name":"Combine schema data and chat input","type":"n8n-nodes-base.set","position":[280,140],"executeOnce":true,"typeVersion":3.4},{"parameters":{"fileSelector":"./summary_sentimientos_schema.json","options":{}},"id":"dc944f54-97b3-4d56-af13-514c925f3063","name":"Load the schema from the local file","type":"n8n-nodes-base.readWriteFile","position":[-180,140],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"ebbe194a-4b8b-44c9-ac19-03cf69d353bf","name":"query","type":"string","value":"={{ $json.output }}"}]},"includeOtherFields":true,"options":{}},"id":"346b95fc-2bb8-4195-abda-1b280c1c5c46","name":"Extract SQL query","type":"n8n-nodes-base.set","position":[1040,60],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2963d04d-9d79-49f9-b52a-dc8732aca781","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.query }}","rightValue":""}]},"options":{}},"id":"eb01487f-3ee7-4136-8adf-7502f7d2875c","name":"Check if query exists","type":"n8n-nodes-base.if","position":[1200,60],"typeVersion":2.2},{"parameters":{"content":"## Genera la consulta SQL\n","height":279,"width":358,"color":3},"id":"60c1c568-42b1-48fc-8fcb-ea8b317cbd94","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[980,-40],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f944d21f-6aac-4842-8926-4108d6cad4bf","name":"sqloutput","type":"string","value":"={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"}]},"options":{}},"id":"547b046c-1f42-4269-a908-9bcdf0c2a1e1","name":"Format query results","type":"n8n-nodes-base.set","position":[1560,-140],"executeOnce":true,"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"aa55e186-1535-4923-aee4-e088ca69575b","name":"output","type":"string","value":"={{ $json.output }}\n\nSQL result:\n```markdown\n{{ $json.sqloutput }}\n```"}]},"options":{}},"id":"889f9b04-f273-41c5-9b0b-c5349ebee065","name":"Prepare final output","type":"n8n-nodes-base.set","position":[1780,60],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"62ae2f07-1558-4d03-9826-ebd5e58766ff","name":"Combine query result and chat answer","type":"n8n-nodes-base.merge","position":[1480,60],"typeVersion":3},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,220],"id":"a96d7ed5-d07b-4723-87e0-dcd274690019","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"operation":"executeQuery","query":"SELECT table_name, column_name, data_type, is_nullable, column_default\nFROM information_schema.columns\nWHERE table_name = 'summary_sentimientos' \nORDER BY table_name, ordinal_position;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-280,-300],"id":"ad377978-c30d-49b3-be7d-340ca195da87","name":"Postgres","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"jsCode":"\n\nreturn { schema_db:$input.all()} ;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,-300],"id":"1bb883d2-0dd8-4b30-984f-73b3d03ebcbf","name":"Code"},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1380,-140],"id":"1246600f-de92-4ab5-827a-e61ef47fa2f0","name":"Postgres1","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}}],"connections":{"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Add table name to output":{"main":[[{"node":"Convert data to binary","type":"main","index":0}]]},"Convert data to binary":{"main":[[{"node":"Save file locally","type":"main","index":0}]]},"Extract data from file":{"main":[[{"node":"Combine schema data and chat input","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Load the schema from the local file","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Extract SQL query","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Combine schema data and chat input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Load the schema from the local file":{"main":[[{"node":"Extract data from file","type":"main","index":0}]]},"Extract SQL query":{"main":[[{"node":"Check if query exists","type":"main","index":0}]]},"Check if query exists":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":1},{"node":"Postgres1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Format query results":{"main":[[{"node":"Combine query result and chat answer","type":"main","index":0}]]},"Combine query result and chat answer":{"main":[[{"node":"Prepare final output","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Add table name to output","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Format query results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4c5505af-8777-4627-beb5-e9d78311f2ee","triggerCount":0,"tags":[]}