workflowsRemote Hands Whisper.json
{"createdAt":"2025-06-16T16:58:43.021Z","updatedAt":"2025-06-17T12:48:49.000Z","id":"EqwGgiPgMP5zpDaW","name":"Remote Hands Whisper","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"1ffadb59-fc51-4017-85d9-833add59a8ee","name":"Whisper Wapp"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"columns":{"mappingMode":"defineBelow","value":{"id_chat":"={{ $('Whisper Wapp').item.json.body.data.key.id }}","remotejid":"={{ $('Whisper Wapp').item.json.body.data.key.remoteJid }}","participant":"={{ $('Whisper Wapp').item.json.body.data.key.participant }}","pushname":"={{ $('Whisper Wapp').item.json.body.data.pushName }}","conversation":"={{ $('Whisper Wapp').item.json.body.data.message.conversation }}","instanceid":"={{ $('Whisper Wapp').item.json.body.data.instanceId}}","sender":"={{ $('Whisper Wapp').item.json.body.sender }}","url_image":"={{ $('Whisper Wapp').item.json.body.data.message.imageMessage.url }}","url_audio":"={{ $('Whisper Wapp').item.json.body.data.message.audioMessage.url }}","url_video":"={{ $('Whisper Wapp').item.json.body.data.message.videoMessage.url }}"},"matchingColumns":["id"],"schema":[{"id":"id_chat","displayName":"id_chat","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remotejid","displayName":"remotejid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"participant","displayName":"participant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pushname","displayName":"pushname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"conversation","displayName":"conversation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instanceid","displayName":"instanceid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"datetime","displayName":"datetime","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"sender","displayName":"sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_image","displayName":"url_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_audio","displayName":"url_audio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url_video","displayName":"url_video","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombrechat","displayName":"nombrechat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombrecliente","displayName":"nombrecliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"real_name_user","displayName":"real_name_user","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,0],"id":"b5dbe489-f575-40f7-9415-dac666ecae05","name":"Postgres1","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"={{ $('Whisper Wapp').item.json.body.instance }}","searchMethod":"groupJid","groupJid":"={{ $('Whisper Wapp').item.json.body.data.key.remoteJid }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[460,0],"id":"5e3a11ed-3657-4147-b12c-f482cf6415b8","name":"Evolution API","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"9k6KTcMvpINN4jXM","name":"Evolution aifx 3171057858"}}}],"connections":{"Whisper Wapp":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Evolution API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0db63de4-82f4-4e0a-8194-129ea4d9d0da","triggerCount":1,"tags":[]}