workflowsSend Mails HTML JPG.json
{"createdAt":"2025-06-05T18:29:54.178Z","updatedAt":"2025-06-06T11:56:03.000Z","id":"FOwjzc5E47VQYvA9","name":"Send Mails HTML JPG","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"eab8cfb7-1492-43e5-93ed-8e84f8f64b43","name":"When clicking ‘Execute workflow’"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Implementación de ChatGPT Empresarial</title>\n  <style type=\"text/css\">\n    body {\n      margin: 0;\n      padding: 0;\n      width: 100%;\n      -webkit-text-size-adjust: 100%;\n      -ms-text-size-adjust: 100%;\n      background-color: #f8f9fa;\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      text-align: center;\n    }\n\n    .email-container {\n      width: 800px !important;\n      max-width: 800px;\n      margin: 0 auto;\n      background: white;\n      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);\n      border-radius: 20px;\n      overflow: hidden;\n      margin-top: 32px;\n      margin-bottom: 32px;\n      text-align: left;\n    }\n\n    .section-padding-wrapper {\n      padding: 40px 24px;\n    }\n\n    .h2-style {\n      font-size: 26px;\n      color: #2c3e50;\n      margin-top: 0;\n      margin-bottom: 19px;\n      position: relative;\n      padding-bottom: 6px;\n    }\n\n    .info-box {\n      background: #f8f9fa;\n      border-left: 4px solid #3498db;\n      padding: 24px;\n      margin: 24px 0;\n      border-radius: 8px;\n      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);\n    }\n\n    .list-box {\n      background: #f8f9fa;\n      border-radius: 10px;\n      padding: 24px;\n      margin: 16px 0;\n    }\n\n    /* Estilos para las tarjetas dentro de las tablas */\n    .card-style-directos {\n      background: white;\n      border: 1px solid #e9ecef;\n      border-radius: 12px;\n      padding: 32px;\n      text-align: center;\n      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);\n      border-top: 4px solid #3498db;\n      height: 100%;\n      box-sizing: border-box;\n    }\n\n    .card-style-perfiles {\n      background: white;\n      border-radius: 12px;\n      padding: 24px;\n      border: 1px solid #e9ecef;\n      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);\n      height: 100%;\n      box-sizing: border-box;\n    }\n\n    .card-style-ciberseguridad {\n      background: #ff6b6b;\n      color: white;\n      padding: 32px;\n      border-radius: 15px;\n      box-shadow: 0 10px 30px rgba(238, 90, 36, 0.3);\n      height: 100%;\n      box-sizing: border-box;\n    }\n  </style>\n</head>\n\n<body\n  style=\"margin: 0; padding: 0; width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #f8f9fa; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; text-align: center;\">\n  <div class=\"email-container\"\n    style=\"width: 800px !important; max-width: 800px; margin: 0 auto; background: white; box-shadow: 0 20px 40px rgba(0,0,0,0.1); border-radius: 20px; overflow: hidden; margin-top: 32px; margin-bottom: 32px; text-align:left;\">\n    <div\n      style=\"background: #2c3e50; color: white; padding: 40px 24px; position: relative; display: flex; justify-content: space-between; align-items: center;\">\n      <div>\n        <h1 style=\"font-size: 35px; margin-bottom: 13px; font-weight: 700; margin-top:0;\">Implementación de ChatGPT\n          Empresarial</h1>\n        <p style=\"font-size: 16px; opacity: 0.9; margin: 6px 0 0 0;\">Propuesta Técnica para Integración Corporativa de\n          IA</p>\n      </div>\n      <div style=\"font-size: 48px; font-family: serif; font-style: italic; color: #3498db; font-weight: 300;\">ifx</div>\n    </div>\n\n    <div style=\"text-align: center; padding: 16px; background: #f8f9fa; color: #666; font-size: 14px;\">\n      Powered by <span style=\"font-family: serif; font-style: italic; color: #3498db;\">aifx</span>\n    </div>\n\n    <div>\n      <section style=\"border-bottom: 1px solid #eee;\">\n        <div class=\"section-padding-wrapper\" style=\"padding: 40px 24px;\">\n          <h2 class=\"h2-style\"\n            style=\"font-size: 26px; color: #2c3e50; margin-top:0; margin-bottom: 19px; position: relative; padding-bottom: 6px;\">\n            Resumen Ejecutivo</h2>\n          <div class=\"info-box\"\n            style=\"background: #f8f9fa; border-left: 4px solid #3498db; padding: 24px; margin: 24px 0; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.05);\">\n            <h3 style=\"margin-top: 0; font-size: 19px;\">Objetivo General</h3>\n            <p style=\"font-size:16px;\">Implementar ChatGPT en la empresa maximizando el valor de la IA en soporte de\n              tareas, generación de ideas y documentación, garantizando control de acceso, seguridad y cumplimiento de\n              políticas corporativas.</p>\n          </div>\n\n          <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"margin: 32px 0;\">\n            <tr>\n              <td width=\"50%\" style=\"padding-right: 16px; vertical-align: top;\">\n                <div class=\"card-style-directos\"\n                  style=\"background: white; border: 1px solid #e9ecef; border-radius: 12px; padding: 32px; text-align: center; box-shadow: 0 5px 15px rgba(0,0,0,0.08); border-top: 4px solid #3498db; height: 100%; box-sizing: border-box;\">\n                  <div style=\"font-size: 40px; font-weight: 700; color: #3498db; margin-bottom: 13px;\">20</div>\n                  <h3 style=\"font-size: 19px; margin-bottom: 8px;\">Usuarios Directos</h3>\n                  <p style=\"font-size:16px; margin-top:0;\">Acceso directo a la interfaz web oficial de OpenAI</p>\n                  <p style=\"font-size:16px;\">Plan Enterprise USD 40 por Usuario</p>\n                  <p style=\"font-size:16px;\"><strong>TOTAL $ 800</strong></p>\n                </div>\n              </td>\n              <td width=\"50%\" style=\"padding-left: 16px; vertical-align: top;\">\n                <div class=\"card-style-directos\"\n                  style=\"background: white; border: 1px solid #e9ecef; border-radius: 12px; padding: 32px; text-align: center; box-shadow: 0 5px 15px rgba(0,0,0,0.08); border-top: 4px solid #3498db; height: 100%; box-sizing: border-box;\">\n                  <div style=\"font-size: 40px; font-weight: 700; color: #3498db; margin-bottom: 13px;\">700</div>\n                  <h3 style=\"font-size: 19px; margin-bottom: 8px;\">Usuarios Corporativos</h3>\n                  <p style=\"font-size:16px; margin-top:0;\">Utilizando OpenWebUI en servidores locales con API de ChatGPT\n                  </p>\n                  <p style=\"font-size:16px;\">Consumiendo API 10M Tk/User (Heavy User)</p>\n                  <p style=\"font-size:16px;\">Worst Case USD 4 per User</p>\n                  <p style=\"font-size:16px;\"><strong>TOTAL $ 2.800</strong></p>\n                </div>\n              </td>\n            </tr>\n          </table>\n        </div>\n      </section>\n\n      <section style=\"border-bottom: 1px solid #eee;\">\n        <div class=\"section-padding-wrapper\" style=\"padding: 40px 24px;\">\n          <h2 class=\"h2-style\"\n            style=\"font-size: 26px; color: #2c3e50; margin-top:0; margin-bottom: 19px; position: relative; padding-bottom: 6px;\">\n            Arquitectura y Control de Acceso OpenWebUI</h2>\n          <div class=\"info-box\"\n            style=\"background: #f8f9fa; border-left: 4px solid #3498db; padding: 24px; margin: 24px 0; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.05);\">\n            <h3 style=\"margin-top: 0; font-size: 19px;\">Infraestructura Técnica</h3>\n            <p style=\"font-size:16px;\"><strong>Plataforma:</strong> Kubernetes para orquestación y escalabilidad</p>\n            <p style=\"font-size:16px;\"><strong>Autenticación:</strong> Integración LDAP con Active Directory o SSO para\n              gestión centralizada</p>\n            <p style=\"font-size:16px;\"><strong>Almacenamiento:</strong> Base de datos SQLite/PostgreSQL para gestión\n              local</p>\n          </div>\n\n          <h3 style=\"font-size: 19px; margin-top: 32px; margin-bottom: 16px;\">Perfiles de Usuario</h3>\n          <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"margin: 32px 0;\">\n            <tr>\n              <td width=\"50%\" style=\"padding-right: 12px; padding-bottom: 24px; vertical-align: top;\">\n                <div class=\"card-style-perfiles\"\n                  style=\"background: white; border-radius: 12px; padding: 24px; border: 1px solid #e9ecef; box-shadow: 0 3px 10px rgba(0,0,0,0.05); height: 100%; box-sizing: border-box;\">\n                  <div style=\"display: flex; align-items: center; margin-bottom: 16px;\">\n                    <div\n                      style=\"width: 40px; height: 40px; border-radius: 50%; margin-right: 16px; display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; background: #95a5a6; font-size:16px;\">\n                      B</div>\n                    <h4 style=\"font-size: 18px; margin:0;\">Básico</h4>\n                  </div>\n                  <p style=\"font-size:16px; margin:0;\">Solo chat con GPT-4.1 Nano, funciones avanzadas deshabilitadas\n                  </p>\n                </div>\n              </td>\n              <td width=\"50%\" style=\"padding-left: 12px; padding-bottom: 24px; vertical-align: top;\">\n                <div class=\"card-style-perfiles\"\n                  style=\"background: white; border-radius: 12px; padding: 24px; border: 1px solid #e9ecef; box-shadow: 0 3px 10px rgba(0,0,0,0.05); height: 100%; box-sizing: border-box;\">\n                  <div style=\"display: flex; align-items: center; margin-bottom: 16px;\">\n                    <div\n                      style=\"width: 40px; height: 40px; border-radius: 50%; margin-right: 16px; display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; background: #f39c12; font-size:16px;\">\n                      M</div>\n                    <h4 style=\"font-size: 18px; margin:0;\">Medio</h4>\n                  </div>\n                  <p style=\"font-size:16px; margin:0;\">GPT-4.1 Nano y Knowledge Base</p>\n                </div>\n              </td>\n            </tr>\n            <tr>\n              <td width=\"50%\" style=\"padding-right: 12px; padding-bottom: 24px; vertical-align: top;\">\n                <div class=\"card-style-perfiles\"\n                  style=\"background: white; border-radius: 12px; padding: 24px; border: 1px solid #e9ecef; box-shadow: 0 3px 10px rgba(0,0,0,0.05); height: 100%; box-sizing: border-box;\">\n                  <div style=\"display: flex; align-items: center; margin-bottom: 16px;\">\n                    <div\n                      style=\"width: 40px; height: 40px; border-radius: 50%; margin-right: 16px; display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; background: #e74c3c; font-size:16px;\">\n                      A</div>\n                    <h4 style=\"font-size: 18px; margin:0;\">Avanzado</h4>\n                  </div>\n                  <p style=\"font-size:16px; margin:0;\">GPT-4.1 Mini, Code Interpreter, generación de imágenes y\n                    Knowledge Base</p>\n                </div>\n              </td>\n              <td width=\"50%\" style=\"padding-left: 12px; padding-bottom: 24px; vertical-align: top;\">\n                <div class=\"card-style-perfiles\"\n                  style=\"background: white; border-radius: 12px; padding: 24px; border: 1px solid #e9ecef; box-shadow: 0 3px 10px rgba(0,0,0,0.05); height: 100%; box-sizing: border-box;\">\n                  <div style=\"display: flex; align-items: center; margin-bottom: 16px;\">\n                    <div\n                      style=\"width: 40px; height: 40px; border-radius: 50%; margin-right: 16px; display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; background: #9b59b6; font-size:16px;\">\n                      S</div>\n                    <h4 style=\"font-size: 18px; margin:0;\">Supervisor</h4>\n                  </div>\n                  <p style=\"font-size:16px; margin:0;\">Capacidades avanzadas más acceso a reportes de uso</p>\n                </div>\n              </td>\n            </tr>\n            <tr>\n              <td width=\"50%\" style=\"padding-right: 12px; vertical-align: top;\">\n                <div class=\"card-style-perfiles\"\n                  style=\"background: white; border-radius: 12px; padding: 24px; border: 1px solid #e9ecef; box-shadow: 0 3px 10px rgba(0,0,0,0.05); height: 100%; box-sizing: border-box;\">\n                  <div style=\"display: flex; align-items: center; margin-bottom: 16px;\">\n                    <div\n                      style=\"width: 40px; height: 40px; border-radius: 50%; margin-right: 16px; display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; background: #2c3e50; font-size:16px;\">\n                      A</div>\n                    <h4 style=\"font-size: 18px; margin:0;\">Administrador</h4>\n                  </div>\n                  <p style=\"font-size:16px; margin:0;\">Control total de la plataforma</p>\n                </div>\n              </td>\n              <td width=\"50%\" style=\"padding-left: 12px; vertical-align: top;\">\n              </td>\n            </tr>\n          </table>\n        </div>\n      </section>\n\n      <section style=\"border-bottom: 1px solid #eee;\">\n        <div class=\"section-padding-wrapper\" style=\"padding: 40px 24px;\">\n          <h2 class=\"h2-style\"\n            style=\"font-size: 26px; color: #2c3e50; margin-top:0; margin-bottom: 19px; position: relative; padding-bottom: 6px;\">\n            Control y Monitoreo de Consumo</h2>\n          <div class=\"info-box\"\n            style=\"background: #f8f9fa; border-left: 4px solid #3498db; padding: 24px; margin: 24px 0; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.05);\">\n            <h3 style=\"margin-top: 0; font-size: 19px;\">Límites y Controles</h3>\n            <p style=\"font-size:16px;\"><strong>Presupuesto:</strong> $4 USD por usuario</p>\n            <p style=\"font-size:16px;\"><strong>Revisión:</strong> Semanal de tokens y costos por modelo</p>\n            <p style=\"font-size:16px;\"><strong>Restricciones:</strong> GPT-4.1 Mini solo para perfil Avanzado</p>\n          </div>\n\n          <div class=\"list-box\" style=\"background: #f8f9fa; border-radius: 10px; padding: 24px; margin: 16px 0;\">\n            <h3 style=\"margin-top: 0; font-size: 19px; margin-bottom: 16px;\">Herramientas de Monitoreo</h3>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\"><strong>Langfuse:</strong> Registro detallado de interacciones por usuario y\n                modelo</div>\n            </div>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\"><strong>Rate Limit Pipeline:</strong> Control de tokens máximo por usuario\n              </div>\n            </div>\n            <div style=\"display: flex; align-items: flex-start; margin-bottom: 0; padding-bottom: 0;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\"><strong>Informes Mensuales:</strong> Reporte de consumo por usuario</div>\n            </div>\n          </div>\n        </div>\n      </section>\n\n      <section style=\"border-bottom: 1px solid #eee;\">\n        <div class=\"section-padding-wrapper\" style=\"padding: 40px 24px;\">\n          <h2 class=\"h2-style\"\n            style=\"font-size: 26px; color: #2c3e50; margin-top:0; margin-bottom: 19px; position: relative; padding-bottom: 6px;\">\n            Proceso de Implementación</h2>\n          <div style=\"counter-reset: step-counter;\">\n            <div\n              style=\"counter-increment: step-counter; margin-bottom: 24px; padding: 24px; background: white; border-radius: 10px; border-left: 4px solid #3498db; box-shadow: 0 2px 8px rgba(0,0,0,0.05); position: relative;\">\n              <div\n                style=\"position: absolute; left: -15px; top: 24px; background: #3498db; color: white; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 14px;\">\n                1</div>\n              <div style=\"font-weight: 600; color: #2c3e50; margin-bottom: 8px; margin-left: 16px; font-size:16px;\">\n                Análisis y Planeación</div>\n              <div style=\"color: #666; margin-left: 16px; font-size:16px;\">Definir requisitos, dimensionar servidores,\n                obtener clave OpenAI</div>\n            </div>\n            <div\n              style=\"counter-increment: step-counter; margin-bottom: 24px; padding: 24px; background: white; border-radius: 10px; border-left: 4px solid #3498db; box-shadow: 0 2px 8px rgba(0,0,0,0.05); position: relative;\">\n              <div\n                style=\"position: absolute; left: -15px; top: 24px; background: #3498db; color: white; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 14px;\">\n                2</div>\n              <div style=\"font-weight: 600; color: #2c3e50; margin-bottom: 8px; margin-left: 16px; font-size:16px;\">\n                Preparación de Infraestructura</div>\n              <div style=\"color: #666; margin-left: 16px; font-size:16px;\">Configurar Kubernetes, dimensionar para 600\n                usuarios</div>\n            </div>\n            <div\n              style=\"counter-increment: step-counter; margin-bottom: 24px; padding: 24px; background: white; border-radius: 10px; border-left: 4px solid #3498db; box-shadow: 0 2px 8px rgba(0,0,0,0.05); position: relative;\">\n              <div\n                style=\"position: absolute; left: -15px; top: 24px; background: #3498db; color: white; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 14px;\">\n                3</div>\n              <div style=\"font-weight: 600; color: #2c3e50; margin-bottom: 8px; margin-left: 16px; font-size:16px;\">\n                Instalación de OpenWebUI</div>\n              <div style=\"color: #666; margin-left: 16px; font-size:16px;\">Desplegar, configurar variables (API key,\n                LDAP, roles)</div>\n            </div>\n            <div\n              style=\"counter-increment: step-counter; margin-bottom: 24px; padding: 24px; background: white; border-radius: 10px; border-left: 4px solid #3498db; box-shadow: 0 2px 8px rgba(0,0,0,0.05); position: relative;\">\n              <div\n                style=\"position: absolute; left: -15px; top: 24px; background: #3498db; color: white; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 14px;\">\n                4</div>\n              <div style=\"font-weight: 600; color: #2c3e50; margin-bottom: 8px; margin-left: 16px; font-size:16px;\">\n                Configuración de Usuarios</div>\n              <div style=\"color: #666; margin-left: 16px; font-size:16px;\">Importar usuarios, asignar grupos y permisos\n              </div>\n            </div>\n            <div\n              style=\"counter-increment: step-counter; margin-bottom: 24px; padding: 24px; background: white; border-radius: 10px; border-left: 4px solid #3498db; box-shadow: 0 2px 8px rgba(0,0,0,0.05); position: relative;\">\n              <div\n                style=\"position: absolute; left: -15px; top: 24px; background: #3498db; color: white; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 14px;\">\n                5</div>\n              <div style=\"font-weight: 600; color: #2c3e50; margin-bottom: 8px; margin-left: 16px; font-size:16px;\">\n                Pruebas Piloto</div>\n              <div style=\"color: #666; margin-left: 16px; font-size:16px;\">Validar autenticación, permisos y consumo\n              </div>\n            </div>\n            <div\n              style=\"counter-increment: step-counter; margin-bottom: 24px; padding: 24px; background: white; border-radius: 10px; border-left: 4px solid #3498db; box-shadow: 0 2px 8px rgba(0,0,0,0.05); position: relative;\">\n              <div\n                style=\"position: absolute; left: -15px; top: 24px; background: #3498db; color: white; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 14px;\">\n                6</div>\n              <div style=\"font-weight: 600; color: #2c3e50; margin-bottom: 8px; margin-left: 16px; font-size:16px;\">\n                Capacitación Inicial</div>\n              <div style=\"color: #666; margin-left: 16px; font-size:16px;\">Compartir guías y políticas con usuarios\n              </div>\n            </div>\n            <div\n              style=\"counter-increment: step-counter; margin-bottom: 0; padding: 24px; background: white; border-radius: 10px; border-left: 4px solid #3498db; box-shadow: 0 2px 8px rgba(0,0,0,0.05); position: relative;\">\n              <div\n                style=\"position: absolute; left: -15px; top: 24px; background: #3498db; color: white; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 14px;\">\n                7</div>\n              <div style=\"font-weight: 600; color: #2c3e50; margin-bottom: 8px; margin-left: 16px; font-size:16px;\">\n                Lanzamiento General</div>\n              <div style=\"color: #666; margin-left: 16px; font-size:16px;\">Abrir acceso completo y monitorear uso\n                inicial</div>\n            </div>\n          </div>\n        </div>\n      </section>\n\n      <section style=\"border-bottom: 1px solid #eee;\">\n        <div class=\"section-padding-wrapper\" style=\"padding: 40px 24px;\">\n          <h2 class=\"h2-style\"\n            style=\"font-size: 26px; color: #2c3e50; margin-top:0; margin-bottom: 19px; position: relative; padding-bottom: 6px;\">\n            Ciberseguridad y SOC</h2>\n          <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"margin: 32px 0;\">\n            <tr>\n              <td width=\"50%\" style=\"padding-right: 16px; padding-bottom: 32px; vertical-align: top;\">\n                <div class=\"card-style-ciberseguridad\"\n                  style=\"background: #ff6b6b; color: white; padding: 32px; border-radius: 15px; box-shadow: 0 10px 30px rgba(238, 90, 36, 0.3); height: 100%; box-sizing: border-box;\">\n                  <h3 style=\"margin-top:0; margin-bottom: 16px; font-size: 21px;\">🛡️ Seguridad Perimetral</h3>\n                  <ul style=\"margin: 0; padding-left: 19px; font-size:16px; list-style-position: outside;\">\n                    <li>Firewall corporativo con reglas específicas</li>\n                    <li>Segmentación de red (DMZ ligera)</li>\n                    <li>Acceso con MFA</li>\n                    <li>Sistema IPS FortiGate</li>\n                  </ul>\n                </div>\n              </td>\n              <td width=\"50%\" style=\"padding-left: 16px; padding-bottom: 32px; vertical-align: top;\">\n                <div class=\"card-style-ciberseguridad\"\n                  style=\"background: #ff6b6b; color: white; padding: 32px; border-radius: 15px; box-shadow: 0 10px 30px rgba(238, 90, 36, 0.3); height: 100%; box-sizing: border-box;\">\n                  <h3 style=\"margin-top:0; margin-bottom: 16px; font-size: 21px;\">👁️ Monitoreo SOC 24x7</h3>\n                  <ul style=\"margin: 0; padding-left: 19px; font-size:16px; list-style-position: outside;\">\n                    <li>Alertas automáticas de firewall e IPS</li>\n                    <li>Correlación de eventos en SIEM</li>\n                    <li>Logs de acceso y consumo en tiempo real</li>\n                    <li>Protocolo de respuesta a incidentes</li>\n                  </ul>\n                </div>\n              </td>\n            </tr>\n            <tr>\n              <td width=\"50%\" style=\"padding-right: 16px; vertical-align: top;\">\n                <div class=\"card-style-ciberseguridad\"\n                  style=\"background: #ff6b6b; color: white; padding: 32px; border-radius: 15px; box-shadow: 0 10px 30px rgba(238, 90, 36, 0.3); height: 100%; box-sizing: border-box;\">\n                  <h3 style=\"margin-top:0; margin-bottom: 16px; font-size: 21px;\">🔒 Protección de Datos</h3>\n                  <ul style=\"margin: 0; padding-left: 19px; font-size:16px; list-style-position: outside;\">\n                    <li>Cifrado HTTPS/TLS en tránsito</li>\n                    <li>Cifrado de base de datos en reposo</li>\n                    <li>Control de acceso a BD</li>\n                    <li>Respaldos automáticos cifrados</li>\n                  </ul>\n                </div>\n              </td>\n              <td width=\"50%\" style=\"padding-left: 16px; vertical-align: top;\">\n                <div class=\"card-style-ciberseguridad\"\n                  style=\"background: #ff6b6b; color: white; padding: 32px; border-radius: 15px; box-shadow: 0 10px 30px rgba(238, 90, 36, 0.3); height: 100%; box-sizing: border-box;\">\n                  <h3 style=\"margin-top:0; margin-bottom: 16px; font-size: 21px;\">🔍 Auditorías Continuas</h3>\n                  <ul style=\"margin: 0; padding-left: 19px; font-size:16px; list-style-position: outside;\">\n                    <li>Pentesting semestral</li>\n                    <li>Revisión mensual de configuraciones</li>\n                    <li>Evaluaciones trimestrales de cumplimiento</li>\n                    <li>Gestión de vulnerabilidades</li>\n                  </ul>\n                </div>\n              </td>\n            </tr>\n          </table>\n        </div>\n      </section>\n\n      <section style=\"border-bottom: 1px solid #eee;\">\n        <div class=\"section-padding-wrapper\" style=\"padding: 40px 24px;\">\n          <h2 class=\"h2-style\"\n            style=\"font-size: 26px; color: #2c3e50; margin-top:0; margin-bottom: 19px; position: relative; padding-bottom: 6px;\">\n            Políticas Corporativas</h2>\n          <div class=\"list-box\" style=\"background: #f8f9fa; border-radius: 10px; padding: 24px; margin: 16px 0;\">\n            <h3 style=\"margin-top: 0; font-size: 19px; margin-bottom:16px;\">Privacidad de la Información</h3>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #dc3545; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\"><strong>Prohibido:</strong> Ingreso de datos sensibles, personales o secretos\n                comerciales</div>\n            </div>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\"><strong>Retención:</strong> Conversaciones almacenadas por 30 días</div>\n            </div>\n            <div style=\"display: flex; align-items: flex-start; margin-bottom: 0; padding-bottom: 0;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\"><strong>Aviso:</strong> Banner de advertencia antes de un nuevo chat</div>\n            </div>\n          </div>\n\n          <div class=\"list-box\" style=\"background: #f8f9fa; border-radius: 10px; padding: 24px; margin: 16px 0;\">\n            <h3 style=\"margin-top: 0; font-size: 19px; margin-bottom:16px;\">Uso Aceptable</h3>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\"><strong>Permitido:</strong> Borradores, preguntas técnicas, resúmenes</div>\n            </div>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #dc3545; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\"><strong>Prohibido:</strong> Contenido ofensivo, decisiones críticas sin\n                verificación</div>\n            </div>\n            <div style=\"display: flex; align-items: flex-start; margin-bottom: 0; padding-bottom: 0;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\"><strong>Validación:</strong> Verificar información crítica antes de usar\n              </div>\n            </div>\n          </div>\n        </div>\n      </section>\n\n      <section>\n        <div class=\"section-padding-wrapper\" style=\"padding: 40px 24px;\">\n          <h2 class=\"h2-style\"\n            style=\"font-size: 26px; color: #2c3e50; margin-top:0; margin-bottom: 19px; position: relative; padding-bottom: 6px;\">\n            Licenciamiento OpenWebUI</h2>\n          <div class=\"info-box\"\n            style=\"background: #f8f9fa; border-left: 4px solid #3498db; padding: 24px; margin: 24px 0; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.05);\">\n            <h3 style=\"margin-top: 0; font-size: 19px;\">Licencia BSD-3-Clause con Protección de Marca</h3>\n            <p style=\"font-size:16px;\">OpenWebUI permite uso empresarial interno gratuito con ciertas restricciones de\n              marca.</p>\n          </div>\n\n          <div class=\"list-box\" style=\"background: #f8f9fa; border-radius: 10px; padding: 24px; margin: 16px 0;\">\n            <h3 style=\"margin-top: 0; font-size: 19px; margin-bottom:16px;\">Lo Permitido</h3>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\">Uso interno empresarial sin costo</div>\n            </div>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\">Personalización de interfaz y flujos</div>\n            </div>\n            <div style=\"display: flex; align-items: flex-start; margin-bottom: 0; padding-bottom: 0;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\">Ejecución en servidores locales o nube privada</div>\n            </div>\n          </div>\n\n          <div class=\"list-box\" style=\"background: #f8f9fa; border-radius: 10px; padding: 24px; margin: 16px 0;\">\n            <h3 style=\"margin-top: 0; font-size: 19px; margin-bottom:16px;\">Restricciones</h3>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #dc3545; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\">No remover, ocultar o modificar el branding</div>\n            </div>\n            <div\n              style=\"display: flex; align-items: flex-start; margin-bottom: 16px; padding-bottom: 16px; border-bottom: 1px solid #dee2e6;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #dc3545; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\">No comercializar como producto propio</div>\n            </div>\n            <div style=\"display: flex; align-items: flex-start; margin-bottom: 0; padding-bottom: 0;\">\n              <div\n                style=\"width: 20px; height: 20px; background: #28a745; border-radius: 50%; margin-right: 16px; margin-top: 2px; flex-shrink: 0;\">\n              </div>\n              <div style=\"font-size:16px;\">Excepción para uso menor a 50 usuarios en 30 días</div>\n            </div>\n          </div>\n        </div>\n      </section>\n    </div>\n\n    <div style=\"background: #2c3e50; color: white; text-align: center; padding: 24px;\">\n      <p style=\"margin: 0 0 8px 0; font-size:14px;\">&copy; 2025 - Propuesta de Implementación ChatGPT Empresarial</p>\n      <p style=\"margin: 0; font-size:14px;\">Documento técnico para evaluación corporativa</p>\n    </div>\n  </div>\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[220,0],"id":"958839ec-fa1a-4b54-84a1-ee673948d0ee","name":"HTML"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com, sammy@ifxcorp.com, regarcia@ifxcorp.com, scamargo@ifxcorp.com, ezequiel@ifxcorp.com","subject":"Proyecto Plan Empresarial ChatGPT","bodyContent":"={{ $json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[440,0],"id":"59ded143-9fe9-4f9a-afa0-b489510263cd","name":"Microsoft Outlook","webhookId":"12da064b-6084-4691-af9f-57df64a7b612","credentials":{"microsoftOutlookOAuth2Api":{"id":"WVU9558r90tkJoj9","name":"Outlook jaimep@ifxcorp.com"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c78425f1-4200-4799-ac09-840664db9ce1","triggerCount":0,"tags":[]}