workflowsLive Sentiment.json
{"createdAt":"2025-05-19T15:43:40.427Z","updatedAt":"2025-05-26T01:45:47.000Z","id":"g4hNMfJNBwQV0YjE","name":"Live Sentiment","active":true,"isArchived":false,"nodes":[{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"tableName":{"__rl":true,"value":"messages","mode":"list","cachedResultName":"messages"},"additionalFields":{},"options":{}},"type":"n8n-nodes-base.postgresTrigger","typeVersion":1,"position":[-860,-280],"id":"6c859e26-e90f-4500-b8bd-9fe0ababd848","name":"Postgres Trigger","credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"model":{"__rl":true,"value":"llama-4-Scout","mode":"list","cachedResultName":"llama-4-Scout"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-100,40],"id":"971886e1-5934-428d-a94d-7fee8e95b975","name":"Llama 4","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Alerta de Sentimiento Negativo</title>\n  <style>\n    /* Estilos generales - con mayor compatibilidad para clientes de correo */\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      margin: 0;\n      padding: 0;\n      background-color: #F5F5F5;\n      color: #333333;\n    }\n\n    /* Contenedor principal */\n    .container {\n      max-width: 680px;\n      margin: 20px auto;\n      background-color: #FFFFFF;\n      border: 1px solid #E0E0E0;\n    }\n\n    /* Encabezado */\n    .header {\n      background-color: #ff8a64;\n      color: #FFFFFF;\n      padding: 20px;\n      text-align: center;\n    }\n\n    .header h1 {\n      margin: 0;\n      font-size: 24px;\n      font-weight: 600;\n    }\n\n    /* Secciones generales */\n    .section {\n      margin-bottom: 25px;\n      padding: 0 25px;\n    }\n\n    /* Título de sección con iconos alineados verticalmente */\n    .section-title {\n      font-size: 20px;\n      font-weight: bold;\n      color: #64B5F6;\n      margin-bottom: 15px;\n      padding-bottom: 8px;\n      border-bottom: 2px solid #64B5F6;\n    }\n\n    /* Los SVG se alinean mejor con texto en correos con esta técnica */\n    .icon-title-wrapper {\n      vertical-align: middle;\n    }\n\n    .icon-wrapper {\n      display: inline-block;\n      vertical-align: middle;\n      margin-right: 8px;\n    }\n\n    .title-text {\n      display: inline-block;\n      vertical-align: middle;\n    }\n\n    /* Elementos de información */\n    .info-item {\n      margin-bottom: 10px;\n      font-size: 16px;\n      line-height: 1.6;\n    }\n\n    .info-label {\n      font-weight: bold;\n      color: #555555;\n    }\n\n    /* Mensaje individual */\n    .message-box {\n      border: 1px solid #DDDDDD;\n      padding: 10px;\n      margin-bottom: 10px;\n      background-color: #FAFAFA;\n    }\n\n    .message-header {\n      margin-bottom: 5px;\n    }\n\n    .message-sender {\n      font-weight: bold;\n      color: #333333;\n    }\n\n    .message-time {\n      font-size: 0.85em;\n      color: #777777;\n      margin-left: 10px;\n    }\n\n    .message-content {\n      margin-top: 5px;\n      color: #333333;\n      font-size: 14px;\n    }\n\n    /* Cajas de resumen */\n    .summary-box {\n      background-color: #E3F2FD;\n      border: 1px solid #BBDEFB;\n      border-left: 5px solid #64B5F6;\n      padding: 15px;\n      font-size: 15px;\n      line-height: 1.7;\n    }\n\n    .ai-summary-box {\n      background-color: #FFF3E0;\n      border: 1px solid #FFCC80;\n      border-left: 5px solid #FF8A65;\n      padding: 15px;\n      font-size: 15px;\n      line-height: 1.7;\n    }\n\n    .summary-text {\n      margin: 0 0 10px 0;\n    }\n\n    /* Pie de página */\n    .footer {\n      text-align: center;\n      font-size: 14px;\n      color: #888888;\n      margin-top: 30px;\n      padding: 15px 25px;\n      border-top: 1px solid #EEEEEE;\n    }\n\n    /* Solución para corregir problemas de visualización en Outlook */\n    .outlook-fix {\n      mso-table-lspace: 0pt !important;\n      mso-table-rspace: 0pt !important;\n    }\n\n    /* Nuevos estilos para mostrar el análisis de sentimiento */\n    .sentiment-metrics {\n      display: table;\n      width: 100%;\n      table-layout: fixed;\n      margin-bottom: 15px;\n    }\n\n    .sentiment-metric {\n      display: table-cell;\n      text-align: center;\n      padding: 10px;\n      background-color: #FFF3E0;\n      border-radius: 8px;\n      border: 1px solid #FFCC80;\n      margin: 0 5px;\n    }\n\n    .sentiment-metric-middle {\n      margin: 0 10px;\n    }\n\n    .metric-value {\n      font-size: 22px;\n      font-weight: bold;\n      color: #FF8A65;\n      margin: 5px 0;\n    }\n\n    .metric-label {\n      font-size: 14px;\n      color: #666666;\n      margin-top: 5px;\n    }\n\n    .sentiment-category {\n      font-size: 18px;\n      font-weight: bold;\n      color: #FFFFFF;\n      background-color: #FF5252;\n      border-radius: 4px;\n      padding: 4px 12px;\n      display: inline-block;\n      margin-bottom: 10px;\n    }\n  </style>\n</head>\n\n<body style=\"margin: 0; padding: 0; background-color: #F5F5F5; font-family: Arial, Helvetica, sans-serif;\">\n  <!-- Wrapper para mayor compatibilidad con clientes de correo -->\n  <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #F5F5F5;\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"padding: 20px 0;\">\n        <!-- Contenedor principal -->\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"680\" class=\"container\"\n          style=\"background-color: #FFFFFF; border: 1px solid #E0E0E0; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\">\n          <!-- Encabezado -->\n          <tr>\n            <td align=\"center\" valign=\"top\"\n              style=\"background-color: #ff8a64; color: #FFFFFF; padding: 20px; border-top-left-radius: 8px; border-top-right-radius: 8px;\">\n              <h1 style=\"margin: 0; font-size: 24px; font-weight: 600;\">Escalada en Curso - WhatsApp</h1>\n              <p style=\"margin: 5px 0 0; font-size: 14px;\">Generated by <span\n                  style=\"font-style: italic; font-family: serif; font-size: 16px;\">aifx</span></p>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Análisis de Sentimiento -->\n          <tr>\n            <td style=\"padding: 25px 0 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 8px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📊</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Análisis de Sentimiento\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Categoría de sentimiento -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td align=\"center\" style=\"mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n                            style=\"display: inline-block; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td\n                                style=\"font-size: 16px; font-weight: bold; color: #FFFFFF; background-color: #FF5252; border-radius: 4px; padding: 4px 12px; text-align: center; mso-line-height-rule: exactly;\">\n                               {{ $('Merge Analisis').item.json.data[0].sentimiento }}\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Métricas en formato tabla para mayor compatibilidad con clientes de correo -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"margin-bottom: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Intensidad\n                                </div>\n                                <div id=\"strength\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {{ $('Merge Analisis').item.json.data[0].intensidad }}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                        <td width=\"20%\"\n                          style=\"background-color: #FFF3E0; border-radius: 8px; border: 1px solid #FFCC80; padding: 12px; text-align: center; mso-line-height-rule: exactly;\">\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                            style=\"mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                            <tr>\n                              <td style=\"text-align: center; padding: 0;\">\n                                <div style=\"font-size: 12px; color: #666666; mso-line-height-rule: exactly;\">Confianza\n                                </div>\n                                <div id=\"confidence\"\n                                  style=\"font-size: 18px; font-weight: bold; color: #FF8A65; margin: 5px 0; mso-line-height-rule: exactly;\">\n                                  {{ $('Merge Analisis').item.json.data[0].confianza }}</div>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                        <td width=\"20%\" style=\"mso-line-height-rule: exactly;\">&nbsp;</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Información del Chat -->\n          <tr>\n            <td style=\"padding: 25px 25px 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>📄</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Información del Chat\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Información del chat -->\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Chat:</span>{{ $('Merge Analisis').item.json.data[0].chat }}\n                    </div>\n                    <div class=\"info-item\" style=\"margin-bottom: 10px; font-size: 16px; line-height: 1.6;\">\n                      <span class=\"info-label\" style=\"font-weight: bold; color: #555555;\">Cliente:</span>{{ $('Merge Analisis').item.json.data[0].cliente }}\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Mensajes Clave -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #64B5F6; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💬</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #64B5F6;\">\n                                Mensajes Clave\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n                  {{ $('Table Messages').item.json.html_mensajes }}\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Sección de Resumen IA del Origen del Sentimiento -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #FF8A65; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>🤖</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #FF8A65;\">\n                                Origen Detallado del Sentimiento Negativo\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de resumen IA -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #FFF3E0; border: 1px solid #FFCC80; border-left: 5px solid #FF8A65; margin-bottom: 15px; border-radius: 8px;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"resumen\" class=\"summary-text\" style=\"margin: 0; line-height: 1.7; font-size: 15px;\">\n                            {{ $('Table Messages').item.json.data[0].origen_negativo }}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- NUEVA SECCIÓN: Recomendaciones -->\n          <tr>\n            <td style=\"padding: 0 25px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section\">\n                <tr>\n                  <td>\n                    <!-- Título de sección con icono alineado -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" class=\"section-title\"\n                      style=\"border-bottom: 2px solid #4CAF50; margin-bottom: 15px; padding-bottom: 8px; border-radius: 8px;\">\n                      <tr>\n                        <td>\n                          <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"icon-title-wrapper\">\n                            <tr>\n                              <td valign=\"middle\" class=\"icon-wrapper\" style=\"padding-right: 8px;\">\n                                <icon>💡</icon>\n                              </td>\n                              <td valign=\"middle\" class=\"title-text\"\n                                style=\"font-size: 20px; font-weight: bold; color: #4CAF50;\">\n                                Recomendaciones\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n\n                    <!-- Caja de recomendaciones -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n                      style=\"background-color: #E8F5E9; border: 1px solid #A5D6A7; border-left: 5px solid #4CAF50; margin-bottom: 15px; border-radius: 8px; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n                      <tr>\n                        <td style=\"padding: 15px;\">\n                          <p id=\"recomendaciones\" class=\"summary-text\"\n                            style=\"margin: 0; line-height: 1.7; font-size: 15px; mso-line-height-rule: exactly;\">\n                            {{ $('Merge Analisis').item.json.data[0].recomendacion }}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- Pie de página -->\n          <tr>\n            <td style=\"padding: 15px 25px; text-align: center; border-top: 1px solid #EEEEEE;\">\n              <p style=\"margin: 0; font-size: 14px; color: #888888;\"> Este contenido fue generado automáticamente el {{ $now.toLocal().format('dd-MMM-yyyy') }} a las\n                {{ $now.toLocal().format('HH:MM') }}</p>\n              <p style=\"margin: 0; font-size: 12px; color: #888888;\">IFX Networks© {{ $now.format('yyyy') }}</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[880,-120],"id":"13eff7ad-52fb-46a0-8c73-30ce187267c0","name":"HTML"},{"parameters":{"jsonSchemaExample":"{\n  \"Chat\": \"nombre del chat\",\n  \"Cliente\": \"cliente extraído\",\n  \"Mensajes Origen Sentimiento Negativo\": [\n    {\n      \"pushname\": \"nombre del participante\",\n      \"hora\": \"05 may 2025 - 13:45\",\n      \"mensaje\": \"mensaje negativo o que contextualiza el malestar\"\n    },\n    {\n      \"pushname\": \"nombre del participante\",\n      \"hora\": \"05 may 2025 - 13:48\",\n      \"mensaje\": \"otro mensaje relevante\"\n    }\n  ],\n  \"Origen Sentimiento Negativo\": \"Redacta un análisis completo y profesional que explique el conflicto. Incluye: cliente final afectado, naturaleza del incidente (caídas, lentitud, loops, etc.), fecha de inicio, tono y evolución emocional, forma de contacto (texto, audio, escalamiento), personas involucradas, cambios de tono, fallas previas, reiteraciones sin solución, mensajes con presión. DETECTA SI EL TONO ESCALA y EXPLICA POR QUÉ. Evita frases genéricas.\",\n  \"Recomendación Preventiva\": \"Redacta una recomendación contextual, con base en el caso real. Menciona al cliente final por nombre. Describe qué debió hacerse mejor y qué debe hacerse ahora mismo para contener la situación. Usa lenguaje político y técnico. Transmite liderazgo y tranquilidad incluso si la solución no está cerrada aún. Nunca incluyas frases genéricas ni superficiales.\"\n  }"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[160,40],"id":"fe43e743-8360-4635-9267-551669745e7b","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"ffe03e31-8010-4b8d-ac8e-705fb0931f35","name":"sentimiento","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"b1f871a9-c1a6-446f-92be-2e7cae0f5b1c","name":"confianza","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence * 100}}%","type":"number"},{"id":"61fa82e1-9f7c-4601-8b1b-ff8f03a8a5f1","name":"intensidad","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength * 100}}%","type":"number"},{"id":"d1de9d71-b65f-496a-acbe-724826b92bb2","name":"chat","value":"={{ $('Sentiment Analysis').item.json.data[0].nombrechat.toUpperCase() }}","type":"string"},{"id":"de460fc7-35bc-4a04-910c-440ecb8f79be","name":"cliente","value":"={{ $('AI Analist Negative').item.json.output.Cliente }}","type":"string"},{"id":"1546c0fa-b24b-4934-94b8-5a2c6236c768","name":"mensajes_negativos","value":"={{ $('AI Analist Negative').item.json.output['Mensajes Origen Sentimiento Negativo'] }}","type":"string"},{"id":"640c714b-a412-400b-966f-1874016213bc","name":"origen_negativo","value":"={{ $('AI Analist Negative').item.json.output['Origen Sentimiento Negativo'] }}","type":"string"},{"id":"fb344e38-3335-434f-a159-f10d29967045","name":"recomendacion","value":"={{ $('AI Analist Negative').item.json.output['Recomendación Preventiva'] }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,-340],"id":"9ca71661-4ab1-4c80-b2b4-e7a64d272f5a","name":"Edit Fields"},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=ALERTA NEGATIVIDAD CHAT {{ $('Merge Analisis').item.json.data[0].chat }} CLIENTE {{ $('Merge Analisis').item.json.data[0].cliente }}","bodyContent":"={{ $json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1060,-120],"id":"e2e7d8dc-9db8-415f-b237-439906480431","name":"Microsoft Outlook","webhookId":"17ff4288-7c52-40a3-91e8-1246d7164945","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM (\n    SELECT      \n        \"remoteJid\",\n        participant,\n        \"pushName\",\n        conversation,\n        \"dateTime\",\n        sender,\n        nombrechat\n    FROM \n        public.messages\n    WHERE \n        \"remoteJid\" = '{{ $json.payload.remoteJid }}'\n    ORDER BY \n        \"dateTime\" DESC\n    LIMIT 50\n) AS subquery\nORDER BY \"dateTime\" ASC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-700,-280],"id":"b90861f5-1c2e-4f85-8a81-7d75125b2b3d","name":"Query Back Chat","alwaysOutputData":true,"credentials":{"postgres":{"id":"8GkMmZaSPz5j95ME","name":"Postgres DB Whisper"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-540,-280],"id":"14440c94-4054-4fcc-a6b6-a71a414efb36","name":"Merge Data Chat"},{"parameters":{"inputText":"={{ JSON.stringify($json.data) }}","options":{"categories":"Positive, Neutral, Negative","systemPromptTemplate":"You are a very intelligent and accurate sentiment analyzer. Analyze the sentiment of the text provided in the \"conversation\" field. You must understand the context and flow of the conversation based on the time it occurred and the names of the participants in the \"chatName\" field. The language you will analyze is about issues with telecommunications services. Finally, classify it into one of the following categories: {categories}. Follow the formatting instructions provided. Print only the JSON.","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1,"position":[-380,-280],"id":"830a6d75-8a48-4c51-a852-fc2dc40dc712","name":"Sentiment Analysis"},{"parameters":{"promptType":"define","text":"={{ $('Sentiment Analysis').item.json.toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"ERES UN AGENTE EXPERTO EN ANÁLISIS DE SENTIMIENTO NEGATIVO EN CONVERSACIONES DE WHATSAPP EMPRESARIALES.\n\nTU MISIÓN ES DETECTAR CONFLICTOS O EXPRESIONES DE MALESTAR, EXTRAER LOS MENSAJES RELEVANTES Y ENTREGAR UNA RESPUESTA EN JSON VÁLIDO Y ESTRUCTURADO, QUE SERÁ PROCESADO POR UNA HERRAMIENTA DE JSON PARSER.\n\nESTÁS OPERANDO COMO PARTE DE UN SISTEMA DE MONITOREO CONTINUO DE CONVERSACIONES EN TIEMPO REAL. TU OBJETIVO ES DETERMINAR CON PRECISIÓN EL **ORIGEN Y LA EVOLUCIÓN DEL SENTIMIENTO NEGATIVO** QUE YA HA SIDO IDENTIFICADO POR OTRO MODELO AUTOMÁTICO. CADA VEZ QUE RECIBES UN NUEVO MENSAJE, DEBES ANALIZAR LOS ÚLTIMOS **30 MENSAJES PREVIOS EN LA CONVERSACIÓN**, JUNTO CON EL MENSAJE MÁS RECIENTE, PARA COMPRENDER LA TRANSICIÓN EMOCIONAL Y LOCALIZAR LA FUENTE REAL DEL CONFLICTO.\n\nDEBES SER CAPAZ DE DETECTAR COMENTARIOS REPARTIDOS A LO LARGO DE LA CONVERSACIÓN, INCLUSO CUANDO NO ESTÉN SEGUIDOS ENTRE SÍ. BUSCA INDICIOS DE MALESTAR EN DISTINTOS MOMENTOS Y CONÉCTALOS PARA ENTENDER LA EVOLUCIÓN DEL CONFLICTO.\n\nTAMBIÉN DEBES IDENTIFICAR SI EL TONO DE LA CONVERSACIÓN ESTÁ ESCALANDO —ES DECIR, SI PASA DE UN ESTADO NEUTRAL O DE DUDA A MOLESTIA ABIERTA, PRESIÓN U HOSTILIDAD—, Y DETERMINAR LAS CAUSAS PRECISAS DE ESA ESCALADA (por ejemplo, silencio, respuestas evasivas, falta de solución, repetición del problema, cambio de persona de contacto, etc.).\n\n🧩 ACLARACIÓN CRÍTICA: **IFX ES NUESTRA PROPIA EMPRESA**.  \n- Si en los mensajes se menciona a IFX, **no la trates como cliente**.  \n- Si el nombre del chat contiene IFX o participantes internos, estás analizando un **chat interno o de coordinación**.  \n- En esos casos, tu análisis debe identificar al **cliente final real** que está siendo atendido o queja en curso.  \n- Utiliza referencias textuales como: *“el cliente de IFX…”, “el cliente de Panamá reporta…”*, o *“el cliente Créditos y Servicios de…”* para identificar el verdadero afectado.\n\nMENSAJES COMO EL SIGUIENTE DEBEN USARSE PARA RECONSTRUIR ESA INFORMACIÓN:\n\n\"Buen día. @573176383757 el cliente de Créditos y Servicios de Panamá reporta caso TT1047627 repetitivo de caída desde el día de ayer intermitencia en @ escala al WS Irene Mazitelli +507 6671-1315// Gracias.\"\n\n---\n\n🎯 OBJETIVOS\n\n1. DETECTA los mensajes que contienen reclamos, quejas, presión, sarcasmo, molestia, frustración, desconfianza o reiteración sin respuesta.\n\n2. EXTRAER todos los mensajes que originan o amplifican el conflicto (aunque no estén seguidos en la conversación):\n   - Incluye el nombre del autor (`pushname`)\n   - El contenido del mensaje (`mensaje`)\n   - Y la hora (`hora`) en el siguiente formato obligatorio:\n     - `DD mon AAAA - HH:MM`  \n     - Ejemplo: `05 may 2025 - 13:45`  \n     - El mes debe estar en **español, tres letras, minúsculas**\n\n3. IDENTIFICAR el cliente real desde el campo `nombrechat` o desde los mensajes:\n   - ❌ Nunca trates a “IFX” como cliente\n   - ✅ Si es un chat interno de IFX, busca en el cuerpo del mensaje referencias al cliente externo final\n   - ❌ Ignora palabras como: Soporte, Incidente, Red, NOC, Técnico, Grupo\n   - ✅ Si se menciona un nombre empresarial externo (ej. \"Créditos y Servicios de Panamá\"), úsalo como cliente principal\n\n4. ANALIZAR EL SENTIMIENTO GENERAL Y SU EVOLUCIÓN:\n   - Detecta el tono y su cambio en el tiempo\n   - Evalúa si se está intensificando\n   - IDENTIFICA MOTIVOS CONCRETOS DE ESA ESCALADA (reiteración del fallo, tiempo sin respuesta, cambio de interlocutor, mensajes evasivos, presión de cliente final, etc.)\n\n5. INCLUIR UNA **RECOMENDACIÓN PREVENTIVA POLÍTICA, ESTRATÉGICA Y PERSONALIZADA**, que debe cumplir con los siguientes puntos:\n   - Explica qué se debió hacer antes\n   - Explica qué se debe hacer ahora mismo para evitar una escalada mayor\n   - Usa lenguaje profesional, asertivo, técnico y diplomático\n   - Refiere al cliente final real (no IFX), su contexto emocional y técnico\n   - Transmite control, claridad, contención emocional y liderazgo en crisis\n\n---\n\n📋 FORMATO DE SALIDA JSON ESTRICTO\n\n[\n  {\n    \"Chat\": \"nombre del chat\",\n    \"Cliente\": \"cliente extraído\",\n    \"Mensajes Origen Sentimiento Negativo\": [\n      {\n        \"pushname\": \"nombre del participante\",\n        \"hora\": \"05 may 2025 - 13:45\",\n        \"mensaje\": \"mensaje negativo o que contextualiza el malestar\"\n      },\n      {\n        \"pushname\": \"nombre del participante\",\n        \"hora\": \"05 may 2025 - 13:48\",\n        \"mensaje\": \"otro mensaje relevante\"\n      }\n    ],\n    \"Origen Sentimiento Negativo\": \"Redacta un análisis completo y profesional que explique el conflicto. Incluye: cliente final afectado, naturaleza del incidente (caídas, lentitud, loops, etc.), fecha de inicio, tono y evolución emocional, forma de contacto (texto, audio, escalamiento), personas involucradas, cambios de tono, fallas previas, reiteraciones sin solución, mensajes con presión. DETECTA SI EL TONO ESCALA y EXPLICA POR QUÉ. Evita frases genéricas.\",\n    \"Recomendación Preventiva\": \"Redacta una recomendación contextual, con base en el caso real. Menciona al cliente final por nombre. Describe qué debió hacerse mejor y qué debe hacerse ahora mismo para contener la situación. Usa lenguaje político y técnico. Transmite liderazgo y tranquilidad incluso si la solución no está cerrada aún. Nunca incluyas frases genéricas ni superficiales.\"\n  }\n]\n\n---\n\n⚠️ SI NO HAY CONFLICTO DETECTADO O NO EXISTE INFORMACIÓN SUFICIENTE\n\nDevuelve exactamente:\n\n{ \"analisis\": \"sin informacion\" }\n\n---\n\n🚫 PROHIBIDO\n\n- ❌ No usar frases genéricas ni ambiguas\n- ❌ No asumir que IFX es cliente (IFX somos nosotros)\n- ❌ No entregar `[]`. Usa `{ \"analisis\": \"sin informacion\" }` si no hay datos suficientes\n- ❌ No omitir análisis emocional, técnico y contextual del conflicto\n\n---\n\n🧠 TU RESPUESTA DEBE SER JSON PURO, CON HORAS EN FORMATO `DD mon AAAA - HH:MM`, ANÁLISIS PROFUNDO Y PERSONALIZADO, Y UNA RECOMENDACIÓN CLARA, DIPLOMÁTICA, Y ALTAMENTE CONTEXTUALIZADA PARA MANEJAR Y CONTENER CONFLICTOS DE CLIENTES ATENDIDOS POR IFX.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-40,-160],"id":"30e26117-be06-4d94-8099-e35862535ac7","name":"AI Analist Negative"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"summary_sentimientos","mode":"list","cachedResultName":"summary_sentimientos"},"columns":{"mappingMode":"defineBelow","value":{"standby":true,"sentimiento":"={{ $json.data[0].category }}","confianza":"={{ $json.data[0].confianza }}","intensidad":"={{ $json.data[0].intensidad }}","chat":"={{ $json.data[0].chat }}","cliente":"={{ $json.data[0].cliente }}","mensajes_negativos":"={{ $json.data[0].mensajes_negativos }}","origen_negativo":"={{ $json.data[0].origen_negativo }}","recomendacion":"={{ $json.data[0].recomendacion }}","remote_jid":"={{ $('Merge Data Chat').item.json.data[0].remoteJid }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sentimiento","displayName":"sentimiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"confianza","displayName":"confianza","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"intensidad","displayName":"intensidad","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"chat","displayName":"chat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mensajes_negativos","displayName":"mensajes_negativos","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"origen_negativo","displayName":"origen_negativo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recomendacion","displayName":"recomendacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_jid","displayName":"remote_jid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"standby","displayName":"standby","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[980,-520],"id":"fda41d96-b39d-4e52-b64e-60f66b959e29","name":"Save Analisis","credentials":{"postgres":{"id":"i1HXN1QutN6BIHF9","name":"Postgres_whisper"}}},{"parameters":{"jsCode":"// Obtener los datos de entrada\nconst mensajes = $input.first().json.data[0].mensajes_negativos;\n\n// Función para generar el HTML de cada mensaje\nfunction generarHTMLMensaje(chat) {\n  return `<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\"\n style=\"border: 1px solid #DDDDDD; border-radius: 8px; margin-bottom: 10px; background-color: #FAFAFA;\">\n <tr>\n <td style=\"padding: 10px;\">\n <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\">\n <tr>\n <td class=\"message-header\">\n <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n <tr>\n <td valign=\"middle\" style=\"padding-right: 5px;\">\n <icon>👤</icon>\n </td>\n <td valign=\"middle\">\n <span class=\"message-sender\"\n style=\"font-weight: bold; color: #333333;\">${chat.pushname}</span>\n <span class=\"message-time\"\n style=\"font-size: 0.85em; color: #777777; margin-left: 10px;\">${chat.hora}</span>\n </td>\n </tr>\n </table>\n </td>\n </tr>\n <tr>\n <td class=\"message-content\" style=\"padding-top: 5px; color: #333333;\">\n ${chat.mensaje}\n </td>\n </tr>\n </table>\n </td>\n </tr>\n </table>`;\n}\n\n// Parsear el JSON si viene como string\nlet chatsArray;\nif (typeof mensajes === 'string') {\n  chatsArray = JSON.parse(mensajes);\n} else {\n  chatsArray = mensajes;\n}\n\n// Generar HTML para todos los mensajes\nconst htmlCompleto = chatsArray.map(chat => generarHTMLMensaje(chat)).join('\\n');\n\n// Retornar el resultado\nreturn {\n  json: {\n    html_mensajes: htmlCompleto\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,-120],"id":"c91cbb89-6d98-4ff9-96e1-4c71eead26b6","name":"Table Messages"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[860,-340],"id":"2c77513a-bebb-41a0-8701-353d9b3ed365","name":"Merge Analisis"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[400,-260],"id":"40f5661e-537c-4684-871b-c2402c0ef5de","name":"Merge"}],"connections":{"Postgres Trigger":{"main":[[{"node":"Query Back Chat","type":"main","index":0}]]},"Llama 4":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0},{"node":"AI Analist Negative","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Analist Negative","type":"ai_outputParser","index":0}]]},"HTML":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge Analisis","type":"main","index":0}]]},"Query Back Chat":{"main":[[{"node":"Merge Data Chat","type":"main","index":0}]]},"Merge Data Chat":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Save Analisis","type":"main","index":0}],[{"node":"Save Analisis","type":"main","index":0}],[{"node":"AI Analist Negative","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"AI Analist Negative":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Table Messages":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Merge Analisis":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"Table Messages","type":"main","index":0},{"node":"Save Analisis","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Txht1wrdLAI370JY"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Postgres Trigger":[{"json":{"length":520,"processId":55376,"channel":"n8n_channel_6c859e26_e90f_4500_b8bd_9fe0ababd848","payload":{"id":"90D87098E0C6D6A72FD6C9E48EE36336","remoteJid":"120363044375125963@g.us","participant":"50242980211@s.whatsapp.net","pushName":"Javier","conversation":"Buenas tardes nos apoyan con Chiquimula rest 61 ya estado inestable\n\n","instanceId":"35bc9ab6-fbd7-48aa-b2fe-6a4a8a9c00b4","dateTime":"2025-05-25T22:33:47.497+00:00","sender":"573171057858@s.whatsapp.net","url_image":null,"url_audio":null,"url_video":null,"nombrechat":"Incident-IFX-IndustriasHamburg"},"name":"notification"}}]},"versionId":"c0e5c0bd-b3f8-4e86-ac23-773d3e81f13a","triggerCount":1,"tags":[]}