workflowsChat IA v1.0.json
{"createdAt":"2025-04-09T19:41:25.137Z","updatedAt":"2025-05-16T12:57:14.000Z","id":"FRs9Q4wSKR7f8Jl7","name":"Chat IA v1.0","active":false,"nodes":[{"parameters":{"promptType":"define","text":"=Eres un asistente que responde preguntas {{ $json.body.user_message }} sobre servicios y tickets de un cliente.\n\n","options":{"systemMessage":"=Responde solo mensajes en base a los servicios conectados \n-Tickets\n-Servicios\n\n\nEnvia al mcp los parametros \n\ntoke:{{ $json.body.token }}\nuserid:{{ $json.body.userid }}\ncustomerid: {{ $json.body.clientid }}\n\nAnaliza la informacion del servidor mcp y responde de forma clara y corta.\n\nNo inventes informacion, responde solo lo consultado.\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1020,-580],"id":"9f89b8f9-727e-422c-99b7-bf0cd13b7186","name":"AI Agent","alwaysOutputData":true,"disabled":true},{"parameters":{"model":{"__rl":true,"value":"llama-3.3-70B-Instruct","mode":"list","cachedResultName":"llama-3.3-70B-Instruct"},"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[800,-340],"id":"7e11b38b-c04c-478b-a3df-7189b535cde1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lu44hoWfCkZALmQk","name":"Api Sentinel"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"63f2f3df-96c0-41a3-9fb8-dc5107b3b861","responseMode":"lastNode","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[300,-580],"id":"28d82361-d7da-4f5d-ac65-678898c985ea","name":"Webhook","webhookId":"63f2f3df-96c0-41a3-9fb8-dc5107b3b861"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[80,-1020],"id":"5a688b33-fc02-4cf1-89cc-3a82bb3a2874","name":"When chat message received","webhookId":"53616539-a80a-4e6f-a4b4-ae427878d142","disabled":true},{"parameters":{"sseEndpoint":"http://192.168.2.12:5678/mcp/5f6728df-d3e8-48bb-9a38-0f2e54c7962c/sse","include":"selected","includeTools":["getServices","getTickets"]},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1340,-340],"id":"46a940ab-e14d-4fb4-96a8-88a302b95b19","name":"MCP Client Portal","notesInFlow":false,"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.userid }}{{ $('Webhook').item.json.body.clientid }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1120,-320],"id":"2878f5d2-dc65-445d-813e-7da6a1815290","name":"Simple Memory","disabled":true},{"parameters":{"connectionType":"sse","operation":"executeTool","toolName":"getServices","toolParameters":"={\n  \"token\":\"{{ $json.body.token }}\",\n  \"userid\":\"{{ $json.body.userid }}\",\n  \"customerid\":\"{{ $json.body.clientid }}\"\n} "},"type":"n8n-nodes-mcp.mcpClient","typeVersion":1,"position":[680,-580],"id":"e0fa1470-69a8-4a46-9dd8-b8bc708beb23","name":"MCP Client","credentials":{"mcpClientSseApi":{"id":"cyV1UH5efB3vKzm5","name":"MCP Client (STDIO) account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"MCP Client","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"MCP Client Portal":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"MCP Client":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"700998cb-e7f9-448c-8829-a7eaf4f53261","triggerCount":1,"tags":[]}