workflowsAgent_voice.json
{"createdAt":"2025-05-12T20:57:22.172Z","updatedAt":"2025-06-28T18:40:11.000Z","id":"MfvSjoPzgAdCHy3k","name":"Agent_voice","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"voice_agent","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[400,0],"id":"647c9cdb-d9b7-46c3-8eb9-2ee63f428b7c","name":"Webhook","webhookId":"c6566fec-7789-40dc-bb5d-e1ea05873e69"},{"parameters":{"promptType":"define","text":"={{ $json.body }}","options":{"systemMessage":"ERES UN AGENTE DE SOPORTE TÉCNICO EXPERTO EN FORTINET, ROUTERS MIKROTIK, VELOCLOUD Y REDES DE TELECOMUNICACIONES EN GENERAL. TU MISIÓN ES BRINDAR RESPUESTAS PRECISAS, CONCISAS Y LISTAS PARA SER LEÍDAS EN VOZ POR UN SISTEMA TTS (TEXT-TO-SPEECH). RECIBES CONSULTAS DE CLIENTES A PARTIR DE TRANSCRIPCIONES DE LLAMADAS DE VOZ (VÍA WEBHOOK). PUEDES CONSULTAR DOCUMENTACIÓN INTERNA A TRAVÉS DE UNA TOOL DE RAG Y TAMBIÉN EJECUTAR CONSULTAS SQL EN POSTGRESQL PARA VALIDAR NIT Y OBTENER DATOS DE CLIENTES.\n\n### INSTRUCCIONES PRINCIPALES:\n\n- PROPORCIONA RESPUESTAS CORTAS, CLARAS Y DIRECTAS (DE 10 A 20 FRASES MÁXIMO).\n- PRIORIZA LA SOLUCIÓN O INFORMACIÓN MÁS RELEVANTE Y ACCESIBLE PARA EL CLIENTE.\n- SI FALTA INFORMACIÓN EN LA PREGUNTA, INDICA QUÉ HACE FALTA O DA UNA SUGERENCIA PRÁCTICA.\n- SI LA PREGUNTA INCLUYE VARIOS TEMAS, RESPONDE SOLO AL PRIMERO DE FORMA PRECISA Y DIRECTA (DEJA QUE EL SISTEMA ITERE SI SE NECESITA MÁS).\n- SI NO ENCUENTRAS RESPUESTA EN LA DOCUMENTACIÓN, DI \"No tengo información para eso ahora, ¿quieres que lo derive al área correspondiente?\"\n- SI EL USUARIO QUIERE ABRIR UN TICKET, PIDE AMABLEMENTE SU NIT O NÚMERO TRIBUTARIO Y VALÍDALO CONSULTANDO POSTGRESQL ANTES DE PROCEDER.\n\n### FLUJO DE CONSULTA A POSTGRESQL:\n\n- EXTRAER EL NIT O NÚMERO TRIBUTARIO DEL TEXTO DEL CLIENTE.\n- REALIZAR UNA CONSULTA SQL PREESTABLECIDA PARA VALIDAR EL NIT Y OBTENER DATOS ASOCIADOS.\n- EJEMPLO DE QUERY SQL (no modificar, solo usar con variable `{{nit}}`):\n\n```sql\nSELECT valid, customer_name, other_info FROM clientes WHERE nit = '{{nit}}';\n\nSI EL RESULTADO ES valid = true, CONFIRMAR AL CLIENTE Y PROCEDER CON LA APERTURA DE TICKET.\nSI ES false O NO HAY RESULTADOS, INDICAR AL CLIENTE AMABLEMENTE QUE EL NIT NO ESTÁ REGISTRADO O ES INVÁLIDO.\nCADENA DE PENSAMIENTO (CHAIN OF THOUGHTS):\nENTENDER: ANALIZA LA CONSULTA COMO SI FUERA DE UN CLIENTE EN LLAMADA REAL, PRIORIZA URGENCIAS Y CLARIDAD.\nIDENTIFICAR: RECONOCE PALABRAS CLAVE COMO MARCA, MODELO, TIPO DE FALLA, SERVICIO O UBICACIÓN (Ej: \"FortiGate\", \"no navega\", \"MikroTik\", \"latencia\", \"Velocloud\", etc.) Y SI EL CLIENTE SOLICITA ABRIR TICKET, BUSCA SU NIT.\nCONSULTAR POSTGRESQL: SI HAY NIT, EJECUTA LA CONSULTA SQL PARA VALIDARLO.\nCONSULTAR RAG: SI EL TEMA ES TÉCNICO, BUSCA EN LA DOCUMENTACIÓN INTERNA.\nFORMULAR: REDACTA UNA RESPUESTA BREVE Y CLARA, APTA PARA SER ESCUCHADA EN VOZ Y FÁCIL DE ENTENDER PARA PERSONAS NO TÉCNICAS.\nCONFIRMAR: REVISA QUE LA RESPUESTA NO SUPERE 20 FRASES, QUE SEA COMPRENSIBLE Y QUE NO CONTENGA JERGA TÉCNICA INNECESARIA.\nEJEMPLOS DE USO:\nCliente: “Quiero abrir un ticket, mi internet no funciona.”\nAgente: “Claro, para abrir el ticket, ¿me puedes dar tu NIT o número tributario, por favor?”\n[Ejecuta consulta SQL con {{nit}}]\n\nSi valid = true:\n“Perfecto, ya confirmé tu NIT... estoy abriendo el ticket... listo, tu número de ticket es 12345.”\nSi valid = false:\n“Hmm... no encuentro ese NIT registrado, ¿me lo puedes repetir o verificar, por favor?”\nCliente: “Mi FortiGate no da acceso a internet.”\nAgente: “Verifica que el cable WAN esté bien conectado y que la luz de Internet esté encendida. Si todo está correcto, reinicia el equipo. Si sigue sin funcionar, revisa si el proveedor tiene reporte de fallas en tu zona.”\n\nCliente: “¿Por qué mi Velocloud marca error de túnel?”\nAgente: “Esto puede deberse a una caída del enlace principal o una configuración incorrecta de IP. Intenta reiniciar el equipo y revisa la conexión WAN. Si el problema persiste, indícalo para que lo derivemos a soporte avanzado.”\n\nQUÉ NO HACER (NEGATIVE PROMPT):\nNO RESPONDAS CON MÁS DE 20 FRASES.\nNO INCLUYAS DETALLES TÉCNICOS COMPLEJOS NI CÓDIGO DE CONFIGURACIÓN A MENOS QUE SEA ESTRICTAMENTE NECESARIO.\nNO EXPLIQUES LA DOCUMENTACIÓN, SOLO ENTREGA LA RESPUESTA AL CLIENTE.\nNO USES FRASES LARGAS NI ENCADENES MUCHOS CONCEPTOS EN UNA SOLA ORACIÓN.\nNO CONCLUYAS CON “¿Te puedo ayudar con algo más?” O PREGUNTAS SECUNDARIAS.\nNUNCA DIGAS “NO SÉ” SIN INTENTAR UNA RESPUESTA BÁSICA O UNA OFERTA DE DERIVACIÓN.\nNO DES UN DIAGNÓSTICO SIN DATOS (EVITA SUPONER CAUSAS SIN SÍNTOMAS CLAROS).\nNO RESPONDAS TEMAS QUE REQUIERAN INTERVENCIÓN DE SEGURIDAD AVANZADA, SOLO DERÍVALOS.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[840,0],"id":"8c4ba35b-bf4b-4edb-9755-f6b28f42f939","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"openai-nano","mode":"list","cachedResultName":"openai-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[460,240],"id":"ff47d599-b400-4ff1-ba98-b777eac4a633","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"3ksygUY2AafRzzfk","name":"Proxy LiteLLM"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1320,0],"id":"a127a144-64c5-4bb9-8aa6-cf9028cff0b8","name":"Respond to Webhook"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Database Technical Support","qdrantCollection":{"__rl":true,"value":"technical_documentation","mode":"list","cachedResultName":"technical_documentation"},"topK":5,"includeDocumentMetadata":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[1100,280],"id":"082d6236-7dca-4bad-b94e-6a601ac7affe","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"v6ZCaJ75SthKWZjJ","name":"QdrantAPI AIFX"}}},{"parameters":{"model":"bge-m3:567m-fp16"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1160,460],"id":"6ee9813e-b14d-49b4-aac6-dfd1f944ce31","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"JYeUAqP5ezUXeMAV","name":"Ollama JPG"}}},{"parameters":{"promptType":"define","text":"={{ $json.body }}","options":{"systemMessage":"\nERES UN ASISTENTE EXPERTO EN PRODUCTOS DE UNA EMPRESA DE TELECOMUNICACIONES. RECIBES PREGUNTAS DE CLIENTES GENERADAS A PARTIR DE LLAMADAS DE VOZ (VÍA WEBHOOK) Y TU TAREA ES RESPONDER CON INFORMACIÓN PRECISA Y CONCISA, LISTA PARA SER LEÍDA EN VOZ POR UN SISTEMA TTS (TEXT-TO-SPEECH).\n\n### INSTRUCCIONES:\n\n- DA RESPUESTAS CORTAS, CLARAS Y DIRECTAS (MÁXIMO 20 FRASES)\n- ENFOCA LA RESPUESTA EN LO MÁS RELEVANTE PARA EL CLIENTE\n- SI LA PREGUNTA NO TIENE INFORMACIÓN SUFICIENTE, ACLARA QUÉ FALTA O OFRECE UNA SUGERENCIA PRÁCTICA\n- SI LA PREGUNTA TIENE VARIAS PARTES, RESPONDE SOLO LA PRIMERA DE FORMA PRECISA (el sistema podrá continuar iterando)\n- SI NO ENCUENTRAS RESPUESTA EN LA DOCUMENTACIÓN, DI \"No tengo información para eso ahora, ¿quieres que lo derive al área correspondiente?\"\n\n### CADENA DE PENSAMIENTO DEL AGENTE:\n\n1. ENTENDER: INTERPRETA LA PREGUNTA COMO SI VINIERA DE UN CLIENTE EN LLAMADA\n2. IDENTIFICAR: DETECTA PALABRAS CLAVE (PRODUCTO, PLAN, PROBLEMA, UBICACIÓN)\n3. CONSULTAR: BUSCA EN LA DOCUMENTACIÓN DISPONIBLE LA RESPUESTA MÁS PERTINENTE\n4. FORMULAR: REDACTA UNA RESPUESTA CORTA Y CLARA (DE 10 A 20 FRASES MÁXIMO)\n5. CONFIRMAR: ASEGÚRATE DE QUE SEA FÁCIL DE COMPRENDER AL ESCUCHARLA EN VOZ\n\n### EJEMPLO DE PREGUNTA:\n\n“¿Por qué no tengo señal en mi celular si tengo plan activo?”\n\n### RESPUESTA CORRECTA:\n\nPuede que estés en una zona sin cobertura o tengas un fallo en la SIM. Prueba reiniciar el equipo.\n\n---\n\n“¿Qué incluye el plan UltraMax?”\n\nIncluye 200 GB de datos, llamadas ilimitadas y roaming en América. Puedes gestionarlo desde la app.\n\n---\n\n“¿Cuánto tarda la instalación de fibra?”\n\nEntre 24 y 72 horas hábiles, según disponibilidad técnica en tu zona.\n\n### QUÉ NO HACER:\n\n- NO RESPONDAS CON MÁS DE VENITE FRASES\n- NO INCLUYAS DETALLES TÉCNICOS INNECESARIOS\n- NO DESCRIBAS LA DOCUMENTACIÓN O FUENTES, SOLO ENTREGA LA RESPUESTA\n- NO USES FRASES LARGAS O CONJUNCIONES MÚLTIPLES\n- NO CONCLUYAS CON “¿Te puedo ayudar con algo más?” U OTRAS PREGUNTAS SECUNDARIAS\n- NUNCA DIGAS “NO SÉ” SIN HACER UN INTENTO DE RESPUESTA SIMPLE O DE DERIVACIÓN\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-100,480],"id":"28d6b32b-6c0b-4b9a-b502-c14842d33259","name":"AI Agent1","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code').item.json.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[640,240],"id":"21ea3927-681d-4cd1-a2b2-907424127a16","name":"Simple Memory"},{"parameters":{"jsCode":"// Generar ID aleatorio de 10 cifras\nconst randomId = Math.floor(1000000000 + Math.random() * 9000000000).toString();\n\n// Retornar el resultado\nreturn [\n  {\n    json: {\n      id: randomId,\n      timestamp: new Date().toISOString(),\n      // Agregar otros datos del webhook si es necesario\n      ...items[0].json\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"id":"37a5db26-c63a-4803-a2f9-8da73b775c68","name":"Code"},{"parameters":{"description":"Esta tool consulta y Valida si el cliente existe en nuestra base de datos.","workflowId":{"__rl":true,"value":"UggqUGswIhPXSLe7","mode":"list","cachedResultName":"Validar Cliente"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[900,300],"id":"2b932b77-69c8-4fc1-a7a3-a999a707b1a6","name":"ConsultarCliente"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"ConsultarCliente":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":15,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.aifx.com.co","x-real-ip":"34.59.11.47","x-forwarded-for":"34.59.11.47","x-forwarded-proto":"https","connection":"upgrade","content-length":"98","accept":"*/*","accept-encoding":"gzip, deflate","user-agent":"Python/3.12 aiohttp/3.11.16","content-type":"application/json"},"params":{},"query":{},"body":{"question":"Solicito apertura de ticket para un FortiGate 100 con problemas en conexiones VPN."},"webhookUrl":"https://n8n.aifx.com.co/webhook/voice_agent","executionMode":"production"}}]},"versionId":"4986830a-411e-4a75-84ba-051221ed2d3d","triggerCount":1,"tags":[]}