workflowsIngreso Visitas Manos Remotas.json
{"createdAt":"2025-06-20T17:19:09.712Z","updatedAt":"2025-06-21T15:46:15.000Z","id":"GYzyr5ijEpfF3AHm","name":"Ingreso Visitas Manos Remotas","active":true,"isArchived":false,"nodes":[{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"request_remote_hands","mode":"list","cachedResultName":"request_remote_hands"},"columns":{"mappingMode":"defineBelow","value":{"mantenimiento_aprovisionamiento":"={{ $json['Tipo de Actividad'] }}","cliente":"={{ $json.Cliente }}","pais":"={{ $json.Pais }}","ciudad":"={{ $json.Ciudad }}","direccion_cliente":"={{ $json.Direccion }}","fecha":"={{ $json['Fecha de la Actividad'] }}","hora":"={{ $json['Hora de la Actividad'] }}","ticket":"={{ $json['Numero de Ticket'] }}","sid":"={{ $json.SID }}","nombre_contacto_cliente":"={{ $json['Nombre Contacto del Cliente'] }}","telefono_cliente":"={{ $json['Telefono del Cliente'] }}","equipos_llevar_cliente":"={{ $json['Equipos y Cantidad a Llevar'] }}","rq_equipos":"={{ $json['RQ de Equipos'] }}","donde_recoger_equipo":"={{ $json['Donde Recoger el Equipo'] }}","guia_envio_equipos":"={{ $json['Guia Envio de Equipos'] }}","ingeniero_aprovisionamiento":"={{ $json['Ingeniero Provisioning o Grupo Care'] }}","gerente_proyecto":"={{ $json['Gerente de Proyectos'] }}","observaciones":"={{ $json.Observaciones }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"descripcion_solicitud","displayName":"descripcion_solicitud","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mantenimiento_aprovisionamiento","displayName":"mantenimiento_aprovisionamiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"adjunta_acta_um","displayName":"adjunta_acta_um","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"cliente","displayName":"cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direccion_cliente","displayName":"direccion_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"hora","displayName":"hora","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"ticket","displayName":"ticket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sid","displayName":"sid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_contacto_cliente","displayName":"nombre_contacto_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono_cliente","displayName":"telefono_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"equipos_llevar_cliente","displayName":"equipos_llevar_cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rq_equipos","displayName":"rq_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"donde_recoger_equipo","displayName":"donde_recoger_equipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"guia_envio_equipos","displayName":"guia_envio_equipos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ingeniero_aprovisionamiento","displayName":"ingeniero_aprovisionamiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"gerente_proyecto","displayName":"gerente_proyecto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[600,-40],"id":"271bec05-bebb-426c-a9bd-fcc088903bb9","name":"Set DB Solicitudes","credentials":{"postgres":{"id":"brzMaPB6iJB9Pcyc","name":"Postgres DB Operaciones"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Solicitud de Manos Remotas</title>\n</head>\n\n<body\n    style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f0f2f5; margin: 0 auto; padding: 20px;\">\n\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\"\n        style=\"background-color: #ffffff; border-radius: 12px; box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); padding: 30px; max-width: 600px; margin: 0 auto;\">\n        <tr>\n            <td style=\"padding: 0 30px;\">\n                <h1 style=\"color: #4A90E2; text-align: center; margin-bottom: 30px; font-size: 28px;\"> Solicitud de Manos Remotas 👍</h1>\n\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">ID de Solicitud:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\"># {{ $('Set DB Solicitudes').item.json.id }} </p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Ticket Relacionado:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.ticket.toUpperCase() }}</p>\n                        </td>\n                    </tr>\n                </table>\n\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Tipo de Gestión:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px; color: #28a745;\">{{ $('Set DB Solicitudes').item.json.mantenimiento_aprovisionamiento }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">SID:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.sid }}</p>\n                        </td>\n                    </tr>\n                </table>\n\n                <h2\n                    style=\"color: #4A90E2; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    🗓️ Detalles de la Cita</h2>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 25px;\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Fecha:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.fecha.toDateTime().setLocale('es').format(\"dd 'de' MMMM 'del' yyyy\") }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Hora:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.hora }}</p>\n                        </td>\n                    </tr>\n                </table>\n\n                <h2\n                    style=\"color: #4A90E2; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    👤 Información del Cliente</h2>\n                <div style=\"margin-bottom: 15px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Nombre del Cliente:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.cliente.toUpperCase() }}</p>\n                </div>\n                <div style=\"margin-bottom: 15px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Contacto en Cliente:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.nombre_contacto_cliente.toUpperCase() }}</p>\n                </div>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 15px;\">\n                    <tr>\n                        <td width=\"33.33%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">País:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.pais.toUpperCase() }}</p>\n                        </td>\n                        <td width=\"33.33%\" style=\"padding-left: 5px; padding-right: 5px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Ciudad:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.ciudad.toUpperCase() }}</p>\n                        </td>\n                        <td width=\"33.33%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Teléfono:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.telefono_cliente }}</p>\n                        </td>\n                    </tr>\n                </table>\n                <div style=\"margin-bottom: 25px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Dirección:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.direccion_cliente }}</p>\n                </div>\n\n                <h2\n                    style=\"color: #4A90E2; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    📦 Equipos y Logística</h2>\n                <div style=\"margin-bottom: 15px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Equipos a Llevar al Cliente:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.equipos_llevar_cliente }}</p>\n                </div>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom: 15px;\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">RQ de Equipos:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.rq_equipos }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Guía de Envío:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.guia_envio_equipos }}</p>\n                        </td>\n                    </tr>\n                </table>\n                <div style=\"margin-bottom: 25px;\">\n                    <p style=\"margin: 0; color: #666; font-size: 14px;\">Lugar de Recogida de Equipo:</p>\n                    <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.donde_recoger_equipo }}</p>\n                </div>\n\n                <h2\n                    style=\"color: #4A90E2; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    👨‍💻 Equipo de Trabajo</h2>\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                    <tr>\n                        <td width=\"50%\" style=\"padding-right: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Ingeniero de Aprovisionamiento:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.ingeniero_aprovisionamiento }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding-left: 10px; vertical-align: top;\">\n                            <p style=\"margin: 0; color: #666; font-size: 14px;\">Gerente de Proyecto:</p>\n                            <p style=\"margin: 5px 0 0; color: #333; font-weight: bold; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.gerente_proyecto }}</p>\n                        </td>\n                    </tr>\n                </table>\n\n                <h2\n                    style=\"color: #e28d4a; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-top: 30px; margin-bottom: 20px; font-size: 22px;\">\n                    📝 Observaciones</h2>\n                <div style=\"background-color: #fff8e1; border-left: 5px solid #ffcc80; padding: 15px; border-radius: 5px;\">\n                    <p style=\"margin: 0; color: #6d4c41; font-style: italic; font-size: 16px;\">{{ $('Set DB Solicitudes').item.json.observaciones.toUpperCase() }}</p>\n                </div>\n            </td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; padding-top: 40px; padding-bottom: 0px; color: #999; font-size: 12px;\">\n                📧 Reporte generado automáticamente por aifx • 🕒 Fecha: {{ $today.format('dd-MMM-yyyy') }} <br>\n                El contenido generado con IA puede contener errores, favor revisar de manera detallada.\n            </td>\n        </tr>\n    </table>\n\n</body>\n\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[780,-160],"id":"413bb914-c89c-4c3b-9424-21ac9880b882","name":"Build HTML","alwaysOutputData":true},{"parameters":{"resource":"messages-api","instanceName":"whisper_remote_hands","remoteJid":"573165278069","messageText":"=👍 *Solicitud de Manos Remotas*\nNo. Solicitud: {{ $json.id }}\nTicket: {{ $json.ticket }}\nTipo de Gestión: {{ $json.mantenimiento_aprovisionamiento }} ✅\nSID: {{ $json.sid }}\n---\n🗓️ *Detalles de la Cita*\nFecha: {{ $json.fecha.toDateTime().setLocale('es').format(\"dd 'de' MMMM 'del' yyyy\") }}\nHora:  {{ $json.hora }} 🕔\n---\n👤 *Información del Cliente*\nCliente: {{ $json.cliente.toUpperCase() }}\nContacto: {{ $json.nombre_contacto_cliente.toUpperCase() }}\nTeléfono: {{ $json.telefono_cliente }} 📞\nPaís: {{ $json.pais.toUpperCase() }}\nCiudad: {{ $json.ciudad.toUpperCase() }}\nDirección: {{ $json.direccion_cliente.toUpperCase() }} 📍\n---\n📦 *Equipos y Logística*\nEquipos a Llevar: {{ $json.equipos_llevar_cliente }}\nRQ Equipos: {{ $json.rq_equipos }}\nGuía de Envío: {{ $json.guia_envio_equipos }}\nRecoger en: {{ $json.donde_recoger_equipo }}\n---\n👨‍💻 *Equipo de Trabajo*\nIngeniero o Grupo Encargado: {{ $json.ingeniero_aprovisionamiento }}\nGerente de Proyecto: {{ $json.gerente_proyecto }}\n---\n📝 *Observaciones Importantes*\n{{ $json.observaciones.toUpperCase() }}\n---\n> 📧 Reporte generado automáticamente por aifx\n> 🕒 Fecha: {{ $today.toLocal().format('yyyy-MM-dd') }}\n> _El contenido generado con IA puede contener errores, favor revisar de manera detallada._","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[780,80],"id":"a146a58a-7345-4d42-83e3-f5812d59f4f5","name":"Send Notificacion Wapp","credentials":{"evolutionApi":{"id":"l1h7t9g8yuhuMKwz","name":"Evolution account"}}},{"parameters":{"toRecipients":"jaimep@ifxcorp.com","subject":"=Solicitud de Manos Remotas No. {{ $('Set DB Solicitudes').item.json.id }}","bodyContent":"={{ $('Build HTML').item.json.html }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[1040,-160],"id":"872e3f3c-3c7e-4af3-81c7-86df72edf340","name":"Microsoft Outlook","webhookId":"2f411bdd-aa5d-4017-adc6-7129703c9d2e","credentials":{"microsoftOutlookOAuth2Api":{"id":"xSTIlfhp3ac7TN3h","name":"Mail ai@ifxcorp.com"}}},{"parameters":{"path":"remote_hands_request","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-100,-40],"id":"0bc27c90-833e-4542-8bf3-d8a136d31e1c","name":"Webhook","webhookId":"ec6b06d5-52c6-4aa0-880b-1490d984b021"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Formulario de Manos Remotas</title>\n\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background-color: #f0f2f5;\n            margin: 0;\n            padding: 20px;\n            display: flex;\n            justify-content: center;\n            align-items: flex-start;\n            min-height: 100vh;\n        }\n\n        .container {\n            background-color: #ffffff;\n            border-radius: 12px;\n            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);\n            padding: 30px;\n            max-width: 700px;\n            margin: 20px auto;\n        }\n\n        /* Contenedor para el logo y el título principal */\n        .header-logo-title {\n            display: flex;\n            align-items: center;\n            justify-content: space-between;\n            margin-bottom: 30px;\n            gap: 20px;\n        }\n\n        .form-logo {\n            height: 60px;\n            width: auto;\n            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);\n            border-radius: 5px;\n            order: 2;\n        }\n\n        h1 {\n            color: #4A90E2;\n            text-align: left;\n            margin: 0;\n            font-size: 32px;\n            white-space: nowrap;\n            background: linear-gradient(to right, #4A90E2, #63B8EE);\n            -webkit-background-clip: text;\n            -webkit-text-fill-color: transparent;\n            flex-grow: 1;\n            order: 1;\n        }\n\n        .section-title {\n            color: #4A90E2;\n            border-bottom: 1px solid #eee;\n            padding-bottom: 10px;\n            margin-top: 30px;\n            margin-bottom: 20px;\n            font-size: 22px;\n            font-weight: bold;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n\n        .form-group {\n            margin-bottom: 18px;\n            position: relative;\n        }\n\n        .form-row {\n            display: flex;\n            gap: 20px;\n            margin-bottom: 18px;\n            flex-wrap: wrap;\n        }\n\n        .form-row .half-width {\n            flex: 1;\n            min-width: 0;\n            margin-bottom: 0;\n        }\n\n        .form-row.triple-width .third-width {\n            flex: 1;\n            min-width: 0;\n            margin-bottom: 0;\n        }\n\n        .form-group label {\n            display: flex;\n            align-items: center;\n            gap: 5px;\n            margin-bottom: 8px;\n            color: #333;\n            font-weight: bold;\n            font-size: 15px;\n        }\n\n        .form-group input[type=\"text\"],\n        .form-group input[type=\"tel\"],\n        .form-group select,\n        .form-group textarea {\n            width: calc(100% - 20px);\n            padding: 12px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            font-size: 16px;\n            color: #333;\n            box-sizing: border-box;\n        }\n\n        .form-group input:focus,\n        .form-group select:focus,\n        .form-group textarea:focus {\n            border-color: #4A90E2;\n            outline: none;\n            box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);\n        }\n\n        /* Estilos específicos para los selectores de fecha y hora */\n        .datetime-group {\n            display: flex;\n            gap: 10px; /* Espacio entre los selectores individuales */\n            align-items: center;\n        }\n\n        .datetime-group select {\n            width: auto; /* Permite que los selectores se ajusten a su contenido */\n            flex-grow: 1; /* Permite que crezcan para llenar el espacio */\n            min-width: 60px; /* Ancho mínimo para que no se contraigan demasiado */\n        }\n        \n        .form-group textarea {\n            resize: vertical;\n            min-height: 80px;\n        }\n\n        button[type=\"submit\"] {\n            background-color: #4A90E2;\n            color: white;\n            padding: 14px 25px;\n            border: none;\n            border-radius: 8px;\n            font-size: 18px;\n            font-weight: bold;\n            cursor: pointer;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            gap: 8px;\n            width: 100%;\n            margin-top: 30px;\n            transition: background-color 0.3s ease;\n        }\n\n        button[type=\"submit\"]:hover {\n            background-color: #357ABD;\n        }\n\n        .error-message {\n            color: #d9534f;\n            font-size: 13px;\n            margin-top: 5px;\n            display: none;\n        }\n\n        .am-pm-hint {\n            font-size: 0.9em;\n            color: #a0a0a0;\n            margin-left: 10px;\n            display: inline-block;\n            vertical-align: middle;\n        }\n\n        /* Eliminamos los estilos de Flatpickr */\n        /* .flatpickr-wrapper, .flatpickr-calendar-icon, .flatpickr-time-icon, .flatpickr-input no son necesarios */\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header-logo-title\">\n            <img src=\"https://github.com/aifx-dev/repo-images/blob/main/Logo_aifx_Azul.png?raw=true\" alt=\"Logo aifx\" class=\"form-logo\">\n            <h1>Solicitud de Manos Remotas</h1>\n        </div>\n\n        <form id=\"remoteHandsForm\">\n            <div class=\"section-title\">✨ Detalles de la Solicitud</div>\n            <div class=\"form-group\">\n                <label for=\"tipoSid\">Tipo de Gestión: 🛠️</label>\n                <select id=\"tipoSid\" name=\"mantenimiento_aprovisionamiento\" required>\n                    <option value=\"\">Seleccione una opción</option>\n                    <option value=\"MANTENIMIENTO\">Mantenimiento</option>\n                    <option value=\"APROVISIONAMIENTO\">Aprovisionamiento</option>\n                    <option value=\"OTRO\">Otro</option>\n                </select>\n                <div class=\"error-message\" id=\"errorTipoSid\"></div>\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group half-width\">\n                    <label for=\"ticketRelacionado\">Ticket Relacionado: 🎫</label>\n                    <input type=\"text\" id=\"ticketRelacionado\" name=\"ticket\" placeholder=\"Ej: TICKET-12345\" required pattern=\"[A-Z0-9-]+\">\n                    <div class=\"error-message\" id=\"errorTicketRelacionado\"></div>\n                </div>\n                <div class=\"form-group half-width\">\n                    <label for=\"sid\">SID: 🆔</label>\n                    <input type=\"text\" id=\"sid\" name=\"sid\" placeholder=\"Ej: SID-PROD-001\" required pattern=\"[A-Z0-9-]+\">\n                    <div class=\"error-message\" id=\"errorSid\"></div>\n                </div>\n            </div>\n\n            <div class=\"section-title\">🗓️ Detalles de la Cita</div>\n            <div class=\"form-row\">\n                <div class=\"form-group half-width\">\n                    <label>Fecha: 📅</label>\n                    <div class=\"datetime-group\">\n                        <select id=\"fechaDia\" name=\"fecha_dia\" required>\n                            </select>\n                        <select id=\"fechaMes\" name=\"fecha_mes\" required>\n                            </select>\n                        <select id=\"fechaAnio\" name=\"fecha_anio\" required>\n                            </select>\n                    </div>\n                    <div class=\"error-message\" id=\"errorFechaCita\"></div>\n                </div>\n                <div class=\"form-group half-width\">\n                    <label>Hora: ⏰</label>\n                    <div class=\"datetime-group\">\n                        <select id=\"horaHora\" name=\"hora_hora\" required>\n                            </select>\n                        <span>:</span> <select id=\"horaMinuto\" name=\"hora_minuto\" required>\n                            </select>\n                        <select id=\"horaAmPm\" name=\"hora_ampm\" class=\"am-pm-select\">\n                            <option value=\"AM\">AM</option>\n                            <option value=\"PM\">PM</option>\n                        </select>\n                    </div>\n                    <div class=\"error-message\" id=\"errorHoraCita\"></div>\n                </div>\n            </div>\n\n            <div class=\"section-title\">👤 Información del Cliente</div>\n            <div class=\"form-group\">\n                <label for=\"nombreCliente\">Nombre del Cliente: 🏢</label>\n                <input type=\"text\" id=\"nombreCliente\" name=\"cliente\" placeholder=\"Ej: Empresa XYZ\" required pattern=\"[A-Za-z0-9\\s.,ñÑ]+\" title=\"Solo letras, números, espacios, puntos y comas.\">\n                <div class=\"error-message\" id=\"errorNombreCliente\"></div>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"contactoCliente\">Contacto en Cliente: 🤝</label>\n                <input type=\"text\" id=\"contactoCliente\" name=\"nombre_contacto_cliente\" placeholder=\"Ej: Juan Pérez\" required pattern=\"[A-Za-z\\sñÑ]+\" title=\"Solo letras y espacios.\">\n                <div class=\"error-message\" id=\"errorContactoCliente\"></div>\n            </div>\n\n            <div class=\"form-row triple-width\">\n                <div class=\"form-group third-width\">\n                    <label for=\"pais\">País: 🌎</label>\n                    <input type=\"text\" id=\"pais\" name=\"pais\" placeholder=\"Ej: Colombia\" required pattern=\"[A-Za-z\\sñÑ]+\" title=\"Solo letras y espacios.\">\n                    <div class=\"error-message\" id=\"errorPais\"></div>\n                </div>\n                <div class=\"form-group third-width\">\n                    <label for=\"ciudad\">Ciudad: 🏙️</label>\n                    <input type=\"text\" id=\"ciudad\" name=\"ciudad\" placeholder=\"Ej: Bogotá\" required pattern=\"[A-Za-z\\sñÑ]+\" title=\"Solo letras y espacios.\">\n                    <div class=\"error-message\" id=\"errorCiudad\"></div>\n                </div>\n                <div class=\"form-group third-width\">\n                    <label for=\"telefonoCliente\">Teléfono: 📞</label>\n                    <input type=\"tel\" id=\"telefonoCliente\" name=\"telefono_cliente\" placeholder=\"Ej: +57 300 123 4567\" required pattern=\"[0-9+\\s()-]+\">\n                    <div class=\"error-message\" id=\"errorTelefonoCliente\"></div>\n                </div>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"direccionCliente\">Dirección: 📍</label>\n                <textarea id=\"direccionCliente\" name=\"direccion_cliente\" rows=\"3\" placeholder=\"Ej: Calle 123 # 45-67\" required></textarea>\n                <div class=\"error-message\" id=\"errorDireccionCliente\"></div>\n            </div>\n\n            <div class=\"section-title\">📦 Equipos y Logística</div>\n            <div class=\"form-group\">\n                <label for=\"equiposLlevar\">Equipos a Llevar al Cliente: 🎒</label>\n                <textarea id=\"equiposLlevar\" name=\"equipos_llevar_cliente\" rows=\"3\" placeholder=\"Ej: Router Cisco, Servidor Dell\" required></textarea>\n                <div class=\"error-message\" id=\"errorEquiposLlevar\"></div>\n            </div>\n\n            <div class=\"form-row\">\n                <div class=\"form-group half-width\">\n                    <label for=\"rqEquipos\">RQ de Equipos: 📝</label>\n                    <input type=\"text\" id=\"rqEquipos\" name=\"rq_equipos\" placeholder=\"Ej: RQ-2025-001\" pattern=\"[A-Z0-9-]*\">\n                    <div class=\"error-message\" id=\"errorRqEquipos\"></div>\n                </div>\n                <div class=\"form-group half-width\">\n                    <label for=\"guiaEnvio\">Guía de Envío: 🚚</label>\n                    <input type=\"text\" id=\"guiaEnvio\" name=\"guia_envio_equipos\" placeholder=\"Ej: GUIA-XYZ-789\" pattern=\"[A-Z0-9-]*\">\n                    <div class=\"error-message\" id=\"errorGuiaEnvio\"></div>\n                </div>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"lugarRecogida\">Lugar de Recogida de Equipo: 📦</label>\n                <textarea id=\"lugarRecogida\" name=\"donde_recoger_equipo\" rows=\"2\" placeholder=\"Ej: Almacén Principal, Oficina 305\"></textarea>\n                <div class=\"error-message\" id=\"errorLugarRecogida\"></div>\n            </div>\n\n            <div class=\"section-title\">👨‍💻 Equipo de Trabajo</div>\n            <div class=\"form-group\">\n                <label for=\"ingenieroAprovisionamiento\">Ingeniero de Aprovisionamiento: ⚙️</label>\n                <input type=\"text\" id=\"ingenieroAprovisionamiento\" name=\"ingeniero_aprovisionamiento\" placeholder=\"Ej: Ana Gómez\" required pattern=\"[A-Za-z\\sñÑ]+\" title=\"Solo letras y espacios.\">\n                <div class=\"error-message\" id=\"errorIngenieroAprovisionamiento\"></div>\n            </div>\n            <div class=\"form-group\">\n                <label for=\"gerenteProyecto\">Gerente de Proyecto: 📊</label>\n                <input type=\"text\" id=\"gerenteProyecto\" name=\"gerente_proyecto\" placeholder=\"Ej: Carlos Ramírez\" required pattern=\"[A-Za-z\\sñÑ]+\" title=\"Solo letras y espacios.\">\n                <div class=\"error-message\" id=\"errorGerenteProyecto\"></div>\n            </div>\n\n            <div class=\"section-title\">📝 Observaciones</div>\n            <div class=\"form-group\">\n                <label for=\"observaciones\">Observaciones: 💬</label>\n                <textarea id=\"observaciones\" name=\"observaciones\" rows=\"5\" placeholder=\"Cualquier información adicional relevante.\"></textarea>\n                <div class=\"error-message\" id=\"errorObservaciones\"></div>\n            </div>\n\n            <button type=\"submit\">Enviar Solicitud ✨</button>\n        </form>\n    </div>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', function() {\n            const form = document.getElementById('remoteHandsForm');\n\n            // --- Elementos de Fecha ---\n            const fechaDiaSelect = document.getElementById('fechaDia');\n            const fechaMesSelect = document.getElementById('fechaMes');\n            const fechaAnioSelect = document.getElementById('fechaAnio');\n\n            // --- Elementos de Hora ---\n            const horaHoraSelect = document.getElementById('horaHora');\n            const horaMinutoSelect = document.getElementById('horaMinuto');\n            const horaAmPmSelect = document.getElementById('horaAmPm');\n\n\n            // Función para rellenar opciones de los selectores de hora\n            function populateTimeSelectors() {\n                // Horas (01-12 para AM/PM)\n                for (let i = 1; i <= 12; i++) {\n                    const option = document.createElement('option');\n                    option.value = String(i).padStart(2, '0');\n                    option.textContent = String(i).padStart(2, '0');\n                    horaHoraSelect.appendChild(option);\n                }\n\n                // Minutos (00-55 en incrementos de 5)\n                for (let i = 0; i < 60; i += 5) {\n                    const option = document.createElement('option');\n                    option.value = String(i).padStart(2, '0');\n                    option.textContent = String(i).padStart(2, '0');\n                    horaMinutoSelect.appendChild(option);\n                }\n\n                // AM/PM ya están en HTML\n            }\n\n            // Función para rellenar opciones de los selectores de fecha\n            function populateDateSelectors() {\n                const today = new Date();\n                const currentYear = today.getFullYear();\n                const currentMonth = today.getMonth(); // 0-11\n                const currentDay = today.getDate();\n\n                // Días (1-31)\n                for (let i = 1; i <= 31; i++) {\n                    const option = document.createElement('option');\n                    option.value = String(i).padStart(2, '0');\n                    option.textContent = String(i).padStart(2, '0');\n                    fechaDiaSelect.appendChild(option);\n                }\n\n                // Meses (01-12)\n                const monthNames = [\"Enero\", \"Febrero\", \"Marzo\", \"Abril\", \"Mayo\", \"Junio\", \"Julio\", \"Agosto\", \"Septiembre\", \"Octubre\", \"Noviembre\", \"Diciembre\"];\n                for (let i = 0; i < 12; i++) {\n                    const option = document.createElement('option');\n                    option.value = String(i + 1).padStart(2, '0');\n                    option.textContent = monthNames[i];\n                    fechaMesSelect.appendChild(option);\n                }\n\n                // Años (actual y los próximos 5 años)\n                for (let i = currentYear; i <= currentYear + 5; i++) {\n                    const option = document.createElement('option');\n                    option.value = String(i);\n                    option.textContent = String(i);\n                    fechaAnioSelect.appendChild(option);\n                }\n\n                // Establecer la fecha actual por defecto\n                fechaDiaSelect.value = String(currentDay).padStart(2, '0');\n                fechaMesSelect.value = String(currentMonth + 1).padStart(2, '0');\n                fechaAnioSelect.value = String(currentYear);\n            }\n\n            // Llamar a las funciones para rellenar los selectores al cargar\n            populateTimeSelectors();\n            populateDateSelectors();\n\n\n            form.addEventListener('submit', async function(event) {\n                event.preventDefault();\n\n                if (validateForm()) {\n                    const data = {};\n\n                    // Recolectar datos de campos directos (inputs, textareas, selects)\n                    const formElements = form.elements;\n                    for (let i = 0; i < formElements.length; i++) {\n                        const element = formElements[i];\n                        if (element.name && element.id !== 'fechaDia' && element.id !== 'fechaMes' && element.id !== 'fechaAnio' &&\n                            element.id !== 'horaHora' && element.id !== 'horaMinuto' && element.id !== 'horaAmPm') {\n                            data[element.name] = element.value.toUpperCase(); // Convertir a mayúsculas como en tu reporte\n                        }\n                    }\n\n                    // --- Construir la fecha en formato YYYY-MM-DD ---\n                    const dia = fechaDiaSelect.value;\n                    const mes = fechaMesSelect.value;\n                    const anio = fechaAnioSelect.value;\n                    data['fecha'] = `${anio}-${mes}-${dia}`;\n\n                    // --- Construir la hora en formato HH:MM (24H) ---\n                    let hora = parseInt(horaHoraSelect.value, 10);\n                    const minuto = horaMinutoSelect.value;\n                    const ampm = horaAmPmSelect.value;\n\n                    if (ampm === 'PM' && hora !== 12) {\n                        hora += 12;\n                    } else if (ampm === 'AM' && hora === 12) {\n                        hora = 0; // 12 AM es 00:XX en 24H\n                    }\n                    data['hora'] = `${String(hora).padStart(2, '0')}:${minuto}`;\n\n\n                    // --- Enviar los datos en formato JSON a un webhook ---\n                    const webhookUrl = 'YOUR_WEBHOOK_URL_HERE'; // ¡¡¡IMPORTANTE: REEMPLAZA ESTA URL CON LA DE TU WEBHOOK!!!\n\n                    try {\n                        const response = await fetch(webhookUrl, {\n                            method: 'POST',\n                            headers: {\n                                'Content-Type': 'application/json',\n                            },\n                            body: JSON.stringify(data),\n                        });\n\n                        if (response.ok) {\n                            console.log('Formulario enviado con éxito a webhook:', data);\n                            alert('¡Solicitud enviada con éxito! ✅');\n                            form.reset();\n                            // Resetear selectores de fecha/hora si es necesario\n                            populateDateSelectors(); // Para que vuelva a hoy\n                            horaHoraSelect.value = \"01\";\n                            horaMinutoSelect.value = \"00\";\n                            horaAmPmSelect.value = \"AM\";\n                        } else {\n                            const errorText = await response.text();\n                            console.error('Error al enviar el formulario al webhook:', response.status, response.statusText, errorText);\n                            alert('Hubo un error al enviar la solicitud. Por favor, inténtalo de nuevo. ❌');\n                        }\n                    } catch (error) {\n                        console.error('Error de red o CORS al enviar el formulario:', error);\n                        alert('No se pudo conectar al servidor. Verifica tu conexión o intenta más tarde. 🌐');\n                    }\n                }\n            });\n\n            // --- Función de Validación ---\n            function validateForm() {\n                let isValid = true;\n\n                document.querySelectorAll('.error-message').forEach(el => el.style.display = 'none');\n\n                // Validar selectores de fecha\n                if (!fechaDiaSelect.value || !fechaMesSelect.value || !fechaAnioSelect.value) {\n                    displayError('errorFechaCita', 'Debe seleccionar una fecha completa.');\n                    isValid = false;\n                } else {\n                    const selectedDate = new Date(parseInt(fechaAnioSelect.value), parseInt(fechaMesSelect.value) - 1, parseInt(fechaDiaSelect.value));\n                    const today = new Date();\n                    today.setHours(0, 0, 0, 0); // Para comparar solo la fecha\n                    if (selectedDate < today) {\n                        displayError('errorFechaCita', 'La fecha no puede ser anterior a hoy.');\n                        isValid = false;\n                    }\n                }\n\n                // Validar selectores de hora\n                if (!horaHoraSelect.value || !horaMinutoSelect.value || !horaAmPmSelect.value) {\n                    displayError('errorHoraCita', 'Debe seleccionar una hora completa.');\n                    isValid = false;\n                }\n\n                // --- El resto de tus validaciones originales (mantenerlas) ---\n                const tipoSid = document.getElementById('tipoSid');\n                if (!tipoSid.value) {\n                    displayError('errorTipoSid', 'Debe seleccionar un Tipo de Gestión.');\n                    isValid = false;\n                }\n\n                const ticketRelacionado = document.getElementById('ticketRelacionado');\n                if (!ticketRelacionado.value.trim()) {\n                    displayError('errorTicketRelacionado', 'El Ticket Relacionado es obligatorio.');\n                    isValid = false;\n                } else if (!/^[A-Z0-9-]+$/.test(ticketRelacionado.value.trim())) {\n                    displayError('errorTicketRelacionado', 'Formato inválido. Solo letras mayúsculas, números y guiones.');\n                    isValid = false;\n                }\n\n                const sid = document.getElementById('sid');\n                if (!sid.value.trim()) {\n                    displayError('errorSid', 'El SID es obligatorio.');\n                    isValid = false;\n                } else if (!/^[A-Z0-9-]+$/.test(sid.value.trim())) {\n                    displayError('errorSid', 'Formato inválido. Solo letras mayúsculas, números y guiones.');\n                    isValid = false;\n                }\n\n                const nombreCliente = document.getElementById('nombreCliente');\n                if (!nombreCliente.value.trim()) {\n                    displayError('errorNombreCliente', 'El Nombre del Cliente es obligatorio.');\n                    isValid = false;\n                } else if (!/^[A-Za-z0-9\\s.,ñÑ]+$/.test(nombreCliente.value.trim())) {\n                    displayError('errorNombreCliente', 'Formato inválido. Solo letras, números, espacios, puntos y comas.');\n                    isValid = false;\n                }\n\n                const contactoCliente = document.getElementById('contactoCliente');\n                if (!contactoCliente.value.trim()) {\n                    displayError('errorContactoCliente', 'El Contacto en Cliente es obligatorio.');\n                    isValid = false;\n                } else if (!/^[A-Za-z\\sñÑ]+$/.test(contactoCliente.value.trim())) {\n                    displayError('errorContactoCliente', 'Formato inválido. Solo letras y espacios.');\n                    isValid = false;\n                }\n\n                const pais = document.getElementById('pais');\n                if (!pais.value.trim()) {\n                    displayError('errorPais', 'El País es obligatorio.');\n                    isValid = false;\n                } else if (!/^[A-Za-z\\sñÑ]+$/.test(pais.value.trim())) {\n                    displayError('errorPais', 'Formato inválido. Solo letras y espacios.');\n                    isValid = false;\n                }\n\n                const ciudad = document.getElementById('ciudad');\n                if (!ciudad.value.trim()) {\n                    displayError('errorCiudad', 'La Ciudad es obligatoria.');\n                    isValid = false;\n                } else if (!/^[A-Za-z\\sñÑ]+$/.test(ciudad.value.trim())) {\n                    displayError('errorCiudad', 'Formato inválido. Solo letras y espacios.');\n                    isValid = false;\n                }\n\n                const telefonoCliente = document.getElementById('telefonoCliente');\n                if (!telefonoCliente.value.trim()) {\n                    displayError('errorTelefonoCliente', 'El Teléfono del Cliente es obligatorio.');\n                    isValid = false;\n                } else if (!/^[0-9+\\s()-]+$/.test(telefonoCliente.value.trim())) {\n                    displayError('errorTelefonoCliente', 'Formato inválido. Solo números, +, espacios, ( ) y -.');\n                    isValid = false;\n                }\n\n                const direccionCliente = document.getElementById('direccionCliente');\n                if (!direccionCliente.value.trim()) {\n                    displayError('errorDireccionCliente', 'La Dirección es obligatoria.');\n                    isValid = false;\n                }\n\n                const equiposLlevar = document.getElementById('equiposLlevar');\n                if (!equiposLlevar.value.trim()) {\n                    displayError('errorEquiposLlevar', 'Debe especificar los equipos a llevar.');\n                    isValid = false;\n                }\n\n                const rqEquipos = document.getElementById('rqEquipos');\n                if (rqEquipos.value.trim() && !/^[A-Z0-9-]+$/.test(rqEquipos.value.trim())) {\n                    displayError('errorRqEquipos', 'Formato inválido. Solo letras mayúsculas, números y guiones.');\n                    isValid = false;\n                }\n\n                const guiaEnvio = document.getElementById('guiaEnvio');\n                if (guiaEnvio.value.trim() && !/^[A-Z0-9-]+$/.test(guiaEnvio.value.trim())) {\n                    displayError('errorGuiaEnvio', 'Formato inválido. Solo letras mayúsculas, números y guiones.');\n                    isValid = false;\n                }\n\n                const ingenieroAprovisionamiento = document.getElementById('ingenieroAprovisionamiento');\n                if (!ingenieroAprovisionamiento.value.trim()) {\n                    displayError('errorIngenieroAprovisionamiento', 'El Ingeniero de Aprovisionamiento es obligatorio.');\n                    isValid = false;\n                } else if (!/^[A-Za-z\\sñÑ]+$/.test(ingenieroAprovisionamiento.value.trim())) {\n                    displayError('errorIngenieroAprovisionamiento', 'Formato inválido. Solo letras y espacios.');\n                    isValid = false;\n                }\n\n                const gerenteProyecto = document.getElementById('gerenteProyecto');\n                if (!gerenteProyecto.value.trim()) {\n                    displayError('errorGerenteProyecto', 'El Gerente de Proyecto es obligatorio.');\n                    isValid = false;\n                } else if (!/^[A-Za-z\\sñÑ]+$/.test(gerenteProyecto.value.trim())) {\n                    displayError('errorGerenteProyecto', 'Formato inválido. Solo letras y espacios.');\n                    isValid = false;\n                }\n\n                return isValid;\n            }\n\n            function displayError(elementId, message) {\n                const errorElement = document.getElementById(elementId);\n                errorElement.textContent = message;\n                errorElement.style.display = 'block';\n            }\n        });\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[120,-40],"id":"a1af1d92-5bbb-4070-9a38-5a000e0f0ffd","name":"HTML","alwaysOutputData":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[360,-40],"id":"ca3c18c0-cf1c-41eb-a89b-778b946d1a34","name":"Respond to Webhook"}],"connections":{"Set DB Solicitudes":{"main":[[{"node":"Send Notificacion Wapp","type":"main","index":0},{"node":"Build HTML","type":"main","index":0}]]},"Send Notificacion Wapp":{"main":[[]]},"Build HTML":{"main":[[{"node":"Microsoft Outlook","type":"main","index":0}]]},"Microsoft Outlook":{"main":[[]]},"Webhook":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"acf0f83b-c992-45cc-b3cd-05a4995c29bb","triggerCount":1,"tags":[]}